<!-- <div class="filter-node editors_box" data-filter='["CATEGORIES","PRODUCT_TITLE"]'>
  <a target="_blank" href="MOSTREVIEW_URL"><img src="IMAGE_URL" alt="IAMGE_DESC"></a>
  <div class="rating"><p>REVIEWS_NUMBER + Amazon Reviews</p></div>
  <div class="node-box inner">
    <p><a target="_blank" href="MOSTREVIEW_URL">PRODUCT_TITLE</a></p>
  </div>
  <div class="pricing">
    <span>$CURRENT_PRICE</span>
    <span class="sec_pricing"><div class="line_style">$REGULAR_PRICE</div><em>PERCENTAGE% off</em></span>
  </div>
  <div class="btn"><a target="_blank" href="MOSTREVIEW_URL">Shop Now</a></div>
</div> -->

<!-- <div class="filter-node promotion_box" data-filter='["Category","Promotions_Title"]'>
  <a target="_blank" href="Promotions_URL"><img src="Image_URL" alt="Img_descriptions"></a>
  <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  <div class="node-box inner">
    <h2><a target="_blank" href="Promotions_URL">Promotions_Title</a></h2>
    <p>Promotions_Descriptions</p>
    <em>COUPON CODE: Promotion_Code</em><span>End Date: End_date</span>
  </div>
  <div class="btn"><a target="_blank" href="Promotions_URL">Discover More</a></div>
</div>
 -->


<!-- Categories : 30k, 20k, 10k, 5k, 1k -->

<div class="filter-node editors_box" data-filter='["20k","Mpow 059 Bluetooth Headphones Over Ear, Hi-Fi Stereo Wireless Headset, Foldable, Soft Memory-Protein Earmuffs"]'>
  <a target="_blank" href="https://amzn.to/2KpYwgQ"><img src="https://images-na.ssl-images-amazon.com/images/I/61S3vMe2vgL._SX522_.jpg" alt="IAMGE_DESC"></a>
  <div class="rating"><p>20K + Amazon Reviews</p></div>
  <div class="node-box inner">
    <p><a target="_blank" href="https://amzn.to/2KpYwgQ">Mpow 059 Bluetooth Headphones Over Ear, Hi-Fi Stereo Wireless Headset,...</a></p>
  </div>
  <div class="pricing">
    <span>$34.99</span>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2KpYwgQ">Shop Now</a></div>
</div>

<div class="filter-node editors_box" data-filter='["20k","HSI Professional Glider | Ceramic Tourmaline Ionic Flat Iron Hair Straightener | Straightens & Curls with Adjustable Temp"]'>
  <a target="_blank" href="https://amzn.to/2KsMyDi"><img src="https://images-na.ssl-images-amazon.com/images/I/51hk-jdQACL.jpg" alt="HSI Professional Glider"></a>
  <div class="rating"><p>28K + Amazon Reviews</p></div>
  <div class="node-box inner">
    <p><a target="_blank" href="https://amzn.to/2KsMyDi">HSI Professional Glider | Ceramic Tourmaline Ionic Flat Iron Hair Straightener...</a></p>
  </div>
  <div class="pricing">
    <span>$36.99</span>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2KsMyDi">Shop Now</a></div>
</div>

<div class="filter-node editors_box" data-filter='["30k","SENSO Bluetooth Headphones, Best Wireless Sports Earphones w/Mic IPX7 Waterproof HD Stereo Sweatproof Earbuds"]'>
  <a target="_blank" href="https://amzn.to/2KDG6IC"><img src="https://images-na.ssl-images-amazon.com/images/I/61rlamGMpCL._SX522_.jpg" alt="SENSO Bluetooth Headphones"></a>
  <div class="rating"><p>32K + Amazon Reviews</p></div>
  <div class="node-box inner">
    <p><a target="_blank" href="https://amzn.to/2KDG6IC">SENSO Bluetooth Headphones, Best Wireless Sports Earphones w/Mic IPX7 Waterproof HD...</a></p>
  </div>
  <div class="pricing">
    <span>$19.94</span>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2KDG6IC">Shop Now</a></div>
</div>

<div class="filter-node editors_box" data-filter='["30k","Infant Optics DXR-8 Video Baby Monitor with Interchangeable Optical Lens"]'>
  <a target="_blank" href="https://amzn.to/31AO0ZQ"><img src="https://images-na.ssl-images-amazon.com/images/I/61TfCqsL6SL._SX522_.jpg" alt="Infant Optics DXR-8 Video Baby Monitor"></a>
  <div class="rating"><p>31K + Amazon Reviews</p></div>
  <div class="node-box inner">
    <p><a target="_blank" href="https://amzn.to/31AO0ZQ">Infant Optics DXR-8 Video Baby Monitor with Interchangeable...</a></p>
  </div>
  <div class="pricing">
    <span>$165.00</span>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/31AO0ZQ">Shop Now</a></div>
</div>