<div class="layout"><!--layout-->
 <div class="wrap">   
  <%= render 'shared/header' %>
  <%= render 'deals/header' %>
  
  <div class="promotions editors_pick common_layout most_wrapper clearfix">
    <%= render 'deals/navbar_most_reviewed' %>
    <div class="filter-group guide_wrap">
      <div class="mt_info">
        <h2>Most-Reviewed <span>COFFEE GADGETS</span> On Amazon</h2>
        <em><h2><a href="/deals/most_reviewed">Back To Categories</a></h2></em>
        <p>Amazon is one of the biggest online market places in the world. And thanks to reviews and user feedback, it's also one of the most helpful since you can see what other people have purchased and loved on the site. So we put together a list of the most popular products. It's the easiest way to find the most reviewed products.</p>
      </div>
      <%= render 'most_reviews/body_coffee' %>
    </div><!--./filter-group-->
  </div>

 </div><!--./wrap-->
</div><!--./layout-->






