<div class="card clearfix" data-score="44" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MXVTFL"><img src="https://images-na.ssl-images-amazon.com/images/I/71Cisxe2TjL._SX425_.jpg" alt="NESCO FD-75A, Snackmaster Pro Food Dehydrator" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MXVTFL">NESCO FD-75A, Snackmaster Pro Food Dehydrator, Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$88.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MXVTFL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NNsOMO"><img src="https://images-na.ssl-images-amazon.com/images/I/81G8mpKBSPL._SX679_.jpg" alt="MalloMe Tumbler Stainless Steel Insulated Tumbler" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NNsOMO">MalloMe Tumbler Stainless Steel Insulated Tumbler With Straw – Best Tumblers With Lids And Straws - Coffee 30 oz Cup Travel Mug Handle...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$23.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NNsOMO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZHjmRh"><img src="https://images-na.ssl-images-amazon.com/images/I/71eJaiy8htL._SX522_.jpg" alt="Sengled Smart LED Soft White A19 Starter Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZHjmRh">Sengled Smart LED Soft White A19 Starter Kit, 2700K 60W Equivalent, 2 Light Bulbs & Hub, Works with Alexa & Google Assistant</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZHjmRh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlEogy"><img src="https://images-na.ssl-images-amazon.com/images/I/619nk-MplKL._SY450_.jpg" alt="Adams Manufacturing 8500-48-3700 Plastic Quik-Fold Side Table" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlEogy">Adams Manufacturing 8500-48-3700 Plastic Quik-Fold Side Table, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlEogy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="19.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LsuLvh"><img src="https://images-na.ssl-images-amazon.com/images/I/81TeJ-nysZL._SX522_.jpg" alt="Bamboo Charcoal Air Purifying Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LsuLvh">Bamboo Charcoal Air Purifying Bag (4 Pack), 200g Natural Air Purifying Bags, Activated Charcoal Odor Eliminators,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.95</span><span class="ori_price">$25.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LsuLvh">Shop Now at Amazon</a></div>
</div>

