<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>
-->

<div class="card clearfix" data-score="25" data-price="74.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PZiUKS"><img src="https://images-na.ssl-images-amazon.com/images/I/71yQ7RpWI9L._SX679_.jpg" alt="Instant Pot" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PZiUKS">Instant Pot DUO60 6 Qt 7-in-1 Multi-Use Programmable Pressure Cooker, Slow Cooker, Rice Cooker, Steamer, Sauté,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.96</span><span class="ori_price">$99.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2PZiUKS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PO6plf"><img src="https://images-na.ssl-images-amazon.com/images/I/71tybZyMkuL._SX679_.jpg" alt="Keurig K-Mini Basic Coffee Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PO6plf">Keurig K-Mini Basic Coffee Maker, Single Serve K-Cup Pod Coffee Brewer, 6 to 12 oz. Brew Sizes, Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2PO6plf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="1,997.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PLCXMu"><img src="https://images-na.ssl-images-amazon.com/images/I/91rhYwnuu7L._SX425_.jpg" alt="Samsung QN65Q80RAFXZA Flat 65-Inch QLED TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PLCXMu">Samsung QN65Q80RAFXZA Flat 65-Inch QLED 4K Q80 Series Ultra HD Smart TV with HDR and Alexa Compatibility (2019 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,997.99</span><span class="ori_price">$2,799.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2PLCXMu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="535.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34tvEwo"><img src="https://images-na.ssl-images-amazon.com/images/I/71kTy0O4f%2BL._SX425_.jpg" alt="VIZIO M-Series Class4K HDR Smart TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34tvEwo">VIZIO M-Series Quantum 55” Class (54.5” Diag.) 4K HDR Smart TV</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$535.99</span><span class="ori_price">$799.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34tvEwo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="397.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34qMThR"><img src="https://images-na.ssl-images-amazon.com/images/I/91GMSrYPaHL._SX679_.jpg" alt="Samsung UN50RU7100FXZA Flat 50-Inch 4K UHD ..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34qMThR">Samsung UN50RU7100FXZA Flat 50-Inch 4K UHD 7 Series Ultra HD Smart TV with HDR and Alexa Compatibility (2019 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$397.99</span><span class="ori_price">$499.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34qMThR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="53.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34qMUCr"><img src="https://images-na.ssl-images-amazon.com/images/I/81Wno5eF4iL._SX522_.jpg" alt="August Smart Keypad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34qMUCr">August Smart Keypad</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$53.00</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34qMUCr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="309.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LnVev9"><img src="https://images-na.ssl-images-amazon.com/images/I/71LyTRGqB4L._SX425_.jpg" alt="GoPro HERO 7 Black" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LnVev9">GoPro HERO 7 Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$309.95</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LnVev9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmbaOA"><img src="https://images-na.ssl-images-amazon.com/images/I/71B1PpPVFoL._UX679_.jpg" alt="Under Armour Boys' Renegade 2.0 Printed Shorts" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmbaOA">Under Armour Boys' Renegade 2.0 Printed Shorts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.97</span><span class="ori_price">$30.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LmbaOA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HP5uup"><img src="https://images-na.ssl-images-amazon.com/images/I/718mQv6zAhL._SX425_.jpg" alt="Intex Dura-Beam Standard Series Pillow Rest Raised Airbed" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HP5uup">Intex Dura-Beam Standard Series Pillow Rest Raised Airbed w/Built-in Pillow & Internal Electric Pump</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$38.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HP5uup">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NO6Mtn"><img src="https://images-na.ssl-images-amazon.com/images/I/81a-zx3t8eL._SX425_.jpg" alt="BV Bicycle Light Set Super Bright 5 LED Headlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NO6Mtn">BV Bicycle Light Set Super Bright 5 LED Headlight, 3 LED Taillight, Quick-Release</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$20.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NO6Mtn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="21.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LsImmj"><img src="https://images-na.ssl-images-amazon.com/images/I/81O7GFyhdcL._SY741_.jpg" alt="Wilson 75 Tennis Ball Pick Up Hopper" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LsImmj">Wilson 75 Tennis Ball Pick Up Hopper</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.96</span><span class="ori_price">$27.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LsImmj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="28.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NRJW44"><img src="https://images-na.ssl-images-amazon.com/images/I/61m4DIHdrAL._SX425_.jpg" alt="ENO - Eagles Nest Outfitters DoubleNest Hammock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NRJW44">ENO - Eagles Nest Outfitters DoubleNest Hammock, Portable Hammock for Two</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.99</span><span class="ori_price">$69.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NRJW44">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HPmksQ"><img src="https://images-na.ssl-images-amazon.com/images/I/817bz4xDpuL._SX425_.jpg" alt="Allen Sports Ultra Compact Trunk Mounted Bike Rack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HPmksQ">Allen Sports Ultra Compact Trunk Mounted Bike Rack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HPmksQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="11.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZTIlwS"><img src="https://images-na.ssl-images-amazon.com/images/I/71V2WTB0h1L._SY879_.jpg" alt="Bell Air Attack High Volume Bicycle Pumps" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZTIlwS">Bell Air Attack High Volume Bicycle Pumps</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.88</span><span class="ori_price">$20.87</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZTIlwS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NYKHIJ"><img src="https://images-na.ssl-images-amazon.com/images/I/81FTdyVeF4L._UX679_.jpg" alt="Little Earth NFL Sheer Infinity Scarf" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NYKHIJ">Little Earth NFL Sheer Infinity Scarf</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.86</span><span class="ori_price">$21.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NYKHIJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lm9uof"><img src="https://images-na.ssl-images-amazon.com/images/I/910jYf5st5L._SX425_.jpg" alt="TG Champion Tournament Bristle Dartboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lm9uof">TG Champion Tournament Bristle Dartboard (Multicolor, 18 x 1.5-Inch)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.00</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lm9uof">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="12.23">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZOiI0j"><img src="https://images-na.ssl-images-amazon.com/images/I/81V%2BLJzQ1XL._SX425_.jpg" alt="Intex Explorer 200" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZOiI0j">Intex Explorer 200</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.23</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZOiI0j">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NNHnjs"><img src="https://images-na.ssl-images-amazon.com/images/I/512w7YOMLwL._UX679_.jpg" alt="Intex French Oars" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NNHnjs">Intex French Oars, 1 Pair, 48"</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.99</span><span class="ori_price">$11.78</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NNHnjs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="13.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Uvutbb"><img src="https://images-na.ssl-images-amazon.com/images/I/61HI3zbZU5L._SX425_.jpg" alt="Doctor's Best High Absorption CoQ10 with BioPerine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Uvutbb">Doctor's Best High Absorption CoQ10 with BioPerine, Gluten Free, Naturally Fermented, Heart Health, Energy Production,100 mg 120 Softgels</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.01</span><span class="ori_price">$33.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="12.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlpwPc"><img src="https://images-na.ssl-images-amazon.com/images/I/71sfAL8oxAL._SY679_.jpg" alt="Jarrow Formulas Methylcobalamin" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlpwPc">Jarrow Formulas Methylcobalamin (Methyl B12), Supports Brain Cells, 5000 mcg, 60 Lozenges</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.55</span><span class="ori_price">$29.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlpwPc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HP5ieu"><img src="https://images-na.ssl-images-amazon.com/images/I/719iSFgVCPL._SX425_.jpg" alt="Nature Made High Potency Magnesium" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HP5ieu">Nature Made High Potency Magnesium 400 mg Softgels, 110 count</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.25</span><span class="ori_price">$14.49</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HP5ieu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.11">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LsIUbR"><img src="https://images-na.ssl-images-amazon.com/images/I/71d3ATPCHvL._SX425_.jpg" alt="MuscleTech Advanced Daily Multivitamin" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LsIUbR">MuscleTech Advanced Daily Multivitamin for Men & Women, Includes Amino Acids, 18 Vitamins & Minerals...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.11</span><span class="ori_price">$18.56</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LsIUbR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="35.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NNIhwm"><img src="https://images-na.ssl-images-amazon.com/images/I/91tMofFe3ZL._UX679_.jpg" alt="Travelon Anti Theft Classic Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NNIhwm">Travelon Anti Theft Classic Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.69</span><span class="ori_price">$85.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NNIhwm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="94.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlqbQG"><img src="https://images-na.ssl-images-amazon.com/images/I/51cpmarYhkL._SY879_.jpg" alt="Leather Crossbody Flapover Messenger Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlqbQG">Kenneth Cole Reaction Risky Business Full-Grain Colombian Leather Crossbody Flapover Messenger Bag, Brown</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$94.99</span><span class="ori_price">$260.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlqbQG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="18.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lp7yLG"><img src="https://images-na.ssl-images-amazon.com/images/I/91Fsqq13qzL._SX522_.jpg" alt="Travelon Anti-Theft Classic Mini Shoulder Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lp7yLG">Travelon Anti-Theft Classic Mini Shoulder Bag, Black, One Size</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.89</span><span class="ori_price">$50.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lp7yLG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmleXU"><img src="https://images-na.ssl-images-amazon.com/images/I/71UFheuSiVL._SX522_.jpg" alt="Rockland Luggage 40 Inch Rolling Duffle Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmleXU">Rockland Luggage 40 Inch Rolling Duffle Bag, Black, X-Large</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$109.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LmleXU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="78" data-price="3.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N02GhV"><img src="https://images-na.ssl-images-amazon.com/images/I/815f0BXG2%2BL._SX425_.jpg" alt="FURminator deShedding Ultra Premium Dog Shampoo" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>78% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N02GhV">FURminator deShedding Ultra Premium Dog Shampoo to Reduce Shedding</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.14</span><span class="ori_price">$13.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N02GhV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="5.26">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZSCQP4"><img src="https://images-na.ssl-images-amazon.com/images/I/71O11vM2TdL._SX425_.jpg" alt="Chuckit! Ultra Ball" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZSCQP4">Chuckit! Ultra Ball</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.26</span><span class="ori_price">$10.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZSCQP4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmlO82"><img src="https://images-na.ssl-images-amazon.com/images/I/41p6wB-oU9L._SX425_.jpg" alt="Smartsticks Dog chew" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmlO82">Smartsticks Dog chew</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.35</span><span class="ori_price">$12.64</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LmlO82">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="8.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lmqvys"><img src="https://images-na.ssl-images-amazon.com/images/I/71Z9yyaOXyL._SX425_.jpg" alt="Milk-Bone Flavor Snacks for Dogs of All Sizes" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lmqvys">Milk-Bone Flavor Snacks for Dogs of All Sizes</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.35</span><span class="ori_price">$19.62</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lmqvys">Shop Now at Amazon</a></div>
</div>