<div class="featured">
 <div class="m_popup_wrap">
   <input type="checkbox" id="check"/>
   <label class="most_m_label" for="check">Categories</label>
    
    <nav class="most_m_popup">
      <ul>
       <div class="filter-search guide_controll amzpromo pop_menu">
        <li><button class="filter-button btn btn-md btn-primary rev_index" data-filter="*">Everything</button></li>
        <li><button class="filter-button btn btn-md white-text rev_index" data-filter="big">The Big Retailers</button></li>
        <li><button class="filter-button btn btn-md rev_index" data-filter="fashion">Beauty & Fashion</button></li>
        <li><button class="filter-button btn btn-md rev_index" data-filter="furniture">Furniture & Décor</button></li>
        <li><button class="filter-button btn btn-md rev_index" data-filter="elec">Electronics</button></li>
       </div>
      </ul>
    </nav>
    
 </div>
</div><!--./featured-->