<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2GDUFvg"><span>70%<em>OFF</em></span></a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2GDUFvg">
      <p><strong>Amazon | Saless & Coupons, May 2019</strong> - These Amazon coupons of the day to save as much as 70% on Grocery, Health & Beauty, Electronics...</p>
      <!-- <address>Code: Promocodes</address>             -->
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2H452rS"><span>$25<em>OFF</em></span></a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2H452rS">
      <p>Take $25 off your first AmazonFresh order of $100 or more.</p>
    </a>
    <address>Code: FRESH25</address>            
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2JxHv4A"><span>30%<em>OFF</em></span></a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2JxHv4A">
      <p><strong>Up to 30% off | Amazon Elements</strong> - Amazon Elements is a line of premium everyday essentials exclusively available to Amazon Prime members.</p>
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2Log0gl"><span>50%<em>OFF</em></span></a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2Log0gl">
      <p>Up to 50% off Electronics Clippable Coupons</p>
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2DyoCdS"><span>15%<em>OFF</em></span></a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2DyoCdS">
      <p><strong>Up to 15% & FREE Shipping | Subscribe & Save</strong> - Save up to 15% and receive FREE shipping on thousands of products.</p>
    </a>
  </div>
</div>

<div class="blog_side_more">
 <a target="_blank" href="/deals/coupons">See More</a>
</div>