<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2JAmdmK"><img src="https://images-na.ssl-images-amazon.com/images/I/81eqJQ1XDHL._SX522_.jpg" alt="DEWALT DWA2T40IR IMPACT READY FlexTorq Screw Driving Set"></a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2JAmdmK">
      <p>DEWALT DWA2T40IR IMPACT READY FlexTorq Screw Driving Set</p>
      <span>$17.99<em>$40.00(55% off)</em><span>
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2VgnLVd"><img src="https://images-na.ssl-images-amazon.com/images/I/41g4Idd4y9L._SY606_.jpg" alt="Apple AirPods with Charging Case"></a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2VgnLVd">
      <p>Apple AirPods with Charging Case (Latest Model)</p>
      <span>$139.99<em>$159.00(12% off)</em><span>
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2vEvKRw"><img src="https://m.media-amazon.com/images/I/61U7T1koQqL._AC_UL436_.jpg" alt="SanDisk SSD PLUS 1TB Internal SSD" /> </a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2vEvKRw">
      <p>SanDisk SSD PLUS 1TB Internal SSD - SATA III 6 Gb/s, 2.5"/7mm - SDSSDA-1T00-G26</p>
      <span>$107.99<em>$124.99(14% off)</em><span>
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2VfuDXK"><img src="https://m.media-amazon.com/images/I/61bF5yoPRGL._AC_UL436_.jpg" alt="SanDisk 256GB Ultra MicroSDXC UHS-I Memory Card with Adapter" /></a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2VfuDXK">
      <p>SanDisk 256GB Ultra MicroSDXC UHS-I Memory Card with Adapter - 100MB/S, C10, U1, Full HD, A1, Micro SD Card</p>
      <span>$37.99<em>$44.79(15% off)</em><span>
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2VsqS1g"><img src="https://m.media-amazon.com/images/I/81B+4phWROL._AC_UL320_.jpg" alt="Kasa Smart WiFi Plug Mini by TP-Link" /></a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2VsqS1g">
      <p>Kasa Smart WiFi Plug Mini by TP-Link - Reliable WiFi Connection</p>
      <span>$17.99<em>$24.99(31% off)</em><span>
    </a>
  </div>
</div>

<div class="blog_side_more">
 <a target="_blank" href="/deals/coupons">See More</a>
</div>