<!-- <div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="Product_Link"><img src="Image_Link" alt="Image_alt"></a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="Product_Link">
      <p>Products_Title</p>
      <span>$Dis_Price<em>$Ori_Price(Percentage% off)</em><span>
    </a>
  </div>
</div> -->

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2Q847cS"><img src="https://images-na.ssl-images-amazon.com/images/I/519AkRwE2pL._SX679_.jpg" alt="August Smart Lock Pro + Connect" /> </a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2Q847cS">
      <p>August Smart Lock Pro + Connect</p>
      <span>$263.44<em>$279.99(6% off)</em><span>
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2W4xP81"><img src="https://images-na.ssl-images-amazon.com/images/I/81QA5YHAE0L._SX522_.jpg" alt="SteelSeries Arctis 3 (2019 Edition) All-Platform Gaming Headset" /> </a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2W4xP81">
      <p>SteelSeries Arctis 3 (2019 Edition) All-Platform Gaming Headset</p>
      <span>$59.00<em>$69.99(16% off)</em><span>
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2YvKSgu"><img src="https://images-na.ssl-images-amazon.com/images/I/61zkFTqn2%2BL._SX522_.jpg" alt="Under Armour JBL Sport Wireless Train" /> </a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2YvKSgu">
      <p>Under Armour JBL Sport Wireless Train</p>
      <span>$159.95<em>$199.95(20% off)</em><span>
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2JJdwGE"><img src="https://images-na.ssl-images-amazon.com/images/I/61oitxrm-vL._SX679_.jpg" alt="Wemo Mini Smart Plug" /> </a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2JJdwGE">
      <p>Wemo Mini Smart Plug</p>
      <span>$24.98<em>$34.99(29% off)</em><span>
    </a>
  </div>
</div>

<div class="tab-menu-box clearfix">
  <div class="tab-menu-img">
   <a target="_blank" href="https://amzn.to/2YuRVWL"><img src="https://images-na.ssl-images-amazon.com/images/I/91-T%2BsiOaOL._SX522_.jpg" alt="Fujifilm Instax Square SQ10 Hybrid Instant Camera" /> </a>
  </div>
  <div class="inner deals">
    <a target="_blank" href="https://amzn.to/2YuRVWL">
      <p>Fujifilm Instax Square SQ10 Hybrid Instant Camera</p>
      <span>$119.95<em>$279.00(57% off)</em><span>
    </a>
  </div>
</div>

<div class="blog_side_more">
 <a target="_blank" href="/deals/coupons">See More</a>
</div>