<div class="layout"><!--layout-->
  <%= render 'shared/header_short' %>
  <div class="fourth_wrap clearfix blogs">
    <div class="wrap">

      <div class="blog_body">

        <div class="blog_tit">
          <h2><span class="fourth_title">What's Happening in July??<br />Don't Miss "Black Friday in July" Deals</span></h2>
        </div>
         
        <div class="blog_ctn memorial fourthjuly">
         <ul>
           <!-- <li><a target="_blank" href="Deals_Link">Deals_Title</a><p>Deals_Description</p></li> -->
           <li><a target="_blank" href="https://amzn.to/2luB9ca">Amazon Prime Day</a><p>Amazon Prime Day! Valid 7/15-7/16.</p></li>
           <li><a target="_blank" href="https://bit.ly/2SdpnyY">target</a><p>Deals Day is almost here! Shop early access deals up to 50% off. Valid 7/15-7/16.</p></li>
           <li><a target="_blank" href="https://bit.ly/2jTwmAJ">NORDSTROM</a><p>Nordstrom Anniversary is here! Shop early access through 7/18.</p></li>
           <li><a target="_blank" href="https://bit.ly/324YdPt">BARNEYS</a><p>Final markdowns! Up to 75% off designer collections. Valid through 7/15.</p></li>
           <li><a target="_blank" href="https://bit.ly/2jQXbW9">JCPenney</a><p>JCPenney Black Friday in July Sale: Valid from Jul 15 - Jul 17, 2019</p></li>
           <li><a target="_blank" href="https://bit.ly/2Sg6taH">Reebok</a><p>Get an Extra 30% Off Sale Items w/coupon BF30 (Ends 07/18)</p></li>
           <li><a target="_blank" href="https://bit.ly/2xNVWu1">Forever 21</a><p>Up to 80% off select sale items. Vaild TBA</p></li>
           <li><a target="_blank" href="https://bit.ly/2XLhNBE">LORD + TAYLOR</a><p>Take 40% off clearance, plus an extra 20% off regular priced items with code SUMMER. Valid through 7/17.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XpEiMg">OLD NAVY</a><p>Take up to 50% off site wide. Valid through 7/19.</p></li>
           <p>We are constantly updating the list.... :D</p>
         </ul>
         <div class="banner">
           <a href="/deals/promo_codes">Today's Promo Codes</a>
           <a href="/deals/bestdeals">Today's Daily Deals</a>
         </div>
        </div>

      </div><!--./blog_body-->

      <!-- <div class="blog_side">
        < render 'blogs/sidebar' >
      </div> -->

   </div><!--./warp-->
  </div><!--./blogs-->
</div><!--./layout-->