<div class="layout"><!--layout-->
  <%= render 'shared/header_short' %>
  <div class="blogs clearfix">
    <div class="wrap">

      <div class="blog_body">

        <div class="blog_tit">
          <h2><span>The best Memorial Day sales guide 2019</span></h2>
          <address>May. 26. 2019.</address><em>by Oh,i gotta buy this</em>
          <p>Memorial Day is one of the biggest holidays for big sales. Each year, retail stores offer massive discounts on mattresses, appliances and much more. Memorial Day is the unofficial start to summer, so many retailers will discount spring clothing and more. Some of the best things to buy during the Memorial Day Sales are Mattresses, Appliances and Kitchen Gadgets, Spring Apparel, Office Furniture, Swimsuits, Outdoor Items, Camping Equipments and so on.</p>
          <p>To help guide you through all the promotions and offers, we've put together a list of the best sales that are currently going on. So you don't miss out any sale events.</p>
        </div>

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://amzn.to/2LIQuSf">Amazon</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://amzn.to/2LIQuSf">Save up to 56% on school supplies on Amazon.</a></h2>
            <ul>
              <h3>All school essentials</h3>
              <li><a target="_blank" href="https://amzn.to/2LIsTB5">All deals in Office Electronics & School Supplies</a></li>
              <li><a target="_blank" href="https://amzn.to/314WFnn">Kids' Fashion & Backpacks</a></li>
              <li><a target="_blank" href="https://amzn.to/30YaZxS">Deals on Computers & Tech</a></li>
              <li><a target="_blank" href="https://amzn.to/30Yo61U">Snacks & Household</a></li>
            </ul>
            <ul>
              <h3>Backpacks</h3>
              <li><a target="_blank" href="https://amzn.to/2JWM2gz">Herschel Pop Quiz Backpack-Navy</a><span>50.00<em>74.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2YmJcph">Himawari Laptop Backpack Travel Backpack</a><span>35.99<em>69.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2Miboan">Parkland Girl's The Edison (Little Kids/Big Kids)</a><span>15.99<em>29.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2JUdRpQ">Emmzoe Toddler 3D Animal Backpack</a><span>22.99<em>24.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2yhKwyS">Herschel Kids' Retreat Youth Children's Backpack</a><span>47.32<em>59.99</em></span></li>
            </ul>
            <ul>
              <h3>Deals on Computers & Tech</h3>
              <li><a target="_blank" href="https://amzn.to/2LIthj1">Apple 10.5" iPad Pro for $579</a><span>579.00<em>779.00</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2JWMKur">Samsung Chromebook Plus V2, 2-in-1...</a><span>389.13<em>549.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2Yo3Epx">Apple MacBook Air (13-inch Retina display,</a><span>949.99<em>1,199.00</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2SHLqy6">Acer Aspire E 15, 15.6" Full HD</a><span>329.00<em>379.99</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="https://amzn.to/2LIQuSf">Shop Now</a></div>
          </div>        
        </div>

        <!-- <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="Promotions_Link">Store</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="Promotions_Link">Promotions_Title</a></h2>
            <div class="btn"><a target="_blank" href="Promotions_Link">Shop Now</a></div>
          </div>        
        </div>       -->   

        <!-- <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="Promotions_Link">Store</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="Promotions_Link">Promotions_Title</a></h2>
            <ul>
              <h3>Categories</h3>
              <li><a target="_blank" href="">Product_name</a></li>
              <li><a target="_blank" href="">Product_name</a></li>
            </ul>
            <ul>
              <h3>Categories</h3>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="Promotions_Link">Shop Now</a></div>
          </div>        
        </div>         
         -->     

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/2ydLmg6">Target</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/2ydLmg6">Get up to 90% off select back-to-school items, 55% off backpacks, kids uniforms starting at $4 and more.</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/2ydLmg6">Shop Now</a></div>
          </div>        
        </div>   

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/30XCLuf">Gap</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/30XCLuf">Online & In Store Back to School Favorites - 50% Off all Kids' & Baby | Uniforms, Backpacks, Tees & Shorts</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/30XCLuf">Shop Now</a></div>
          </div>        
        </div>    

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/318rojx">Kohl's</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/318rojx">Save Up to 70% off designer backpacks. Visit the Kohl’s Back to School page.</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/318rojx">Shop Now</a></div>
          </div>        
        </div>    

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/32UGhHS">Nordstrom<br />Rack</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/32UGhHS">Back to School Classics | Get up to 70% off backpacks.</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/32UGhHS">Shop Now</a></div>
          </div>        
        </div>    

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/2yhXqNy">society6</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/2yhXqNy">Students get 25% off entire purchase.</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/2yhXqNy">Shop Now</a></div>
          </div>        
        </div>      

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/2yiOxTT">Staples</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/2yiOxTT">offering up to 40% off laptops and accessories plus mega discounts on supplies.</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/2yiOxTT">Shop Now</a></div>
          </div>        
        </div>      

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/32WxJjp">Erincondren</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/32WxJjp">Take up to 20% off selected items</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/32WxJjp">Shop Now</a></div>
        </div>        
       </div>   

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/30VBcx5">Claires</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/30VBcx5">Back to School sale | Take up to 50% off  diaries and notebooks</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/30VBcx5">Shop Now</a></div>
        </div>        
       </div>   

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/2yhZepO">Finish Line</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/2yhZepO">back to school deals up to 60% off</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/2yhZepO">Shop Now</a></div>
        </div>        
       </div>   

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/2KcTGSO">Macy’s</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/2KcTGSO">Kids Back to School Clothes Sale 2019</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/2KcTGSO">Shop Now</a></div>
        </div>        
       </div>   

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/2K14FP6">Best Buy</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/2K14FP6">Save more on these laptops with Student Deals. Save an extra $50–$150 on one of these Windows laptops when you sign up for Student Deals.</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/2K14FP6">Shop Now</a></div>
        </div>        
       </div>     

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/32UpFzH">Walmart</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/32UpFzH">Back to School Supplies on Sale Up to 50% Off</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/32UpFzH">Shop Now</a></div>
        </div>        
       </div>     

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/2yi9VIJ">Old Navy</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/2yi9VIJ">BACK TO SCHOOL CLOTHES & OUTFITS 2019 </a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/2yi9VIJ">Shop Now</a></div>
        </div>        
       </div>     

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/2K53yy5">Shoe Carnival</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/2K53yy5">BACK TO SCHOOL SHOE SALE 2019</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/2K53yy5">Shop Now</a></div>
        </div>        
       </div>   

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/30Ylnpm">Lenovo</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/30Ylnpm">Save up to 37% on ThinkPad laptops.</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/30Ylnpm">Shop Now</a></div>
        </div>        
       </div>   

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/32UfivZ">Dell</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/32UfivZ">Back to School Sale 2019 | Laptop, Desktop & Electronics Deals</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/32UfivZ">Shop Now</a></div>
        </div>        
       </div>   

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/30ZSbyk">Apple</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/30ZSbyk">Buy a Mac or iPad for college. Get Beats.</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/30ZSbyk">Shop Now</a></div>
        </div>        
       </div>     

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/2Kb00KR">Pottery Barn Kids</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/2Kb00KR">Back to school event 25% off your order with code: LEARN</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/2Kb00KR">Shop Now</a></div>
        </div>        
       </div>     

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/32Uq7xT">Shop Disney</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/32Uq7xT">Up to 25% Off Select Back To School Essentials</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/32Uq7xT">Shop Now</a></div>
        </div>        
       </div>     

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="Promotions_Link">Store</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="Promotions_Link">Promotions_Title</a></h2>
          <div class="btn"><a target="_blank" href="Promotions_Link">Shop Now</a></div>
        </div>        
       </div>     





      </div><!--./blog_body-->

      <!-- <div class="blog_side">
        < render 'blogs/sidebar' >
      </div> -->

   </div><!--./warp-->
  </div><!--./blogs-->
</div><!--./layout-->

