<div class="layout"><!--layout-->
  <%= render 'shared/header_short' %>
  <div class="blogs clearfix">
    <div class="wrap">

      <div class="blog_body">

        <div class="blog_tit bts_title">

          <h2>A curated list of the best<br /><span class="backtoshool_title">Back TO School</span> Deals</h2>
        </div>

        <div class="school_box box_top clearfix">
          <div class="left_side"><a target="_blank" href="https://amzn.to/2LIQuSf">Amazon</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://amzn.to/2LIQuSf">Save up to 56% on school supplies on Amazon.</a></h2>
            <ul>
              <h3>All school essentials</h3>
              <li><a target="_blank" href="https://amzn.to/2LIsTB5">All deals in Office Electronics & School Supplies</a></li>
              <li><a target="_blank" href="https://amzn.to/314WFnn">Kids' Fashion & Backpacks</a></li>
              <li><a target="_blank" href="https://amzn.to/30YaZxS">Deals on Computers & Tech</a></li>
              <li><a target="_blank" href="https://amzn.to/30Yo61U">Snacks & Household</a></li>
            </ul>
            <ul>
              <h3>Backpacks</h3>
              <li><a target="_blank" href="https://amzn.to/2JWM2gz">Herschel Pop Quiz Backpack-Navy</a><span>50.00<em>74.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2YmJcph">Himawari Laptop Backpack Travel Backpack</a><span>35.99<em>69.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2Miboan">Parkland Girl's The Edison (Little Kids/Big Kids)</a><span>15.99<em>29.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2JUdRpQ">Emmzoe Toddler 3D Animal Backpack</a><span>22.99<em>24.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2yhKwyS">Herschel Kids' Retreat Youth Children's Backpack</a><span>47.32<em>59.99</em></span></li>
            </ul>
            <ul>
              <h3>Deals on Computers & Tech</h3>
              <li><a target="_blank" href="https://amzn.to/2LIthj1">Apple 10.5" iPad Pro for $579</a><span>579.00<em>779.00</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2JWMKur">Samsung Chromebook Plus V2, 2-in-1...</a><span>389.13<em>549.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2Yo3Epx">Apple MacBook Air (13-inch Retina display,</a><span>949.99<em>1,199.00</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2SHLqy6">Acer Aspire E 15, 15.6" Full HD</a><span>329.00<em>379.99</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="https://amzn.to/2LIQuSf">Shop Now</a></div>
          </div>        
        </div>

        <!-- <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="Promotions_Link">Store</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="Promotions_Link">Promotions_Title</a></h2>
            <div class="btn"><a target="_blank" href="Promotions_Link">Shop Now</a></div>
          </div>        
        </div>       -->   

        <!-- <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="Promotions_Link">Store</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="Promotions_Link">Promotions_Title</a></h2>
            <ul>
              <h3>Categories</h3>
              <li><a target="_blank" href="">Product_name</a></li>
              <li><a target="_blank" href="">Product_name</a></li>
            </ul>
            <ul>
              <h3>Categories</h3>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="Promotions_Link">Shop Now</a></div>
          </div>        
        </div>         
         -->     

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/2ydLmg6">Target</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/2ydLmg6">Get up to 90% off select back-to-school items, 55% off backpacks, kids uniforms starting at $4 and more.</a></h2>
            <ul>
              <h3>All school essentials</h3>
              <li><a target="_blank" href="https://bit.ly/2K82IR1">Girls’ clothing</a></li>
              <li><a target="_blank" href="https://bit.ly/32YkG1d">Boys’ clothing</a></li>
              <li><a target="_blank" href="https://bit.ly/30Zf1WK">School uniforms</a></li>
              <li><a target="_blank" href="https://bit.ly/2Kcm73i">Lunch Bags</a></li>
            </ul>
            <ul>
              <h3>Backpacks</h3>
              <li><a target="_blank" href="https://bit.ly/30YudDr">Trans by JanSport 17" Super Cool Backpack </a><span>38.00<em>44.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/32ZL7Ui">Puma 18.5" Backpack - Heather </a><span>26.99<em>29.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/32VbZVh">Striped Printed Canvas Frame Backpack </a><span>25.00<em>30.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/311Wfy8">Corduroy Backpack - Wild Fable™ Yellow</a><span>20.00<em>25.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/2K7om8a">Trans by JanSport 18" Dakoda Daypack - Pastel Pineapples</a><span>38.00<em>44.99</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="https://bit.ly/2ydLmg6">Shop Now</a></div>
          </div>        
        </div>  

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/2XqzyGk">Best Buy</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/2XqzyGk">Save more on these laptops with Student Deals. Save an extra $50–$150 on one of these Windows laptops when you sign up for Student Deals.</a></h2>
            <ul>
              <h3>Featured Lenovo laptops eligible for $150 Student Deal savings</h3>
              <li><a target="_blank" href="https://bit.ly/30YkcpZ"></a>Lenovo - Yoga C930 2-in-1 13.9" Touch-Screen Laptop - Intel Core i7 - 12GB Memory - 256GB Solid State Drive<span>1,149.99<em>1,299.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/2Kb6cCw">Lenovo - Yoga C930 2-in-1 13.9" 4K Ultra HD Touch-Screen Laptop - Intel Core i7 - 16GB Memory - 512GB Solid State Drive</a><span>1,499.99<em>1,649.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/32Uc7EF">Lenovo - Yoga 730 2-in-1 13.3" Touch-Screen Laptop - Intel Core i5 - 8GB Memory - 256GB Solid State Drive</a><span>699.99<em>829.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/30ZDI5p">Lenovo - Yoga 730 2-in-1 15.6" Touch-Screen Laptop - Intel Core i5 - 12GB Memory - 256GB Solid State Drive</a><span>749.99<em>849.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/32Wnw6L">Lenovo - Yoga A940-27ICB 27" Touch-Screen All-In-One - Intel Core i7 - 16GB Memory - 1TB Hard Drive + 256GB Solid State Drive</a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>1,999.99<em>2,299.99</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="https://bit.ly/2XqzyGk">Shop Now</a></div>
          </div>        
         </div>      

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/32UpFzH">Walmart</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/32UpFzH">Back to School Supplies on Sale Up to 50% Off</a></h2>
            <ul>
              <h3>All school essentials</h3>
              <li><a target="_blank" href="https://bit.ly/2yiiof4">Back to school kid's backpacks</a></li>
              <li><a target="_blank" href="https://bit.ly/32ULY8w">Back to school the uniform shop</a></li>
              <li><a target="_blank" href="https://bit.ly/317HfPj">Back to school kid's basics</a></li>
              <li><a target="_blank" href="https://bit.ly/2yn0s33">Back to school kid's shoes & sneakers</a></li>
            </ul>
            <ul>
              <h3>Shoes & Sneakers</h3>
              <li><a target="_blank" href="https://bit.ly/32Znbjw">Jojo Siwa Girl's Reverse Sequin Silver and Pink Bow High Top Sneaker</a><span>19.99<em>29.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/32Yg7E0">Wonder Nation Toddler Girls' Striped Bow Sandal</a><span>7.00<em>11.84</em></span></li>
              <li><a target="_blank" href="https://bit.ly/313inIh">Athletic Works Toddler Girls' Light Weight Basic Sneaker</a><span>6.00<em>9.98</em></span></li>
              <li><a target="_blank" href="https://bit.ly/2yqniqh">Spider-Man Toddler Boys' Casual Sneaker</a><span>8.00<em>10.97</em></span></li>
              <li><a target="_blank" href="https://bit.ly/30Vv3Ro">Athletic Works Boys Lwt Knit</a><span>10.00<em>14.87</em></span></li>
              <li><a target="_blank" href="https://bit.ly/2ylQMpm">And1 Toddler Boys' Assist 2.0 Athletic Sneakers</a><span>14.50<em>17.87</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="https://bit.ly/32UpFzH">Shop Now</a></div>
          </div>        
         </div>    

         <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/318rojx">Kohl's</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/318rojx">Save Up to 70% off designer backpacks. Visit the Kohl’s Back to School page.</a></h2>
            <ul>
              <h3>All school essentials</h3>
              <li><a target="_blank" href="https://bit.ly/330SISy">Favorit backpacks & lunch boxes</a></li>
              <li><a target="_blank" href="https://bit.ly/337Zbeq">Favorit sneakers</a></li>
              <li><a target="_blank" href="https://bit.ly/2yi7Lcl">School Uniforms</a></li>
            </ul>
            <ul>
              <h3>Backpacks & Sneakers</h3>
              <li><a target="_blank" href="https://bit.ly/2yjasdJ">adidas Prime V Backpack</a><span>47.99<em>65.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/32UMCCY">Nike Brasilia Medium Training Backpack</a><span>32.99<em>45.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/30ZiJ2x">New Balance FuelCore Nergize Women's Sneakers</a><span>44.99<em>64.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/313VpAC">adidas Cloudfoam Pure Women's Sneakers</a><span>52.49<em>69.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/3129vmk">Nike Revolution 4 Men's Running Shoes</a><span>44.99<em>60.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/2yijYxw">adidas NEO Cloudfoam Lite Racer Adapt Men's Sneakers</a><span>48.74<em>64.99</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="https://bit.ly/318rojx">Shop Now</a></div>
          </div>        
        </div>     

         <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/32WppQR">Macy’s</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/32WppQR">Back to School Clothes Sale 2019 | Get extra 20% off with code: BIG
            </a></h2>
            <ul>
              <h3>All school essentials</h3>
              <li><a target="_blank" href="https://bit.ly/2yiko74">Accessories</a></li>
              <li><a target="_blank" href="https://bit.ly/310S7yg">Activewear</a></li>
              <li><a target="_blank" href="https://bit.ly/2KbvPmy">Backpacks</a></li>
              <li><a target="_blank" href="https://bit.ly/2KbvPmy">Shoes</a></li>
            </ul>
            <ul>
              <li><a target="_blank" href="https://bit.ly/32WpCDD">Little & Big Boys 5-Pc. Minecraft Backpack & Lunch Kit Set</a><span>19.99<em>40.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/2K3K5h2">Toddler & Little Boys & Girls ABC Elmo Backpack</a><span>19.99<em>40.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/32XG8Dl">Big Boys Backpack</a><span>19.99<em>40.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/317JRg5">Little & Big Boys 5-Pc. Avengers Backpack & Lunch Kit Set</a><span>19.99<em>40.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/2yilzn0">Little & Big Girls 5-Pc. Frozen Princesses Backpack & Lunch Kit Set</a><span>19.99<em>40.00</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="https://bit.ly/32WppQR">Shop Now</a></div>
          </div>        
         </div>   

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/30XCLuf">Gap</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/30XCLuf">Online & In Store Back to School Favorites - 50% Off all Kids' & Baby | Uniforms, Backpacks, Tees & Shorts</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/30XCLuf">Shop Now</a></div>
          </div>        
        </div>    

         <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/2ypx4Jx">jcrew</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/2ypx4Jx">UP TO 60% OFF BACK-TO-SCHOOL STYLES</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/2ypx4Jx">Shop Now</a></div>
          </div>        
        </div>   

        <div class="school_box clearfix">
          <div class="left_side"><a class="bts_fontsize_hann" target="_blank" href="https://bit.ly/2KmFjLM">hannaandersson</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/2KmFjLM">30% Off everything even new arrivals for back to school!! use code "SAVEONALL"</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/2KmFjLM">Shop Now</a></div>
          </div>        
        </div>        

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/32UGhHS">Nordstrom<br />Rack</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/32UGhHS">Back to School Classics | Get up to 70% off backpacks.</a></h2>
            <ul>
              <h3>Backpacks</h3>
              <li><a target="_blank" href="https://bit.ly/330UYt0">Brasilia XL Training Backpack</a><span>34.97<em>50.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/3122t0I">Superbreak Backpack</a><span>35.97<em>51.50</em></span></li>
              <li><a target="_blank" href="https://bit.ly/2yieh2N">Prime V Backpack</a><span>44.97<em>65.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/31b6EYr">Forever Champ Ascend Backpack</a><span>19.97<em>40.00</em></span></li>
              <li><a target="_blank" href="https://bit.ly/2KeXQtB">YC Backpack</a><span>39.97<em>50.00</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="https://bit.ly/32UGhHS">Shop Now</a></div>
          </div>        
        </div>    

        <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/30Ylnpm">Lenovo</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/30Ylnpm">Save up to 37% on ThinkPad laptops.</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/30Ylnpm">Shop Now</a></div>
        </div>        
       </div>   

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/32UfivZ">Dell</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/32UfivZ">Back to School Sale 2019 | Laptop, Desktop & Electronics Deals</a></h2>
          <ul>
            <h3>Laptops & Desktops</h3>
            <li><a target="_blank" href="https://bit.ly/32ZwlwL">Inspiron 15 3000 Laptop</a><span>249.99<em>329.99</em></span></li>
            <li><a target="_blank" href="https://bit.ly/32TPuQt">Inspiron 24 3000 All-in-One</a><span>449.99<em>579.99</em></span></li>
            <li><a target="_blank" href="Each_Products_Link">Inspiron Gaming Desktop</a><span>699.99<em>1,199.99</em></span></li>
            <li><a target="_blank" href="https://bit.ly/2KfzZKq">Inspiron 15 5000 Laptop</a><span>529.99<em>749.99</em></span></li>
            <li><a target="_blank" href="Each_Products_Link">Dell 27 Gaming Monitor - S2716DG</a><span>499.99<em>799.99</em></span></li>
            </ul>
          <div class="btn"><a target="_blank" href="https://bit.ly/32UfivZ">Shop Now</a></div>
        </div>        
       </div>   

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/30ZSbyk">Apple</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/30ZSbyk">Buy a Mac or iPad for college. Get Beats.</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/30ZSbyk">Shop Now</a></div>
        </div>        
       </div>     

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/2yhXqNy">society6</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/2yhXqNy">Students get 25% off entire purchase.</a></h2>
            <ul>
              <h3>Backpacks</h3>
              <li><a target="_blank" href="https://bit.ly/30UpSRQ">Corgi Backpack</a><span>55.99<em>69.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/32XxWDi">Pug Yoga Backpack</a><span>55.99<em>69.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/2ywcPKl">Rabbit Tail - Colorful Backpack</a><span>55.99<em>69.99</em></span></li>
              <li><a target="_blank" href="https://bit.ly/30VyjfA">Regata al Tramonto Backpack</a><span>55.99<em>69.99</em></span></li>
              <li><a target="_blank" href="Each_Products_Link">Black Cat Backpack</a><span>55.99<em>69.99</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="https://bit.ly/2yhXqNy">Shop Now</a></div>
          </div>        
        </div>      

        <div class="school_box clearfix">
          <div class="left_side"><a target="_blank" href="https://bit.ly/2yiOxTT">Staples</a></div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/2yiOxTT">offering up to 40% off laptops and accessories plus mega discounts on supplies.</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/2yiOxTT">Shop Now</a></div>
          </div>        
        </div>      

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/32WxJjp">Erincondren</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/32WxJjp">Take up to 20% off selected items</a></h2>
          <ul>
            <h3>Bundles Deals</h3>
            <li><a target="_blank" href="https://bit.ly/2yiqnZA">ACADEMIC PLANNER BUNDLE</a><span>55.00<em>64.50</em></span></li>
            <li><a target="_blank" href="https://bit.ly/315uVib">BUDGET BUNDLE</a><span>32.00<em>41.00</em></span></li>
            <li><a target="_blank" href="https://bit.ly/2K8iLyw">WRITING TOOLS MEGA BUNDLE</a><span>72.00<em>91.00</em></span></li>
            <li><a target="_blank" href="https://bit.ly/2K78ylM">WELLNESS BUNDLE</a><span>32.00<em>40.00</em></span></li>
            <li><a target="_blank" href="https://bit.ly/2KdT7bl">TAPES MEGA BUNDLE</a><span>37.00<em>47.00</em></span></li>
            </ul>
          <div class="btn"><a target="_blank" href="https://bit.ly/32WxJjp">Shop Now</a></div>
        </div>        
       </div>   

<!--        <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/30VBcx5">Claires</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/30VBcx5">Back to School sale | Take up to 50% off  diaries and notebooks</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/30VBcx5">Shop Now</a></div>
        </div>        
       </div>    -->

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/2yi9VIJ">Old Navy</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/2yi9VIJ">BACK TO SCHOOL CLOTHES & OUTFITS 2019 </a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/2yi9VIJ">Shop Now</a></div>
        </div>        
       </div>     

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/2Kb00KR">Pottery Barn Kids</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/2Kb00KR">Back to school event 25% off your order with code: LEARN</a></h2>
          <div class="btn"><a target="_blank" href="https://bit.ly/2Kb00KR">Shop Now</a></div>
        </div>        
       </div>     

       <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/32Uq7xT">Shop Disney</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/32Uq7xT">Up to 25% Off Select Back To School Essentials</a></h2>
          <ul>
            <li><a target="_blank" href="https://bit.ly/30Xs1fm">Black Panther Back-to-School Collection</a><span>12.00 - $22.00<em>14.95 - $29.95</em></span></li>
            <li><a target="_blank" href="https://bit.ly/32Ybmu0">Minnie Mouse Back-to-School Collection</a><span>12.00 - $30.00<em>12.95 - $36.95</em></span></li>
            <li><a target="_blank" href="https://bit.ly/2K8XqoB">Spider-Man Back-to-School Collection</a><span>12.00 - $36.95<em>14.95 - $36.95</em></span></li>
            <li><a target="_blank" href="https://bit.ly/317OKFX">Toy Story 4 Stationery Supply Kit</a><span>12.00<em>14.95</em></span></li>
            <li><a target="_blank" href="https://bit.ly/30VzUC6">Minnie Mouse Stationery Supply Kit</a><span>12.00<em>14.95</em></span></li>
            <li><a target="_blank" href="https://bit.ly/330YdRc">Jasmine Lunch Box</a><span>12.00<em>14.95</em></span></li>
            </ul>
          <div class="btn"><a target="_blank" href="https://bit.ly/32Uq7xT">Shop Now</a></div>
        </div>        
       </div>     

        <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/2yhZepO">Finish Line</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/2yhZepO">back to school deals up to 60% off</a></h2>
          <ul>
            <h3>Sneakers</h3>
            <li><a target="_blank" href="https://bit.ly/2KfGcFU">MEN'S AIR JORDAN RETRO 4 BASKETBALL SHOES</a><span>150.00<em>190.00</em></span></li>
            <li><a target="_blank" href="https://bit.ly/3115Q86">BIG KIDS' ADIDAS ULTRABOOST 19 RUNNING SHOES</a><span>125.00<em>160.00</em></span></li>
            <li><a target="_blank" href="https://bit.ly/2K9bfDx">MEN'S NIKE EPIC REACT FLYKNIT 2 RUNNING SHOES</a><span>75.00<em>150.00</em></span></li>
            <li><a target="_blank" href="https://bit.ly/32ZN5DO">BOYS' LITTLE KIDS' AIR JORDAN LEGACY 312 OFF-COURT SHOES</a><span>35.00<em>75.00</em></span></li>
            <li><a target="_blank" href="https://bit.ly/32Xa8iP">MEN'S AIR JORDAN EXECUTIVE OFF-COURT SHOES</a><span>45.00<em>100.00</em></span></li>
            <li><a target="_blank" href="https://bit.ly/2KcxiZL">MEN'S NIKE AIR MAX 95 LV8 CASUAL SHOES</a><span>90.00<em>170.00</em></span></li>
            </ul>
          <div class="btn"><a target="_blank" href="https://bit.ly/2yhZepO">Shop Now</a></div>
        </div>        
       </div>   

        <div class="school_box clearfix">
        <div class="left_side"><a target="_blank" href="https://bit.ly/2K53yy5">Shoe Carnival</a></div>
        <div class="right_side">
          <h2><a target="_blank" href="https://bit.ly/2K53yy5">Back to school shoe sale 2019</a></h2>
          <ul>
            <h3>Sneakers</h3>
            <li><a target="_blank" href="https://bit.ly/32YaIN6">Men's Nike Revolution 4 Running Shoes</a><span>54.98<em>60.00</em></span></li>
            <li><a target="_blank" href="https://bit.ly/32WmYOi">Men's Nike Flex Contact Running Shoes</a><span>56.25<em>75.00</em></span></li>
            <li><a target="_blank" href="https://bit.ly/310Uh0Q">Women's Adidas Cloudfoam QT Racer Sneakers</a><span>44.98<em>64.99</em></span></li>
            <li><a target="_blank" href="https://bit.ly/2KbzfWq">Women's Adidas Lite Racer Adapt Slip-On Sneakers</a><span>59.98<em>64.99</em></span></li>
            <li><a target="_blank" href="http://bit.ly/2yweuQ5">Women's Skechers Quick Getaway 12983 Slip-On Sneakers</a><span>39.98<em>49.99</em></span></li>
            <li><a target="_blank" href="http://bit.ly/32ZxEf9">Women's Skechers D'Lites Biggest Fan 11930 Sneakers</a><span>59.98<em>64.99</em></span></li>
            </ul>
          <div class="btn"><a target="_blank" href="https://bit.ly/2K53yy5">Shop Now</a></div>
        </div>        
       </div>   
       <div class="blog_ctn memorial fourthjuly">
         <div class="banner">
           <a href="/deals/promo_codes">Today's Promo Codes</a>
           <a href="/deals/bestdeals">Today's Daily Deals</a>
         </div>
       </div>

      </div><!--./blog_body-->

   </div><!--./warp-->
  </div><!--./blogs-->
</div><!--./layout-->

