<div class="layout"><!--layout-->
  <%= render 'shared/header' %>
  <div class="blogs clearfix">
    <div class="wrap">

      <div class="blog_body">

        <div class="blog_tit">
          <h2><span>The best Memorial Day sales guide 2019</span></h2>
          <address>May. 26. 2019.</address><em>by Oh,i gotta buy this</em>
          <p>Memorial Day is one of the biggest holidays for big sales. Each year, retail stores offer massive discounts on mattresses, appliances and much more. Memorial Day is the unofficial start to summer, so many retailers will discount spring clothing and more. Some of the best things to buy during the Memorial Day Sales are Mattresses, Appliances and Kitchen Gadgets, Spring Apparel, Office Furniture, Swimsuits, Outdoor Items, Camping Equipments and so on.</p>
          <p>To help guide you through all the promotions and offers, we've put together a list of the best sales that are currently going on. So you don't miss out any sale events.</p>
        </div>
         
        <div class="blog_ctn memorial">
         <h2>The best Memorial Day sales:</h2>
         <h3>- Sitewide Deals</h3>
         <ul>
          <li><a target="_blank" href="https://amzn.to/2M80OUT">AMAZON</a><p>Memorial Day Deals site wide</p></li>
          <li><a target="_blank" href="https://amzn.to/2M56UoR">AMAZON</a><p>Deals on appliances and home items</p></li>
          <li><a target="_blank" href="https://amzn.to/2QolMxa">amazon</a><p>Save on select Philips Hue Smart Lights</p></li>
          <li><a target="_blank" href="https://bit.ly/2M564IJ">target</a><p>Up to 30% off home items with code HOME, plus save on summer styles site wide.  Valid through 5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2YN9gKA">walmart</a><p>Up to 40% off site wide</p></li>
          <li><a target="_blank" href="https://bit.ly/2JJQErJ">OVERSTOCK</a><p>Memorial Day blowout, up to 70% off + free shipping</p></li>
         </ul>
        </div>

        <div class="blog_ctn memorial">
         <h3>- Appliances, computers, electronics, Furniture, etc... Deals</h3>
         <ul>
          <li><a target="_blank" href="https://bit.ly/2YMwRew">LENOVO</a><p>Save up to 50% off on laptops</p></li>
          <li><a target="_blank" href="https://bit.ly/2YT7vvH">BEST BUY</a><p>Save up to 30% on appliance top appliance</p></li>
          <li><a target="_blank" href="https://bit.ly/2wjta3A">DELL</a><p>Save up to 50% on PCs and electronics</p></li>
          <li><a target="_blank" href="https://bit.ly/2JB7GrX">NEWEGG</a><p>Memorial Day markdowns, save on TV’s. laptops and more</p></li>
          <li><a target="_blank" href="https://bit.ly/2wlxAHr">LOWE’S</a><p>Up to 30% off patio furniture and décor</p></li>
          <li><a target="_blank" href="https://bit.ly/2wghcrJ">FOSSIL</a><p>Extra 25% Off sale items with code READY25(Ends 05/27)</p></li>
          <li><a target="_blank" href="https://bit.ly/2JFwgYo">WORLD MARKET</a><p>Up to 50% off outdoor items.</p></li>
         </ul>
        </div>

        <div class="blog_ctn memorial">
         <h3>- Mattress Deals</h3>
         <ul>
          <li><a target="_blank" href="https://bit.ly/2MbrtjD">Mattress Firm</a><p>Save up to $700 on king and queen mattresses</p></li>
          <li><a target="_blank" href="https://bit.ly/2YKHqyw">Serta</a><p>Save up to $600 on select Serta iComfort mattress sets</p></li>
          <li><a target="_blank" href="https://bit.ly/2JDNPZ3">Purple</a><p>Save $100 off mattresses</p></li>
          <li><a target="_blank" href="https://bit.ly/2wmpyOC">Tempur-Pedic</a><p>Save up to $700 on select mattress sets</p></li>
         </ul>
        </div>
        <div class="blog_ctn memorial">
         <h3>- Sportswear Deals</h3>
         <ul>
          <li><a target="_blank" href="https://bit.ly/2M7nmoI">NIKE</a><p>Nike.com is offering an extra 25% off select styles sitewide with code SAVE25</p></li>
          <li><a target="_blank" href="https://bit.ly/2YKIBhq">underarmour</a><p>Save an additional $30 on Under Armour Outlet orders of $100 or more with code MAY30</p></li>
          <li><a target="_blank" href="https://bit.ly/2YNY7te">NEW BLANCE</a><p>15% off everything + free shipping all Memorial Day Weekend</p></li>
         </ul>
        </div>
        <div class="blog_ctn memorial">
         <h3>- Clothing Deals</h3>
         <ul>
          <li><a target="_blank" href="https://bit.ly/2M8rfJY">6PM</a><p>Up to 80% off clothes, shoes, bags and accessories memorial day sale</p></li>
          <li><a target="_blank" href="https://bit.ly/2JEfYzf">FOREVER 21</a><p>Extra 30% off sale</p></li>
          <li><a target="_blank" href="https://bit.ly/2JCZffC">LEVI’S</a><p>30% off site wide with code FUNSUN</p></li>
          <li><a target="_blank" href="https://bit.ly/2wlwECV)">MACY’S</a><p>Take 20% off at the Memorial Day Sale with code MEMDAY, plus receive free shipping at $75.  Valid 5/22-5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2YNVUxW">MEIMAN MARCUS</a><p>Save up to 40% off new markdowns. Valid 5/21-5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2wi3xjF">JCPENNEY</a><p>Up to 60% off $100 or more with code VALUE7.</p></li>
          <li><a target="_blank" href="https://bit.ly/2YNR03H">J. CREW</a><p>Take 40% off your entire purchase with code SHOP40.</p></li>
          <li><a target="_blank" href="https://bit.ly/2JG8ITs">NAUTICA</a><p>Extra 50% off Everything</p></li>
          <li><a target="_blank" href="https://bit.ly/2JEwoaB">REVOLVE</a><p>New markdowns up to 65% off.</p></li>
          <li><a target="_blank" href="https://bit.ly/2wlnpma">YOOX</a><p>Receive up to 30% off select styles.</p></li>
          <li><a target="_blank" href="https://bit.ly/2JFocH8">SHOPBOP</a><p>Up to 40% off 5000+ styles. </p></li>
          <li><a target="_blank" href="https://bit.ly/2YOoM9e">NORDSTROM MACK</a><p>Clear the rack: Up to 25% off</p></li>
          <li><a target="_blank" href="https://bit.ly/2M56PBz">OFF FIFTH</a><p>Take an extra 25% off with code SUMMER. Valid 5/24-5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2MiNfSq">BACKCOUNTRY</a><p>Save up to 50% off North Face, Prana, Patagonia, Marmot, Arc’Teryx, Osprey, and more.  Valid through 5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2YMwJM4">ACCESSORY CONCIERGE</a><p>Take 30% off site wide with code MEMORIALDAY. Valid through 5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2YT1v65">URBAN OUTFITTERS</a><p>Take 50% off select styles site wide. Valid 5/26-5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2JHfw38">WAYFAIR</a><p>Up to 70% off site wide. Valid through 5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2MnsrJV">SAKS FIFTH AVENUE</a><p>Designer Sale: up to 50% off women's ready to wear plus 40% off accessories and menswear.  End date TBA.</p></li>
          <li><a target="_blank" href="https://bit.ly/2YHhbsS">ASOS</a><p>Memorial Day Sale! Enjoy 25% off everything.</p></li>
          <li><a target="_blank" href="https://bit.ly/2JDQ5zl">BLOOMINGDALE’S</a><p>Save an extra 20% on almost all already reduced items. Valid through 5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2M9YbC7">LORD & TAYLOR</a><p>Take 25% off regular priced items, plus 20% off sale items with code HOLIDAY. Valid through 5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2wkvGa8">MODA OPERANDI</a><p>Take 25% off regular priced items, plus 20% off sale items with code HOLIDAY. Valid through 5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2M9FkXO">BARNEY’S WAREHOUSE</a><p>Take 50% off site wide! Valid through 5/27.</p></li>
          <li><a target="_blank" href="https://bit.ly/2JCyyYt">NET-A-PORTER</a><p>Save up to 50% off site wide. Valid through 5/29</p></li>
          <li><a target="_blank" href="https://bit.ly/2wjcjxZ">LOFT</a><p>Take 40% off your entire purchase with code FINALLY.</p></li>
          <li><a target="_blank" href="http://bit.ly/2YOvzjg">COLE HAAN</a><p>Take 40% off your entire purchase.</p></li>
          <li><a target="_blank" href="https://bit.ly/2wiFD7J">BODEN</a><p>30% off your entire purchase plus receive free shipping and returns with code C7R2b. Valid 5/23-5/27.</p></li>
         </ul>
        </div>

      </div><!--./blog_body-->

      <!-- <div class="blog_side">
        < render 'blogs/sidebar' >
      </div> -->

   </div><!--./warp-->
  </div><!--./blogs-->
</div><!--./layout-->