<div class="layout"><!--layout-->
  <%= render 'shared/header' %>
  
  <div class="cu_wrap clearfix">
    <div class="wrap">
      
      <div class="detitle for_blog">
      </div>
      
      <div class="blog_wrap clearfix">
        <div class="blog_body">
          <h2>How to sign up for Amazon Prime if you already have an Amazon account already.</h2>
        </div>
      </div>
      
    </div><!--./wrap-->
  </div><!--./cu_wrap-->
</div><!--./layout-->