<div class="layout"><!--layout-->
  <%= render 'shared/header_short' %>
  <div class="fourth_wrap clearfix blogs">
    <div class="wrap">

      <div class="blog_body">

        <div class="blog_tit">
          <h2><span class="fourth_title">The Best Deals of Week!!</span></h2>
        </div>
         
        <div class="blog_ctn memorial fourthjuly">
         <ul>
           <!-- <li><a target="_blank" href="Deals_Link">Deals_Title</a><p>Deals_Description</p></li> -->
           <li><a target="_blank" href="https://bit.ly/2yq0cjQ">TARGET</a><p>Save $10 when you spend $30, or save $40 when you spend $100 on select home items Use code "COLLEGE" Ends 8/3.</p></li>
           <li><a target="_blank" href="https://bit.ly/2wlwECV">MACY'S</a><p>Take 20% off at the Super Weekend Sale Use code WKND. Ends 8/3.</p></li>
           <li><a target="_blank" href="https://bit.ly/2ypoTgj">NORDSTROM</a><p>Nordstrom Anniversary is on! Ends 8/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/316eMZZ">LOCCITANE</a><p>Choose one pod mask free with any $25 purchase or two free with $50! + Upgrade to a bonus deluxe mini moisturizer! Use code "MASK"</p></li>
           <li><a target="_blank" href="https://bit.ly/2KeqI58">NET-A-PORTER</a><p>Final sale! Take an extra 20% off select styles. Ends 8/13.</p></li>
           <li><a target="_blank" href="https://bit.ly/2wjcjxZ">LOFT</a><p>Flash Sale! Take 50% off everything. Valid 8/2-8/5.</p></li>
           <li><a target="_blank" href="https://bit.ly/31ZwWxM">GAP</a><p>Take 50% off all markdowns. Ends 8/1.</p></li>
           <li><a target="_blank" href="https://bit.ly/333XCOm">CONVERSE</a><p>Converse has an extra 40% Off select styles. Use code "FLASH40"</p></li>
           <li><a target="_blank" href="https://bit.ly/2JeLYag">NEIMAN MARCUS</a><p>Take up to 40% off Better Apparel, Dress Collection, and Contemporary. Ends 8/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2JDQ5zl">BLOOMINGDALE'S</a><p>Kids Buy More, Save More! Take 20% off when you spend $100, 25% off $200, or 30% off $250 or more. Ends 8/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XLhNBE">LORD + TAYLOR</a><p>Up to 40% off new arrivals. Ends 8/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/317mSBv">KIEHLS</a><p>Choose 3 deluxe anti-aging samples on $65+ Use Code "TIME" Ends 8/2.</p></li>
           <li><a target="_blank" href="https://bit.ly/32YVVC1">AMERICAN EAGLE</a><p>Take 50% off clearance. Ends 8/25.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XpEiMg">OLD NAVY</a><p>Take up to 50% off all jeans, select tops, & shorts. Ends 8/1.</p></li>
           <li><a target="_blank" href="https://bit.ly/2KfnLRO">PAPER SOURCE</a><p>Take $10 off $75 or more Use code SUMMER10. Ends 8/5.</p></li>
           <li><a target="_blank" href="https://bit.ly/31aJIIq">URBAN OUTFITTERS</a><p>Students take 10% off their entire purchase. Ends 8/2.</p></li>
           <li><a target="_blank" href="https://bit.ly/2ytcI1Z">FARFETCH</a><p>Take an additional 20% off sale tops Use code JULY20. Valid for a limited time.</p></li>
           <li><a target="_blank" href="https://bit.ly/315Flys">MY THERESA</a><p>Take an extra 10% off sale Use code MYXTRA19. Ends 8/11.</p></li>
           <li><a target="_blank" href="https://bit.ly/32WtEfc">24S</a><p>Receive up to 20% off site wide Use code CVD20. Ends 8/7.</p></li>
           <li><a target="_blank" href="https://bit.ly/2Kl2mqf">origins</a><p>Free pore-purifying duo when you spend $55. Use code "CLEAR"</p></li>

         </ul>
         <div class="banner">
           <a href="/deals/promo_codes">Today's Promo Codes</a>
           <a href="/deals/bestdeals">Today's Daily Deals</a>
         </div>
        </div>

      </div><!--./blog_body-->

      <!-- <div class="blog_side">
        < render 'blogs/sidebar' >
      </div> -->

   </div><!--./warp-->
  </div><!--./blogs-->
</div><!--./layout-->

