<div class="layout"><!--layout-->
  <%= render 'shared/header_short' %>
  <div class="blogs clearfix">
    <div class="wrap">

      <div class="blog_body">

        <div class="blog_tit">
          <h2><span>The best Memorial Day sales guide 2019</span></h2>
          <address>May. 26. 2019.</address><em>by Oh,i gotta buy this</em>
          <p>Memorial Day is one of the biggest holidays for big sales. Each year, retail stores offer massive discounts on mattresses, appliances and much more. Memorial Day is the unofficial start to summer, so many retailers will discount spring clothing and more. Some of the best things to buy during the Memorial Day Sales are Mattresses, Appliances and Kitchen Gadgets, Spring Apparel, Office Furniture, Swimsuits, Outdoor Items, Camping Equipments and so on.</p>
          <p>To help guide you through all the promotions and offers, we've put together a list of the best sales that are currently going on. So you don't miss out any sale events.</p>
        </div>

        <div class="school_box clearfix">
          <div class="left_side">
            <a target="_blank" href="https://amzn.to/2LIQuSf"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1280px-Amazon_logo.svg.png" alt="Image_Name"></a>
          </div>
          <div class="right_side">
            <h2><a target="_blank" href="https://amzn.to/2LIQuSf">Save up to 56% on school supplies on Amazon.</a></h2>
            <ul>
              <h3>All school essentials</h3>
              <li><a target="_blank" href="https://amzn.to/2LIsTB5">All deals in Office Electronics & School Supplies</a></li>
              <li><a target="_blank" href="https://amzn.to/314WFnn">Kids' Fashion & Backpacks</a></li>
              <li><a target="_blank" href="https://amzn.to/30YaZxS">Deals on Computers & Tech</a></li>
              <li><a target="_blank" href="https://amzn.to/30Yo61U">Snacks & Household</a></li>
            </ul>
            <ul>
              <h3>Backpacks</h3>
              <li><a target="_blank" href="https://amzn.to/2JWM2gz">Herschel Pop Quiz Backpack-Navy</a><span>50.00<em>74.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2YmJcph">Himawari Laptop Backpack Travel Backpack</a><span>35.99<em>69.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2Miboan">Parkland Girl's The Edison (Little Kids/Big Kids)</a><span>15.99<em>29.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2JUdRpQ">Emmzoe Toddler 3D Animal Backpack</a><span>22.99<em>24.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2yhKwyS">Herschel Kids' Retreat Youth Children's Backpack</a><span>47.32<em>59.99</em></span></li>
            </ul>
            <ul>
              <h3>Deals on Computers & Tech</h3>
              <li><a target="_blank" href="https://amzn.to/2LIthj1">Apple 10.5" iPad Pro for $579</a><span>579.00<em>779.00</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2JWMKur">Samsung Chromebook Plus V2, 2-in-1...</a><span>389.13<em>549.99</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2Yo3Epx">Apple MacBook Air (13-inch Retina display,</a><span>949.99<em>1,199.00</em></span></li>
              <li><a target="_blank" href="https://amzn.to/2SHLqy6">Acer Aspire E 15, 15.6" Full HD</a><span>329.00<em>379.99</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="https://amzn.to/2LIQuSf">Shop Now</a></div>
          </div>        
        </div>

        <!-- <div class="school_box clearfix">
          <div class="left_side">
            <a target="_blank" href="Promotions_Link"><img src="Image_Link" alt="Image_Name"></a>
          </div>
          <div class="right_side">
            <h2><a target="_blank" href="Promotions_Link">Promotions_Title</a></h2>
            <div class="btn"><a target="_blank" href="Promotions_Link">Shop Now</a></div>
          </div>        
        </div>       -->   

        <!-- <div class="school_box clearfix">
          <div class="left_side">
            <a target="_blank" href="Promotions_Link"><img src="Image_Link" alt="Image_Name"></a>
          </div>
          <div class="right_side">
            <h2><a target="_blank" href="Promotions_Link">Promotions_Title</a></h2>
            <ul>
              <h3>Categories</h3>
              <li><a target="_blank" href="">Product_name</a></li>
              <li><a target="_blank" href="">Product_name</a></li>
            </ul>
            <ul>
              <h3>Categories</h3>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
              <li><a target="_blank" href="Each_Products_Link"></a><span>Dis_Price<em>Reg_Price</em></span></li>
            </ul>
            <div class="btn"><a target="_blank" href="Promotions_Link">Shop Now</a></div>
          </div>        
        </div>         
         -->     

        <div class="school_box clearfix">
          <div class="left_side">
            <a target="_blank" href="https://bit.ly/2ydLmg6"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Target_Logo.svg/1280px-Target_Logo.svg.png" alt="Target back to school deals"></a>
          </div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/2ydLmg6">Get up to 90% off select back-to-school items, 55% off backpacks, kids uniforms starting at $4 and more.</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/2ydLmg6">Shop Now</a></div>
          </div>        
        </div>   

        <div class="school_box clearfix">
          <div class="left_side">
            <a target="_blank" href="https://bit.ly/30XCLuf"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/New_Gap_logo.svg/1280px-New_Gap_logo.svg.png" alt="Gap back to school deals"></a>
          </div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/30XCLuf">Online & In Store Back to School Favorites - 50% Off all Kids' & Baby | Uniforms, Backpacks, Tees & Shorts</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/30XCLuf">Shop Now</a></div>
          </div>        
        </div>    

        <div class="school_box clearfix">
          <div class="left_side">
            <a target="_blank" href="https://bit.ly/318rojx"><img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Kohl%27s.png" alt="store back to school deals"></a>
          </div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/318rojx">Save Up to 70% off designer backpacks. Visit the Kohl’s Back to School page.</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/318rojx">Shop Now</a></div>
          </div>        
        </div>    

        <div class="school_box clearfix">
          <div class="left_side">
            <a target="_blank" href="https://bit.ly/32UGhHS"><img src="https://live.staticflickr.com/4711/39732358101_6528808e4a_b.jpg" alt="store back to school deals"></a>
          </div>
          <div class="right_side">
            <h2><a target="_blank" href="https://bit.ly/32UGhHS">Back to School Classics | Get up to 70% off backpacks.</a></h2>
            <div class="btn"><a target="_blank" href="https://bit.ly/32UGhHS">Shop Now</a></div>
          </div>        
        </div>    

        <div class="school_box clearfix">
          <div class="left_side">
            <a target="_blank" href="Promotions_Link"><img src="Image_Link" alt="store back to school deals"></a>
          </div>
          <div class="right_side">
            <h2><a target="_blank" href="Promotions_Link">Promotions_Title</a></h2>
            <div class="btn"><a target="_blank" href="Promotions_Link">Shop Now</a></div>
          </div>        
        </div>               

      </div><!--./blog_body-->

      <!-- <div class="blog_side">
        < render 'blogs/sidebar' >
      </div> -->

   </div><!--./warp-->
  </div><!--./blogs-->
</div><!--./layout-->

