<div class="layout"><!--layout-->
  <%= render 'shared/header_short' %>
  <div class="fourth_wrap clearfix blogs">
    <div class="wrap">

      <div class="blog_body">

        <div class="blog_tit">
          <h2><span class="fourth_title">The List of "4th of July's Deal"</span></h2>
        </div>
         
        <div class="blog_ctn memorial fourthjuly">
         <ul>
           <!-- <li><a target="_blank" href="Deals_Link">Deals_Title</a><p>Deals_Description</p></li> -->
           <li><a target="_blank" href="https://bit.ly/2Xm7HXK">6pm</a><p>Take up to 80% off select clearance styles + free shipping on all orders.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XpCrXO">Target</a><p>Up to 30% off patio and home items with code "AMERICA", plus 20% off kids' swim with code "SWIM". Valid through 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2MiNfSq">Backcountry</a><p>Save up to 40% off select apparel and gear. Brands like Under Armour, Columbia, and The North Face etc.</p></li>
           <li><a target="_blank" href="https://bit.ly/326ok8K">Overstock</a><p>Take up to 70% off sitewide in this massive sale + free shipping on orders of $45.</p></li>
           <li><a target="_blank" href="https://bit.ly/324WZDR">WALMART</a><p>4th of July Savings! Up to 80% off.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XpQQ6m">HP</a><p>Save up to 61% on select laptops, desktops, printers, monitors, and accessories.</p></li>
           <li><a target="_blank" href="https://bit.ly/325LRqh">Joe's New Balance Outlet</a><p>Take up to 70% off during the sale.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XqzyGk">Best Buy</a><p>Take up to 40% Off Appliances, Laptops</p></li>
           <li><a target="_blank" href="https://bit.ly/2wlxAHr">lowes</a><p>Take up to 40% Off Appliance Special Values Valid through 7/10.</p></li>           
           <li><a target="_blank" href="https://bit.ly/2XjcUuN">SAKS OFF FIFTH</a><p>Select brands 30% off with code "EXTRA30". Valid 7/3.</p></li>
           <li><a target="_blank" href="https://bit.ly/2wlwECV">Macy's<p>Take 20% off at 4th of July Sale with code "FOURTH", plus receive free shipping at $75. Valid through 7/7.</p></a></li>
           <li><a target="_blank" href="https://bit.ly/2JDQ5zl">BLOOMINGDALES</a><p>Long Weekend Sale: Take an extra 30% off sale styles. Valid through 7/7.</p></li>
           <li><a target="_blank" href="https://bit.ly/2Xlci7R">INTERMIX</a><p>Take 75% off your favorite designers. Valid through 7/9.</p></li>
           <li><a target="_blank" href="https://bit.ly/2YHhbsS">ASOS</a><p>Take 20% off your purchase with code "HAPPYJULY4TH!" Valid 7/4-7/5.</p></li>
           <li><a target="_blank" href="https://bit.ly/2wjcjxZ">LOFT</a><p>Take 40% off styles site wide, plus receive free shipping with code "HBDUSA". Valid through 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XjEUOR">ANTHROPOLOGIE</a><p>Take an extra 50% off at the Summer Tag Sale. Valid through 7/7, or while supplies last.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XpEiMg">OLD NAVY</a><p>Take up to 60% off everything. Valid through 7/7.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XneH71">COACH</a><p>Take 50% off all sale styles. Valid through 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2Xm5fk0">EXPRESS</a><p>Summer sale up to 70% off.</p></li>
           <li><a target="_blank" href="https://bit.ly/2JeLYag">NEIMAN MARCUS</a><p>Enjoy 24% off select home items. Valid 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XndK9A">NEED SUPPLY CO.</a><p>Summer sale! Markdowns up to 50% off. </p></li>
           <li><a target="_blank" href="https://bit.ly/2wi3xjF">JCPENNEY</a><p>Take an extra 30% off $100 or more on the 4th of July! Valid 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2Jlpwwu">BANANA REPUBLIC</a><p>Take an extra 10% off everything. Valid 7/4 only.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XkMsWm">24S</a><p>Up to 70% off site wide. Valid through 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/329WbxI">MYTHERESA</a><p>Receive up to 60% off sale items. Valid through 8/3.</p></li>
           <li><a target="_blank" href="https://bit.ly/324YdPt">BARNEYS</a><p>Final Markdowns! Up to 75% off designer collections. Valid through 7/15.</p></li>
           <li><a target="_blank" href="https://bit.ly/2YT1v65">URBAN OUTFITTERS</a><p>BOGO 50% off women's apparel. Valid 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2JkdPpS">SHEIN</a><p>Take $30 off orders of $189 or more with code WRB30. Valid through 7/8.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XlXDZS">CARBON38</a><p>Up to 75% off sale styles, plus take an additional 25% off select styles with code "SUMMERFOLLY". Valid through 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XiEY1m">FARFETCH</a><p>Take 20% off sale shoes with code JULY20. Valid through 7/8.</p></li>
           <li><a target="_blank" href="https://bit.ly/31ZwWxM">GAP</a><p>Take 40% off everything with code GREAT. Valid through 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/329d8Iw">ATHLETA</a><p>Take an extra 20% off sale items. Valid through 7/7.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XjE58v">CRATE & BARREL</a><p>Take 15% off your order. Valid through 7/8.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XrkXur">MODCLOTH</a><p>Take 20% off your order of $150 or more with code "JULY20". Valid through 7/31.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XoJccG">HARVEY NICHOLS</a><p>Take 10% off your entire order, or 15% off purchases of $600 or more. Valid 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2XjEbwT">FITFLOP</a><p>Sale up to 60% off, plus take an extra 20% off with code "CELEBRATE20".</p></li>
           <li><a target="_blank" href="https://bit.ly/2JeNDww">JANIE AND JACK</a><p>Take 25% off all swim. Valid 7/3-7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2Jkyud9">BAUBLEBAR</a><p>Take 15% off full-priced items with code SUNSHINE. Valid through 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/2wiFD7J">BODEN</a><p>Up to 60% off at the Summer Sale. Valid through 7/4.</p></li>
           <li><a target="_blank" href="https://bit.ly/324j1GZ">ALICE + OLIVIA</a><p>Up to 60% off all markdowns. Valid through 7/4.</p></li>



         </ul>
        </div>

      </div><!--./blog_body-->

      <!-- <div class="blog_side">
        < render 'blogs/sidebar' >
      </div> -->

   </div><!--./warp-->
  </div><!--./blogs-->
</div><!--./layout-->