<div class="layout"><!--layout-->
  <%= render 'shared/header_short' %>
  <div class="fourth_wrap clearfix blogs">
    <div class="wrap">

      <div class="blog_body">

        <div class="blog_tit">
          <h2><span class="fourth_title">Promo Codes Lists</span></h2>
        </div>
         
        <div class="blog_ctn memorial fourthjuly">
         <ul>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>
          <li>PromoCodes_URL</li>

           <p>We are constantly updating the list.... :D</p>
         </ul>
         <div class="banner">
           <a href="/deals/promo_codes">Today's Promo Codes</a>
           <a href="/deals/bestdeals">Today's Daily Deals</a>
         </div>
        </div>

      </div><!--./blog_body-->

      <!-- <div class="blog_side">
        < render 'blogs/sidebar' >
      </div> -->

   </div><!--./warp-->
  </div><!--./blogs-->
</div><!--./layout-->

