<div class="layout">
  <div class="wrap">
    <div class="dealpage_title">  
      <h1>Editing Spcategory</h1>
      <%= render 'form' %>
      <%= link_to 'Show', @spcategory %> |
      <%= link_to 'Back', spcategories_path %>
    </div>
  </div>
</div>