<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VlHaYX"><img src="https://m.media-amazon.com/images/I/61RKCJodYHL._SR400,400_.jpg" alt="WiFi Smart Plug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2VlHaYX">WiFi Smart Plug Works with Alexa Echo/Google Home/IFTTT, slitinto Mini Smart Socket WiFi Outlet </a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $19.99</strong> using code:50K49NQT</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VlHaYX">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="32.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IQsw57"><img src="https://m.media-amazon.com/images/I/81RmAhUXh6L._SR400,400_.jpg" alt="Men's Slip" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IQsw57">VEPOSE Men's Slip on Dress Shoes Formal Square Toe Loafers</a></p>
    <div class="code_high">
      <p><span>Take <strong>45% off at $32.65</strong> using code:45NIXZPS</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IQsw57">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="21.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DnQPUH"><img src="https://m.media-amazon.com/images/I/51aaEbE8QIL._SR400,400_.jpg" alt="Soft Knit Jersey Bermuda Shorts" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DnQPUH">Gooket Women's Elastic Waist Soft Knit Jersey Bermuda Shorts with Drawstring</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $21.99</strong> using code:60RUSNNX</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DnQPUH">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KSM7V0"><img src="https://m.media-amazon.com/images/I/91o7tn3Z4QL._SR400,400_.jpg" alt="Wizsla Magnetic Wristband" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2KSM7V0">Wizsla Magnetic Wristband for Holding Screws, Tools, Set of 2 Sizes, Best Gift for Men</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $18.99</strong> using code:promo_code</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KSM7V0">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XAYaaY"><img src="https://m.media-amazon.com/images/I/71bGYvxKrwL._SR400,400_.jpg" alt="Lunch Box" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XAYaaY">HIPPIH Insulated Lunch Box Lunch Bag for Adults/Men/Women/Kids, Water-Resistant Leakproof Soft Cooler Bento Bag</a></p>
    <div class="code_high">
      <p><span>Take <strong>15% off at $14.99</strong> using code:1584V5D4</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XAYaaY">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="52.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KVI4Y1"><img src="https://m.media-amazon.com/images/I/61H3QY2UZlL._SR400,400_.jpg" alt="Home Security Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2KVI4Y1">Home Security Camera 720P HD Wireless WIFI Camera Doorbell with 16G TF Card and Chime App Control for IOS and Android</a></p>
    <div class="code_high">
      <p><span>Take <strong>25% off at $52.99</strong> using code:25GZ3C49</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KVI4Y1">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IC40FP"><img src="https://images-na.ssl-images-amazon.com/images/I/61l7PnRlVkL._SX679_.jpg" alt="Pistol Mag Pouch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IC40FP">vAv YAKEDA Tactical Molle Single Pistol Mag Pouch 1000D Nylon Carry All Folding Knife Belt Sheath</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $14.99</strong> using code:50T9XJUA</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IC40FP">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="66.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DsfsPS"><img src="https://m.media-amazon.com/images/I/71xuOyceOJL._SR400,400_.jpg" alt="Kids Tablet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DsfsPS">Kids Tablet,7" HD Display with Eye Protection Screen, ZONKO Android Tablet with WiFi and Bluetooth</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $66.99</strong> using code:20BWKYY8</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DsfsPS">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZsvNxx"><img src="https://m.media-amazon.com/images/I/51rq3gG5f0L._SR400,400_.jpg" alt="Beard Hair Catcher for Shaving" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2ZsvNxx">Beard Hair Catcher for Shaving - Beard Trimming Apron & Beard Clippings Catcher, Gift for Bearded Men</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $15.99</strong> using code:5068IZ4E</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZsvNxx">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XFi84x"><img src="https://m.media-amazon.com/images/I/611UGoocwxL._SR400,400_.jpg" alt="Face Jade Roller" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XFi84x">Face Jade Roller - 100% Real Natural Rose Quartz Face Massager and Gua Sha Tool, Anti Aging Face Rolle</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $17.99</strong> using code:603I3ANV</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XFi84x">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IRoU2S"><img src="https://m.media-amazon.com/images/I/51TyCidZ5ML._SR400,400_.jpg" alt="Military Survival Folding Shovel" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IRoU2S">Alice Military Survival Folding Shovel with Tactical Waist Pack for Camping, Hiking, Backpacking, Fishing...</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $15.99</strong> using code:60CFBA62</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IRoU2S">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="51.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IAD3lV"><img src="https://m.media-amazon.com/images/I/613l3cH2oDL._SR400,400_.jpg" alt="Shelves" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IAD3lV">SINGAYE Coat Rack Adjustable Entryway Bench Storage Shelves Carbon Steel with 3-Tier Shoes Hat Umbrella Clothes Rack</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $51.99</strong> using code:40RUGHA5</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IAD3lV">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="329.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZqrH93"><img src="https://m.media-amazon.com/images/I/61s7BvDhysL._SR400,400_.jpg" alt="Cat Tree" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2ZqrH93">Lovinland 52 Inch Cat Tree Kitty Condo Furniture Sisal Rope Activity Tree Cat Tall Tower Climb Holder Beige</a></p>
    <div class="code_high">
      <p><span>Take <strong>80% off at $329.99</strong> using code:80DKC69Z</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZqrH93">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="27.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DF4W8n"><img src="https://m.media-amazon.com/images/I/61QHj1wdCxL._SR400,400_.jpg" alt="Charging Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DF4W8n">3000mAh Charging Case Compatible with iPhone 6/6s/7/8 4.7inch,Bowei Rechargeable Power Case Extended Battery Cover</a></p>
    <div class="code_high">
      <p><span>Take <strong>35% off at $27.59</strong> using code:35WC1N3C</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DF4W8n">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="109.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XBAWBE"><img src="https://m.media-amazon.com/images/I/71XMjyttUzL._SR400,400_.jpg" alt="Blanket" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XBAWBE">ZX popular Weighted Blanket Adult | 15lbs 60"x80" | 2.0 Premium Heavy Blanket | 100% Organic Cooling Cotton Material</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $109.99</strong> using code:50TSYIM5</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XBAWBE">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="529.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GrckEK"><img src="https://m.media-amazon.com/images/I/51DjmJJSLUL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GrckEK">Lovinland L-Shaped Computer Desk Durable Stalinite Splicing Desktop Corner Computer Desk Black</a></p>
    <div class="code_high">
      <p><span>Take <strong>80% off at $529.95</strong> using code:8082FZ8N</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GrckEK">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DtOAyW"><img src="https://m.media-amazon.com/images/I/71uhK5FIZvL._SR400,400_.jpg" alt="Office" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DtOAyW">Cat Office Supplies for Teacher Office Gifts Under 10 Dollars</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $9.99</strong> using code:4082LKDM</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DtOAyW">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XwFOry"><img src="https://m.media-amazon.com/images/I/61eHMmFnV1L._SR400,400_.jpg" alt="hone Camera Lens" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XwFOry">Phone Camera Lens, TODI 4K HD 4 in 1 Phone Lens Kit, 20X Macro Lens, 2.0X Telephoto Lens, 120° Wide Angle Lens, 180° Fisheye Lens Compatible iPhone,Samsung, Most Andriod Phones </a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $39.99</strong> using code:60V2357C</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XwFOry">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Gu1SMF"><img src="https://m.media-amazon.com/images/I/61tiG5AGlpL._SR400,400_.jpg" alt="Dash Cam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Gu1SMF">Mirror Dash Cam, WONYERED 1080P Car Camera with 5 Inch Touch Screen 170° Wide Angle Motion Detection G-Sensor Parking Monitoring Night Vision </a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $59.99</strong> using code:50PRZS92</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Gu1SMF">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IByoA0"><img src="https://m.media-amazon.com/images/I/61KNEAr7JjL._SR400,400_.jpg" alt="Stereo Portable Wooden Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IByoA0">OHHAI Wireless Touch Stereo Portable Wooden Speaker,Without Bluetooth Pairing</a></p>
    <div class="code_high">
      <p><span>Take <strong>15% off at $19.99</strong> using code:1525MVQO</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IByoA0">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UW5kKl"><img src="https://m.media-amazon.com/images/I/41129m1rRRL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2UW5kKl">Bluetooth Headphones/Sports Sweatproof Wireless Headphones/Neckband Headset/Digital Noise Cancellation Earphone</a></p>
    <div class="code_high">
      <p><span>Take <strong>55% off at $29.99</strong> using code:5599UUE4</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2UW5kKl">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Dsj7x6"><img src="https://m.media-amazon.com/images/I/61glft945sL._SR400,400_.jpg" alt="USB WiFi Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Dsj7x6">USB WiFi Adapter 1200Mbps, Areson Wireless Adapter for PC/Desktop/Laptop USB 3.0 Dual Band 2.4GHz/5GHz with 5dBi Antenna...</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $19.99</strong> using code:60TQZU15</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Dsj7x6">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="15.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZwFSt8"><img src="https://m.media-amazon.com/images/I/61vUmqzM11L._SR400,400_.jpg" alt="Car Mount Holder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2ZwFSt8">Car Mount,Taymanso Universal 360° Swive Car Air Vent Phone Mount Holder Cradle with Gravity Self-Locking One-Touch Design</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $15.98</strong> using code:50YV9BFS</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZwFSt8">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DtMSOi"><img src="https://m.media-amazon.com/images/I/61Eh+vsWZNL._SR400,400_.jpg" alt="Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DtMSOi">Zicac Casual Daypacks Laptop Backpack Travel Backpack for Man and Women Water-Repellent Nylon with USB Charging Port </a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $35.99</strong> using code:30DIFRDT</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DtMSOi">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="32.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2URsOA4"><img src="https://images-na.ssl-images-amazon.com/images/I/81NnnS9vqCL._SX679_.jpg" alt="Wireless Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2URsOA4">Wireless Charger Mouse Pad, XINBAOHONG 2 in 1 QI Fast Charging Mat for Phone X / 8/8 Plus Samsung Note 8/S8/S7/S6/Edge,Nexus 4/5/6 and More Qi-Enabled Devices </a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $32.98</strong> using code:602EAE1U</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2URsOA4">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="74.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UOhtRn"><img src="https://m.media-amazon.com/images/I/511-Dq0lAeL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2UOhtRn">Bluetooth Headphones,Wireless Headphones,Waterproof in-Ear Wireless Charging Case Built-in Mic Headset Premium Sound with Deep Bass for Running Sport</a></p>
    <div class="code_high">
      <p><span>Take <strong>80% off at $74.99</strong> using code:80IQ3EBQ</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2UOhtRn">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VkPtEk"><img src="https://images-na.ssl-images-amazon.com/images/I/51rEoCNFGYL._SX679_.jpg" alt="Charger Wireless" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2VkPtEk">HAODU Watch Charger Wireless Portable Charging Cable Cord Pad Compatible with iWatch 38mm & 42mm Series 4/3/2/1/Nike+/Edition -3.3 ft -White</a></p>
    <div class="code_high">
      <p><span>Take <strong>70% off at $27.99</strong> using code:70G8VVUO</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VkPtEk">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IBLcq7"><img src="https://m.media-amazon.com/images/I/61FAFwdwRrL._SR400,400_.jpg" alt="Alarm Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IBLcq7">Alarm Clock Radio FM Digital Led Display Radio with USB Port Dimmer Snooze Sleep Timer Dual Alarms for Bedroom</a></p>
    <div class="code_high">
      <p><span>Take <strong>10% off at $25.99</strong> using code:10ZBCVEK</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IBLcq7">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="31.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UyUkNB"><img src="https://m.media-amazon.com/images/I/61Aunc2+eCL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2UyUkNB">USB Adapter Card Reader AMENER SD & Micro SD Card Reader for Smartphone Laptop, Memory Card Adapter USB C...</a></p>
    <div class="code_high">
      <p><span>Take <strong>80% off at $31.79</strong> using code:80XM9548</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2UyUkNB">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="72.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GnvYRS"><img src="https://images-na.ssl-images-amazon.com/images/I/51ea5kmHslL.jpg" alt="Sound Bars" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GnvYRS">Samtronic 40W Detachable Soundbar TV Speaker, Flat Screen TV Sound Bar Wired & Wireless Bluetooth Sound Bars</a></p>
    <div class="code_high">
      <p><span>Take <strong>35% off at $72.99</strong> using code:35MQ9OBQ</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GnvYRS">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Du9zlz"><img src="https://m.media-amazon.com/images/I/41DfxJhYBeL._SR400,400_.jpg" alt="Car Mount Holder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Du9zlz">Magnetic Car Mount Holder with Super Strong Magnet, Cell Phone Holder for Car</a></p>
    <div class="code_high">
      <p><span>Take <strong>70% off at $17.99</strong> using code:701I1NMA</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Du9zlz">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="31.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IQinW7"><img src="https://m.media-amazon.com/images/I/61xzckPhPqL._SR400,400_.jpg" alt="Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IQinW7">Travel Laptop Backpack, Business Slim Durable Laptops Backpack, Water Resistant College School Computer Bag shipping</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $31.99</strong> using code:60V1QZCD</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IQinW7">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDGhrY"><img src="https://images-na.ssl-images-amazon.com/images/I/71xHyy%2BykKL._SY679_.jpg" alt="Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XDGhrY">Bronze Times(TM) Laptop Backpack, Mens Slim Business Travel Computer Bag Fits Under 17" Laptop & Notebook</a></p>
    <div class="code_high">
      <p><span>Take <strong>55% off at $39.99</strong> using code:556R212X</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XDGhrY">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DtDJoJ"><img src="https://m.media-amazon.com/images/I/61prOqgNuXL._SR400,400_.jpg" alt="AirPods Case Cover" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DtDJoJ">JOYROOM AirPods Case Cover, Premium Protective Skin for Apple AirPods Charging Case (Also Fit Latest Mode AirPods 2)</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $5.99</strong> using code:405J637F</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DtDJoJ">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="32.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XGmIQ7"><img src="https://m.media-amazon.com/images/I/71KdjFbE2ML._SR400,400_.jpg" alt="Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XGmIQ7">VBG VBIGER Travel Laptop Backpack 17 inch Waterproof Business Backpack Multifunctional College Bookbag</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $32.98</strong> using code:30IJFE8L</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XGmIQ7">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="65.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UyBZ3n"><img src="https://m.media-amazon.com/images/I/6172Man2MCL._SR400,400_.jpg" alt="Dash Cam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2UyBZ3n">Poetele-R 4 Inch Screen Dash Cam 1080P Car DVR Dashboard Camera Full HD with Dual Lens Front and Rear,170°Wide Angle...</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $65.99</strong> using code:60K1ESTO</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2UyBZ3n">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="18.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UOOZqB"><img src="https://m.media-amazon.com/images/I/61KSDiG9rLL._SR400,400_.jpg" alt="Bluetooth FM Transmitter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2UOOZqB">Car Bluetooth FM Transmitter, Simr Wireless Radio Adapter in-Car Hands-Free Car Kit</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $18.98</strong> using code:20VHMDL2</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2UOOZqB">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DvklYu"><img src="https://m.media-amazon.com/images/I/51D2z-K2OEL._SR400,400_.jpg" alt="Phone Ring Holder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DvklYu">Cool Bat Cell Phone Ring Holder, E-SYB Bat Man Finger Ring for Phone</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $7.99</strong> using code:50Y7JQ5X</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DvklYu">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XB8Feo"><img src="https://m.media-amazon.com/images/I/61EqRMPp++L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XB8Feo">AREOK USB C Cable [2-Pack, 3ft] USB-C to USB-A 2.0 Fast Charging Nylon Braided Cord Compatible Samsung Galaxy S10 S9...</a></p>
    <div class="code_high">
      <p><span>Take <strong>70% off at $18.00</strong> using code:70ZSZ221</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XB8Feo">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UyC5ry"><img src="https://m.media-amazon.com/images/I/51o7PiXHXrL._SR400,400_.jpg" alt="Wireless Travel Router" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2UyC5ry">RAVPower FileHub, Wireless Travel Router AC750, Portable SD Card HDD Backup and Data Transmission Unit</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $59.99</strong> using code:20FILEHUB</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2UyC5ry">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="46.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IRwM4o"><img src="https://m.media-amazon.com/images/I/616heEi+CdL._SR400,400_.jpg" alt="USB Encrypted Flash Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IRwM4o">USB Encrypted Flash Drive, Lepin Password Protected USB Drive 32GB with 256-bit AES XTS Hardware Encryption</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $46.99</strong> using code:40AHW9NL</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IRwM4o">Copy & Use code</a>
  </div>
</div>

