<div class="card clearfix" data-score="50" data-price="14.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ou9J7u"><img src="https://m.media-amazon.com/images/I/51t+ikvtilL._SR400,400_.jpg" alt="Yootech Metal Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ou9J7u">Yootech Metal Wireless Charger with Cooling Fan, Wireless Charging Stand with Adapter, Compatible iPhone 11/11 Pro/11 Pro Max/Xs MAX/XR/XS/8/8+,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.49</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">50D6CVLF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $28.99</strong> with promo code: <strong class="m_codes">50D6CVLF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ou9J7u">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pefiHH"><img src="https://m.media-amazon.com/images/I/71XaxKiQgzL._SR400,400_.jpg" alt="OGI Lint Roller" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pefiHH">OGI Lint Roller with Giant Adhesive, Extra Sticky Remover for Dog Cat Pet Hair</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">501DCLJ3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">501DCLJ3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pefiHH">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2osQLys"><img src="https://m.media-amazon.com/images/I/61kJX4+eQdL._SR400,400_.jpg" alt="Canvas Cross Body Messenger Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2osQLys">Canvas Cross Body Messenger Bag Multifunctional Shoulder Backpack Travel Rucksack Sling Hiking Chest Bag Coffee (coffee)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$35.99</span></address>
      <textarea readonly="readonly" class="code_area">50R6T354</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $35.99</strong> with promo code: <strong class="m_codes">50R6T354</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 02, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2osQLys">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="16.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oovXYQ"><img src="https://m.media-amazon.com/images/I/71nBZD2VC1L._SR400,400_.jpg" alt="MATCC Garden Hose 50 Feet All New Expandable Hose" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oovXYQ">MATCC Garden Hose 50 Feet All New Expandable Hose with All Brass Connectors, 8 Pattern Sprayer and High Pressure, Expanding Garden Hose</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.64</span><span class="ori_price">$36.98</span></address>
      <textarea readonly="readonly" class="code_area">55QL2IBA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $36.98</strong> with promo code: <strong class="m_codes">55QL2IBA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oovXYQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="12.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2osmGPc"><img src="https://m.media-amazon.com/images/I/61wzxz8GIGL._SR400,400_.jpg" alt="Sports Gym Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2osmGPc">Sports Gym Bag with Wet Pocket & Shoes Compartment,Waterproof Travel Weekender Swim Camping Hiking Sports Gym Travel Duffel Bag for Men...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.10</span><span class="ori_price">$26.88</span></address>
      <textarea readonly="readonly" class="code_area">51JX89SQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $26.88</strong> with promo code: <strong class="m_codes">51JX89SQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2osmGPc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="8.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pbAaPO"><img src="https://m.media-amazon.com/images/I/71xBAFfJvzL._SR400,400_.jpg" alt="Bluetooth FM Transmitter for Car" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pbAaPO">Bluetooth FM Transmitter for Car, Wireless FM Radio Transmitter Adapter Car Kit Dual USB Charging Port Car Charger with Hands Free...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.83</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">48E8Z5XR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>48% off at $16.99</strong> with promo code: <strong class="m_codes">48E8Z5XR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pbAaPO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.11">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mW4r4A"><img src="https://m.media-amazon.com/images/I/51Ngpyg+rpL._SR400,400_.jpg" alt="Hemp Oil for Pain Relief, 500mg Hemp Extract" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mW4r4A">Hemp Oil for Pain Relief, 500mg Hemp Extract, Anxiety Relief, Lower Cholesterol, Boost Immune System, All Natural Supplement,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.11</span><span class="ori_price">$16.85</span></address>
      <textarea readonly="readonly" class="code_area">403QY3XM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $16.85</strong> with promo code: <strong class="m_codes">403QY3XM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mW4r4A">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="6.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mUFXIU"><img src="https://m.media-amazon.com/images/I/81PDlfjiSgL._SR400,400_.jpg" alt="Wsky Led Work Light Flashlight" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mUFXIU">Wsky Led Work Light Flashlight, 3 in 1 Gooseneck Magnetic COB Work Light Flashlight, Water Resistant, 3x3 Modes, 360° Rotate, Best for Camping,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.60</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">70W32W2K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $21.99</strong> with promo code: <strong class="m_codes">70W32W2K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mUFXIU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="12.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nJCk94"><img src="https://m.media-amazon.com/images/I/51MOLlo+i0L._SR400,400_.jpg" alt="AINOPE Wireless Earphone" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nJCk94">AINOPE Wireless Earphone, Wireless Sports Bluetooth Earphone/Stereo-Ear Mini Sweatproof Headphone with Noise Cancelling and Charging Case...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.60</span><span class="ori_price">$35.99</span></address>
      <textarea readonly="readonly" class="code_area">65EGPLOP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $35.99</strong> with promo code: <strong class="m_codes">65EGPLOP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nJCk94">Use Code at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="45" data-price="4.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ovrC5S"><img src="https://m.media-amazon.com/images/I/61mNwpqOj-L._SR400,400_.jpg" alt="Lwsengme Compatible with Apple Watch Band" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ovrC5S">Lwsengme Compatible with Apple Watch Band 38MM 42MM 40MM 44MM, Choose Color-Slim Rubber Sport Bands for iWatch Series 4, Series 3, Series 2, Series 1</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.27</span><span class="ori_price">$7.77</span></address>
      <textarea readonly="readonly" class="code_area">45WS84S9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $7.77</strong> with promo code: <strong class="m_codes">45WS84S9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ovrC5S">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="6.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2p9Udy3"><img src="https://m.media-amazon.com/images/I/61ElCQujfkL._SR400,400_.jpg" alt="MaxKare Digital Nutrition Food Scale " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2p9Udy3">MaxKare Digital Nutrition Food Scale with Tempered Glass and Portions Nutritional Facts Display, Kitchen Scale with Automatic shut-off Function,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.90</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">70YVJSGE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $22.99</strong> with promo code: <strong class="m_codes">70YVJSGE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2p9Udy3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2phguKy"><img src="https://m.media-amazon.com/images/I/61hhYy8PCGL._SR400,400_.jpg" alt="Gaming Headset" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2phguKy">Gaming Headset for PS4, Xbox One, PC, Gaming Headphones with 7.1 Stereo Surround Sound, Updated Noise Cancelling Mic, with Mute & Volume ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.50</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">507RJAKS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $34.99</strong> with promo code: <strong class="m_codes">507RJAKS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2phguKy">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nNYpDg"><img src="https://images-na.ssl-images-amazon.com/images/I/91PNDwnPShL._UX679_.jpg" alt="Winter Hand Knit Faux Fur Pompoms Beanie Hat" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nNYpDg">Simplicity Womens Winter Hand Knit Faux Fur Pompoms Beanie Hat</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.19</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">40MMMUVF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $21.99</strong> with promo code: <strong class="m_codes">40MMMUVF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nNYpDg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="9.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ooen7l"><img src="https://m.media-amazon.com/images/I/71HBaKylzmL._SR400,400_.jpg" alt="SUNWIND Solar Hanging Lights Outdoor Decorative" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ooen7l">SUNWIND Solar Hanging Lights Outdoor Decorative- Solar Jar Table 10 LED Light Mason Lid Warm White Lighting for Garden...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.20</span><span class="ori_price">$22.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">604BV2C4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $22.99</strong> with promo code: <strong class="m_codes">604BV2C4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ooen7l">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="27.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mRfvQh"><img src="https://m.media-amazon.com/images/I/61HjmjAKl5L._SR400,400_.jpg" alt="Truth Nutrition Fermented Vegan BCAA Protein Powder " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mRfvQh">Truth Nutrition Fermented Vegan BCAA Protein Powder Supplement- 2:1:1 Improved Formula is Pure, Powerful All Natural Branched Chain ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.59</span><span class="ori_price">$34.49</span></address>
      <textarea readonly="readonly" class="code_area">20TRUTHBCAA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $34.49</strong> with promo code: <strong class="m_codes">20TRUTHBCAA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mRfvQh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oohxYL"><img src="https://m.media-amazon.com/images/I/51NNmVwSNdL._SR400,400_.jpg" alt="Angela&Alex Halloween Outdoor Decoration" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oohxYL">Angela&Alex Halloween Outdoor Decoration, Trick or Treat Banner for Front Door Display Halloween Decor with Ghost Bat Bones Castle Outdoor Signs Hanging...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">50L1AP4Q</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.99</strong> with promo code: <strong class="m_codes">50L1AP4Q</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oohxYL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oojwfF"><img src="https://m.media-amazon.com/images/I/71inPxkIFjL._SR400,400_.jpg" alt="LUENX Men Aviator Sunglasses Polarized" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oojwfF">LUENX Men Aviator Sunglasses Polarized - UV 400 Protection with case 60MM</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.80</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">60AVIATORS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $16.99</strong> with promo code: <strong class="m_codes">60AVIATORS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oojwfF">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="41" data-price="58.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oq2bTy"><img src="https://m.media-amazon.com/images/I/611T+dZwIeL._SR400,400_.jpg" alt="Over the Sink Dish Drying Rack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oq2bTy">Over the Sink Dish Drying Rack, iSPECLE Large 201 Stainless Steel Dish Rack with Utensil Holder Hooks Space Save for Kitchen Non-Slip Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$58.99</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">41JBSMXG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>41% off at $99.99</strong> with promo code: <strong class="m_codes">41JBSMXG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oq2bTy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="15.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ootpdg"><img src="https://m.media-amazon.com/images/I/61rd7VKZI+L._SR400,400_.jpg" alt="OLEVS Men's Fashion Waterproof Quartz Watch " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ootpdg">OLEVS Men's Fashion Waterproof Quartz Watch with Date Window Luminous Analog Display Wristwatches Man Business Watches with Classic ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.55</span><span class="ori_price">$38.88</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">60UIS7IB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $38.88</strong> with promo code: <strong class="m_codes">60UIS7IB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 02, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ootpdg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mSj9cN"><img src="https://m.media-amazon.com/images/I/61-IGoCK-qL._SR400,400_.jpg" alt="Wood Men Watches" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mSj9cN">Wood Men Watches,Natural Personalized Custome Leather Strap Wristwatch…</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50IYLOO1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50IYLOO1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mSj9cN">Use Code at Amazon</a></div>
</div>
