<div class="card clearfix" data-score="20" data-price="19.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mcZ5Bu"><img src="https://m.media-amazon.com/images/I/71YiqNfSYEL._SR400,400_.jpg" alt="GuavaDNA Guava Leaf Tea 120 Individually Wrapped Teabags" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mcZ5Bu">GuavaDNA Guava Leaf Tea 120 Individually Wrapped Teabags | 100% Pure Guava Leaves, Nothing Else Added. | Great For Digestion,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.96</span><span class="ori_price">$24.95</span></address>
      <textarea readonly="readonly" class="code_area">20AIIH5G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $24.95</strong> with promo code: <strong class="m_codes">20AIIH5G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mcZ5Bu">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lCJGKy"><img src="https://m.media-amazon.com/images/I/81gTlSpfvlL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lCJGKy">AUTMOR Car Trash Can with Lid and Storage Pockets, Auto Car Garbage Can, 100% Leak-Proof Car Organizer, Multipurpose Waterproof Car Trash Bag,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.59</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">40FXPCGV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $15.99</strong> with promo code: <strong class="m_codes">40FXPCGV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lCJGKy">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="25" data-price="25.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lxyX3R"><img src="https://m.media-amazon.com/images/I/61ePYeda+uL._SR400,400_.jpg" alt="Solar Charger 20000mAh RAVPower Portable Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lxyX3R">Solar Charger 20000mAh RAVPower Portable Charger Solar Power Bank with Dual 2.4A Outputs, External Battery Pack with Flashlight...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.29</span><span class="ori_price">$45.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25WXINTS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $45.99</strong> with promo code: <strong class="m_codes">25WXINTS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lxyX3R">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="15" data-price="195.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lxA3wv"><img src="https://m.media-amazon.com/images/I/91MK9K5DoaL._SR400,400_.jpg" alt="Tigerking Digital Safe Box" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lxA3wv">Tigerking Digital Safe Box, Safe for Home, Security Safe -0.85 Cubic Feet</a></p>
    <div class="code_high">
      <address><span class="dis_price">$195.49</span><span class="ori_price">$229.99</span>
        <div class="tooltip_common tooltip_green"><span> + $13.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $13.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">15OCBGEW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $229.99</strong> with promo code: <strong class="m_codes">15OCBGEW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lxA3wv">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="28.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n37h7r"><img src="https://images-na.ssl-images-amazon.com/images/I/713s-3D5c9L._SX425_.jpg" alt="PHYSEN Handheld Vacuum Cordless" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n37h7r">PHYSEN Handheld Vacuum Cordless Car Vacuum Cleaner 6KPa 120W Cyclonic Suction with Upgraded Motorized Rolling Brush and Inner Warehouse ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.00</span><span class="ori_price">$55.99</span></address>
      <textarea readonly="readonly" class="code_area">50R9YQTC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $55.99</strong> with promo code: <strong class="m_codes">50R9YQTC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2n37h7r">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="10.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ncJpOB"><img src="https://m.media-amazon.com/images/I/71Jw3dMrWtL._SR400,400_.jpg" alt="NICAV 7 Set Packing Cubes" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ncJpOB">NICAV 7 Set Packing Cubes, Enlarged Luggage Organizer Travel Packing Cubes with Shoe Bag & Laundry Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.98</span><span class="ori_price">$21.96</span></address>
      <textarea readonly="readonly" class="code_area">50JBWWMN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $21.96</strong> with promo code: <strong class="m_codes">50JBWWMN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ncJpOB">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nbNi6o"><img src="https://m.media-amazon.com/images/I/61QskWZJUUL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nbNi6o">Wireless Earbuds, RegeMoudal Latest Wireless Bluetooth Earbuds with Charging Display, IPX7 Waterproof and Built-in Microphone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.49</span><span class="ori_price">$42.49</span>
        <div class="tooltip_common tooltip_green"><span> + 12% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 12% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40Q6NH2G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $42.49</strong> with promo code: <strong class="m_codes">40Q6NH2G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nbNi6o">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="17.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n7uV2N"><img src="https://m.media-amazon.com/images/I/71Eml2BqH9L._SR400,400_.jpg" alt="RegeMoudal Emergency Solar Hand Crank Radio" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n7uV2N">[2019 Upgraded Version] RegeMoudal Emergency Solar Hand Crank Radio, NOAA Weather Radio for Emergency with AM/FM, LED Flashlight,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.39</span><span class="ori_price">$28.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40S2NKR2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $28.99</strong> with promo code: <strong class="m_codes">40S2NKR2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2n7uV2N">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n5HYli"><img src="https://m.media-amazon.com/images/I/611Nkscb+QL._SR400,400_.jpg" alt="Record Player Turntable Portable Wireless" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n5HYli">Record Player Turntable Portable Wireless LP Belt-Drive 3-Speed Turntable with Built in Stereo Speakers Vintage Style Vinyl Record Player</a></p>
    <div class="code_high">
      <address><span class="dis_price">$49.99</span><span class="ori_price">$99.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">50WNEGXM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $99.99</strong> with promo code: <strong class="m_codes">50WNEGXM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2n5HYli">Use Code at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2mydhEX"><img src="<%=asset_path 'extra_save.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nb0Y1y"><img src="https://m.media-amazon.com/images/I/81-7GRM63jL._SR400,400_.jpg" alt="ProCase ASUS ZenPad 3S 10 9.7 Inch Case" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nb0Y1y">ProCase ASUS ZenPad 3S 10 9.7 Inch Case Z500M - Stand Cover Folio Case for ASUS ZenPad 3S 10 Tablet - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50V2W9PY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">50V2W9PY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nb0Y1y">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2md6tNf"><img src="https://m.media-amazon.com/images/I/71OyPWxITWL._SR400,400_.jpg" alt="ProCase Galaxy Tab A 10.5 Case T590 T595" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2md6tNf">ProCase Galaxy Tab A 10.5 Case T590 T595, Stand Cover Protective Folio Case for Galaxy Tab A 10.5 Inch Tablet (SM-T590, T595) 2018 Release,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50V2AEKR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.99</strong> with promo code: <strong class="m_codes">50V2AEKR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2md6tNf">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2m40zy2"><img src="https://m.media-amazon.com/images/I/61O3C-5ZY6L._SR400,400_.jpg" alt="ENSTER Video Baby Monitor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2m40zy2">ENSTER Video Baby Monitor with Digital Camera, Two-Way Audio, 3.5-Inch Screen, VOX, Long Range, Room Temperature, Infrared Night Vision,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$69.99</span></address>
      <textarea readonly="readonly" class="code_area">504TBTZT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $69.99</strong> with promo code: <strong class="m_codes">504TBTZT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2m40zy2">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="12.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mcXKur"><img src="https://m.media-amazon.com/images/I/61RVebkBMqL._SR400,400_.jpg" alt="LIFE SMART Mini Wall-Outlet Portable Handy Space Heater" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mcXKur">LIFE SMART Mini Wall-Outlet Portable Handy Space Heater, Plug-in Blower with Digital Display and 12 Hour Timer, Electric Heater...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.49</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">50WLQ7HN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $24.99</strong> with promo code: <strong class="m_codes">50WLQ7HN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 29, 2019 at 07:00 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mcXKur">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="15.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n503zZ"><img src="https://m.media-amazon.com/images/I/6125AGD4ORL._SR400,400_.jpg" alt="CONFU Hair Dryer Portable Folding Handle Blow Dryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n503zZ">CONFU Hair Dryer Portable Folding Handle Blow Dryer with Comb, 57 ° C Constant Temperature Hair Care Ionic Infrared Heat Technology 1600W for (Purple)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.39</span><span class="ori_price">$21.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">306JKE2X</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $21.99</strong> with promo code: <strong class="m_codes">306JKE2X</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2n503zZ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="65" data-price="42.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2md24tF"><img src="https://m.media-amazon.com/images/I/61a9loq2t4L._SR400,400_.jpg" alt="SUNROAD Men's Outdoor Sport Digital..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2md24tF">SUNROAD Men's Outdoor Sport Digital Altimeter Watch-Weather Forcast Barometer Altimeter Compass Pedometer Stopwatch Blacklight...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.00</span><span class="ori_price">$119.99</span></address>
      <textarea readonly="readonly" class="code_area">65NF8MC3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $119.99</strong> with promo code: <strong class="m_codes">65NF8MC3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2md24tF">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lyGMGF"><img src="https://m.media-amazon.com/images/I/71T7j4k4veL._SR400,400_.jpg" alt="Wood Men Watches" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lyGMGF">Wood Men Watches, Natural Personalized Custome Leather Strap Wristwatch…</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50IYLOO1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50IYLOO1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lyGMGF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nKaysK"><img src="https://m.media-amazon.com/images/I/71veqS3mCdL._SR400,400_.jpg" alt="LARKKEY WiFi Home Security Surveillance Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nKaysK">LARKKEY WiFi Home Security Surveillance Camera 1080P, Smart Baby Monitor Compatible with Alexa and Google Home, Motion Detection & Tracker,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span> + 15% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 15% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50BMLOEP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">50BMLOEP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nKaysK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nFSMql"><img src="https://m.media-amazon.com/images/I/81uF0jbUODL._SR400,400_.jpg" alt="LED Flashlight" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nFSMql">LED Flashlight - Wsiiroon 1600 Lumen XML-T6 Handhold Flashlight-Portable, Zoomable, Waterproof, Super Brightness with 5 Light Modes...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">30X5YWW5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $14.99</strong> with promo code: <strong class="m_codes">30X5YWW5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 27, 2019 at 10:00 AM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nFSMql">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="42.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lyLFiZ"><img src="https://m.media-amazon.com/images/I/71i1RzZbdSL._SR400,400_.jpg" alt="UPGRADED WONGKUO Action Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lyLFiZ">UPGRADED WONGKUO Action Camera 4K 20MP Ultra HD EIS Anti-shake Sport Camera 98ft Waterproof 170°Wide-Angle WiFi Camcorder with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.39</span><span class="ori_price">$52.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20THEMOM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $52.99</strong> with promo code: <strong class="m_codes">20THEMOM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lyLFiZ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="21.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nLytbf"><img src="https://m.media-amazon.com/images/I/81K7jD40EzL._SR400,400_.jpg" alt="Canteen Purse Circle Crossbody Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nLytbf">Canteen Purse Circle Crossbody Bag for Women Big Crocodile Round Handbag by The Lovely Tote Co.</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.50</span><span class="ori_price">$42.99</span></address>
      <textarea readonly="readonly" class="code_area">50GLE2H4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $42.99</strong> with promo code: <strong class="m_codes">50GLE2H4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 29, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nLytbf">Use Code at Amazon</a></div>
</div>
 
