<div class="card clearfix" data-score="45" data-price="21.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NYJmBm"><img src="https://m.media-amazon.com/images/I/61EmZj+6wUL._SR400,400_.jpg" alt="BIGSUN Q953 10000mAh Rechargeable Spotlight" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NYJmBm">BIGSUN Q953 10000mAh Rechargeable Spotlight Flashlight with 6000 Lumen LED, Foldable Tripod and Strap,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">45MRLBSV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $39.99</strong> with promo code: <strong class="m_codes">45MRLBSV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NYJmBm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="12.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34Fx9HV"><img src="https://m.media-amazon.com/images/I/61MWmvbfOZL._SR400,400_.jpg" alt="AINOPE Car Vacuum Cleaner" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34Fx9HV">AINOPE Car Vacuum Cleaner, 5000PA High Power Stronger Suction Car Vacuum DC 12V/ 90W Handheld Auto Car Cleaner with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.25</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">656GVKK2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $34.99</strong> with promo code: <strong class="m_codes">656GVKK2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34Fx9HV">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="45" data-price="12.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32FW6Bb"><img src="https://m.media-amazon.com/images/I/71CQBPJmkJL._SR400,400_.jpg" alt="sanipoe 360 Rotating Makeup Organizer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32FW6Bb">sanipoe 360 Rotating Makeup Organizer, DIY Adjustable Makeup Carousel Spinning Holder Storage Rack, Large Capacity Make up ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.64</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">45XW9TWB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $22.99</strong> with promo code: <strong class="m_codes">45XW9TWB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32FW6Bb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="18.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34EYdHb"><img src="https://m.media-amazon.com/images/I/41D4X-24I6L._SR400,400_.jpg" alt="USB C Charger for MacBook Pro 2018" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34EYdHb">USB C Charger for MacBook Pro 2018, MacBook Air, iPad Pro 12.9, 11, 61W Thunderbolt 3 Port USB C Power Adapter for Lenovo,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.14</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">45TEWX29</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $32.99</strong> with promo code: <strong class="m_codes">45TEWX29</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34EYdHb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="19.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34GiUCu"><img src="https://m.media-amazon.com/images/I/710CW94HIZL._SR400,400_.jpg" alt="JOSEKO Small Crossbody Purse for Women" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34GiUCu">JOSEKO Small Crossbody Purse for Women, Solid PU leather Clutch Bag Card Bag Phone Bag Crossbody Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.59</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">30J4OLV1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $27.99</strong> with promo code: <strong class="m_codes">30J4OLV1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34GiUCu">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="80" data-price="5.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34EtIBd"><img src="https://m.media-amazon.com/images/I/61XJtptTQ6L._SR400,400_.jpg" alt="USB-C to HDMI Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34EtIBd">USB-C to HDMI Adapter, USB 3.1 Type C to HDMI 4K Multiport AV Converter with USB 3.0 Port and USB C Charging Port...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.20</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">80X9M7GA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $25.99</strong> with promo code: <strong class="m_codes">80X9M7GA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34EtIBd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="12.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LqUnKg"><img src="https://m.media-amazon.com/images/I/61UXx+s33YL._SR400,400_.jpg" alt="Classic Aviator Sunglasses" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LqUnKg">Classic Aviator Sunglasses for Women PARZIN Men UV400 Sun Glasses Metal Frame Shades</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.79</span><span class="ori_price">$15.99</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">207PCD56</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $15.99</strong> with promo code: <strong class="m_codes">207PCD56</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LqUnKg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Q3cPNi"><img src="https://m.media-amazon.com/images/I/71+vgC-oGHL._SR400,400_.jpg" alt="6 Outlet Wall Tap Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Q3cPNi">6 Outlet Wall Tap Adapter, Grounded Wall Plug Extender Splitter, Multi Wall Plug Outlet,Wall Mount Socket Expander,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">504QKKCJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.99</strong> with promo code: <strong class="m_codes">504QKKCJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Q3cPNi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="36.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NUlE9z"><img src="https://m.media-amazon.com/images/I/81Y-Z0QApkL._SR400,400_.jpg" alt="Original Grass Fed Ghee Butter..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NUlE9z">Original Grass Fed Ghee Butter by 4th & Heart, 32 Ounce (2 x 16oz Jars), Pasture Raised, Non-GMO, Lactose and Casein Free, Certified Paleo, Keto-Friendly</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.24</span><span class="ori_price">$42.63</span></address>
      <textarea readonly="readonly" class="code_area">15HEART</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $42.63</strong> with promo code: <strong class="m_codes">15HEART</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NUlE9z">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nbn0gt"><img src="https://m.media-amazon.com/images/I/61YnUo9CQQL._SR400,400_.jpg" alt="Key Holder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nbn0gt">Key Holder - wishacc Wall Mounted Key Hook Decorative Key Organizer Rack with 3 Hooks</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">50RUG6YI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $23.99</strong> with promo code: <strong class="m_codes">50RUG6YI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Nbn0gt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="33.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LL2oIL"><img src="https://m.media-amazon.com/images/I/61GkUCNyKoL._SR400,400_.jpg" alt="Otinlai Under Cabinet Lights Wireless..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LL2oIL">Otinlai Under Cabinet Lights Wireless LED Motion Sensor Lights Full Screen Illumination 54 LED Cabinet Lighting LED...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$33.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">15RBTIGV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $39.99</strong> with promo code: <strong class="m_codes">15RBTIGV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LL2oIL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="83.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NUR7bw"><img src="https://m.media-amazon.com/images/I/51EHcBRZy4L._SR400,400_.jpg" alt="AODI Swing Scooter 3 Wheels" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NUR7bw">AODI Swing Scooter 3 Wheels Adjustable Foldable Drifting Wiggle Scooter with 3-Wheeled Self Propelling for Boys/Girl/Adult...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$83.99</span><span class="ori_price">$119.99</span></address>
      <textarea readonly="readonly" class="code_area">30AYQSO3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $119.99</strong> with promo code: <strong class="m_codes">30AYQSO3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NUR7bw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34ETipN"><img src="https://m.media-amazon.com/images/I/61nrueULSuL._SR400,400_.jpg" alt="Blumenwelt Magnetic Eyelashes..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34ETipN">Blumenwelt Magnetic Eyelashes Dual Magnets False Eyelashes NO Glue Fake Lashes Extension, Natural Look 8 Pieces /2 pair …</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">703A89JB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $14.99</strong> with promo code: <strong class="m_codes">703A89JB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34ETipN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34FHeV9"><img src="https://m.media-amazon.com/images/I/61dEtH8xBCL._SR400,400_.jpg" alt="MOSSY OAK Tactical LED Flashlight" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34FHeV9">MOSSY OAK Tactical LED Flashlight Shock-proof 500 Lumens and Headlamp 300 Lumens, Battery Powered Helmet Light Combo Kit for Camping,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">70KEQ46O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $24.99</strong> with promo code: <strong class="m_codes">70KEQ46O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34FHeV9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AdCacQ"><img src="https://m.media-amazon.com/images/I/61fAfu0TRuL._SR400,400_.jpg" alt="CHISANA Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AdCacQ">CHISANA Wireless Earbuds – Bluetooth Headphones 5.0 w/QI Wireless 2200mAh Charging Case | 3D Stereo Sound Deep Bass in-Ear...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.00</span><span class="ori_price">$60.00</span></address>
      <textarea readonly="readonly" class="code_area">65JRL26A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $60.00</strong> with promo code: <strong class="m_codes">65JRL26A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2AdCacQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Q5B79k"><img src="https://m.media-amazon.com/images/I/718-XVeNhRL._SR400,400_.jpg" alt="Tenda MW6 Nova Wave 2" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Q5B79k">Tenda MW6 Nova Wave 2 802.11AC, Mu-Mimo Whole Home Wi-Fi Mesh System, 3-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$99.99</span><span class="ori_price">$117.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">18OFFMW63PK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $117.99</strong> with promo code: <strong class="m_codes">18OFFMW63PK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Q5B79k">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="7.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NbY0FO"><img src="https://m.media-amazon.com/images/I/51IHmFEgNOL._SR400,400_.jpg" alt="BELLY BULLY Dietary Liquid..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NbY0FO">(2019 New Package) BELLY BULLY Dietary Liquid Jelly-Drink Erythritol-No Sugar, Low Calorie, Diet Healthy Snack for Losing Weight...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.92</span><span class="ori_price">$9.90</span></address>
      <textarea readonly="readonly" class="code_area">20GODIET</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $9.90</strong> with promo code: <strong class="m_codes">20GODIET</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NbY0FO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="9.28">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2I4snKd"><img src="https://m.media-amazon.com/images/I/51WmqBhFp4L._SR400,400_.jpg" alt="【2019 Latest】 HDTV Antenna Transparent..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2I4snKd">【2019 Latest】 HDTV Antenna Transparent Acrylic Indoor Digital TV Antenna with Color Changing Lights, DUMSAMKER 60-80 Miles Range....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.28</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">68XANZQQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>68% off at $28.99</strong> with promo code: <strong class="m_codes">68XANZQQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2I4snKd">Use Code at Amazon</a></div>
</div>