<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KNjLvA"><img src="https://m.media-amazon.com/images/I/61Y72hmxTJL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2KNjLvA">SkyGenius Rainfall Fixed Shower Head</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $14.99</strong> using code:40MIFS1W</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KNjLvA">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DgJS7E"><img src="https://m.media-amazon.com/images/I/71hoeB4KlfL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DgJS7E">Binwo Super Bright 2000 Lumen XML T6 LED Tactical Flashlight Zoomable Adjustable Focus 5 Modes Water Resistant Torch Light for Outdoor Sports</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $25.99</strong> using code:50RSAAA7</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DgJS7E">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="67" data-price="25.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UAeT1c"><img src="https://m.media-amazon.com/images/I/71KSZSXArOL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2UAeT1c">STYLEWORD Women's Cold Shoulder Long Sleeves Casual Tunic Tops for Leggings</a></p>
    <div class="code_high">
      <p><span>Take <strong>67% off at $25.88</strong> using code:67RA5BV5</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2UAeT1c">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DcZb1i"><img src="https://m.media-amazon.com/images/I/71hTfWqg-QL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DcZb1i">ZESICA Women's Summer Floral Printed Short Sleeve Asymmetrical Loose Tunic Blouse Tops</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $26.99</strong> using code:501KZH2O</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="prohttps://amzn.to/2DcZb1iduct_link">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="66.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X8ZQYY"><img src="https://m.media-amazon.com/images/I/516p007yWQL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2X8ZQYY">Ctronics WiFi Camera Outdoor, 1080P Wireless Security IP Camera with 110°Wide View</a></p>
    <div class="code_high">
      <p><span>Take <strong>45% off at $66.99</strong> using code:45539Y2Q</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2X8ZQYY">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="42.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DgAfpB"><img src="https://m.media-amazon.com/images/I/81ymu501h0L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DgAfpB">JOUSEN Men's Dress Shoes Leather Brogue Oxford Wingtip Casual Shoes</a></p>
    <div class="code_high">
      <p><span>Take <strong>35% off at $42.99</strong> using code:359ATVKK</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DgAfpB">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DfhAdE"><img src="https://m.media-amazon.com/images/I/71t136flagL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DfhAdE">BRIMAX 240W Outdoor Dimmer Plug Switch For G40/S14 Led String Light</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $22.99</strong> using code:501IT9RU</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DfhAdE">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="38.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DdYZyX"><img src="https://m.media-amazon.com/images/I/717et28igaL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DdYZyX">HD Professional Low Light Vision Binoculars for Bird Watching Travel Hunting Sports Concerts- BAK4 Prism FMC Lens with Strap Carrying Bag</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $38.99</strong> using code:40T4GDU1</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DdYZyX">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XhzB2N"><img src="https://m.media-amazon.com/images/I/61sAm49NviL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XhzB2N">Bruno Marc Men's Rivera Oxfords Shoes SneakersBruno Marc Men's Rivera Oxfords Shoes Sneakers</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $26.99</strong> using code:20SJN42B</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XhzB2N">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="33.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XbAKJd"><img src="https://m.media-amazon.com/images/I/61dzTEeJmgL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XbAKJd">PFFY 360 Degree Rotating Makeup Organizer Make Up Organizers</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $33.95</strong> using code:604KWRE7</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XbAKJd">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZdLfxq"><img src="https://m.media-amazon.com/images/I/614XrhB3MTL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>18.99% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2ZdLfxq">MIDOSOO Womens Short Sleeve Pleated Loose Swing Casual Knee Length Dress with PocketsMIDOSOO Womens Short Sleeve Pleated Loose Swing Casual Knee Length Dress with Pockets</a></p>
    <div class="code_high">
      <p><span>Take <strong>18.99% off at $18.99</strong> using code:30B4AO14</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZdLfxq">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="23.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZdM49u"><img src="https://m.media-amazon.com/images/I/71sc44eCRjL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2ZdM49u">Verdusa Women's Batwing Sleeve Sweaters Jumper Eyelash Lace Pullover TopsVerdusa Women's Batwing Sleeve Sweaters Jumper Eyelash Lace Pullover Tops</a></p>
    <div class="code_high">
      <p><span>Take <strong>80% off at $23.59</strong> using code:80OGCN8P</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZdM49u">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2De6gP3"><img src="https://m.media-amazon.com/images/I/61byB-zZykL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2De6gP3">NEILDEN DIY 5D Diamond Painting by Number Kit for Adult</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $12.99</strong> using code:50MEJDUU</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2De6gP3">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DegdMu"><img src="https://m.media-amazon.com/images/I/610xOeLAtaL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DegdMu">Roll over image to zoom inZastone Mini Walkie Talkies 2W 16-Channel UHF 400-470 mhz Handheld Long Range Two-Way Radio Silver 1 pc</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $20.99</strong> using code:50CG7SRQ</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DegdMu">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DezXzr"><img src="https://m.media-amazon.com/images/I/61iC4EvAVPL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DezXzr">Halife Women's Casual Christmas Holiday Reindeer Snowflake Letter Printed Raglan Long Sleeve T Shirt...</a></p>
    <div class="code_high">
      <p><span>Take <strong>70% off at $15.99</strong> using code:70KCUVO6</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DezXzr">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="32.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Dczyxw"><img src="https://m.media-amazon.com/images/I/71+PQGmoYFL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Dczyxw">Wireless Security Camera, Meisort 1080P WiFi Home Security Camera for Baby/Elder/Pet/Nanny Monitor</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $32.99</strong> using code:40ODX1ZS</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Dczyxw">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DfjPxA"><img src="https://m.media-amazon.com/images/I/51OxYec3YCL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DfjPxA">MEISORT USB Mini Super-bright Rechargeable Flashlight</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $8.99</strong> using code:50J3R6WQ</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DfjPxA">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X7nhlw"><img src="https://m.media-amazon.com/images/I/41O4j5SnqGL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2X7nhlw">osture Brace with Magic Sticker Adjustable Back Straightener Back Brace for Back Pain Relief Comfortable...</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $16.99</strong> using code:20CNZMFJ</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2X7nhlw">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="11.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X7t0rE"><img src="https://m.media-amazon.com/images/I/51jdjIcr0DL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2X7t0rE">NANW Compatible Fitbit Charge 3 Charger Dock Stand Station</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $11.59</strong> using code:303HXQWN</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2X7t0rE">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XaRekI"><img src="https://m.media-amazon.com/images/I/61nhgz-FqkL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XaRekI">Solar Globe Bulb Lights, Outdoor Waterproof 11.5ft 10 LED Clear Plastic Solar Powered Christmas Bulbs Lights</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $13.99</strong> using code:509LLBQB</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XaRekI">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Dg41eb"><img src="https://m.media-amazon.com/images/I/71M9m9CI2PL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Dg41eb">Solar Outdoor String Light 30LED 20ft Water Drop Fairy String Lights </a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $16.99</strong> using code:509LLBQB</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Dg41eb">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KG2tQN"><img src="https://m.media-amazon.com/images/I/81g061BWnTL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2KG2tQN">30 LED 20ft Crystal Ball Waterproof Outdoor Fairy String Lights Solar Powered Christmas Decoration Lights</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $17.99</strong> using code:509LLBQB</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KG2tQN">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="18.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KEQUtg"><img src="https://m.media-amazon.com/images/I/71zSFoYQU0L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2KEQUtg">SZLTZK 3D Night Light for Kids Baby (Velociraptor)</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $18.88</strong> using code:60ZKBDS5</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KEQUtg">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="26.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Dd1d1q"><img src="https://m.media-amazon.com/images/I/71ylvtrQi1L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Dd1d1q">udiag OBD2 Scanner OBD Car Diagnostic Tool Obdii Scanners </a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $26.99</strong> using code:303UUSBG</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Dd1d1q">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="75.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DfYR1P"><img src="https://m.media-amazon.com/images/I/81dm+1r1sLL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DfYR1P">Laminator Machine for A3/A4/A6, YE381 Thermal Laminating Machine</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $75.99</strong> using code:4055ZFG6</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DfYR1P">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="26.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IxWeM7"><img src="https://m.media-amazon.com/images/I/71kUe1QrGxL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IxWeM7">WooHoo Toys Children Pink Princess Castle Playhouse Play Tent For Girls</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $26.95</strong> using code:50KQHZLV</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IxWeM7">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="11" data-price="40.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Gf6F4t"><img src="https://m.media-amazon.com/images/I/61hl-ol4x1L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>11% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Gf6F4t">YESHOME 3 Piece Quilt Set Diamond Pattern Quilt Lightweight Soft All Season Bedspread Coverlet</a></p>
    <div class="code_high">
      <p><span>Take <strong>11% off at $40.99</strong> using code:11EDFCON</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Gf6F4t">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZcuvXl"><img src="https://m.media-amazon.com/images/I/51Y+JmwRJBL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2ZcuvXl">HLTPRO Silicone Ring for Men and Women - 5/8 Pack Wedding Rubber Bands - Width 8mm for Sports, Outdoor</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $4.99</strong> using code:40PHGCD1</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZcuvXl">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2De7LNb"><img src="https://m.media-amazon.com/images/I/6147vyfpp9L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2De7LNb">diig Women Button Down Shirt, Long Sleeve Uniform Cotton Dress Shirts for Women Work</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $22.99</strong> using code:40V6ZAFI</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2De7LNb">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DcYANa"><img src="https://m.media-amazon.com/images/I/61VXQu+6TcL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DcYANa">MDC Womens Minimalist Ultra Thin Leather Slim Watch Dress Casual Classic Simple Wrist Watches for Lady</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $24.99</strong> using code:50MD016GDL</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DcYANa">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="6" data-price="14.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GnRDec"><img src="https://m.media-amazon.com/images/I/61V5+h4PwRL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>6% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GnRDec">GB-Tech Upgraded Professional Adjustable Desktop Microphone Suspension Boom Scissor Arm Stand Holder</a></p>
    <div class="code_high">
      <p><span>Take <strong>6% off at $14.86</strong> using code:06K1PJXU</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GnRDec">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DhWbAS"><img src="https://m.media-amazon.com/images/I/61ngfF1IWKL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DhWbAS">Flend Premium Quality False Eyelashes, 1 Pair Reusable 3D Fake Eyelashes with 1 Tweezer</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $17.99</strong> using code:60AESSI6</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DhWbAS">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XhGiBX"><img src="https://m.media-amazon.com/images/I/81JQ+eWqI8L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XhGiBX">Cornmi iPhone XR Case,Retro PU Leather Wallet Folio Flip Case</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $17.99</strong> using code:30Y5SXBH</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XhGiBX">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="56" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DhWo78"><img src="https://m.media-amazon.com/images/I/619dcFO4SyL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DhWo78">Food Cooking Thermometer with Digital Meat Thermometer for Kitchen</a></p>
    <div class="code_high">
      <p><span>Take <strong>56% off at $14.99</strong> using code:56FYZ68P</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DhWo78">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="ㅊ5" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KEJXII"><img src="https://m.media-amazon.com/images/I/91OQDjBKI6L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2KEJXII">prodULAK iPhone 8 Plus Case, iPhone 7 Plus Wallet Case,Floral PU Leather Wallet Case...</a></p>
    <div class="code_high">
      <p><span>Take <strong>15% off at $10.99</strong> using code:15V5A3T8</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KEJXII">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="43.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xeq24t"><img src="https://m.media-amazon.com/images/I/71rVcU4JV6L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Xeq24t">BNCHI 2 in 1 Aluminum Alloy Phone Wireless Charger Stand & Charging Station</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $43.96</strong> using code:40ZJVGLA</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xeq24t">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="66.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XffsdK"><img src="https://m.media-amazon.com/images/I/71bFciL6REL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XffsdK">AICOK Electric Meat Grinder, Stainless Steel Meat Mincer & Sausage Stuffer,</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $66.99</strong> using code:20284U8D</span></p>
      <em>*Pricing may change or expire at anytime.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XffsdK">Copy & Use code</a>
  </div>
</div>



 