<div class="card clearfix" data-score="40" data-price="7.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n2r9I2"><img src="https://m.media-amazon.com/images/I/517gPcxiJ4L._SR400,400_.jpg" alt="3 in 1 Charging Stand " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n2r9I2">3 in 1 Charging Stand for iPhone AirPods Apple Watch Charger Dock Station Silicone,Support for Apple Watch Series...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.19</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">402X4NLE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $11.99</strong> with promo code: <strong class="m_codes">402X4NLE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2n2r9I2">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="51" data-price="19.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2os5ysV"><img src="https://m.media-amazon.com/images/I/718xXqvrtvL._SR400,400_.jpg" alt="Wireless Charger for iPhone Charging Station" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2os5ysV">Wireless Charger for iPhone Charging Station for Apple, Wireless Charging Pad Stand for iPhone, Apple Watch Charging Stand...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.60</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">51KS9AC9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $Original_price</strong> with promo code: <strong class="m_codes">51KS9AC9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2os5ysV">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="16.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nNzK1o"><img src="https://m.media-amazon.com/images/I/61wXEQTr-1L._SR400,400_.jpg" alt="Monitor Stand Riser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nNzK1o">Monitor Stand Riser, MAD GIGA Computer Monitor Stand with Adjustable Width and Storage Organizer Drawer for iMac, Printer, Laptop,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.89</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span> + 7% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 7% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35SSGBO4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $25.99</strong> with promo code: <strong class="m_codes">35SSGBO4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nNzK1o">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ovb661"><img src="https://m.media-amazon.com/images/I/51u+wa6os6L._SR400,400_.jpg" alt="USB C Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ovb661">USB C Charger, RAVPower 18W USB C Power Adapter PD Wall Charger Dual Port USB Charging Adapter, Compatible for iPhone 11/11 Pro...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_green"><span> + $3.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $3.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20YMK9LH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $19.99</strong> with promo code: <strong class="m_codes">20YMK9LH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ovb661">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="25" data-price="20.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nNCo7l"><img src="https://m.media-amazon.com/images/I/61ZMdBy4uVL._SR400,400_.jpg" alt="Portable Charger RAVPower 18W PD 10000mAh Portable Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nNCo7l">Portable Charger RAVPower 18W PD 10000mAh Portable Charger 10000 USB C Power Bank External Battery Pack for Smartphone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.24</span><span class="ori_price">$18.69</span></address>
      <textarea readonly="readonly" class="code_area">25I2JPC8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $18.69</strong> with promo code: <strong class="m_codes">25I2JPC8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nNCo7l">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="10" data-price="233.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mPRvxb"><img src="https://m.media-amazon.com/images/I/81f7RBmni0L._SR400,400_.jpg" alt="Asus Gaming Monitors" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mPRvxb">Asus Gaming Monitors</a></p>
    <div class="code_high">
      <address><span class="dis_price">$233.99</span><span class="ori_price">$259.99</span></address>
      <textarea readonly="readonly" class="code_area">10ROGSYNC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $259.99</strong> with promo code: <strong class="m_codes">10ROGSYNC</strong></span></p><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mPRvxb">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mNk1iV"><img src="https://m.media-amazon.com/images/I/51rWW-BhGLL._SR400,400_.jpg" alt="4 in 1 Lotion Shampoo Gel Travel Dispenser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mNk1iV">4 in 1 Lotion Shampoo Gel Travel Dispenser, Chivenido Travel Bottles Set Leak Proof Refillable Cosmetic Containers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">50PGKYAW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $13.99</strong> with promo code: <strong class="m_codes">50PGKYAW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mNk1iV">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oshRWc"><img src="https://m.media-amazon.com/images/I/71jgI1vc+xL._SR400,400_.jpg" alt="One-Step Hair Dryer ..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oshRWc">[2019] One-Step Hair Dryer & Volumizer Hot Air Brush, 3-in-1 Hair Dryer Brush Styler for Straightening, Curling, Salon Negative Ion Ceramic ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">30D4GDDN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $39.99</strong> with promo code: <strong class="m_codes">30D4GDDN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oshRWc">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="11.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2opkfNo"><img src="https://m.media-amazon.com/images/I/81eJFrNk+JL._SR400,400_.jpg" alt="Magnetic Wristband" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2opkfNo">Magnetic Wristband, Tools with N38 Grade Strong Magnets for Holding Screws, Nails Drill Bits, Tools for Men, Father/Dad, Husband, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.19</span><span class="ori_price">$15.98</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30WJY3QX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $15.98</strong> with promo code: <strong class="m_codes">30WJY3QX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 04:00 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2opkfNo">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mZ3ZCo"><img src="https://m.media-amazon.com/images/I/7151XE3uXqL._SR400,400_.jpg" alt="Loocam 1080p PoE IP Outdoor Video Security Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mZ3ZCo">Loocam 1080p PoE IP Outdoor Video Security Camera, 36PCS IR LED 150ft Night Vision Home Surveillance Camera, IP67 Waterproof Security Indoor and Outdoor Camera</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">406IAY34</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $49.99</strong> with promo code: <strong class="m_codes">406IAY34</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mZ3ZCo">Use Code at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
 
<div class="card clearfix" data-score="40" data-price="41.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ovrzXT"><img src="https://m.media-amazon.com/images/I/61NygAePbqL._SR400,400_.jpg" alt="WiFi Inspection Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ovrzXT">WiFi Inspection Camera, 5MP Auto Focus Snake Camera for iPhone,Samsung,Andorid</a></p>
    <div class="code_high">
      <address><span class="dis_price">$41.39</span><span class="ori_price">$68.99</span>
        <div class="tooltip_common tooltip_green"><span> + 6% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 6% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40R3M8LM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $68.99</strong> with promo code: <strong class="m_codes">40R3M8LM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ovrzXT">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ovtbAV"><img src="https://m.media-amazon.com/images/I/71KTsFBq9xL._SR400,400_.jpg" alt="SEATZONE Office Desk Chair " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ovtbAV">SEATZONE Office Desk Chair Ergonomic Computer Foldable Chair Lumbar Support Breathable Mesh Executive Chair</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.99</span><span class="ori_price">$99.98</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">405KHSWB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $99.98</strong> with promo code: <strong class="m_codes">405KHSWB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ovtbAV">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n3zUll"><img src="https://m.media-amazon.com/images/I/71veqS3mCdL._SR400,400_.jpg" alt="LARKKEY WiFi Home Security Surveillance Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n3zUll">LARKKEY WiFi Home Security Surveillance Camera 1080P, Smart Baby Monitor Compatible with Alexa and Google Home, Motion Detection & Tracker,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50GGA25Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50GGA25Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2n3zUll">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mZcbm8"><img src="https://m.media-amazon.com/images/I/61o0eIatlbL._SR400,400_.jpg" alt="HAUSBELL Flashlight T8 LED Flashlights" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mZcbm8">HAUSBELL Flashlight T8 LED Flashlights 3 Modes Adjustable Flashlight Focus Zoomable for Indoor and Outdoor Lighting, Camping, Hiking...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">60MPBJ2C</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $14.99</strong> with promo code: <strong class="m_codes">60MPBJ2C</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 02, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mZcbm8">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="12.08">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mQQ81c"><img src="https://m.media-amazon.com/images/I/719By1XY0zL._SR400,400_.jpg" alt="DIMJ Packing Cubes for Travel" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mQQ81c">DIMJ Packing Cubes for Travel, 9 Pcs Travel Cubes Set Foldable Suitcase Organizer Lightweight Luggage Storage Bag 5 Colors Options (Blue)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.08</span><span class="ori_price">$18.59</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35PG63MV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $18.59</strong> with promo code: <strong class="m_codes">35PG63MV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mQQ81c">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="99.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oszAg9"><img src="https://m.media-amazon.com/images/I/81bqDzaHBCL._SR400,400_.jpg" alt="O&K FURNITURE 5-Tier Industrial Style Bookshelf" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oszAg9">O&K FURNITURE 5-Tier Industrial Style Bookshelf, Wood and Metal Bookcases Furniture, 70" H Gray- Brown</a></p>
    <div class="code_high">
      <address><span class="dis_price">$99.00</span><span class="ori_price">$198.00</span></address>
      <textarea readonly="readonly" class="code_area">50DM1H69</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $198.00</strong> with promo code: <strong class="m_codes">50DM1H69</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oszAg9">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="5.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2me5Wup"><img src="https://m.media-amazon.com/images/I/71ANe2rT4mL._SR400,400_.jpg" alt="Vinsguir Quick Dry Microfiber Towel" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2me5Wup">Vinsguir Quick Dry Microfiber Towel(3 Size), Camping & Travel & Beach & Workout Towels - Super Absorbent, Ultra Compact, Lightweight...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.50</span><span class="ori_price">$10.99</span></address>
      <textarea readonly="readonly" class="code_area">50VJS57C</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $10.99</strong> with promo code: <strong class="m_codes">50VJS57C</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2me5Wup">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="19.73">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nLUtTq"><img src="https://m.media-amazon.com/images/I/81cho7+BP2L._SR400,400_.jpg" alt="NOOLA 40L Military Tactical Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nLUtTq">NOOLA 40L Military Tactical Backpack 3 Day Pack Molle Bag Backpack Army Rucksack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.73</span><span class="ori_price">$32.89</span></address>
      <textarea readonly="readonly" class="code_area">40Z73VUU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $32.89</strong> with promo code: <strong class="m_codes">40Z73VUU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nLUtTq">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="65" data-price="8.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oz9k45"><img src="https://m.media-amazon.com/images/I/51DnNsQ-mPL._SR400,400_.jpg" alt="Niuniu Daddy 20 Inches Soft Plush Polar Bear Pillow" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oz9k45">Niuniu Daddy 20 Inches Soft Plush Polar Bear Pillow Gift Toy Stuffed Animal Hugging Cute Plush Pet Pillow Decoration for Office Nursery...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.75</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">65BLUDQB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $24.99</strong> with promo code: <strong class="m_codes">65BLUDQB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oz9k45">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oyvgMB"><img src="https://m.media-amazon.com/images/I/714bhiY1WdL._SR400,400_.jpg" alt="FASCINATE Lighted Makeup Mirror" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oyvgMB">FASCINATE Lighted Makeup Mirror, Trifold Vanity Mirror with 21 LED Lights and 2X/3X /10X Magnification, Touch Screen Dimming, Dual Power Supply,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.79</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">40RUNS9G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $27.99</strong> with promo code: <strong class="m_codes">40RUNS9G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2oyvgMB">Use Code at Amazon</a></div>
</div>
 
