<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lxWZvF"><img src="https://m.media-amazon.com/images/I/71P7iRMoytL._SR400,400_.jpg" alt="CompactTravel Umbrella" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lxWZvF">CompactTravel Umbrella with Lipstick Case, Perfect for Car Umbrella</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.98</span></address>
      <textarea readonly="readonly" class="code_area">505DDBTE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.98</strong> with promo code: <strong class="m_codes">505DDBTE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lxWZvF">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mCOz6c"><img src="https://m.media-amazon.com/images/I/717D7mykvfL._SR400,400_.jpg" alt="Power Strip Surge Protector" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mCOz6c">Power Strip Surge Protector with 5 USB Ports (30W/6A) and 7 Outlets (1625W/13A), 2100 Joules, 6ft Heavy Duty Extension Cord,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40WF2T3F</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.99</strong> with promo code: <strong class="m_codes">40WF2T3F</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mCOz6c">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mCPlA8"><img src="https://m.media-amazon.com/images/I/81jG-OufWyL._SR400,400_.jpg" alt="Professional Gaming Mouse Wired" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mCPlA8">Professional Gaming Mouse Wired, 4 DPI Adjustable,Colors LED Backlight,USB Optical Mice for Laptop PC Computer Games & Work</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">50PVGKBL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.99</strong> with promo code: <strong class="m_codes">50PVGKBL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mCPlA8">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mDa2vP"><img src="https://m.media-amazon.com/images/I/61n-ZX5jynL._SR400,400_.jpg" alt="Reazeal New Ear Wax Vacuum Removal Kit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mDa2vP">Reazeal New Ear Wax Vacuum Removal Kit，Ear Cleaner, Electric Earwax Removal Tools for Adults and Kids，Safe Remover...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">50CLEANER</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $22.99</strong> with promo code: <strong class="m_codes">50CLEANER</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mDa2vP">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2myBCdX"><img src="https://m.media-amazon.com/images/I/61mWofzgJnL._SR400,400_.jpg" alt="Wine Tumbler" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2myBCdX">Wine Tumbler With Lid Double Wall Vacuum Insulated Stainless Steel Stemless Wine Tumbler With Lid & Straw Funny...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">50LQ4XK2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">50LQ4XK2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2myBCdX">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="19.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n1HKeM"><img src="https://m.media-amazon.com/images/I/81fWwMvAW5L._SR400,400_.jpg" alt="LotFancy Car Trunk Organizer for Auto SUV" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n1HKeM">LotFancy Car Trunk Organizer for Auto SUV, Trunk Storage Box, Collapsible Cargo Organizer with Nonslip Bottom, Side Pockets,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.50</span><span class="ori_price">$38.99</span></address>
      <textarea readonly="readonly" class="code_area">50OV1AL7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $38.99</strong> with promo code: <strong class="m_codes">50OV1AL7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2n1HKeM">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="15" data-price="39.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lpVYpB"><img src="https://m.media-amazon.com/images/I/81pOF6XzeyL._SR400,400_.jpg" alt="Tecware Phantom 87 Key Mechanical Keyboard" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lpVYpB">Tecware Phantom 87 Key Mechanical Keyboard, RGB led, Outemu Brown Switch</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.09</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">15GHJ92S</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $45.99</strong> with promo code: <strong class="m_codes">15GHJ92S</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lpVYpB">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="75" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2kV1mR4"><img src="https://m.media-amazon.com/images/I/61X0NSDCm9L._SR400,400_.jpg" alt="LOBKIN Foldable Personal Portable Mini Desk Fans" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2kV1mR4">LOBKIN Foldable Personal Portable Mini Desk Fans with USB Rechargeable 2600mAh Battery Operated Electric Fan for Office Room Outdoor...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">752Q2ORE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $27.99</strong> with promo code: <strong class="m_codes">752Q2ORE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2kV1mR4">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="80" data-price="6.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mDfz5z"><img src="https://m.media-amazon.com/images/I/51dYiWYmvHL._SR400,400_.jpg" alt="7 in 1 USB 2.0 Hub with Separate Power Switch" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mDfz5z">7 in 1 USB 2.0 Hub with Separate Power Switch, LEDs and A USB Cable Compatible for All USB Device</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.60</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">80KNQG9K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $32.99</strong> with promo code: <strong class="m_codes">80KNQG9K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mDfz5z">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n3S4mx"><img src="https://m.media-amazon.com/images/I/61yp1Mqk80L._SR400,400_.jpg" alt="USB C Hub Adapter Dongle for MacBook Air" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n3S4mx">USB C Hub Adapter Dongle for MacBook Air, MacBook Pro with 4K 60Hz HDMI, 87W Power Delivery, 2 USB 3.0 Ports and SD/TF Card Reader</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_green"><span> + 12% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 12% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">504JPE6Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">504JPE6Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2n3S4mx">Use Code at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2mydhEX"><img src="<%=asset_path 'extra_save.png' %>" alt="Save $10 when you spend $100" /></a></div>
 
<div class="card clearfix" data-score="15" data-price="7.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n7giwn"><img src="https://m.media-amazon.com/images/I/512ju2UJQZL._SR400,400_.jpg" alt="TOPIST Angry Mama Microwave Cleaner" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n7giwn">TOPIST Angry Mama Microwave Cleaner Angry Mom Microwave Oven Steam Cleaner and Disinfects With Vinegar and Water for Kitchens,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.55</span><span class="ori_price">$8.88</span></address>
      <textarea readonly="readonly" class="code_area">151M3816</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $8.88</strong> with promo code: <strong class="m_codes">151M3816</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2n7giwn">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="32" data-price="19.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2myJX14"><img src="https://m.media-amazon.com/images/I/61KqpPvmOCL._SR400,400_.jpg" alt="Smoothie Blender" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2myJX14">Smoothie Blender, BILACA Personal Blender Single Serve for Shakes and Smoothies,Frozen Fruit Blender With 18oz BPA-Free Sport Bottles,300W</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.71</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">32A4MBJE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>32% off at $28.99</strong> with promo code: <strong class="m_codes">32A4MBJE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2myJX14">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="55.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mYF69A"><img src="https://m.media-amazon.com/images/I/61GiGU4rrqL._SR400,400_.jpg" alt="Electric Pressure Cooker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mYF69A">Electric Pressure Cooker, BILACA 6 Qt 9-in-1 Multi Programmable Pressure Cooker,Slow Cooker,Rice Cooker,Steamer,Yogurt Maker,Saut...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$55.98</span><span class="ori_price">$69.98</span>
        <div class="tooltip_common tooltip_green"><span> + 16% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 16% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20JZ857V</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $69.98</strong> with promo code: <strong class="m_codes">20JZ857V</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mYF69A">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="30.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2murGSB"><img src="https://m.media-amazon.com/images/I/51FbQmamGBL._SR400,400_.jpg" alt="KingCamp Mummy Sleeping Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2murGSB">KingCamp Mummy Sleeping Bag 8.6 Degree F 300g/m2 Warm Loft Filling Cold Weather Ultra Compact for Camping Backpacking 4...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.39</span><span class="ori_price">$37.99</span></address>
      <textarea readonly="readonly" class="code_area">20GCECSW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $37.99</strong> with promo code: <strong class="m_codes">20GCECSW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2murGSB">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="80" data-price="7.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lq8qWn"><img src="https://m.media-amazon.com/images/I/61seelU3kTL._SR400,400_.jpg" alt="AQwzh Phone Camera Lens" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lq8qWn">AQwzh Phone Camera Lens, 12X Zoom Telephoto Lens for Smartphone 2 in 1 HD Dual Focus Monocular for Adults Clip on Telephone Lens Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.40</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">801XAFUE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $36.99</strong> with promo code: <strong class="m_codes">801XAFUE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lq8qWn">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lq9FVx"><img src="https://m.media-amazon.com/images/I/81ocWemM2RL._SR400,400_.jpg" alt="TRSCIND Cool Survival LED Paracord Bracelet Birthday Gift Gadgets" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lq9FVx">TRSCIND Cool Survival LED Paracord Bracelet Birthday Gift Gadgets for Men Boyfriend Teen Boy Scouts, 6-in-1 Survival Bracelet SOS Everyday...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">50IFVFM7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $13.99</strong> with promo code: <strong class="m_codes">50IFVFM7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lq9FVx">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="20.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lyKWhH"><img src="https://m.media-amazon.com/images/I/71Lg27yUmpL._SR400,400_.jpg" alt="TRSCIND Survival Gear Kit 11 in 1 Molle Pouch EDC Survival Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lyKWhH">TRSCIND Survival Gear Kit 11 in 1 Molle Pouch EDC Survival Bag, SOS Emergency Tool for Camping, Hiking,Trekking Wild Adventure Earthquake,..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.92</span><span class="ori_price">$29.88</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30JM9A2X</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $29.88</strong> with promo code: <strong class="m_codes">30JM9A2X</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lyKWhH">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2kVeUMq"><img src="https://m.media-amazon.com/images/I/61Dhv71WYxL._SR400,400_.jpg" alt="Lighted Makeup Mirror" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2kVeUMq">Lighted Makeup Mirror, 8 Inch LED Vanity Mirror with 5X Magnifying Spot Mirror, USB Rechargeable, Adjustable Brightness ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">50UDGHAM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $17.99</strong> with promo code: <strong class="m_codes">50UDGHAM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2kVeUMq">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="45" data-price="7.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lqgsyv"><img src="https://m.media-amazon.com/images/I/61wJ5I+3k8L._SR400,400_.jpg" alt="Magical Hair Treatment Mask" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lqgsyv">Magical Hair Treatment Mask, Advanced Molecular Hair Roots Treatment Professtional Hair Conditioner, 5 Seconds to Restore Soft Hair,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.14</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">45LWQ1GV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $12.99</strong> with promo code: <strong class="m_codes">45LWQ1GV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lqgsyv">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mvKssW"><img src="https://m.media-amazon.com/images/I/41LXkjFQhAL._SR400,400_.jpg" alt="Self Tan Back Applicator Strap" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mvKssW">Self Tan Back Applicator Strap, Microfiber Back Applicator Back Applicator Mitt Pad for Back(Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$11.98</span></address>
      <textarea readonly="readonly" class="code_area">506PD3UX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.98</strong> with promo code: <strong class="m_codes">506PD3UX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mvKssW">Use Code at Amazon</a></div>
</div>
 