<div class="card clearfix" data-score="80" data-price="18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ois8PD"><img src="https://m.media-amazon.com/images/I/51o-F7ryNWL._SR400,400_.jpg" alt="International Travel Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ois8PD">International Travel Adapter with 4000mAh Power Bank,Input 100V-250V Worldwide All in One Universal Travel Adapter,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18</span><span class="ori_price">$89.99</span></address>
      <textarea readonly="readonly" class="code_area">80IGV8XU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $89.99</strong> with promo code: <strong class="m_codes">80IGV8XU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Ois8PD">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="13.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M9iooe"><img src="https://m.media-amazon.com/images/I/71mFzsCSRuL._SR400,400_.jpg" alt="ARCCI Expandable Dish Drying Rack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M9iooe">ARCCI Expandable Dish Drying Rack with Silverware Rack Over Sink Dish Drainer in Sink, on Countertop Dish Basket, Rustproof Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.96</span><span class="ori_price">$19.95</span>
        <div class="tooltip_common tooltip_green"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">308NWY37</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $19.95</strong> with promo code: <strong class="m_codes">308NWY37</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2M9iooe">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30I1Dph"><img src="https://m.media-amazon.com/images/I/51IAdUwwwML._SR400,400_.jpg" alt="Stylus Pen 2nd Gen" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30I1Dph">Stylus Pen 2nd Gen, Kimwood Palm Rejection Pencil for Apple iPad, iPad Pro, iPad Air, High Precise 2nd Gen Active Digital Pen...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_green"><span> + 15% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 15% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40GKL5AW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">40GKL5AW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30I1Dph">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31N1275"><img src="https://m.media-amazon.com/images/I/71DOgQdYMaL._SR400,400_.jpg" alt="Wireless Under Cabinet Lighting LED Motion Sensor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31N1275">Wireless Under Cabinet Lighting LED Motion Sensor Light Battery Operated Closet Lights SZOKLED Under Counter Light Cupboard Kitchen lighting,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.98</span></address>
      <textarea readonly="readonly" class="code_area">50ASDFGK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.98</strong> with promo code: <strong class="m_codes">50ASDFGK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31N1275">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Le4Cf"><img src="https://m.media-amazon.com/images/I/71ojNqsBeTL._SR400,400_.jpg" alt="Ylu Yni Jewelry Cabinet Box" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Le4Cf">Ylu Yni Jewelry Cabinet Box Amoire Door Wall 6 LEDs Jewelry Armoire Lockable Hanging Door Jewelry Armoire with 2 Drawers Brown, YK18010B</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.99</span><span class="ori_price">$119.99</span></address>
      <textarea readonly="readonly" class="code_area">50PDVHGG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $119.99</strong> with promo code: <strong class="m_codes">50PDVHGG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Le4Cf">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VaOsw4"><img src="https://m.media-amazon.com/images/I/715-44nno9L._SR400,400_.jpg" alt="Surge Protector Power Strip" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VaOsw4">Surge Protector Power Strip with 5 USB Ports (6A Max) and 7 Outlets (1625W/13A), 2100 Joules, Wall Mountable Outlet Strip with Wide Spaced Outlet,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40QMS85I</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.99</strong> with promo code: <strong class="m_codes">40QMS85I</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2VaOsw4">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M7WbHa"><img src="https://m.media-amazon.com/images/I/71b8-eNWaKL._SR400,400_.jpg" alt="Vacuum Sealer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M7WbHa">Vacuum Sealer, CUSIBOX Automatic Vacuum Sealing Machine with Cutter for Food Saver and Sous Vide, 3pcs Vacuum Sealer Bags(Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">5055IHI4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">5055IHI4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 28, 2019 at 05:00 AM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2M7WbHa">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="75" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/332KLLw"><img src="https://m.media-amazon.com/images/I/61qXa-FR8ML._SR400,400_.jpg" alt="AINOPE USBC Car Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/332KLLw">AINOPE USBC Car Charger, USB C Cable Car Charger Quick Charger 3.0 Port 30W PD USB Typc C Car Charger (All Metal) Compatible with Galaxy ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">75JMIEB5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $19.99</strong> with promo code: <strong class="m_codes">75JMIEB5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/332KLLw">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VbYLzR"><img src="https://images-na.ssl-images-amazon.com/images/I/71uj%2BDUuexL._UX679_.jpg" alt="Yostyle Halloween Scary Mask" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VbYLzR">Yostyle Halloween Scary Mask Cosplay Decorations Led Costume Mask EL Wire Light up for Halloween Festival Party</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">50MQT72G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">50MQT72G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2VbYLzR">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="14.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3587vvo"><img src="https://m.media-amazon.com/images/I/8109uo56e3L._SR400,400_.jpg" alt="Beard Kit, Grooming & Trimming Set Gift" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3587vvo">Beard Kit, Grooming & Trimming Set Gift for Men Includes - Beard Oil, Beard Balm, Horsehair Brush, Wooden Comb, Facial, Nose & Ear Trimmer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.97</span><span class="ori_price">$24.95</span>
        <div class="tooltip_common tooltip_red"><span> + 29% OFF</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + 29% OFF</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40K6BFAP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.95</strong> with promo code: <strong class="m_codes">40K6BFAP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3587vvo">Use Code at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>
 
<div class="card clearfix" data-score="50" data-price="14.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VblyMp"><img src="https://m.media-amazon.com/images/I/71PEeaudZWL._SR400,400_.jpg" alt="Trideer Yoga Mat, Premium Print 6mm" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VblyMp">Trideer Yoga Mat, Premium Print 6mm, Non Slip Exercise & Fitness Mat, Lightweight Anti-Tear All-Purpose Floor Pilates Mat,with Carrying Strap ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.49</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">501HZDLC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $28.99</strong> with promo code: <strong class="m_codes">501HZDLC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2VblyMp">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IkSVY0"><img src="https://m.media-amazon.com/images/I/51VE7YZM0-L._SR400,400_.jpg" alt="Squish Wireless Charger Car Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IkSVY0">Squish Wireless Charger Car Mount Adjustable Gravity Air Vent Phone Holder for iPhone Samsung Nexus Moto OnePlus HTC Sony Nokia and Android...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_red"><span> + 9% off</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + 9% off</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40LGE8GB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $29.99</strong> with promo code: <strong class="m_codes">40LGE8GB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2IkSVY0">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o48v3l"><img src="https://m.media-amazon.com/images/I/81iWBLJkgKL._SR400,400_.jpg" alt="Anti Theft Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o48v3l">Anti Theft Backpack, VICOODA Laptop Backpack with USB Charging Port & Earphone Hole Fits 15.6 Inch Laptop, Durable Travel Bags...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50XCW6SR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50XCW6SR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2o48v3l">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/350cuyt"><img src="https://m.media-amazon.com/images/I/61WEehrN6IL._SR400,400_.jpg" alt="Selfie Ring Light" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/350cuyt">Selfie Ring Light, XINBAOHONG Rechargeable Portable Clip-on Selfie Fill Light with 36 LED for Smart Phone Photography, Camera Video, Girl Makes up</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.99</span><span class="ori_price">$9.98</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">50IMZH2B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.98</strong> with promo code: <strong class="m_codes">50IMZH2B</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/350cuyt">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OjZ22h"><img src="https://m.media-amazon.com/images/I/613CvPsAUbL._SR400,400_.jpg" alt="RLGPBON 12 Pack Cute Animals Cable Bites" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OjZ22h">RLGPBON 12 Pack Cute Animals Cable Bites, Various Animal Cable Bites Cable Accessories for Phone Cable Cord</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">50X4J7YT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.99</strong> with promo code: <strong class="m_codes">50X4J7YT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OjZ22h">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pG23Qg"><img src="https://m.media-amazon.com/images/I/61B0AOGKYfL._SR400,400_.jpg" alt="Bluetooth Car Speakerphone" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pG23Qg">Bluetooth Car Speakerphone, VICOODA Hands Free Wireless Car Speaker Kit Built-in Mic for Safe Driving with Visor Clip in Car Streaming Music Player</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40HDNDTV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40HDNDTV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2pG23Qg">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="45" data-price="41.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30NI5zU"><img src="https://m.media-amazon.com/images/I/71I4Ye09aIL._SR400,400_.jpg" alt="Hair Removal for Women and Men" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30NI5zU">Hair Removal for Women and Men, IPL Permanent Hair Remover 500,000 Flashes System Device for Female Male Face Leg Body Home Use Device (White)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$41.79</span><span class="ori_price">$75.99</span></address>
      <textarea readonly="readonly" class="code_area">45A5941G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $75.99</strong> with promo code: <strong class="m_codes">45A5941G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30NI5zU">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="14.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/355c35L"><img src="https://m.media-amazon.com/images/I/616Wj92UWmL._SR400,400_.jpg" alt="Smart Wifi Enabled Essential Oil Aromatherapy Diffuser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/355c35L">Smart Wifi Enabled Essential Oil Aromatherapy Diffuser (300ml), works with Alexa, Google Home & APP (2.4GHz WIFI Required)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.92</span><span class="ori_price">$24.87</span></address>
      <textarea readonly="readonly" class="code_area">40IHH12N</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.87</strong> with promo code: <strong class="m_codes">40IHH12N</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/355c35L">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="15.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ML63o"><img src="https://m.media-amazon.com/images/I/71dT4Aul1SL._SR400,400_.jpg" alt="Bruno Marc Men's Suede Leather Lace Up Oxfords Chukka Ankle Boots" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ML63o">Bruno Marc Men's Suede Leather Lace Up Oxfords Chukka Ankle Boots</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.49</span><span class="ori_price">$30.99</span></address>
      <textarea readonly="readonly" class="code_area">50CCJ2KK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $30.99</strong> with promo code: <strong class="m_codes">50CCJ2KK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30ML63o">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="54" data-price="6.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OqkHGp"><img src="https://m.media-amazon.com/images/I/81rqunxsg1L._SR400,400_.jpg" alt="Car Cup Holder Phone Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OqkHGp">Car Cup Holder Phone Mount, Adjustable Gooseneck Cupholder Cell Phone Cradle with 360° Rotatable Holder for iPhone XR Xs XS Max X 8 7 7 Plus ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.90</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">542647SX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>54% off at $14.99</strong> with promo code: <strong class="m_codes">542647SX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OqkHGp">Use Code at Amazon</a></div>
</div>
 
