<table>
  <tr>
    <th>Site</th>
    <th>Affiliate Link</th>
    <th>Logo Link</th>
  </tr>
  <!-- <tr>
    <td>Site_Name</td>
    <td>Affiliate_Link</td>
    <td>Logo_Link</td>
  </tr> -->
  <tr><td>SSENSE</td><td>https://bit.ly/33SJ7wj</td><td>https://i.pinimg.com/564x/c0/7e/31/c07e318fc0cbf0d61ad55332d7cf6c12.jpg</td></tr>
  <tr>
   <td>Nordstrom Rack</td>
   <td>https://bit.ly/2YOoM9e</td>
   <td>https://i.pinimg.com/564x/ae/8a/35/ae8a3596fcbbc5a8246139822c3456cf.jpg</td>
  </tr>
  <tr>
   <td>Urban Outfitters</td>
   <td>https://bit.ly/2YT1v65</td>
   <td>https://i.pinimg.com/564x/58/f0/40/58f0403c68614d660cffaa6b8fb47b30.jpg</td>
  </tr>
  <tr>
   <td>ASOS</td>
   <td>https://bit.ly/2YHhbsS</td>
   <td>https://i.pinimg.com/564x/58/99/54/5899544d1c33f79ed67c8acc016616b5.jpg</td>
  </tr>
  <tr>
   <td>BANANA REPUBLIC</td>
   <td>https://bit.ly/2Jlpwwu</td>
   <td>https://i.pinimg.com/564x/92/67/d8/9267d87c36cfd175101b1256e12b4a01.jpg</td>
  </tr>
  <tr>
   <td>kohls</td>
   <td>https://bit.ly/34bkQTx</td>
   <td>https://i.pinimg.com/564x/76/74/07/7674070c88a3c1ce0954b31c639614b7.jpg</td>
  </tr>
  <tr>
   <td>GAP</td>
   <td>https://bit.ly/31ZwWxM</td>
   <td>https://i.pinimg.com/564x/40/2b/4d/402b4d06d5a1b7a80fbb59ede0369fd3.jpg</td>
  </tr>
  <tr>
   <td>OLD NAVY</td>
   <td>https://bit.ly/2XpEiMg</td>
   <td>https://i.pinimg.com/564x/6b/7b/7b/6b7b7b2f2ee1dde7c896b94d4a9d759f.jpg</td>
  </tr>
  <tr>
   <td>Nordstrom</td>
   <td>https://bit.ly/2jTwmAJ</td>
   <td>https://i.pinimg.com/564x/76/95/d7/7695d7d56e1bf0f41320dbcd1556ccbb.jpg</td>
  </tr>
  <tr>
   <td>Saks Fifth Avenue</td>
   <td>https://bit.ly/377c89k</td>
   <td>https://i.pinimg.com/564x/d3/86/76/d386766499a7d01213732ce379dbe70f.jpg</td>
  </tr>
  <tr>
   <td>Farfetch</td>
   <td>https://bit.ly/2SVBIKE</td>
   <td>https://i.pinimg.com/564x/db/9a/7b/db9a7bcae23baceac7044e8e8d0550be.jpg</td>
  </tr>
  <tr>
   <td>Ralphlauren</td>
   <td>https://bit.ly/34hyzrG</td>
   <td>https://i.pinimg.com/564x/b2/92/a8/b292a8e2b84656d3698da7fb8dd4bba0.jpg</td>
  </tr>
  <tr>
   <td>DKNY</td>
   <td>https://bit.ly/2ZZVCFR</td>
   <td>https://i.pinimg.com/564x/2f/ee/75/2fee75256318945bea6d7cb038e6841f.jpg</td>
  </tr>
  <tr><td>Net-A-Porter</td><td>Affiliate_Link</td><td>https://i.pinimg.com/564x/50/19/75/5019757e7d5697b8b0b8ca9c6ebf0fe4.jpg</td></tr>
  <tr><td>Jcrew</td><td>https://bit.ly/2QQa7YM</td><td>https://i.pinimg.com/564x/63/31/92/6331923cb30e8b4af2ace88f2522cfa4.jpg</td></tr>
  <tr><td>Site_Name</td><td>https://bit.ly/2Qt3sov</td><td>https://i.pinimg.com/564x/18/08/9d/18089d4a417bc18a335dce81cb09cb00.jpg</td></tr>
  <tr><td>Finish Line</td><td>Affiliate_Link</td><td>Logo_Link</td></tr>
  <tr><td>Site_Name</td><td>Affiliate_Link</td><td>Logo_Link</td></tr>
  <tr><td>Site_Name</td><td>Affiliate_Link</td><td>Logo_Link</td></tr>
  <tr><td>Site_Name</td><td>Affiliate_Link</td><td>Logo_Link</td></tr>
  <tr><td>Site_Name</td><td>Affiliate_Link</td><td>Logo_Link</td></tr>

 
</table>