<div class="wrap">  
  <div class="hotdeal_wrap">
    <h1>Editing Storepromotion</h1>
    <%= render 'form' %>

    <%= link_to 'Show', @storepromotion %> |
    <%= link_to 'Back', storepromotions_path %>
  </div>
</div>
