<div class="slider" id="slider">
  <div class="slide" id="slide">

    <!-- <div class="img_box">
      <a href="Page_Link">
        <img class="item" src="Image_URL">
        <p>About This</p>
        <em>From $20 ~</em>
      </a>
    </div> -->
    
    <div class="img_box">
      <a href="#n">
        <img class="item" src="https://images-na.ssl-images-amazon.com/images/I/71-B89BnKqL._SX425_.jpg">
        <p>Test Description</p>
        <em>From $20 ~</em>
      </a>
    </div>
    <div class="img_box">
      <a href="#n">
        <img class="item" src="https://m.media-amazon.com/images/I/61WhTrlPYAL._SR400,400_.jpg">
        <p>Test Description</p>
        <em>From $20 ~</em>
      </a>
    </div>

    <div class="img_box">
      <a href="Page_Link">
        <img class="item" src="Image_URL">
        <p>About This</p>
        <em>From $20 ~</em>
      </a>
    </div>

    <div class="img_box">
      <a href="Page_Link">
        <img class="item" src="Image_URL">
        <p>About This</p>
        <em>From $20 ~</em>
      </a>
    </div>

    <div class="img_box">
      <a href="Page_Link">
        <img class="item" src="Image_URL">
        <p>About This</p>
        <em>From $20 ~</em>
      </a>
    </div>

    <div class="img_box">
      <a href="Page_Link">
        <img class="item" src="Image_URL">
        <p>About This</p>
        <em>From $20 ~</em>
      </a>
    </div>

    <div class="img_box">
      <a href="Page_Link">
        <img class="item" src="Image_URL">
        <p>About This</p>
        <em>From $20 ~</em>
      </a>
    </div>

    <div class="img_box">
      <a href="Page_Link">
        <img class="item" src="Image_URL">
        <p>About This</p>
        <em>From $20 ~</em>
      </a>
    </div>

    <div class="img_box">
      <a href="Page_Link">
        <img class="item" src="Image_URL">
        <p>About This</p>
        <em>From $20 ~</em>
      </a>
    </div>

    <div class="img_box">
      <a href="Page_Link">
        <img class="item" src="Image_URL">
        <p>About This</p>
        <em>From $20 ~</em>
      </a>
    </div>
    
  </div>
  <button class="ctrl-btn pro-prev">Prev</button>
  <button class="ctrl-btn pro-next">Next</button>
</div>