<div class="layout">

    <div class="footer">

      <div class="wrap">
        <div class="footer-content">
          
          <div class="footer-section about clearfix">
            <h1 class="logo-text"><span>Oh,</span>i gotta buy this</h1>
            <p>Oh,igottabuythis is the curation platform to discover awesome products from around the world and
              find thousands of best deals, coupon codes from Amazon.<br />Staying up to date with the coolest gadgets and the latest information of deals </p>            
            <div class="contact">
              <span><i class="fas fa-envelope"></i> &nbsp; ohigottabuythis@gmail.com </span>
            </div>
            <div class="socials">
              <a target="_blank" href="#n"><i class="fab fa-facebook-square"></i></a>
              <a target="_blank" href="#n"><i class="fab fa-instagram"></i></a>
              <a target="_blank" href="#n"><i class="fab fa-twitter"></i></a>
              <a target="_blank" href="#n"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          <div class="footer-section contact-form clearfix">
            <h2>Contact Us</h2><br />
            <form action="/" method="post">
             <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
             <textarea name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
             <button type="submit" class="btn btn-big contact-btn">Send</button>
            </form>
          </div>
        </div>
        
        <!-- <div class="footer-bottom clearfix">
          <div class="quick_menu clearfix">
            <ul class="clearfix">
              <li><h3>Quick Links</h3></li>
              <li><a href="#n">HOME</a></li>
              <li><a href="#n">CATEGORY</a></li>
              <li><a href="#n">FEATURED</a></li>
              <li><a href="#n">DAILY DEALS</a></li>
              <li><a href="#n">PROMO CODES</a></li>
              <li><a href="#n">QUICK SEARCH</a></li>
              <li><a href="#n">PROMOTIONS</a></li>
            </ul>
          </div>
        </div>
 -->
      </div><!--./wrap-->
    </div><!--./footer-->
</div>