<div class="layout">
  <div class="footer clearfix">
    <div class="wrap">
      <div class="footer-content">
        
        <div class="footer-section about clearfix">
          <h1 class="logo-text"><span>Oh,</span>i gotta buy this</h1>
          <p>Oh,igottabuythis is the curation platform to discover awesome products from around the world and
            find thousands of best deals, coupon codes from Amazon.<br />Staying up to date with the coolest products and the latest information of deals </p>            
          <div class="contact">
            <span><i class="fas fa-envelope"></i> &nbsp; ohigottabuythis@gmail.com </span>
          </div>
          <div class="socials">
            <a target="_blank" href="#n"><i class="fab fa-facebook-square"></i></a>
            <a target="_blank" href="#n"><i class="fab fa-instagram"></i></a>
            <a target="_blank" href="#n"><i class="fab fa-twitter"></i></a>
            <a target="_blank" href="#n"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="footer-section contact-form clearfix">
          <h1>Quick Link</h1>
          <ul class="clearfix">
            <li><a href="#n">#Home</a></li>
            <li><a href="#n">#Category</a></li>
            <li><a href="#n">#Featured</a></li>
            <li><a href="#n">#Daily Deals</a></li>
            <li><a href="#n">#Promo Codes</a></li>
            <li><a href="#n">#Quick Search</a></li>
            <li><a href="#n">#Promotion</a></li>
          </ul>
          <div class="contact_us">
            <h1>About Us</h1>
            <ul class="clearfix">
              <li><a href="/messages">#About Us</a></li>
              <li><a href="/messages/new">#Contact Us</a></li>
            </ul>
          </div>
        </div>

      </div><!--./footer-content-->
    </div><!--./wrap-->
  </div><!--./footer-->
</div>