<div class="marketing_menu clearfix">
  <ul>
    <li><a href="/marketing/insta">Instagram</a></li>
    <li><a href="/marketing/amz_deal_e">Amazon</a></li>
    <li><a href="/marketing/bystore">Store Deals</a></li>
    <li><a href="/marketing/be_rich">Be Rich</a></li>
  </ul>
</div>