<div class="deals_main_menu clearfix">
  <ul>
    <li class="nth_1 active"><a class="active" href="/promocodes">All About Amazon</a></li>
    <li><a href="/deals/storesales"><span>Stores</span></a></li>
  </ul>    
</div>