<header class="header_short clearfix">
  <div class="wrap">
    <!--<button class="gnb_open2"><img src="<%=asset_path 'more_black.png' %>" alt="open mobile menu" /></button>-->
    <!--<div class="back_to">-->
    <!--  <a href="/"><img src="<%=asset_path 'back.png' %>"></a>-->
    <!--</div>-->
    <div class="gnb_pc clearfix">
      <a href="/"><img class="oh_logo" src="<%=asset_path 'oh_logo.jpg' %>" alt="ohigottabuythis" /></a>

      <div class="visual">
        <h1><a href="/"><img src="<%=asset_path 'visual_01.jpg' %>" alt="ohigottabuythis" /></a></h1>
      </div>

      <ul class="clearfix">
        <li><a href="/categories/">CATEGORY<span>,</span></a></li>
        <li><a href="/recommends/">FEATURED<span>,</span></a></li>
        <li><a href="/deals/promo_codes">DEALS <em>of Amazon</em></a></li>
      </ul>      
    </div>
    
  </div><!--./wrap-->
</header>


