<div class="layout"><!--layout-->
  <div class="wrap"> 
  
    <div class="new_container clearfix">
      <nav>
        <input type="checkbox" id="nav" class="hidden">

        <label for="nav" class="nav-btn">
          <i></i>
          <i></i>
          <i></i>
        </label>

        <div class="logo">
          <!-- <a href="/"><img class="oh_logo" src="<%=asset_path 'oh_logo.jpg' %>" alt="ohigottabuythis" /></a> -->
          <a href="/"><img class="oh_logo_big" src="<%=asset_path 'visual_01.jpg' %>" alt="ohigottabuythis | Find The Best Deals" /></a></h1>
          <!-- <a href="/">Oh,i gotta buy this</a> -->
        </div>
        
        <div class="nav-wrapper">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/deals/quicksearch">Bargain</a></li>
            <!-- <li><a href="/gadgets">Gadgets</a></li> -->
            <li><a href="/recommends">Featured</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<hr class="header_hr">