<div class="overlay-video">
  <div class="videoWrapperExt">
    <div class="videoWrapper">
      <div class="video_close"></div>
      <iframe id="player" src="" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>        
</div>