<div id="page-wrapper">
  <%= render 'shared/header' %>
   <section id="features">
    <div class="container">

      <div class="dis_grid">

        <div class="dis_card">
          <div class="dis_card--image">
            <a target="_blank" href="#"><img src="https://i.ebayimg.com/images/g/f-AAAOSwxQJbIruq/s-l225.jpg"/></a>
          </div>
          <div class="dis_card--content">
            <h3><a target="_blank" href="#">product_title</a></h3>
            <p>product_content</p>
            <ul class="dis_price">
             <li>$100.00</li>
             <li>$80.00</li>
            </ul>
            <ul class="dis_btn">
             <li>10% Off</li>
             <li><a target="_blank" href="#">Check it out</a></li>
            </ul>

          </div><!--/.dis_card--content-->        
        </div><!--/.dis_card-->

        <div class="dis_card">
          <div class="dis_card--image">
            <a target="_blank" href="#"><img src="https://i.ebayimg.com/images/g/uyMAAOSwRL5bdDu8/s-l1600.jpg"/></a>
          </div>
          <div class="dis_card--content">
            <h3><a target="_blank" href="#">product_title</a></h3>
            <p>product_content</p>
            <ul class="dis_price">
             <li>$100.00</li>
             <li>$80.00</li>
            </ul>
            <ul class="dis_btn">
             <li>10% Off</li>
             <li><a target="_blank" href="#">Check it out</a></li>
            </ul>

          </div><!--/.dis_card--content-->        
        </div><!--/.dis_card-->

        <div class="dis_card">
          <div class="dis_card--image">
            <a target="_blank" href="#"><img src="https://i.ebayimg.com/images/g/f-AAAOSwxQJbIruq/s-l225.jpg"/></a>
          </div>
          <div class="dis_card--content">
            <h3><a target="_blank" href="#">product_title</a></h3>
            <p>product_content</p>
            <ul class="dis_price">
             <li>$100.00</li>
             <li>$80.00</li>
            </ul>
            <ul class="dis_btn">
             <li>10% Off</li>
             <li><a target="_blank" href="#">Check it out</a></li>
            </ul>

          </div><!--/.dis_card--content-->        
        </div><!--/.dis_card-->

        <div class="dis_card">
          <div class="dis_card--image">
            <a target="_blank" href="#"><img src="https://i.ebayimg.com/images/g/f-AAAOSwxQJbIruq/s-l225.jpg"/></a>
          </div>
          <div class="dis_card--content">
            <h3><a target="_blank" href="#">product_title</a></h3>
            <p>product_content</p>
            <ul class="dis_price">
             <li>$100.00</li>
             <li>$80.00</li>
            </ul>
            <ul class="dis_btn">
             <li>10% Off</li>
             <li><a target="_blank" href="#">Check it out</a></li>
            </ul>

          </div><!--/.dis_card--content-->        
        </div><!--/.dis_card-->

        <div class="dis_card">
          <div class="dis_card--image">
            <a target="_blank" href="#"><img src="https://i.ebayimg.com/images/g/f-AAAOSwxQJbIruq/s-l225.jpg"/></a>
          </div>
          <div class="dis_card--content">
            <h3><a target="_blank" href="#">product_title</a></h3>
            <p>product_content</p>
            <ul class="dis_price">
             <li>$100.00</li>
             <li>$80.00</li>
            </ul>
            <ul class="dis_btn">
             <li>10% Off</li>
             <li><a target="_blank" href="#">Check it out</a></li>
            </ul>

          </div><!--/.dis_card--content-->        
        </div><!--/.dis_card-->

       </div><!--/.dis_grid-->
  </div>
 </section>
</div>