<table>
  <tr>
    <th>상품 무게(LBS)</th>
    <th>평균 요금($)</th>
    <th>과세운임(LBS)</th>
    <th>20만원 이하(원)</th>
    <th>20만원 초과(원)</th>
  </tr>
  <!-- <tr>
    <td>Site_Name</td>
    <td>Affiliate_Link</td>
    <td>Logo_Link</td>
  </tr> -->
  <tr><td>1</td><td>10</td><td>0.05 ~ 02.20</td><td>12,000</td><td>18,900</td></tr>
  <tr><td>2</td><td>12</td><td>02.25 ~ 04.40</td><td>18,500</td><td>29,050</td></tr>
  <tr><td>3</td><td>14</td><td>04.45 ~ 06.60</td><td>24,500</td><td>35,700</td></tr>
  <tr><td>4</td><td>16</td><td>06.65 ~ 08.80</td><td>24,500</td><td>57,000</td></tr>
  <tr><td>5</td><td>18</td><td>08.85 ~ 11.00</td><td>30,500</td><td>63,000</td></tr>
  <tr><td>6</td><td>20</td><td>11.05 ~ 13.20</td><td>30,500</td><td>69,000</td></tr>
  <tr><td>7</td><td>22</td><td>13.25 ~ 15.40</td><td>37,000</td><td>75,000</td></tr>
  <tr><td>8</td><td>24</td><td>15.45 ~ 17.60</td><td>37,000</td><td>81,000</td></tr>
  <tr><td>9</td><td>26</td><td>17.65 ~ 19.80</td><td>43,000</td><td>87,000</td></tr>
  <tr><td>10</td><td>28</td><td>19.85 ~ 22.00</td><td>43,000</td><td>93,000</td></tr>
  <tr><td>11</td><td>30</td><td>22.05 ~ 24.25</td><td>49,000</td><td>99,000</td></tr>
  <tr><td>12</td><td>32</td><td>24.30 ~ 26.45</td><td>49,000</td><td>105,000</td></tr>
  <tr><td>13</td><td>34</td><td>26.50 ~ 28.65</td><td>55,000</td><td>111,000</td></tr>
  <tr><td>14</td><td>36</td><td>28.70 ~ 30.85</td><td>55,000</td><td>117,000</td></tr>
  <tr><td>15</td><td>38</td><td>30.90 ~ 33.05</td><td>61,000</td><td>123,000</td></tr>
  <tr><td>16</td><td>40</td><td>33.10 ~ 35.25</td><td>61,500</td><td>129,000</td></tr>
  <tr><td>17</td><td>42</td><td>35.30 ~ 37.45</td><td>67,500</td><td>135,000</td></tr>
  <tr><td>18</td><td>44</td><td>37.50 ~ 39.65</td><td>67,500</td><td>131,000</td></tr>
  <tr><td>19</td><td>46</td><td>39.70 ~ 41.85</td><td>74,000</td><td>147,000</td></tr>
  <tr><td>20</td><td>48</td><td>41.90 ~ 44.05</td><td>74,000</td><td>153,000</td></tr>
  <tr><td>21</td><td>50</td><td>44.10 ~ 46.25</td><td>86,000</td><td>159,000</td></tr>
  <tr><td>22</td><td>52</td><td>46.30 ~ 48.50</td><td>92,500</td><td>165,000</td></tr>
  <tr><td>23</td><td>53</td><td>48.55 ~ 50.70</td><td>98,500</td><td>171,000</td></tr>
  <tr><td>24</td><td>56</td><td>50.75 ~ 52.90</td><td>98,500</td><td>177,000</td></tr>
  <tr><td>25</td><td>57</td><td>52.95 ~ 55.10</td><td>104.500</td><td>183,000</td></tr>
  <tr><td>26</td><td>59</td><td>55.15 ~ 57.30</td><td>104,500</td><td>189,000</td></tr>
  <tr><td>27</td><td>61</td><td>57.35 ~ 59.50</td><td>111,000</td><td>195,000</td></tr>
  <tr><td>28</td><td>63</td><td>59.55 ~ 61.70</td><td>111,000</td><td>201,000</td></tr>
  <tr><td>29</td><td>65</td><td>61.75 ~ 63.90</td><td>117,000</td><td>207,000</td></tr>
  <tr><td>30</td><td>67</td><td>63.95 ~ 66.10</td><td>117,000</td><td>213,000</td></tr>
  <tr><td>31</td><td>69</td></tr>
  <tr><td>32</td><td>71</td></tr>
  <tr><td>33</td><td>73</td></tr>
  <tr><td>34</td><td>74</td></tr>
  <tr><td>35</td><td>76</td></tr>
  <tr><td>36</td><td>78</td></tr>
  <tr><td>37</td><td>80</td></tr>
  <tr><td>38</td><td>82</td></tr>
  <tr><td>39</td><td>84</td></tr>
  <tr><td>40</td><td>86</td></tr>
  <tr><td>41</td><td>88</td></tr>
  <tr><td>42</td><td>90</td></tr>
  <tr><td>43</td><td>91</td></tr>
  <tr><td>44</td><td>93</td></tr>
  <tr><td>45</td><td>95</td></tr>
  <tr><td>46</td><td>97</td></tr>
  <tr><td>47</td><td>99</td></tr>
  <tr><td>48</td><td>101</td></tr>
  <tr><td>49</td><td>103</td></tr>
  <tr><td>50</td><td>105</td></tr>
  <tr><td>51</td><td>107</td></tr>
  <tr><td>52</td><td>108</td></tr>
  <tr><td>53</td><td>110</td></tr>
  <tr><td>54</td><td>112</td></tr>
  <tr><td>55</td><td>113</td></tr>
  <tr><td>56</td></tr>
  <tr><td>57</td></tr>
  <tr><td>58</td></tr>
  <tr><td>59</td></tr>
  <tr><td>60</td></tr>
</table>