<div class="featured">

  <button class="gnb_open"><img src="<%=asset_path 'open_black.png' %>" alt="모바일 메뉴 열기" /></button>
  <div class="sm_pc">
   <div class="filter-search guide_controll">
      <li><button class="filter-button btn btn-md btn-primary top_10" data-filter="*">All</button></li>
      <li><button class="filter-button btn btn-md white-text top_10" data-filter="gadgets">Gadgets</button></li>
      <li><button class="filter-button btn btn-md white-text top_10" data-filter="geeky">Geeky</button></li>
      <li><button class="filter-button btn btn-md white-text top_10" data-filter="fashion">Fashion</button></li>
      <li><button class="filter-button btn btn-md white-text top_10" data-filter="travel">Travel</button></li>
      <li><button class="filter-button btn btn-md top_10" data-filter="home&kitchen">Home&Kitchen</button></li>
      <input type="text" class="form-control" placeholder="Search gift you want to">
    </div>
  </div>
  
  <div class="sm_mobile">
    <div class="filter-search guide_controll">
      <p>Categories</p>
      <li><button class="filter-button btn btn-md btn-primary" data-filter="*">All</button></li>
      <li><button class="filter-button btn btn-md white-text" data-filter="gadgets">Gadgets</button></li>
      <li><button class="filter-button btn btn-md white-text" data-filter="geeky">Geeky</button></li>
      <li><button class="filter-button btn btn-md white-text" data-filter="fashion">Fashion</button></li>
      <li><button class="filter-button btn btn-md white-text" data-filter="travel">Travel</button></li>
      <li><button class="filter-button btn btn-md" data-filter="home&kitchen">Home&Kitchen</button></li>
      <!-- <input type="text" class="form-control" placeholder="Search gift you want to"> -->
      </div>
    <button class="gnb_close"><img src="<%=asset_path 'close_white.png' %>" alt="모바일 메뉴 닫기" /></button>
  </div>

</div><!--./featured-->
<div class="gnb_kbg"></div>
