<!-- <div class="card clearfix" data-tags="Category">
    <div class="info_box">
      <p><span>Percentage%</span><br /><em>OFF</em></p>
      <strong>Category</strong>
    </div>
    <div class="inner">
      
      <p><a target="_blank" href="Site_Link">Coupons_Title</a></p>
      <em>Coupons_Description</em>
      <span>Expiration: Coupons_Date</span>
    </div> 
    <div class="deal_btn">
      <a href="Site_Link">Shop Now</a>
    </div>
</div> -->

<div class="card clearfix" data-tags="Coupons"><!--(Coupons or Deals)-->
    <div class="info_box">
      <p>70%<br /><em>OFF</em></p>
      <strong>Coupon</strong><!--(Coupons or Deals)-->
    </div>
    <div class="inner">
      
      <p><a target="_blank" href="https://amzn.to/2GDUFvg">Amazon Sales & Coupons, February 2019</a></p>
      <em>These Amazon coupons of the day to save as much as 70% on Grocery, Health & Beauty, Electronics, Home Improvement, and more. Simply click on the category of coupons you want, and clipping coupons.</em>
      <span>Expiration: on going</span>
    </div> 
    <div class="deal_btn">
      <a target="_blank" href="https://amzn.to/2GDUFvg">Shop Now</a>
    </div>
 </div>

<div class="card clearfix" data-tags="Category">
    <div class="info_box">
      <p><span>Percentage%</span><br /><em>OFF</em></p>
      <strong>Category</strong>
    </div>
    <div class="inner">
      
      <p><a target="_blank" href="Site_Link">Coupons_Title</a></p>
      <em>Coupons_Description</em>
      <span>Expiration: Coupons_Date</span>
    </div> 
    <div class="deal_btn">
      <a href="Site_Link">Shop Now</a>
    </div>
</div>
  
