<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="20" data-price="68.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KBbTez"><img src="https://m.media-amazon.com/images/I/71s1+ZHdGZL._SR400,400_.jpg" alt="Toner Cartridge" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KBbTez">7Magic Compatible Toner Cartridge Replacement for Samsung 404S 404 Toner CLT-K404S CLT-C404S CLT-M404S CLT-Y404S</a></p>
    <div class="code_high">
      <address><span class="dis_price">$68.89</span><span class="ori_price">$86.11</span></address>
      <p><span>Take <strong>20% off at $86.11</strong> with promo code: <strong>20TJAU9X</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KBbTez">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="6.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31jDcjQ"><img src="https://m.media-amazon.com/images/I/81Kz8+tqVuL._SR400,400_.jpg" alt="Minimalist Slim Front Pocket Wallets" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31jDcjQ">Minimalist Slim Front Pocket Wallets for Men with RFID Blocking & Genuine Leather</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.04</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>45% off at $10.99</strong> with promo code: <strong>45FVMWWG</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31jDcjQ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="21.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WxdKbB"><img src="https://m.media-amazon.com/images/I/51kgrZ+OiuL._SR400,400_.jpg" alt="BINLEFOIS Portable Cool Mist Vaporizer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WxdKbB">BINLEFOIS Portable Cool Mist Vaporizer and Handheld Inhaler Machine, Kids Adults and Daily Home Use</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.60</span><span class="ori_price">$36.00</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>40% off at $36.00</strong> with promo code: <strong>40HSPBU2</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WxdKbB">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31gI0WX"><img src="https://m.media-amazon.com/images/I/415YkaJx3uL._SR400,400_.jpg" alt="Go4Pwr Pocket-Size Portable Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31gI0WX">Go4Pwr Pocket-Size Portable Charger with 2 Output and 2 Input USB Port 5000mAh Battery Pack with Lanyard Compatible with Huawei iPhone X etc (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>50% off at $14.99</strong> with promo code: <strong>50DNC67Y</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31gI0WX">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WvgTc3"><img src="https://m.media-amazon.com/images/I/61n5FajcXbL._SR400,400_.jpg" alt="tote purse Crocodile handbag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WvgTc3">Pahajim PU leather women top handle satchel handbags tote purse Crocodile handbag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.79</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>40% off at $27.99</strong> with promo code: <strong>40SCDRU3</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WvgTc3">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="14.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MyXaDy"><img src="https://m.media-amazon.com/images/I/61iwPxw6Q1L._SR400,400_.jpg" alt="AGM Camping Sleeping Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MyXaDy">AGM Camping Sleeping Pad Ultralight for Camping, Backpacking, Hiking with Pillow, Lightweight, Waterproof, Compact, Durable, Storage Bag Included</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.49</span><span class="ori_price">$28.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $28.99</strong> with promo code: <strong>50DBSXEP</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MyXaDy">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="70.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WmIYx2"><img src="https://m.media-amazon.com/images/I/51WC84Y2aGL._SR400,400_.jpg" alt="Robotic Vacuum Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WmIYx2">Robotic Vacuum Cleaner, Mopping Robot 1300 Pa Strong Suction with Anti-Drop, Floor Robot Vacuum Cleaner for Pet Hair Hard Floor Thin Carpet</a></p>
    <div class="code_high">
      <address><span class="dis_price">$70.00</span><span class="ori_price">$139.99</span></address>
      <p><span>Take <strong>50% off at $139.99</strong> with promo code: <strong>50UQXN1X</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WmIYx2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="47" data-price="14.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kz5osJ"><img src="https://m.media-amazon.com/images/I/51eb2zlehfL._SR400,400_.jpg" alt="Poweriver 2 in 1 Charger Powerbank" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kz5osJ">Poweriver 2 in 1 Charger Powerbank, MetaPower with 2 Port, 5000mAh 2.1A 18W, Foldable Plug, Flashlight for Travel</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.30</span><span class="ori_price">$26.99</span></address>
      <p><span>Take <strong>47% off at $26.99</strong> with promo code: <strong>47LR2PK9</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Kz5osJ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="65" data-price="5.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WAhLwd"><img src="https://m.media-amazon.com/images/I/61oDdPaQzwL._SR400,400_.jpg" alt="Casual Swing T-Shirt Dress" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WAhLwd">ENIDMIL Women's Sleeveless Casual Swing T-Shirt Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.95</span><span class="ori_price">$16.99</span></address>
      <p><span>Take <strong>65% off at $16.99</strong> with promo code: <strong>652XLQPW</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WAhLwd">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="10.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WmK4sE"><img src="https://m.media-amazon.com/images/I/41UN3F4eXQL._SR400,400_.jpg" alt="Ultrasonic Cool Mist Humidifier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WmK4sE">Ultrasonic Cool Mist Humidifier - 200ml Essential Oil Diffuser 7 LED Lights Humidifier with Whisper-Quiet Operation, Auto Shut-Off, and Night Light Function, Humidifiers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.79</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>40% off at $17.99</strong> with promo code: <strong>40ZILWUO</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WmK4sE">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="12.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EY1TZv"><img src="https://m.media-amazon.com/images/I/61oTg2gFjgL._SR400,400_.jpg" alt="F·JIEHO LED Headlamp Flashlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EY1TZv">F·JIEHO LED Headlamp Flashlight for Camping, Reading, Fishing, Hunting, Walking, Jogging, Durable Light Weight Head Lights</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.79</span><span class="ori_price">$15.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $15.99</strong> with promo code: <strong>208L5HVZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EY1TZv">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WjdvvP"><img src="https://m.media-amazon.com/images/I/61VJ1aLYv7L._SR400,400_.jpg" alt="Women's Skirt" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WjdvvP">Women's Workout Active Skorts Sports Tennis Golf Skirt Built-in Shorts Casual Workout Clothes Athletic Yoga Apparel</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>50% off at $20.99</strong> with promo code: <strong>50ZMRNLU</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WjdvvP">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="4.63">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WqHhDX"><img src="https://m.media-amazon.com/images/I/61up0lo7HjL._SR400,400_.jpg" alt="Fubarbar Brick Coffee Mugs" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WqHhDX">Fubarbar Brick Coffee Mugs Built-on Building Bricks Funny Tea Mug 12 oz Beverage Cup enjoy Creative Time (Green)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.63</span><span class="ori_price">$10.28</span></address>
      <p><span>Take <strong>55% off at $10.28</strong> with promo code: <strong>55AQLRYD</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WqHhDX">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="29.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KAfuJS"><img src="https://m.media-amazon.com/images/I/717sACWInBL._SR400,400_.jpg" alt="HOMELODY Dish Rack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KAfuJS">HOMELODY Dish Rack, 2 Tier Dish Rack With Drainboard, 304 Stainless Steel Dish Drainer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.50</span><span class="ori_price">$58.99</span></address>
      <p><span>Take <strong>50% off at $58.99</strong> with promo code: <strong>50JZUTU7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KAfuJS">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="4.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WSfLP2"><img src="https://m.media-amazon.com/images/I/41tDDx99bvL._SR400,400_.jpg" alt="FAMILIFE Makeup Sponge Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WSfLP2">FAMILIFE Makeup Sponge Set 5Pcs with Dry Holder Stand Cosmetic Egg Sponge Set</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.24</span><span class="ori_price">$8.48</span></address>
      <p><span>Take <strong>50% off at $8.48</strong> with promo code: <strong>50AL0537</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WSfLP2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="13.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WsPk3d"><img src="https://m.media-amazon.com/images/I/61rmWlMEVtL._SR400,400_.jpg" alt="Folinstall 20 Pcs 4 oz Glass Jars" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WsPk3d">Folinstall 20 Pcs 4 oz Glass Jars with Lids - Yogurt Container - Yoghurt Jars for Jam, Spices, Gift Holder</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.50</span><span class="ori_price">$22.50</span></address>
      <p><span>Take <strong>40% off at $22.50</strong> with promo code: <strong>404QA1M1</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WsPk3d">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wk1LcE"><img src="https://m.media-amazon.com/images/I/61ldGN4sd8L._SR400,400_.jpg" alt="JARLIF Women's Ultra Running Shoes" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wk1LcE">JARLIF Women's Ultra Running Shoes Reflective at Night Breathable Tennis Air Trail Athletic Sneakers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>70% off at $39.99</strong> with promo code: <strong>70LF8Q2T</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wk1LcE">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K3TNmk"><img src="https://m.media-amazon.com/images/I/615d6cx4GuL._SR400,400_.jpg" alt="JARLIF Kids Sneakers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K3TNmk">JARLIF Kids Sneakers Ultra Breathable Tennis Air Trail Athletic Running Shoes for Girls Boys</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>70% off at $39.99</strong> with promo code: <strong>70S2BP11</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K3TNmk">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="7.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WiXd6g"><img src="https://m.media-amazon.com/images/I/61HJFbYOcqL._SR400,400_.jpg" alt="Poeland Multitool Pocket Knife" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WiXd6g">Poeland Multitool Pocket Knife 5-in-1 Black Oxide Stainless Steel Multi-Purpose Folding Knives Keychain Plier Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.69</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>45% off at $13.99</strong> with promo code: <strong>45JVIHY3</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WiXd6g">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WKlxCr"><img src="https://m.media-amazon.com/images/I/71M4L8uduRL._SR400,400_.jpg" alt="Nattork Air Fryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WKlxCr">Nattork Air Fryer 4.5 QT Smart Programmable Electric Air Fryer Oil Free Cooking With LED Touch Screen 1500Watts</a></p>
    <div class="code_high">
      <address><span class="dis_price">$49.99</span><span class="ori_price">$99.99</span></address>
      <p><span>Take <strong>50% off at $99.99</strong> with promo code: <strong>50442ZS8</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WKlxCr">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="15.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WlhurF"><img src="https://m.media-amazon.com/images/I/41mdZ17vxyL._SR400,400_.jpg" alt="QANGEL TWS Bluetooth Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WlhurF">QANGEL TWS Bluetooth Wireless Earbuds, in-Ear Earphones, Cordless Sweatproof Sport Headphones</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.49</span><span class="ori_price">$30.98</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>percentage% off at $30.98</strong> with promo code: <strong>50VH1APM</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WlhurF">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EXshTj"><img src="https://m.media-amazon.com/images/I/61IvIc6K78L._SR400,400_.jpg" alt="Smart Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EXshTj">Smart Watch - Aeifond DZ09 Bluetooth Smartwatch Touch Screen Wrist Watch Sports Fitness Tracker</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <p><span>Take <strong>50% off at $22.99</strong> with promo code: <strong>50O2ZYNK</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EXshTj">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K4GyS6"><img src="https://m.media-amazon.com/images/I/71CU2qEuyRL._SR400,400_.jpg" alt="Dash Cam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K4GyS6">Dash Cam, Trekpow 1080P Car DVR Camera for Cars with 180° Rotatable Lens, Full HD 2" LCD Screen, 170° Wide Angle</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $49.99</strong> with promo code: <strong>20L3X4HL</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K4GyS6">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="32.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MIEIZc"><img src="https://m.media-amazon.com/images/I/61lNomcxWVL._SR400,400_.jpg" alt="USB C HDMI" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MIEIZc">Knaive Compatible with MacBook Pro USB C HDMI Combo Hub Adapter Dongle 6 in 1 USB-C to 4K HDMI Output, SD/MicroSD Card Reader</a></p>
    <div class="code_high">
      <address><span class="dis_price">$32.19</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>30% off at $45.99</strong> with promo code: <strong>304BM127</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MIEIZc">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="16.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K6Jiyu"><img src="https://m.media-amazon.com/images/I/61kpmkQpcmL._SR400,400_.jpg" alt="Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K6Jiyu">Laptop Backpack, Sosoon Business Bags with USB Charging Port Anti-Theft Water Resistant Polyester School Bookbag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.89</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>35% off at $25.99</strong> with promo code: <strong>35PR33YV</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 07, 2019 at 12:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K6Jiyu">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="27.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wq4ZQC"><img src="https://m.media-amazon.com/images/I/71imIm1BvNL._SR400,400_.jpg" alt="iPad 9.7 Keyboard Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wq4ZQC">iPad 9.7 Keyboard Case for iPad 2017 5th Gen/ 2018 New iPad 6th Generation/iPad Pro 9.7/ iPad Air 2 & 1, Wireless/BT, 360 Rotate</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.49</span><span class="ori_price">$49.99</span>
       <div class="tooltip_red">
        <span>Double Discount</span>
        <div class="tooltip-content">
          <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
        </div>
       </div>
      </address>
      <p><span>Take <strong>45% off at $49.99</strong> with promo code: <strong>45IIHN34</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wq4ZQC">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="51" data-price="12.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wjzanz"><img src="https://m.media-amazon.com/images/I/71OVc1XiCCL._SR400,400_.jpg" alt="BUBM Laptop Shoulder Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wjzanz">BUBM Laptop Shoulder Bag 13-14 Inch Laptop Sleeve Compatible for 13.3" MacBook Pro,MacBook Air, 13.5" Surface Laptop</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.25</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>51% off at $24.99</strong> with promo code: <strong>51WN2DOJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wjzanz">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="9.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EWJtIy"><img src="https://m.media-amazon.com/images/I/71KWyl+7YdL._SR400,400_.jpg" alt="NUTRIVISAGE Vitamin C Serum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EWJtIy">NUTRIVISAGE Vitamin C Serum for Face and Eyes w/Hyaluronic Acid Serum & Vitamin E,Non-Irritating, Natural Facial Serum</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.77</span><span class="ori_price">$13.95</span></address>
      <p><span>Take <strong>30% off at $13.95</strong> with promo code: <strong>30QVD59R</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EWJtIy">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K4IRVg"><img src="https://m.media-amazon.com/images/I/41kuXnvw3TL._SR400,400_.jpg" alt="SKEY Blackhead Remover Blackhead Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K4IRVg">SKEY Blackhead Remover Blackhead Vacuum,Pore Cleaner Electric Acne Comedone Extractor Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>50RVZD63</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K4IRVg">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="27.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WOCLOZ"><img src="https://m.media-amazon.com/images/I/714YGmLUJhL._SR400,400_.jpg" alt="NPET Electric Shaver for Men" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WOCLOZ">NPET Electric Shaver for Men, USB Rechargeable Electric Razor, IPX7 Waterproof Wet & Dry Rotary Cordless shavers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.74</span><span class="ori_price">$36.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>25% off at $36.99</strong> with promo code: <strong>25Z2LFXZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WOCLOZ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WoVmwC"><img src="https://m.media-amazon.com/images/I/61Pyb-ZG6cL._SR400,400_.jpg" alt="Agedate Waterproof Wireless Doorbell" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WoVmwC">Agedate Waterproof Wireless Doorbell with 2 Plug-in Receivers & 1 Transmitter Push Button Battery Free Home Door Bell Chime</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$26.99</span></address>
      <p><span>Take <strong>60% off at $26.99</strong> with promo code: <strong>60CB4255</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WoVmwC">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="28.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WjfWi8"><img src="https://m.media-amazon.com/images/I/71U6e5Yh5DL._SR400,400_.jpg" alt="Hamilton Beach 6-Quart Slow Cooker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WjfWi8">Hamilton Beach 6-Quart Slow Cooker, Programmable, Set & Forget with Temperature Probe, Transport Clips, Sealing Lid</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.80</span><span class="ori_price">$32.00</span>
       <div class="tooltip_red">
        <span>Double Discount</span>
        <div class="tooltip-content">
          <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
        </div>
       </div>
      </address>
      <p><span>Take <strong>10% off at $32.00</strong> with promo code: <strong>10HBDADS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WjfWi8">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="39.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KBflWH"><img src="https://m.media-amazon.com/images/I/61z6DI2D3BL._SR400,400_.jpg" alt="Bright Showers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KBflWH">Bright Showers - Handheld Showerhead and Overhead Rain Shower Head Combo Set – Massage Spray Setting</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.09</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>15% off at $45.99</strong> with promo code: <strong>15HEGVBB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KBflWH">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="110.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WipkCt"><img src="https://m.media-amazon.com/images/I/81lE8fCNkjL._SR400,400_.jpg" alt="Knife Block Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WipkCt">Cangshan S1 Series 1022568 German Steel Forged 5-Piece Starter Knife Block Set, Walnut</a></p>
    <div class="code_high">
      <address><span class="dis_price">$110.47</span><span class="ori_price">$129.97</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $129.97</strong> with promo code: <strong>1571BF9R</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WipkCt">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EVu2Ak"><img src="https://m.media-amazon.com/images/I/711PrnIktuL._SR400,400_.jpg" alt="Wear Over sunglasses" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EVu2Ak">Wear Over sunglasses for men women Polarized lens,fit over Prescription Glasses UV400</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>70% off at $19.99</strong> with promo code: <strong>70HJ5A57</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EVu2Ak">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="12" data-price="21.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ipvqfn"><img src="https://m.media-amazon.com/images/I/71yytlTQGlL._SR400,400_.jpg" alt="Geometric Luminous Purses and Handbags" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ipvqfn">Geometric Luminous Purses and Handbags for Women Holographic Reflactive Crossbody Bag Wallet</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.90</span><span class="ori_price">$24.89</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>12% off at $24.89</strong> with promo code: <strong>12OINMR7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ipvqfn">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="6.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KzCb0M"><img src="https://m.media-amazon.com/images/I/81BPMAlLiWL._SR400,400_.jpg" alt="VEHHE Pet Grooming Gloves Dog Cat" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KzCb0M">VEHHE Pet Grooming Gloves Dog Cat Horse Deshedding Hair Remover Glove with Stainless Steel Comb Pair of Enhanced Five Finger Design Brush Mitts</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.90</span><span class="ori_price">$22.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>70% off at $22.99</strong> with promo code: <strong>7072MRJR</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KzCb0M">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wolw2K"><img src="https://m.media-amazon.com/images/I/71wUgC1uOKL._SR400,400_.jpg" alt="Pedy Cat Water Fountain" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wolw2K">Pedy Cat Water Fountain, Automatic Cat Flower Water Fountain, Pet Water Fountain for Cats and Dogs with Filter, Green</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>50% off at $25.99</strong> with promo code: <strong>50DAEJY2</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wolw2K">Use Code</a>
  </div>
</div>

