<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="50" data-price="5.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EFU9LF"><img src="https://m.media-amazon.com/images/I/51lfCsKLrgL._SR400,400_.jpg" alt="SPORTLINK Outlet Wall Mount Hanger Holder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EFU9LF">SPORTLINK Outlet Wall Mount Hanger Holder for 3rd Gen & Huawei AI, Compact Bracket Case Plug in Kitchen Bathroom Bedroom</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.49</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>50% off at $10.99</strong> with promo code: <strong>5057K7HH</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EFU9LF">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="65" data-price="6.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WhwgE4"><img src="https://m.media-amazon.com/images/I/61O+VYsb4BL._SR400,400_.jpg" alt="Travel Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WhwgE4">Travel Adapter, SYOSIN International Travel Adapter, USB Wall Charger, USB Wall Plug Adapter, International Power Adapter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.64</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>65% off at $18.99</strong> with promo code: <strong>65ZWME66</strong></span></p>
      <span class="ex_date">Expiration Date : May 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WhwgE4">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2wcSKYf"><img src="https://m.media-amazon.com/images/I/51MHlXjhj+L._SR400,400_.jpg" alt="Portable Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2wcSKYf">Luxtude PowerEasy 5000mAh Ultra Slim Portable Charger for iPhone, Apple Certified Power Bank with Built in Lightning Cable, Fast Charging External Battery Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.49</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>15% off at $29.99</strong> with promo code: <strong>15LUXTUDE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2wcSKYf">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="5.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WkTBVw"><img src="https://m.media-amazon.com/images/I/51gVq1LP8jL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WkTBVw">Bluetooth Headphones, Wireless Bluetooth 4.1 Aptx Stereo Magnetic Earbuds Snug Fit for Sports with Built in Mic BT-519 Earphone</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.98</span><span class="ori_price">$13.29</span></address>
      <p><span>Take <strong>55% off at $13.29</strong> with promo code: <strong>55TG263E</strong></span></p>
      <span class="ex_date">Expiration Date : May 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WkTBVw">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="45.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2weGczs"><img src="https://m.media-amazon.com/images/I/61Dhg6WhKrL._SR400,400_.jpg" alt="InstaBox W33 Wireless Charging Alarm Clock Radio" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2weGczs">InstaBox W33 Wireless Charging Alarm Clock Radio, Work with Bluetooth, Dual Speakers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$45.49</span><span class="ori_price">$64.99</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $64.99</strong> with promo code: <strong>30JZ5TIA</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2weGczs">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="68" data-price="16.63">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WmKDXG"><img src="https://m.media-amazon.com/images/I/61mWEjWxB3L._SR400,400_.jpg" alt="Sleeping Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em></span>
    <p><a target="_blank" href="https://amzn.to/2WmKDXG">Track Man 2 Person Self-Inflating Sleeping Pad, Lightweight, for Outdoor Camping, Hiking, Backpacking, Traveling</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.63</span><span class="ori_price">$51.99</span></address>
      <p><span>Take <strong>68% off at $51.99</strong> with promo code: <strong>68QLWCTN</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WmKDXG">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="71.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30FkoLf"><img src="https://m.media-amazon.com/images/I/71beO9uKtJL._SR400,400_.jpg" alt="Zomei Z668 Professional DSLR Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30FkoLf">Zomei Z668 Professional DSLR Camera Fluid Head Tripod Monopod with Tripod Ball Head Travel Bag Compact Lightweight</a></p>
    <div class="code_high">
      <address><span class="dis_price">$71.99</span><span class="ori_price">$89.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $89.99</strong> with promo code: <strong>20JU95H4</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30FkoLf">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YR3fNb"><img src="https://m.media-amazon.com/images/I/71fru7OM5WL._SR400,400_.jpg" alt="Bike Light Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YR3fNb">Bike Light Set - Powerful Lumens LED Bicycle Headlight & TAIL LIGHT - Water Resistant - Easy Tool-Free Installation - 500 Feet Visibility</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$19.97</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>70% off at $19.97</strong> with promo code: <strong>702UV5NM</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YR3fNb">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="84.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EtUEYK"><img src="https://m.media-amazon.com/images/I/81CxKycg2PL._SR400,400_.jpg" alt="Security Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EtUEYK">Toucan Outdoor Wireless Wifi Security Camera, Motion Alert, Waterproof, Powered by Light Fixture / USB Charger Outlet, Video Downloadable</a></p>
    <div class="code_high">
      <address><span class="dis_price">$84.95</span><span class="ori_price">$99.95</span></address>
      <p><span>Take <strong>15% off at $99.95</strong> with promo code: <strong>15TOUCANHOME</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EtUEYK">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="65" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EtKJ5Q"><img src="https://m.media-amazon.com/images/I/71M0Jk9LkgL._SR400,400_.jpg" alt="Spring Assisted Knife" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EtKJ5Q">Spring Assisted Knife -Pocket Folding Knife - Military Style - Boy Scouts Knife - Tactical Knife - Good Survival Knife for Camping and Outdoor Activities</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$37.99</span></address>
      <p><span>Take <strong>65% off at $37.99</strong> with promo code: <strong>65BN1WHR</strong></span></p>
      <span class="ex_date">Expiration Date : May 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EtKJ5Q">Use Code</a>
  </div>
</div>


