<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="middle_show">
  <h1>CSS + HTML only Accordion Element</h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Languages Used</h2>
      <p>This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>How it Works</h2>
      <p>Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Points of Interest</h2>
      <p>By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
    </li>
  </ul>
</div> -->


<!-- 
<div class="tooltip_common tooltip_orange"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>
-->

<div class="card clearfix" data-score="26" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30g1kWI"><img src="https://images-na.ssl-images-amazon.com/images/I/618lUcvXssL._SX522_.jpg" alt="SanDisk 128GB MicroSDXC UHS-I Memory Card " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30g1kWI">SanDisk 128GB MicroSDXC UHS-I Memory Card for Nintendo Switch - SDSQXAO-128G-GNCZN</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.99</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30g1kWI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHq9mv"><img src="https://images-na.ssl-images-amazon.com/images/I/81XMMyJE-mL._SX522_.jpg" alt="SanDisk 64GB microSDXC UHS-I card" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHq9mv">SanDisk 64GB microSDXC UHS-I card for Nintendo Switch - SDSQXAT-064G-GN6ZA</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.99</span><span class="ori_price">$42.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LHq9mv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LENeGc"><img src="https://images-na.ssl-images-amazon.com/images/I/71Om5GPPZuL._SX679_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LENeGc">Bluetooth Headphones, Letsfit Wireless Headphones, IPX7 Waterproof Sports Earphones Gym Running, HD Stereo Headset w/Mic,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.96</span><span class="ori_price">$19.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LENeGc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="58.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30hc2fF"><img src="https://images-na.ssl-images-amazon.com/images/I/81tJ4JetHHL._SX425_.jpg" alt=">Battery-Biz Jump Starter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30hc2fF">Battery-Biz DRLJS20 Black Universal 12V 1100 Amp Lithium Ion Emergency Jump Starter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$58.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30hc2fF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="136.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30hxiCQ"><img src="https://images-na.ssl-images-amazon.com/images/I/51Fn43nusML._SX425_.jpg" alt="Coway AP-1512HH Mighty Air Purifier " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30hxiCQ">Coway AP-1512HH Mighty Air Purifier with True HEPA and Eco Mode</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$136.85</span><span class="ori_price">$229.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30hxiCQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="1,099.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2V6oZnz"><img src="https://images-na.ssl-images-amazon.com/images/I/91XcqPZTw8L._SX679_.jpg" alt="Samsung QN65Q6FN FLAT 65” QLED 4K UHD 6 Series Smart TV 2018" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2V6oZnz">Samsung QN65Q6FN FLAT 65” QLED 4K UHD 6 Series Smart TV 2018</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,099.99</span><span class="ori_price">$2,199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2V6oZnz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="9.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31FWXlh"><img src="https://images-na.ssl-images-amazon.com/images/I/51enlnGr-GL._SX679_.jpg" alt="Samsung EP-TA20JBEUGUS Fast Charge US..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31FWXlh">Samsung EP-TA20JBEUGUS Fast Charge USB-C 15W Wall Charger for Galaxy Note 8, 9, Galaxy S8, S8+, S9, S9+, S10, S10+, S10E Inbox Replacement...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.54</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31FWXlh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31H9O6F"><img src="https://images-na.ssl-images-amazon.com/images/I/61ji%2BV7TqgL._SY550_.jpg" alt="Lexar Professional 1000x 128GB SDXC UHS-II Card" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31H9O6F">Lexar Professional 1000x 128GB SDXC UHS-II Card</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.99</span><span class="ori_price">$63.53</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31H9O6F">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="27.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30c4r2F"><img src="https://images-na.ssl-images-amazon.com/images/I/81-sXcIHb8L._SX679_.jpg" alt="Bialetti Venus Espresso Coffee Maker, Stainless Steel, 4 cup" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30c4r2F">Bialetti Venus Espresso Coffee Maker, Stainless Steel, 4 cup</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.90</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30c4r2F">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="22.68">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30dVRAH"><img src="https://images-na.ssl-images-amazon.com/images/I/71c2WO7oq8L._SX522_.jpg" alt="Kidde Battery Operated Carbon Monoxide Alarm" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30dVRAH">Kidde Battery Operated Carbon Monoxide Alarm with Digital Display KN-Copp-B-LPM</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.68</span><span class="ori_price">$54.49</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30dVRAH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="21.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LEx7sj"><img src="https://images-na.ssl-images-amazon.com/images/I/71HVmbTyIcL._SX522_.jpg" alt="Verbatim CD-R 700MB 52X White Inkjet Hub ..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LEx7sj">Verbatim CD-R 700MB 52X White Inkjet Hub Printable Recordable Media Disc - 100pk Spindle</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.49</span><span class="ori_price">$54.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LEx7sj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="69" data-price="65.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34U8uiZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61jhgzpoZJL._SX425_.jpg" alt="Xerox Phaser 3260/DNI Monchrome Laser Printer - Wireless" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34U8uiZ">Xerox Phaser 3260/DNI Monchrome Laser Printer - Wireless</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$65.00</span><span class="ori_price">$209.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34U8uiZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ofv1ku"><img src="https://images-na.ssl-images-amazon.com/images/I/61DFr-rI7YL._SX679_.jpg" alt="Laptop Stand" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ofv1ku">Laptop Stand, Boyata Laptop Holder, Multi-Angle Stand with Heat-Vent to Elevate Laptop, Adjustable Notebook Stand for...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.89</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ofv1ku">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OkJ0pb"><img src="https://images-na.ssl-images-amazon.com/images/I/71%2B0rRSvEjL._SX425_.jpg" alt="Rain Design mStand Laptop Stand" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OkJ0pb">Rain Design mStand Laptop Stand, Silver (Patented)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OkJ0pb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="46.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30cVUMQ"><img src="https://images-na.ssl-images-amazon.com/images/I/91iCw7ymOaL._UX679_.jpg" alt="Kenneth Cole Reaction Brooklyn Commuter..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30cVUMQ">Kenneth Cole Reaction Brooklyn Commuter Slim TSA Checkpoint-Friendly Anti-Theft RFID 16" Laptop & Tablet Business Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.19</span><span class="ori_price">$64.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30cVUMQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="26.32">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30cW9re"><img src="https://images-na.ssl-images-amazon.com/images/I/51C7l0zaraL._SX425_.jpg" alt="Likii White Noise Machine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30cW9re">Likii White Noise Machine, Baby Night Light, 29 Sounds with 8 Colour Nightlight, Compact and Cute Egg Shape for Baby Sleep,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.32</span><span class="ori_price">$55.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30cW9re">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34YTxMv"><img src="https://images-na.ssl-images-amazon.com/images/I/911HkWbrVaL._SX425_.jpg" alt="Alien Studio Laptop Cooling Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34YTxMv">Alien Studio Laptop Cooling Pad – Slim Fan Laptop Stand - 4 Super Silent USB Cooling Fans, 2 Extra USB Ports, Non-Slip Base, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34YTxMv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30hfB6g"><img src="https://images-na.ssl-images-amazon.com/images/I/41xNtWtAFyL._SX679_.jpg" alt="Apple USB-C Charge Cable (2m)" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30hfB6g">Apple USB-C Charge Cable (2m)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$35.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30hfB6g">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="19.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30g4j20"><img src="https://images-na.ssl-images-amazon.com/images/I/81XuTYpGFiL._SX522_.jpg" alt="Logitech C270 Desktop or Laptop Webcam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30g4j20">Logitech C270 Desktop or Laptop Webcam, HD 720p Widescreen for Video Calling and Recording</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.50</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30g4j20">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Oeo0jR"><img src="https://images-na.ssl-images-amazon.com/images/I/8172FULVivL._SX522_.jpg" alt="TP-Link 8 Port Gigabit Ethernet Network Switch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Oeo0jR">TP-Link 8 Port Gigabit Ethernet Network Switch | Ethernet Splitter | Sturdy Metal w/ Shielded Ports | Plug-and-Play ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_orange"><span> + $2 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $2 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Oeo0jR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ode227"><img src="https://images-na.ssl-images-amazon.com/images/I/81HNnzPqQfL._SX425_.jpg" alt="MidWest Homes for Pets Deluxe Pet Beds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ode227">MidWest Homes for Pets Deluxe Pet Beds | Super Plush Dog & Cat Beds Ideal for Dog Crates | Machine Wash & Dryer Friendly...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$28.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ode227">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="16.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nslw1F"><img src="https://images-na.ssl-images-amazon.com/images/I/31%2BJxlM9oEL._SX425_.jpg" alt="Furminator for Cats Undercoat Deshedding Tool" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nslw1F">Furminator for Cats Undercoat Deshedding Tool for Cats, Stainless Edge with Fur Ejector</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.09</span><span class="ori_price">$22.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Nslw1F">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="16.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Gek5v"><img src="https://images-na.ssl-images-amazon.com/images/I/91bfJ4kRCjL._SY879_.jpg" alt="Shot Flask" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Gek5v">Shot Flask - Stainless Steel 8 oz Hip Flask, Built-in Collapsible 2 Oz. Shot Glass & Flask Funnel - Everything You Need to ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.96</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Gek5v">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="14.53">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30bj6LA"><img src="https://images-na.ssl-images-amazon.com/images/I/81HNSgW4MaL._SX425_.jpg" alt="Kerasal Fungal Nail Renewal" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30bj6LA">Kerasal Fungal Nail Renewal - Visible results start in just 1 week, 10ml</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.53</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30bj6LA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="86.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34ZTnEF"><img src="https://images-na.ssl-images-amazon.com/images/I/71qXNGiHCUL._SY879_.jpg" alt="Fujifilm INSTAX Share SP-2 Mobile Printer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34ZTnEF">Fujifilm INSTAX Share SP-2 Mobile Printer (Gold)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$86.00</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34ZTnEF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="299.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/308ACiT"><img src="https://images-na.ssl-images-amazon.com/images/I/41hPcchLoVL.jpg" alt="G-Technology 2TB G-DRIVE Mobile SSD" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/308ACiT">G-Technology 2TB G-DRIVE Mobile SSD Durable Portable External Storage - USB-C (USB 3.1), Up to 560 MB/s - 0G06054</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.99</span><span class="ori_price">$749.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/308ACiT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="43.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34YTtMP"><img src="https://images-na.ssl-images-amazon.com/images/I/61nK5Oifs5L._SX522_.jpg" alt="OtterBox DEFENDER SERIES Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34YTtMP">OtterBox DEFENDER SERIES Case for iPad Pro9.7" VERSION - Retail Packaging - BLACK</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$43.97</span><span class="ori_price">$89.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34YTtMP">Shop Now at Amazon</a></div>
</div>

