<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now</a>
  </div>
</div> -->

<div class="card clearfix" data-score="50" data-price="64.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M7zfLh"><img src="https://m.media-amazon.com/images/I/71+JdOvaZrL._AC_UL436_.jpg" alt="Microsoft Surface Go Signature Type Cover" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M7zfLh">Microsoft Surface Go Signature Type Cover</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.99</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M7zfLh">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Qn8tgl"><img src="https://m.media-amazon.com/images/I/71k02T6KxML._AC_UL436_.jpg" alt="Broadband Router" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Qn8tgl">Linksys WRT54GL Wi-Fi Wireless-G Broadband Router</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Qn8tgl">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2W0nc7k"><img src="https://m.media-amazon.com/images/I/61WmKKqMdhL._AC_UL436_.jpg" alt="Gaming Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2W0nc7k">Sennheiser PC 373D - 7.1 Surround Sound Gaming Headset</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$249.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2W0nc7k">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M7WeGj"><img src="https://m.media-amazon.com/images/I/81u+uVYTlxL._AC_UL436_.jpg" alt="Roku Smart LED TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M7WeGj">TCL 32S305 32-Inch 720p Roku Smart LED TV (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M7WeGj">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="51" data-price="243.82">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YLY3tW"><img src="https://images-na.ssl-images-amazon.com/images/I/613G2cLFg0L._SX522_.jpg" alt="Sennheiser Momentum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YLY3tW">Sennheiser Momentum 2.0 Wireless with Active Noise Cancellation- Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$243.82</span><span class="ori_price">$499.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YLY3tW">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="53" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wi76VX"><img src="https://images-na.ssl-images-amazon.com/images/I/614udiLTdpL._SX522_.jpg" alt="SanDisk 64GB Extreme SDXC UHS-I Memory Card" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wi76VX">SanDisk 64GB Extreme SDXC UHS-I Memory Card - 90MB/s, C10, U3, V30, 4K UHD, SD Card - SDSDXVE-064G-GNCIN</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$33.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wi76VX">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="56" data-price="75.62">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EvyMwb"><img src="https://m.media-amazon.com/images/I/910EXG+ULOL._AC_UL436_.jpg" alt="MXL Mics 770 Cardioid Condenser Microphone" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EvyMwb">MXL Mics 770 Cardioid Condenser Microphone</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$75.62</span><span class="ori_price">$169.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EvyMwb">Shop Now</a>
  </div>
</div>


<div class="card clearfix" data-score="56" data-price="17.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30DGopY"><img src="https://images-na.ssl-images-amazon.com/images/I/61fzMucEX8L._SX679_.jpg" alt="Belkin Boost Up Qi Wireless Charging Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30DGopY">Belkin Boost Up Qi Wireless Charging Pad 5W – Universal Wireless Charger for iPhone XR, XS, XS Max / Samsung Galaxy S9, S9+, Note9 / LG, Sony and more</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.50</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30DGopY">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YErsGm"><img src="https://m.media-amazon.com/images/I/71zLdeLLmCL._AC_UL436_.jpg" alt="Nintendo Switch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YErsGm">PowerA Joy-Con & Pro Controller Charging Dock - Nintendo Switch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YErsGm">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="68" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ew4qts"><img src="https://m.media-amazon.com/images/I/61bbxtGewZL._AC_UL320_.jpg" alt="T-fal" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ew4qts">T-fal E91898 Ultimate Hard Anodized Scratch Resistant Titanium Nonstick Thermo-Spot Heat Indicator Anti-Warp Base Dishwasher Safe Oven Safe PFOA Free Glass Lid Cookware, 12-Inch, Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$125.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ew4qts">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="63" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QnwOmj"><img src="https://m.media-amazon.com/images/I/41EqsT+FCWL._AC_UL320_.jpg" alt="Lodge 3.5 Inch Cast Iron Mini Skillet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QnwOmj">Lodge 3.5 Inch Cast Iron Mini Skillet. Miniature Skillet for Individual Meal Use or Desserts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.99</span><span class="ori_price">$13.52</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QnwOmj">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M8E8E5"><img src="https://m.media-amazon.com/images/I/71wgaeEkddL._AC_UL320_.jpg" alt="Coffeemaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M8E8E5">BLACK+DECKER 12-Cup Programmable Coffeemaker, Black, CM1160B</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M8E8E5">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="189.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30CMMh7"><img src="https://m.media-amazon.com/images/I/41Dw9u21EXL._AC_UL320_.jpg" alt="ECOVACS DEEBOT 601 Robotic Vacuum Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30CMMh7">ECOVACS DEEBOT 601 Robotic Vacuum Cleaner with App Control, for Carpet & Optimized for Hard Floor, Max Mode, Quiet, Scheduling...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$189.99</span><span class="ori_price">$379.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30CMMh7">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="57" data-price="17.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hz5lLA"><img src="https://m.media-amazon.com/images/I/71i-mL9S6HL._AC_UL320_.jpg" alt="Intex Downy Airbed" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hz5lLA">Intex Downy Airbed with Built-in Foot Pump, Queen</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.17</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Hz5lLA">Shop Now</a>
  </div>
</div>

