<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="20" data-price="21.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HqfiL2"><img src="https://m.media-amazon.com/images/I/71BVzqPXvUL._SR400,400_.jpg" alt="Shower Filter Hard Water Softener" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HqfiL2">Shower Filter Hard Water Softener – Weluvfit 16 Stage High Output Universal Replacement Cartridges with Vitamin C Shower Filter...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.59</span><span class="ori_price">$26.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20HLLECD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $26.99</strong> with promo code: <strong class="m_codes">20HLLECD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HqfiL2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NyeOGu"><img src="https://m.media-amazon.com/images/I/718f-3AlaTL._SR400,400_.jpg" alt="Maud's Decaf Donut Shop Coffee" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NyeOGu">Maud's Decaf Donut Shop Coffee, (Dunk Your Donut Shop), 100ct. Recyclable Single Serve Coffee Pods - Richly satisfying arabica beans California...  </a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.50</span><span class="ori_price">$39.00</span></address>
      <textarea readonly="readonly" class="code_area">50BRADSDEAL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.00</strong> with promo code: <strong class="m_codes">50BRADSDEAL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NyeOGu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="64.36">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zw0iW0"><img src="https://m.media-amazon.com/images/I/61RScrb--PL._SR400,400_.jpg" alt="Naipo Shiatsu Foot Massager" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zw0iW0">Naipo Shiatsu Foot Massager with Deep Kneading 3 Level Intensities and Optional Heat</a></p>
    <div class="code_high">
      <address><span class="dis_price">$64.36</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">30NUVOZI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $99.99</strong> with promo code: <strong class="m_codes">30NUVOZI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 29, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zw0iW0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="6.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zl2bpx"><img src="https://m.media-amazon.com/images/I/71C2HGm5KOL._SR400,400_.jpg" alt="PETRIP Bathing Tool Dog Massage Brush" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zl2bpx">PETRIP Bathing Tool Dog Massage Brush Pet Shower Sprayer Grooming Shedding Bath for Dog Cat Outdoor Use</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.80</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">80IGQGDV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $33.99</strong> with promo code: <strong class="m_codes">80IGQGDV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zl2bpx">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hqp1Rz"><img src="https://m.media-amazon.com/images/I/71daDyksqJL._SR400,400_.jpg" alt="KogMaW Large Separable Solar LED Motion Detection Security Flood Light" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hqp1Rz">KogMaW Large Separable Solar LED Motion Detection Security Flood Light. Solar and Battery Power Supply.</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">50XZEZZF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $27.99</strong> with promo code: <strong class="m_codes">50XZEZZF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Hqp1Rz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HnC9GT"><img src="https://m.media-amazon.com/images/I/71-pvbLI1ZL._SR400,400_.jpg" alt="Bluetooth Headphones/Sports Sweatproof Wireless Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HnC9GT">Bluetooth Headphones/Sports Sweatproof Wireless Headphones/Neckband Headset/Digital Noise Cancellation Earphone. (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50DAF5QM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50DAF5QM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HnC9GT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="15.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NrItBg"><img src="https://m.media-amazon.com/images/I/91rr4a6S-cL._SR400,400_.jpg" alt="Albe Rita Knit Pullover Sweater" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NrItBg">Albe Rita Knit Pullover Sweater for Women Turtleneck Fleece Sweater Novelty Sweater with Turned-Over Collar</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.59</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">40TMD12X</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $25.99</strong> with promo code: <strong class="m_codes">40TMD12X</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NrItBg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3200Il6"><img src="https://m.media-amazon.com/images/I/61Kz-f5Gm9L._SR400,400_.jpg" alt="JETERY 8-Cup Water Filter Pitcher" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3200Il6">JETERY 8-Cup Water Filter Pitcher, Long-Lasting Fast Filtration(200 Gallon) Patented ACF Military Technology,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50YJUHL5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.99</strong> with promo code: <strong class="m_codes">50YJUHL5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3200Il6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/327JrGH"><img src="https://m.media-amazon.com/images/I/61tM+QIWiHL._SR400,400_.jpg" alt="VICSEED Car Phone Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/327JrGH">VICSEED Car Phone Mount, Universal Magnetic Phone Car Mount, Handsfree Cell Phone Holder for Car Dashboard Compatible...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">609WLTKH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $19.99</strong> with promo code: <strong class="m_codes">609WLTKH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/327JrGH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZounmA"><img src="https://m.media-amazon.com/images/I/71-DgeFRiHL._SR400,400_.jpg" alt="GHB Electric Pet Clippers Cordless Dog Grooming Clippers Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZounmA">GHB Electric Pet Clippers Cordless Dog Grooming Clippers Set Low Noise Animal Hair Trimmer Cutter Kit with Sharp Blades Comb...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">70EOTXAO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $29.99</strong> with promo code: <strong class="m_codes">70EOTXAO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZounmA">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UaUtbK"><img src="https://images-na.ssl-images-amazon.com/images/I/61XTCYxi4sL._SX679_.jpg" alt="Fansteck Toilet Light Motion Detection" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UaUtbK">Fansteck Toilet Light Motion Detection - 16 Colors LED Toilet Bowl Light - New Design of Double Flexible Arms ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">503LGT7G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">503LGT7G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2UaUtbK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="24.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/320HjRh"><img src="https://m.media-amazon.com/images/I/71Z+igSM4iL._SR400,400_.jpg" alt="Espresso Machine, Aicook 3.5Bar Espresso Coffee Maker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/320HjRh">Espresso Machine, Aicook 3.5Bar Espresso Coffee Maker, Espresso and Cappuccino Machine with Milk Frother, Espresso Maker with Steamer, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.93</span><span class="ori_price">$42.99</span></address>
      <textarea readonly="readonly" class="code_area">42VKXUIE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>42% off at $42.99</strong> with promo code: <strong class="m_codes">42VKXUIE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 29, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/320HjRh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hrk2jH"><img src="https://m.media-amazon.com/images/I/61mwWEJ6NUL._SR400,400_.jpg" alt="Adoric Cordless Water Flosser " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hrk2jH">Adoric Cordless Water Flosser for Teeth Portable Dental Oral Irrigator Rechargeable with 4 Jet Tips, Teeth Cleaner for Braces,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">3099BWUU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $39.99</strong> with promo code: <strong class="m_codes">3099BWUU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Hrk2jH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3261lK9"><img src="https://m.media-amazon.com/images/I/51Z6bNZ5YjL._SR400,400_.jpg" alt="TaoTronics Cool Mist Humidifiers" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3261lK9">TaoTronics Cool Mist Humidifiers for Babies [BPA Free], Quiet and Small Ultrasonic Humidifier for Bedroom Nightstand,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.29</span><span class="ori_price">$38.99</span></address>
      <textarea readonly="readonly" class="code_area">30GS5QFW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $38.99</strong> with promo code: <strong class="m_codes">30GS5QFW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3261lK9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="29.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZABlsU"><img src="https://m.media-amazon.com/images/I/71InruGSR1L._SR400,400_.jpg" alt="PopBabies Portable Blender" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZABlsU">PopBabies Portable Blender, Personal Blender with USB Rechargeable Small Blender for Shakes and Smoothies, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.59</span><span class="ori_price">$36.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20SPLH74</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $36.99</strong> with promo code: <strong class="m_codes">20SPLH74</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZABlsU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KTRilE"><img src="https://m.media-amazon.com/images/I/61d5gaVsnSL._SR400,400_.jpg" alt="LED Mask Scary Glowing EL Wire Light Up Pouting Mask" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KTRilE">PETUOL Halloween LED Mask Scary Glowing EL Wire Light Up Pouting Mask for Festive Party Costumes Black/Green</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">508AKHB2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">508AKHB2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KTRilE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/321QPUb"><img src="https://m.media-amazon.com/images/I/412P9MwjO-L._SR400,400_.jpg" alt="Mynos Backpack Bag Women Mini Rucksack Travel" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/321QPUb">Mynos Backpack Bag Women Mini Rucksack Travel Daypack Backpack Leather Bag Ladies Purse And Handbags</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.19</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">304J3KCT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $25.99</strong> with promo code: <strong class="m_codes">304J3KCT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/321QPUb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZvMUNX"><img src="https://m.media-amazon.com/images/I/51jvqjo3KEL._SR400,400_.jpg" alt="Petacc Dog Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZvMUNX">Petacc Dog Water Bottle Leak-Proof Cat Dog Drinking Cup Pet Travel Water Cup for Pets Outdoor Walking, Hiking, Travel, 400ml</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$10.00</span></address>
      <textarea readonly="readonly" class="code_area">5014OOSK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $10.00</strong> with promo code: <strong class="m_codes">5014OOSK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZvMUNX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32798rg"><img src="https://m.media-amazon.com/images/I/71HSPqo74cL._SR400,400_.jpg" alt="Himalayan Salt Lamps" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32798rg">Himalayan Salt Lamps, OxyLED Natural Pink Salt Night Lights with Two Bulbs, Crystal Rock Salt Light in Metal Basket ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.39</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">4024J87A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $13.99</strong> with promo code: <strong class="m_codes">4024J87A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32798rg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/321iFzU"><img src="https://m.media-amazon.com/images/I/61Zr8O15SyL._SR400,400_.jpg" alt="Solar Garden Lights Outdoor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/321iFzU">Solar Garden Lights Outdoor - Adecorty Solar Garden Stake Lights 3 Color Solar Path Lights, Landscape Lights for Garden Path Walkway...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">507FMTON</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.99</strong> with promo code: <strong class="m_codes">507FMTON</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/321iFzU">Use Code at Amazon</a></div>
</div>
