<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>
-->



<div class="card clearfix" data-score="44" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MXVTFL"><img src="https://images-na.ssl-images-amazon.com/images/I/71Cisxe2TjL._SX425_.jpg" alt="NESCO FD-75A, Snackmaster Pro Food Dehydrator" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MXVTFL">NESCO FD-75A, Snackmaster Pro Food Dehydrator, Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$88.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MXVTFL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NNsOMO"><img src="https://images-na.ssl-images-amazon.com/images/I/81G8mpKBSPL._SX679_.jpg" alt="MalloMe Tumbler Stainless Steel Insulated Tumbler" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NNsOMO">MalloMe Tumbler Stainless Steel Insulated Tumbler With Straw – Best Tumblers With Lids And Straws - Coffee 30 oz Cup Travel Mug Handle...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$23.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NNsOMO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZHjmRh"><img src="https://images-na.ssl-images-amazon.com/images/I/71eJaiy8htL._SX522_.jpg" alt="Sengled Smart LED Soft White A19 Starter Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZHjmRh">Sengled Smart LED Soft White A19 Starter Kit, 2700K 60W Equivalent, 2 Light Bulbs & Hub, Works with Alexa & Google Assistant</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZHjmRh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlEogy"><img src="https://images-na.ssl-images-amazon.com/images/I/619nk-MplKL._SY450_.jpg" alt="Adams Manufacturing 8500-48-3700 Plastic Quik-Fold Side Table" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlEogy">Adams Manufacturing 8500-48-3700 Plastic Quik-Fold Side Table, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlEogy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="19.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LsuLvh"><img src="https://images-na.ssl-images-amazon.com/images/I/81TeJ-nysZL._SX522_.jpg" alt="Bamboo Charcoal Air Purifying Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LsuLvh">Bamboo Charcoal Air Purifying Bag (4 Pack), 200g Natural Air Purifying Bags, Activated Charcoal Odor Eliminators,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.95</span><span class="ori_price">$25.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LsuLvh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="61" data-price="8.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MXKKo8"><img src="https://images-na.ssl-images-amazon.com/images/I/71zZfSOqeHL._SX425_.jpg" alt="Children's Toothpaste" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MXKKo8">Tom's of Maine Anticavity Fluoride Children's Toothpaste, Kids Toothpaste, Natural Toothpaste, Silly Strawberry,</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.91</span><span class="ori_price">$23.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MXKKo8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZORua5"><img src="https://images-na.ssl-images-amazon.com/images/I/71bKgK%2Bm2DL._SX425_.jpg" alt="Neutrogena Age Shield Face Lotion Sunscreen" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZORua5">Neutrogena Age Shield Face Lotion Sunscreen with Broad Spectrum SPF 110, Oil-Free & Non-Comedogenic Moisturizing Sunscreen...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$12.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZORua5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZT72cI"><img src="https://images-na.ssl-images-amazon.com/images/I/71w7F7hnUlL._SX425_.jpg" alt="AsaVea, 4D Silk FIber Lash Mascara" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZT72cI">AsaVea, 4D Silk FIber Lash Mascara</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$24.90</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZT72cI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="34.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NRCVQM"><img src="https://images-na.ssl-images-amazon.com/images/I/71WM3VF6P%2BL._SX425_.jpg" alt="Everlasting Comfort Diffuser" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NRCVQM">Everlasting Comfort Diffuser for Essential Oils (400ml) - Super High Aroma Output with Cleaning Kit, Dark Wood, 400ml</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.95</span><span class="ori_price">$39.95</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NRCVQM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlfTQs"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZnPLd%2BGPL._SX425_.jpg" alt="Lagunamoon Essential Oils Top 6 Gift Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlfTQs">Lagunamoon Essential Oils Top 6 Gift Set Pure Essential Oils for Diffuser, Humidifier, Massage, Aromatherapy, Skin & Hair Care</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$15.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlfTQs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="29.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NQBd1R"><img src="https://images-na.ssl-images-amazon.com/images/I/61oN-g1m1vL._SX522_.jpg" alt="KOHLER K-4636-0 Cachet Elongated White Toilet Seat" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NQBd1R">KOHLER K-4636-0 Cachet Elongated White Toilet Seat, with Grip-Tight Bumpers, Quiet-Close Seat, Quick-Release Hinges,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.95</span><span class="ori_price">$61.35</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NQBd1R">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="21.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NNX8a9"><img src="https://images-na.ssl-images-amazon.com/images/I/81rk%2BRaKd3L._SX522_.jpg" alt="DEWALT Titanium Drill Bit Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NNX8a9">DEWALT Titanium Drill Bit Set, Pilot Point, 21-Piece (DW1361)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.85</span><span class="ori_price">$49.72</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NNX8a9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="3.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZS6NPg"><img src="https://images-na.ssl-images-amazon.com/images/I/513DcnA5PfL._SX425_.jpg" alt="Scotch Brand 3M 7100002398 Super33" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZS6NPg">Scotch Brand 3M 7100002398 Super33+ Vinyl Electrical Tape-3/4, 3/4" X 66', Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.98</span><span class="ori_price">$9.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZS6NPg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="89.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZNw5y4"><img src="https://images-na.ssl-images-amazon.com/images/I/91AscIpwYWL._SX522_PIbundle-170,TopRight,0,0_SX522SY347SH20_.jpg" alt="Crescent 170 Pc. General Purpose Tool Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZNw5y4">Crescent 170 Pc. General Purpose Tool Set - Closed Case - CTK170CMP2</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.87</span><span class="ori_price">$206.13</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZNw5y4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MXSG8W"><img src="https://images-na.ssl-images-amazon.com/images/I/718rwtsjchL._SX522_.jpg" alt="First Alert Plug-In Carbon Monoxide Detector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MXSG8W">First Alert Plug-In Carbon Monoxide Detector, CO600</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.48</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MXSG8W">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="53.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34qMUCr"><img src="https://images-na.ssl-images-amazon.com/images/I/81Wno5eF4iL._SX522_.jpg" alt="August Smart Keypad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34qMUCr">August Smart Keypad</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$53.00</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34qMUCr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="309.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LnVev9"><img src="https://images-na.ssl-images-amazon.com/images/I/71LyTRGqB4L._SX425_.jpg" alt="GoPro HERO 7 Black" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LnVev9">GoPro HERO 7 Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$309.95</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LnVev9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmbaOA"><img src="https://images-na.ssl-images-amazon.com/images/I/71B1PpPVFoL._UX679_.jpg" alt="Under Armour Boys' Renegade 2.0 Printed Shorts" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmbaOA">Under Armour Boys' Renegade 2.0 Printed Shorts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.97</span><span class="ori_price">$30.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LmbaOA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HP5uup"><img src="https://images-na.ssl-images-amazon.com/images/I/718mQv6zAhL._SX425_.jpg" alt="Intex Dura-Beam Standard Series Pillow Rest Raised Airbed" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HP5uup">Intex Dura-Beam Standard Series Pillow Rest Raised Airbed w/Built-in Pillow & Internal Electric Pump</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$38.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HP5uup">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NO6Mtn"><img src="https://images-na.ssl-images-amazon.com/images/I/81a-zx3t8eL._SX425_.jpg" alt="BV Bicycle Light Set Super Bright 5 LED Headlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NO6Mtn">BV Bicycle Light Set Super Bright 5 LED Headlight, 3 LED Taillight, Quick-Release</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$20.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NO6Mtn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="21.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LsImmj"><img src="https://images-na.ssl-images-amazon.com/images/I/81O7GFyhdcL._SY741_.jpg" alt="Wilson 75 Tennis Ball Pick Up Hopper" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LsImmj">Wilson 75 Tennis Ball Pick Up Hopper</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.96</span><span class="ori_price">$27.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LsImmj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="28.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NRJW44"><img src="https://images-na.ssl-images-amazon.com/images/I/61m4DIHdrAL._SX425_.jpg" alt="ENO - Eagles Nest Outfitters DoubleNest Hammock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NRJW44">ENO - Eagles Nest Outfitters DoubleNest Hammock, Portable Hammock for Two</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.99</span><span class="ori_price">$69.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NRJW44">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HPmksQ"><img src="https://images-na.ssl-images-amazon.com/images/I/817bz4xDpuL._SX425_.jpg" alt="Allen Sports Ultra Compact Trunk Mounted Bike Rack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HPmksQ">Allen Sports Ultra Compact Trunk Mounted Bike Rack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HPmksQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="11.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZTIlwS"><img src="https://images-na.ssl-images-amazon.com/images/I/71V2WTB0h1L._SY879_.jpg" alt="Bell Air Attack High Volume Bicycle Pumps" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZTIlwS">Bell Air Attack High Volume Bicycle Pumps</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.88</span><span class="ori_price">$20.87</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZTIlwS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NYKHIJ"><img src="https://images-na.ssl-images-amazon.com/images/I/81FTdyVeF4L._UX679_.jpg" alt="Little Earth NFL Sheer Infinity Scarf" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NYKHIJ">Little Earth NFL Sheer Infinity Scarf</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.86</span><span class="ori_price">$21.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NYKHIJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lm9uof"><img src="https://images-na.ssl-images-amazon.com/images/I/910jYf5st5L._SX425_.jpg" alt="TG Champion Tournament Bristle Dartboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lm9uof">TG Champion Tournament Bristle Dartboard (Multicolor, 18 x 1.5-Inch)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.00</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lm9uof">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="12.23">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZOiI0j"><img src="https://images-na.ssl-images-amazon.com/images/I/81V%2BLJzQ1XL._SX425_.jpg" alt="Intex Explorer 200" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZOiI0j">Intex Explorer 200</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.23</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZOiI0j">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NNHnjs"><img src="https://images-na.ssl-images-amazon.com/images/I/512w7YOMLwL._UX679_.jpg" alt="Intex French Oars" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NNHnjs">Intex French Oars, 1 Pair, 48"</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.99</span><span class="ori_price">$11.78</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NNHnjs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="13.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Uvutbb"><img src="https://images-na.ssl-images-amazon.com/images/I/61HI3zbZU5L._SX425_.jpg" alt="Doctor's Best High Absorption CoQ10 with BioPerine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Uvutbb">Doctor's Best High Absorption CoQ10 with BioPerine, Gluten Free, Naturally Fermented, Heart Health, Energy Production,100 mg 120 Softgels</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.01</span><span class="ori_price">$33.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="12.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlpwPc"><img src="https://images-na.ssl-images-amazon.com/images/I/71sfAL8oxAL._SY679_.jpg" alt="Jarrow Formulas Methylcobalamin" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlpwPc">Jarrow Formulas Methylcobalamin (Methyl B12), Supports Brain Cells, 5000 mcg, 60 Lozenges</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.55</span><span class="ori_price">$29.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlpwPc">Shop Now at Amazon</a></div>
</div>

