<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->
<div class="card clearfix" data-score="25" data-price="11.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Hx4Bo"><img src="https://m.media-amazon.com/images/I/81CWHWkTLvL._SR400,400_.jpg" alt="Phone Tripod" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Hx4Bo">Phone Tripod, Flexible Cell Phone Tripod Adjustable Camera Stand Holder with Wireless Remote and Universal Clip 360°...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.24</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">25DE5A2N</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $14.99</strong> with promo code: <strong class="m_codes">25DE5A2N</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Hx4Bo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="29.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31QEGSx"><img src="https://m.media-amazon.com/images/I/714169nKECL._SR400,400_.jpg" alt="Wireless Security Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31QEGSx">Wireless Security Camera, Corsee 1080P Security Camera System Outdoor Cameras, Support 2 Way Audio,Outdoor Security...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.98</span><span class="ori_price">$59.97</span></address>
      <textarea readonly="readonly" class="code_area">50NKTJXU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $59.97</strong> with promo code: <strong class="m_codes">50NKTJXU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 23, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31QEGSx">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="22.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30E9Kn1"><img src="https://m.media-amazon.com/images/I/51ORqmKiggL._SR400,400_.jpg" alt="Ulgoo Travel Duffel Bag Canvas Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30E9Kn1">Ulgoo Travel Duffel Bag Canvas Bag PU Leather Weekend Bag Overnight</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.79</span><span class="ori_price">$37.99</span></address>
      <textarea readonly="readonly" class="code_area">40FZMNJX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $37.99</strong> with promo code: <strong class="m_codes">40FZMNJX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30E9Kn1">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="28.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30dsMW0"><img src="https://images-na.ssl-images-amazon.com/images/I/61wHGE6BPyL._SX679_.jpg" alt="Electric Fondue Maker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30dsMW0">Electric Fondue Maker 6 Cup Stainless Steel Electric Fondue Pot with Temperature Control, 8 Color Fondue Forks and Removable Pot...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.00</span><span class="ori_price">$45.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">D29UDPIZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $45.99</strong> with promo code: <strong class="m_codes">D29UDPIZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : 09/27/2019 11:59 PMPDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30dsMW0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="170.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LFELT3"><img src="https://m.media-amazon.com/images/I/514ykgyHubL._SR400,400_.jpg" alt="Robot Vacuum Cleaner" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LFELT3">Robot Vacuum Cleaner Self-Charging Robotic Vacuum Cleaner with Remote (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$170.40</span><span class="ori_price">$425.99</span></address>
      <textarea readonly="readonly" class="code_area">6047CZ43</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $425.99</strong> with promo code: <strong class="m_codes">6047CZ43</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LFELT3">Use Code at Amazon</a></div>
</div>
 
 <div class="card clearfix" data-score="15" data-price="13.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2McZNYC"><img src="https://m.media-amazon.com/images/I/71shQ08ikfL._SR400,400_.jpg" alt="Spiralizer Vegetable Slicer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2McZNYC">Spiralizer Vegetable Slicer, Spiral Slicer Strongest-and-Heaviest Duty Salad Utensil, Best Veggie Pasta & Spaghetti...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.59</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">15BEQYF9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $15.99</strong> with promo code: <strong class="m_codes">15BEQYF9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 23, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2McZNYC">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="20.82">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31QC8Ut"><img src="https://m.media-amazon.com/images/I/81IppatGUJL._SR400,400_.jpg" alt="STARNUO French Press Coffee Maker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31QC8Ut">STARNUO French Press Coffee Maker, 34 Ounce,1.0 Liter,18/10 Stainless Steel,Heat Resistant Borosilicate Glass,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.82</span><span class="ori_price">$24.49</span>
        <div class="tooltip_common tooltip_green"><span> + $2 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $2 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">15NZVAI5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $24.49</strong> with promo code: <strong class="m_codes">15NZVAI5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31QC8Ut">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LJezau"><img src="https://m.media-amazon.com/images/I/51JFdbbIYHL._SR400,400_.jpg" alt="JYYT Frosted Ceramic Cup Coffee Cup" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LJezau">JYYT Frosted Ceramic Cup Coffee Cup Mug Tea Cup for Office and Home Perfect Gift,Maximum Capacity 13.5oz (yellow)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">30GDXUXQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $12.99</strong> with promo code: <strong class="m_codes">30GDXUXQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LJezau">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="14.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Sirv6"><img src="https://m.media-amazon.com/images/I/61z0Ap6OWfL._SR400,400_.jpg" alt="ASCINATE Lighted Makeup Mirror " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Sirv6">ASCINATE Lighted Makeup Mirror with 21 LED Lights Touch Screen Dimming, Tri-Fold 3X/2X/1X Magnification 180 Degree Rotation...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.94</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">35ZZAY17</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $22.99</strong> with promo code: <strong class="m_codes">35ZZAY17</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Sirv6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="19.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30jKyHe"><img src="https://m.media-amazon.com/images/I/61KqpPvmOCL._SR400,400_.jpg" alt="Smoothie Blender" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30jKyHe">Smoothie Blender, BILACA Personal Blender Single Serve for Shakes and Smoothies,Frozen Fruit Blender With 18oz BPA-Free Sport Bottles,300W</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.71</span><span class="ori_price">$28.98</span></address>
      <textarea readonly="readonly" class="code_area">329PSP79</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>32% off at $28.98</strong> with promo code: <strong class="m_codes">329PSP79</strong></span></p><span class="ex_date ex_date_new">Expiration Date :  Sep 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30jKyHe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="16.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31GBAjM"><img src="https://m.media-amazon.com/images/I/51CZTbITEyL._SR400,400_.jpg" alt="KAKA Small Sling Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31GBAjM">KAKA Small Sling Bag, Crossbody Backpack Canvas Waterproof Daypack Casual One Shoulder Bag Traveling Hiking Camping...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.89</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">35ONW1QK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $25.99</strong> with promo code: <strong class="m_codes">35ONW1QK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 12:00 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31GBAjM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30HqvxL"><img src="https://m.media-amazon.com/images/I/61AiPAosrPL._SR400,400_.jpg" alt="NASUM Wireless Bluetooth Karaoke Microphone" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30HqvxL">NASUM Wireless Bluetooth Karaoke Microphone 4-in-1 Portable Handheld Karaoke mic, Home Party Gift, Birthday Speaker...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.49</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">15MNC24D</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $29.99</strong> with promo code: <strong class="m_codes">15MNC24D</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30HqvxL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="29.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M4tivz"><img src="https://m.media-amazon.com/images/I/61N5gff3NaL._SR400,400_.jpg" alt="ThreeCat Active Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M4tivz">ThreeCat Active Noise Cancelling Headphones Wireless V5.0 Bluetooth Sports Neckband Earphones, Up to 28dB Noise Cancelling，...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.89</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">35XEIJKT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $45.99</strong> with promo code: <strong class="m_codes">35XEIJKT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2M4tivz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M4Gfpe"><img src="https://m.media-amazon.com/images/I/71uywoW-IiL._SR400,400_.jpg" alt="Car Charger Mount Cell Phone Holder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M4Gfpe">Car Charger Mount Cell Phone Holder Auto Infrared Sensor 10W Qi Fast Charging Clamping Wireless Air Vent Mount Compatible...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">75N741QQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $39.99</strong> with promo code: <strong class="m_codes">75N741QQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2M4Gfpe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31HB30P"><img src="https://m.media-amazon.com/images/I/81YoSO7SSjL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31HB30P">Carry On Luggage Backpack, Flight Approved Travel Laptop Backpack with Shoe Compartment for Women Men, Matein ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">20S9UROW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $49.99</strong> with promo code: <strong class="m_codes">20S9UROW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31HB30P">Use Code at Amazon</a></div>
</div>

