<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="20" data-price="15.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2wr8hn7"><img src="https://m.media-amazon.com/images/I/61aOzk4NJlL._SR400,400_.jpg" alt="Travel Makeup Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2wr8hn7">Travel Makeup Train Case Makeup Cosmetic Case Organizer Portable Artist Storage Bag 10.3'' </a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.18</span><span class="ori_price">$18.98</span>
       <div class="tooltip_green">
        <span>Double Discount</span>
        <div class="tooltip-content">
          <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
        </div>
       </div>
      </address>
      <p><span>Take <strong>20% off at $18.98</strong> with promo code: <strong>20ZTLWFB</strong></span></p>
      <span class="ex_date">Expiration Date : May 29, 2019 at 03:00 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2wr8hn7">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YUqINz"><img src="https://m.media-amazon.com/images/I/61A6Y3EllTL._SR400,400_.jpg" alt="Y&R Direct Sling Bag Sling Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YUqINz">Y&R Direct Sling Bag Sling Backpack,Shoulder Chest Crossbody Bag Purse Nylon Lightweight Multicolor Small Daypack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>50% off at $15.99</strong> with promo code: <strong>50LYNOYR</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YUqINz">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="23" data-price="23.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K3gl5K"><img src="https://m.media-amazon.com/images/I/81pZUu4MUFL._SR400,400_.jpg" alt="CLOFY 30-Setting Shower Head" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K3gl5K">CLOFY 30-Setting Shower Head, 3-Way 2 in 1 Combo Shower Heads with Adjustable Holder& Hose, Full-Chrome Handheld Shower Head</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.09</span><span class="ori_price">$29.99</span>
       <div class="tooltip_green">
        <span>Double Discount</span>
        <div class="tooltip-content">
          <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
        </div>
       </div>
      </address>
      <p><span>Take <strong>23% off at $29.99</strong> with promo code: <strong>23CLOFY27</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K3gl5K">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="17.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2W4NeGo"><img src="https://m.media-amazon.com/images/I/616nYpjhoAL._SR400,400_.jpg" alt="femor Inflatable Lounger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2W4NeGo">femor Inflatable Lounger, Air Sofa, Water Proof& Portable Anti-Air Leaking Couch for Patio, Travelling, Hiking, Camping</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.49</span><span class="ori_price">$24.99</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $24.99</strong> with promo code: <strong>304RHWYB</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2W4NeGo">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="5.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VQ98bA"><img src="https://m.media-amazon.com/images/I/51d55LfJMqL._SR400,400_.jpg" alt="Aichoof Avocado Slicer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VQ98bA">Aichoof Avocado Slicer 3 in 1 Avocado Splitter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.59</span><span class="ori_price">$7.99</span></address>
      <p><span>Take <strong>30% off at $7.99</strong> with promo code: <strong>30MI5WZ9</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VQ98bA">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="69.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QxcMWR"><img src="https://m.media-amazon.com/images/I/61JQPf7AVTL._SR400,400_.jpg" alt="ALBOHES Stand Mixer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QxcMWR">ALBOHES Stand Mixer, 600W 6 Quart 6-Speed Tilt-Head Dough Mixer, Electric Kitchen Mixers Food Mixer with Stainless Steel Bowl, Dough Hook, Whisk, Flat Beater</a></p>
    <div class="code_high">
      <address><span class="dis_price">$69.29</span><span class="ori_price">$98.99</span></address>
      <p><span>Take <strong>30% off at $98.99</strong> with promo code: <strong>301MPX75</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QxcMWR">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WnoRTL"><img src="https://m.media-amazon.com/images/I/315+qxVIWzL._SR400,400_.jpg" alt="WiFi Smart Plug Smart Outlet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WnoRTL">WiFi Smart Plug Smart Outlet Works with Amazon Alexa and IFTTT Google Assistant Remote Control Your Devices from Anywhere 2 Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>50% off at $13.99</strong> with promo code: <strong>50R9WJIT</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WnoRTL">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EzCS6D"><img src="https://m.media-amazon.com/images/I/71CXOKIcrlL._SR400,400_.jpg" alt="Car Air Purifier Dual USB Charge" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EzCS6D">GoGo Car Air Purifier Dual USB Charge 3.0 USB- 3 in1 Stainless Steel HEPA Filter Ionizer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$28.95</span></address>
      <p><span>Take <strong>20% off at $28.95</strong> with promo code: <strong>20W1MJBJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EzCS6D">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="7.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QossLK"><img src="https://m.media-amazon.com/images/I/71aafgBKALL._SR400,400_.jpg" alt="MatchaBar Matcha Green Tea Powder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QossLK">MatchaBar Matcha Green Tea Powder | Ceremonial Grade Japanese Green Tea with Organic Caffeine & Antioxidants</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.49</span><span class="ori_price">$24.97</span></address>
      <p><span>Take <strong>70% off at $24.97</strong> with promo code: <strong>70MATCHABAR</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 05:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QossLK">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="108.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Qq3pIi"><img src="https://m.media-amazon.com/images/I/51GedbjeWUL._SR400,400_.jpg" alt="L Shaped Corner Desk " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Qq3pIi">Lovinland L Shaped Corner Desk Office Computer Desk Laptop PC Workstation Gaming Table 3 Piece for Home Office Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$108.00</span><span class="ori_price">$539.99</span></address>
      <p><span>Take <strong>80% off at $539.99</strong> with promo code: <strong>80536TDK</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Qq3pIi">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="40.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YRNwNP"><img src="https://m.media-amazon.com/images/I/71p6Bf-+xnL._SR400,400_.jpg" alt="European Gourmet Coffee" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YRNwNP">MÜHLHAUS | Coffee on Your Terms | European Gourmet Coffee | Portable Pour Over | 8 x 4 Single Serve Pac</a></p>
    <div class="code_high">
      <address><span class="dis_price">$40.79</span><span class="ori_price">$47.99</span></address>
      <p><span>Take <strong>15% off at $47.99</strong> with promo code: <strong>15IGKSB4</strong></span></p>
      <span class="ex_date">Expiration Date : May 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YRNwNP">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="8.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VN0ACd"><img src="https://m.media-amazon.com/images/I/713oT-OyowL._SR400,400_.jpg" alt="Scissors" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VN0ACd">Chefast Heavy Duty Kitchen Shears and Herb Scissors Set: Combo Kit of Stainless Steel Food Scissors, 5-Blade Herb Cutter, and Two Jute Bags</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.74</span><span class="ori_price">$15.90</span></address>
      <p><span>Take <strong>45% off at $15.90</strong> with promo code: <strong>452FOFIA, through 5/26 while supplies last.</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VN0ACd">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2wnwbjq"><img src="https://m.media-amazon.com/images/I/71vdvsHMRqL._SR400,400_.jpg" alt="French Coffee Press" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2wnwbjq">French Coffee Press, Bebeke Glass French Press Coffee Tea Maker| 8 cup, 34 oz |304 Stainless Steel Coffee Press Pot with 4 Filter Screens</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $19.99</strong> with promo code: <strong>15AKJ5TH</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2wnwbjq">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MaRtvE"><img src="https://m.media-amazon.com/images/I/71Bs9VH4g9L._SR400,400_.jpg" alt="Laptop Tote Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MaRtvE">Laptop Tote Bag,Fits 15.6 Inch Laptop,Womens Lightweight Water Resistant Nylon Tote Bag Shoulder Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$59.99</span></address>
      <p><span>Take <strong>70% off at $59.99</strong> with promo code: <strong>709I44H6</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MaRtvE">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K3wsjO"><img src="https://m.media-amazon.com/images/I/71vXCJgN1dL._SR400,400_.jpg" alt="sunglasses" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K3wsjO">Wear Over sunglasses for men women Polarized lens,fit over Prescription Glasses UV400</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>70% off at $19.99</strong> with promo code: <strong>70R9HIRT</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K3wsjO">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M9frr5"><img src="https://m.media-amazon.com/images/I/61GV99WHFUL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M9frr5">LARRONKETY Women Off Shoulder Short Sleeve High Low Hem Cocktail Skater Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>50% off at $35.99</strong> with promo code: <strong>50GNV8BI</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M9frr5">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="16.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YMJ2rJ"><img src="https://m.media-amazon.com/images/I/61Y38Wqi3rL._SR400,400_.jpg" alt="Women Plain Simple T-Shirt" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YMJ2rJ">LARRONKETY Women Plain Simple T-Shirt Short Sleeve Casual Loose Dress</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.14</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>15% off at $18.99</strong> with promo code: <strong>15N232SV</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YMJ2rJ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="65" data-price="9.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M9liMV"><img src="https://m.media-amazon.com/images/I/81nfem2v-1L._SR400,400_.jpg" alt="Messic Womens Pullover Hoodie" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M9liMV">Messic Womens Pullover Hoodie Sweatshirts Long Sleeve Lightweight Tunic Tops with Pocket</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.10</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>65% off at $25.99</strong> with promo code: <strong>65XV16D3</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M9liMV">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="14.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K4r6Vy"><img src="https://m.media-amazon.com/images/I/51sA4RXe0RL._SR400,400_.jpg" alt="Walking Sneakers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K4r6Vy">AGSDON Walking Sneakers for Women, Lightweight Running Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.40</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>60% off at $35.99</strong> with promo code: <strong>60MSN7HE</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K4r6Vy">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2W4Obyr"><img src="https://m.media-amazon.com/images/I/61BSkmnvmyL._SR400,400_.jpg" alt="Slippers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2W4Obyr">SOSUSHOE Mens Slippers Memory Foam Slip-on House Slippers for Indoor Outdoor with Anti-Skid Sole</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>60% off at $17.99</strong> with promo code: <strong>60U5ODT4</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2W4Obyr">Use Code</a>
  </div>
</div>

