<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

 <div class="card clearfix" data-score="60" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NzIsw7"><img src="https://m.media-amazon.com/images/I/61ZqxvmhW0L._SR400,400_.jpg" alt="Leaone Fitness Tracker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NzIsw7">Leaone Fitness Tracker HR,Waterproof Smart Band, LED Display Touchpad Smart Wristband with Heart Rate Monitor, Step Counter,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.00</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">60O6CJYX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $24.99</strong> with promo code: <strong class="m_codes">60O6CJYX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NzIsw7">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Og970s"><img src="https://m.media-amazon.com/images/I/512k5FjD5mL._SR400,400_.jpg" alt="Yootech 15W Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Og970s">Yootech 15W Wireless Charger with Cooling Fan,15W for LG V30/V35/G8,7.5W Wireless Charging Stand with Adapter Compatible...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span> + $2.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $2.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50EQQVEH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50EQQVEH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Og970s">Use Code at Amazon</a></div>
</div>

 
<div class="card clearfix" data-score="40" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ns4JMe"><img src="https://m.media-amazon.com/images/I/61Wu7Rn+MRL._SR400,400_.jpg" alt="Housmile Airfryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ns4JMe">Housmile Airfryer, Oilless Air Fryer Oven, 6 in 1 Electric Hot Air Cooker with Temperature Control, Non Stick Basket and Dishwasher Save, 3.7QT</a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.99</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">40DMQ24V</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $79.99</strong> with promo code: <strong class="m_codes">40DMQ24V</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Ns4JMe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NqZlc8"><img src="https://m.media-amazon.com/images/I/71uunR8BTgL._SR400,400_.jpg" alt="Famebird Durable Lightweight Packable Hiking Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NqZlc8">Famebird Durable Lightweight Packable Hiking Backpack 25L Small Water Resistant Travel Daypack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">50AS2AOV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.99</strong> with promo code: <strong class="m_codes">50AS2AOV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NqZlc8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="40.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31JeicW"><img src="https://m.media-amazon.com/images/I/61qc5MvmpGL._SR400,400_.jpg" alt="Housmile 1000Pa Powerful Robot Vacuum Cleaner" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31JeicW">Housmile 1000Pa Powerful Robot Vacuum Cleaner, Higher Suction Automatic Robotic Vacuum Cleaner with Anti-Drop, Floor Robot Vacuum ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$40.00</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">60XRVDTH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $99.99</strong> with promo code: <strong class="m_codes">60XRVDTH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31JeicW">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="27.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3516KnU"><img src="https://m.media-amazon.com/images/I/81pXKtW9iFL._SR400,400_.jpg" alt="Jakemy Screwdriver Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3516KnU">Jakemy Screwdriver Set, All in 1 with 50 Magnetic Precision Driver Bits, Repair Tool kit with Pocket Tool Bag for iPhone, Computer, Macbook,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.59</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">406XIIGC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $45.99</strong> with promo code: <strong class="m_codes">406XIIGC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3516KnU">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LK2cei"><img src="https://m.media-amazon.com/images/I/71X4eQxR5SL._SR400,400_.jpg" alt="TingMiao Fairy Lights Battery..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LK2cei">TingMiao Fairy Lights Battery Operated String Lights with Remote Control Timer Waterproof Copper Wire String Lights for Bedroom Indoor...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">504UOCHT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.99</strong> with promo code: <strong class="m_codes">504UOCHT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 23, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LK2cei">Use Code at Amazon</a></div>
</div>
  
<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30kZfd6"><img src="https://m.media-amazon.com/images/I/616jKOk-LZL._SR400,400_.jpg" alt="Pahajim Women Top Handle Satchel Fashion Shoulder ..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30kZfd6">Pahajim Women Top Handle Satchel Fashion Shoulder Oil Leather Handbags Bucket Bag Tote Purse for Ladies and Girl</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">40G8A262</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.99</strong> with promo code: <strong class="m_codes">40G8A262</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30kZfd6">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31IbBZk"><img src="https://m.media-amazon.com/images/I/611tulITI7L._SR400,400_.jpg" alt="BioEmblem Antarctic Krill Oil Supplement" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31IbBZk">BioEmblem Antarctic Krill Oil Supplement | 1000mg | Omega-3 Oil with High Levels of EPA + DHA, Astaxanthin, and Phospholipids...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50LXOBSM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50LXOBSM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31IbBZk">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="22.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NqT1Br"><img src="https://m.media-amazon.com/images/I/61xhKNNlwJL._SR400,400_.jpg" alt="AI-LIN 9 Ft Patio Umbrella Outdoor Table Umbrella" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NqT1Br">AI-LIN 9 Ft Patio Umbrella Outdoor Table Umbrella with Crank, 6 Ribs (Light Green)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.50</span><span class="ori_price">$44.99</span></address>
      <textarea readonly="readonly" class="code_area">50AWBDRA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $44.99</strong> with promo code: <strong class="m_codes">50AWBDRA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NqT1Br">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="14.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OlPa8x"><img src="https://m.media-amazon.com/images/I/61zteBgP9HL._SR400,400_.jpg" alt="Wireless Earbuds Bluetooth" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OlPa8x">Wireless Earbuds Bluetooth 5.0 Ture Wireless Bluetooth Earbuds Built-in Mic Wireless Headphones (Binaural Call, Auto Pairing,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.80</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">603X3T35</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $36.99</strong> with promo code: <strong class="m_codes">603X3T35</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OlPa8x">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30e7MhC"><img src="https://m.media-amazon.com/images/I/61bHG+OSKjL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30e7MhC">Wireless Earbuds, Vproof Bluetooth Dual True in-Ear Wireless Headphones, 19H Playtime, 3D Stereo Sound with Bass,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50GNW7X3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50GNW7X3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30e7MhC">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OlMeZc"><img src="https://m.media-amazon.com/images/I/81Gt7mXfu8L._SR400,400_.jpg" alt="dealz frenzy Insulated Tumbler" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OlMeZc">dealz frenzy Insulated Tumbler-Double Wall Stainless Steel Travel Coffee Mug with Lid,Thermo Cup BPA Free | FDA,No Sweat Water...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">50ZHEYGW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $17.99</strong> with promo code: <strong class="m_codes">50ZHEYGW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2OlMeZc">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="21.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30kqe7I"><img src="https://m.media-amazon.com/images/I/512ym6uBqGL._SR400,400_.jpg" alt="MANTOBRUCE Women Leather Handbags Purses" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30kqe7I">MANTOBRUCE Women Leather Handbags Purses Designer Tote Shoulder Bag Top Handle Bag for Work Travel</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.94</span><span class="ori_price">$43.88</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">504N3JDT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $43.88</strong> with promo code: <strong class="m_codes">504N3JDT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30kqe7I">Use Code at Amazon</a></div>
</div>
  
<div class="card clearfix" data-score="75" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Kwz9K"><img src="https://m.media-amazon.com/images/I/51sOZY8eP+L._SR400,400_.jpg" alt="Sunta Portable Rain Poncho 2 Pack for Adults" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Kwz9K">Sunta Portable Rain Poncho 2 Pack for Adults, Reusable Rain Ponchos with Hoods and Sleeves - Unisex Men Womens Waterproof Emergency Raincoat...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">751HEQU1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $23.99</strong> with promo code: <strong class="m_codes">751HEQU1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Kwz9K">Use Code at Amazon</a></div>
</div>
  
<div class="card clearfix" data-score="50" data-price="13.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31IlDJZ"><img src="https://m.media-amazon.com/images/I/61wzxz8GIGL._SR400,400_.jpg" alt="Sports Gym Travel Duffel Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31IlDJZ">Sports Gym Bag with Wet Pocket & Shoes Compartment,Waterproof Travel Weekender Swim Camping Hiking Sports Gym Travel Duffel Bag...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.44</span><span class="ori_price">$26.88</span></address>
      <textarea readonly="readonly" class="code_area">50XL1YHC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.88</strong> with promo code: <strong class="m_codes">50XL1YHC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31IlDJZ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MaRMTE"><img src="https://m.media-amazon.com/images/I/81PEiWULxIL._SR400,400_.jpg" alt="Smoked Cherrywood Fine Sea Salt" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MaRMTE">Smoked Cherrywood Fine Sea Salt - All-Natural Sea Salt Slowly Smoked for Perfect Smoky Flavor - No Gluten, No MSG, Non-GMO, Kosher...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">50OFFCGS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">50OFFCGS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MaRMTE">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="68" data-price="9.28">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30hQXl3"><img src="https://m.media-amazon.com/images/I/51b6WtOKMmL._SR400,400_.jpg" alt="【2019 Newest】 HDTV Antenna, Indoor Digital TV Antenna " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30hQXl3">【2019 Newest】 HDTV Antenna, Indoor Digital TV Antenna Amplified Dumsamker 65-80 Miles Range HD Antenna with Signal Booster...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.28</span><span class="ori_price">$28.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">68LXEWWM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>68% off at $28.99</strong> with promo code: <strong class="m_codes">68LXEWWM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30hQXl3">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Ny3jS"><img src="https://m.media-amazon.com/images/I/612-Ho35dML._SR400,400_.jpg" alt="ELECJET MagJet S, 20 Pin Magnetic USB C Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Ny3jS">ELECJET MagJet S, 20 Pin Magnetic USB C Adapter, 100W Fast Charging,10 Gbps Data Transfer, RJ45 Gigabit Ethernet Connection,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">40MAGJETS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.99</strong> with promo code: <strong class="m_codes">40MAGJETS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Ny3jS">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31HekST"><img src="https://m.media-amazon.com/images/I/61VDw5rysIL._SR400,400_.jpg" alt="GuaziV Fashion Backpack Purse" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31HekST">GuaziV Fashion Backpack Purse for Women Nylon Waterproof Anti theft Backpacks Lightweight School Shoulder Bags</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$39.98</span></address>
      <textarea readonly="readonly" class="code_area">50FKCSTN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.98</strong> with promo code: <strong class="m_codes">50FKCSTN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31HekST">Use Code at Amazon</a></div>
</div>
 
