<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="52" data-price="9.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31JCPhx"><img src="https://m.media-amazon.com/images/I/61O77bRX-4L._SR400,400_.jpg" alt="Diffuser for Essential Oils" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31JCPhx">Diffuser for Essential Oils, 250ml Essential Oil Diffuser Aromatherapy Therapy Diffuser Wood Grain, Waterless Auto Shut off,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.12</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">52D3WWLR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>52% off at $18.99</strong> with promo code: <strong class="m_codes">52D3WWLR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31JCPhx">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H8WzDu"><img src="https://m.media-amazon.com/images/I/71t1dlGbGYL._SR400,400_.jpg" alt="Wireless Earbuds CHISANA C1L" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H8WzDu">Wireless Earbuds CHISANA C1L – Bluetooth Headphones Extreme Subwoofer Bass True Wireless Earbuds w/Dual Microphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40LPB1ET</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">40LPB1ET</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H8WzDu">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="9.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H9Q8Ah"><img src="https://m.media-amazon.com/images/I/51XuRW320ML._SR400,400_.jpg" alt="GTHUNDER Expandable Dish Drying Rack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H9Q8Ah">GTHUNDER Expandable Dish Drying Rack Adjustable Handle Dish Drainer 304 Stainless Steel, Over The Sink, In Sink or On Counter...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.90</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">704TM31B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $32.99</strong> with promo code: <strong class="m_codes">704TM31B</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H9Q8Ah">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="5.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z3CBAl"><img src="https://m.media-amazon.com/images/I/71w7mUeEN+L._SR400,400_.jpg" alt="5FT Dog Leash,Heavy Duty Pet Rope" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z3CBAl">5FT Dog Leash,Heavy Duty Pet Rope Leash with Padded Handle and Reflective Threads for Large Medium Dogs for Night Safety</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.20</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">6021VDDQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $12.99</strong> with promo code: <strong class="m_codes">6021VDDQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z3CBAl">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H8WHmJ"><img src="https://m.media-amazon.com/images/I/61jYACo3t+L._SR400,400_.jpg" alt="Solar Lights Outdoor Motion Sensor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H8WHmJ">Solar Lights Outdoor Motion Sensor, 800Lumens 8 LED Wireless Motion Sensor Light, IP66 Waterproof Solar Lights Outdoor...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50LK7C21</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50LK7C21</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H8WHmJ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="65" data-price="14.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KzWxqn"><img src="https://m.media-amazon.com/images/I/61xCXX1nFaL._SR400,400_.jpg" alt="Lächen Rechargeable Sonic Electric..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KzWxqn">Lächen Rechargeable Sonic Electric Whitening Toothbrushes 5 Modes USB Charging IPX7 Waterproof with 4 Replacement ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">659LE1OT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $39.99</strong> with promo code: <strong class="m_codes">659LE1OT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KzWxqn">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="56.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31HkZfq"><img src="https://m.media-amazon.com/images/I/61UZkL2OSDL._SR400,400_.jpg" alt="Meagle 20V Max 1/4" Cordless Impact Driver" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31HkZfq">Meagle 20V Max 1/4" Cordless Impact Driver Powered by 2.0 Ah Lithium-Ion Battery - 3 Speed - Led Light - ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$56.70</span><span class="ori_price">$125.99</span></address>
      <textarea readonly="readonly" class="code_area">55DOJW44</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $125.99</strong> with promo code: <strong class="m_codes">55DOJW44</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31HkZfq">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z5U6Ut"><img src="https://m.media-amazon.com/images/I/61rRv6X6yWL._SR400,400_.jpg" alt="1600W Mini Travel Hair Dryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z5U6Ut">1600W Mini Travel Hair Dryer Folding Handle for Faster Drying BESTBOMG Lightweight Salon Small Pink Hair Blow Dryer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">504S6O9J</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">504S6O9J</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z5U6Ut">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z6lqOk"><img src="https://m.media-amazon.com/images/I/81dceS8FQvL._SR400,400_.jpg" alt="StorageWorks Storage Bins" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z6lqOk">StorageWorks Storage Bins, Fabric Storage Baskets, Foldable Closet Organizer Trapezoid Storage Box, Bamboo Style,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50NNU429</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50NNU429</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z6lqOk">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="62" data-price="9.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z3DxVn"><img src="https://m.media-amazon.com/images/I/61Avmd3SkeL._SR400,400_.jpg" alt="NANFU Fast Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z3DxVn">NANFU Fast Wireless Charger, Qi Wireless 7.5W Fast Charging Stand with Cooling Fan Compatible for iPhone XR/XS/XS Max/X/8/8P,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.88</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">628R2312</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>62% off at $25.99</strong> with promo code: <strong class="m_codes">628R2312</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z3DxVn">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z5j16S"><img src="https://m.media-amazon.com/images/I/71bv65kjDzL._SR400,400_.jpg" alt="Fast Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z5j16S">Fast Wireless Charger, 10W Wireless Charging Pad Compatible iPhone 8/8 Plus,iPhone X,Samsung Galaxy S8,S8+,S7,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">70ZREKC1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $39.99</strong> with promo code: <strong class="m_codes">70ZREKC1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z5j16S">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z5wyLJ"><img src="https://m.media-amazon.com/images/I/51oAH4xfHYL._SR400,400_.jpg" alt="Portable Charger 10000mAh Cell Phone Power Bank" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z5wyLJ">Portable Charger 10000mAh Cell Phone Power Bank Portable Battery Pack External Backup BENANNA Dual Input Compatible with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.49</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">50X863RZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $28.99</strong> with promo code: <strong class="m_codes">50X863RZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z5wyLJ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="58" data-price="12.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z0Ccml"><img src="https://m.media-amazon.com/images/I/71+2PT-FEgL._SR400,400_.jpg" alt="JZBRAIN Charging Station" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z0Ccml">JZBRAIN Charging Station for Multiple Devices 5-Port Multi USB Charger for Cell Phone and Tablets (Black, 5 Short Cables Included)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.60</span><span class="ori_price">$48.95</span></address>
      <textarea readonly="readonly" class="code_area">58CJQM76</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>58% off at $48.95</strong> with promo code: <strong class="m_codes">58CJQM76</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z0Ccml">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31HRidQ"><img src="https://m.media-amazon.com/images/I/41ZDtVU4gXL._SR400,400_.jpg" alt="Portable Camping Changing Dressing Tent" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31HRidQ">Portable Camping Changing Dressing Tent, Indoor/Outdoor Changing Room Pop Up Beach Toilet Room, Waterproof Privacy...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.00</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">70DS6CL1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $79.99</strong> with promo code: <strong class="m_codes">70DS6CL1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31HRidQ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H8XKmo"><img src="https://m.media-amazon.com/images/I/61ZzbIrE3sL._SR400,400_.jpg" alt="Overmont Sleeping Pad Inflatable Lightweight" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H8XKmo">Overmont Sleeping Pad Inflatable Lightweight Waterproof Camping Tent Mattress Pad for Sleeping Comfortable Compact Air Mat...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">30B4QHDG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $29.99</strong> with promo code: <strong class="m_codes">30B4QHDG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2H8XKmo">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="18.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31FD7Ge"><img src="https://m.media-amazon.com/images/I/61xUWZMlf3L._SR400,400_.jpg" alt="GeeKam Action Camera 1080P Waterproof Sports Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31FD7Ge">GeeKam Action Camera 1080P Waterproof Sports Camera with 2.0 inch LCD Screen and Mounting Accessories Kit(Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.89</span><span class="ori_price">$26.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30G1X6FY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $26.99</strong> with promo code: <strong class="m_codes">30G1X6FY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31FD7Ge">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31yjwIa"><img src="https://m.media-amazon.com/images/I/61BBguTw5eL._SR400,400_.jpg" alt="Mini Spy Hidden Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31yjwIa">Mini Spy Hidden Camera, OUMEIOU 1080P Portable HD Spy Camera Nanny Camera Cop Cam Car Camera with Night Vision,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50IE323X</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50IE323X</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31yjwIa">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="23" data-price="26.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33APwx7"><img src="https://m.media-amazon.com/images/I/71LWOqjd8qL._SR400,400_.jpg" alt="Galaxy Animal Pug Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33APwx7">Galaxy Animal Pug Backpack for Girls Elementary School Bags Cute Bookbag for Kids 1st 2nd 3rd Grade</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.17</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">23PCSBPQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>23% off at $33.99</strong> with promo code: <strong class="m_codes">23PCSBPQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33APwx7">Use Code at Amazon</a></div>
</div>
 