<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<div class="card clearfix" data-score="30" data-price="7.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YuUQyN"><img src="https://m.media-amazon.com/images/I/51gVq1LP8jL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YuUQyN">Bluetooth Headphones, Wireless Bluetooth 4.1 Aptx Stereo Magnetic Earbuds Snug Fit for Sports</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.69</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>30% off at $10.99</strong> with promo code: <strong>30PYOZTE</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YuUQyN">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="17.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YpXDt2"><img src="https://m.media-amazon.com/images/I/61dM4L9nGAL._SR400,400_.jpg" alt="TENAVOLTS Rechargeable AA Battery Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YpXDt2">TENAVOLTS Rechargeable AA Battery Charger with 4 Counts Lithium 2775 mWh AA Rechargeable Batteries…</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.49</span><span class="ori_price">$34.99</span></address>
      <p><span>Take <strong>50% off at $34.99</strong> with promo code: <strong>50RBN2WD</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YpXDt2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vv5EzI"><img src="https://m.media-amazon.com/images/I/61nQufDJ23L._SR400,400_.jpg" alt="HDTV Antenna Amplified Digital Outdoor Antenna" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Vv5EzI">2019 Version HDTV Antenna Amplified Digital Outdoor Antenna -150 Miles Range-360 Degree Rotation Wireless Remote-Snap- Wireless Remote Control...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.99</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>50% off at $49.99</strong> with promo code: <strong>50YAA1NG</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Vv5EzI">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LDHkas"><img src="https://m.media-amazon.com/images/I/71c6wrxpinL._SR400,400_.jpg" alt="NUBWO U3 3.5mm Gaming Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LDHkas">NUBWO U3 3.5mm Gaming Headset for PC, PS4, Laptop, Xbox One, Mac, iPad, Nintendo Switch Games, Computer Game...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>50% off at $19.99</strong> with promo code: <strong>50AU5N37</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2LDHkas">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30iktEs"><img src="https://m.media-amazon.com/images/I/71ObYd9KnyL._SR400,400_.jpg" alt="Laptop Backpack 14 Inch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30iktEs">Laptop Backpack 14 Inch - Casual Backpacks Computer Daypack Business Travel Bag for Women Men</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>70% off at $39.99</strong> with promo code: <strong>701T49EN</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30iktEs">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="13.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YqW9yq"><img src="https://m.media-amazon.com/images/I/51bCr+mq+dL._SR400,400_.jpg" alt="Seneo Wireless Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YqW9yq">Seneo Wireless Charger WaveStand 014 10W Fast Wireless Charger for Galaxy S10/S10+/S10E/S9/Note9, Qi Certified Compatible iPhone Xs Max/Xs/XR/X/8/8Plus</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.76</span><span class="ori_price">$15.29</span></address>
      <p><span>Take <strong>10% off at $15.29</strong> with promo code: <strong>10QV4SMM</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YqW9yq">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="10.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Q4i0cm"><img src="https://m.media-amazon.com/images/I/61AlhVy0BhL._SR400,400_.jpg" alt="Aptx Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Q4i0cm">Aptx Bluetooth Headphones, Mini In Ear Bluetooth 4.1 AptX Stereo Magnetic Wireless Earbuds Snug Fit for Sports with Built in Mic BT-519 earphone</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.33</span><span class="ori_price">$15.89</span></address>
      <p><span>Take <strong>35% off at $15.89</strong> with promo code: <strong>35CZ1429</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Q4i0cm">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VvlpXz"><img src="https://m.media-amazon.com/images/I/61ckQz6Z7XL._SR400,400_.jpg" alt="Wireless Charging Case Cover Compatible AirPods" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VvlpXz">Wireless Charging Case Cover Compatible AirPods - Qi Standard Wireless Charging Receiver Protective Case</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>50% off at $23.99</strong> with promo code: <strong>5071XPEY</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VvlpXz">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="29.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hiwqmp"><img src="https://m.media-amazon.com/images/I/51oQIXTBVzL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hiwqmp">Wireless Earbuds, TaoTronics Bluetooth 5.0 Headphones True Wireless Ear Buds IPX7 Waterproof Dual Built-in Mic Earphones</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.89</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>35% off at $45.99</strong> with promo code: <strong>35H4XUXU</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Hiwqmp">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Jy5ocd"><img src="https://m.media-amazon.com/images/I/51OcNeK6x1L._SR400,400_.jpg" alt="YANXUAN Car Jump Starter Battery Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Jy5ocd">YANXUAN Car Jump Starter Battery Charger, Peak 600A 13600 mAh 12V Auto Battery Booster Power Bank</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$79.99</span></address>
      <p><span>Take <strong>50% off at $79.99</strong> with promo code: <strong>50OYCIYN</strong></span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Jy5ocd">Use Code</a>
  </div>
</div>

