<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="35" data-price="10.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PBIXr3"><img src="https://m.media-amazon.com/images/I/61azDUr4jqL._SR400,400_.jpg" alt="NUBWO U3 3.5mm Gaming Headset" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PBIXr3">NUBWO U3 3.5mm Gaming Headset for PC, PS4, Laptop, Xbox One, Mac, iPad, Nintendo Switch Games, Computer Game Gamer Over Ear ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.39</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">35JS9IST</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $15.99</strong> with promo code: <strong class="m_codes">35JS9IST</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PBIXr3">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="19.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZKR9VR"><img src="https://m.media-amazon.com/images/I/51UNNgfzG5L._SR400,400_.jpg" alt="24000mAh Portable Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZKR9VR">24000mAh Portable Charger Power Bank Soluser High Capacity External Battery Pack Dual 2.1A USB Outputs Phone Chargers...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.79</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">406K75NB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $32.99</strong> with promo code: <strong class="m_codes">406K75NB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZKR9VR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZFSscH"><img src="https://m.media-amazon.com/images/I/51LrUJlvuGL._SR400,400_.jpg" alt="Soluser 25000mAh Portale Solar Power Bank" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZFSscH">Soluser 25000mAh Portale Solar Power Bank Shockproof/Dustproof 2.1A USB Output Battery Bank, Outdoor Solar Charger...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">401OUAZA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">401OUAZA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZFSscH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZLVIz0"><img src="https://m.media-amazon.com/images/I/61jf70PLniL._SR400,400_.jpg" alt="Nulaxy Tablet Holder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZLVIz0">Nulaxy Tablet Holder, Flexible Gooseneck Tablet Stand Mount for iPad, iPhone, Samsung Galaxy Tabs, Amazon Kindle Fire HD...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$17.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20TWYG2N</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $17.99</strong> with promo code: <strong class="m_codes">20TWYG2N</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZLVIz0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PFpQMR"><img src="https://m.media-amazon.com/images/I/71KO8cQNTnL._SR400,400_.jpg" alt="Game Controller" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PFpQMR">Game Controller, MAD GIGA Wireless Game Controller Bluetooth Gamepad Remote for PC (Windows XP/7/8/8.1/10), PS3, Android Phone, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.79</span><span class="ori_price">$19.65</span></address>
      <textarea readonly="readonly" class="code_area">40NIZVFE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.65</strong> with promo code: <strong class="m_codes">40NIZVFE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PFpQMR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZzcqG0"><img src="https://m.media-amazon.com/images/I/51H3GtL05OL._SR400,400_.jpg" alt="NANFU Wireless car Charger Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZzcqG0">NANFU Wireless car Charger Mount, Air Vent Phone Holder, 7.5W & 10W Wireless Car Mount, 10W Compatible with Samsung Galaxy...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.19</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30NEXSTQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $25.99</strong> with promo code: <strong class="m_codes">30NEXSTQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZzcqG0">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="6.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZM9dPt"><img src="https://m.media-amazon.com/images/I/51rzAxNDcrL._SR400,400_.jpg" alt="Headphone Jack Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZM9dPt">Headphone Jack Adapter for iPhone X/XS/XS Max/XR/8/8 Plus/7/7 Plus Adaptor Headset Splitter Earphone Connector Dongle...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.59</span><span class="ori_price">$10.98</span></address>
      <textarea readonly="readonly" class="code_area">40C8RTCN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $10.98</strong> with promo code: <strong class="m_codes">40C8RTCN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZM9dPt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="35.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZFRGby"><img src="https://m.media-amazon.com/images/I/71cMgxItPuL._SR400,400_.jpg" alt="Tocode Mens Laptop Messenger Bags" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZFRGby">Tocode Mens Laptop Messenger Bags 14 inch, Water Resistant Leather Canvas Briefcase, Durable Satchel Shoulder Bags...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.19</span><span class="ori_price">$43.99</span></address>
      <textarea readonly="readonly" class="code_area">20OERV2F</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $43.99</strong> with promo code: <strong class="m_codes">20OERV2F</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZFRGby">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="23.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MSDda8"><img src="https://m.media-amazon.com/images/I/61l11gBzbDL._SR400,400_.jpg" alt="Wireless Earbuds Bluetooth" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MSDda8">Wireless Earbuds Bluetooth 5.0 Touch Control True Wireless Earbuds with 3500mAh Charging Case 100H Playtime Stereo...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.00</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">50TOLJ1B</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $45.99</strong> with promo code: <strong class="m_codes">50TOLJ1B</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MSDda8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="36.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZHWGfF"><img src="https://m.media-amazon.com/images/I/71OowaovVDL._SR400,400_.jpg" alt="USB C Hub" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZHWGfF">USB C Hub, iMXPW 8-in-1 USB C Hub Adapter with 4K HDMI, Thunderbolt 3, 3 USB 3.0, USB-C Data Port, SD and MicroSD Card Reader...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.39</span><span class="ori_price">$51.99</span></address>
      <textarea readonly="readonly" class="code_area">30UQZMBP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $51.99</strong> with promo code: <strong class="m_codes">30UQZMBP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZHWGfF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MUkFX1"><img src="https://m.media-amazon.com/images/I/71JyAucp5UL._SR400,400_.jpg" alt="Vitamin C Serum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MUkFX1">Vitamin C Serum, BREYLEE Anti-Aging Facial Serum with Hyaluronic Acid, Retinol, and Vitamin E Moisturizing Face Serum for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.49</span><span class="ori_price">$14.97</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50UOPRPX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.97</strong> with promo code: <strong class="m_codes">50UOPRPX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MUkFX1">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="72" data-price="8.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HV6aOX"><img src="https://m.media-amazon.com/images/I/6192nvW0ibL._SR400,400_.jpg" alt="LOBKIN Facial Hair Remover" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HV6aOX">LOBKIN Facial Hair Remover, 4 in 1 Painless Electric Hair Removal Kit with Nose Hair Trimmer, Eyebrow Trimmer, Body Shaver...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.40</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">72ZSVUNC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>72% off at $29.99</strong> with promo code: <strong class="m_codes">72ZSVUNC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HV6aOX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NNUXTQ"><img src="https://m.media-amazon.com/images/I/71Vam+wOp8L._SR400,400_.jpg" alt="JOYYUM 1000W 2-in-1 Hot Air Spin Brush" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NNUXTQ">JOYYUM 1000W 2-in-1 Hot Air Spin Brush Styler Auto-rotating Negative Ionic Hair Curler Dryer Brush,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$34.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40R9OX3T</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $34.99</strong> with promo code: <strong class="m_codes">40R9OX3T</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NNUXTQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZFzEpW"><img src="https://m.media-amazon.com/images/I/71YipjyP+QL._SR400,400_.jpg" alt="HAIRBY Water Flosser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZFzEpW">HAIRBY Water Flosser, Dental Oral Irrigator Waterproof Leakproof 600 ML Capacity with 7 Interchangeable Water Jet Tips...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.99</span><span class="ori_price">$31.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">509AH4ZW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $31.99</strong> with promo code: <strong class="m_codes">509AH4ZW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZFzEpW">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="25.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UpsVPT"><img src="https://m.media-amazon.com/images/I/61daWD7vwNL._SR400,400_.jpg" alt="Wantdo Specialized Bike Helmet" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UpsVPT">Wantdo Specialized Bike Helmet Safety Bicycle Helmet with Removable Visor Adjustable and Multi-Sports Helmet with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.89</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">30KSJDWR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $36.99</strong> with promo code: <strong class="m_codes">30KSJDWR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2UpsVPT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="31.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LgVqfx"><img src="https://m.media-amazon.com/images/I/81r8RkAfqcL._SR400,400_.jpg" alt="Wireless WiFi Borescope Inspection Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LgVqfx">Wireless Endoscope THZY 1200P HD 10m WiFi Borescope Inspection Camera 2.0 Megapixels Snake Camera for Android iOS Smartphone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.19</span><span class="ori_price">$38.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20MVYU2L</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $38.99</strong> with promo code: <strong class="m_codes">20MVYU2L</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LgVqfx">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NMqxBt"><img src="https://m.media-amazon.com/images/I/51wFr-GaFuL._SR400,400_.jpg" alt="BLUE ISLAND Baby Balance Bikes Scooter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NMqxBt">BLUE ISLAND Baby Balance Bikes Scooter Toddler Walker Infant Scooter No Foot Pedal Driving Bike Gift for Child Four Wheels...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">50H52SS8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $49.99</strong> with promo code: <strong class="m_codes">50H52SS8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NMqxBt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LjAKnj"><img src="https://m.media-amazon.com/images/I/71V2xUiUhdL._SR400,400_.jpg" alt="Fidus Large 32oz Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LjAKnj">Fidus Large 32oz Water Bottle with Motivational Time Marker & Removable Strainer, Fast Flow, Flip Top Leakproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">304XJJCU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $16.99</strong> with promo code: <strong class="m_codes">304XJJCU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LjAKnj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmvPRo"><img src="https://m.media-amazon.com/images/I/81epz8XuzaL._SR400,400_.jpg" alt="Iceblue 9.8''X5.9''X7''Royal Blue Oval Cotton..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmvPRo">Iceblue 9.8''X5.9''X7''Royal Blue Oval Cotton Rope Over Wall Door Closet Window Hanging Storage Basket</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.45</span><span class="ori_price">$16.90</span></address>
      <textarea readonly="readonly" class="code_area">50FWBAVZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.90</strong> with promo code: <strong class="m_codes">50FWBAVZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LmvPRo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="26.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MPY7a8"><img src="https://m.media-amazon.com/images/I/61TImO964ZL._SR400,400_.jpg" alt="THZY Hand held Cordless Vacuum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MPY7a8">THZY Hand held Cordless Vacuum, Rechargeable 12V Car Cleaner Vac Li-ion Battery, Powerful Portable Pet Hair Vacuum,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.40</span><span class="ori_price">$65.99</span></address>
      <textarea readonly="readonly" class="code_area">60KNT53S</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $65.99</strong> with promo code: <strong class="m_codes">60KNT53S</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MPY7a8">Use Code at Amazon</a></div>
</div>

