<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="60" data-price="13.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZYjdVU"><img src="https://m.media-amazon.com/images/I/71g4t3G1CVL._SR400,400_.jpg" alt="Personal Blender Glass Portable Blender" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZYjdVU">Personal Blender Glass Portable Blender for Shake and Smoothie, USB Rechargeable Juicer Cup, Multifuntional Small,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.60</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">607OBDVF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $33.99</strong> with promo code: <strong class="m_codes">607OBDVF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZYjdVU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZKWReq"><img src="https://m.media-amazon.com/images/I/51VEJQrASdL._SR400,400_.jpg" alt="ROOSSI Fashion PVC Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZKWReq">ROOSSI Fashion PVC Backpack Transparent Womens Striped Backpacks Sports Outdoor Clear Bag Multifunction Travel Backpacks White</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.19</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">40QUSZN7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $21.99</strong> with promo code: <strong class="m_codes">40QUSZN7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZKWReq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="6.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HW7EIq"><img src="https://m.media-amazon.com/images/I/614RrGRjxYL._SR400,400_.jpg" alt="WAYCOM Travel Bottle Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HW7EIq">WAYCOM Travel Bottle Set 10pcs,Portable Travel Size Empty Bottles BPA Free Airline Approved for Clear Makeup Cosmetic Toiletries Liquid...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.3</span><span class="ori_price">$20.99</span></address>
      <textarea readonly="readonly" class="code_area">704NOU3X</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $20.99</strong> with promo code: <strong class="m_codes">704NOU3X</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HW7EIq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34vjdzX"><img src="https://m.media-amazon.com/images/I/61AtfKg08BL._SR400,400_.jpg" alt="USB C Hub, RCA USB C Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34vjdzX">USB C Hub, RCA USB C Adapter, 4K USB C to HDMI, 3 USB 3.0 Ports, SD/TF Card Readers, Compatible with MacBook Pro, Chromebook,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.29</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">30KB9UPI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $28.99</strong> with promo code: <strong class="m_codes">30KB9UPI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34vjdzX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="209.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HOAx9B"><img src="https://m.media-amazon.com/images/I/51QRN-IONgL._SR400,400_.jpg" alt="YANXUAN Bidet Toilet Seat" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HOAx9B">YANXUAN Bidet Toilet Seat with Self Cleaning Stainless Nozzle, Bidet with Heated Seat and Temperature Controlled Wash, Warm Air Dryer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$209.99</span><span class="ori_price">$299.99</span></address>
      <textarea readonly="readonly" class="code_area">3035XM6Q</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $299.99</strong> with promo code: <strong class="m_codes">3035XM6Q</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HOAx9B">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="25.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/315tG3b"><img src="https://m.media-amazon.com/images/I/61AmpXd264L._SR400,400_.jpg" alt="Ulgoo Weekend Duffel Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/315tG3b">Ulgoo Weekend Duffel Bag Waterproof Nylon Overnight Travel Bag (Large Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.19</span><span class="ori_price">$41.99</span></address>
      <textarea readonly="readonly" class="code_area">40U8UKAM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $41.99</strong> with promo code: <strong class="m_codes">40U8UKAM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/315tG3b">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HOAIlh"><img src="https://m.media-amazon.com/images/I/71uG0EMbpvL._SR400,400_.jpg" alt="Nattork Air Fryer,4.7 Quart Electric" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HOAIlh">Nattork Air Fryer,4.7 Quart Electric Hot Air Fryers with Recipes, Oven Oilless Cooker with LCD Digital Screen and Easily....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$49.99</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">50IZSYNQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $99.99</strong> with promo code: <strong class="m_codes">50IZSYNQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HOAIlh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="13.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PTVPsQ"><img src="https://m.media-amazon.com/images/I/61ZIkdLSBfL._SR400,400_.jpg" alt="CHEREEKI Fitness Tracker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PTVPsQ">CHEREEKI Fitness Tracker, Activity Tracker with Heart Rate Monitor IP68 Waterproof Fitness Watch with Color Screen,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.48</span><span class="ori_price">$33.69</span></address>
      <textarea readonly="readonly" class="code_area">60U7QFCJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $33.69</strong> with promo code: <strong class="m_codes">60U7QFCJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PTVPsQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="100.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZYmUuK"><img src="https://m.media-amazon.com/images/I/71X9TRfS-jL._SR400,400_.jpg" alt="IDISKK 30CM Mounted & Portable 3D Hologram Fan" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZYmUuK">IDISKK 30CM Mounted & Portable 3D Hologram Fan Digital Holographic Display Photo/512P HD Video at Home,Office,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$100.00</span><span class="ori_price">$199.99</span></address>
      <textarea readonly="readonly" class="code_area">50CYKR7K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $199.99</strong> with promo code: <strong class="m_codes">50CYKR7K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZYmUuK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="77.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LDqYvh"><img src="https://m.media-amazon.com/images/I/61W+V7fcwwL._SR400,400_.jpg" alt="Cordless Vacuum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LDqYvh">Cordless Vacuum, GOOVI Stick Vacuum Cleaner, 10KPa Powerful Cleaning Lightweight 2 in 1 Handheld Vacuum with Rechargeable Lithium Ion...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$77.99</span><span class="ori_price">$129.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">4045GQO6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $129.99</strong> with promo code: <strong class="m_codes">4045GQO6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LDqYvh">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="65" data-price="17.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZSvprf"><img src="https://m.media-amazon.com/images/I/61-WLCEh+wL._SR400,400_.jpg" alt="Smart Watch Fitness Tracker HR" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZSvprf">Smart Watch Fitness Tracker HR, Activity Tracker with Pedometer Step Calorie Counter Sleep Monitor for Android & iOS Waterproof ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.46</span><span class="ori_price">$49.89</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">65UIBH2G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $49.89</strong> with promo code: <strong class="m_codes">65UIBH2G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZSvprf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="4.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZL777h"><img src="https://m.media-amazon.com/images/I/718KvxU4CZL._SR400,400_.jpg" alt="Kuoser Outdoor Cotton Thickened Soft..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZL777h">Kuoser Outdoor Cotton Thickened Soft Fleece Lining Windproof Dog Vest Pet Winter Coat Warm Dog Apparel for Cold Weather...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.80</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">70BOCMHZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $15.99</strong> with promo code: <strong class="m_codes">70BOCMHZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZL777h">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="42.41">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZJm7CJ"><img src="https://m.media-amazon.com/images/I/513ntI5gsSL._SR400,400_.jpg" alt="Maud's 12 Flavor Coffee Variety Pack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZJm7CJ">Maud's 12 Flavor Coffee Variety Pack, 136 ct. Recyclable Single Serve Coffee Pods - Richly satisfying arabica beans California Roasted,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.41</span><span class="ori_price">$49.90</span></address>
      <textarea readonly="readonly" class="code_area">15BRADDEAL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $49.90</strong> with promo code: <strong class="m_codes">15BRADDEAL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZJm7CJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="9.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZGgncJ"><img src="https://m.media-amazon.com/images/I/710iFSAt4tL._SR400,400_.jpg" alt="Bangbreak Posture Corrector" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZGgncJ">Bangbreak Posture Corrector for Men&Women Effective-Adjustable Shoulder&Back Brace Support Improve Upper Back Shoulder Posture</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.98</span><span class="ori_price">$24.95</span></address>
      <textarea readonly="readonly" class="code_area">606CCPQI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $24.95</strong> with promo code: <strong class="m_codes">606CCPQI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZGgncJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZKCe2A"><img src="https://m.media-amazon.com/images/I/61fAfu0TRuL._SR400,400_.jpg" alt="CHISANA Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZKCe2A">CHISANA Wireless Earbuds – Bluetooth Headphones 5.0 w/QI Wireless 2200mAh Charging Case | 3D Stereo Sound Deep Bass in-Ear HiFi True Wireless...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.00</span><span class="ori_price">$60.00</span></address>
      <textarea readonly="readonly" class="code_area">65JRL26A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $60.00</strong> with promo code: <strong class="m_codes">65JRL26A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZKCe2A">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="6.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/316W8BM"><img src="https://m.media-amazon.com/images/I/61QDOhkI2ML._SR400,400_.jpg" alt="HAIRBY Painless Electric Shaver" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/316W8BM">HAIRBY Painless Electric Shaver for Women - 4 in 1 Ladies Electric Epilator Kit with Facial Hair Shaver, Body Hair Shaver ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.25</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">75FBRGT6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $24.99</strong> with promo code: <strong class="m_codes">75FBRGT6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/316W8BM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/315f4kb"><img src="https://m.media-amazon.com/images/I/71kQQhc7JSL._SR400,400_.jpg" alt="Car Phone Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/315f4kb">Car Phone Mount, Air Vent Cell Phone Holder for Car Phone Holder Cradle Clip Stand with Adjustable Clamp Switch Lock Universal ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.99</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">303GNR3F</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $9.99</strong> with promo code: <strong class="m_codes">303GNR3F</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/315f4kb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HVxcpb"><img src="https://m.media-amazon.com/images/I/61M9H-gZyAL._SR400,400_.jpg" alt="Screen Replacement" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HVxcpb">Screen Replacement for iPhone 6 White 4.7" LCD Display Touch Digitizer Frame Full Assembly Repair Kit, with Proximity Sensor,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.49</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">15XPA5UD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $29.99</strong> with promo code: <strong class="m_codes">15XPA5UD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HVxcpb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/316e4w6"><img src="https://m.media-amazon.com/images/I/71IPYWtrofL._SR400,400_.jpg" alt="Acne Treatment Serum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/316e4w6">Acne Treatment Serum, BREYLEE Tea Tree Oil Clear Skin Serum for Clearing Severe Acne, Breakout, Remover Pimple and Repair...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50I2NX1J</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $17.99</strong> with promo code: <strong class="m_codes">50I2NX1J</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/316e4w6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N4Aris"><img src="https://m.media-amazon.com/images/I/81QWovt7hOL._SR400,400_.jpg" alt="Azacow Portable Bluetooth Speaker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N4Aris">Azacow Portable Bluetooth Speaker, IPX6 Waterproof Wireless Speaker, 2x5W Stereo Sound, Enhanced Super Bass,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30LVT2BQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $19.99</strong> with promo code: <strong class="m_codes">30LVT2BQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2N4Aris">Use Code at Amazon</a></div>
</div>