<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="50" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VZk8rQ"><img src="https://m.media-amazon.com/images/I/61WFOTghDsL._SR400,400_.jpg" alt="LED Flashlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VZk8rQ">LED Flashlight, RockBirds 7W Mini Flashlight 300 Lumens with 3 Modes (2 Pack)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$11.98</span></address>
      <p><span>Take <strong>50% off at $11.98</strong> with promo code: <strong>50W8PC9Y</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VZk8rQ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KbxCKf"><img src="https://m.media-amazon.com/images/I/61QMta-y8CL._SR400,400_.jpg" alt="Collagen Peptides Powder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KbxCKf">Collagen Peptides Powder - Powerful Joint, Skin, Hair and Nail Support | Type 1 & 3 Peptides | Preservative-Free, Grass-Fed, Hormone-Free</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>30% off at $29.99</strong> with promo code: <strong>3025W53I</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KbxCKf">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K1CDop"><img src="https://m.media-amazon.com/images/I/71ILQ6TUcLL._SR400,400_.jpg" alt="Cordless Personal Blender Juicer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K1CDop">Cordless Personal Blender Juicer, Portable Mini Juicer mixer, Waterproof fruit Smoothie Blender, USB Rechargeable, BPA Free, Portable for Home, Office, Sports...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $49.99</strong> with promo code: <strong>30J9U1PX</strong></span></p>
      <span class="ex_date">Expiration Date : May 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K1CDop">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="22.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Qnka6S"><img src="https://m.media-amazon.com/images/I/61fb7Hv2cFL._SR400,400_.jpg" alt="Turmeric Curcumin 1000 mg 95% Curcuminoids" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Qnka6S">Me First Living Turmeric Curcumin 1000 mg 95% Curcuminoids, Bioperine 10 mg, 19x More Potent Than Others, Increased Absorption</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.90</span><span class="ori_price">$26.95</span></address>
      <p><span>Take <strong>15% off at $26.95</strong> with promo code: <strong>15BBLOQ7</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Qnka6S">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2whMSge"><img src="https://m.media-amazon.com/images/I/41V+IDvvkEL._SR400,400_.jpg" alt="Vegansmart Plant Based Organic Protein Powder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2whMSge">Vegansmart Plant Based Organic Protein Powder by Naturade, All-in-One Nutritional Shake </a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>20% off at $29.99</strong> with promo code: <strong>20VSORGANIC</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2whMSge">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="51" data-price="13.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VZpcwx"><img src="https://m.media-amazon.com/images/I/71eo5ekxxpL._SR400,400_.jpg" alt="AMOSTING Magnetic Tiles Building Block Educational Toys" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VZpcwx">AMOSTING Magnetic Tiles Building Block Educational Toys for Toddlers with Car Wheels</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.22</span><span class="ori_price">$26.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>51% off at $26.99</strong> with promo code: <strong>51OML2Y7</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VZpcwx">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K5OX75"><img src="https://m.media-amazon.com/images/I/61QA9qcFThL._SR400,400_.jpg" alt="MOES WiFi Smart Light Dimmer Switch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K5OX75">MOES WiFi Smart Light Dimmer Switch,Smart Life/Tuya APP Remote Control,Compatible with Alexa Google Home for Voice Control</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.19</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>30% off at $25.99</strong> with promo code: <strong>303FSLO1</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K5OX75">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="10.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EwFAK1"><img src="https://m.media-amazon.com/images/I/915Xb6k6zBL._SR400,400_.jpg" alt="Onvous Boy's AquaGenesis Swim Jammer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EwFAK1">Onvous Boy's AquaGenesis Swim Jammer | Racing & Training Compression Swimsuit | Fast, Flexible, Comfortable</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.97</span><span class="ori_price">$21.95</span></address>
      <p><span>Take <strong>50% off at $21.95</strong> with promo code: <strong>50SUMMER19</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EwFAK1">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QlDRfs"><img src="https://m.media-amazon.com/images/I/41c+SNBk6EL._SR400,400_.jpg" alt="Power Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QlDRfs">87W USB C Power Adapter Compatible with MacBook Charger</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.99</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>50% off at $45.99</strong> with promo code: <strong>508LCNU4</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QlDRfs">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="6.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2wkrEyw"><img src="https://m.media-amazon.com/images/I/71HZyjQw9-L._SR400,400_.jpg" alt="TENMOS T12 Wireless Gaming Mouse Rechargeable" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2wkrEyw">TENMOS T12 Wireless Gaming Mouse Rechargeable, 2.4G Silent Optical Wireless Computer Mice with Changeable LED Light</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.39</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>60% off at $15.99</strong> with promo code: <strong>60132L1Z</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2wkrEyw">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M9uNMi"><img src="https://m.media-amazon.com/images/I/71c6wrxpinL._SR400,400_.jpg" alt="NUBWO U3 3.5mm Gaming Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M9uNMi">NUBWO U3 3.5mm Gaming Headset for PC, PS4, Laptop, Xbox One, Mac, iPad, Nintendo Switch Games, Computer Game Gamer Over Ear Flexible Microphone ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>30% off at $19.99</strong> with promo code: <strong>30ORFQ7J</strong></span></p>
      <span class="ex_date">Expiration Date : May 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M9uNMi">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="62" data-price="22.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YGDmzw"><img src="https://m.media-amazon.com/images/I/515-WF0BcmL._SR400,400_.jpg" alt="LOBKIN Bluetooth Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YGDmzw">LOBKIN Bluetooth Wireless Earbuds, Latest Bluetooth TWS 5.0 Deep Bass Dual-Microphone True Wireless Sports Earbuds</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.22</span><span class="ori_price">$58.50</span></address>
      <p><span>Take <strong>62% off at $58.50</strong> with promo code: <strong>62TLABCT</strong></span></p>
      <span class="ex_date">Expiration Date :  May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YGDmzw">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="20.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M9vcOO"><img src="https://m.media-amazon.com/images/I/71wydXlElKL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M9vcOO">Bluetooth Headphones Over Ear Linpa M1 on Ear Wireless Headphone Hi-Fi Headset with Mic, Foldable, 30H Playtimes, Soft Earpads</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.98</span><span class="ori_price">$29.98</span>
         <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $29.98</strong> with promo code: <strong>20RTVX9D</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M9vcOO">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YHcC1I"><img src="https://m.media-amazon.com/images/I/61W-DM2GcHL._SR400,400_.jpg" alt="Bluetooth Earbuds Wireless Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YHcC1I">Bluetooth Earbuds Wireless Headphones, Linpa World True Wireless Earphone 20H Playtime, HiFi Stereo Mini in-Ear Earbuds w/Mic, Auto Pairing, Noise Cancelling...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>30% off at $29.99</strong> with promo code: <strong>30A59IYV</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YHcC1I">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="15.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ExkE5L"><img src="https://m.media-amazon.com/images/I/619D-55pwHL._SR400,400_.jpg" alt="Waterproof Sport Wireless Bluetooth Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ExkE5L">Upgraded 2019 True Waterproof Sport Wireless Bluetooth Earbuds- With Deep Bass HiFi 3D Stereo Sound - Latest 5.0 Strong Connection, Built-in Mic Bluetooth Headphone</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.84</span><span class="ori_price">$31.69</span></address>
      <p><span>Take <strong>50% off at $31.69</strong> with promo code: <strong>50FJ6994</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ExkE5L">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="14.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2wknnek"><img src="https://m.media-amazon.com/images/I/61cPjFTu76L._SR400,400_.jpg" alt="Wireless Bluetooth Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2wknnek">Wireless Bluetooth Earbuds,TWS Bluetooth True Wireless Earbuds 15H Playtime 3D Stereo Sound Wireless Headphones</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.79</span><span class="ori_price">$36.99</span></address>
      <p><span>Take <strong>60% off at $36.99</strong> with promo code: <strong>60XOEKG1</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2wknnek">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="78" data-price="5.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YOqV4O"><img src="https://m.media-amazon.com/images/I/61sNn-ZYQ-L._SR400,400_.jpg" alt="Cell Phone Stand" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>78% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YOqV4O">Cell Phone Stand, LOBKIN Metal PhoneTablet Cradle, Holder, Stand,for iPhone 8 X 7 6 6s Plus 5 5s 5c Charging</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.27</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>78% off at $23.99</strong> with promo code: <strong>78D2L8KX</strong></span></p>
      <span class="ex_date">Expiration Date : May 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YOqV4O">Use Code</a>
  </div>
</div>



