<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="20" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WDIV4e"><img src="https://m.media-amazon.com/images/I/61l3zZvFYiL._SR400,400_.jpg" alt="Digital Alarm Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WDIV4e">HAPTIME Digital Alarm Clock with FM Radio Dual-Alarm Snooze Large LED Display 12hr 24hr Format and Brightness Adjustable </a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $19.99</strong> with promo code: <strong>20IRO3I2</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WDIV4e">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="9.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mn4ySD"><img src="https://m.media-amazon.com/images/I/81b7A48yZ4L._SR400,400_.jpg" alt="V Neck" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mn4ySD">imesrun Womens Short Sleeve V Neck Summer Shirts Cotton Basic Tees Casual Blouses Top</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.79</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>30% off at $Origianl_price</strong> with promo code: <strong>30MBFERT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mn4ySD">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ENZd0p"><img src="https://m.media-amazon.com/images/I/61yh55ry1wL._SR400,400_.jpg" alt="Hiking Sandals" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ENZd0p">HOBIBEAR Men Outdoor Hiking Sandals Breathable Athletic Climbing Summer Beach Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>30% off at $29.99</strong> with promo code: <strong>30OYQZW7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ENZd0p">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="59.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HPPYP0"><img src="https://m.media-amazon.com/images/I/51VL4oPIJwL._SR400,400_.jpg" alt="Chair Cushions" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HPPYP0">QILLOWAY Outdoor/Indoor Deep Seat Chair Cushions Set,Replacement Cushion for Patio Furniture，Navy Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.49</span><span class="ori_price">$69.99</span>
         <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $69.99</strong> with promo code: <strong>15EF7Z88</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HPPYP0">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QGcxJ6"><img src="https://m.media-amazon.com/images/I/61nwubwOckL._SR400,400_.jpg" alt="Power Bank" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QGcxJ6">Power Bank 5000mAh,Najoane Dual-USB Emergency External Battery Portable Universal Charger for Cell Phone</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$14.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $14.99</strong> with promo code: <strong>30NFWVZC</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QGcxJ6">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="55.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EQiP3X"><img src="https://m.media-amazon.com/images/I/610k6H-9nuL._SR400,400_.jpg" alt="Najoane Mini Projector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EQiP3X">Najoane Mini Projector, Full HD LED Projector The Biggest is 1080P Supported Movie Projector</a></p>
    <div class="code_high">
      <address><span class="dis_price">$55.99</span><span class="ori_price">$79.98</span></address>
      <p><span>Take <strong>30% off at $79.98</strong> with promo code: <strong>30P14ADQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EQiP3X">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="7.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WePXwW"><img src="https://m.media-amazon.com/images/I/51XEa5G9-YL._SR400,400_.jpg" alt="Universal Cell Phone Holder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WePXwW">Universal Cell Phone Holder, Lazy Bracket Mobile Phone Stand, Flexible Gooseneck Long Arm Clip, Screw-Down-Fixed Bolt Clamp Style by AUXO-FUN</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.69</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>30% off at $10.99</strong> with promo code: <strong>30B68P7G</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WePXwW">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WjzuI2"><img src="https://m.media-amazon.com/images/I/61SY-Fe6vbL._SR400,400_.jpg" alt="AGSDON Sneakers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WjzuI2">AGSDON Sneakers for Women, Running Walking Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>50% off at $35.99</strong> with promo code: <strong>505QGC9W</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WjzuI2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="5.62">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EMosQM"><img src="https://m.media-amazon.com/images/I/611IydD2F7L._SR400,400_.jpg" alt="Sunglasses" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EMosQM">Classic Men Sunglasses for Aviator PARZIN Women Vintage Mirrored Beach Glasses UV Protection</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.62</span><span class="ori_price">$12.49</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>55% off at $12.49</strong> with promo code: <strong>55KTGZX5</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EMosQM">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z7Mk9f"><img src="https://m.media-amazon.com/images/I/61ObCNXE7ML._SR400,400_.jpg" alt="Gel Ink Roller Ball Pens" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z7Mk9f">Color Technik GP-1 Premium Retractable Gel Ink Roller Ball Pens, Fine Point 0.7mm, Set of 12 Gel Pens</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$8.99</span></address>
      <p><span>Take <strong>50% off at $8.99</strong> with promo code: <strong>50BUNSW8</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Z7Mk9f">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="43.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QFwtvk"><img src="https://images-na.ssl-images-amazon.com/images/I/61rouGBvJFL._SX679_.jpg" alt="Hypnoser Weighted Blanket" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QFwtvk">Hypnoser Weighted Blanket 2.0 for Kids and Adults | Dark Grey,48"x72"-15 lbs for 100-150 lbs Individual,Fits Queen or Full Size Beds</a></p>
    <div class="code_high">
      <address><span class="dis_price">$43.92</span><span class="ori_price">$54.90</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
         <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $54.90</strong> with promo code: <strong>20OJW7AR</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QFwtvk">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EQjh29"><img src="https://m.media-amazon.com/images/I/81rfsVKCoWL._SR400,400_.jpg" alt="RFID Blocking Wallets" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EQjh29">RFID Blocking Wallets for Men - Bi-Fold Cash Wallets for Men</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span>
         <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $14.99</strong> with promo code: <strong>50A12LS9</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 08:00 AM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EQjh29">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JR9cX1"><img src="https://m.media-amazon.com/images/I/71MZQJ8jYrL._SR400,400_.jpg" alt="USB C Wall Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JR9cX1">USB C Charger with 18W Power Delivery 3.0, iCovfe Mini USB C Wall Charger</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $14.99</strong> with promo code: <strong>50SKRWVE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JR9cX1">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EOb66u"><img src="https://m.media-amazon.com/images/I/61UP34n3b2L._SR400,400_.jpg" alt="Portable Air Compressor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EOb66u">Happy Road N1 Portable Air Compressor 12V Digital Pump Auto Shut Off Preset Tire Pressure, Normal and Emergency Light for Car</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$49.96</span></address>
      <p><span>Take <strong>70% off at $49.96</strong> with promo code: <strong>7024JO6Q</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EOb66u">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="64" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EQjEd3"><img src="https://m.media-amazon.com/images/I/81S-OiE4paL._SR400,400_.jpg" alt="Women Long Sleeve" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EQjEd3">Vivilli Ladies Shirts for Women Long Sleeve Pullover Hoodies Tops</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>64% off at $29.99</strong> with promo code: <strong>643KH1UP</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EQjEd3">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="64" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QBg5MD"><img src="https://m.media-amazon.com/images/I/91JssZ+58qL._SR400,400_.jpg" alt="Round Neck Sleeveless" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QBg5MD">Vivilli Womens Round Neck Sleeveless Activewear Racerback Yoga Workout Tank Top</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>64% off at $29.99</strong> with promo code: <strong>64JYLEMZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QBg5MD">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ENNXBc"><img src="https://m.media-amazon.com/images/I/81XdMdzMo5L._SR400,400_.jpg" alt="Hairspray" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ENNXBc">Aussie, Hairspray, with Jojoba & Sea Kelp, Strong Hold, 10 fl oz, Triple Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>25% off at $15.99</strong> with promo code: <strong>25AUAMJREN</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ENNXBc">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="16.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MpbJty"><img src="https://m.media-amazon.com/images/I/51-ucSo9GTL._SR400,400_.jpg" alt="Magnetic Poster" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MpbJty">Magnetic Poster Hanger Frame, DIY Lightweight Wooden Picture Frame Hanger with Strong Magnet for Poster, Map, Photos, Paper Print, Oil Painting</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.05</span><span class="ori_price">$18.88</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $18.88</strong> with promo code: <strong>15YMJ75I</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MpbJty">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QJzTgU"><img src="https://m.media-amazon.com/images/I/61n64N7IjSL._SR400,400_.jpg" alt="Solar Water Fountain" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QJzTgU">MADETEC Solar Water Fountain Pump with Battery Backup，1.5W Upgraded Submersible Solar Pond Fountain Panel Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $19.99</strong> with promo code: <strong>50F3UG3Y</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QJzTgU">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="14.07">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mrh2Zo"><img src="https://m.media-amazon.com/images/I/61tgQZpLEpL._SR400,400_.jpg" alt="Tools Hanger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mrh2Zo">Favbal Broom Mop Holder Wall Mount Stainless Steel Wall Mounted Storage Organizer Heavy Duty Tools Hanger</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.07</span><span class="ori_price">$17.59</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $17.59</strong> with promo code: <strong>2073Z4OX</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mrh2Zo">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="766.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JTu0wO"><img src="https://m.media-amazon.com/images/I/5160e1eOBZL._SR400,400_.jpg" alt="Outdoor Furniture" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JTu0wO">Tenozek Patio Outdoor Furniture Sectional PE Rattan Wicker Patio Set with Faux Wood Grain Top Table and Cushions</a></p>
    <div class="code_high">
      <address><span class="dis_price">$766.00</span><span class="ori_price">$3,830.00</span></address>
      <p><span>Take <strong>80% off at $3,830.00</strong> with promo code: <strong>80I6T2I8</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JTu0wO">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WiyP9G"><img src="https://m.media-amazon.com/images/I/6153GVbrZwL._SR400,400_.jpg" alt="Apple Stem Cell Cream" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WiyP9G">Coy Beauty - Apple Stem Cell Cream - Daily Anti-Wrinkle Facial Lotion For Men and Women - Unscented </a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>30% off at $18.99</strong> with promo code: <strong>30COYEBAUTY</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WiyP9G">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="22.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mq6FoN"><img src="https://m.media-amazon.com/images/I/71CRc9PEduL._SR400,400_.jpg" alt="Bago 60L Duffle bags" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mq6FoN">Bago 60L Duffle bags for men & women - 23" Foldable Travel Duffel weekender bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.39</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>20% off at $27.99</strong> with promo code: <strong>20NYZ5A1</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mq6FoN">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EQb6To"><img src="https://m.media-amazon.com/images/I/61M-rIkVVAL._SR400,400_.jpg" alt="Bluetooth Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EQb6To">SoundPEATS True Wireless Bluetooth Earbuds in-Ear Stereo Bluetooth Headphones Wireless Earphones</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.49</span><span class="ori_price">$29.99</span>
         <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $29.99</strong> with promo code: <strong>15UPV79W</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EQb6To">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="61" data-price="10.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ido4vz"><img src="https://m.media-amazon.com/images/I/61EmVyCGnRL._SR400,400_.jpg" alt="Shoulder Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>61% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ido4vz">Angel Barcelo Womens Classic Sling Shoulder Bag Cross Body Tote Handbag Soft Cotton.</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.92</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>61% off at $27.99</strong> with promo code: <strong>61N4HO3L</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ido4vz">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QCNl65"><img src="https://m.media-amazon.com/images/I/81KzNSAJClL._SR400,400_.jpg" alt="Door 58 Whiskey Decanter Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QCNl65">Door 58 Whiskey Decanter Set w/Glass Drink Tumblers (5-Pcs.) Bourbon, Scotch, Brandy, Rum, Liquor</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.00</span><span class="ori_price">$79.99</span></address>
      <p><span>Take <strong>70% off at $79.99</strong> with promo code: <strong>70DADSPECIAL</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QCNl65">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="35.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ELv16c"><img src="https://m.media-amazon.com/images/I/71CU2qEuyRL._SR400,400_.jpg" alt="Dash Cam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ELv16c">Dash Cam, Trekpow 1080P Car DVR Camera for Cars with 180° Rotatable Lens, Full HD 2" LCD Screen, 170° Wide Angle...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.98</span><span class="ori_price">$59.97</span></address>
      <p><span>Take <strong>40% off at $59.97</strong> with promo code: <strong>40JC9X5G</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ELv16c">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QJBCCU"><img src="https://m.media-amazon.com/images/I/51xEu-4C6yL._SR400,400_.jpg" alt="Personal Mini Fan" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QJBCCU">HAPTIME Portable Personal Mini Fan AA Battery Powered Cooling Women Kids Outdoor Camping Travel Office</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$9.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>40% off at $9.99</strong> with promo code: <strong>40QGZA2Y</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QJBCCU">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="11.81">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ic7Jr0"><img src="https://m.media-amazon.com/images/I/61AVSw0tUhL._SR400,400_.jpg" alt="Water Shoes" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ic7Jr0">clapzovr Water Shoes Women Sandals Shower Swim Pool Beach River Shoes Aqua Comfort Garden Clogs</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.81</span><span class="ori_price">$16.87</span></address>
      <p><span>Take <strong>30% off at $16.87</strong> with promo code: <strong>30S8BS7R</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ic7Jr0">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mq77U1"><img src="https://m.media-amazon.com/images/I/81c-cnBGxFL._SR400,400_.jpg" alt="Fishing Gloves" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mq77U1">QANGEL Fishing Gloves,Men's Fisherman Gloves with 3 Fingerless Non-Slip Waterproof Boating Breathable Sun Protection</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $16.99</strong> with promo code: <strong>50T2LZ52</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mq77U1">Use Code</a>
  </div>
</div>

