<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zmGy8F"><img src="https://m.media-amazon.com/images/I/61HkH5FJm3L._SR400,400_.jpg" alt="Travel Wall Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zmGy8F">No Hurt Your Phone Digital Dual USB Travel Wall Charger, 2-Port USB Plug Power Adapter 2 Pack USB Charger for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50A98LYO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50A98LYO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zmGy8F">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="34.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KVsdXu"><img src="https://m.media-amazon.com/images/I/71aPeJ0FlyL._SR400,400_.jpg" alt="Smart Watch for iOS Android Phones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KVsdXu">Smart Watch for iOS Android Phones, AIVEILE 2019 Version Activity Fitness Tracker Bluetooth Bracelet Waterproof Smartwatch...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.49</span><span class="ori_price">$45.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25OQEU87</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $45.99</strong> with promo code: <strong class="m_codes">25OQEU87</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KVsdXu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="28.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZppHAY"><img src="https://m.media-amazon.com/images/I/71b7R24PJgL._SR400,400_.jpg" alt="Fansteck iPad 9.7 Keyboard Case" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZppHAY">Fansteck iPad 9.7 Keyboard Case - iPad Keyboard Case for iPad 2018 (6th Gen) - iPad 2017 (5th Gen) - iPad Pro 9.7 - iPad Air 2&1...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.04</span><span class="ori_price">$32.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">157GNTZ7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $32.99</strong> with promo code: <strong class="m_codes">157GNTZ7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZppHAY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="22.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZpJCM7"><img src="https://m.media-amazon.com/images/I/81X4oI-mSlL._SR400,400_.jpg" alt="Anti Theft Travel Backpacks" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZpJCM7">WSQIWNI Laptop Backpack for Men & Women Anti Theft Travel Backpacks Water Resistant College School Bookbag with USB Charging Port...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.09</span><span class="ori_price">$33.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35ERY4TR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $33.99</strong> with promo code: <strong class="m_codes">35ERY4TR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZpJCM7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="16.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zglroa"><img src="https://m.media-amazon.com/images/I/41GzH36tUTL._SR400,400_.jpg" alt="KOTION EACH G2000 PC Gaming Headset" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zglroa">KOTION EACH G2000 PC Gaming Headset Over-ear Game Gaming Headphone Headset Earphone Headband with Volume Control with Mic Stereo...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.24</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">358D9B9F</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $24.99</strong> with promo code: <strong class="m_codes">358D9B9F</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zglroa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KT1L0t"><img src="https://m.media-amazon.com/images/I/6122+pEuUrL._SR400,400_.jpg" alt="USB C Hub,Thunderbolt 3 Type C Multi Port Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KT1L0t">USB C Hub,Thunderbolt 3 Type C Multi Port Adapter for MacBook Pro 2019/2016-2018, MacBook Air 2019, 2018 MacBook Pro ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">40NZX7VL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">40NZX7VL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KT1L0t">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="15.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KUMhJJ"><img src="https://m.media-amazon.com/images/I/61eSIypKUyL._SR400,400_.jpg" alt="European Plug Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KUMhJJ">European Plug Adapter, 2 Pack Upgraded European Travel Adapter with USB Type-C and USB Charging Port, EU to US Power Adapter...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.39</span><span class="ori_price">$21.98</span></address>
      <textarea readonly="readonly" class="code_area">30BP9KWH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $21.98</strong> with promo code: <strong class="m_codes">30BP9KWH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KUMhJJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="28.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KSFiRe"><img src="https://m.media-amazon.com/images/I/61c6Zu-ds-L._SR400,400_.jpg" alt="Power Strip Tower Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KSFiRe">Power Strip Tower Wireless Charger - GLCON Surge Protector Electric Charging Station 3000W 13A 6 Outlet Plugs 4 USB Ports...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.79</span><span class="ori_price">$35.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">203I5YWO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $35.99</strong> with promo code: <strong class="m_codes">203I5YWO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KSFiRe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZmhXLP"><img src="https://m.media-amazon.com/images/I/71-drgX1XVL._SR400,400_.jpg" alt="2019 Newly True Wireless Earbuds Bluetooth" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZmhXLP">2019 Newly True Wireless Earbuds Bluetooth 5.0 Headphones, TWS Stereo Headphones in-Ear True Wireless Sweatproof and Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">406JPJY2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $49.99</strong> with promo code: <strong class="m_codes">406JPJY2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZmhXLP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="21.28">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HrWz1M"><img src="https://m.media-amazon.com/images/I/71GEtIDGGJL._SR400,400_.jpg" alt="Digital Caliper Micrometer Measuring Tool" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HrWz1M">Digital Caliper Micrometer Measuring Tool - 6 inch Stainless Steel Electronic Vernier Calipers, IP54 Waterproof Accurate Gauge...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.28</span><span class="ori_price">$32.74</span></address>
      <textarea readonly="readonly" class="code_area">35TF7KJD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $32.74</strong> with promo code: <strong class="m_codes">35TF7KJD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HrWz1M">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="36.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZrWzVq"><img src="https://m.media-amazon.com/images/I/41+sIqywmzL._SR400,400_.jpg" alt="BOSMA Indoor Security Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZrWzVq">BOSMA Indoor Security Camera, 1080p 162°Wide Angle Wifi Home Camera with Color Night Vision, Two-Way Talk, Motion Detection...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.00</span><span class="ori_price">$89.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">60CCLIAN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $89.99</strong> with promo code: <strong class="m_codes">60CCLIAN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZrWzVq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="9.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3213DtP"><img src="https://m.media-amazon.com/images/I/71oQb7WULmL._SR400,400_.jpg" alt="Ultra-Bright LED Flashlight" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3213DtP">Ultra-Bright LED Flashlight, Wsiiroon CREE XML-T6 LED Flashlight, Zoomable, IP65 Water-Resistant, Portable, 5 Light Modes...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.74</span><span class="ori_price">$14.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35D394UW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $14.99</strong> with promo code: <strong class="m_codes">35D394UW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 08:00 AM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3213DtP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/327UKyZ"><img src="https://m.media-amazon.com/images/I/61ikLMbP+DL._SR400,400_.jpg" alt="Emergency Outdoor Survival Sleeping Bag Therma Bivvy" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/327UKyZ">Emergency Outdoor Survival Sleeping Bag Therma Bivvy, Reusable Lightweight Waterproof Emergency Bivvy with Whistle and Mini Fire Started,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">50CTKV3C</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">50CTKV3C</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/327UKyZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="40.5">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hr5PTH"><img src="https://m.media-amazon.com/images/I/61buZkb9DBL._SR400,400_.jpg" alt="GLO Brilliant 7 Day Teeth Whitening Gel Treatment Kit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hr5PTH">GLO Brilliant 7 Day Teeth Whitening Gel Treatment Kit for Fast, Pain-Free, Long Lasting Results. Clinically Proven. Includes 7 GLO Vials Refill</a></p>
    <div class="code_high">
      <address><span class="dis_price">$40.5</span><span class="ori_price">$54.00</span></address>
      <textarea readonly="readonly" class="code_area">25KYT92R</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $54.00</strong> with promo code: <strong class="m_codes">25KYT92R</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Hr5PTH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="15.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZkYbVf"><img src="https://m.media-amazon.com/images/I/61zdIwlUN+L._SR400,400_.jpg" alt="Acumen Wireless Car Charger Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZkYbVf">Acumen Wireless Car Charger Mount with Infrared Sensor Automatic Clamping Phone Holder Air Vent Mount Compatible with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.49</span><span class="ori_price">$30.99</span></address>
      <textarea readonly="readonly" class="code_area">55441CEU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $30.99</strong> with promo code: <strong class="m_codes">55441CEU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZkYbVf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="18.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3247YN3"><img src="https://m.media-amazon.com/images/I/51Dyc6wAG2L._SR400,400_.jpg" alt="Cordless Water Flosser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3247YN3">Cordless Water Flosser, Oral Irrigator Water Pick with 3 Pressure Settings. Portable and Rechargeable Dental Flosser Teeth Cleaner...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.50</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">50XNBNVU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $36.99</strong> with promo code: <strong class="m_codes">50XNBNVU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3247YN3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NwMiFo"><img src="https://m.media-amazon.com/images/I/71qrmV2L9DL._SR400,400_.jpg" alt="YJY Flower Essential Oil Diffuser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NwMiFo">YJY Flower Essential Oil Diffuser Ceramic Decorative Aromatherapy Diffuser,Cute Lotus Humidifier Crafts Ornaments,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">30VQUIQW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $19.99</strong> with promo code: <strong class="m_codes">30VQUIQW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NwMiFo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hpwq3r"><img src="https://m.media-amazon.com/images/I/51MAeJfHMWL._SR400,400_.jpg" alt="Vyaime USB Car Essential Oil Diffuser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hpwq3r">Vyaime USB Car Essential Oil Diffuser Home Humidifier Air Freshener,7 Colors LED Light 200mL Big Volume Aromatherapy for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">30BYBHO3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $19.99</strong> with promo code: <strong class="m_codes">30BYBHO3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Hpwq3r">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZugE1m"><img src="https://m.media-amazon.com/images/I/71AG6TIwjhL._SR400,400_.jpg" alt="YISSVIC Butane Torch Refillable Kitchen Torch" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZugE1m">YISSVIC Butane Torch Refillable Kitchen Torch Professional Cooking Torch with Safety Lock and Fuel Gauge for Cooking,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">508MBUJO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $21.99</strong> with promo code: <strong class="m_codes">508MBUJO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZugE1m">Use Code at Amazon</a></div>
</div>
