<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now</a>
  </div>
</div> -->


<!-- 
<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Deal_Of_The_Day_Title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
             <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>
        
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now</a>
  </div>
</div> -->

<!-- 
<div class="tooltip_orange">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount width coupon</p>
  </div>
</div> 
-->


<div class="card clearfix" data-score="47" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30NYwNP"><img src="https://i.pinimg.com/originals/6d/d3/2d/6dd32d4a03713e8645dabc092630a879.png" alt="Amazon Deal of the Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>Up To 47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30NYwNP">Amazon Deal of the Day : Save Up to 47% on Netgear Routers, Cable Modem, Extender</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Extenders:</p>
          <ul>
            <li><a href="https://amzn.to/2MsaAS7">NETGEAR Wi-Fi Range Extender EX6120</a> - <span>45.99<em>65.99</em></span></li>
            <li><a href="https://bit.ly/2woLvfE">NETGEAR Wi-Fi Range Extender EX2700</a> - <span>19.99<em>31.49</em></span></li>
            <li><a href="https://amzn.to/2K9Awz1">NETGEAR Wi-Fi Mesh Range Extender EX7500</a> - <span>110.49<em>179.99</em></span></li>
            <li><a href="Each_Product_link">NETGEAR Orbi WiFi Satellite Extender</a> - <span>198.99<em>299.99</em></span></li>
          </ul>
        </li>

        <li>
          <p>Routers:</p>
          <ul>
            <li><a href="https://amzn.to/2MeBAV1">NETGEAR R6700 WiFi Router</a> - <span>68.49<em>129.99</em></span></li>
            <li><a href="https://amzn.to/2MedmtN">NETGEAR Nighthawk X6S AC4000 WiFi Router</a> - <span>179.99<em>279.99</em></span></li>
            <li><a href="https://amzn.to/2VUCwxo">NETGEAR AC1200 Dual Band Smart WiFi Router</a> - <span>47.99<em>60.00</em></span></li>
            <li><a href="https://amzn.to/2K8jalV">NETGEAR Nighthawk AC1900 Dual Band WiFi Router</a> - <span>103.99<em>129.99</em></span></li>
            <li><a href="https://amzn.to/2VV2WyV">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Cable Modem:</p>
          <ul>
            <li><a href="https://amzn.to/2MnNMTw">NETGEAR Cable Modem (32x8) DOCSIS 3.0</a> - <span>74.99<em>109.99</em></span></li>
            <li><a href="https://amzn.to/2McIiut">NETGEAR CM500V (16x4) DOCSIS 3.0 Cable Modem</a> - <span>109.99<em>139.99</em></span></li>
            <li><a href="https://amzn.to/2YQPpdt">NETGEAR Nighthawk WiFi Cable Modem Router</a> - <span>134.99<em>209.99</em></span></li>
            <li><a href="https://amzn.to/2VXSpms">NETGEAR 4G LTE Modem</a> - <span>99.97<em>129.99</em></span></li>
            <li><a href="https://amzn.to/2K7USZn">NETGEAR Cable Modem 8x4 DOCSIS 3.0 </a> - <span>45.99<em>57.99</em></span></li>
          </ul>
        </li>
        
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30NYwNP">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="65" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HHcaef"><img src="https://i.pinimg.com/originals/5e/40/c7/5e40c7b4b6aebc1c7455014945b5a245.png" alt="deal of the day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>Up To 65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HHcaef">Amazon Deal of the Day : Save Up to 65% PC products and accessories </a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Computer Storage:</p>
          <ul>
            <li><a href="https://bit.ly/2wo8GXF">Western Digital Red 4TB NAS Hard Disk Drive </a><span>- 89.99<em>123.99</em></span></li>
            <li><a href="https://amzn.to/30NHpvH">WD Red Pro 6TB NAS Internal Hard Drive </a><span>- 170.99<em>270.00</em></span></li>
            <li><a href="https://amzn.to/2HGJvWI">WD Red 8TB NAS Internal Hard Drive</a><span>- 180.99<em>250.50</em></span></li>
            <li><a href="https://amzn.to/2McypNn">WD Black 2TB Performance Desktop Hard Disk Drive</a><span>- 89.99<em>119.99</em></span></li>
            <li><a href="https://amzn.to/2WrN7E1">WD Blue 6TB PC Hard Drive</a><span>- 119.99<em>169.99</em></span></li>
            <li><a href="https://amzn.to/2YT2piY">Seagate Game Drive 2TB External Hard Drive</a><span>- 69.99<em>89.99</em></span></li>
            <li><a href="https://amzn.to/2Wakc8d">WD Blue 3D NAND 2TB PC SSD</a><span>- 199.99<em>259.99</em></span></li>
            <li><a href="https://amzn.to/2WlqaTh">Toshiba Canvio Advance 1TB Portable External Hard Drive</a><span>- 42.39<em>53.99</em></span></li>
            <li><a href="https://amzn.to/2QuuERO">Toshiba S300 4TB Surveillance 3.5” Internal Hard Drive </a><span>- 94.99<em>119.99</em></span></li>
            <li><a href="https://amzn.to/2HHQjUc">Toshiba 1TB Portable External Hard Drive USB </a><span>- 39.99<em>53.99</em></span></li>
            <li><a href="https://amzn.to/2HGKVk0">WD 2TB Ultra Blue Portable External Hard Drive</a><span>- 63.99<em>89.99</em></span></li>
            <li><a href="https://amzn.to/2QuuIRy">WD 2TBUltra for Mac Silver Portable External Hard Drive</a><span>- 64.99<em>89.99</em></span></li>
            <li><a href="https://amzn.to/2WrOItv">WD 12TB My Cloud Home Duo Personal Cloud Storage</a> - <span>349.99<em>460.00</em></span></li>
            <li><a href="https://amzn.to/2YPWMSz">WD 8TB My Cloud Home Personal Cloud Storage</a> - <span>239.99<em>319.99</em></span></li>
            <li><a href="https://amzn.to/2QqZWJB">Western Digital 6TB My Book Desktop External Hard Drive</a> - <span>95.96<em>249.99</em></span></li>
          </ul>
        </li>

        <li>
          <p>SDXC & Micro SDXC Cards:</p>
          <ul>
            <li><a href="https://amzn.to/2HFykxn">SanDisk Ultra 200GB microSDXC UHS-I card</a><span>- 25.00<em>34.99</em></span></li>
            <li><a href="https://amzn.to/2WqnUdn">SanDisk 256GB Extreme microSDXC UHS-I Memory Card </a><span>- 43.19<em>67.91</em></span></li>
            <li><a href="https://amzn.to/2WnUIUk">SanDisk 512GB Extreme microSDXC UHS-I Memory Card</a><span>- 139.99<em>199.99</em></span></li>
            <li><a href="https://amzn.to/2WuBBrM">SanDisk 512GB Extreme PRO SDXC UHS-I Card</a><span>- 159.99<em>249.99</em></span></li>
            <li><a href="https://amzn.to/2MnrcKm">SanDisk Extreme PRO 256GB CompactFlash Memory Card</a><span>- 187.98<em>246.99</em></span></li>
          </ul>
        </li>

        <li>
          <p>Laptop & Desktop:</p>
          <ul>
            <li><a href="https://amzn.to/2WnUVXC">ASUS ZenBook 15 Ultra-Slim Compact Laptop 15.6”...</a> - <span>1,149.00<em>1,399.99</em></span></li>
            <li><a href="https://amzn.to/2YSR2HS">ASUS Vivobook K570ZD Casual Gaming Laptop, 15.6”...</a> - <span>499.00<em>699.99</em></span></li>
            <li><a href="https://amzn.to/2HK1Gel">ASUS X555QA Laptop, 15.6” HD, AMD Quad Core A12-...</a> - <span>389.99<em>469.99</em></span></li>
            <li><a href="https://amzn.to/2YTclci">Roll over image to zoom in Dell Inspiron Gaming...</a> - <span>649.99<em>899.99</em></span></li>
          </ul>
        </li>

      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HHcaef">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="24" data-price="56.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YZj18T"><img src="https://images-na.ssl-images-amazon.com/images/I/61-nX7UdW7L._SX679_.jpg" alt="Vacuum Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YZj18T">Eureka NEU100 Airspeed Ultra-Lightweight Compact Bagless Upright Vacuum Cleaner, Lime Green</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$56.99</span><span class="ori_price">$74.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YZj18T">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MdY5cr"><img src="https://images-na.ssl-images-amazon.com/images/I/71VeVPvNlBL._SX679_.jpg" alt="COSORI Upgraded Personal Blender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MdY5cr">COSORI Upgraded Personal Blender(Recipe Book Included), 10-Piece Smoothie & Shakes Blender with 800W Auto-Blend Base</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MdY5cr">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MdYGuH"><img src="https://images-na.ssl-images-amazon.com/images/I/61TNOpCpYyL._SX522_.jpg" alt="Enther Air Purifiers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MdYGuH">Enther Air Purifiers for Home with True HEPA Filter, Air Filter for Allergies Pets Smoke Smokers Mold Dust, Air Cleaner Odor Eliminator for Large Room</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MdYGuH">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="167.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mfakpn"><img src="https://images-na.ssl-images-amazon.com/images/I/9117wPkbjrL._SX522_.jpg" alt="AmazonBasics Coil Mattress" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mfakpn">AmazonBasics Coil Mattress - Features High-Density Foam Layer, Reversible - 8-Inch, Queen Size</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$167.20</span><span class="ori_price">$209.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mfakpn">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="15.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2McWhQW"><img src="https://images-na.ssl-images-amazon.com/images/I/61lq4kJHFWL._SX522_.jpg" alt="Carbon Fibre Wallet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2McWhQW">Carbon Fibre Wallet, Slim Money Clip & Minimalist RFID Blocking Front Packet Slim Wallet, Aluminum Metal Wallet & Business Card Holder Billfolds</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.01</span><span class="ori_price">$16.70</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2McWhQW">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="27" data-price="32.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2W6iTHz"><img src="https://images-na.ssl-images-amazon.com/images/I/61BHM7Ty3WL._SX679_.jpg" alt="First Alert Dual Sensor Smoke and Fire Alarm" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2W6iTHz">First Alert Dual Sensor Smoke and Fire Alarm, SA3210</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.71</span><span class="ori_price">$44.53</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2W6iTHz">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="21" data-price="30.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K9BQSz"><img src="https://m.media-amazon.com/images/I/81CLPaa7+NL._AC_UL436_.jpg" alt="Diaper Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K9BQSz">Diaper Bag Backpack Nappy Bag Upsimples Baby Bags for Mom Maternity Diaper Bag </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.99</span><span class="ori_price">$38.99</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K9BQSz">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Me7ZuQ"><img src="https://images-na.ssl-images-amazon.com/images/I/51lqoGKIk4L._AC_US218_.jpg" alt="Bluetooth Wireless Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Me7ZuQ">Ultimate Ears BOOM 3 Portable Bluetooth Wireless Speaker (Waterproof) — Night Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Me7ZuQ">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="82" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WtA0lZ"><img src="https://m.media-amazon.com/images/I/71LlpBSM-HL._AC_UL436_.jpg" alt="Samsung SmartThings" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>82% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WtA0lZ">Samsung SmartThings ADT Wireless Home Security Starter Kit with DIY Smart Alarm System Hub, Door and Window Sensors, and Motion Detector</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$549.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WtA0lZ">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="8.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Qw0XQl"><img src="https://m.media-amazon.com/images/I/71iL4WdraXL._AC_UL436_.jpg" alt="iFrogz Audio" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Qw0XQl">iFrogz Audio - Plugz Wireless Bluetooth Earbuds - Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.93</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Qw0XQl">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="85" data-price="29.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WwDq7m"><img src="https://m.media-amazon.com/images/I/51uGG1rN6HL._AC_UL436_.jpg" alt="Essential 360 Degree Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>85% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WwDq7m">Essential 360 Degree Camera for Essential Phone</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.95</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WwDq7m">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="81" data-price="18.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YR2YK2"><img src="https://m.media-amazon.com/images/I/81qdazluuTL._AC_UL436_.jpg" alt="Charge Force Wireless Power" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YR2YK2">Charge Force Wireless Power - Wireless Charging Protective Battery Pack Case for iPhone 8 Plus and iPhone 7 Plus</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.94</span><span class="ori_price">$99.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YR2YK2">Shop Now</a>
  </div>
</div>

