<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>
-->
<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MMLNaE"><img src="https://images-na.ssl-images-amazon.com/images/I/6182S7MYC2L._SX569_.jpg" alt="Echo Dot" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MMLNaE">Echo Dot (3rd Gen) - Voice control your smart home with Alexa - Charcoal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MMLNaE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="44.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZCuUpa"><img src="https://images-na.ssl-images-amazon.com/images/I/712kBtTDt7L._SY741_.jpg" alt="WD Blue 1TB PC Hard Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZCuUpa">WD Blue 1TB PC Hard Drive - 7200 RPM Class, SATA 6 Gb/s, 64 MB Cache, 3.5" - WD10EZEX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.84</span><span class="ori_price">$109.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZCuUpa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZIQO67"><img src="https://images-na.ssl-images-amazon.com/images/I/81T5LcIMbKL._SX522_.jpg" alt="Elgato Stream Deck Mini" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZIQO67">Elgato Stream Deck Mini - Live Content Creation Controller with 6 customizable LCD keys, for Windows 10 and macOS 10.11 or later</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZIQO67">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NIKEAt"><img src="https://images-na.ssl-images-amazon.com/images/I/31RCRbbhY3L.jpg" alt="Plantronics 88120-41 M165 Marque 2 Ultralight Wireless Bluetooth Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NIKEAt">Plantronics 88120-41 M165 Marque 2 Ultralight Wireless Bluetooth Headset - Compatible with iPhone, Android,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$36.32</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NIKEAt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="999.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NKE1xI"><img src="https://images-na.ssl-images-amazon.com/images/I/71J7q3UpQnL._SX522_.jpg" alt="Alienware M15-15.6" FHD Gaming Laptop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NKE1xI"><span>Amazon Deal Of The Day:</span> Alienware M15-15.6" FHD Gaming Laptop Thin and Light, i7-8750H Processor,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$999.99</span><span class="ori_price">$1,649.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NKE1xI">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="20" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NKNwgq"><img src="https://images-na.ssl-images-amazon.com/images/I/81jbmPXW5VL._SX522_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NKNwgq"><span>Amazon Deal Of The Day:</span> Save up to 20% off on select simplehuman products</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2ZGTYak">simplehuman 58 Liter / 15.3 Gallon Stainless Steel...</a> - <span>159.99<em>199.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2HCZ1SX">simplehuman 45 Liter / 12 Gallon Stainless Steel Semi...</a> - <span>79.98<em>99.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2HEJCBH">simplehuman Tension Shower Caddy</a> - <span>111.99<em>129.99</em></span></li>
            <li><a href="https://amzn.to/2NKNwgq">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NKNwgq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.51">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NMYcLh"><img src="https://images-na.ssl-images-amazon.com/images/I/61zb6HdlacL._SX679_.jpg" alt="KEAIO Micro USB Cable" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NMYcLh">KEAIO Micro USB Cable 6FT with Adaptive Fast Charger, Braided Android Charger Cable 2-Pack + Quick Charge 3.0 Wall Charger...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.51</span><span class="ori_price">$18.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NMYcLh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="16.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zIQXM8"><img src="https://images-na.ssl-images-amazon.com/images/I/61R94AkpIDL._SX522_.jpg" alt="International Power Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zIQXM8">International Power Adapter, Universal Adapter Plug Power Adapter All in One AC Plug Adapter with 5.6A 4 USB Ports,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.14</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2zIQXM8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="56.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zJW52J"><img src="https://images-na.ssl-images-amazon.com/images/I/61J8OCDRP1L._SY879_.jpg" alt="Brother P-Touch PC Connectable Label Maker (PT-P700)" /></a>
    <div class="js-overlay-start start dealtube" data-url= "https://www.youtube.com/embed/qlIvlx8kODk"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zJW52J">Brother P-Touch PC Connectable Label Maker (PT-P700)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$56.50</span><span class="ori_price">$129.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2zJW52J">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="65.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UmNBbp"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZkquhhniL._UX679_.jpg" alt="Samsonite Kombi Business Backpack with SmartSleeve" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UmNBbp">Samsonite Kombi Business Backpack with SmartSleeve</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$65.33</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2UmNBbp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="62.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZIKFqi"><img src="https://images-na.ssl-images-amazon.com/images/I/91ClV0iV98L._UX679_.jpg" alt="Samsonite Modern Utility Paracycle Backpack Laptop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZIKFqi">Samsonite Modern Utility Paracycle Backpack Laptop</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$62.99</span><span class="ori_price">$104.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZIKFqi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="50.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LoBxSE"><img src="https://images-na.ssl-images-amazon.com/images/I/81axQmIwd-L._UX679_.jpg" alt="Samsonite Kombi Business Backpack with SmartSleeve" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LoBxSE">Samsonite Kombi Business Backpack with SmartSleeve</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$50.00</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LoBxSE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="13.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NJlrWt"><img src="https://images-na.ssl-images-amazon.com/images/I/81DAsvO7TVL._SX425_.jpg" alt="Natural Canvas Soft Storage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NJlrWt">Honey-Can-Do SFT-02066 Natural Canvas Soft Storage Window Box, Large 16x14</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.59</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NJlrWt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="199.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZLM53j"><img src="https://images-na.ssl-images-amazon.com/images/I/71f4o7jduqL._SX679_.jpg" alt="Moto Z3 Play - Unlocked" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZLM53j">Moto Z3 Play - Unlocked - 32 GB - Deep Indigo (US Warranty) - Verizon, AT&T, T-Mobile, Sprint</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.99</span><span class="ori_price">$349.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZLM53j">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="399.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LoBGWc"><img src="https://images-na.ssl-images-amazon.com/images/I/71j0ZDnUEsL._SY679_.jpg" alt="LG V35 ThinQ with Alexa Hands-Free" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LoBGWc">LG V35 ThinQ with Alexa Hands-Free – Prime Exclusive Phone – Unlocked – 64 GB – Aurora Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.99</span><span class="ori_price">$899.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LoBGWc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="149.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/349eUdw"><img src="https://images-na.ssl-images-amazon.com/images/I/712UDuT1yRL._SY550_.jpg" alt="Certified Refurbished Ring Video Doorbell Pro" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/349eUdw">Certified Refurbished Ring Video Doorbell Pro, Works with Alexa (existing doorbell wiring required)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.00</span><span class="ori_price">$224.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/349eUdw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="29.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MOcbkn"><img src="https://images-na.ssl-images-amazon.com/images/I/81v5g7gRPPL._UX522_.jpg" alt="Champion Men's Graphic Powerblend Fleece Hood" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MOcbkn">Champion Men's Graphic Powerblend Fleece Hood</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.60</span><span class="ori_price">$45.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MOcbkn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="18" data-price="48.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MReQtp"><img src="https://images-na.ssl-images-amazon.com/images/I/61k8Iy5ljYL._SX522_.jpg" alt="SteelSeries Nimbus Bluetooth Mobile Gaming Controller" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MReQtp">SteelSeries Nimbus Bluetooth Mobile Gaming Controller - Iphone, iPad, Apple TV - 40+ Hour Battery Life - Mfi Certified...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.95</span><span class="ori_price">$60.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MReQtp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MOcxYf"><img src="https://images-na.ssl-images-amazon.com/images/I/51f4l2gUSPL._SX679_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MOcxYf">Apple Smart Keyboard for 10.5-inch iPad Pro - US English</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$159.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MOcxYf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="174.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZFNQzf"><img src="https://images-na.ssl-images-amazon.com/images/I/613VxryCy%2BL._SX679_.jpg" alt="Samsung Gear Sport Smartwatch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZFNQzf">Samsung Gear Sport Smartwatch (Bluetooth), Black, SM-R600NZKAXAR – US Version with Warranty</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$174.00</span><span class="ori_price">$299.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZFNQzf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="135.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MPfGqR"><img src="https://images-na.ssl-images-amazon.com/images/I/51Oicwj%2BhAL._SY741_.jpg" alt="Samsung Gear" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MPfGqR">Samsung Gear Fit2 Pro Smartwatch Fitness Band (Large), Liquid Black, SM-R365NZKAXAR – US Version with Warranty</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$135.00</span><span class="ori_price">$199.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MPfGqR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="164.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HEChlB"><img src="https://images-na.ssl-images-amazon.com/images/I/91IoJYIZ-1L._SX569_.jpg" alt="Samsung Gear S2 Smartwatch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HEChlB">Samsung Gear S2 Smartwatch - Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$164.97</span><span class="ori_price">$249.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HEChlB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="179.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NIgahX"><img src="https://images-na.ssl-images-amazon.com/images/I/71qxbyiwFML._SX425_.jpg" alt="Fossil Women's Gen 4 Venture HR Heart Rate Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NIgahX">Fossil Women's Gen 4 Venture HR Heart Rate Watch with Stainless Steel Touchscreen Smartwatch Strap,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.00</span><span class="ori_price">$275.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NIgahX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PvYj0e"><img src="https://images-na.ssl-images-amazon.com/images/I/71VnCVgMePL._SX425_.jpg" alt="Bluetooth Earbuds Bluetooth Earphones Wireless Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PvYj0e">Bluetooth Earbuds Bluetooth Earphones Wireless Headphones, OFUSHO Bluetooth 5.0 Earbuds 152H Playtime Deep Bass IPX7 Waterproof TWS Stereo in-Ear Headphones with Charging Case, CVC8.0 Apt-X</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$59.88</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2PvYj0e">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NEdnXc"><img src="https://images-na.ssl-images-amazon.com/images/I/712J8rHKbRL._SX679_.jpg" alt="PASONOMI Bluetooth Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NEdnXc">PASONOMI Bluetooth Earbuds Wireless Headphones Bluetooth Headset Wireless Earphones IPX7 Waterproof Bluetooth 5.0 Stereo...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NEdnXc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="42.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LfxmKf"><img src="https://images-na.ssl-images-amazon.com/images/I/91HzMhFC62L._SX425_.jpg" alt="Vacuum Sealer Machine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LfxmKf">Vacuum Sealer Machine, ABOX Automatic Food Vacuum Sealer with Roll & Bags Starter Kit, Built-in Bag Storage&Cutter,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$42.49</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LfxmKf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="14.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MN1QVZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61gomg0rk2L._SX425_.jpg" alt="PURELL LTX-12 Touch-Free Hand Sanitizer Dispenser" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MN1QVZ">PURELL LTX-12 Touch-Free Hand Sanitizer Dispenser, Chrome/Black Finish, Dispenser for PURELL LTX-12 1200 mL Hand Sanitizer Refills</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.34</span><span class="ori_price">$70.79</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MN1QVZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="64" data-price="45.13">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NIzawQ"><img src="https://images-na.ssl-images-amazon.com/images/I/81BipLqhG8L._SX679_.jpg" alt="Black Quilted Vinyl Swivel Task Chair" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NIzawQ">Flash Furniture Mid-Back Black Quilted Vinyl Swivel Task Chair - GO-1691-1-BK-GG</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.13</span><span class="ori_price">$127.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NIzawQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="16.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZK0Fs8"><img src="https://images-na.ssl-images-amazon.com/images/I/718C%2B9yZH5L._SX679_.jpg" alt="Farberware Classic Stainless Steel" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZK0Fs8">Farberware Classic Stainless Steel 2-Quart Covered Saucepan</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.19</span><span class="ori_price">$50.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZK0Fs8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="4.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NIH09S"><img src="https://images-na.ssl-images-amazon.com/images/I/91cmu9N7gAL._SX425_.jpg" alt="Gorilla Super Glue Gel, 20 Gram, Clear" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NIH09S">Gorilla Super Glue Gel, 20 Gram, Clear</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.98</span><span class="ori_price">$14.89</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NIH09S">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NLqwh8"><img src="https://images-na.ssl-images-amazon.com/images/I/51jUUvX-3IL._SX425_.jpg" alt="Wireless Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NLqwh8">Wireless Headphones, AWEI Best Smart Magnet Switch Bluetooth Sports Earphones w/Mic IPX4 Waterproof HD Stereo Sweatproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$25.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NLqwh8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="98.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NGgG01"><img src="https://images-na.ssl-images-amazon.com/images/I/81V8YAU2leL._SX522_.jpg" alt="Bosch PS32-02 Cordless Drill Driver" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NGgG01">Bosch PS32-02 Cordless Drill Driver - 12V Brushless Compact Drill with 2 Lithium Ion Batteries, Charger and Soft Carrying Case</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$98.00</span><span class="ori_price">$147.56</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NGgG01">Shop Now at Amazon</a></div>
</div>