<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->
<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z3Mkfl"><img src="https://m.media-amazon.com/images/I/61Ni2nmyvxL._SR400,400_.jpg" alt="Yoobao F01 Mini Portable USB Rechargeable Battery Fan" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z3Mkfl">Yoobao F01 Mini Portable USB Rechargeable Battery Fan Table Desk Fan Indoor and Outdoor Quiet Travelling Handheld Fan...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">60I3VJ3K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $19.99</strong> with promo code: <strong class="m_codes">60I3VJ3K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2z3Mkfl">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TE0xsZ"><img src="https://m.media-amazon.com/images/I/71GDj2AR6dL._SR400,400_.jpg" alt="Brewsly Insulated Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TE0xsZ">Brewsly Insulated Water Bottle, Double Wall Vacuum Insulated Stainless Steel Leak Proof Sports Water Bottle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50BH5T9T</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50BH5T9T</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2TE0xsZ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KVKjHw"><img src="https://m.media-amazon.com/images/I/71Mbb+zsiNL._SR400,400_.jpg" alt="EVOLAND Snorkel Mask Full Face for Adults Kids" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KVKjHw">EVOLAND Snorkel Mask Full Face for Adults Kids Youth, Diving Snorkeling Mask Anti-Fog Set with 180° View, GoPro Mount,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">6042KL8I</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $29.99</strong> with promo code: <strong class="m_codes">6042KL8I</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KVKjHw">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="40.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31KaBTU"><img src="https://m.media-amazon.com/images/I/71jxwjuEPoL._SR400,400_.jpg" alt="COOAU 12.5" Portable DVD Player" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31KaBTU">COOAU 12.5" Portable DVD Player, High-Brightness Swivel Screen, Supports All Region, AV-in/AV-Out/SD/USB/CD/DVD,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$40.00</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">60FD3LEU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $99.99</strong> with promo code: <strong class="m_codes">60FD3LEU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31KaBTU">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hbd7uS"><img src="https://m.media-amazon.com/images/I/61YCqh1V0YL._SR400,400_.jpg" alt="Inflator Electric Digital Tire Pump" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hbd7uS">NOOX Portable Air Compressor Tire Inflator Electric Digital Tire Pump for Car Truck Bicycles Balls & Inflatable Water...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50I29KXX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50I29KXX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Hbd7uS">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="80" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KTLwPC"><img src="https://m.media-amazon.com/images/I/81kILAuC1TL._SR400,400_.jpg" alt="Activated Charcoal Teeth Whitening Powder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KTLwPC">Activated Charcoal Teeth Whitening Powder With Bamboo Toothbrush |100% Natural, Vegan & Cruelty Free Charcoal...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$25.00</span></address>
      <textarea readonly="readonly" class="code_area">80JZRA66</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $25.00</strong> with promo code: <strong class="m_codes">80JZRA66</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KTLwPC">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="80" data-price="9.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z9x5Mz"><img src="https://m.media-amazon.com/images/I/61pzmmATBNL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z9x5Mz">Bluetooth Headphones, VICSEED Wireless Sports Headphones with Bluetooth 4.1 Richer Bass HD Stereo & Secure Fit in-Ear Sport...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.2</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">80455W8V</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $45.99</strong> with promo code: <strong class="m_codes">80455W8V</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z9x5Mz">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31CBRUu"><img src="https://m.media-amazon.com/images/I/710fJWc47aL._SR400,400_.jpg" alt="24K Golden Collagen Eye Pads" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31CBRUu">24K Golden Collagen Eye Pads - Gel Eye Mask for Eyes Treatment Puffiness Anti Aging Removing Bags Deep Hydration Relieve Dark...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">402O91EU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $18.99</strong> with promo code: <strong class="m_codes">402O91EU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31CBRUu">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31KBR4I"><img src="https://m.media-amazon.com/images/I/71t1dlGbGYL._SR400,400_.jpg" alt="Wireless Earbuds CHISANA C1L" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31KBR4I">Wireless Earbuds CHISANA C1L – Bluetooth Headphones Extreme Subwoofer Bass True Wireless Earbuds w/Dual Microphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40LPB1ET</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">40LPB1ET</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31KBR4I">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KE6K5j"><img src="https://m.media-amazon.com/images/I/61jYACo3t+L._SR400,400_.jpg" alt="Solar Lights Outdoor Motion Sensor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KE6K5j">Solar Lights Outdoor Motion Sensor, 800Lumens 8 LED Wireless Motion Sensor Light, IP66 Waterproof Solar Lights Outdoor...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50LK7C21</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50LK7C21</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KE6K5j">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31ICbRB"><img src="https://m.media-amazon.com/images/I/61S4XDG2H+L._SR400,400_.jpg" alt="ELECJET MagJet S, 20 Pin Magnetic USB C Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31ICbRB">ELECJET MagJet S, 20 Pin Magnetic USB C Adapter, 100W Fast Charging,10 Gbps Data Transfer, RJ45 Gigabit Ethernet Connection,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">40MAGJETS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.99</strong> with promo code: <strong class="m_codes">40MAGJETS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31ICbRB">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="31" data-price="27.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HbT8Mh"><img src="https://m.media-amazon.com/images/I/71pAeotDHFL._SR400,400_.jpg" alt="Facial Steamer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HbT8Mh">Facial Steamer, Nano Ionic Warm Steam for Home Sauna SPA Personal Moisturizing Humidifier Cleaning Pores Clear Blackheads...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.59</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">31LB4WQY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>31% off at $39.99</strong> with promo code: <strong class="m_codes">31LB4WQY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HbT8Mh">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="23" data-price="30.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ham5bJ"><img src="https://m.media-amazon.com/images/I/71xs9ahG+0L._SR400,400_.jpg" alt="OXA Spring Bed Pillows" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ham5bJ">OXA Spring Bed Pillows, Luxurious Queen Breathable Sleeping Pillow - Relieving Neck and Back Pain with 40 Independent...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.79</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">23VEUY96</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>23% off at $39.99</strong> with promo code: <strong class="m_codes">23VEUY96</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Ham5bJ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z58Hf2"><img src="https://m.media-amazon.com/images/I/61dCtg4Aa2L._SR400,400_.jpg" alt="MOSSY OAK LED Headlamp IPX8 Waterproof" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z58Hf2">MOSSY OAK LED Headlamp IPX8 Waterproof, 380 Lumens Ultra Bright CREE Head lamp Flashlight, 6 Lighting Modes,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">60UWCJT7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $17.99</strong> with promo code: <strong class="m_codes">60UWCJT7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z58Hf2">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="27.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31JA0x1"><img src="https://m.media-amazon.com/images/I/91Vh3wzQUoL._SR400,400_.jpg" alt="12+ Manuka Honey certified MGO 350" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31JA0x1">12+ Manuka Honey certified MGO 350 plus 70% Manuka Pollen count minimum | 500g jar of premium New Zealand Honey by Avatar Honey NZ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.98</span><span class="ori_price">$69.95</span></address>
      <textarea readonly="readonly" class="code_area">60MKIY55</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $69.95</strong> with promo code: <strong class="m_codes">60MKIY55</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31JA0x1">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="45" data-price="8.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KG4Wst"><img src="https://m.media-amazon.com/images/I/71sF5+HbAdL._SR400,400_.jpg" alt="vanpo Insulated Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KG4Wst">vanpo Insulated Water Bottle Straw Lid Standard Mouth Travel Sports Vacuum Water Bottle with Compass and Handy Loop</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.20</span><span class="ori_price">$14.90</span></address>
      <textarea readonly="readonly" class="code_area">45QYDOIP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $14.90</strong> with promo code: <strong class="m_codes">45QYDOIP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KG4Wst">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="45" data-price="54.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zb7nHk"><img src="https://m.media-amazon.com/images/I/61nq61m-VjL._SR400,400_.jpg" alt="CLOFY Lead Free Kitchen Faucet" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zb7nHk">CLOFY Lead Free Kitchen Faucet with Pull Down Sprayer, Commercial Single Handle High Arc Kitchen Sink Faucet Brushed...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$54.99</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">453LDEK5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $99.99</strong> with promo code: <strong class="m_codes">453LDEK5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zb7nHk">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="3.82">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Ovxtd"><img src="https://m.media-amazon.com/images/I/61PH0trQX2L._SR400,400_.jpg" alt="SoundPEATS Wired Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Ovxtd">SoundPEATS Wired Headphones in-Ear Earbuds Stereo Bass Wired Earphones Ultra-Light Sports Workout Headphones Comfort-Fit with Microphone</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.82</span><span class="ori_price">$7.64</span></address>
      <textarea readonly="readonly" class="code_area">50ABJ4GK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $7.64</strong> with promo code: <strong class="m_codes">50ABJ4GK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Ovxtd">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="14.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31NtFRw"><img src="https://m.media-amazon.com/images/I/61xQSYCQVgL._SR400,400_.jpg" alt="LNBEI 16GB Digital Voice Recorder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31NtFRw">LNBEI 16GB Digital Voice Recorder Voice Activated Recorder Playback - Upgraded Sound Audio Recorder Dictaphone Line in ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.80</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">60J827BK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $36.99</strong> with promo code: <strong class="m_codes">60J827BK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31NtFRw">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TDGzyz"><img src="https://m.media-amazon.com/images/I/61pHAIgcQEL._SR400,400_.jpg" alt="H11/H9/H8 Led Headlights Bulbs" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TDGzyz">H11/H9/H8 Led Headlights Bulbs, SUPAREE K19 Single Beam Headlamp with Fan, 9600lm 6000K Cool White High Beam/Low Beam/Fog...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50CODEK19</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50CODEK19</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2TDGzyz">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="15.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZeYgpq"><img src="https://m.media-amazon.com/images/I/71AKjDGgKoL._SR400,400_.jpg" alt="Solar Lights Outdoor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZeYgpq">Solar Lights Outdoor 100 LEDs Solar Motion Sensor Light Outdoor 1000 Lumens Waterproof Security Wall Night Light...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.74</span><span class="ori_price">$22.49</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30I8HLLJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $22.49</strong> with promo code: <strong class="m_codes">30I8HLLJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZeYgpq">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HeiY2u"><img src="https://m.media-amazon.com/images/I/616jKOk-LZL._SR400,400_.jpg" alt="Pahajim Women Top Handle Satchel" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HeiY2u">Pahajim Women Top Handle Satchel Fashion Shoulder Oil Leather Handbags Bucket Bag Tote Purse for Ladies and Girl</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">40DXZHRA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $24.99</strong> with promo code: <strong class="m_codes">40DXZHRA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HeiY2u">Use Code at Amazon</a></div>
</div>
 
