<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->
<div class="card clearfix" data-score="45" data-price="34.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NirKRI"><img src="https://m.media-amazon.com/images/I/61H2JtXS7BL._SR400,400_.jpg" alt="Auelife Camera Bag Waterproof Multipurpose " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NirKRI">Auelife Camera Bag Waterproof Multipurpose Anti-shock DSLR Camera Backpack for Nikon Sony Canon SLR/DSLR Cameras Mirrorless Lens...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.64</span><span class="ori_price">$62.99</span></address>
      <textarea readonly="readonly" class="code_area">45WC1CIF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $62.99</strong> with promo code: <strong class="m_codes">45WC1CIF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NirKRI">Use Code at Amazon</a></div>
</div>
 

<div class="card clearfix" data-score="80" data-price="100.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LzrBar"><img src="https://m.media-amazon.com/images/I/61gcOL9oP7L._SR400,400_.jpg" alt="Luggage 3 Piece Set Suitcase" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LzrBar">Luggage 3 Piece Set Suitcase Spinner Hardshell Lightweight PC+ABS Durable Suitcase Pink</a></p>
    <div class="code_high">
      <address><span class="dis_price">$100.00</span><span class="ori_price">$499.99</span></address>
      <textarea readonly="readonly" class="code_area">807T7YYZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $499.99</strong> with promo code: <strong class="m_codes">807T7YYZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LzrBar">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="10.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/302zyxC"><img src="https://m.media-amazon.com/images/I/71t-QSBmSVL._SR400,400_.jpg" alt="Manitoba Harvest Hemp Yeah!" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/302zyxC">Manitoba Harvest Hemp Yeah! Granola Blueberry with 10 g of Protein, 3.6 g Omegas, 3 g of Fiber and less than 10 g Sugar Per Serving,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.79</span><span class="ori_price">$17.99</span>
        <div class="tooltip_common tooltip_green"><span> + 20% Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 20% Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40GRAN082019</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $17.99</strong> with promo code: <strong class="m_codes">40GRAN082019</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/302zyxC">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="6.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31scepD"><img src="https://m.media-amazon.com/images/I/71EcM04wG4L._SR400,400_.jpg" alt="Bug Zappers Light Bulb" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31scepD">Bug Zappers Light Bulb, 2 in 1 Mosquito Killer Lamp, Electronic Insect Killer Fly Killer, Built in Insect Trap,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.59</span><span class="ori_price">$10.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40S4UOQJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $10.99</strong> with promo code: <strong class="m_codes">40S4UOQJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31scepD">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="21.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34MF4mL"><img src="https://m.media-amazon.com/images/I/618gz6KALnL._SR400,400_.jpg" alt="3 in 1 Wireless Charger Station Stand for iPhone.." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34MF4mL">3 in 1 Wireless Charger Station Stand for iPhone X/XR/XS/XS Max/8/8 Plus, Compatible Apple Watch Charger for iWatch...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.59</span><span class="ori_price">$35.99</span></address>
      <textarea readonly="readonly" class="code_area">40S337VM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $35.99</strong> with promo code: <strong class="m_codes">40S337VM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34MF4mL">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="10.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/302L24i"><img src="https://m.media-amazon.com/images/I/71-W4HfGY7L._SR400,400_.jpg" alt="Hemp Balm for Pain Relief" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/302L24i">Hemp Balm for Pain Relief, Hemp Cream, Hemp Seed Oil Balm,1000 Mg, Hemp Salve Non-GMO, Natural Hemp Extract Cream for Joint,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.97</span><span class="ori_price">$21.95</span></address>
      <textarea readonly="readonly" class="code_area">505HMPBLM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $21.95</strong> with promo code: <strong class="m_codes">505HMPBLM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/302L24i">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/302n8G9"><img src="https://m.media-amazon.com/images/I/61k3Q2CB4-L._SR400,400_.jpg" alt="MOSSY OAK 18-inch Kukri Machete" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/302n8G9">MOSSY OAK 18-inch Kukri Machete, 12-inch Black Blade with Saw Back, Full Tang TPR Handle with Lanyard, Solid Nylon Sheath Included</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">509PM7GQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">509PM7GQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/302n8G9">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="21.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/301cGyH"><img src="https://m.media-amazon.com/images/I/51FR4KIEVBL._SR400,400_.jpg" alt="WAVLINK USB 3.0 to SATA " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/301cGyH">WAVLINK USB 3.0 to SATA (5Gbps) Dual-Bay Hard Drive Docking Station for 2.5 inch/3.5 Inch HDD,SSD Support Offline...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.44</span><span class="ori_price">$32.99</span>
        <div class="tooltip_common tooltip_green"><span> + 10% Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 10% Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35XITBWN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $32.99</strong> with promo code: <strong class="m_codes">35XITBWN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/301cGyH">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="7.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Oart2y"><img src="https://m.media-amazon.com/images/I/614QIl+cfSL._SR400,400_.jpg" alt="Moisturizing Lipstick" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Oart2y">Moisturizing Lipstick, 6 color Matte Lipstick, Matte Waterproof Long Lasting Lip Gloss, lip balm, Non-Stick Cup for Lips...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.64</span><span class="ori_price">$15.29</span></address>
      <textarea readonly="readonly" class="code_area">507UNYY8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.29</strong> with promo code: <strong class="m_codes">507UNYY8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Oart2y">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="15" data-price="12.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34QJs43"><img src="https://m.media-amazon.com/images/I/41i9N0RIA+L._SR400,400_.jpg" alt="Simply Gum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34QJs43">Simply Gum | Chewing Gum | Cinnamon| Pack of Six (90 Pieces Total) | Vegan + non GMO</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.74</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">15GUMFORYOU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $14.99</strong> with promo code: <strong class="m_codes">15GUMFORYOU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34QJs43">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="15.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/305jsn1"><img src="https://m.media-amazon.com/images/I/61rz6cJrKPL._SR400,400_.jpg" alt="car care magic 8 oz Metal Polish kit for All Metal Surfaces" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/305jsn1">car care magic 8 oz Metal Polish kit for All Metal Surfaces, Brass, Copper, Sterling Silver, Aluminum, Stainless Steel and Gold</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.60</span><span class="ori_price">$26.00</span></address>
      <textarea readonly="readonly" class="code_area">40L3UTEK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $26.00</strong> with promo code: <strong class="m_codes">40L3UTEK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/305jsn1">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="25" data-price="56.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/302BTZA"><img src="https://m.media-amazon.com/images/I/61iPteo3mSL._SR400,400_.jpg" alt="Projector" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/302BTZA">Projector, Crenova Upgraded Home Video Projector, Portable Mini Movie Projector with 3200 Lux, 200" Display, Work with PC,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$56.24</span><span class="ori_price">$74.99</span>
        <div class="tooltip_common tooltip_green"><span> + $5 Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $5 Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25RD8LH6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $74.99</strong> with promo code: <strong class="m_codes">25RD8LH6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/302BTZA">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QesWYB"><img src="https://m.media-amazon.com/images/I/61iFUN9p9PL._SR400,400_.jpg" alt="Solar Lights Outdoor Motion Sensor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QesWYB">Solar Lights Outdoor Motion Sensor, 800Lumens 8 LED Wireless Motion Sensor Light, IP66 Waterproof Solar Lights Outdoor...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.99</span><span class="ori_price">$59.99</span></address>
      <textarea readonly="readonly" class="code_area">40O1RHLA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $59.99</strong> with promo code: <strong class="m_codes">40O1RHLA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 29, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2QesWYB">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="80" data-price="14.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O6nsfx"><img src="https://m.media-amazon.com/images/I/61uTkF4CkUL._SR400,400_.jpg" alt="USB C Hub VICSEED Dual USB C Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O6nsfx">USB C Hub VICSEED Dual USB C Adapter Dongle Thunderbolt 3 Hub Doc Fit for MacBook Pro 2018 2017 2016 13” 15” MacBook Air 2018...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.00</span><span class="ori_price">$69.99</span></address>
      <textarea readonly="readonly" class="code_area">80V9Y5NG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $69.99</strong> with promo code: <strong class="m_codes">80V9Y5NG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O6nsfx">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="23.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QbCOCd"><img src="https://m.media-amazon.com/images/I/61WRLrXFAeL._SR400,400_.jpg" alt="Keto DNA Chocolate Exogenous Ketone Supplement" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QbCOCd">Keto DNA Chocolate Exogenous Ketone Supplement | 30 Servings - 420g | BHB Salts for Ketosis | Beta Hydroxybutyrate Ketones Powder ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.98</span><span class="ori_price">$47.97</span></address>
      <textarea readonly="readonly" class="code_area">50M5HZ4V</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $47.97</strong> with promo code: <strong class="m_codes">50M5HZ4V</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2QbCOCd">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="21.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32H4iRC"><img src="https://m.media-amazon.com/images/I/71BVzqPXvUL._SR400,400_.jpg" alt="Shower Filter Hard Water Softener" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32H4iRC">Shower Filter Hard Water Softener – Weluvfit 16 Stage High Output Universal Replacement Cartridges with Vitamin C Shower Filter...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.59</span><span class="ori_price">$26.99</span>
        <div class="tooltip_common tooltip_green"><span> + 30% Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 30% Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20HLLECD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $26.99</strong> with promo code: <strong class="m_codes">20HLLECD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32H4iRC">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32EK4Ia"><img src="https://m.media-amazon.com/images/I/619E8BJnqQL._SR400,400_.jpg" alt="COOAU Portable DVD Player" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32EK4Ia">COOAU Portable DVD Player Upgraded 12" with HD Swivel Screen, Support All Region & Full DVD Format Discs, 1080P Video Files,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">70DG9DHN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $99.99</strong> with promo code: <strong class="m_codes">70DG9DHN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32EK4Ia">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/300MvHs"><img src="https://m.media-amazon.com/images/I/61z-yaJhLOL._SR400,400_.jpg" alt="HAUSBELL Waist Trimmer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/300MvHs">HAUSBELL Waist Trimmer, Adjustable Sweat Belt for Man and Women, Waist Trainer for Weight Loss and Stomach Fat Burner</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">609MC453</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $14.99</strong> with promo code: <strong class="m_codes">609MC453</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/300MvHs">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="7.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Q9ExIj"><img src="https://m.media-amazon.com/images/I/51E8Wk0xodL._SR400,400_.jpg" alt="USB C to SD/MicroSD Card Reader" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Q9ExIj">USB C to SD/MicroSD Card Reader, Selore USB Type C[Thunderbolt 3] SD Adapter Compatible for MacBook Pro, MacBook,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.98</span><span class="ori_price">$9.98</span></address>
      <textarea readonly="readonly" class="code_area">20Y6LFQ2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $9.98</strong> with promo code: <strong class="m_codes">20Y6LFQ2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Q9ExIj">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="45" data-price="5.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31sixcX"><img src="https://m.media-amazon.com/images/I/71ZbGnquZGL._SR400,400_.jpg" alt="USB Type C Cable" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31sixcX">USB Type C Cable, ADINC (3Pack 1.6ft 3.3ft 6.6ft) USB C to USB A Fast Charging Cord Nylon USB C Charger Cable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.49</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">45CG3X5U</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $9.99</strong> with promo code: <strong class="m_codes">45CG3X5U</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31sixcX">Use Code at Amazon</a></div>
</div>
 
