<!-- <div class="filter-node promotion_box" data-filter='["Category","Promotions_Title"]'>
  <a target="_blank" href="Promotions_URL"><img src="Image_URL" alt="Img_descriptions"></a>
  <div class="node-box inner">
    <h2><a target="_blank" href="Promotions_URL">Promotions_Title</a></h2>
    <p>Promotions_Descriptions</p>
    <em>COUPON CODE: Promotion_Code</em><span>End Date: End_date</span>
  </div>
  <div class="btn"><a target="_blank" href="Promotions_URL">Discover More</a></div>
</div>
 -->

 <!-- Categories : coupons, sales, promotions, brands -->
 <div class="filter-node promotion_box" data-filter='["sales","Amazon Gold Box and Lightning Deals"]'>
  <a target="_blank" href="https://amzn.to/2Lw8uy8"><img src="https://live.staticflickr.com/7297/27443174192_885278e512_b.jpg" alt="Gold Box Deals"></a>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2Lw8uy8">Amazon Gold Box and Lightning Deals</a></h2>
    <p>If you are looking for good Amazon deals and bargains, Today’s Deals is the place to come. </p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2Lw8uy8">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["promotions","Prime Member Coupons - Savings exclusively for Prime members"]'>
  <a target="_blank" href="https://amzn.to/2lbMfmc"><img src="https://images.unsplash.com/photo-1561734269-cd857b8f2aa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Prime Member Coupons"></a>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2lbMfmc">Prime Member Coupons - Savings exclusively for Prime members</a></h2>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2lbMfmc">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["sales","Up to 50% Off | Subscription & Discovery Boxes"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2NQ7uaY">Up to 50% Off | Subscription & Discovery Boxes</a></h2>
    <p>Subscription boxes for him, her, and even Fido are now available on Amazon. With every box, you will receive a collection of curated surprises or exclusive items – always at a tremendous value – delivered right to your door. <br />And for a limited time only, Prime Members can save up to 70% on their first box when they subscribe.</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2NQ7uaY">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["sales","Up to 50% Off | Subscription & Discovery Boxes: Toys & Kids"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/30ujxwi">Up to 50% Off | Subscription & Discovery Boxes: Toys & Kids</a></h2>
    <p>Find your favorite kids and toys subscription boxes on Amazon. Whether you know children who are aspiring coders and scientists, or children of all ages who just love collecting pop-culture collectibles, there's a subscription box for you.</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/30ujxwi">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["sales","Bargain Finds | $10 & under with free shipping"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2YwUkk3">Bargain Finds | $10 & under with free shipping</a></h2>
    <p>Prices include standard shipping, rates may vary by final destination</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2YwUkk3">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["promotions","Create a pet profile to shop coupons, deals and personalized recommendations for your pet."]'>
  <a target="_blank" href="https://amzn.to/30vHRO2"><img src="https://images.unsplash.com/photo-1450778869180-41d0601e046e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Create a pet profile"></a>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/30vHRO2">Create a pet profile to shop coupons, deals and personalized recommendations for your pet.</a></h2>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/30vHRO2">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["coupons","Amazon Coupons"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2NpeR9j">Amazon Coupons</a></h2>
    <p>These Amazon coupons of the day to save as much as 70% on Grocery, Health & Beauty, Electronics, Home Improvement, and more. Simply click on the category of coupons you want, and clipping coupons.</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2NpeR9j">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["sales","Save up to 60% off amazon fashion"]'>
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xgag9b"><img src="https://images.unsplash.com/photo-1490481651871-ab68de25d43d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="amazon fashion"></a>
  </div>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2Xgag9b">Save up to 60% off amazon fashion</a></h2>
    <p>Save up to 60% off on clothing, shoes, jewelry, watches, and more.</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2Xgag9b">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["promotions","Amazon Wedding Registry"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2XJhkPP">Amazon Wedding Registry</a></h2>
    <p>Special benefits including:</p>
      <ul>
        <li>Up to 20% completion gift off most products on Amazon</li>
        <li>World's largest selection, plus Amazon's reliable fast shipping and world class customer service</li>
        <li>It's universal - add items from other websites with the universal button </li>
        <li>Fast, free shipping - Free shipping on orders over $25 or fast, FREE delivery on millions of items with Prime.</li>
      </ul>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2XJhkPP">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["brands","Save up to 24% OFF on Apple's iPad (All models)"]'>
  <a target="_blank" href="https://amzn.to/2J4FSuq"><img src="https://images.unsplash.com/photo-1471279136892-55af5dc6895f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="apple ipad deals"></a>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2J4FSuq">Save up to 24% OFF on Apple's iPad (All models)</a></h2>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2J4FSuq">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["sales","Up to 50% off Great deals on like-new products on Amazon Renewed"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2FJHYxU">Amazon Renewed:  Great deals on like-new products on + Minimum 90-Day Supplier Warranty</a></h2>
    <p>Products on Amazon Renewed have been inspected and tested by qualified suppliers to work and look like new, and come with a minimum 90-day supplier-backed warranty. Get great deals on smartphones, computers, laptops, tablets, home and kitchen appliances, game consoles, office products, and more.</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2FJHYxU">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["coupons","Up to 50% off Electronics Clippable Coupons"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2XeoKLv">Save Up to 50% off Electronics Clippable Coupons</a></h2>
    <p>Click here to scope out hundreds of electrifying coupons and discounts on everything from Amazon devices, cell phones & accessories, power bank, GoPros, and smart watches to computers, headphones, and speakers, and more!</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2XeoKLv">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["Category","Up to 15% & FREE Shipping Subscribe & Save"]'>
  <a target="_blank" href="https://amzn.to/2LsnSvG"><img src="https://images.unsplash.com/photo-1559718721-0333d64e5705?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Img_descriptions"></a>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2LsnSvG">Up to 15% & FREE Shipping | Subscribe & Save</a></h2>
    <p>Save up to 15% and receive FREE shipping on thousands of products.</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2LsnSvG">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["promotions","Try Amazon Music Unlimited Free Trial"]'>
  <a target="_blank" href="https://amzn.to/2NpobtP"><img src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Amazon Music"></a>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2NpobtP">Try Amazon Music Unlimited Free Trial</a></h2>
    <p>Unlimited access to 50 million songs | Free for 30 days. Cancel anytime</p>
    <span>End Date: Dec. 30th. 2019</span>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2NpobtP">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["promotions","Kindle Unlimited Membership Plans"]'>
  <a target="_blank" href="https://amzn.to/2XzGzUH"><img src="https://images.unsplash.com/photo-1456953180671-730de08edaa7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Img_descriptions"></a>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2XzGzUH">Kindle Unlimited Membership Plans</a></h2>
    <p>*Unlimited reading from over 1 million ebooks & listening to thousands of audiobooks </p>
    <span>End Date: Dec. 30th. 2020</span>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2XzGzUH">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["promotions","Join Amazon Family 30-Day Free Trial"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2ROM6kP">Join Amazon Family 30-Day Free Trial</a></h2>
    <p>Special benefits including:</p>
     <ul>
      <li>Save 20% on diapers subscriptions</li>
      <li>Exclusive Coupons and Deals from Amazon Family</li>
      <li>Exclusive Baby Registry benefits</li>
      <li>FREE Two-Day Shipping on millions of items</li>
      <li>Unlimited instant streaming of thousands of movies and TV shows</li>
      <li>Unlimited, ad-free streaming of over a million songs and more Prime benefits</li>
     </ul>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2ROM6kP">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["sales","Grab up to 50% off Warehouse Products"]'>
  <a target="_blank" href="https://amzn.to/2XljNjV"><img src="https://images.unsplash.com/photo-1501523460185-2aa5d2a0f981?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Img_descriptions"></a>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2XljNjV">Grab up to 50% off Warehouse Products</a></h2>
    <p>Amazon Warehouse offers deals on hundreds of thousands of warehouse-damaged, returned, open-box, and pre-owned items.</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2XljNjV">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["sales","Used Textbooks - Save up to 90%"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2JdsP8R">Used Textbooks - Save up to 90%</a></h2>
    <p>Save money by buying cheap new and used textbooks and by renting textbooks for college. You can also trade your used textbooks for an Amazon Gift Card, whether you bought your books from us or not.<br /><br />Save up to 90% on textbook rentals, up to 90% on used textbooks, and up to 49% on new textbooks. Save up to 80% off the print list price when you rent and up to 60% off the print list price when you buy eTextbooks. You can also enjoy Free Two-Day Shipping.</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2JdsP8R">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["sales","Up To 30% Off Beauty, Health, & Personal Care"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/308m1Ag">Up To 30% Off Beauty, Health, & Personal Care</a></h2>
    <p>Beauty products of Amazon.com features a browsable selection of everything on your favorite skin care, hair care, makeup tools and accessories, perfume and cologne, and loads of top brands like Olay, L’Oreal Paris, Covergirl, Pantene, Vidal Sassoon, Suave, Dove, Maybelline, Garnier, The Body Shop, Nivea, Eucerin, and many, many more.</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/308m1Ag">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["promotions","Everything you love about Amazon.
For your business."]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2G4JI4X">Everything you love about Amazon.
For your business.</a></h2>
    <p>It is the Amazon you love, for work. Make workplace procurement easier with convenient delivery options, simplified purchasing workflows, multiple payment options, and a competitive marketplace with business-only pricing and quantity discounts. Anyone who makes purchases for work can create a free account for their business. Customer must be from a verified business in order to successfully create their Amazon Business account.</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2G4JI4X">Discover More</a></div>
</div>

<div class="filter-node promotion_box" data-filter='["promotions","Try Amazon Home Services"]'>
  <div class="node-box inner">
    <h2><a target="_blank" href="https://amzn.to/2JonEEh">Try Amazon Home Services</a></h2>
    <p>Amazon Home Services offers customers over a thousand different services from quality, hand-picked pros and backed by Amazon's Happiness Guarantee. Top services available for Customers to purchase include: *House Cleaning *TV Wall Mounting *Smart Home Device Installation *Equipment and Furniture Assembly *Plumbing and Electrical *Handyman *House Painting</p>
  </div>
  <div class="btn"><a target="_blank" href="https://amzn.to/2JonEEh">Discover More</a></div>
</div>







        