<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="25" data-price="34.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WEOBvT"><img src="https://m.media-amazon.com/images/I/61T5K+Us34L._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WEOBvT">Wireless Earbuds,BRDOOGU Bluetooth Headphones IPX5 Waterproof, 50H Cycle Play Time,Auto Pairing Wireless Earphones Bluetooth</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.49</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>25% off at $45.99</strong> with promo code: <strong>252Q1PCUS6A</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WEOBvT">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KeAVkm"><img src="https://m.media-amazon.com/images/I/51cPu5DFh4L._SR400,400_.jpg" alt="Dash Cam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KeAVkm">Dash Cam, Dashboard Camera for Cars 1080P Full HD 3" Car Camera with 140 Degrees Wide Angle G-Sensor Loop Recording Parking Monitor Night Vision</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>50% off at $49.99</strong> with promo code: <strong>50HAYQYB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KeAVkm">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="33.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MHRt6n"><img src="https://m.media-amazon.com/images/I/51HmOM+PQtL._SR400,400_.jpg" alt="GRC Bluetooth Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MHRt6n">GRC Bluetooth Wireless Earbuds 5.0 Headphones, 18H Playtime Stereo Deep Bass w/Mic, Sport Wireless Touch Control Earbuds with Charging Case Noise Cancelling</a></p>
    <div class="code_high">
      <address><span class="dis_price">$33.49</span><span class="ori_price">$66.99</span></address>
      <p><span>Take <strong>50% off at $66.99</strong> with promo code: <strong>50PYERJI</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MHRt6n">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IAcWsS"><img src="https://m.media-amazon.com/images/I/817RKCJwdnL._SR400,400_.jpg" alt="Owlee Aviary Wireless Bluetooth Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IAcWsS">Owlee Aviary Wireless Bluetooth Speaker Premium HD Surround Sound with Rich Extra Deep Bass Modern Design</a></p>
    <div class="code_high">
      <address><span class="dis_price">$119.99</span><span class="ori_price">$149.99</span></address>
      <p><span>Take <strong>20% off at $149.99</strong> with promo code: <strong>2078LZFC</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IAcWsS">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X3HJY3"><img src="https://m.media-amazon.com/images/I/71uX2g5BzvL._SR400,400_.jpg" alt="Owlee Scroll Premium Portable Bluetooth Wireless Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X3HJY3">Owlee Scroll Premium Portable Bluetooth Wireless Speaker With Unique Vintage Leather Scroll Design</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.99</span><span class="ori_price">$99.99</span></address>
      <p><span>Take <strong>40% off at $99.99</strong> with promo code: <strong>4042J4OW</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2X3HJY3">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KdCnnm"><img src="https://m.media-amazon.com/images/I/61fHRGP2MmL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KdCnnm">Active Noise Cancelling Bluetooth Headphones New Bee Wireless Over-Ear Hi-Fi Stereo Headset</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.99</span><span class="ori_price">$89.99</span></address>
      <p><span>Take <strong>50% off at $89.99</strong> with promo code: <strong>50DLUZCM</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KdCnnm">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MH71Y2"><img src="https://m.media-amazon.com/images/I/51NmRD3xGxL._SR400,400_.jpg" alt="BRIGHTWORLD Travel Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MH71Y2">BRIGHTWORLD Travel Adapter, All-in-one International Universal Plug with USB and Type C Charging Port Power Converter for Europe USA UK AU Asia Green</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>60% off at $19.99</strong> with promo code: <strong>60KXE4DO</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MH71Y2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="22.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IBfjM1"><img src="https://m.media-amazon.com/images/I/61J99Q6vYwL._SR400,400_.jpg" alt="JINDUN True Wireless Earbuds Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IBfjM1">JINDUN True Wireless Earbuds Bluetooth Headphones Waterproof Auto Pairing and Stable Connection Bluetooth Earphones with Mic and Charging Case</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.50</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>55% off at $49.99</strong> with promo code: <strong>55D7H1DZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IBfjM1">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="42.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDZ9YB"><img src="https://m.media-amazon.com/images/I/71xOSbtXzyL._SR400,400_.jpg" alt="Caregenia Activated Charcoal Teeth Whitening Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XDZ9YB">Caregenia Activated Charcoal Teeth Whitening Kit | Whiter Teeth in 2 Uses | Used by Celebrities | Vegan | No Sensitivity</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.49</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>15% off at $49.99</strong> with promo code: <strong>15ARANTXA</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XDZ9YB">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="15.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2F8oC5c"><img src="https://m.media-amazon.com/images/I/61JxpfcpOZL._SR400,400_.jpg" alt="Inflatable Shark Baby Floatie" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2F8oC5c">TRSCIND Baby Pool Float Swimming Floats Inflatable Shark Baby Floatie with Canopy for Infant Toddler Kid (6-36 Months)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.09</span><span class="ori_price">$21.55</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $21.55</strong> with promo code: <strong>30CJURRE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2F8oC5c">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XDZnip"><img src="https://m.media-amazon.com/images/I/61JZau4vJqL._SR400,400_.jpg" alt="LED Desk Lamp" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XDZnip">LED Desk Lamp丨Eye-Caring Table Lamps for Study with 3 Optional Modes, 9 Brightness Adjustment, Touch Panel, and Atmosphere Light for Reading</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>40% off at $29.99</strong> with promo code: <strong>40722DKF</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XDZnip">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="29.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X4PNbc"><img src="https://images-na.ssl-images-amazon.com/images/I/616Co%2BQIWBL._SX522_.jpg" alt="Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X4PNbc">Travel Laptop Backpack for Men & Women, ARUNGOR Anti Theft Carry on College School Backpack with Removable Packing Cubes...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.39</span><span class="ori_price">$48.99</span></address>
      <p><span>Take <strong>40% off at $48.99</strong> with promo code: <strong>40Y4Z2CA</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2X4PNbc">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="15.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XBPQrY"><img src="https://m.media-amazon.com/images/I/71aQuEwawzL._SR400,400_.jpg" alt="Summer Leather Strap Cork Sandal" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XBPQrY">Pinpochyaw Womens Mayari Sandals Summer Leather Strap Cork Sandal</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.59</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>40% off at $25.99</strong> with promo code: <strong>407P3424</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XBPQrY">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="4.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EZA1nN"><img src="https://m.media-amazon.com/images/I/61y4kl8CG0L._SR400,400_.jpg" alt="Aofmee Tub Drain Hair Catcher" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EZA1nN">Aofmee Tub Drain Hair Catcher, Upgraded Bathtub Shower Combo Drain Protector Hair Strainer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.40</span><span class="ori_price">$10.99</span>
       <div class="tooltip_red">
        <span>Double Discount</span>
        <div class="tooltip-content">
          <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
        </div>
       </div>
      </address>
      <p><span>Take <strong>60% off at $10.99</strong> with promo code: <strong>60W7USJY</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EZA1nN">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2X91ei1"><img src="https://m.media-amazon.com/images/I/81u3pFbSLuL._SR400,400_.jpg" alt="AncordWorks Portable Bluetooth Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2X91ei1">AncordWorks Portable Bluetooth Speaker Hi-Fi Sound Bass Enhance 20 Wattage IPX7 Water Resistant Floating Shelf Twenty Four Hour Playtime Perfect Wireless Speaker</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green">
        <span>Double Discount</span>
        <div class="tooltip-content">
          <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
        </div>
       </div>
      </address>
      <p><span>Take <strong>60% off at $39.99</strong> with promo code: <strong>60I4NK19</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2X91ei1">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="118.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kdhzwd"><img src="https://m.media-amazon.com/images/I/81rXqnYJNzL._SR400,400_.jpg" alt="rocabi 15 lbs Adult Weighted Blanket" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kdhzwd">rocabi 15 lbs Adult Weighted Blanket & Cover Luxury Set (60"x80") A Queen Size Heavy Weighted Comforter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$118.15</span><span class="ori_price">$139.00</span></address>
      <p><span>Take <strong>15% off at $139.00</strong> with promo code: <strong>15PCSAVE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Kdhzwd">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WxFxni"><img src="https://m.media-amazon.com/images/I/71OASJ+a2QL._SR400,400_.jpg" alt="WORKPRO Dual Drive Precision Screwdriver Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WxFxni">WORKPRO Dual Drive Precision Screwdriver Set with 2 Times Faster Than Standard Ratcheting Handles 12-Piece</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>70% off at $19.99</strong> with promo code: <strong>707LCN7K</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WxFxni">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kd7YFy"><img src="https://m.media-amazon.com/images/I/71gBF23vEKL._SR400,400_.jpg" alt="Car LED Strip Lights" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kd7YFy">Car LED Strip Lights for cars,48 LED Car Interior Lights 12V RGB Music Interior Car Atmosphere Neon Lights Under Dash Lighting Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span>
        <div class="tooltip_green">
        <span>Double Discount</span>
        <div class="tooltip-content">
          <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
        </div>
       </div>
      </address>
      <p><span>Take <strong>50% off at $14.99</strong> with promo code: <strong>50XVBG4Z</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Kd7YFy">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="7.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MHTm2X"><img src="https://m.media-amazon.com/images/I/71Weou6AXGL._SR400,400_.jpg" alt="Manfiter Detailing Brush Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MHTm2X">Manfiter Detailing Brush Set, Auto Detail Brush Set with a Car Wash Mitt for Car Motorcycle Automotive Cleaning Wheels, Dashboard, Interior...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.69</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>30% off at $10.99</strong> with promo code: <strong>30NLF5YP</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MHTm2X">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="31.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2F3KRJu"><img src="https://m.media-amazon.com/images/I/61Ly1Arw8rL._SR400,400_.jpg" alt="H7 Led Headlights Bulbs" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2F3KRJu">H7 Led Headlights Bulbs, SUPAREE K19 Single Beam Headlamp with Fan, 9600lm 6000K Cool White High Beam/Low Beam/Fog Light Bulb (2 Pack) -2 Year Warranty</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green">
        <span>Double Discount</span>
        <div class="tooltip-content">
          <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
        </div>
       </div>
      </address>
      <p><span>Take <strong>20% off at $39.99</strong> with promo code: <strong>20K190603</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2F3KRJu">Use Code</a>
  </div>
</div>

