<!-- <div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>
 -->

 <div class="card clearfix" data-score="30" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UwlG7f"><img src="https://m.media-amazon.com/images/I/61-L21xESmL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2UwlG7f">Bluetooth Headphones Speaker 2 in 1,DolTech Wireless Headphones Neckband Wearable Speaker Retractable... </a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $49.99</strong> using code:30GARDWAY</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2UwlG7f">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KZ520E"><img src="https://m.media-amazon.com/images/I/61vNJNOGJrL._SR400,400_.jpg" alt="Bluetooth Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2KZ520E">Bluetooth Earbuds, Xunpuls Bluetooth 5.0 Wireless Earbuds Auto PairingTWS Mini Wireless Earphones </a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $49.99</strong> using code:4013NAQ7</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KZ520E">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="12.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UvM6G8"><img src="https://m.media-amazon.com/images/I/51+1IqfUTZL._SR400,400_.jpg" alt="Digital Alarm Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2UvM6G8">WulaWindy Digital Alarm Clock Thermometer Large Display with LED Light Temperature Humidity </a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $12.96</strong> using code: 50XMCTZZ</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2UvM6G8">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="38.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GBMTjM"><img src="https://m.media-amazon.com/images/I/61UvMSJxHGL._SR400,400_.jpg" alt="Streaming Media Player Smart TV Box" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GBMTjM">Android TV Box 7.1, MECOOL 2GB RAM 16GB ROM Streaming Media Player Smart TV Box</a></p>
    <div class="code_high">
      <p><span>Take <strong>25% off at $38.97</strong> using code:25UEG63A</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GBMTjM">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IPUXjK"><img src="https://images-na.ssl-images-amazon.com/images/I/61AuX0ZrnmL._SX425_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IPUXjK">Invisible Laptop Stand Portable-RUCACIO Adhesive Laptop Kickstand Lightweight Stand Foldable...</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $13.99</strong> using code:50YJXUBC</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IPUXjK">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IOw8EZ"><img src="https://m.media-amazon.com/images/I/71P98oZdbUL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IOw8EZ">BESTEK 500W Power Inverter DC 12V to 110V AC Converter with 4.8A Dual USB Car Charger ETL Listed</a></p>
    <div class="code_high">
      <p><span>Take <strong>25% off at $39.99</strong> using code:25FTVV2M</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IOw8EZ">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Gx3027"><img src="https://m.media-amazon.com/images/I/61kqvQPDYeL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Gx3027">AirPods Silicone Red Case, OMWay AirPods Case for Women Girlfriend, AirPods Cover</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $8.99</strong> using code:508BN7SL</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Gx3027">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XFOR9P"><img src="https://m.media-amazon.com/images/I/41mYcjH67YL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XFOR9P">Bluetooth Headphones, XINBAOHONG Wireless Mini Sports Earphones in Ear Headset Built-in Microphone </a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $39.99</strong> using code:60CW45SO</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XFOR9P">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PsRJE1"><img src="https://m.media-amazon.com/images/I/51dfW9Mon2L._SR400,400_.jpg" alt="Wireless Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2PsRJE1">Wireless Headphones, Sports Headsets Sweatproof Earphones Hand-Free Earbuds Compatible</a></p>
    <div class="code_high">
      <p><span>Take <strong>80% off at $69.99</strong> using code:80HN8LL1</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2PsRJE1">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xyl6Yy"><img src="https://m.media-amazon.com/images/I/71DEAQcYJWL._SR400,400_.jpg" alt="Energy Drink" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Xyl6Yy">UPTIME – Premium Energy Drink, White Peach Lemonade - Cane Sugar, 12oz Bottles</a></p>
    <div class="code_high">
      <p><span>Take <strong>10% off at $59.99</strong> using code:10MISSNIKKI</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xyl6Yy">Copy & Use code</a>
  </div>
</div>


<div class="card clearfix" data-score="70" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IDXBdi"><img src="https://m.media-amazon.com/images/I/61xuAfqOVRL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IDXBdi">RayCue HDMI Adapter Compatible iPhone/iPad, HDMI Cable Adapter</a></p>
    <div class="code_high">
      <p><span>Take <strong>70% off at $39.99</strong> using code:70VZMZHY</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IDXBdi">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xylk1Q"><img src="https://m.media-amazon.com/images/I/71bY-s1r4GL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Xylk1Q">NEWYES LCD Writing Tablet 2019 Improved Robot Pad Colorful Screen 8.5 Inch Electronic Writing Board...</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $22.99</strong> using code:50AGB4IF</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xylk1Q">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="42.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DvRzHr"><img src="https://m.media-amazon.com/images/I/61h5z78KXeL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DvRzHr">MacBook pro Privacy Screen Protector,Habyby Anti-Spy Filter Magnetic Privacy Filter for MacBook Pro 13.3 inch</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $42.99</strong> using code:50KJ26NV</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DvRzHr">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GDWkkc"><img src="https://m.media-amazon.com/images/I/61J-G2JQfhL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GDWkkc">Android Adapter Converters, DEORNA Micro USB Charger Convert Connector</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $8.99</strong> using code:501LMU57</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GDWkkc">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GBYnFk"><img src="https://m.media-amazon.com/images/I/511rBgSuxsL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GBYnFk">SD TF Card Reader,USB to Lightning Adapter,4 in 1 Lightning Cable to USB Camera Adapter for iPhone and iPad, Plug and Play</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $17.99</strong> using code:50E6O4ZS</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GBYnFk">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DwPpan"><img src="https://m.media-amazon.com/images/I/61TPVgzj13L._SR400,400_.jpg" alt="Micro USB Cable" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DwPpan">Micro USB Cable, ICZI LG Micro USB Cable Samsung S7 Micro USB Cable 1ft 3ft 6ft 5 Pack</a></p>
    <div class="code_high">
      <p><span>Take <strong>70% off at $15.99</strong> using code:70A4DHX2</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DwPpan">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="35.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XJjV8P"><img src="https://m.media-amazon.com/images/I/61Eh+vsWZNL._SR400,400_.jpg" alt="Laptop Backpack Travel Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XJjV8P">Zicac Casual Daypacks Laptop Backpack Travel Backpack for Man and Women Water-Repellent Nylon with USB Charging Port </a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $35.99</strong> using code:50ZADPC7</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XJjV8P">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="279.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DvX8FT"><img src="https://m.media-amazon.com/images/I/51greCDejhL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DvX8FT">YSX K8 USB 2.0 Plug & Play Conference Camera for Small Meeting Room -Full 1080P 105° Wide Angle High Definition Video</a></p>
    <div class="code_high">
      <p><span>Take <strong>10% off at $279.40</strong> using code:10I198KB</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DvX8FT">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="65.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZuSpxy"><img src="https://m.media-amazon.com/images/I/81iGa1j7EDL._SR400,400_.jpg" alt="Monitor Desk Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2ZuSpxy">MtKotW Dual Arm Monitor Stand - Height Adjustable Full Motion Mechanical Spring Monitor Desk Mount </a></p>
    <div class="code_high">
      <p><span>Take <strong>10% off at $65.99</strong> using code:10Z5KBDF</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZuSpxy">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IEXQEE"><img src="https://m.media-amazon.com/images/I/51MLaZCblaL._SR400,400_.jpg" alt="Smart Plug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IEXQEE">Wi-Fi Router Reset, Smart Plug Auto Monitor and Restart Wi-Fi Router/Modem/Access Points if Wi-Fi Fails, Auto Power Cycler</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $20.99</strong> using code:50OUNUVE</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IEXQEE">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="5" data-price="899.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XJkMX5"><img src="https://m.media-amazon.com/images/I/81ea5bekOoL._SR400,400_.jpg" alt="Desktop Gaming PC" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>5% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XJkMX5">iBUYPOWER Elite Slate2 080i Desktop Gaming PC - Intel i5-9400F 2.9GHz, NVIDIA GeForce GTX 1060 3GB...</a></p>
    <div class="code_high">
      <p><span>Take <strong>5% off at $899.99</strong> using code:5IBUYFIVE</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XJkMX5">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://images-na.ssl-images-amazon.com/images/I/61FILuGmCfL._SX679_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="product_link">Glamore Travel Umbrella, Compact Travel Umbrella Windproof Travel Umbrella</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $17.99</strong> using code:607TPABC</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Dvh9MO"><img src="https://m.media-amazon.com/images/I/81MwDpCUMFL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Dvh9MO">Veckle Umbrella, Safety Auto Open/Close Compact Umbrella Windproof Umbrella...</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $23.99</strong> using code:40EFM2I9</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Dvh9MO">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DwJ92t"><img src="https://m.media-amazon.com/images/I/51MASA7kb2L._SR400,400_.jpg" alt="Umbrella" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DwJ92t">HIPPIH Double Layer Inverted Umbrella, Anti-UV Waterproof Windproof Straight Umbrella for Car Rain Outdoor Use</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $16.99</strong> using code:40PKOOI4</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DwJ92t">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KYyaFa"><img src="https://m.media-amazon.com/images/I/61tsIHn17dL._SR400,400_.jpg" alt="Lighting" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2KYyaFa">USB Rechargeable Waterproof Headlight Provide 1600 Lumens with 4 Lighting Modes...</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $23.99</strong> using code:40TJAVQK</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KYyaFa">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DGPrNd"><img src="https://m.media-amazon.com/images/I/5160hu0J4HL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DGPrNd">OKELA Silicone Wedding Rings, Premium Medical Grade Silicone Wedding Bands</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $9.99</strong> using code:50EAFLX2</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DGPrNd">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZvaV8V"><img src="https://m.media-amazon.com/images/I/616QAZ++vIL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2ZvaV8V">Hausbell Hand Grip Hand Strengtheners Hand Grip Strength Trainer, 30-145 Lbs Finger Exerciser Adjustable Resistance, Forearm Grip</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $11.99</strong> using code:402EV4B3</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZvaV8V">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DqbEyP"><img src="https://m.media-amazon.com/images/I/71LrdYC4QQL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DqbEyP">FUUNSOO Hip Resistance Bands for Legs and Butt Exercise Bands Thigh Workout Bands Fitness Circle Booty Loop Bands...</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $19.99</strong> using code:40ODPL2E</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DqbEyP">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vpp0FM"><img src="https://m.media-amazon.com/images/I/51DsghRTDOL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Vpp0FM">TOMSHOO 10L/20L Waterproof Dry Bag Roll Top Dry Sack Gear Storage Bag with Adjustable Shoulder Straps</a></p>
    <div class="code_high">
      <p><span>Take <strong>45% off at $23.99</strong> using code:45L1GOG4</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Vpp0FM">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="15.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XEbGuA"><img src="https://m.media-amazon.com/images/I/71aAZT39QyL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XEbGuA">Running Belt Multifunctional Zipper Pockets Water Resistant Waist Bag</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $15.60</strong> using code:50VTDE42</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XEbGuA">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DrFG51"><img src="https://m.media-amazon.com/images/I/71GXCPC+MNL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DrFG51">Bluetooth in-Car Speakerphone Wireless Hands-Free Speaker Motion AUTO Power ON Car Kits...</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $29.99</strong> using code:607FHJWX</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DrFG51">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DsY7q8"><img src="https://m.media-amazon.com/images/I/61s3GoiufAL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DsY7q8">SYOSIN Charging Stand, Silicone 4 in 1 Charging Dock Holder Compatible</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $16.99</strong> using code:50YK2P3R</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DsY7q8">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VmtRaz"><img src="https://m.media-amazon.com/images/I/714tVOJ9iHL._SR400,400_.jpg" alt="Car Charger Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2VmtRaz">Wireless Car Charger Mount, FLOVEME Air Vent Automatic Clamping Wireless Car Charger Mount Holder</a></p>
    <div class="code_high">
      <p><span>Take <strong>70% off at $39.99</strong> using code:705DBPEP</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VmtRaz">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="64.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L2aShB"><img src="https://m.media-amazon.com/images/I/61kFfOraqfL._SR400,400_.jpg" alt="Bluetooth Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2L2aShB">Bluetooth Earbuds,FOCUSPOWER-F16 Bluetooth 5.0 True Wireless Earbuds with Charging Case</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $64.84</strong> using code:40BPIL1B</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2L2aShB">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="26.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WbLbfu"><img src="https://m.media-amazon.com/images/I/61HFjcOOVEL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2WbLbfu">Bluetooth Headphones DolTech Retractable Earbuds Neckband Wireless Headset</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $26.95</strong> using code:50YXKH4N</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WbLbfu">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XHhGCD"><img src="https://m.media-amazon.com/images/I/51gKkuYNA3L._SR400,400_.jpg" alt="Bluetooth Earphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XHhGCD">SoundPEATS Bluetooth Earphones, Wireless 4.1 Magnetic Earphones, in-Ear IPX6 Sweatproof Headphones with Mic </a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $19.99</strong> using code:30ZSFPI4</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XHhGCD">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zvd0lf"><img src="https://m.media-amazon.com/images/I/611V2cithVL._SR400,400_.jpg" alt="Car Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Zvd0lf">Car Mount, Glamore Car Phone Mount Car Phone Holder for Car Magnetic Mount</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $13.99</strong> using code:50EBXPMA</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Zvd0lf">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L0qD8N"><img src="https://m.media-amazon.com/images/I/81tsByM3RbL._SR400,400_.jpg" alt="Water Proof Dry Beach Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2L0qD8N">4 Pack Veckle Floating Waterproof Cell Phone Pouch Universal TPU Clear Water Proof Dry Beach Bag</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $12.99</strong> using code:30GANPNT</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2L0qD8N">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XH1e5I"><img src="https://m.media-amazon.com/images/I/61-cvklUcZL._SR400,400_.jpg" alt="Car Phone Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XH1e5I">licheers Car Phone Mount Universal Car Phone Holder Windshield Dashboard Phone Cradle Bracket</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $10.99</strong> using code:40943T76</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XH1e5I">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="29.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZxQgRM"><img src="https://m.media-amazon.com/images/I/61EMsV8qKJL._SR400,400_.jpg" alt="Car Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2ZxQgRM">Wireless Car Charger,Steanum Car Fast Wireless Charger Car Mount Air Vent Phone Holder...</a></p>
    <div class="code_high">
      <p><span>Take <strong>70% off at $29.98</strong> using code:70J7ON4Y</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZxQgRM">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DxKp5g"><img src="https://m.media-amazon.com/images/I/718kQf-5CkL._SR400,400_.jpg" alt="Wireless Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DxKp5g">ABOX Qi Wireless Charger for iPhone & Samsung, Fast Wireless Charging Pad Stand</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $22.99</strong> using code:50ABOX0028</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DxKp5g">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="11.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XyzWOC"><img src="https://m.media-amazon.com/images/I/71Kk+bPX5jL._SR400,400_.jpg" alt="Cell Phone Armband" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XyzWOC">SUNITRA Cell Phone Armband for iPhone X 6/6s Plus 7/7 Plus 8/8Plus, Waterproof Fabric Access Your Touch Screen...</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $11.90</strong> using code:50CTBRF1</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XyzWOC">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="6.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XCbFqX"><img src="https://m.media-amazon.com/images/I/51wJJFym9wL._SR400,400_.jpg" alt="Hair Scalp Massager" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XCbFqX">Hair Scalp Massager, Scalp Care Shampoo Brush Body Washing Massager Silicone Comb</a></p>
    <div class="code_high">
      <p><span>Take <strong>70% off at $6.98</strong> using code:70B7MRF5</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XCbFqX">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vocarc"><img src="https://m.media-amazon.com/images/I/61OC0yjp8YL._SR400,400_.jpg" alt="Cleansing Brush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Vocarc">MS.DEAR Sonic Facial Cleansing Brush, Cleanser & Massager Silicon Vibrating Waterproof Facial Cleansing</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $19.99</strong> using code:305VM39K</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Vocarc">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GEHTw9"><img src="https://m.media-amazon.com/images/I/61Hcu4IdIuL._SR400,400_.jpg" alt="Body Brush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GEHTw9">Natural Boar Bristle Body Brush & Face Brush Set for Dry Brushing, Bath and Shower </a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $24.99</strong> using code:60VW6PFA</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GEHTw9">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="29.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GDWx6L"><img src="https://m.media-amazon.com/images/I/61p79CkztSL._SR400,400_.jpg" alt="Blackhead Remover" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GDWx6L">Blackhead Remover, Xpreen Pore Vacuum Facial Pore Cleaner Electric Blackhead Extractor Kit</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $29.96</strong> using code:303STCXN</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GDWx6L">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DxQeQc"><img src="https://m.media-amazon.com/images/I/71q8Wy+2FxL._SR400,400_.jpg" alt="Car Headlight Bulbs" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DxQeQc">Ylife H4 9003 LED Car Headlight Bulbs, 9600LM 6000K Head Lights with CREE XHP50 LED Chip</a></p>
    <div class="code_high">
      <p><span>Take <strong>35% off at $39.99</strong> using code:353NP7I3</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DxQeQc">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="39.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XCdT9N"><img src="https://m.media-amazon.com/images/I/71hdU4pEDRL._SR400,400_.jpg" alt="Electric Portable Air Compressor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XCdT9N">AUTLEAD Tire Inflator, 12V Electric Portable Air Compressor - Auto Tire Pump 120PSI with Digital Gauge</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $39.97</strong> using code:20VLP9OZ3C</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XCdT9N">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="67.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DsaMJN"><img src="https://m.media-amazon.com/images/I/61ZJsBtGl-L._SR400,400_.jpg" alt="Adjustable Lift" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DsaMJN">YITAMOTOR Red/Black Dirt Bike Motorcycle Motocross Maintenace Adjustable Lift Steel Stand</a></p>
    <div class="code_high">
      <p><span>Take <strong>15% off at $67.95</strong> using code:156W48CG</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DsaMJN">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DsckDB"><img src="https://m.media-amazon.com/images/I/61GgReUdlvL._SR400,400_.jpg" alt="Car Shackles" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DsckDB">YITAMOTOR Shackles 3/4" D Ring Shackle with Black Isolator Washer</a></p>
    <div class="code_high">
      <p><span>Take <strong>15% off at $24.99</strong> using code:15I7WAHX</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DsckDB">Copy & Use code</a>
  </div>
</div>

