<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://m.media-amazon.com/images/I/71W3N3ZIiTL._SR400,400_.jpg" alt="Gaming Headset" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Gaming Headset with Microphone for All-Platform, PC, Playstation 4, Nintendo Switch, VR, Android and iOS - Red</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">60LJ62UR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $29.99</strong> with promo code: <strong class="m_codes">60LJ62UR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="20.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hk6l5Q"><img src="https://m.media-amazon.com/images/I/61IasMuCtoL._SR400,400_.jpg" alt="HIFUAR Women's Espadrille Sandal" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hk6l5Q">HIFUAR Women's Espadrille Sandal Platform Wedge Halter Ankle Strap Open Toe Faux Leather Studded Wedge Summer Sandals</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.29</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">30U9ODSK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $28.99</strong> with promo code: <strong class="m_codes">30U9ODSK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Hk6l5Q">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="32.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KRLDN2"><img src="https://m.media-amazon.com/images/I/71K9pfXlMtL._SR400,400_.jpg" alt="COOAU Dash Cam" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KRLDN2">COOAU Dash Cam 1080P Full HD Night Vision in Car Dashboard Camera 3" LCD DVR Dashcam with 170°Wide Angle Parking...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$32.00</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">60TASJZ9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $79.99</strong> with promo code: <strong class="m_codes">60TASJZ9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KRLDN2">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="6.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zm6eNx"><img src="https://m.media-amazon.com/images/I/61ElCQujfkL._SR400,400_.jpg" alt="MaxKare Digital Nutrition Food Scale" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zm6eNx">MaxKare Digital Nutrition Food Scale with Tempered Glass and Portions Nutritional Facts Display, Kitchen Scale with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.90</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">70OVAM61</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $22.99</strong> with promo code: <strong class="m_codes">70OVAM61</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zm6eNx">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="80" data-price="9.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HmSA6F"><img src="https://m.media-amazon.com/images/I/51ZYk-Ej7OL._SR400,400_.jpg" alt="Nakd Lash Eyelash Growth serum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HmSA6F">Nakd Lash Eyelash Growth serum- 5ml ADVANCED Lash & Brow enhancing Serum for Longer Lashes and Fuller Eyebrows </a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.60</span><span class="ori_price">$48.00</span></address>
      <textarea readonly="readonly" class="code_area">807F7ZIC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $48.00</strong> with promo code: <strong class="m_codes">807F7ZIC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HmSA6F">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="15.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33VVSqO"><img src="https://m.media-amazon.com/images/I/81BenUfAPAL._SR400,400_.jpg" alt="BAGSMART Electronic Organizer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33VVSqO">BAGSMART Electronic Organizer Double-Layer Travel Cable Organizer Electronics Accessories Cases for Cables, iPhone, Kindle, Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.59</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">40BM0069</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $25.99</strong> with promo code: <strong class="m_codes">40BM0069</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33VVSqO">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z9qCpL"><img src="https://m.media-amazon.com/images/I/81I-KXq6VCL._SR400,400_.jpg" alt="Naipo Leg Air Massager" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z9qCpL">Naipo Leg Air Massager for Circulation Massage Foot and Calf Electric Sequential Compression Wraps with 3 Intensities 2 Modes </a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.99</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">40PYYTQ7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $79.99</strong> with promo code: <strong class="m_codes">40PYYTQ7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 23, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z9qCpL">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="36.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KO9Ljq"><img src="https://m.media-amazon.com/images/I/71YD8QA4OXL._SR400,400_.jpg" alt="KingCamp Zero Gravity Patio Lounge Chair" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KO9Ljq">KingCamp Zero Gravity Patio Lounge Chair Recliner Oversized XL Padded Free-Adjustment Heavy Duty Square Legs...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.00</span><span class="ori_price">$89.99</span></address>
      <textarea readonly="readonly" class="code_area">60WPLZZV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $89.99</strong> with promo code: <strong class="m_codes">60WPLZZV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KO9Ljq">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZnDkQW"><img src="https://m.media-amazon.com/images/I/71u8GQj2PoL._SR400,400_.jpg" alt="(Upgraded Version) Bluetooth FM Transmitter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZnDkQW">(Upgraded Version) Bluetooth FM Transmitter, Sumind Wireless Radio Adapter Hands-Free Car Kit with 1.7 Inch Display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50EZO2SU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">50EZO2SU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZnDkQW">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HlPKPb"><img src="https://m.media-amazon.com/images/I/71zt1yRYk0L._SR400,400_.jpg" alt="Car Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HlPKPb">Car Mount, Glamore Car Phone Mount Car Phone Holder for Car Magnetic Phone Car Mount for iPhone Xs Max XR X 8 7 Plus 6S 6,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">50TL7PH8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">50TL7PH8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 29, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HlPKPb">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="21.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31XX3UW"><img src="https://m.media-amazon.com/images/I/71KO8cQNTnL._SR400,400_.jpg" alt="Game Controller" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31XX3UW">Game Controller, MAD GIGA Wireless Game Controller Bluetooth Gamepad Remote for PC (Windows XP/7/8/8.1/10), ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.59</span><span class="ori_price">$26.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
       <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20ON75BP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $26.99</strong> with promo code: <strong class="m_codes">20ON75BP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31XX3UW">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="35.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KOWKpW"><img src="https://m.media-amazon.com/images/I/61Z4mc5NCBL._SR400,400_.jpg" alt="Active Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KOWKpW">Active Noise Cancelling Headphones, Siroflo S11 Plus Wireless Headset, Bluetooth Wired ANC Noise Cancelling Over Ear...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.47</span><span class="ori_price">$59.11</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40JRBY4N</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $59.11</strong> with promo code: <strong class="m_codes">40JRBY4N</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KOWKpW">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="22.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TWJjaa"><img src="https://m.media-amazon.com/images/I/61VDvExXaAL._SR400,400_.jpg" alt="Homeme Portable Super Bright Camping Lantern" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TWJjaa">Homeme Portable Super Bright Camping Lantern, Water Resistant USB Rechargeable Batteries Operated Emergency ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.19</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">40CYSOOQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $36.99</strong> with promo code: <strong class="m_codes">40CYSOOQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2TWJjaa">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="14.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZrwndS"><img src="https://m.media-amazon.com/images/I/71SmnjuYHGL._SR400,400_.jpg" alt="Tuko Kids Adjustable Inline Skates" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZrwndS">Tuko Kids Adjustable Inline Skates for Boys/Girls Roller Skates Illuminating Wheels Blades Patines para Niños</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.80</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">60PDY67H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $36.99</strong> with promo code: <strong class="m_codes">60PDY67H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZrwndS">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3241qy5"><img src="https://m.media-amazon.com/images/I/61k+z3V8uHL._SR400,400_.jpg" alt="Large Weekender Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3241qy5">Large Weekender Bag for Women Ladies Men Travel Duffle Overnight Bags with Shoe Compartment</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">300WOOINHOME</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $39.99</strong> with promo code: <strong class="m_codes">300WOOINHOME</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3241qy5">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="65" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31VU6Ev"><img src="https://m.media-amazon.com/images/I/51doZUK84kL._SR400,400_.jpg" alt="WiFi Endoscope" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31VU6Ev">WiFi Endoscope, AQV Wireless Borescope Inspection Camera 2.0 Megapixels HD Waterproof Snake Camera with 6 Adjustable LED Light...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$39.98</span></address>
      <textarea readonly="readonly" class="code_area">65SOV8WB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $39.98</strong> with promo code: <strong class="m_codes">65SOV8WB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31VU6Ev">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="25.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zdvg5Y"><img src="https://m.media-amazon.com/images/I/51MyIYsOFqL._SR400,400_.jpg" alt="INQMEGA FHD 1080P WiFi Home IP Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zdvg5Y">INQMEGA FHD 1080P WiFi Home IP Camera, Indoor Pan/Tilt 2.4Ghz Wireless Security Camera,Nanny cam with Auto Tracking,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.89</span><span class="ori_price">$36.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30IMK45Y</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $36.99</strong> with promo code: <strong class="m_codes">30IMK45Y</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zdvg5Y">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZqkGnL"><img src="https://m.media-amazon.com/images/I/61xPWdPGLRL._SR400,400_.jpg" alt="SHINEFUTURE Handheld Vacuum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZqkGnL">SHINEFUTURE Handheld Vacuum Cordless Vacuum Cleaner Rechargeable DC 12V Car Vacuum Cleaner High Power Potable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">55Q9CHX6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $39.99</strong> with promo code: <strong class="m_codes">55Q9CHX6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZqkGnL">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2La4hPc"><img src="https://m.media-amazon.com/images/I/71fd6LNylRL._SR400,400_.jpg" alt="Toaster 2 Slice AICOK Extra-Wide Slots Stainless Steel Toasters" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2La4hPc">Toaster 2 Slice AICOK Extra-Wide Slots Stainless Steel Toasters with Bagel Defrost Cancel Function, 7 Toast Shade Level,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">506YUZLF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">506YUZLF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2La4hPc">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="28.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hni57C"><img src="https://m.media-amazon.com/images/I/61eM76uaCmL._SR400,400_.jpg" alt="Electric Milk Frother" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hni57C">Electric Milk Frother, Keenstone Automatic Milk Steamer Coffee Frother Hot or Cold Milk Froth with Silent Operation...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.79</span><span class="ori_price">$35.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20BUYDC7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $35.99</strong> with promo code: <strong class="m_codes">20BUYDC7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Hni57C">Use Code at Amazon</a></div>
</div>
 
