<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div> -->

<!-- 
<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Amazon Deal Of The Day: Deal_Of_The_Day_Title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
             <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>
        
        <li><a href="product_link">- SEE MORE</a></li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div> -->

<!-- 
<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Product_title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div> -->

<!-- 
<div class="tooltip_orange">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount width coupon</p>
  </div>
</div> 
-->


<div class="card clearfix" data-score="46" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kneqdm"><img src="https://images-na.ssl-images-amazon.com/images/I/51PCNITGywL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>Up to 46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kneqdm">Amazon Deal Of The Day: Save 46% on Enameled Cast Iron Cookware from Cuisinart</a></p>

    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a href="https://amzn.to/2XkjJQO">Cuisinart 7 Quart Oval Casserole, Red Gradient</a> - <span>69.99<em>129.99</em></span></li>
            <li><a href="https://amzn.to/31Gy35B">Cuisinart Oval Casserole, Gradient Blue, 7 Qt</a> - <span>69.99<em>129.99</em></span></li>
            <li><a href="https://amzn.to/2XqSsfH">CUISINART Chicken Fryer, Teal Gradient, 12"</a> - <span>69.99<em>129.99</em></span></li>
            <li><a href="https://amzn.to/2Kneqdm">- SEE MORE</a></li>
          </ul>
        </li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Kneqdm">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="69" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WMA7oA"><img src="https://images-na.ssl-images-amazon.com/images/I/91PiBVtnQ1L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>Up to 69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WMA7oA">Amazon Deal Of The Day: Save Up to 69% or more on office products</a></p>

    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a href="https://amzn.to/2MRICPS">Safco Products 6240BL Onyx Mesh Fold-Up Shelving</a> - <span>71.80<em>89.75</em></span></li>
            <li><a href="https://amzn.to/2ILhFI9">Smead Hanging File Folder with Tab,</a> - <span>11.15<em>28.99</em></span></li>
            <li><a href="https://amzn.to/2KlKNsy">Xerox Phaser 3260/DNI Monchrome Laser Printer</a> - <span>65.00<em>209.00</em></span></li>
            <li><a href="https://amzn.to/2IMRwc5">Optoma 3D DLP Ultra Short Throw Projector</a> - <span>789.99<em>1,039.00</em></span></li>
            <li><a href="https://amzn.to/2WMA7oA">- SEE MORE</a></li>
          </ul>
        </li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WMA7oA">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="32" data-price="374.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RpKIVK"><img src="https://images-na.ssl-images-amazon.com/images/I/61UYEl6lfKL._SX679_.jpg" alt="Apple iPhone 8" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RpKIVK">Apple iPhone 8, GSM Unlocked, 64GB - Space Gray (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$374.97</span><span class="ori_price">$549.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RpKIVK">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="23" data-price="424.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MSzJFL"><img src="https://images-na.ssl-images-amazon.com/images/I/61UYEl6lfKL._SX679_.jpg" alt="Apple iPhone 8" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MSzJFL">Apple iPhone 8, GSM Unlocked, 256GB - Space Gray (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$424.99</span><span class="ori_price">$549.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MSzJFL">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31zCOh4"><img src="https://images-na.ssl-images-amazon.com/images/I/814FpOkPFiL._SX679_.jpg" alt="Hamilton Beach 22816 Slice Toaster" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31zCOh4">Hamilton Beach 22816 Slice Toaster with Keep Warm, Bagel, Defrost Settings, Silver with Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31zCOh4">Shop Now at Amazon</a>
  </div>
</div>


<div class="card clearfix" data-score="15" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WLsr6f"><img src="https://images-na.ssl-images-amazon.com/images/I/81O4dzeNndL._SX522_.jpg" alt="Ink Bottle for Fountain Pens" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WLsr6f">Waterman 1.7 oz Ink Bottle for Fountain Pens, Serenity Blue (S0110720</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.59</span><span class="ori_price">$11.29</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WLsr6f">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="26" data-price="47.68">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xgqov7"><img src="https://images-na.ssl-images-amazon.com/images/I/61IsXQATTML._SX522_.jpg" alt="GLO Pop 10 Pack Teeth Whitening Gel" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xgqov7">GLO Pop 10 Pack Teeth Whitening Gel Treatment Kit for Fast, Pain-Free, Long Lasting Results. Clinically Proven. Includes 10 GLO Vials Plus Lip Care</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$47.68</span><span class="ori_price">$64.84</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xgqov7">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="11" data-price="3,998.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XkoyJU"><img src="https://images-na.ssl-images-amazon.com/images/I/81EPkBHmNBL._SL1500_.jpg" alt="Sony HD Smart LED TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XkoyJU">Sony XBR85X900F 85-Inch 4K Ultra HD Smart LED TV</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3,998.00</span><span class="ori_price">$4,498.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XkoyJU">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="1,047.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31E4ZLF"><img src="https://images-na.ssl-images-amazon.com/images/I/918xc0BpEpL._SX679_.jpg" alt="Samsung Smart TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31E4ZLF">Samsung UN65RU8000FXZA FLAT 65'' 4K UHD 8 Series Smart TV (2019)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,047.99</span><span class="ori_price">$1,397.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31E4ZLF">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="48" data-price="259.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RgACpS"><img src="https://images-na.ssl-images-amazon.com/images/I/91RWvX7RWqL._SX679_.jpg" alt="TCL Smart TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RgACpS">TCL 43S517 43-Inch 4K Ultra HD Roku Smart LED TV (2018 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$259.99</span><span class="ori_price">$499.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RgACpS">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="42" data-price="23.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xq7K4k"><img src="https://images-na.ssl-images-amazon.com/images/I/71WLW2dxH3L._SX679_.jpg" alt="Cook N Home 02474 Nonstick Stockpot" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xq7K4k">Cook N Home 02474 Nonstick Stockpot, 10.5 Quart, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.22</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xq7K4k">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="13" data-price="26.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fe6nLM"><img src="https://images-na.ssl-images-amazon.com/images/I/71cnf5IF%2B4L._SX679_.jpg" alt="Maytag Speed Heat Steam Iron" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fe6nLM">Maytag Speed Heat Steam Iron & Vertical Steamer with with Stainless Steel Sole Plate, Self Cleaning Function + Thermostat Dial, M200 Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.00</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Fe6nLM">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="41.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fe7mvs"><img src="https://images-na.ssl-images-amazon.com/images/I/51fnkt4ZgnL._SX679_.jpg" alt="Yaheetech Hall Tree Metal Entryway 18 Hooks Coat Rack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fe7mvs">Yaheetech Hall Tree Metal Entryway 18 Hooks Coat Rack with 3-Tier Shoe Rack Bench Hat Umbrella Stand (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$41.99</span><span class="ori_price">$59.99</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Fe7mvs">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="11" data-price="24.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31vbb8O"><img src="https://images-na.ssl-images-amazon.com/images/I/71ydC2CU7yL._SX679_.jpg" alt="LED Light Bar Nilight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31vbb8O">LED Light Bar Nilight 4PCS 18W 1260lm Spot led pods Driving Fog Light Off Road Lights Bar Jeep Lamp,2 years Warranty</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.91</span><span class="ori_price">$28.01</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31vbb8O">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="23" data-price="269.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Fqxe7t"><img src="https://images-na.ssl-images-amazon.com/images/I/81ReMZPkFAL._SX466_.jpg" alt="hOmeLabs Beverage Refrigerator" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Fqxe7t">hOmeLabs Beverage Refrigerator and Cooler - 120 Can Mini Fridge with Glass Door for Soda Beer or Wine - Small Drink Dispenser Machine</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$269.99</span><span class="ori_price">$349.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Fqxe7t">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="46" data-price="21.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rnz5hV"><img src="https://images-na.ssl-images-amazon.com/images/I/71DiEmvEPZL._SX466_.jpg" alt="VTech DM221 Audio Baby Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rnz5hV">VTech DM221 Audio Baby Monitor with up to 1,000 ft of Range, Vibrating Sound-Alert, Talk Back Intercom & Night Light Loop</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.39</span><span class="ori_price">$39.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Rnz5hV">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="23" data-price="419.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KmPGBY"><img src="https://images-na.ssl-images-amazon.com/images/I/71iDLZWkIBL._SX679_.jpg" alt="FirstBuild Opal01 Opal Countertop Nugget Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KmPGBY">FirstBuild Opal01 Opal Countertop Nugget Maker, 24lbs of Soft, Chewable Per Day-aka “The Good Ice”, 1-(Pack), Stainless Steel Wrap with Black Accents</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$419.99</span><span class="ori_price">$549.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KmPGBY">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="1,299.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KnNnhM"><img src="https://images-na.ssl-images-amazon.com/images/I/71UQbtx3kxL._SX679_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KnNnhM">PRIMST Refrigerator Coffee Table, Elegant White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,299.00</span><span class="ori_price">$1,999.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KnNnhM">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="38" data-price="22.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MOkMEq"><img src="https://images-na.ssl-images-amazon.com/images/I/81I1c0NHOzL._SY445_.jpg" alt="Multiuse Skincare Oil" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MOkMEq">Bio-Oil 200ml: Multiuse Skincare Oil (6.7oz)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.49</span><span class="ori_price">$36.06</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MOkMEq">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="17" data-price="9.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WLuCqr"><img src="https://images-na.ssl-images-amazon.com/images/I/510bx8duR5L._SX522_.jpg" alt="Revlon Hair Dryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WLuCqr">Revlon 1875W Compact & Lightweight Hair Dryer, Black </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.94</span><span class="ori_price">$11.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WLuCqr">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="13" data-price="43.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FdmXeu"><img src="https://images-na.ssl-images-amazon.com/images/I/41HCPAjLYlL._SY445_.jpg" alt="Kiss products Ceramic Instawave" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FdmXeu">Kiss products Ceramic Instawave 1” Automatic Curling Iron</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$43.46</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2FdmXeu">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FfbR8Z"><img src="https://m.media-amazon.com/images/I/51lSZZf-1UL._AC_UL320_.jpg" alt="New Super Mario Bros. U Deluxe" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FfbR8Z">New Super Mario Bros. U Deluxe - Nintendo Switch by Nintendo</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2FfbR8Z">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="52" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N6Rbqb"><img src="https://images-na.ssl-images-amazon.com/images/I/61KoCeqFKvL._SX679_.jpg" alt="Intex Swim Center Inflatable Family Lounge Pool" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N6Rbqb">Intex Swim Center Inflatable Family Lounge Pool, 88in X 85in X 30in, for Ages 3+</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2N6Rbqb">Shop Now at Amazon</a>
  </div>
</div>
