<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZwbKwM"><img src="https://m.media-amazon.com/images/I/513x9Wr-chL._SR400,400_.jpg" alt="Vitafit 10kg Digital Kitchen Food Scale" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZwbKwM">Vitafit 10kg Digital Kitchen Food Scale, Electronic Weighing Cooking Scale with Tempered Glass Platform and Bright LED Display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30A764MP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $12.99</strong> with promo code: <strong class="m_codes">30A764MP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZwbKwM">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="13.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MJBmEG"><img src="https://m.media-amazon.com/images/I/71h0SfvWg5L._SR400,400_.jpg" alt="Star Coffee Container Airtight Coffee Storage" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MJBmEG">Star Coffee Container Airtight Coffee Storage - Stainless Steel Canister with Scoop for Beans and Ground Coffee, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.01</span><span class="ori_price">$28.90</span></address>
      <textarea readonly="readonly" class="code_area">559IMG8Y</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $28.90</strong> with promo code: <strong class="m_codes">559IMG8Y</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 02, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MJBmEG">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZwS9Nb"><img src="https://m.media-amazon.com/images/I/6131Zw78TqL._SR400,400_.jpg" alt="Juicer Wide Mouth Juice Extractor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZwS9Nb">Juicer Wide Mouth Juice Extractor, FOCHEA Juicer Machine,3 Speed Centrifugal Juice For Fruits & Vegetable with Anti-drip Function,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">30WRH7PA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $49.99</strong> with promo code: <strong class="m_codes">30WRH7PA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZwS9Nb">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/348ayTR"><img src="https://m.media-amazon.com/images/I/71IqLhR+X0L._SR400,400_.jpg" alt="Chef Knife, OOU Pro Kitchen Knife 7 Inch Chef’s Knife" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/348ayTR">Chef Knife, OOU Pro Kitchen Knife 7 Inch Chef’s Knife, High Carbon Stainless Steel Chef Knife with Ergonomic Handle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">608SVXGB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $29.99</strong> with promo code: <strong class="m_codes">608SVXGB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 06:00 AM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/348ayTR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZuWL6C"><img src="https://m.media-amazon.com/images/I/71C2OYTwB-L._SR400,400_.jpg" alt="AICOOK Blender for Shakes and Smoothies" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZuWL6C">AICOOK Blender for Shakes and Smoothies, 15-Piece High Speed Smoothie Blender/Mixer for Ice Crushing Frozen Fruits, Hardcover...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.99</span><span class="ori_price">$74.99</span></address>
      <textarea readonly="readonly" class="code_area">40D8ENPY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $74.99</strong> with promo code: <strong class="m_codes">40D8ENPY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZuWL6C">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="40.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HtXBKE"><img src="https://m.media-amazon.com/images/I/613LVFqkTRL._SR400,400_.jpg" alt="Waterproof Immersion Circulator Cooker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HtXBKE">Sous Vide Cooker,Banne 800W 110V Precise Digital Timer Manual Controlled IPX7 Waterproof Immersion Circulator Cooker with Cookbook</a></p>
    <div class="code_high">
      <address><span class="dis_price">$40.00</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">602HP2VC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $99.99</strong> with promo code: <strong class="m_codes">602HP2VC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HtXBKE">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MGkXRq"><img src="https://m.media-amazon.com/images/I/61ZNGDf5uaL._SR400,400_.jpg" alt="Milk Frother" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MGkXRq">Milk Frother, Electric Milk Steamer for Making Latte, Cappuccino, Hot Chocolate, Automatic Foam Maker Cold Hot Milk Warmer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50H3ASIQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50H3ASIQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MGkXRq">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="25.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hw1oXG"><img src="https://m.media-amazon.com/images/I/61eM76uaCmL._SR400,400_.jpg" alt="Electric Milk Frother" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hw1oXG">Electric Milk Frother, Keenstone Automatic Milk Steamer Coffee Frother Hot or Cold Milk Froth with Silent Operation for Latte,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.19</span><span class="ori_price">$35.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30TSWV5D</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $35.99</strong> with promo code: <strong class="m_codes">30TSWV5D</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Hw1oXG">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZA1Dv8"><img src="https://m.media-amazon.com/images/I/71WWJjpWI4L._SR400,400_.jpg" alt="BOTTLED JOY Water Jug 75oz Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZA1Dv8">BOTTLED JOY Water Jug 75oz Water Bottle 2.2L Large Water Bottle Clear Water Bottle with 20pcs Ice Cubes and Fruit Infuser...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">503HQ3JJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.99</strong> with promo code: <strong class="m_codes">503HQ3JJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZA1Dv8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZzFfxL"><img src="https://m.media-amazon.com/images/I/812oNZRR6wL._SR400,400_.jpg" alt="Heroway Magic Headrest Hooks" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZzFfxL">Heroway Magic Headrest Hooks for Car, Purse Hanger Headrest Hook Holder for Car Seat Organizer Behind Over the Seat Car ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.39</span><span class="ori_price">$13.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40UZSZ6Q</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $13.99</strong> with promo code: <strong class="m_codes">40UZSZ6Q</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 01:00 AM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZzFfxL">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="21.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZF5PKk"><img src="https://m.media-amazon.com/images/I/81LPXFGPtoL._SR400,400_.jpg" alt="Misassy Womens Open Front Long Cardigans" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZF5PKk">Misassy Womens Open Front Long Cardigans Boho Loose Lantern Sleeve Cable Knit Duster Kimono Sweater with Pockets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.44</span><span class="ori_price">$42.88</span></address>
      <textarea readonly="readonly" class="code_area">504RSHNE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $42.88</strong> with promo code: <strong class="m_codes">504RSHNE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZF5PKk">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="5.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L2PGWN"><img src="https://m.media-amazon.com/images/I/7132iZ18ktL._SR400,400_.jpg" alt="Wsky V4.2 Bluetooth Earphone Sport Wireless Headphone" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2L2PGWN">Wsky V4.2 Bluetooth Earphone Sport Wireless Headphone, 2019 Upgrade Headset 11 Hrs Playtime Fast Pairing Sweatproof Stereo...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.69</span><span class="ori_price">$18.97</span></address>
      <textarea readonly="readonly" class="code_area">70KXOE4O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $18.97</strong> with promo code: <strong class="m_codes">70KXOE4O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2L2PGWN">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="14.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NI7V5o"><img src="https://m.media-amazon.com/images/I/51x6sXbleDL._SR400,400_.jpg" alt="Foxcesd Smart Alarm Clock" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NI7V5o">Foxcesd Smart Alarm Clock - Digital LED Clock with Warm White Color for Bedroom, Smart Sensor Night Light & Touch Control, Human Body Recognition,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.80</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">60V4TE74</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $36.99</strong> with promo code: <strong class="m_codes">60V4TE74</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NI7V5o">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MFJeak"><img src="https://m.media-amazon.com/images/I/51NR9bszrkL._SR400,400_.jpg" alt="Bluetooth Headphones,Wireless Bluetooth Headset" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MFJeak">Bluetooth Headphones,Wireless Bluetooth Headset, Wireless Foldable Retractable Headset with Neckband Design Compatible for iPhone X/8/7...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50HNUKKQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50HNUKKQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MFJeak">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MJD5d8"><img src="https://m.media-amazon.com/images/I/91W5gf7XzSL._SR400,400_.jpg" alt="Voova 11.6-12.5 Inch Tablet Sleeve" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MJD5d8">Voova 11.6-12.5 Inch Tablet Sleeve, Slim 12 Inch Tablet Sleeve Leather Felt Case Bag with Accessory Pocket Compatible with MacBook...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">50SQT9OB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $11.99</strong> with promo code: <strong class="m_codes">50SQT9OB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MJD5d8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="32.51">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zuSaq8"><img src="https://m.media-amazon.com/images/I/61Z4mc5NCBL._SR400,400_.jpg" alt="Active Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zuSaq8">Active Noise Cancelling Headphones, Siroflo S11 Plus Wireless Headset, Bluetooth Wired ANC Noise Cancelling Over Ear with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$32.51</span><span class="ori_price">$59.11</span></address>
      <textarea readonly="readonly" class="code_area">45XDM37P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $59.11</strong> with promo code: <strong class="m_codes">45XDM37P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 29, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zuSaq8">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="15.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zsOzZW"><img src="https://m.media-amazon.com/images/I/71rI4uz0NwL._SR400,400_.jpg" alt="Zenpy Blackhead Remover Vacuum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zsOzZW">Zenpy Blackhead Remover Vacuum Suction Pore Cleaner Vacuum LCD Display 4 Replaceable Suction Heads Electric Suction Facial...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.59</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40TMURLA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $25.99</strong> with promo code: <strong class="m_codes">40TMURLA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zsOzZW">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MHd5PI"><img src="https://m.media-amazon.com/images/I/71hbk+-tS7L._SR400,400_.jpg" alt="Travel Umbrella Windproof" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MHd5PI">Travel Umbrella Windproof, 8 Ribs Finest Large Compact Umbrella Windproof,Auto Open Close Umbrellas For Women and Men,Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">508IEQ4S</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">508IEQ4S</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MHd5PI">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="23.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KZzJ3G"><img src="https://m.media-amazon.com/images/I/71QYlavaFTL._SR400,400_.jpg" alt="S-ZONE Travel Tote Duffel Handbag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KZzJ3G">S-ZONE Travel Tote Duffel Handbag for men Gym Sports Waterproof Waxed Canvas Leather Trim Carry on Luggage Weekender</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.50</span><span class="ori_price">$46.99</span></address>
      <textarea readonly="readonly" class="code_area">50SO22Z8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $46.99</strong> with promo code: <strong class="m_codes">50SO22Z8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KZzJ3G">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="14.21">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MGnCdS"><img src="https://m.media-amazon.com/images/I/81lJrYnqSRL._SR400,400_.jpg" alt="PRASACCO Canvas Messenger Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MGnCdS">PRASACCO Canvas Messenger Bag Vintage Anti Thief Water Resistant Tactical Briefcases Crossbody School Travel Bag with Shoulder Strap for Men Women</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.21</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">51DV2QSX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $28.99</strong> with promo code: <strong class="m_codes">51DV2QSX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MGnCdS">Use Code at Amazon</a></div>
</div>

