<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/300LCPZ"><img src="https://m.media-amazon.com/images/I/711pJPd7ZVL._SR400,400_.jpg" alt="Simple Drink Stainless Steel Insulated Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/300LCPZ">Simple Drink Stainless Steel Insulated Water Bottle - Cold 24 Hrs & Hot 12 Hrs | Reusable Wide Mouth Metal Flask with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">50NRG7OQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">50NRG7OQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/300LCPZ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="21.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QbBpM9"><img src="https://m.media-amazon.com/images/I/51YAxBxe1-L._SR400,400_.jpg" alt="Yootech Dual Fast Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QbBpM9">Yootech Dual Fast Wireless Charger with Cooling Fan, 4 Coils 10W Wireless Charging Stand Pad with Quick Adapter,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.50</span><span class="ori_price">$42.99</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50B3TCBH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $42.99</strong> with promo code: <strong class="m_codes">50B3TCBH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2QbBpM9">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="80" data-price="300.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/301ik2O"><img src="https://m.media-amazon.com/images/I/71QwvIatA9L._SR400,400_.jpg" alt="Running and Jogging Fitness Machine" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/301ik2O">Chocity Electric Folding Treadmill Motorized Running and Jogging Fitness Machine for Home Gym with 12 Preset Programs</a></p>
    <div class="code_high">
      <address><span class="dis_price">$300.00</span><span class="ori_price">$1,499.99</span></address>
      <textarea readonly="readonly" class="code_area">805O7FS2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $1,499.99</strong> with promo code: <strong class="m_codes">805O7FS2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/301ik2O">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="24.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31ml3kL"><img src="https://m.media-amazon.com/images/I/61ABEpY2FCL._SR400,400_.jpg" alt="CHISANA Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31ml3kL">CHISANA Wireless Earbuds, Bluetooth Headphones 5.0 [2019 Version] for Stable Connection&Instant Pairing,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.75</span><span class="ori_price">$54.99</span></address>
      <textarea readonly="readonly" class="code_area">55UPYPPS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $54.99</strong> with promo code: <strong class="m_codes">55UPYPPS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31ml3kL">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30h0UuY"><img src="https://m.media-amazon.com/images/I/61tjQg9-KlL._SR400,400_.jpg" alt="iWALK Qi Wireless Portable Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30h0UuY">iWALK Qi Wireless Portable Charger Power Bank 3000mah by Sticking to Phone, Compatible with iPhone Xs, XR, X, 8, 8 Plus,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20IWALK80</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $29.99</strong> with promo code: <strong class="m_codes">20IWALK80</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30h0UuY">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="62" data-price="19.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30hvDs2"><img src="https://m.media-amazon.com/images/I/71h3KmKoJUL._SR400,400_.jpg" alt="BESTEK Electric Blender" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30hvDs2">BESTEK Electric Blender, 2-Speed Blender with Glass Jar -BPA Free 550 Watts Smoothie Blender, Professional Food Processor, Mixer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">62JRYDHZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>62% off at $49.99</strong> with promo code: <strong class="m_codes">62JRYDHZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30hvDs2">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="60RXCO3H">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NfDggD"><img src="https://images-na.ssl-images-amazon.com/images/I/61OG4S3oJLL._SX522_.jpg" alt="Wireless Earphones Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NfDggD">Wireless Earphones Bluetooth Headphones 100H Play time Deep Bass Stereo Sound Wireless Headphones Built-in Mic IPX8 Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$60RXCO3H</span><span class="ori_price">$49.98</span></address>
      <textarea readonly="readonly" class="code_area">60RXCO3H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $49.98</strong> with promo code: <strong class="m_codes">60RXCO3H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NfDggD">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/300bOcA"><img src="https://m.media-amazon.com/images/I/61rnqX4YCRL._SR400,400_.jpg" alt="USB Type C Cable,TOPK USB C Cable" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/300bOcA">USB Type C Cable,TOPK USB C Cable [3-Pack 6.6ft 6.6ft 6.6ft] 3A Fast Charging Cable Nylon Braided Sync Data Transfer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">509QRS5E</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $9.99</strong> with promo code: <strong class="m_codes">509QRS5E</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/300bOcA">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32GGIo8"><img src="https://m.media-amazon.com/images/I/61styid2gYL._SR400,400_.jpg" alt="Smart WiFi Garage Door Opener Remote Wireless Smartphone Controlled" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32GGIo8">Smart WiFi Garage Door Opener Remote Wireless Smartphone Controlled, Compatible with Alexa Google Assistant and IFTTT, No Hub Needed</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50F3DIDQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $49.99</strong> with promo code: <strong class="m_codes">50F3DIDQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32GGIo8">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="41.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQ1iM7"><img src="https://m.media-amazon.com/images/I/61jRRvccvYL._SR400,400_.jpg" alt="Portable Charger PD 20000mAh Power Bank" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQ1iM7">Portable Charger PD 20000mAh Power Bank USB-C(18W) Fast Charging,T-CORE External Battery with 30W Wall Charger for iPhone....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$41.99</span><span class="ori_price">$59.99</span></address>
      <textarea readonly="readonly" class="code_area">30B8ISQG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $59.99</strong> with promo code: <strong class="m_codes">30B8ISQG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LQ1iM7">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Q9vqao"><img src="https://m.media-amazon.com/images/I/71yXgLehmTL._SR400,400_.jpg" alt="CLOFY Shower Head" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Q9vqao">CLOFY Shower Head, 30 Function High Pressure Handheld Shower Head Combo with Hose&Holder, Chrome Shower Faucet, Tool-Free Installation</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.50</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">50C84SYU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $32.99</strong> with promo code: <strong class="m_codes">50C84SYU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Q9vqao">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="75" data-price="6.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ltuiu2"><img src="https://m.media-amazon.com/images/I/71lWoz9NDqL._SR400,400_.jpg" alt="Plant Grow Light" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ltuiu2">Plant Grow Light, GEARGO 18W Led Grow Lamp AUTO Turn ON/Off, 3H/9H/12H Timers 36 LED Dual Head 5 Dimmable Level 360 Degree Gooseneck....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.75</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">75AGIG99</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $26.99</strong> with promo code: <strong class="m_codes">75AGIG99</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Ltuiu2">Use Code at Amazon</a></div>
</div>
 