<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->
<div class="card clearfix" data-score="50" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2kpwms9"><img src="https://m.media-amazon.com/images/I/71Wq8PggxOL._SR400,400_.jpg" alt="Otium Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2kpwms9">Otium Noise Cancelling Headphones, Wireless Headphones Over Ear Bluetooth Headphones with Mic Deep Bass, Foldable Comfortable Earpads...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$69.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50HLRFH9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $69.99</strong> with promo code: <strong class="m_codes">50HLRFH9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2kpwms9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NHTv5k"><img src="https://m.media-amazon.com/images/I/71C18TkfxSL._SR400,400_.jpg" alt="Neewer Upgraded 18-inch Outer Dimmable SMD LED Ring Light" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NHTv5k">Neewer Upgraded 18-inch Outer Dimmable SMD LED Ring Light with 79-inch Stand, Rotatable Phone Holder for Smartphone/Camera...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$69.99</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">30XHZNIP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $99.99</strong> with promo code: <strong class="m_codes">30XHZNIP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NHTv5k">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ko5jO0"><img src="https://m.media-amazon.com/images/I/51Ma3HHGxfL._SR400,400_.jpg" alt="VANVENE 5 Pack Expanding File Folders" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ko5jO0">VANVENE 5 Pack Expanding File Folders with 5 Pockets Plastic Organizer A4 Letter Size Multi-Color for School and Office Supplies</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.75</span><span class="ori_price">$19.50</span></address>
      <textarea readonly="readonly" class="code_area">505L54IM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.50</strong> with promo code: <strong class="m_codes">505L54IM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ko5jO0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="51.28">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MRN40c"><img src="https://m.media-amazon.com/images/I/71r+WudxDSL._SR400,400_.jpg" alt="Lollimeow Pet Carrier Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MRN40c">Lollimeow Pet Carrier Backpack, Space Capsule Bubble Transparent Backpack for Cats and Puppies,Airline-Approved, Designed for Travel,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$51.28</span><span class="ori_price">$56.98</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">10EXF33X</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $56.98</strong> with promo code: <strong class="m_codes">10EXF33X</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 03:00 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MRN40c">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zHBqfN"><img src="https://m.media-amazon.com/images/I/51n+uk0i9gL._SR400,400_.jpg" alt="Moon Lamp Touch Control Lamp Night Light" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zHBqfN">Moon Lamp Touch Control Lamp Night Light, 5.9” Extra Large,3D Print USB Charging Moon Night Light Lamps for Kids Baby Lover...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.5</span><span class="ori_price">$25.00</span></address>
      <textarea readonly="readonly" class="code_area">70U3WB23</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $25.00</strong> with promo code: <strong class="m_codes">70U3WB23</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zHBqfN">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MOoZHB"><img src="https://m.media-amazon.com/images/I/71vL0L8wxvL._SR400,400_.jpg" alt="Duffel Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MOoZHB">S-ZONE Vintage Canvas Geniune Leather Trim Travel Tote Duffel Bag with Shoes Pouch</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50W1CQS8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50W1CQS8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MOoZHB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="24.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zK9GHq"><img src="https://m.media-amazon.com/images/I/61fX-piCssL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zK9GHq">Wireless Earbuds, HSPRO True Wireless Earphones, Stereo Sound Bluetooth 5.0 Headphones, Mini Wireless in-Ear Headsets with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.49</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">307U46BP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $34.99</strong> with promo code: <strong class="m_codes">307U46BP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zK9GHq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MPUiBE"><img src="https://m.media-amazon.com/images/I/71lijUshNoL._SR400,400_.jpg" alt="Timber Ridge Folding Table Utility Outdoor Camping Lightweight Desk" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MPUiBE">Timber Ridge Folding Table Utility Outdoor Camping Lightweight Desk with Carry Bag and Multi-Function Accessories, Brown</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27</span><span class="ori_price">$53.99</span></address>
      <textarea readonly="readonly" class="code_area">50M9K58F</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $53.99</strong> with promo code: <strong class="m_codes">50M9K58F</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MPUiBE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zEXdVl"><img src="https://m.media-amazon.com/images/I/71vMRSXN+tL._SR400,400_.jpg" alt="AshopZ 100 Piece Multi-Colored Assorted Metal Binder Clips" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zEXdVl">AshopZ 100 Piece Multi-Colored Assorted Metal Binder Clips for Document Organization</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">554XZ86I</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $19.99</strong> with promo code: <strong class="m_codes">554XZ86I</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zEXdVl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MSAeOX"><img src="https://m.media-amazon.com/images/I/61MAa7Ds+ML._SR400,400_.jpg" alt="Solar Lights Outdoor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MSAeOX">Solar Lights Outdoor - Sunklly Waterproof 6 LED Deck Lamp for Step Porch Walkway Patio (White Light, Pack of 8)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.98</span><span class="ori_price">$35.97</span></address>
      <textarea readonly="readonly" class="code_area">50UOGXF9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $35.97</strong> with promo code: <strong class="m_codes">50UOGXF9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MSAeOX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zKRmOm"><img src="https://m.media-amazon.com/images/I/71tFiTAx9GL._SR400,400_.jpg" alt="uni Lightning Cable" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zKRmOm">uni Lightning Cable Nylon Braided [Apple MFi Certified], iPhone Charger Cable Compatible with iPhone 8, iPhone Xs Max, XR,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">308YA577</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $17.99</strong> with promo code: <strong class="m_codes">308YA577</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zKRmOm">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="16.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZIdiE8"><img src="https://m.media-amazon.com/images/I/81kbTB2fpRL._SR400,400_.jpg" alt="WINNPRIME Premium Vacuum Storage Bags" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZIdiE8">WINNPRIME Premium Vacuum Storage Bags 12 Pack (6 x Jumbo, 3 x Large, 3 x Medium) Reusable Space Saver Bags Free...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.49</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">45LYKAPF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $29.99</strong> with promo code: <strong class="m_codes">45LYKAPF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZIdiE8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="19.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LifqyG"><img src="https://m.media-amazon.com/images/I/51Q7h1OeqeL._SR400,400_.jpg" alt="BALFER True Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LifqyG">BALFER True Wireless Earbuds TWS Bluetooth Headphones in-Ear Stereo Bluetooth V5.0 Earphone Built-in High Definition..</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.59</span><span class="ori_price">$48.98</span></address>
      <textarea readonly="readonly" class="code_area">60S7PUQ4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $48.98</strong> with promo code: <strong class="m_codes">60S7PUQ4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LifqyG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="20.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MQXyNh"><img src="https://m.media-amazon.com/images/I/718xXqvrtvL._SR400,400_.jpg" alt="Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MQXyNh">Wireless Charger for iPhone Charging Station for Apple, Wireless Charging Pad Stand for iPhone, Apple Watch Charging Stand...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.39</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">499BKCCL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>49% off at $39.99</strong> with promo code: <strong class="m_codes">499BKCCL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MQXyNh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZI0ihR"><img src="https://m.media-amazon.com/images/I/61AO+7ggH5L._SR400,400_.jpg" alt="Yidarton Men's Boxer Briefs Basics Underwear" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZI0ihR">Yidarton Men's Boxer Briefs Basics Underwear Cotton Shorts Boys Breathable Comfortable</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">65UXEJTA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $19.99</strong> with promo code: <strong class="m_codes">65UXEJTA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZI0ihR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZIevPK"><img src="https://m.media-amazon.com/images/I/51Sul0jUreL._SR400,400_.jpg" alt="Atphfety Smart Short Blade Swim Fins" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZIevPK">Atphfety Smart Short Blade Swim Fins for Training Swimming and Snorkeling</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50F1QGLI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50F1QGLI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZIevPK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zHEUin"><img src="https://m.media-amazon.com/images/I/41uT-2GcbqL._SR400,400_.jpg" alt="Ankuoo Smart Plug" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zHEUin">Ankuoo Smart Plug , WiFi Outlet Socket, Wireless Remote Control and Timer Via NEO APP</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">70LEB1UR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $29.99</strong> with promo code: <strong class="m_codes">70LEB1UR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zHEUin">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="38.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lgi9Zh"><img src="https://m.media-amazon.com/images/I/61q5ORCrcbL._SR400,400_.jpg" alt="LETSCOM USB C Hub" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lgi9Zh">LETSCOM USB C Hub, 11 in 1 USB C Adapter with Ethernet, 4K HDMI, VGA, Power Delivery, 2 USB3.0 &USB2.0, Micro SD/TF Card Reader,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$38.49</span><span class="ori_price">$54.99</span></address>
      <textarea readonly="readonly" class="code_area">308TTGCA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $54.99</strong> with promo code: <strong class="m_codes">308TTGCA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Lgi9Zh">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zL0JgU"><img src="https://m.media-amazon.com/images/I/817Ui7jr0nL._SR400,400_.jpg" alt="Mayten 15.6 Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zL0JgU">Mayten 15.6 Laptop Backpack Lightweight Computer Shoulder Bag for Travel and Business Water Resistant and Multi-Functional Fits...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">70IM85XP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $39.99</strong> with promo code: <strong class="m_codes">70IM85XP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zL0JgU">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NKyebl"><img src="https://m.media-amazon.com/images/I/51WhSlxAgtL._SR400,400_.jpg" alt="Livho Blue Light Blocking Glasses" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NKyebl">Livho Blue Light Blocking Glasses, Cut UV/Ray Transparent Lens,Computer Reading/Gaming Glasses,Anti Eyestrain/Anti Scratch,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.98</span></address>
      <textarea readonly="readonly" class="code_area">50AGW13C</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $23.98</strong> with promo code: <strong class="m_codes">50AGW13C</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NKyebl">Use Code at Amazon</a></div>
</div>

