<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="72" data-price="19.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NCHyOt"><img src="https://m.media-amazon.com/images/I/41WCKHW8QiL._SR400,400_.jpg" alt="Anti-Theft Travel Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NCHyOt">Anti-Theft Travel Laptop Backpack, Business Computer Bags Waterproof Lightweight with USB Charging Port Travel Backpack...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.60</span><span class="ori_price">$69.99</span></address>
      <textarea readonly="readonly" class="code_area">72QA5677</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>72% off at $69.99</strong> with promo code: <strong class="m_codes">72QA5677</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NCHyOt">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="21.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HzaOln"><img src="https://m.media-amazon.com/images/I/71zIjyfAOUL._SR400,400_.jpg" alt="Vanzon X5 Pro Bluetooth Speakers" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HzaOln">Vanzon X5 Pro Bluetooth Speakers - Portable Wireless Speaker V5.0 with 20W Loud Stereo Sound, TWS, IPX7 Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.59</span><span class="ori_price">$35.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40PGMWA4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $35.99</strong> with promo code: <strong class="m_codes">40PGMWA4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HzaOln">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="32" data-price="31.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Pjqqj1"><img src="https://m.media-amazon.com/images/I/81nZHqB8q5L._SR400,400_.jpg" alt="USB C Wall Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Pjqqj1">USB C Wall Charger, Mixilin Premium 75W 5-Port Desktop Charger with One 45W Power Delivery Port for MacBook Air 2018,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.95</span><span class="ori_price">$46.99</span></address>
      <textarea readonly="readonly" class="code_area">323MRG6Y</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>32% off at $46.99</strong> with promo code: <strong class="m_codes">323MRG6Y</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Pjqqj1">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MM3oiI"><img src="https://m.media-amazon.com/images/I/61pSQm2A0AL._SR400,400_.jpg" alt="Moallia Phone Charger Cables" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MM3oiI">Moallia Phone Charger Cables, 2 Pack 6FT Extra Long Nylon Braided USB Fast Charging & Syncing Cord Compatible with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$8.99</span></address>
      <textarea readonly="readonly" class="code_area">50SMSG7H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $8.99</strong> with promo code: <strong class="m_codes">50SMSG7H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MM3oiI">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NI7rfM"><img src="https://m.media-amazon.com/images/I/61JQ+r7pajL._SR400,400_.jpg" alt="Hair Straightener" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NI7rfM">Hair Straightener with 110V-220V Anion Anti-scald Fast Heating Electric Hot Air Beard Hair Straightener Brush for Women Hot Combs </a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">50WPPN6M</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">50WPPN6M</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NI7rfM">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="19.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MLNllk"><img src="https://m.media-amazon.com/images/I/616jni6TcjL._SR400,400_.jpg" alt="HAUSBELL Portable air Compressor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MLNllk">HAUSBELL Portable air Compressor for Car Tires, 12V DC Air Compressor tire inflator Pump, 150 PSI with Emergency...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.49</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">352N2FJG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $29.99</strong> with promo code: <strong class="m_codes">352N2FJG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MLNllk">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UgchlH"><img src="https://m.media-amazon.com/images/I/81fzh8z1jvL._SR400,400_.jpg" alt="Mortar and Pestle Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UgchlH">Mortar and Pestle Set - 5.5 Inch, 17 Oz - Unique Double Sided - Pestle and Mortar Bowl Solid Stone Grinder - Guacamole Mortar ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$25.00</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">20GMAUGUST</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $25.00</strong> with promo code: <strong class="m_codes">20GMAUGUST</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2UgchlH">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UeP9Ef"><img src="https://m.media-amazon.com/images/I/713cqR7QxJL._SR400,400_.jpg" alt="Kamo Chest Sling Shoulder Backpacks" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UeP9Ef">Kamo Chest Sling Shoulder Backpacks - Fashion Cute Crossbody Rope Bag for Hiking or Multipurpose Daypacks for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">20KWSABH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $29.99</strong> with promo code: <strong class="m_codes">20KWSABH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2UeP9Ef">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="25" data-price="24.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zykv9O"><img src="https://m.media-amazon.com/images/I/81Ng3sxWYiL._SR400,400_.jpg" alt="sponeed Men's Cycling Shorts Padded Bicycle Riding Pants" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zykv9O">sponeed Men's Cycling Shorts Padded Bicycle Riding Pants Bike Biking Clothes Cycle Wear Tights</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.74</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">25KLX4F8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $32.99</strong> with promo code: <strong class="m_codes">25KLX4F8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zykv9O">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZHm5Gh"><img src="https://m.media-amazon.com/images/I/51ea6tHrAmL._SR400,400_.jpg" alt="Ball Pump, Electric Basketball Pump" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZHm5Gh">Ball Pump, Electric Basketball Pump Fast Inflation Battery Powered with Needle and Hose, for Rugby Ball, Basketball,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
       <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40CW2J13</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40CW2J13</strong></span></p><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZHm5Gh">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="10.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MMrNoz"><img src="https://m.media-amazon.com/images/I/51nvXp72rcL._SR400,400_.jpg" alt="Youlerbu Gym Duffel Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MMrNoz">Youlerbu Gym Duffel Bag With Shoe Compartment Lightweight Foldable Duffel Bag for Men Women</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.79</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">40PC1OCL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $17.99</strong> with promo code: <strong class="m_codes">40PC1OCL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MMrNoz">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="45" data-price="9.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZHnj4l"><img src="https://m.media-amazon.com/images/I/51VX3SiZopL._SR400,400_.jpg" alt="GiNT Stainless Steel Thermos Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZHnj4l">GiNT Stainless Steel Thermos Water Bottle, Double Wall Vacuum Insulated Wide Mouth Travel Coffee Mug, Hot 12 Hours...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.89</span><span class="ori_price">$17.98</span></address>
      <textarea readonly="readonly" class="code_area">45GCL4QR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $17.98</strong> with promo code: <strong class="m_codes">45GCL4QR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZHnj4l">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="6.57">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PqdckH"><img src="https://m.media-amazon.com/images/I/81+NNSgAWvL._SR400,400_.jpg" alt="Cute Lunch Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PqdckH">Cute Lunch Bag, Reusable Lunch Box, Cotton Bento Cooler Bag, Insulated Lunch Bag（Rabbit）</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.57</span><span class="ori_price">$10.95</span></address>
      <textarea readonly="readonly" class="code_area">40TP6N2J</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $10.95</strong> with promo code: <strong class="m_codes">40TP6N2J</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PqdckH">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="75" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LfB4lF"><img src="https://m.media-amazon.com/images/I/51Up6r7ysWL._SR400,400_.jpg" alt="MICHELANGELO Ultra Nonstick 5 Quart Copper Saute Pan" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LfB4lF">MICHELANGELO Ultra Nonstick 5 Quart Copper Saute Pan with Lid, Copper Frying Pan, Deep Saute Pan Nonstick, 11 Inch Induction Skillets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$63.99</span></address>
      <textarea readonly="readonly" class="code_area">7591NEJP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $63.99</strong> with promo code: <strong class="m_codes">7591NEJP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LfB4lF">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LkOvRm"><img src="https://m.media-amazon.com/images/I/61CEQ3HWS0L._SR400,400_.jpg" alt="Oak House Water Bottles" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LkOvRm">Oak House Water Bottles 21OZ Modern Innovations Double Wall Vacuum Insulated Stainless Steel Leak Proof Keeps Drinks...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.98</span></address>
      <textarea readonly="readonly" class="code_area">50XYG28P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.98</strong> with promo code: <strong class="m_codes">50XYG28P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LkOvRm">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="11.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PyYLLs"><img src="https://m.media-amazon.com/images/I/81M9mVViXAL._SR400,400_.jpg" alt="Bride Tribe Cups Glowing in the Dark" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PyYLLs">Bride Tribe Cups Glowing in the Dark, Silicone Bridesmaid Wine Glass, Bachelorette Party Cups Set of 12 for Gifts,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.60</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">60TZLYEM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $28.99</strong> with promo code: <strong class="m_codes">60TZLYEM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PyYLLs">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HzeUtL"><img src="https://m.media-amazon.com/images/I/71u8GQj2PoL._SR400,400_.jpg" alt="Bluetooth FM Transmitter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HzeUtL">(Upgraded Version) Bluetooth FM Transmitter, Sumind Wireless Radio Adapter Hands-Free Car Kit with 1.7 Inch Display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50EZO2SU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">50EZO2SU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HzeUtL">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ML0TNU"><img src="https://m.media-amazon.com/images/I/61DKOic-+wL._SR400,400_.jpg" alt="Bruno Marc Men's Havana Outdoor Fisherman Sandals" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ML0TNU">Bruno Marc Men's Havana Outdoor Fisherman Sandals</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">70QH6WNK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $29.99</strong> with promo code: <strong class="m_codes">70QH6WNK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ML0TNU">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="13.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34enIic"><img src="https://m.media-amazon.com/images/I/61nhHSmELUL._SR400,400_.jpg" alt="Manitoba Harvest Hemp Yeah! Bars" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34enIic">Manitoba Harvest Hemp Yeah! Bars, Dark Chocolate Cacao (12 Bars), 10g Plant Protein, Grain Free, Gluten Free, 6g Omegas 3&6 </a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.79</span><span class="ori_price">$22.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40BARS092019</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $22.99</strong> with promo code: <strong class="m_codes">40BARS092019</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34enIic">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="4.17">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZEtA0G"><img src="https://m.media-amazon.com/images/I/71C1gCwuzrL._SR400,400_.jpg" alt="Pancellent 12 in 1 Soil Meter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZEtA0G">Pancellent 12 in 1 Soil Meter (3-in-1 Moisture Sensor/Sunlight/pH,9pcs Bonsai Tools) Include Pruner, Fold Scissors,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.17</span><span class="ori_price">$13.90</span></address>
      <textarea readonly="readonly" class="code_area">70JBXSYC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $13.90</strong> with promo code: <strong class="m_codes">70JBXSYC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZEtA0G">Use Code at Amazon</a></div>
</div>
 
