<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>
-->
<div class="card clearfix" data-score="38" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Q44CZt"><img src="https://images-na.ssl-images-amazon.com/images/I/616RUc7bjfL._SX679_.jpg" alt="SanDisk Ultra Fit 128GB USB" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Q44CZt">SanDisk Ultra Fit 128GB USB 3.0 Flash Drive - SDCZ43-128G-GAM46</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Q44CZt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LtL2A3"><img src="https://images-na.ssl-images-amazon.com/images/I/61sEc655NrL._SX425_.jpg" alt="JSAUX USB Type C Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LtL2A3">JSAUX USB Type C Adapter, 4-Pack Aluminum USB C to Micro USB Convert Connector with Keychain Charger Compatible Samsung Galaxy S9...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LtL2A3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="185.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlABQ7"><img src="https://images-na.ssl-images-amazon.com/images/I/71CgRbIhIIL._SY879_.jpg" alt="Samsung Galaxy Tab 4 (7-Inch, White)" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlABQ7">Samsung Galaxy Tab 4 (7-Inch, White)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$185.00</span><span class="ori_price">$249.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlABQ7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="43.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmPbqT"><img src="https://images-na.ssl-images-amazon.com/images/I/81xlboCOT9L._SX679_.jpg" alt="Logitech 981-000536 G430 7.1 Gaming Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmPbqT">Logitech 981-000536 G430 7.1 Gaming Headset with Mic</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$43.98</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LmPbqT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="147.12">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LuOWbU"><img src="https://images-na.ssl-images-amazon.com/images/I/51PtBk-IIaL._SX425_.jpg" alt="NETGEAR Nighthawk Smart WiFi Router" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LuOWbU">NETGEAR Nighthawk Smart WiFi Router (R7000) - AC1900 Wireless Speed (up to 1900 Mbps) | Up to 1800 sq ft Coverage & 30 Devices...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$147.12</span><span class="ori_price">$189.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LuOWbU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Loj9dX"><img src="https://images-na.ssl-images-amazon.com/images/I/71M7%2BjrrjTL._SY879_.jpg" alt="NETGEAR AC1200 Wireless WiFi Range Extender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Loj9dX">NETGEAR AC1200 Wireless WiFi Range Extender (EX6200)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.95</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Loj9dX">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="229.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MYCWCK"><img src="https://images-na.ssl-images-amazon.com/images/I/61ryf13A6jL._SX679_.jpg" alt="TOSHIBA 43LF711U20 43-inch 4K Ultra HD Smart LED TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MYCWCK">TOSHIBA 43LF711U20 43-inch 4K Ultra HD Smart LED TV HDR - Fire TV Edition</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$229.99</span><span class="ori_price">$330.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MYCWCK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="46.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MVdRZi"><img src="https://images-na.ssl-images-amazon.com/images/I/71TwPx%2BCT9L._SX679_.jpg" alt="Logitech MK550 Wireless Wave Keyboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MVdRZi">Logitech MK550 Wireless Wave Keyboard and Mouse Combo — Includes Keyboard and Mouse, Long Battery Life, Ergonomic Wave Design</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MVdRZi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MVoBqP"><img src="https://images-na.ssl-images-amazon.com/images/I/81g7Hk7jG6L._SX679_.jpg" alt="Laptop Backpack, School Backpacks" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MVoBqP">Laptop Backpack, School Backpacks Durable Water Resistant College Bookbag for Women and Men, Anti Theft Slim Business...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.99</span><span class="ori_price">$45.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MVoBqP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zXAILw"><img src="https://images-na.ssl-images-amazon.com/images/I/61OR1T4bkZL._SX569_.jpg" alt="JSAUX USB Type C Cable" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zXAILw">JSAUX USB Type C Cable, (2-Pack 6.6FT)USB-C to USB A Fast Charger Nylon Braided Cord compatible Samsung Galaxy S10 S9 S8 Plus Note...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.01</span><span class="ori_price">$9.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2zXAILw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="59.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZS3wiM"><img src="https://images-na.ssl-images-amazon.com/images/I/817Z5KQfqXL._SX522_.jpg" alt="APC UPS Battery Backup & Surge Protector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZS3wiM">APC UPS Battery Backup & Surge Protector with USB Charger, 600VA, APC Back-UPS (BE600M1)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.87</span><span class="ori_price">$74.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZS3wiM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NUeqCf"><img src="https://images-na.ssl-images-amazon.com/images/I/81hbR9yX93L._SX679_.jpg" alt="Azio Large Print Tri-Color Backlit Wired Keyboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NUeqCf">Azio Large Print Tri-Color Backlit Wired Keyboard (KB505U)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$45.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NUeqCf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NP1ptI"><img src="https://images-na.ssl-images-amazon.com/images/I/617U19gBneL._SX679_.jpg" alt="Transcend 64GB MicroSDXC Class10 UHS-1 Memory Card" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NP1ptI">Transcend 64GB MicroSDXC Class10 UHS-1 Memory Card with Adapter 60 MB/s (TS64GUSDU1)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$27.28</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NP1ptI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="39.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZMROG7"><img src="https://images-na.ssl-images-amazon.com/images/I/516-sesx2XL._SX425_.jpg" alt="Roku Streaming Stick" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZMROG7">Roku Streaming Stick | Portable, Power-Packed Streaming Device with Voice Remote with Buttons for TV Power and Volume</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.00</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZMROG7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="19" data-price="56.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MUCqFW"><img src="https://images-na.ssl-images-amazon.com/images/I/518gLUg8jLL._SX679_.jpg" alt="oshiba Canvio Advance 2TB Portable External Hard Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MUCqFW">Toshiba Canvio Advance 2TB Portable External Hard Drive USB 3.0, White (HDTC920XW3AA)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$56.44</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MUCqFW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmSgXM"><img src="https://images-na.ssl-images-amazon.com/images/I/71vljm0sdoL._SX679_.jpg" alt="ASUS HDMI DVI VGA Back-lit LED Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmSgXM">ASUS VE248H 24" Full HD 1920x1080 2ms HDMI DVI VGA Back-lit LED Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$219.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LmSgXM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LoossE"><img src="https://images-na.ssl-images-amazon.com/images/I/61POMulpcoL._SX425_.jpg" alt="Rain Design mStand Laptop Stand" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LoossE">Rain Design mStand Laptop Stand, Silver (Patented)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LoossE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="59.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LtqojG"><img src="https://images-na.ssl-images-amazon.com/images/I/71dhSS5YsnL._SX425_PIbundle-2,TopRight,0,0_SX425SY222SH20_.jpg" alt="Crucial 8GB Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LtqojG">Crucial 8GB Kit (4GBx2) DDR3/DDR3L 1066 MT/s (PC3-8500) SODIMM 204-Pin Memory For Mac - CT2K4G3S1067M</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.95</span><span class="ori_price">$91.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LtqojG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="6.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZMkLlO"><img src="https://images-na.ssl-images-amazon.com/images/I/31jhDSiJ5RL._SX425_.jpg" alt="Sabrent 4-Port USB 2.0 Hub" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZMkLlO">Sabrent 4-Port USB 2.0 Hub [90°/180° Degree Rotatable] (HB-UMN4)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.49</span><span class="ori_price">$15.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZMkLlO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LuQ92W"><img src="https://images-na.ssl-images-amazon.com/images/I/71rFoKi1rDL._SY450_.jpg" alt="ZUGU CASE - 9.7 iPad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LuQ92W">ZUGU CASE - 9.7 iPad 2018/2017 5th / 6th Gen & iPad Air 1 Prodigy X Case - Very Protective But Thin + Convenient Magnetic Stand ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LuQ92W">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="157.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NRL8Vc"><img src="https://images-na.ssl-images-amazon.com/images/I/61t6xobvKiL._SX679_.jpg" alt="Anova Culinary Sous Vide Precision Cooker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NRL8Vc">Anova Culinary Sous Vide Precision Cooker | WI-FI + Bluetooth | 900W | Anova App Included</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$157.00</span><span class="ori_price">$199.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NRL8Vc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="499.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NPBmCT"><img src="https://images-na.ssl-images-amazon.com/images/I/51YR9jp-yjL._SX425_.jpg" alt="iRobot Roomba 960 Robot Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NPBmCT">iRobot Roomba 960 Robot Vacuum- Wi-Fi Connected Mapping, Works with Alexa, Ideal for Pet Hair, Carpets, Hard Floors</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$499.00</span><span class="ori_price">$699.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NPBmCT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MU8vh3"><img src="https://images-na.ssl-images-amazon.com/images/I/71cz822AxUL._SX679_.jpg" alt="COSORI Electric Kettle(BPA-Free)" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MU8vh3">COSORI Electric Kettle(BPA-Free), 1.7 L Glass Water Boiler & Tea Heater with LED Indicator Light,Auto Shut-Off & Boil-Dry ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MU8vh3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HOz1UP"><img src="https://images-na.ssl-images-amazon.com/images/I/61-8YXHZ1YL._SX522_.jpg" alt="Hawaiian Shaved Ice S900A Shaved Ice" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HOz1UP">Hawaiian Shaved Ice S900A Shaved Ice and Snow Cone Machine, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$59.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HOz1UP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZNrL1Q"><img src="https://images-na.ssl-images-amazon.com/images/I/81N-k0wkz7L._SX522_.jpg" alt="TubShroom the Revolutionary Tub Drain Protector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZNrL1Q">TubShroom the Revolutionary Tub Drain Protector Hair Catcher/Strainer/Snare, Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$19.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZNrL1Q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2I1PYLR"><img src="https://images-na.ssl-images-amazon.com/images/I/61uvKINNm8L._SY355_.jpg" alt="Fire TV Stick 4K with Alexa Voice Remote" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2I1PYLR">Fire TV Stick 4K with Alexa Voice Remote, streaming media player</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2I1PYLR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HJIwVi"><img src="https://images-na.ssl-images-amazon.com/images/I/71ukEnLxKDL._SY550_.jpg" alt="Contigo SNAPSEAL Byron Stainless Steel Travel Mug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HJIwVi">Contigo SNAPSEAL Byron Stainless Steel Travel Mug, 24 oz., Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HJIwVi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="39.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34qXo4v"><img src="https://images-na.ssl-images-amazon.com/images/I/81t-gBB%2B2ZL._SL1500_.jpg" alt="Flowtron BK-40D Electronic Insect Killer, 1 Acre Coverage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34qXo4v">Flowtron BK-40D Electronic Insect Killer, 1 Acre Coverage</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.98</span><span class="ori_price">$64.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34qXo4v">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="29.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34nZPFi"><img src="https://images-na.ssl-images-amazon.com/images/I/71rhhOxlWIL._SX522_.jpg" alt="O-Cedar EasyWring Microfiber Spin Mop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34nZPFi">O-Cedar EasyWring Microfiber Spin Mop, Bucket Floor Cleaning System</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.97</span><span class="ori_price">$37.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34nZPFi">Shop Now at Amazon</a></div>
</div>