<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="60" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2He5XWr"><img src="https://m.media-amazon.com/images/I/71G7DFqNX-L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2He5XWr">SYNERKY Electric Nail Drill Set Electrical File Nail File Kit for Acrylic / Gel Nails, Hand piece File Grinder...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">6079V46A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $26.99</strong> with promo code: <strong class="m_codes">6079V46A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2He5XWr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33L3axy"><img src="https://m.media-amazon.com/images/I/81yMm7xWUOL._SR400,400_.jpg" alt="Goothdurs Travel Mini Umbrella" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33L3axy">Goothdurs Travel Mini Umbrella - Compact Small Sun & Rain Windproof Umbrellas for Women Men with 95% Anti-UV Portable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">50VECAWA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.99</strong> with promo code: <strong class="m_codes">50VECAWA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33L3axy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31PCeuK"><img src="https://m.media-amazon.com/images/I/71hdcyVSyQL._SR400,400_.jpg" alt="HUANUO Adjustable Laptop Stand" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31PCeuK">HUANUO Adjustable Laptop Stand, 360 ° Swivel Laptop Riser Fits 11-15.6 inch Laptop, Tablet, Notebook</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">154H3RKC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">154H3RKC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31PCeuK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z8iSot"><img src="https://m.media-amazon.com/images/I/61k+plWwO6L._SR400,400_.jpg" alt="DECKEY AdjustablePendant Light" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z8iSot">DECKEY AdjustablePendant Light, 2 Pack, Ceiling Hanging Pendant Lights, Adjustable Height, 1.1m, Vintage Classic...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">7089IY1T</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $39.99</strong> with promo code: <strong class="m_codes">7089IY1T</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2z8iSot">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HdgUYs"><img src="https://m.media-amazon.com/images/I/61qCdnA8UwL._SR400,400_.jpg" alt="IDISKK True Wireless Earbuds Touch-Control..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HdgUYs">IDISKK True Wireless Earbuds Touch-Control Bluetooth Auto-Pairing HiFi Stereo Sports Earphones with Built-in...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.49</span><span class="ori_price">$30.99</span></address>
      <textarea readonly="readonly" class="code_area">50UEXWCV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $30.99</strong> with promo code: <strong class="m_codes">50UEXWCV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HdgUYs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="12.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZdiwHP"><img src="https://m.media-amazon.com/images/I/71xBAFfJvzL._SR400,400_.jpg" alt="Bluetooth FM Transmitter for Car" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZdiwHP">Bluetooth FM Transmitter for Car, Wireless FM Radio Transmitter Adapter Car Kit Dual USB Charging Port Car Charger...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.74</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">258888888888</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $16.99</strong> with promo code: <strong class="m_codes">258888888888</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZdiwHP">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z9z1IZ"><img src="https://m.media-amazon.com/images/I/61FWl4UXfDL._SR400,400_.jpg" alt="Dash Cam Davola 1080P Full HD Dash Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z9z1IZ">Dash Cam Davola 1080P Full HD Dash Camera for Cars with 3" LCD Screen 140 Degrees Wide Angle Lens Loop Recording G-Sensor...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">60WSZETX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $49.99</strong> with promo code: <strong class="m_codes">60WSZETX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z9z1IZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="11.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z8WdD3"><img src="https://m.media-amazon.com/images/I/61UTFeo5TsL._SR400,400_.jpg" alt="Mirzebo Quick Charge 3.0 USB Wall Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z8WdD3">Mirzebo Quick Charge 3.0 USB Wall Charger, Dual Port 36W Wall Charger with LED Display, and Foldable Plug,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.20</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">60V3NCDI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $27.99</strong> with promo code: <strong class="m_codes">60V3NCDI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z8WdD3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hd6iJa"><img src="https://m.media-amazon.com/images/I/718xQ90RPAL._SR400,400_.jpg" alt="icemoon Compact 8 x40 Binoculars " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hd6iJa">icemoon Compact 8 x40 Binoculars for Adults, Folding Durable Binoculars for Bird Watching, Sports, Concerts,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.45</span><span class="ori_price">$26.89</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50A4FVS7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.89</strong> with promo code: <strong class="m_codes">50A4FVS7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Hd6iJa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="7.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z9ZSjX"><img src="https://images-na.ssl-images-amazon.com/images/I/81btpzGBX2L._SX522_.jpg" alt="Jakemy 43 in 1 Screwdriver Set Precision Repair" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z9ZSjX">Jakemy 43 in 1 Screwdriver Set Precision Repair Tool Kit with 36 Magnetic Driver Bits Screwdriver Kit for iphone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.69</span><span class="ori_price">$10.99</span></address>
      <textarea readonly="readonly" class="code_area">30QQQ9FY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $10.99</strong> with promo code: <strong class="m_codes">30QQQ9FY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z9ZSjX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hd6F6w"><img src="https://m.media-amazon.com/images/I/61CL4FzXDxL._SR400,400_.jpg" alt="S-ZONE Women's Contrast Color Leather Bucket Tote Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hd6F6w">S-ZONE Women's Contrast Color Leather Bucket Tote Bag Shoulder Purse Top Handle Handbags</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">402E21JV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">402E21JV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Hd6F6w">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YYLlN2"><img src="https://m.media-amazon.com/images/I/615YyDhIejL._SR400,400_.jpg" alt="2019 Upgrade Outdoor Security Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YYLlN2">2019 Upgrade Outdoor Security Camera with 64GB SD card HD1080P 2.4G Wireless IP66 Waterproof Surveilance Camera ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">50CNTJ3H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $79.99</strong> with promo code: <strong class="m_codes">50CNTJ3H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2YYLlN2">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zco4lV"><img src="https://m.media-amazon.com/images/I/71nCW0x8LCL._SR400,400_.jpg" alt="FORSHUYU Daypack Backpack Girls Canvas School Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zco4lV">FORSHUYU Daypack Backpack Girls Canvas School Backpack Drawstring Deisgn</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">305YFTA9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $19.99</strong> with promo code: <strong class="m_codes">305YFTA9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zco4lV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KF9DTi"><img src="https://m.media-amazon.com/images/I/61Jcf7GshNL._SR400,400_.jpg" alt="LED Garage Lights 4500LM Deformable Led" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KF9DTi">LED Garage Lights 4500LM Deformable Led Garage Ceiling Lighting 45W E26 / E27 LED Daylight Light Bulbs Adjustable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">30KXYNQL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $16.99</strong> with promo code: <strong class="m_codes">30KXYNQL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KF9DTi">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KHKd7N"><img src="https://m.media-amazon.com/images/I/61RmoFzWoVL._SR400,400_.jpg" alt="Steel Nose Ear Hair Remover" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KHKd7N">Ms.Dear Nose Hair Trimmer Manual Stainless Steel Nose Ear Hair Remover No Battery Required Easy to Wash With Tap Water </a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.99</span></address>
      <textarea readonly="readonly" class="code_area">5042QBVA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $16.99</strong> with promo code: <strong class="m_codes">5042QBVA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KHKd7N">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="20.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31OB0Ac"><img src="https://m.media-amazon.com/images/I/61KzB51GXKL._SR400,400_.jpg" alt="Head Shaver Waterproof 5-in-1 Electric Razor " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31OB0Ac">Head Shaver Waterproof 5-in-1 Electric Razor For Men/Hair Trimmer/Clip Nose Hair/Facial </a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.40</span><span class="ori_price">$50.99</span></address>
      <textarea readonly="readonly" class="code_area">60RBYN35</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $50.99</strong> with promo code: <strong class="m_codes">60RBYN35</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31OB0Ac">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zc2zlk"><img src="https://m.media-amazon.com/images/I/81iGpMDUl9L._SR400,400_.jpg" alt="Hyaluronic Acid Serum" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zc2zlk">Hyaluronic Acid Serum, BREYLEE Moisturizing Face Serum Anti Aging Serum for Deeply Enhancing Nourishing Hydrating...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50J6JMZJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $17.99</strong> with promo code: <strong class="m_codes">50J6JMZJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zc2zlk">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ze9AlB"><img src="https://m.media-amazon.com/images/I/81aAo7YO5zL._SR400,400_.jpg" alt="SNAILAX Massage Car Seat Cushion" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ze9AlB">SNAILAX Massage Car Seat Cushion - 6 Vibrating Massage Nodes & 3 Heating Pad, Car Back Massager with Heat, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40SNAILAX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">40SNAILAX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Ze9AlB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="30.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Jyg6U"><img src="https://m.media-amazon.com/images/I/51kw0zN91mL._SR400,400_.jpg" alt="JINRI 2 in 1 Travel Hair Straightener" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Jyg6U">JINRI 2 in 1 Travel Hair Straightener And Curler Flat Iron Curling Iron With Adjustable Digital Temp,Dual Voltage,Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.09</span><span class="ori_price">$42.99</span></address>
      <textarea readonly="readonly" class="code_area">307AM17Q</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $42.99</strong> with promo code: <strong class="m_codes">307AM17Q</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Jyg6U">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KIsfSs"><img src="https://m.media-amazon.com/images/I/51wqj9DtcWL._SR400,400_.jpg" alt="Unicorn Gifts Light Unicornio Party Supplies" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KIsfSs">Unicorn Gifts Light Unicornio Party Supplies Lamp Battery Operated LED Night Lights Wall Living Room,Bedroom,Home,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">507V97GB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">507V97GB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 19, 2019 at 06:00 AM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KIsfSs">Use Code at Amazon</a></div>
</div>

 