<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="60" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HNdqvQ"><img src="https://m.media-amazon.com/images/I/61z1Pm0HB-L._SR400,400_.jpg" alt="Mini Bluetooth 5.0 Wireless Earbuds Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HNdqvQ">Mini Bluetooth 5.0 Wireless Earbuds Headphones Wireless HiFi Stereo Sound in-Ear Sweatproof Earphone with Built-in Mic and...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.39</span><span class="ori_price">$35.97</span></address>
      <textarea readonly="readonly" class="code_area">60UPGJ7X</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $35.97</strong> with promo code: <strong class="m_codes">60UPGJ7X</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HNdqvQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34sYVXR"><img src="https://m.media-amazon.com/images/I/71g3KSADf9L._SR400,400_.jpg" alt="Car Phone Mount,Universal Smart Phone" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34sYVXR">Car Phone Mount,Universal Smart Phone Adjustable Automobile Cup Holder Phones Mount for iPhone Xs/Max/X/XR/8 Plus...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">50D5E9HY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $13.99</strong> with promo code: <strong class="m_codes">50D5E9HY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34sYVXR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="11.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34p6RJR"><img src="https://m.media-amazon.com/images/I/61tS0b4srNL._SR400,400_.jpg" alt="2 Pack NES Controller Wireless" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34p6RJR">2 Pack NES Controller Wireless - DUTISON NES Wireless Gamepad for Mini NES Classic Edition - No-Wired Rechargeable Joypad ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.70</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">55UD6QJR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $25.99</strong> with promo code: <strong class="m_codes">55UD6QJR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34p6RJR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="14.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LjQhnc"><img src="https://m.media-amazon.com/images/I/618DGqNWwSL._SR400,400_.jpg" alt="ESR Yippee Magnetic Smart Case for iPad" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LjQhnc">ESR Yippee Magnetic Smart Case for iPad Pro 11" 2018, [Support Apple Pencil Charging] Trifold Stand Case, Magnetic Attachment,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.69</span><span class="ori_price">$20.99</span></address>
      <textarea readonly="readonly" class="code_area">30FL3D3T</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $20.99</strong> with promo code: <strong class="m_codes">30FL3D3T</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LjQhnc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="21.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NPd6k7"><img src="https://m.media-amazon.com/images/I/51FR4KIEVBL._SR400,400_.jpg" alt="WAVLINK USB 3.0 to SATA (5Gbps) Dual-Bay Hard Drive Docking Station" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NPd6k7">WAVLINK USB 3.0 to SATA (5Gbps) Dual-Bay Hard Drive Docking Station for 2.5 inch/3.5 Inch HDD,SSD Support Offline...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.44</span><span class="ori_price">$32.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
       <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
       <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35ALGZML</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $32.99</strong> with promo code: <strong class="m_codes">35ALGZML</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NPd6k7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="65.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NRdgYw"><img src="https://m.media-amazon.com/images/I/71gPe2DbeFL._SR400,400_.jpg" alt="DUTERI D Dash Cam Rear View Mirror Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NRdgYw">DUTERI D Dash Cam Rear View Mirror Camera Cars Video Backup Parking 24H's Monitor with Night Vision G-Sensor Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$65.00</span><span class="ori_price">$129.99</span></address>
      <textarea readonly="readonly" class="code_area">50FVE7NA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $129.99</strong> with promo code: <strong class="m_codes">50FVE7NA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NRdgYw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZOTfEb"><img src="https://m.media-amazon.com/images/I/51h4HgRXngL._SR400,400_.jpg" alt="Travel Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZOTfEb">Travel Adapter, FIREOR Universal International Power Adapter with Smart High Speed 2.4A 4 USB Wall Charger,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40922H8H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $18.99</strong> with promo code: <strong class="m_codes">40922H8H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZOTfEb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZIvvWa"><img src="https://m.media-amazon.com/images/I/71UdiTubQ0L._SR400,400_.jpg" alt="Amplified HD Digital TV Antenna" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZIvvWa">[2019 Upgraded] Amplified HD Digital TV Antenna - Best 80 Miles Range HDTV Antenna Indoor Amplifier Signal Booster,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">50JWWHF5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">50JWWHF5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZIvvWa">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NPOc3T"><img src="https://m.media-amazon.com/images/I/41n7IVQcPpL._SR400,400_.jpg" alt="StillCool Gooseneck Tablet Stand" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NPOc3T">StillCool Gooseneck Tablet Stand, Tablet Mount Holder Compatible with Smartphones/Tablets/Switch 4.7"-10.5", Overall Length 31inch (Black01)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">15STILLCOOL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $13.99</strong> with promo code: <strong class="m_codes">15STILLCOOL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NPOc3T">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZNQ8fQ"><img src="https://m.media-amazon.com/images/I/71R4UFlSPwL._SR400,400_.jpg" alt="FENIFOX Wireless Keyboard and Mouse Combo" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZNQ8fQ">FENIFOX Wireless Keyboard and Mouse Combo, Full-Size Whisper-Quiet Compact Wireless Keyboard Mouse for Laptop PC Computer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.79</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">40BKOZDD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $27.99</strong> with promo code: <strong class="m_codes">40BKOZDD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZNQ8fQ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="44.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PLV4SJ"><img src="https://m.media-amazon.com/images/I/71-ebcNoI4L._SR400,400_.jpg" alt="Handheld Wireless Microphone System" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PLV4SJ">NASUM UHF Dual Channel Professional Handheld Wireless Microphone System with Dual Wireless Dynamic Microphones,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.09</span><span class="ori_price">$62.99</span></address>
      <textarea readonly="readonly" class="code_area">30CODEMIC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $62.99</strong> with promo code: <strong class="m_codes">30CODEMIC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PLV4SJ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="40.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MSMYFD"><img src="https://m.media-amazon.com/images/I/61H2JtXS7BL._SR400,400_.jpg" alt="Auelife Camera Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MSMYFD">Auelife Camera Bag Waterproof Multipurpose Anti-shock DSLR Camera Backpack for Nikon Sony Canon SLR/DSLR Cameras...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$40.94</span><span class="ori_price">$62.99</span></address>
      <textarea readonly="readonly" class="code_area">35E8DC6K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $62.99</strong> with promo code: <strong class="m_codes">35E8DC6K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MSMYFD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="10.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MVyDbf"><img src="https://m.media-amazon.com/images/I/61iRJ+Xdr-L._SR400,400_.jpg" alt="Bluetooth Headphones,Wireless Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MVyDbf">Bluetooth Headphones,Wireless Headphones Sports Earphones Sweatproof Earbuds Deep Bass HiFi Stereo 8 Hours Playtime Noise...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.39</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">35BMVHBA</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $15.99</strong> with promo code: <strong class="m_codes">35BMVHBA</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MVyDbf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zUvFv7"><img src="https://m.media-amazon.com/images/I/51WaZO-l05L._SR400,400_.jpg" alt="Fast Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zUvFv7">Fast Wireless Charger, Qi Certified Wireless Charging Stand Compatible for iPhone X/XS/XS Max/XR, iPhone 8/8 Plus,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.00</span><span class="ori_price">$24.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">606GYHSX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $24.99</strong> with promo code: <strong class="m_codes">606GYHSX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zUvFv7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="19.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HP2WMD"><img src="https://m.media-amazon.com/images/I/61fAfu0TRuL._SR400,400_.jpg" alt="CHISANA Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HP2WMD">CHISANA Wireless Earbuds – Bluetooth Headphones 5.0 w/QI Wireless 2200mAh Charging Case | 3D Stereo Sound Deep Bass...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.25</span><span class="ori_price">$54.99</span></address>
      <textarea readonly="readonly" class="code_area">65JRL26A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $54.99</strong> with promo code: <strong class="m_codes">65JRL26A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HP2WMD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="3.57">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZSPzRD"><img src="https://m.media-amazon.com/images/I/71bjkMCCHJL._SR400,400_.jpg" alt="Toothbrush Replacement Heads Refill" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZSPzRD">Toothbrush Replacement Heads Refill for Oral-B Electric(8 Count)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.57</span><span class="ori_price">$11.89</span></address>
      <textarea readonly="readonly" class="code_area">703RMX7Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $11.89</strong> with promo code: <strong class="m_codes">703RMX7Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZSPzRD">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="15.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PPQClM"><img src="https://m.media-amazon.com/images/I/81IppatGUJL._SR400,400_.jpg" alt="STARNUO French Press Coffee Maker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PPQClM">STARNUO French Press Coffee Maker, 34 Ounce,1.0 Liter,18/10 Stainless Steel,Heat Resistant Borosilicate Glass,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.27</span><span class="ori_price">$23.49</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35OFL2Z7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $23.49</strong> with promo code: <strong class="m_codes">35OFL2Z7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PPQClM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HNHUhs"><img src="https://m.media-amazon.com/images/I/71uG0EMbpvL._SR400,400_.jpg" alt="Nattork Air Fryer,4.7 Quart Electric" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HNHUhs">Nattork Air Fryer,4.7 Quart Electric Hot Air Fryers with Recipes, Oven Oilless Cooker with LCD Digital Screen and Easily...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$49.99</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">50IZSYNQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $99.99</strong> with promo code: <strong class="m_codes">50IZSYNQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HNHUhs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34rNdwT"><img src="https://m.media-amazon.com/images/I/81dgcBq2CCL._SR400,400_.jpg" alt="Instant Pot Accessories Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34rNdwT">Instant Pot Accessories Set, 11-Piece Fit 5, 6, 8 Qt Instant Pot Accessories Compatible with Steamer Basket,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">503M35XJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $25.99</strong> with promo code: <strong class="m_codes">503M35XJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34rNdwT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34sa1MY"><img src="https://m.media-amazon.com/images/I/71GkSmJl0YL._SR400,400_.jpg" alt="HOMENOTE Sous Vide Bags" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34sa1MY">HOMENOTE Sous Vide Bags 15 Reusable Vacuum Food Storage Bags with Cookbook for Joule, Anova sous vide cooker</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">5059V8R7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">5059V8R7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34sa1MY">Use Code at Amazon</a></div>
</div>

