<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="65" data-price="7.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YJBRQZ"><img src="https://m.media-amazon.com/images/I/61JalT46JcL._SR400,400_.jpg" alt="Water Shoes" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YJBRQZ">CIOR Water Shoes Men Women Aqua Shoes Barefoot Quick-Dry Swim Shoes Boating Walking Driving Beach Yoga</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.69</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>65% off at $21.99</strong> with promo code: <strong>65XYEENH</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YJBRQZ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="48.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M8ThFt"><img src="https://m.media-amazon.com/images/I/81M5d4T0ikL._SR400,400_.jpg" alt="TOPVISION WiFi FPV Drone" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M8ThFt">TOPVISION WiFi FPV Drone with 720P HD Camera & 480P Bottom Camera Wide-Angle Live Video RC Quadcopter </a></p>
    <div class="code_high">
      <address><span class="dis_price">$48.99</span><span class="ori_price">$69.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $69.99</strong> with promo code: <strong>30DYOWIH</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M8ThFt">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="12.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EvRxjc"><img src="https://m.media-amazon.com/images/I/61l+EAFpUvL._SR400,400_.jpg" alt="Water Shoes" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EvRxjc">Ginjang Men Women Water Shoes Barefoot Quick Dry for Yoga Swim Diving Surf Aqua Sports Beach Walking</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.33</span><span class="ori_price">$18.98</span></address>
      <p><span>Take <strong>35% off at $18.98</strong> with promo code: <strong>35L7XBTT</strong></span></p>
      <span class="ex_date">Expiration Date : May 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EvRxjc">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="51" data-price="44.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WiklG4"><img src="https://m.media-amazon.com/images/I/71OQgtq5l1L._SR400,400_.jpg" alt="RENPHO Air Purifier for Allergies and Pets" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WiklG4">RENPHO Air Purifier for Allergies and Pets, Desktop Air Purifier with True HEPA Filter, Air Cleaner for Smokers Bedroom Office Child Room</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.09</span><span class="ori_price">$89.99</span></address>
      <p><span>Take <strong>51% off at $89.99</strong> with promo code: <strong>51SPX1BG</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WiklG4">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WlH0kW"><img src="https://m.media-amazon.com/images/I/816CXdv9uWL._SR400,400_.jpg" alt="Ylife 33Ft 100 LED Fairy Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WlH0kW">Ylife 33Ft 100 LED Fairy Light, 8 Modes String Lights Waterproof, USB Interface Remote Control, Decorative Copper Wire Mini Lights</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>40% off at $12.99</strong> with promo code: <strong>407DITPU</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WlH0kW">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WqqC2r"><img src="https://m.media-amazon.com/images/I/61lPHKegOcL._SR400,400_.jpg" alt="Wooden Table" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WqqC2r">LANGRIA Bedside Table Nightstand End Table with Fabric Storage Drawer Pine Wooden Table</a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.99</span><span class="ori_price">$59.99</span></address>
      <p><span>Take <strong>20% off at $59.99</strong> with promo code: <strong>20PZW1JX</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WqqC2r">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="3.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2W7OXeg"><img src="https://m.media-amazon.com/images/I/71Cm0HlrooL._SR400,400_.jpg" alt="Elastic No Tie Shoelaces" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2W7OXeg">Elastic No Tie Shoelaces - No Tie Laces With Reflective Shoe String for Sneakers, kids and adults</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.74</span><span class="ori_price">$7.48</span></address>
      <p><span>Take <strong>50% off at $7.48</strong> with promo code: <strong>50V5PKHJ</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2W7OXeg">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="71.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ErBR0b"><img src="https://m.media-amazon.com/images/I/61a8NT5lz1L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ErBR0b">3-Axis Gimbal Stabilizer for iPhone X XR XS Smartphone Vlog Youtuber Live Video Record with Sport Inception Mode Face Object Tracking Motion...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$71.20</span><span class="ori_price">$89.00</span></address>
      <p><span>Take <strong>20% off at $89.00</strong> with promo code: <strong>20OFFHOHEM</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ErBR0b">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K2IbiD"><img src="https://images-na.ssl-images-amazon.com/images/I/512y4pwByaL._SX679_.jpg" alt="Htterino Projection Alarm Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K2IbiD">Htterino Projection Alarm Clock Bluetooth Speaker with Wireless Charging DIY Ringtone,One-Click Snooze,Bluetooth Call Speaker</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.99</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>50% off at $49.99</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K2IbiD">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JYGC50"><img src="https://m.media-amazon.com/images/I/61QtxEu2TzL._SR400,400_.jpg" alt="Simple Drink BPA Free Metal Insulated Water Bottle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JYGC50">Simple Drink BPA Free Metal Insulated Water Bottle | Reusable Stainless Steel Flask with Portable Strong Cap for Sports Travel, Leak Proof</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$20.99</span></address>
      <p><span>Take <strong>40% off at $20.99</strong> with promo code: <strong>40YA6CF1</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JYGC50">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M5smu3"><img src="https://m.media-amazon.com/images/I/612ag0xtR9L._SR400,400_.jpg" alt="TopOne Aptx Low Latency Audio Transmitter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M5smu3">TopOne Aptx Low Latency Audio Transmitter for TV PC Headphones,Bluetooth V4.1 Transmitter and Receiver,2 in 1 Wireless Audio Adapter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$49.99</span></address>
      <p><span>Take <strong>60% off at $49.99</strong> with promo code: <strong>60DPQ9VT</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M5smu3">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="41.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30IVISn"><img src="https://m.media-amazon.com/images/I/41p7eDrI8kL._SR400,400_.jpg" alt="Yinyoo V2 in Ear Metal Earphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30IVISn">Yinyoo V2 in Ear Metal Earphones Dynamic Driver 1DD HiFi Bass Earbuds Headphones Noise Cancelling Earphones </a></p>
    <div class="code_high">
      <address><span class="dis_price">$41.65</span><span class="ori_price">$49.00</span></address>
      <p><span>Take <strong>15% off at $49.00</strong> with promo code: <strong>152RYY4W</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30IVISn">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="75.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YRP4rb"><img src="https://m.media-amazon.com/images/I/71np+rB0EtL._SR400,400_.jpg" alt="JUMO CYLY Business Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YRP4rb">JUMO CYLY Business Laptop Backpack Water Resistant Anti-Theft College Backpack with USB Charging Port Slim Laptop Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$75.64</span><span class="ori_price">$88.99</span></address>
      <p><span>Take <strong>15% off at $88.99</strong> with promo code: <strong>15Y8B3WT</strong></span></p>
      <span class="ex_date">Expiration Date : May 24, 2019 at 03:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YRP4rb">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="16.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M7hY4S"><img src="https://m.media-amazon.com/images/I/6119OWqFoyL._SR400,400_.jpg" alt="BassPal Portable Bluetooth Speakers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M7hY4S">BassPal Portable Bluetooth Speakers, Small True Wireless Stereo (TWS) Speaker with Radio, IPX5 Waterproof</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.49</span><span class="ori_price">$32.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $32.99</strong> with promo code: <strong>50R7RTVD</strong></span></p>
      <span class="ex_date">Expiration Date : May 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M7hY4S">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="3.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M5tgqr"><img src="https://m.media-amazon.com/images/I/71J3raHn9AL._SR400,400_.jpg" alt="Iksnail Earbud Earphone Headphone Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M5tgqr">Iksnail Earbud Earphone Headphone Case Small Mini Storage Carrying Pouch Travel Organizer Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.99</span><span class="ori_price">$9.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>60% off at $9.99</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M5tgqr">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M8u1iA"><img src="https://m.media-amazon.com/images/I/51KbnTgBKSL._SR400,400_.jpg" alt="AOGUERBE Digital Alarm Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M8u1iA">AOGUERBE Digital Alarm Clock, LED 6.5" Large Digit Mirror Clock Dual USB Charging Ports, Adjustable Brightness, Big Snooze Button</a></p>
    <div class="code_high">
      <address><span class="dis_price">$2.59</span><span class="ori_price">$17.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $17.99</strong> with promo code: <strong>30SCSZZX</strong></span></p>
      <span class="ex_date">Expiration Date : May 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M8u1iA">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EwnjfZ"><img src="https://m.media-amazon.com/images/I/61fO2DGyeOL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EwnjfZ">Wireless Earbuds, 5.0 True Wireless Bluetooth Headphones 3D Stereo Sound Wireless Headphones Mini Sweatproof Sport Headsets in-Ear Noise</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>50LFJUW6</strong></span></p>
      <span class="ex_date">Expiration Date : May 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EwnjfZ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="55.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YIdvqI"><img src="https://m.media-amazon.com/images/I/61PedOVUl7L._SR400,400_.jpg" alt="Mirror Dash Cam Car Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YIdvqI">Mirror Dash Cam Car Camera,AKASO Backup Camera 1080P Dual Dash Cam for Cars with 32GB Card 7" Touch Screen Rearview Mirror Dashcam</a></p>
    <div class="code_high">
      <address><span class="dis_price">$55.99</span><span class="ori_price">$79.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $79.99</strong> with promo code: <strong>30J4839L</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YIdvqI">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="19.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K2ioXE"><img src="https://m.media-amazon.com/images/I/51zK5jWCofL._SR400,400_.jpg" alt="Power Bank" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K2ioXE">CORNMI Power Bank 20000mAh Portable Charger Battery Pack USB Charger Bank High Capacity External Battery Compatible</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.79</span><span class="ori_price">$32.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>40% off at $32.99</strong> with promo code: <strong>40POWERBANK</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K2ioXE">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30FkSkG"><img src="https://m.media-amazon.com/images/I/718mOVOmhIL._SR400,400_.jpg" alt="ELLESYE Wireless Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30FkSkG">ELLESYE Wireless Charger, 3-Coil Qi Wireless Charging Stand </a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>25% off at $17.99</strong> with promo code: <strong>25RMKMZ2</strong></span></p>
      <span class="ex_date">Expiration Date : May 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30FkSkG">Use Code</a>
  </div>
</div>


<div class="card clearfix" data-score="50" data-price="5.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EFU9LF"><img src="https://m.media-amazon.com/images/I/51lfCsKLrgL._SR400,400_.jpg" alt="SPORTLINK Outlet Wall Mount Hanger Holder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EFU9LF">SPORTLINK Outlet Wall Mount Hanger Holder for 3rd Gen & Huawei AI, Compact Bracket Case Plug in Kitchen Bathroom Bedroom</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.49</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>50% off at $10.99</strong> with promo code: <strong>5057K7HH</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EFU9LF">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="65" data-price="6.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WhwgE4"><img src="https://m.media-amazon.com/images/I/61O+VYsb4BL._SR400,400_.jpg" alt="Travel Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WhwgE4">Travel Adapter, SYOSIN International Travel Adapter, USB Wall Charger, USB Wall Plug Adapter, International Power Adapter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.64</span><span class="ori_price">$18.99</span></address>
      <p><span>Take <strong>65% off at $18.99</strong> with promo code: <strong>65ZWME66</strong></span></p>
      <span class="ex_date">Expiration Date : May 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WhwgE4">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2wcSKYf"><img src="https://m.media-amazon.com/images/I/51MHlXjhj+L._SR400,400_.jpg" alt="Portable Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2wcSKYf">Luxtude PowerEasy 5000mAh Ultra Slim Portable Charger for iPhone, Apple Certified Power Bank with Built in Lightning Cable, Fast Charging External Battery Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.49</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>15% off at $29.99</strong> with promo code: <strong>15LUXTUDE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2wcSKYf">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="5.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WkTBVw"><img src="https://m.media-amazon.com/images/I/51gVq1LP8jL._SR400,400_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WkTBVw">Bluetooth Headphones, Wireless Bluetooth 4.1 Aptx Stereo Magnetic Earbuds Snug Fit for Sports with Built in Mic BT-519 Earphone</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.98</span><span class="ori_price">$13.29</span></address>
      <p><span>Take <strong>55% off at $13.29</strong> with promo code: <strong>55TG263E</strong></span></p>
      <span class="ex_date">Expiration Date : May 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WkTBVw">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="45.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2weGczs"><img src="https://m.media-amazon.com/images/I/61Dhg6WhKrL._SR400,400_.jpg" alt="InstaBox W33 Wireless Charging Alarm Clock Radio" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2weGczs">InstaBox W33 Wireless Charging Alarm Clock Radio, Work with Bluetooth, Dual Speakers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$45.49</span><span class="ori_price">$64.99</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $64.99</strong> with promo code: <strong>30JZ5TIA</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2weGczs">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="68" data-price="16.63">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WmKDXG"><img src="https://m.media-amazon.com/images/I/61mWEjWxB3L._SR400,400_.jpg" alt="Sleeping Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em></span>
    <p><a target="_blank" href="https://amzn.to/2WmKDXG">Track Man 2 Person Self-Inflating Sleeping Pad, Lightweight, for Outdoor Camping, Hiking, Backpacking, Traveling</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.63</span><span class="ori_price">$51.99</span></address>
      <p><span>Take <strong>68% off at $51.99</strong> with promo code: <strong>68QLWCTN</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WmKDXG">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="71.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30FkoLf"><img src="https://m.media-amazon.com/images/I/71beO9uKtJL._SR400,400_.jpg" alt="Zomei Z668 Professional DSLR Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30FkoLf">Zomei Z668 Professional DSLR Camera Fluid Head Tripod Monopod with Tripod Ball Head Travel Bag Compact Lightweight</a></p>
    <div class="code_high">
      <address><span class="dis_price">$71.99</span><span class="ori_price">$89.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $89.99</strong> with promo code: <strong>20JU95H4</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30FkoLf">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YR3fNb"><img src="https://m.media-amazon.com/images/I/71fru7OM5WL._SR400,400_.jpg" alt="Bike Light Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YR3fNb">Bike Light Set - Powerful Lumens LED Bicycle Headlight & TAIL LIGHT - Water Resistant - Easy Tool-Free Installation - 500 Feet Visibility</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$19.97</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>70% off at $19.97</strong> with promo code: <strong>702UV5NM</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YR3fNb">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="84.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EtUEYK"><img src="https://m.media-amazon.com/images/I/81CxKycg2PL._SR400,400_.jpg" alt="Security Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EtUEYK">Toucan Outdoor Wireless Wifi Security Camera, Motion Alert, Waterproof, Powered by Light Fixture / USB Charger Outlet, Video Downloadable</a></p>
    <div class="code_high">
      <address><span class="dis_price">$84.95</span><span class="ori_price">$99.95</span></address>
      <p><span>Take <strong>15% off at $99.95</strong> with promo code: <strong>15TOUCANHOME</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EtUEYK">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="65" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EtKJ5Q"><img src="https://m.media-amazon.com/images/I/71M0Jk9LkgL._SR400,400_.jpg" alt="Spring Assisted Knife" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EtKJ5Q">Spring Assisted Knife -Pocket Folding Knife - Military Style - Boy Scouts Knife - Tactical Knife - Good Survival Knife for Camping and Outdoor Activities</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$37.99</span></address>
      <p><span>Take <strong>65% off at $37.99</strong> with promo code: <strong>65BN1WHR</strong></span></p>
      <span class="ex_date">Expiration Date : May 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EtKJ5Q">Use Code</a>
  </div>
</div>


