<div class="st_warp">
  <div class="st_left clearfix">

    <h2>LEFT DEALS & SALES</h2>
    <div class="st_box clearfix">
      <div class="st_image"><img src="https://pbs.twimg.com/profile_images/715852271389655041/s-VdeDI5_400x400.jpg" alt="" title=""></div>
      <div class="inner">
        <p>Ann Taylor |세일 신발 추가 40%~60% off</p>
        <span>Extra 40%~60% off Sale Shoes</span>
      </div>
    </div>

    <div class="st_box clearfix">
      <div class="st_image"><img src="https://pbs.twimg.com/profile_images/715852271389655041/s-VdeDI5_400x400.jpg" alt="" title=""></div>
      <div class="inner">
        <p>Ann Taylor |세일 신발 추가 40%~60% off</p>
        <span>Extra 40%~60% off Sale Shoes</span>
      </div>
    </div>

    <div class="st_box clearfix">
      <div class="st_image"><img src="https://pbs.twimg.com/profile_images/715852271389655041/s-VdeDI5_400x400.jpg" alt="" title=""></div>
      <div class="inner">
        <p>Ann Taylor |세일 신발 추가 40%~60% off</p>
        <span>Extra 40%~60% off Sale Shoes</span>
      </div>
    </div>

    <div class="st_box clearfix">
      <div class="st_image"><img src="https://pbs.twimg.com/profile_images/715852271389655041/s-VdeDI5_400x400.jpg" alt="" title=""></div>
      <div class="inner">
        <p>Ann Taylor |세일 신발 추가 40%~60% off</p>
        <span>Extra 40%~60% off Sale Shoes</span>
      </div>
    </div>

  </div>

  <div class="st_right">
    
    <h2>RIGHT DEALS & SALES</h2>
    <div class="st_box clearfix">
      <div class="st_image"><img src="https://pbs.twimg.com/profile_images/715852271389655041/s-VdeDI5_400x400.jpg" alt="" title=""></div>
      <div class="inner">
        <p>Ann Taylor |세일 신발 추가 40%~60% off</p>
        <span>Extra 40%~60% off Sale Shoes</span>
      </div>
    </div>

    <div class="st_box clearfix">
      <div class="st_image"><img src="https://pbs.twimg.com/profile_images/715852271389655041/s-VdeDI5_400x400.jpg" alt="" title=""></div>
      <div class="inner">
        <p>Ann Taylor |세일 신발 추가 40%~60% off</p>
        <span>Extra 40%~60% off Sale Shoes</span>
      </div>
    </div>

    <div class="st_box clearfix">
      <div class="st_image"><img src="https://pbs.twimg.com/profile_images/715852271389655041/s-VdeDI5_400x400.jpg" alt="" title=""></div>
      <div class="inner">
        <p>Ann Taylor |세일 신발 추가 40%~60% off</p>
        <span>Extra 40%~60% off Sale Shoes</span>
      </div>
    </div>

    <div class="st_box clearfix">
      <div class="st_image"><img src="https://pbs.twimg.com/profile_images/715852271389655041/s-VdeDI5_400x400.jpg" alt="" title=""></div>
      <div class="inner">
        <p>Ann Taylor |세일 신발 추가 40%~60% off</p>
        <span>Extra 40%~60% off Sale Shoes</span>
      </div>
    </div>

  </div>
</div>