<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NBMRh4"><img src="https://m.media-amazon.com/images/I/61oTb4wY46L._SR400,400_.jpg" alt="TOOGE Pet Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NBMRh4">TOOGE Pet Camera, Dog Camera FHD Pet Monitor Indoor Cat Camera Night Vision 2 Way Audio and Motion Detection(Updated)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span>
         <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
         <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50TUN9CO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50TUN9CO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NBMRh4">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="34.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/341otLx"><img src="https://m.media-amazon.com/images/I/81+3vO3v+FL._SR400,400_.jpg" alt="SNAILAX Cooling Car Seat Cushion" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/341otLx">SNAILAX Cooling Car Seat Cushion - Heated Seat Cushion with 2 Levels 2 Heating Pads,Car Seat Cooler with 3 Car Fan Speeds,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.19</span><span class="ori_price">$56.98</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40SL29A8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $56.98</strong> with promo code: <strong class="m_codes">40SL29A8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/341otLx">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zz5pRC"><img src="https://m.media-amazon.com/images/I/61hOkn+TJjL._SR400,400_.jpg" alt="Wireless Earbuds Bluetooth 5.0 Earbuds Headphone" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zz5pRC">Wireless Earbuds Bluetooth 5.0 Earbuds Headphone IPX8 Waterproof Bluetooth Headphones Built-in Microphone True Wireless Earbuds...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50PA1DA8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50PA1DA8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zz5pRC">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="14.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZxQozv"><img src="https://m.media-amazon.com/images/I/61SPD7FdMFL._SR400,400_.jpg" alt="AINOPE Car Vacuum Cleaner" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZxQozv">AINOPE Car Vacuum Cleaner, 5000PA High Power Stronger Suction Car Vacuum DC 12V/ 90W Handheld Auto Car Cleaner...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.00</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">60TVTNWX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $34.99</strong> with promo code: <strong class="m_codes">60TVTNWX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZxQozv">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="51" data-price="6.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HtcpZV"><img src="https://m.media-amazon.com/images/I/51Ig0b4cpYL._SR400,400_.jpg" alt="AmbrellaOK Compact Travel Umbrella" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HtcpZV">AmbrellaOK Compact Travel Umbrella-Windproof with Fast Drying Teflon Coating, Auto Open/Close, Black Umbrellas for Women and Men</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.37</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">51ZV775M</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $12.99</strong> with promo code: <strong class="m_codes">51ZV775M</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HtcpZV">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="10.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZvTN1q"><img src="https://m.media-amazon.com/images/I/612RFcif7iL._SR400,400_.jpg" alt="Sonic Toothbrush Electric" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZvTN1q">Sonic Toothbrush Electric Rechargeable Built in 2-Min Timer USB Charging 60 Days Use Waterproof IPX 7 with Soft Bristles...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.65</span><span class="ori_price">$35.49</span></address>
      <textarea readonly="readonly" class="code_area">70TX21SW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $35.49</strong> with promo code: <strong class="m_codes">70TX21SW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZvTN1q">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="26.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZwgG4W"><img src="https://m.media-amazon.com/images/I/81WRX1AZT1L._SR400,400_.jpg" alt="Vega Sport Protein Powder" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZwgG4W">Vega Sport Protein Powder Mocha (19 Servings, 28.6 Ounce) - Plant-Based Vegan Protein Powder, BCAAs, Amino Acid, tart cherry,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.59</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">30BTSVSPORT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $39.99</strong> with promo code: <strong class="m_codes">30BTSVSPORT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZwgG4W">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/323PKLA"><img src="https://m.media-amazon.com/images/I/71VRZ9q+sHL._SR400,400_.jpg" alt="Mossy Oak Tactical Folding Knife" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/323PKLA">Mossy Oak Tactical Folding Knife, Stainless Steel Pocket Knife - EDC Multi-Tool with Bottle Opener and Glass Breaker</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">60NDF1WO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $14.99</strong> with promo code: <strong class="m_codes">60NDF1WO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/323PKLA">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="22.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZtRXyf"><img src="https://m.media-amazon.com/images/I/81V+zUXBdCL._SR400,400_.jpg" alt="Modelones Poly Nail Gel Kit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZtRXyf">Modelones Poly Nail Gel Kit Mini French Enhancement Builder Color Changing Acrylic Extension for Travel - Including 4 Colors,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.39</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">203VKGR5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $27.99</strong> with promo code: <strong class="m_codes">203VKGR5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZtRXyf">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Htkdel"><img src="https://m.media-amazon.com/images/I/612RjBTlcTL._SR400,400_.jpg" alt="Comfort & Relax Memory Foam Contour Pillow" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Htkdel">Comfort & Relax Memory Foam Contour Pillow for Neck Pain, Gel-Infused AirCell-tech Foam, Standard, 2-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.00</span><span class="ori_price">$59.99</span></address>
      <textarea readonly="readonly" class="code_area">6020HG03</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $59.99</strong> with promo code: <strong class="m_codes">6020HG03</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Htkdel">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="22.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L6CYVO"><img src="https://m.media-amazon.com/images/I/61OG4S3oJLL._SR400,400_.jpg" alt="Wireless Earphones Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2L6CYVO">Wireless Earphones Bluetooth Headphones 100H Play time Deep Bass Stereo Sound Wireless Headphones Built-in Mic IPX8 Waterproof Bluetooth...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.49</span><span class="ori_price">$44.98</span></address>
      <textarea readonly="readonly" class="code_area">50PJNDHV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $44.98</strong> with promo code: <strong class="m_codes">50PJNDHV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2L6CYVO">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="15.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ztbz9U"><img src="https://m.media-amazon.com/images/I/71zdZUTg8lL._SR400,400_.jpg" alt="iWALK Mini Portable Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ztbz9U">iWALK Mini Portable Charger with Built in Plug, 3350mAh Ultra-Compact Power Bank External Battery Pack Charger Compatible ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.59</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40DS3350</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $25.99</strong> with promo code: <strong class="m_codes">40DS3350</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Ztbz9U">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zkl64n"><img src="https://m.media-amazon.com/images/I/71fd6LNylRL._SR400,400_.jpg" alt="Toaster 2 Slice AICOK Extra-Wide Slots Stainless Steel Toasters" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zkl64n">Toaster 2 Slice AICOK Extra-Wide Slots Stainless Steel Toasters with Bagel Defrost Cancel Function, 7 Toast Shade Level, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">506YUZLF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">506YUZLF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zkl64n">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="17.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Huubfr"><img src="https://m.media-amazon.com/images/I/718rK1Obs1L._SR400,400_.jpg" alt="Wireless Earbuds Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Huubfr">Wireless Earbuds Bluetooth Headphones Mini Binaural Waterproof 60H Cycle Play Time Bluetooth 5.0 Auto Pairing in-Ear Earphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.20</span><span class="ori_price">$42.99</span></address>
      <textarea readonly="readonly" class="code_area">60ZTXPWF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $42.99</strong> with promo code: <strong class="m_codes">60ZTXPWF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 29, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Huubfr">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="13.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/324X0Xv"><img src="https://m.media-amazon.com/images/I/71fUTSxj3vL._SR400,400_.jpg" alt="Charging Station" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/324X0Xv">Charging Station for Multiple Devices 3 in 1 Docking Station 4 USB Ports and 2 Outlet Surge Protector Power Strip Holder Fast Charging Organizer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.50</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">5520190823</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $29.99</strong> with promo code: <strong class="m_codes">5520190823</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/324X0Xv">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="209.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zh05H3"><img src="https://m.media-amazon.com/images/I/61q8jJp2ZlL._SR400,400_.jpg" alt="TOMOLOO Hoverboard with Bluetooth Speaker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zh05H3">TOMOLOO Hoverboard with Bluetooth Speaker UL2272 Certified Self Balancing Electric Scooter 6.5" Two-Wheel Hover Boards...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$209.99</span><span class="ori_price">$299.99</span></address>
      <textarea readonly="readonly" class="code_area">30OFCXWM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $299.99</strong> with promo code: <strong class="m_codes">30OFCXWM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zh05H3">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="31.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZxrVtL"><img src="https://m.media-amazon.com/images/I/51w1G9ZyQKL._SR400,400_.jpg" alt="Mofek Hidden Camera Power Bank" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZxrVtL">Mofek Hidden Camera Power Bank with Gravity Sensor, Motion Detection, Night Vision, 8000mAh HD 1080P Spy Camera Nanny Cam ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.50</span><span class="ori_price">$62.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50RS5OV4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $62.99</strong> with promo code: <strong class="m_codes">50RS5OV4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 29, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZxrVtL">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="15.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZqSbpF"><img src="https://m.media-amazon.com/images/I/61VFLVlU+eL._SR400,400_.jpg" alt="Rlandto Lightweight School Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZqSbpF">Rlandto Lightweight School Backpack, Water Resistant Classic College Bookbag Laptop Backpack Casual Daypack for Boys Girls</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.19</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">20JU92VQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $18.99</strong> with promo code: <strong class="m_codes">20JU92VQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZqSbpF">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="17.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/323jCYz"><img src="https://m.media-amazon.com/images/I/61S+PwM6ueL._SR400,400_.jpg" alt="CHENGDAO Mobile Smartphone Gaming Controller" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/323jCYz">CHENGDAO Mobile Smartphone Gaming Controller Wireless Compatible iPhone,iPad,iOS,Android,Tablet - V018</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.00</span><span class="ori_price">$33.99</span></address>
      <textarea readonly="readonly" class="code_area">50WMEZB3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $33.99</strong> with promo code: <strong class="m_codes">50WMEZB3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 27, 2019 at 04:00 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/323jCYz">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="9.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3207HdU"><img src="https://m.media-amazon.com/images/I/61Q+nha3SCL._SR400,400_.jpg" alt="Personal Mini Waist Fan" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3207HdU">Personal Mini Waist Fan, Outdoor Fans, Waist Cooling Fan, Electric Clip On Waist Fan with 2500mAh Rechargeable Battery, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.74</span><span class="ori_price">$19.49</span></address>
      <textarea readonly="readonly" class="code_area">50BUAZM7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.49</strong> with promo code: <strong class="m_codes">50BUAZM7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3207HdU">Use Code at Amazon</a></div>
</div>
 
