<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z6qNlD"><img src="https://images-na.ssl-images-amazon.com/images/I/71Kiz%2BRzZBL._SX679_.jpg" alt="USB C Wall Charger with Quick Charge 3.0" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z6qNlD">USB C Wall Charger with Quick Charge 3.0, 40W 5 Port USB Type-C Desktop Charging Station for Home, Office,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span></address>
      <textarea readonly="readonly" class="code_area">50K7MX4K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $23.99</strong> with promo code: <strong class="m_codes">50K7MX4K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z6qNlD">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="65" data-price="10.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z6ah5f"><img src="https://m.media-amazon.com/images/I/51Wm7ujvQAL._SR400,400_.jpg" alt="FM Transmitter Wireless Bluetooth FM Transmitter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z6ah5f">FM Transmitter Wireless Bluetooth FM Transmitter Car Kit Radio Receiver with 5V/2.1A USB Charger Output Support USB Flash Driver...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.50</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">654N8GFD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $29.99</strong> with promo code: <strong class="m_codes">654N8GFD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z6ah5f">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="65" data-price="6.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TU5y0L"><img src="https://m.media-amazon.com/images/I/61AlhVy0BhL._SR400,400_.jpg" alt="Aptx Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TU5y0L">Aptx Bluetooth Headphones, Mini In Ear Bluetooth 4.1 AptX Stereo Magnetic Wireless Earbuds Snug Fit for Sports...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.65</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">658XVU1U</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $18.99</strong> with promo code: <strong class="m_codes">658XVU1U</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2TU5y0L">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="25" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zaetkc"><img src="https://m.media-amazon.com/images/I/81cywYam7jL._SR400,400_.jpg" alt="Travel Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zaetkc">Travel Laptop Backpack, Business Anti Theft Slim Durable Laptops Backpack with USB Charging Port,Water Resistant College School...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$31.99</span></address>
      <textarea readonly="readonly" class="code_area">25MATEIN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $31.99</strong> with promo code: <strong class="m_codes">25MATEIN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Zaetkc">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZtN50h"><img src="https://m.media-amazon.com/images/I/61KWqtfrcqL._SR400,400_.jpg" alt="Convertible Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZtN50h">Convertible Laptop Backpack, Titita Business Travel Bag Shoulder Bag Water Resistant & Anti-Theft Multi-Functional School ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">60I42RFL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $49.99</strong> with promo code: <strong class="m_codes">60I42RFL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZtN50h">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="34.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HjJ6Jo"><img src="https://m.media-amazon.com/images/I/61B8jh0XUQL._SR400,400_.jpg" alt="USB C Hub" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HjJ6Jo">USB C Hub, ALCLAP 8-in-1 USB C Hub Type C to 4K HDMI Adapter Dock with Gigabit Ethernet, 3 USB 3.0 Ports,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.29</span><span class="ori_price">$48.99</span></address>
      <textarea readonly="readonly" class="code_area">30JAE2PO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $48.99</strong> with promo code: <strong class="m_codes">30JAE2PO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HjJ6Jo">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="23" data-price="53.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Srigb"><img src="https://m.media-amazon.com/images/I/6113eSg35sL._SR400,400_.jpg" alt="Circular Saw 1800w" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Srigb">Circular Saw 1800w, Meterk 15Amp 7-1/2" Circular Saw with Laser Guide, 4700RPM with 2 Pcs Cutting Blades 24T+40T plus 1 Hex Wrench,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$53.89</span><span class="ori_price">$69.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">23AAASAW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>23% off at $69.99</strong> with promo code: <strong class="m_codes">23AAASAW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Srigb">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="17.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/320G70h"><img src="https://m.media-amazon.com/images/I/71APNhHHzpL._SR400,400_.jpg" alt="LE LED Headlamp Flashlight" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/320G70h">LE LED Headlamp Flashlight, Headlight with Red Light, Water Resistance, Adjustable for Kids and Adults, Perfect Head Light...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.49</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">3092E5CC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $24.99</strong> with promo code: <strong class="m_codes">3092E5CC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/320G70h">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NqS8rI"><img src="https://m.media-amazon.com/images/I/816rrB1cVuL._SR400,400_.jpg" alt="Idefair Travel Wallet" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NqS8rI">Idefair Travel Wallet, RFID Blocking Family Passport Holder for Women and Men Zipper Document Organizer with Note Book - Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">308UFAK9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $12.99</strong> with promo code: <strong class="m_codes">308UFAK9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NqS8rI">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="51" data-price="63.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z3Rl70"><img src="https://m.media-amazon.com/images/I/71+JKKAnfoL._SR400,400_.jpg" alt="Neewer Ring Light Kit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z3Rl70">Neewer Ring Light Kit:18"/48cm Outer 55W 5500K Dimmable LED Ring Light, Light Stand, Carrying Bag for Camera,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$63.70</span><span class="ori_price">$129.99</span></address>
      <textarea readonly="readonly" class="code_area">51NWRL18</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>51% off at $129.99</strong> with promo code: <strong class="m_codes">51NWRL18</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z3Rl70">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="6.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TSzAlq"><img src="https://m.media-amazon.com/images/I/71LaVsfI8PL._SR400,400_.jpg" alt="SkyGenius 10x25 Compact Binoculars" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TSzAlq">SkyGenius 10x25 Compact Binoculars for Bird Watching, High Powered Binoculars Pocket Size for Theater, Concerts,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.44</span><span class="ori_price">$18.39</span></address>
      <textarea readonly="readonly" class="code_area">65QSWUC4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $18.39</strong> with promo code: <strong class="m_codes">65QSWUC4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2TSzAlq">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zaEpgr"><img src="https://m.media-amazon.com/images/I/61fynU6Hj+L._SR400,400_.jpg" alt="Milk Frother" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zaEpgr">Milk Frother, Electric Foam Maker, Automatic Hot Cold Milk Steamer for Coffee, Cappuccino and Macchiato (White)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.50</span><span class="ori_price">$32.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">508V5IFD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $32.99</strong> with promo code: <strong class="m_codes">508V5IFD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zaEpgr">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33UtWUC"><img src="https://m.media-amazon.com/images/I/51OoDZr9HnL._SR400,400_.jpg" alt="Youdgee Meat Thermometer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33UtWUC">Youdgee Meat Thermometer, Digital Instant Read Cooking Food Thermometer for Grill, BBQ, Kitchen, Candy, Milk, Tea</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50VDKAV2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $13.99</strong> with promo code: <strong class="m_codes">50VDKAV2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/33UtWUC">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="20.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZjLSnZ"><img src="https://m.media-amazon.com/images/I/61lToHQUN0L._SR400,400_.jpg" alt="Electric Hand Mixer with Turbo" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZjLSnZ">Electric Hand Mixer with Turbo, 5 Speed Hand Beater Kitchen Mixer with 2 Wider Beaters, 2 Dough Hooks and Storage Case</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.39</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">402DH3JP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $39.99</strong> with promo code: <strong class="m_codes">402DH3JP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZjLSnZ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31VGQj6"><img src="https://m.media-amazon.com/images/I/61oWDfFHzLL._SR400,400_.jpg" alt="YOLIFE Tea Cups Display Stand" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31VGQj6">YOLIFE Tea Cups Display Stand, Tea Cups Rack, Can Hold Up 6 cups, 6 Saucers, 6 spoon, Can be disassemble, Black Metal Rack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">50E55AT5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">50E55AT5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31VGQj6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.73">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HhXIZw"><img src="https://m.media-amazon.com/images/I/61hFOjoZUHL._SR400,400_.jpg" alt="Gift-Hero Compatible with Airpods" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HhXIZw">Gift-Hero Compatible with Airpods 1&2 Soft Silicone Cute Case, Cartoon 3D Fun Animal Funny Cool Kawaii Designer Kits...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.73</span><span class="ori_price">$12.88</span></address>
      <textarea readonly="readonly" class="code_area">40Z67MG2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $12.88</strong> with promo code: <strong class="m_codes">40Z67MG2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 22, 2019 at 09:00 AM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HhXIZw">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zf7Hui"><img src="https://m.media-amazon.com/images/I/51h4HgRXngL._SR400,400_.jpg" alt="Travel Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zf7Hui">Travel Adapter, FIREOR Universal International Power Adapter with Smart High Speed 2.4A 4 USB Wall Charger,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">30QXVHQN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $17.99</strong> with promo code: <strong class="m_codes">30QXVHQN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zf7Hui">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="25" data-price="27.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z6w7FD"><img src="https://m.media-amazon.com/images/I/617TOrxN17L._SR400,400_.jpg" alt="True Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z6w7FD">True Wireless Earbuds, SOUNDSOUL Bluetooth 5.0 Earphones with Total 35H Playtime Stereo Sound, Built-in Mic in-Ear Headphone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.74</span><span class="ori_price">$36.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25A42ORH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $36.99</strong> with promo code: <strong class="m_codes">25A42ORH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z6w7FD">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31O0Nse"><img src="https://m.media-amazon.com/images/I/71Wq8PggxOL._SR400,400_.jpg" alt="Otium Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31O0Nse">Otium Noise Cancelling Headphones, Wireless Headphones Over Ear Bluetooth Headphones with Mic Deep Bass, Foldable Comfortable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$34.99</span><span class="ori_price">$69.99</span></address>
      <textarea readonly="readonly" class="code_area">50HLRFH9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $69.99</strong> with promo code: <strong class="m_codes">50HLRFH9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31O0Nse">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="52" data-price="10.56">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z6wCiZ"><img src="https://m.media-amazon.com/images/I/61u7dhB2lpL._SR400,400_.jpg" alt="BioEmblem CoQ10 with BioPerine" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z6wCiZ">BioEmblem CoQ10 with BioPerine | Natural Form, Non-GMO | Superior Absorption | Coenzyme Q10 Supports Heart Health ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.56</span><span class="ori_price">$21.99</span></address>
      <textarea readonly="readonly" class="code_area">52TU82OL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>52% off at $21.99</strong> with promo code: <strong class="m_codes">52TU82OL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z6wCiZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZklSZx"><img src="https://m.media-amazon.com/images/I/71n5krU3tbL._SR400,400_.jpg" alt="VASKER Makeup Case Travel Cosmetic Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZklSZx">VASKER Makeup Case Travel Cosmetic Bag Leather Organizer Bag with Adjustable Divider Storage Case for Girl and Women </a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40J7BBI6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40J7BBI6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZklSZx">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="10.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZbWCJW"><img src="https://m.media-amazon.com/images/I/612RFcif7iL._SR400,400_.jpg" alt="Sonic Electric Toothbrush " /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZbWCJW">Sonic Toothbrush Electric Rechargeable Built in 2-Min Timer USB Charging 60 Days Use Waterproof IPX 7 with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.65</span><span class="ori_price">$35.49</span></address>
      <textarea readonly="readonly" class="code_area">70TX21SW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $35.49</strong> with promo code: <strong class="m_codes">70TX21SW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZbWCJW">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="19.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KNYsb7"><img src="https://m.media-amazon.com/images/I/71wsrO0EDEL._SR400,400_.jpg" alt="YJY 300mL Aromatherapy Essential Oil Diffuser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KNYsb7">YJY 300mL Aromatherapy Essential Oil Diffuser, Ultrasonic 10 Hours Cool Mist Humidifiers,Waterless Auto Shut-off Timer...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.59</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">3044S22C</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $27.99</strong> with promo code: <strong class="m_codes">3044S22C</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KNYsb7">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="3.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Znzinv"><img src="https://m.media-amazon.com/images/I/71Q6U2CmGIL._SR400,400_.jpg" alt="Makeup Blender Beauty" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Znzinv">Makeup Blender Beauty, Foundation Blending Sponge, Flawless for Liquid, Creams, Blending Cosmetic,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.59</span><span class="ori_price">$5.99</span></address>
      <textarea readonly="readonly" class="code_area">40ER43XM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $5.99</strong> with promo code: <strong class="m_codes">40ER43XM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 23, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Znzinv">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="9.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZaWs5p"><img src="https://m.media-amazon.com/images/I/71waTfAb9UL._SR400,400_.jpg" alt="Ionlyou 30pcs Scrunchies" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZaWs5p">Ionlyou 30pcs Scrunchies for Hair, 20pcs Velvet Scrunchies& 5pcs Chiffon Pontail Elastics Bobbles & 5pcs Leopard Hair Ties,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.74</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">35FN6K6E</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $14.99</strong> with promo code: <strong class="m_codes">35FN6K6E</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZaWs5p">Use Code at Amazon</a></div>
</div>
 