<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="70" data-price="7.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HKRGRY"><img src="https://m.media-amazon.com/images/I/61730ddwjlL._SR400,400_.jpg" alt="Essential Oil Diffuser" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HKRGRY">Essential Oil Diffuser, Aroma Essential Oil Cool Mist Humidifier with Adjustable Mist Mode and Waterless Auto Shut-off</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.80</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>70% off at $25.99</strong> with promo code: <strong>70RZCCFM</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HKRGRY">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2I9H8uF"><img src="https://m.media-amazon.com/images/I/71eK2zSyUdL._SR400,400_.jpg" alt="Travel Toiletry Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2I9H8uF">S-ZONE Canvas Travel Toiletry Bag Shaving Dopp Kit Cosmetic Makeup Bag </a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>50% off at $12.99</strong> with promo code: <strong>50V2CMY1</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2I9H8uF">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="28.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Iewi6n"><img src="https://m.media-amazon.com/images/I/61nIyz9Az3L._SR400,400_.jpg" alt="Sonic Electric Toothbrush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Iewi6n">Sonic Electric Toothbrush with 5 Modes 4 Replacement Heads 60 Days Use Rechargeable Waterproof Oral Clean</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.19</span><span class="ori_price">$46.99</span></address>
      <p><span>Take <strong>40% off at $46.99</strong> with promo code: <strong>407G6YYA</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Iewi6n">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="8.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HNTOIH"><img src="https://m.media-amazon.com/images/I/712R48VQ5OL._SR400,400_.jpg" alt="Brush Heads Replacement" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HNTOIH">Brush Heads Replacement, compatible with Philips Sonicare Electric Toothbrush,DiamondClean,</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.49</span><span class="ori_price">$16.98</span>
         <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $16.98</strong> with promo code: <strong>5095H6RJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HNTOIH">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="5" data-price="24.41">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mi94lh"><img src="https://m.media-amazon.com/images/I/41hWaIOE6uL._SR400,400_.jpg" alt="Nail Dryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>5% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mi94lh">LKE 54W Helmet Gel Nail Polish Kit with UV Light 36 Pcs LED Nail Lamp Automatic Induction Nail Dryer</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.41</span><span class="ori_price">$25.69</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>5% off at $25.69</strong> with promo code: <strong>055S2KX4</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mi94lh">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="7.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EHeDDy"><img src="https://m.media-amazon.com/images/I/81ViTh9mXwL._SR400,400_.jpg" alt="Activated Charcoal Scrub" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EHeDDy">Activated Charcoal Scrub 10 oz - For Deep Cleansing & Exfoliation - Pore Minimizer & Reduces Wrinkles, Blackhead Remover </a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.97</span><span class="ori_price">$15.95</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $15.95</strong> with promo code: <strong>50OFFCHARC</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EHeDDy">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="23.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z1sOuL"><img src="https://m.media-amazon.com/images/I/71JhXI4mObL._SR400,400_.jpg" alt="Puffy Eyes Treatment Instant results" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z1sOuL">Puffy Eyes Treatment Instant results – Naturally Eliminate Wrinkles, Puffiness, Dark Circle and Bags in Minutes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.98</span><span class="ori_price">$29.97</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $29.97</strong> with promo code: <strong>20GRBLXL</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Z1sOuL">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="5.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2I7NWbZ"><img src="https://m.media-amazon.com/images/I/71xrsVLXdeL._SR400,400_.jpg" alt="Makeup Brush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2I7NWbZ">BABI BEAR Makeup Brushes 10 PCs Makeup Brushes Set Premium Synthetic Foundation Powder Fan Concealers Eye Shadows Makeup Brush</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.85</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>55% off at $12.99</strong> with promo code: <strong>55G7XMP9</strong></span></p>
      <span class="ex_date">Expiration Date : 55G7XMP9, through 6/2 while supplies last.</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2I7NWbZ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="7.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EMV7FL"><img src="https://m.media-amazon.com/images/I/61ikLMbP+DL._SR400,400_.jpg" alt="Emergency Outdoor Survival Sleeping Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EMV7FL">Emergency Outdoor Survival Sleeping Bag Therma Bivvy, Reusable Lightweight Waterproof Emergency Bivvy with Whistle and Mini Fire Started</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.69</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>30% off at $10.99</strong> with promo code: <strong>30SVM31Q</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EMV7FL">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="13.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JNvKrt"><img src="https://m.media-amazon.com/images/I/61WJndxMdCL._SR400,400_.jpg" alt="Sport Swimming Yoga School Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JNvKrt">Sport Swimming Yoga School Backpack - Horsky Anime Leaf Shoulder Bag lightweight with Laptop...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.59</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>15% off at $15.99</strong> with promo code: <strong>15MBBHGB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JNvKrt">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="8.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EF6lw3"><img src="https://m.media-amazon.com/images/I/717NkbZTpUL._SR400,400_.jpg" alt="Precision Screwdriver Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EF6lw3">Precision Screwdriver Set, 56 Bits Magnetic 60 in 1 Driver Professional Repair Tool Kit for PC/iPhone X, 8/Smart Phone/Tablet/Xbox/Clock DIY etc</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.54</span><span class="ori_price">$17.09</span></address>
      <p><span>Take <strong>50% off at $17.09</strong> with promo code: <strong>505VMKMI</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EF6lw3">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="52" data-price="618.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MiaNaf"><img src="https://m.media-amazon.com/images/I/61juEAiNuML._SR400,400_.jpg" alt="Uktunu Computer Writing Desk" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MiaNaf">Uktunu Computer Writing Desk Children's Desk Height Adjustable Kids Student School Study Table Work Station </a></p>
    <div class="code_high">
      <address><span class="dis_price">$618.24</span><span class="ori_price">$1,288.00</span></address>
      <p><span>Take <strong>52% off at $1,288.00</strong> with promo code: <strong>52CG9LBJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MiaNaf">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="19.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JMrJDH"><img src="https://m.media-amazon.com/images/I/61Hv9GUXo5L._SR400,400_.jpg" alt="Action Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JMrJDH">Action Camera Davola 1080P WiFi Sports Camera 12MP Underwater Waterproof Camera with Wide-Angle Lens and Mounting Accessory Kits</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.95</span><span class="ori_price">$39.90</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $39.90</strong> with promo code: <strong>50MFP4QR</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JMrJDH">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HLRvFP"><img src="https://m.media-amazon.com/images/I/611g+zGlqJL._SR400,400_.jpg" alt="slashome Camera Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HLRvFP">slashome Camera Backpack, Waterproof Multi-Function Anti-Shock DSLR Camera Bag for Nikon Sony Canon SLR/DSLR Cameras Mirrorless Lens and Necessaries Small Size</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>40% off at $39.99</strong> with promo code: <strong>40K3MHTQ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HLRvFP">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="20.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WlvRBv"><img src="https://m.media-amazon.com/images/I/61uxryaNrtL._SR400,400_.jpg" alt="Huwaijianfeng Hiking Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WlvRBv">Huwaijianfeng Hiking Backpack 50L Waterproof Backpack Outdoor Sport Daypack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.89</span><span class="ori_price">$37.99</span></address>
      <p><span>Take <strong>45% off at $37.99</strong> with promo code: <strong>45FSVE5O</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WlvRBv">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30TZmZL"><img src="https://m.media-amazon.com/images/I/51M4rWRcNUL._SR400,400_.jpg" alt="BikeSpark Auto-Sensing Rear Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30TZmZL">BikeSpark Auto-Sensing Rear Light G2-20 lm Super Bright LED Bike Tail Light with 220 Degree Visibility - Auto On/Off & Deceleration Flash by Motion Sensing</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $29.99</strong> with promo code: <strong>30SAVEBKS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30TZmZL">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="149.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EJXUjc"><img src="https://m.media-amazon.com/images/I/71sCrbmlHAL._SR400,400_.jpg" alt="TOMOLOO Hoverboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EJXUjc">TOMOLOO Hoverboard with Bluetooth Speaker, UL2272 Certified Self Balancing Electric Scooter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$149.99</span><span class="ori_price">$199.99</span></address>
      <p><span>Take <strong>25% off at $199.99</strong> with promo code: <strong>25IWKWZR</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EJXUjc">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JNLlHx"><img src="https://m.media-amazon.com/images/I/71-LCQzlYUL._SR400,400_.jpg" alt="Tracker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JNLlHx">BingoFit Smart Band Activity Tracker Smart Wristband Fitness Watch IP68 Waterproof Fitness Tracker Pedometer Watch</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>60% off at $29.99</strong> with promo code: <strong>60UHK9BF</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JNLlHx">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="66.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2I849Ox"><img src="https://m.media-amazon.com/images/I/61g1xUH3EXL._SR400,400_.jpg" alt="Cat Tall Tower" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2I849Ox">52 Inch Cat Tree Kitty Condo Furniture Sisal Rope Activity Tree Cat Tall Tower Climb Holder Brown</a></p>
    <div class="code_high">
      <address><span class="dis_price">$66.00</span><span class="ori_price">$329.99</span></address>
      <p><span>Take <strong>80% off at $329.99</strong> with promo code: <strong>80XBIED1</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2I849Ox">Use Code</a>
  </div>
</div>


