<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now</a>
  </div>
</div> -->


<!-- 
<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Deal_Of_The_Day_Title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
             <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>
        
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now</a>
  </div>
</div> -->

<!-- 
<div class="tooltip_orange">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount width coupon</p>
  </div>
</div> 
-->

<div class="card clearfix" data-score="24" data-price="136.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QxLdfP"><img src="https://images-na.ssl-images-amazon.com/images/I/51%2B6z2GJyoL._SX679_.jpg" alt="Midea MAD30C1YWS Dehumidifier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QxLdfP">Midea MAD30C1YWS Dehumidifier 30 Pint with Reusable Filter, Ideal for basements, bedroom, bathroom</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$136.05</span><span class="ori_price">$179.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QxLdfP">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="299.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QwJvLL"><img src="https://images-na.ssl-images-amazon.com/images/I/416RWNSsxGL._AC_US218_.jpg" alt="Bowers & Wilkins Wireless Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QwJvLL">Bowers & Wilkins PX Active Noise Cancelling Wireless Headphones Best-in-class Sound</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.99</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QwJvLL">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="84.66">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z3IHkL"><img src="https://images-na.ssl-images-amazon.com/images/I/91h9S3Fi-JL._SX679_.jpg" alt="Hoover Vacuum Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z3IHkL">Hoover Vacuum Cleaner Linx Bagless Corded Cyclonic Lightweight Stick Vacuum SH20030</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$84.66</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Z3IHkL">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="57" data-price="29.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KfIE0P"><img src="https://images-na.ssl-images-amazon.com/images/I/719zg2EzeCL._SX679_.jpg" alt="Playz Glow in The Dark Slime Lab Science Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KfIE0P">Playz Glow in The Dark Slime Lab Science Kit w/ 19+ Experiments to Make Glowing Dough, Scented Fluffy Slime, Luminescent Blood, Shampoo Slime</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.95</span><span class="ori_price">$69.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KfIE0P">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mfec9P"><img src="https://images-na.ssl-images-amazon.com/images/I/51vblJOy40L._AC_US218_.jpg" alt="Bluetooth Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mfec9P">Ultimate Ears BOOM 3 Portable Waterproof Bluetooth Speaker - Lagoon Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mfec9P">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="63.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VVFSjy"><img src="https://images-na.ssl-images-amazon.com/images/I/91%2B6pp4ZIAL._SX522_.jpg" alt="LEGO NINJAGO" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VVFSjy">LEGO NINJAGO Legacy Monastery of Spinjitzu 70670 Building Kit, New 2019 (1070 Pieces)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$63.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VVFSjy">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="31" data-price="347.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WtUbQN"><img src="https://images-na.ssl-images-amazon.com/images/I/41A2cr3LU+L._AC_US218_.jpg" alt="Samsung Galaxy S8" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WtUbQN">Samsung Galaxy S8 64GB Factory Unlocked Smartphone - US Version (Midnight Black) - US Warranty - [SM-G950UZKAXAA]</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$347.00</span><span class="ori_price">$499.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WtUbQN">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="38" data-price="365.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EGygvs"><img src="https://images-na.ssl-images-amazon.com/images/I/61tpPLeyBBL._SX679_.jpg" alt="Samsung Galaxy S8+ 64GB" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EGygvs">Samsung Galaxy S8+ 64GB Factory Unlocked Smartphone - 6.2" Screen - US Version (Midnight Black) - US Warranty [SM-G955UZKAXAA]</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$365.00</span><span class="ori_price">$589.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EGygvs">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="41" data-price="100.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WbwgWW"><img src="https://images-na.ssl-images-amazon.com/images/I/61MQZ1oxILL._SX679_.jpg" alt="Cordless Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WbwgWW">Cordless Vacuum, ONSON Stick Vacuum Cleaner, Powerful Cleaning Lightweight Handheld Vacuum with Rechargeable Lithium Ion Battery</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$100.00</span><span class="ori_price">$169.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WbwgWW">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="66" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HItOy5"><img src="https://m.media-amazon.com/images/I/71ZvuPwEIgL._AC_UL320_.jpg" alt="Pool Game Toy" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HItOy5">Swimline Giant Shootball Basketball Swimming Pool Game Toy</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$57.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HItOy5">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="67" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EHY6PQ"><img src="https://m.media-amazon.com/images/I/91qOO-14UIL._AC_UL320_.jpg" alt="NBA 2K19" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EHY6PQ">NBA 2K19 - PlayStation 4 by 2K</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EHY6PQ">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="148.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2wreYFN"><img src="https://images-na.ssl-images-amazon.com/images/I/81OtKOvXhKL._SX522_.jpg" alt="Razor Hovertrax 2.0" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2wreYFN">Razor Hovertrax 2.0 - Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$148.00</span><span class="ori_price">$298.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2wreYFN">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="51" data-price="9.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HI0cRw"><img src="https://images-na.ssl-images-amazon.com/images/I/81LImbMNlML._SX522_.jpg" alt="Nerf N-Strike Elite DualStrike Blaster" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HI0cRw">Nerf N-Strike Elite DualStrike Blaster</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.79</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HI0cRw">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="4.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wwu5fQ"><img src="https://m.media-amazon.com/images/I/51JUwtsXEOL._AC_UL320_.jpg" alt="Funko Pop Disney" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wwu5fQ">Funko Pop Disney: Mickey's 90Th - Conductor Mickey Collectible Figure, Multicolor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.97</span><span class="ori_price">$10.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wwu5fQ">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="4.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2W3nntn"><img src="https://m.media-amazon.com/images/I/51oSjtabUEL._AC_UL320_.jpg" alt="Funko Pop Disney" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2W3nntn">Funko Pop Disney: Mickey's 90Th - Firefighter Mickey Collectible Figure, Multicolor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.97</span><span class="ori_price">$10.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2W3nntn">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="65" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WuAkkf"><img src="https://m.media-amazon.com/images/I/51Pr6AG6slL._AC_UL320_.jpg" alt="LEGO Storage Head Large" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WuAkkf">LEGO Storage Head Large, Boy, Yellow</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$56.39</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WuAkkf">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="59" data-price="32.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WxhYzh"><img src="https://m.media-amazon.com/images/I/71OF+IU+7jL._AC_UL320_.jpg" alt="Click N' Play Gigantic Keyboard Play Mat" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WxhYzh">Click N' Play Gigantic Keyboard Play Mat, 24 Keys Piano Mat, 8 Selectable Musical Instruments...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.76</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WxhYzh">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="68" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ww2OdA"><img src="https://m.media-amazon.com/images/I/81jKCiOGBxL._AC_UL320_.jpg" alt="Inflatable Pool Lounger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ww2OdA">Solstice by Swimline Cooler Couch Inflatable Pool Lounger</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$125.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ww2OdA">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="69" data-price="18.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2We6BwD"><img src="https://m.media-amazon.com/images/I/81xiMZ5-qCL._AC_UL320_.jpg" alt="Mini Tabletop Pool Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>69% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2We6BwD">Mini Tabletop Pool Set- Billiards Game Includes Game Balls, Sticks, Chalk, Brush and Triangle-Portable</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.54</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2We6BwD">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="54" data-price="162.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WDIC9S"><img src="https://m.media-amazon.com/images/I/91GiLiu9UhL._AC_UL320_.jpg" alt="Flash Furniture Nantucket 6 Piece Patio Garden Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WDIC9S">Flash Furniture Nantucket 6 Piece Patio Garden Set with Table, Umbrella and 4 Folding Chairs</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$162.75</span><span class="ori_price">$354.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WDIC9S">Shop Now</a>
  </div>
</div>

