<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now</a>
  </div>
</div> -->


<!-- 
<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Amazon Deal Of The Day: Deal_Of_The_Day_Title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
             <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>
        
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now</a>
  </div>
</div> -->

<!-- 
<div class="tooltip_orange">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount width coupon</p>
  </div>
</div> 
-->


<div class="card clearfix" data-score="37" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QCbnhD"><img src="https://i.pinimg.com/originals/70/70/45/707045c53051e4b6d8f875ac9156209d.png" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>Up to 37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QCbnhD">Amazon Deal Of The Day: Save up to 37% on brewing at home with Coffee Gator</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="https://amzn.to/2QCnM54">Large French Press Coffee Maker</a> - <span>25.99</span></li>
            <li><a href="https://amzn.to/2QBpO5v">Coffee Gator Cold Brewer</a> - <span>18.97</span></li>
            <li><a href="https://amzn.to/2QCbt8Z">Coffee Gator Pour Over Coffee Maker</a> - <span>13.56</span></li>
            <li><a href="https://amzn.to/2QEKcms">Coffee Gator Insulated Glass Mug</a> - <span>8.99</span></li>
            <li><a href="https://amzn.to/2YYoUTv">Coffee Gator Stainless Steel Container</a> - <span>24.99</span></li>
            <li><a href="https://amzn.to/2IfOBID">Coffee Gator Glass Storage Container</a> - <span>11.99</span></li>
            <li><a href="https://amzn.to/2QCbnhD">- SEE MORE</a></li>
          </ul>
        </li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QCbnhD">Shop Now</a>
  </div>
</div>


<div class="card clearfix" data-score="20" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EH1FFZ"><img src="https://i.pinimg.com/originals/8f/90/f4/8f90f4cb0a4ee014ca4a4617a60189fd.png" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>Up to 20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EH1FFZ">Amazon Deal Of The Day: Save up to 20% on SKIL Tools</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="https://amzn.to/2JP4o4l">SKIL 20V 4-1/2 Inch Angle Grinder</a> - <span>71.99</span></li>
            <li><a href="https://amzn.to/2QDlJ0s">SKIL 20V 6-1/2 Inch Cordless Circular Saw</a> - <span>71.99</span></li>
            <li><a href="https://amzn.to/2Z2eCSy">SKIL 12V 1/4 Inch Hex Cordless Impact Driver</a> - <span>79.99</span></li>
            <li><a href="https://amzn.to/2QC6fde">SKIL 5-Tool Kit: PWRCore 12 Brushless 12V Drill Driver</a> - <span>199.99</span></li>
            <li><a href="https://amzn.to/2Mo84fr">SKIL 20V Oscillating Multitool</a> - <span>71.99</span></li>
            <li><a href="https://amzn.to/2EH1FFZ">- SEE MORE</a></li>
          </ul>
        </li>

      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EH1FFZ">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="35.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YYGE19"><img src="https://images-na.ssl-images-amazon.com/images/I/7187IPsOcJL._SX679_.jpg" alt="Flood LED Fog Lights" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YYGE19">Nilight ZH016 12 Inch 72W Spot Combo Bar 2PCS 4 Inch 18W Flood LED Fog Lights with Off Road Wiring Harness-2 Leads</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.95</span><span class="ori_price">$39.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YYGE19">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="62.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QBqIyV"><img src="https://images-na.ssl-images-amazon.com/images/I/61x1cgU1%2BQL._SL1400_.jpg" alt="Nutri Kettle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QBqIyV">Aroma Professional AWK-701 Nutri Kettle, 1.5L, Pink</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$62.99</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QBqIyV">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="299.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HOBnmU"><img src="https://images-na.ssl-images-amazon.com/images/I/416RWNSsxGL._AC_US218_.jpg" alt="Wireless Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HOBnmU">Bowers & Wilkins PX Active Noise Cancelling Wireless Headphones Best-in-class Sound</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.98</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HOBnmU">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="36" data-price="22.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QFQfam"><img src="https://m.media-amazon.com/images/I/81JuG6WJCnL._AC_UL436_.jpg" alt="Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QFQfam">Travel Laptop Backpack,AMBOR Anti-Theft Business Laptop Backpack with USB Charging Port & Headphone Interface</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.94</span><span class="ori_price">$35.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QFQfam">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="26" data-price="133.02">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mkl45P"><img src="https://images-na.ssl-images-amazon.com/images/I/51%2BWyqHPBxL._SX679_.jpg" alt="OJOY A1 Kids Smart Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mkl45P">OJOY A1 Kids Smart Watch | IP68 Waterproof Smart Watch for Kids | 4G LTE Watches for Boys and Girls</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$133.02</span><span class="ori_price">$179.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mkl45P">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="46" data-price="324.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HQ33Iq"><img src="https://images-na.ssl-images-amazon.com/images/I/51RIDjkXnyL.jpg" alt="Trampoline" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HQ33Iq">JumpSport SkyBounce 14' XPS Trampoline System — Includes Integrated Safety Enclosure</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$324.90</span><span class="ori_price">$599.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HQ33Iq">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="27" data-price="165.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HQAXNb"><img src="https://images-na.ssl-images-amazon.com/images/I/51YboKeWoSL._SX679_.jpg" alt="Touchscreen Smart Lock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HQAXNb">Ultraloq UL3 BT Bluetooth Enabled Fingerprint and Touchscreen Smart Lock (Satin Nickel) | 5-in-1 Keyless Entry | Secure Finger ID | Anti-peep Code</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$165.30</span><span class="ori_price">$226.05</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HQAXNb">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="21" data-price="47.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QBCt8F"><img src="https://images-na.ssl-images-amazon.com/images/I/81UmIzVsuKL._SX679_.jpg" alt="Fabric Steamer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QBCt8F">Rowenta DR8080 Powerful Handheld Garment and Fabric Steamer Stainless Steel Heated Soleplate 1500-Watts, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$47.97</span><span class="ori_price">$60.81</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QBCt8F">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="43" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WBHHqa"><img src="https://images-na.ssl-images-amazon.com/images/I/61F8kSUpMsL._SX522_.jpg" alt="Eyelash and Brow Growth Serum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WBHHqa">Eyelash and Brow Growth Serum Irritation Free Formula 3ml </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WBHHqa">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="120.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WB8S4l"><img src="https://images-na.ssl-images-amazon.com/images/I/81Ayp%2BmZQjL._SX522_.jpg" alt="Wi-Fi Mesh System" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WB8S4l">Tenda MW6 Nova Wave 2 802.11AC, Mu-Mimo Whole Home Wi-Fi Mesh System, 3-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$120.00</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WB8S4l">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="58.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MmbKhE"><img src="https://images-na.ssl-images-amazon.com/images/I/91aA30DYQoL._SX522_.jpg" alt="Hamilton Toaster Oven" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MmbKhE">Hamilton Beach Countertop Toaster Oven, Easy Reach with Roll-Top Door, 6-Slice, Convection</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$58.65</span><span class="ori_price">$69.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MmbKhE">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MmOpfK"><img src="https://m.media-amazon.com/images/I/81eqJQ1XDHL._AC_UL320_.jpg" alt="DEWALT Screw Driving Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MmOpfK">DEWALT DWA2T40IR IMPACT READY FlexTorq Screw Driving Set, 40-Piece</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$40.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MmOpfK">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="26" data-price="65.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mivlzk"><img src="https://m.media-amazon.com/images/I/51F7clbQVaL._AC_UL320_.jpg" alt="Performance Blower" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mivlzk">BLACK+DECKER BV6000 High Performance Blower/Vac/Mulcher</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$65.99</span><span class="ori_price">$89.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mivlzk">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="63" data-price="12.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QzwhOc"><img src="https://m.media-amazon.com/images/I/61Ek0qkhkZL._AC_UL320_.jpg" alt="Cuisinart 719-14 Chef's Classic Stainless" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QzwhOc">Cuisinart 719-14 Chef's Classic Stainless 1-Quart Saucepan with Cover</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.90</span><span class="ori_price">$35.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QzwhOc">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JSJAce"><img src="https://images-na.ssl-images-amazon.com/images/I/71HeErTVOxL._SY879_.jpg" alt="Organize It All 1753W-B Wall Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JSJAce">Organize It All 1753W-B Wall Mount 2 Tier Chrome Bathroom Shelf with Towel Bars Metallic</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$30.02</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JSJAce">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="19.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QBuJ6t"><img src="https://m.media-amazon.com/images/I/41lSAZAvLfL._AC_UL436_.jpg" alt="Apple Smart Cover" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QBuJ6t">Apple Smart Cover (for iPad 9.7-inch) - Charcoal Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.50</span><span class="ori_price">$39.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QBuJ6t">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="57" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EL98nk"><img src="https://m.media-amazon.com/images/I/61964ezLCKL._AC_UL436_.jpg" alt="Fast Charge Wireless Charging Stand" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EL98nk">Samsung EP-NG930TBUGUS Qi Certified Fast Charge Wireless Charging Stand W/ AFC Wall Charger - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EL98nk">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="56" data-price="13.08">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ENzYeD"><img src="https://m.media-amazon.com/images/I/51kUtEdZW3L._AC_UL436_.jpg" alt="Samsung Active InEar Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ENzYeD">Samsung Active InEar Headphones for Universal/SmartPhones, Retail Packaging</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.08</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ENzYeD">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="58" data-price="83.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IczgIL"><img src="https://m.media-amazon.com/images/I/71Pk8bRI5BL._AC_UL436_.jpg" alt="Bluetooth Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IczgIL">Ultimate Ears BOOM 2 Portable Waterproof & Shockproof Bluetooth Speaker - Phantom Edition</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$83.50</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IczgIL">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="99.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HOUVaZ"><img src="https://m.media-amazon.com/images/I/71XgRf5BiPL._AC_UL436_.jpg" alt="Shure SE215-CL Sound Isolating Earphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HOUVaZ">Shure SE215-CL Sound Isolating Earphones with Single Dynamic MicroDriver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.00</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HOUVaZ">Shop Now</a>
  </div>
</div>
