<!-- <div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>
 -->

<div class="card clearfix" data-score="50" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DIQJHt"><img src="https://m.media-amazon.com/images/I/51giG1APWDL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DIQJHt">Bluetooth Headphones, Ourlife Wireless Headphones Sport w/Mic IPX5 Waterproof HD Stereo Sweatproof Earbuds for...</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $15.99</strong> using code:40PUC8GB</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DIQJHt">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="58.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y10Cbe"><img src="https://m.media-amazon.com/images/I/61B8jh0XUQL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Y10Cbe">ALCLAP USB C Hub, 8-in-1 USB Type C to 4K HDMI Adapter Dock with Gigabit Ethernet, 3 USB 3.0 Ports, SD/TF Card Reader...</a></p>
    <div class="code_high">
      <p><span>Take <strong>35% off at $58.69</strong> using code:35NBAWX5</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Y10Cbe">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JbTeoX"><img src="https://m.media-amazon.com/images/I/51+C-ZcNPTL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2JbTeoX">LACORAMO Door/Window Alarm Sensor with 2 Remote Controls, 130db Wireless Magnetic Contact Sensor, Door Entry Burglar Alert Security System</a></p>
    <div class="code_high">
      <p><span>Take <strong>25% off at $17.99</strong> using code:2513M6Z5</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JbTeoX">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J6WvWI"><img src="https://m.media-amazon.com/images/I/61mDopy7+SL._SR400,400_.jpg" alt="Automatic Wireless Car Charger Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2J6WvWI">Automatic Wireless Car Charger Mount, ZealSound Qi Certified Infrared Sensor 10w Fast Auto Clamping Air Vent Windshield Dashboard Holder Car Charger </a></p>
    <div class="code_high">
      <p><span>Take <strong>25% off at $39.99</strong> using code:255H8CIQ</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2J6WvWI">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y4RRgj"><img src="https://m.media-amazon.com/images/I/41Y-gh0honL._SR400,400_.jpg" alt="Yoobao 10000mAh Power Bank" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Y4RRgj">Yoobao 10000mAh Power Bank Ultra Slim External Battery Pack Powerbank with Dual Output & Input Cell Phone Battery Backup Charger</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $23.99</strong> using code:40VJNNMR</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Y4RRgj">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LesXJh"><img src="https://m.media-amazon.com/images/I/515dy0mpcNL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2LesXJh">Motorola TurboPower Pack 10000- Slim, Portable Power Bank w/ 18W QC3.0 + USB-PD for...</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $49.99</strong> using code:20TURBO10K</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2LesXJh">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GWetcV"><img src="https://m.media-amazon.com/images/I/51X3eiGrTqL._SR400,400_.jpg" alt="Motorola 10W Fast Wireless Charging Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GWetcV">Motorola 10W Fast Wireless Charging Pad [Qi Certified] for Qi Devices- Comes with TurboPower 18 Wall Charger</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $49.99</strong> using code:20OFF10WQI</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GWetcV">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PJlYqz"><img src="https://m.media-amazon.com/images/I/61pWAGKJ6eL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2PJlYqz">Blue Stitch Case for Samsung Galaxy S10 Plus,3D Cartoon Animal Cute Soft Silicone Rubber Protective Kawaii Funny Character Cover</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $9.99</strong> using code:40STITCHCASE</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2PJlYqz">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="7.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XYHp9T"><img src="https://m.media-amazon.com/images/I/618SW+X6UWL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XYHp9T">Vivid Unicorn Case for iPhone 8 7 6 6S 4.7",3D Cartoon Animal Cute Soft Silicone Rubber Character Pink Cover</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $7.98</strong> using code:30CUTESKIN</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XYHp9T">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VbhgHU"><img src="https://m.media-amazon.com/images/I/61FY5Xk084L._SR400,400_.jpg" alt="CHARMCODE Charcoal Blackhead Remover Peel Off Mask" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2VbhgHU">CHARMCODE Charcoal Blackhead Remover Peel Off Mask 60g,Deep Cleansing Facial Black Head Masks</a></p>
    <div class="code_high">
      <p><span>Take <strong>70% off at $19.99</strong> using code:70R31KA4</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VbhgHU">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DMFaiu"><img src="https://m.media-amazon.com/images/I/41kDelsIelL._SR400,400_.jpg" alt="Rechargeable Nose Hair Trimmer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DMFaiu">Rechargeable Nose Hair Trimmer-KEDSUM Professional Nose and Ear Hair Trimmer Plus Sideburn Trimmer</a></p>
    <div class="code_high">
      <p><span>Take <strong>15% off at $9.99</strong> using code:15454KUP</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DMFaiu">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y3hfmj"><img src="https://m.media-amazon.com/images/I/61RmgDqCjfL._SR400,400_.jpg" alt="Brown Sugar Body Scrub" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Y3hfmj">Brooklyn Botany - Brown Sugar Body Scrub - Exfoliating Face Scrub & Body Scrub for Cellulite, Stretch Marks, Skin Blemishes...</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $12.99</strong> using code:302LHOYO</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Y3hfmj">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="23.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y27DZ0"><img src="https://m.media-amazon.com/images/I/71mefohKN8L._SR400,400_.jpg" alt="Daily Restoring Conditioner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Y27DZ0">Brocato Cloud 9 Daily Restoring Conditioner, 32 Ounce, by Beautopia Hair</a></p>
    <div class="code_high">
      <p><span>Take <strong>15% off at $23.64</strong> using code:15CLOUD9</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Y27DZ0">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="529.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y09EFg"><img src="https://images-na.ssl-images-amazon.com/images/I/61NyPOQd3RL._SX679_.jpg" alt="Travel Luggage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Y09EFg">Lovinland Travel Luggage 3 Piece Set 20'' 24'' 28'' ABS Storage Suitcase</a></p>
    <div class="code_high">
      <p><span>Take <strong>80% off at $529.99</strong> using code:801FB2RW</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Y09EFg">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JhGfm3"><img src="https://m.media-amazon.com/images/I/61yyQbuV7aL._SR400,400_.jpg" alt="Vitamin C Serum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2JhGfm3">Vitamin C Serum for Face 25% Anti Aging Serum Face Serum With Hyaluronic Acid - Facial Serum with Vitamin E for Wrinkles...</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $16.99</strong> using code:50YTUCI5</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JhGfm3">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="39.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J8EkA4"><img src="https://m.media-amazon.com/images/I/61ydXUX67aL._SR400,400_.jpg" alt="Essential Oil Diffuser" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2J8EkA4">Aromacare Essential Oil Diffuser 300ml for Aromatherapy, Large Aroma Ultrasonic Cool Mist Humidifier...</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $39.59</strong> using code:60F3HGEF</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2J8EkA4">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="32.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VaXjRM"><img src="https://m.media-amazon.com/images/I/61g0NnlBPGL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2VaXjRM">Aromacare Aromatherapy Essential Oil Diffuser 300ml, Diffuser For Essential Oils, Cool Mist Humidifier, Perfect Air Diffuser for Bedroom</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $32.99</strong> using code:60F3HGEF</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VaXjRM">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LjbU9e"><img src="https://m.media-amazon.com/images/I/614ekI4x3tL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2LjbU9e">Ailifefort Water Flosser Cordless Rechargeable Portable Dental Oral Irrigator for Home, Travel, Braces and Bridges Care</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $39.99</strong> using code:30Z2PGT3</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2LjbU9e">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VeYYpz"><img src="https://m.media-amazon.com/images/I/71eYyW7JeHL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2VeYYpz">Hair, Skin & Nails with Biotin Extra Strength Vitamin Supplement for Women, 100 Capsules</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $14.99</strong> using code:509JANUW</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VeYYpz">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GVziVS"><img src="https://m.media-amazon.com/images/I/91fiZqNnmlL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GVziVS">Freeman Facial Mask Variety Set, 6 Oz (Pack of 4)</a></p>
    <div class="code_high">
      <p><span>Take <strong>10% off at $14.99</strong> using code:104DFW8I</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GVziVS">Copy & Use code</a>
  </div>
</div>

 


