<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now</a>
  </div>
</div> -->

<div class="card clearfix" data-score="59" data-price="45.54">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MizW4O"><img src="https://m.media-amazon.com/images/I/712kBtTDt7L._AC_UL436_.jpg" alt="WD Blue 1TB PC Hard Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MizW4O">WD Blue 1TB PC Hard Drive - 7200 RPM Class, SATA 6 Gb/s, 64 MB Cache, 3.5" - WD10EZEX</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.54</span><span class="ori_price">$109.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MizW4O">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="45.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YUG70n"><img src="https://m.media-amazon.com/images/I/91es20oSvOL._AC_UL436_.jpg" alt="OtterBox Defender Series Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YUG70n">OtterBox Defender Series Case for iPad (5th Gen) / iPad (6th Gen) - Retail Packaging - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.00</span><span class="ori_price">$89.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YUG70n">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QpsJyg"><img src="https://m.media-amazon.com/images/I/31RCRbbhY3L._AC_UL436_.jpg" alt="Bluetooth Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QpsJyg">Plantronics 88120-41 M165 Marque 2 Ultralight Wireless Bluetooth Headset - Compatible with iPhone, Android, and Other Leading Smartphones - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QpsJyg">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="24" data-price="129.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HBe2W0"><img src="https://m.media-amazon.com/images/I/61HvDLR67sL._AC_UL436_.jpg" alt="Outdoor Sports Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HBe2W0">SUUNTO Core All Black Military Men's Outdoor Sports Watch - SS014279010</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$129.99</span><span class="ori_price">$170.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HBe2W0">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YLZb0r"><img src="https://m.media-amazon.com/images/I/61OReVv5ooL._AC_UL436_.jpg" alt="Samsung S-Pen" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YLZb0r">Samsung Galaxy Note9 Replacement S-Pen, Yellow / Ocean Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.00</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YLZb0r">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="53" data-price="69.76">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WnCqCI"><img src="https://m.media-amazon.com/images/I/7148Nrklt1L._AC_UL320_.jpg" alt="Leather Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WnCqCI">SOLO Reade 15.6 Inch Vintage Columbian Leather Backpack, Espresso</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.76</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WnCqCI">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="66" data-price="186.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JY66zE"><img src="https://m.media-amazon.com/images/I/91DpRFazmXL._AC_UL320_.jpg" alt="Travelpro Luggage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JY66zE">Travelpro Luggage Crew 11 25" Expandable Spinner Suitcase w/Suiter, Patriot Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$186.20</span><span class="ori_price">$540.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JY66zE">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="27" data-price="8.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M4GrHZ"><img src="https://m.media-amazon.com/images/I/61NHV7xnBuL._AC_UL320_.jpg" alt="Lewis N. Clark Cable Lock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M4GrHZ">Lewis N. Clark Cable Lock: Luggage Lock + Travel Lock - Set Combination Lock for a TSA Approved Padlock or Bike Lock </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.88</span><span class="ori_price">$12.17</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M4GrHZ">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="58" data-price="55.23">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K3XLKT"><img src="https://m.media-amazon.com/images/I/719IxXvCfJL._AC_UL320_.jpg" alt="Acer Predator Rolltop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K3XLKT">Acer Predator Rolltop Backpack - for All 15.6" Gaming Laptops, Travel Backpack, Organized Pockets for All Gear, Teal Accents</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$55.23</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K3XLKT">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="12.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YM8yNM"><img src="https://m.media-amazon.com/images/I/51YE54D31FL._AC_UL320_.jpg" alt="American Weigh Scales" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YM8yNM">American Weigh Scales AWS H Series Digital Multifunction Electronic Hanging Scale, Black 110lb</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.40</span><span class="ori_price">$24.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YM8yNM">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="59" data-price="84.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QlKzSG"><img src="https://m.media-amazon.com/images/I/91AscIpwYWL._AC_UL320_.jpg" alt="Crescent CTK170CMP2 Mechanics Tool Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QlKzSG">Crescent CTK170CMP2 Mechanics Tool Set, 170-Piece</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$84.99</span><span class="ori_price">$206.13</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QlKzSG">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="13.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ExrmbX"><img src="https://m.media-amazon.com/images/I/81VkinrNUdL._AC_UL320_.jpg" alt="Master Lock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>13.84% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ExrmbX">Master Lock 5900D Set Your Own Combination Portable Safe, 9-17/32 in. Wide, Gunmetal Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.84</span><span class="ori_price">$27.59</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ExrmbX">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="24" data-price="73.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HBiMe3"><img src="https://m.media-amazon.com/images/I/71iD5RyhuaL._AC_UL436_.jpg" alt="Ninja Professional" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HBiMe3">Ninja Professional 72oz Countertop Blender with 1000-Watt Base and Total Crushing Technology for Smoothies, Ice and Frozen Fruit</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$73.99</span><span class="ori_price">$97.93</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HBiMe3">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="24" data-price="99.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M80mpz"><img src="https://m.media-amazon.com/images/I/71Ce4p0J6IL._AC_UL436_.jpg" alt="Hoover PowerDash Pet Carpet Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M80mpz">Hoover PowerDash Pet Carpet Cleaner, FH50700</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.00</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M80mpz">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M529vA"><img src="https://m.media-amazon.com/images/I/41pmPiPui4L._AC_UL436_.jpg" alt="Hamilton Beach 62682RZ Hand Mixer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M529vA">Hamilton Beach 62682RZ Hand Mixer with Snap-On Case, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$22.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M529vA">Shop Now</a>
  </div>
</div>

