<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

 <div class="card clearfix" data-score="60" data-price="12.4">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O1w870"><img src="https://m.media-amazon.com/images/I/61wZlK52n2L._SR400,400_.jpg" alt="Bluetooth Smart Watch Fitness Tracker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O1w870">Bluetooth Smart Watch Fitness Tracker, Activity Tracker Heart Rate Monitor Message Reminder Pedometer Track Sleep Watch...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.4</span><span class="ori_price">$30.99</span></address>
      <textarea readonly="readonly" class="code_area">60RBPZIY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $30.99</strong> with promo code: <strong class="m_codes">60RBPZIY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O1w870">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32DJISb"><img src="https://m.media-amazon.com/images/I/51DvUw8OU3L._SR400,400_.jpg" alt="Qidoou Smart Watch Bluetooth Fitness Tracker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32DJISb">Qidoou Smart Watch Bluetooth Fitness Tracker Android iOS Compatible Smartwatch of SIM SD Card Slot, Waterproof Pedometer Sleep...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">509V3XKB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">509V3XKB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32DJISb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZY9iod"><img src="https://m.media-amazon.com/images/I/61u+-OVZa+L._SR400,400_.jpg" alt="SUNPOW 85L Travel Duffel Bag" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZY9iod">SUNPOW 85L Travel Duffel Bag, Large Weekender Bag With Shoes Compartment Tear Resistant Packable Duffle Bag...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">40R24GXO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $29.99</strong> with promo code: <strong class="m_codes">40R24GXO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZY9iod">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="11.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LPOUeV"><img src="https://m.media-amazon.com/images/I/51DlaJGsZbL._SR400,400_.jpg" alt="Poweriver 2 in 1 Charger Powerbank" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LPOUeV">Poweriver 2 in 1 Charger Powerbank, MetaPower with 2 Port, 5000mAh 2.1A 18W, Foldable Plug, Flashlight for Travel,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.25</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">55XTPA3P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $24.99</strong> with promo code: <strong class="m_codes">55XTPA3P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LPOUeV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LNmJ08"><img src="https://m.media-amazon.com/images/I/61PJFHo7U0L._SR400,400_.jpg" alt="USB C Hub" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LNmJ08">USB C Hub, RCA USB C Adapter, 4K USB C to HDMI, 3 USB 3.0 Ports, SD/TF Card Readers, Compatible with MacBook Pro, Chromebook,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.29</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">30KB9UPI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $28.99</strong> with promo code: <strong class="m_codes">30KB9UPI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LNmJ08">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NX34O5"><img src="https://m.media-amazon.com/images/I/81ON8rTHJLL._SR400,400_.jpg" alt="BAG WIZARD Drawstring Backpack ..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NX34O5">BAG WIZARD Drawstring Backpack Lightweight Canvas Wet/Dry Sports Gym Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$79.99</span></address>
      <textarea readonly="readonly" class="code_area">80J29FZH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $79.99</strong> with promo code: <strong class="m_codes">80J29FZH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NX34O5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="15.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O6J9Mu"><img src="https://m.media-amazon.com/images/I/913xxaw4htL._SR400,400_.jpg" alt="Off the Eaten Path Sampler Variety Pack, 16 Count" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O6J9Mu">Off the Eaten Path Sampler Variety Pack, 16 Count</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.98</span><span class="ori_price">$19.98</span></address>
      <textarea readonly="readonly" class="code_area">20CURIOUS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $19.98</strong> with promo code: <strong class="m_codes">20CURIOUS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O6J9Mu">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="20.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30abu71"><img src="https://m.media-amazon.com/images/I/61Atwh-e79L._SR400,400_.jpg" alt="JAYJUN Pollution-Proof Mask" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30abu71">JAYJUN Pollution-Proof Mask 27ml / 0.91 fl.oz. Pack of 10 (Luminous)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.40</span><span class="ori_price">$34.00</span></address>
      <textarea readonly="readonly" class="code_area">40W4FEW6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $34.00</strong> with promo code: <strong class="m_codes">40W4FEW6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30abu71">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="4.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZYrXQI"><img src="https://m.media-amazon.com/images/I/81QOT9gFQ0L._SR400,400_.jpg" alt="i2 Gear Running Belt" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZYrXQI">i2 Gear Running Belt, Waist Pack & Jogging Belt Phone Holder with Pouch - Compatible with iPhone 11, iPhone Pro Max,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.50</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">551KE832</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $9.99</strong> with promo code: <strong class="m_codes">551KE832</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZYrXQI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZWBg3E"><img src="https://m.media-amazon.com/images/I/61ISNCiBewL._SR400,400_.jpg" alt="Jade Roller for Face" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZWBg3E">Jade Roller for Face|Gua Sha Scraping Massager Tool|Anti Aging Puffiness Facial Skin Massager Treatment Therapy </a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <textarea readonly="readonly" class="code_area">509TJEUI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $12.99</strong> with promo code: <strong class="m_codes">509TJEUI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZWBg3E">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZWA8Mv"><img src="https://m.media-amazon.com/images/I/61t45lsq-JL._SR400,400_.jpg" alt="1Mii Long Range Bluetooth Wireless Speaker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZWA8Mv">1Mii Long Range Bluetooth Wireless Speaker, Portable Bluetooth Speaker with Music Mode&Vocal Mode, 10W 360⁰ Music Speakers,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$49.98</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">60H638M1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $49.98</strong> with promo code: <strong class="m_codes">60H638M1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZWA8Mv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LsH2Rs"><img src="https://m.media-amazon.com/images/I/81+8AIULI3L._SR400,400_.jpg" alt="Solar Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LsH2Rs">Solar Charger, Soluser 20000mAh Wireless Solar Power Bank Waterproof External Battery Pack Hurricane Bank with 3 Solar Panels,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">253G19CZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $39.99</strong> with promo code: <strong class="m_codes">253G19CZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LsH2Rs">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31t7Zud"><img src="https://m.media-amazon.com/images/I/61tJL2yv3LL._SR400,400_.jpg" alt="maxtop Smart Watch for Android Phones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31t7Zud">maxtop Smart Watch for Android Phones - iOS Phones, Full Screen Large Size Metal Shell Clear Interface Smartwatch for Women Men and Teenager Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.39</span><span class="ori_price">$48.99</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">4055YPWD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $48.99</strong> with promo code: <strong class="m_codes">4055YPWD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31t7Zud">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LsBp5O"><img src="https://m.media-amazon.com/images/I/51ejxkVtF7L._SR400,400_.jpg" alt="ALIENSX Magnetic Car Phone Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LsBp5O">ALIENSX Magnetic Car Phone Mount, Universal Air Vent Car Phone Holder with 5 Super Strong Magnets for iPhone Xs Max XR X 8 7 6 6s Plus Samsung...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">55S2CPWY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $19.99</strong> with promo code: <strong class="m_codes">55S2CPWY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 18, 2019 at 11:59 PM PD</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LsBp5O">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O2p5Ll"><img src="https://m.media-amazon.com/images/I/71PFDdj49xL._SR400,400_.jpg" alt="Over Ear Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O2p5Ll">Over Ear Headphones, Mkay Bluetooth V4.2 Wireless Headset with Deep Bass Microphone Hi-Fi Stereo, Foldable & Lightweight,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.98</span></address>
      <textarea readonly="readonly" class="code_area">3063YR59</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $29.98</strong> with promo code: <strong class="m_codes">3063YR59</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O2p5Ll">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="14.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NWbjK6"><img src="https://m.media-amazon.com/images/I/61vBL3CiArL._SR400,400_.jpg" alt="RIODO Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NWbjK6">RIODO Bluetooth Headphones, Over Ear Foldable Wireless Headset with Mic, Soft Memory-Protein Earmuffs, 25 Hours Playtime...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.00</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">60YKAV83</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $34.99</strong> with promo code: <strong class="m_codes">60YKAV83</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NWbjK6">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LuKdIH"><img src="https://m.media-amazon.com/images/I/51fSWHLJYJL._SR400,400_.jpg" alt="USB C Hub, PURKIN 5-in-1 Premium USB C Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LuKdIH">USB C Hub, PURKIN 5-in-1 Premium USB C Adapter with USB C Port, USB 3.0 Ports, for MacBook Pro 2016/2017/2018, iPad Pro 2018,....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">4052VLBR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $29.99</strong> with promo code: <strong class="m_codes">4052VLBR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LuKdIH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lw9mSY"><img src="https://m.media-amazon.com/images/I/71--Pcy4WKL._SR400,400_.jpg" alt="Portable Bluetooth Speakers" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lw9mSY">Portable Bluetooth Speakers With Lights, SHAVA Diamond Wireless LED speaker with auto color changing, Speakerphone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">60GS63W5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $19.99</strong> with promo code: <strong class="m_codes">60GS63W5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Lw9mSY">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="20.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZXCueI"><img src="https://m.media-amazon.com/images/I/71Kb9SxW9VL._SR400,400_.jpg" alt="Smart Watch for Android iOS Phones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZXCueI">Smart Watch for Android iOS Phones, AIVEILE All-Rounder Version Activity Fitness Tracker Bluetooth Bracelet Waterproof Smartwatch with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.70</span><span class="ori_price">$45.99</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">55JSTBEP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $45.99</strong> with promo code: <strong class="m_codes">55JSTBEP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZXCueI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O0toH4"><img src="https://m.media-amazon.com/images/I/61JSyVbGYWL._SR400,400_.jpg" alt="Electric Kettle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O0toH4">Electric Kettle, CUSIBOX 1.5L Double Wall 100% Stainless Steel Tea Kettle Cool Touch, 1500W Fast Boil Cordless Water Kettle ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.39</span><span class="ori_price">$38.99</span></address>
      <textarea readonly="readonly" class="code_area">40FN3BGD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $38.99</strong> with promo code: <strong class="m_codes">40FN3BGD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O0toH4">Use Code at Amazon</a></div>
</div>
