<!-- <div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<div class="card clearfix" data-score="25" data-price="229.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmYEQT"><img src="https://m.media-amazon.com/images/I/71yd91Pjj2L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmYEQT">Withings/Nokia | Steel HR Hybrid Smartwatch</a></p>
    <div class="code_high">
      <p><span>Take <strong>25% off at $229.95</strong> using code:25STARWARS</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2LmYEQT">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LnPEuT"><img src="https://m.media-amazon.com/images/I/512kTKy06jL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LnPEuT">BigTron Multi-Functional Backpack Stool Combo - Large Capacity Backpack and Portable Folding Cooler Chair</a></p>
    <div class="code_high">
      <p><span>Take <strong>15% off at $39.99</strong> using code:15KCTOHA</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2LnPEuT">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlGsqR"><img src="https://m.media-amazon.com/images/I/71AgGT9+48L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlGsqR">UDISON Carry Around Portable Bluetooth Speaker, True Wireless Stereo Pairing Speakers Superior Sound and Rich Bass with 12 Hour Playtime, Speakerphone</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $18.99</strong> using code:60N93VZM</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2LlGsqR">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H4oXY2"><img src="https://m.media-amazon.com/images/I/711RQDooYXL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H4oXY2">Large Messenger Bag for Men Tocode, Vintage Waxed Canvas Satchel Leather Briefcases Crossbody Shoulder Bags</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $49.99</strong> using code:20103813</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2H4oXY2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H2kfd0"><img src="https://m.media-amazon.com/images/I/61Eb-MW5EGL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H2kfd0">USB-C Hub Type C Adapter - ikling USB to USB C Adapter with SD/TF Card Reader, 2USB3.0 Port, USB C Charging Port Compatible MacBook Pro...</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $25.99</strong> using code:40673A1R</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2H2kfd0">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LpzPDT"><img src="https://m.media-amazon.com/images/I/61dPd89qMtL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LpzPDT">Phone Camera Lens,7 in 1 Cell Phone Lens Kit for iPhone and Android, 198°Fisheye,120° Wide Angle,20X Macro,2X telephoto</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $23.99</strong> using code:50B21E17</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2LpzPDT">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2H3GQ9e"><img src="https://m.media-amazon.com/images/I/71x-mBchcWL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2H3GQ9e">Radioddity Waterproof Remote Speaker Mic for Radioddity GD-55 Plus DMR Digital Mobile Radio Two-Way Radio Walkie Talkie Transceiver</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $15.99</strong> using code:305YPK4K</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2H3GQ9e">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="6.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VcRwuZ"><img src="https://m.media-amazon.com/images/I/71H5VdhCCZL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VcRwuZ">Ailun Car Phone Mount,Magnet Key Holder,Air Vent Magnetic Holder,(2Pack) Compatible </a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $6.89</strong> using code:50ECJTFH</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VcRwuZ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="71.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2vG3jCF"><img src="https://m.media-amazon.com/images/I/61TY6ejlopL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2vG3jCF">Dashboard Camera, Dash Cam 1080P HD,YonRui Front and Rear Driving Video Recorder</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $71.99</strong> using code:604W853V</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2vG3jCF">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="75" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DNY48E"><img src="https://m.media-amazon.com/images/I/61OsDB3VLNL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2DNY48E">Mondetech iPhone Xs/X Case, Slim Drop Protection with Ring Stand, Magnetic Compatible...</a></p>
    <div class="code_high">
      <p><span>Take <strong>75% off at $29.99</strong> using code:755NGPUC</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DNY48E">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="5" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VhiW2A"><img src="https://m.media-amazon.com/images/I/51XVEf-MoLL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>5% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VhiW2A">Travel Power Adapter Kit,Wacye Dual USB Universal Travel Adapter Converter AC Power Plug Adapter</a></p>
    <div class="code_high">
      <p><span>Take <strong>5% off at $10.99</strong> using code:05H514GR</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VhiW2A">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZV9Xmy"><img src="https://m.media-amazon.com/images/I/712r7vpTstL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZV9Xmy">Endoscope Inspection Camera, FOXWELL 5.5mm Wireless Borescope with 1080P HD Semi-Rigid Snake Camera</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $39.99</strong> using code:30FAMILYS</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZV9Xmy">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="54" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GX2uux"><img src="https://m.media-amazon.com/images/I/91ea8Fc+5gL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2GX2uux">11 in 1 Cell Phone Lens Kit for iPhone and Android, 0.36X Wide Angle Lens+198°Fisheye Lens+20X Macro Lens+Zoom Telephoto Lens+CPL+Kaleidoscope ...</a></p>
    <div class="code_high">
      <p><span>Take <strong>54% off at $25.99</strong> using code:547FOJ1V</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GX2uux">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VlKoww"><img src="https://m.media-amazon.com/images/I/81KtgbutjmL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VlKoww">Selfie Ring Light, Upgraded Ring Light with Wireless Remote and Cell Phone Holder Stand for Live Stream/Makeup, LED Camera Light...</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $18.99</strong> using code:50FU4FZK</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VlKoww">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="5" data-price="10.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZVa9SO"><img src="https://m.media-amazon.com/images/I/61cPk4kax4L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>5% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZVa9SO">STIALO UV Flashlight Blacklight Flashlights Black Light for Urine Detection, UV Light Pet Dog Cat Supplies...</a></p>
    <div class="code_high">
      <p><span>Take <strong>5% off at $10.77</strong> using code:056DED2D</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ZVa9SO">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wq9aYu"><img src="https://m.media-amazon.com/images/I/71ZlJoy8ZFL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wq9aYu">SEEHONOR Resistance Bands Set, Upgraded Workout Bands Include 5 Stackable Exercise Bands...</a></p>
    <div class="code_high">
      <p><span>Take <strong>45% off at $16.99</strong> using code:45932O6Z</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wq9aYu">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="37" data-price="18.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LnJ7Ak"><img src="https://m.media-amazon.com/images/I/61eOOIzUbqL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LnJ7Ak">Travel Water Bottle - Wide Mouth Flip Top Lid Water Jug, Big Capacity Sports Fitness Water Bottle Portable Travel Water Bottle(BPA Free) 22 oz / 28 oz / 36 oz/a></p>
    <div class="code_high">
      <p><span>Take <strong>37% off at $18.95</strong> using code:371X5QHD</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2LnJ7Ak">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="46.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DOQ9aV"><img src="https://m.media-amazon.com/images/I/61c+tz8NRwL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2DOQ9aV">maxtop Leather Band Healthy Smart Watch with Heart Rate Monitor/Blood Pressure/Pedometer/Sleep Monitor...</a></p>
    <div class="code_high">
      <p><span>Take <strong>35% off at $46.99</strong> using code:35ZTSMMH</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DOQ9aV">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2vASXUI"><img src="https://m.media-amazon.com/images/I/717qAEWB0HL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2vASXUI">MEYUEWAL Wrist Brace, Workout Gloves, Full Palm Protection and New Ventilation Design, Great for Weightlifting, Training, Fitness, Workout...</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $23.99</strong> using code:60V3U4UZ</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2vASXUI">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Y72rTW"><img src="https://m.media-amazon.com/images/I/61av5l8B42L._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Y72rTW">YIVEKO (S-2XL Women Power Flex High Waist Yoga Pants Tummy Control Workout Inner Pocket Yoga Capris Pants Leggings</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $14.99</strong> using code:40AJK9UG</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Y72rTW">Use Code</a>
  </div>
</div>
