<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="45" data-price="17.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZKmnMK"><img src="https://m.media-amazon.com/images/I/81JWQQYy09L._SR400,400_.jpg" alt="Neithera Seersucker Duvet Cover Set King" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZKmnMK">Neithera Seersucker Duvet Cover Set King, 3-Piece Nature Style Water-Washed Microfiber Bedding Set with Zipper and Corner Ties</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.04</span><span class="ori_price">$30.99</span></address>
      <textarea readonly="readonly" class="code_area">45BGA15H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $30.99</strong> with promo code: <strong class="m_codes">45BGA15H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZKmnMK">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="14.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZFBwD2"><img src="https://m.media-amazon.com/images/I/51rkAQgj6CL._SR400,400_.jpg" alt="dOvOb Mini Cooper Building Blocks" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZFBwD2">dOvOb Mini Cooper Building Blocks Toy Boys Classic Model Sports Cars Kit Expert Creator Set(492 PCS)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.69</span><span class="ori_price">$20.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30FCJ5J8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $20.99</strong> with promo code: <strong class="m_codes">30FCJ5J8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 02, 2019 at 08:00 AM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZFBwD2">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NIIgcV"><img src="https://m.media-amazon.com/images/I/61HLEOBYWHL._SR400,400_.jpg" alt="WESEN Dog Bowls" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NIIgcV">WESEN Dog Bowls, Stainless Steel Dog Bowl with No Spill Non-Skid Silicone Mat, 80 oz Double Feeder Food Water Bowl for Dogs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">5042IW64</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $22.99</strong> with promo code: <strong class="m_codes">5042IW64</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 12:00 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NIIgcV">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MNqt4E"><img src="https://m.media-amazon.com/images/I/61JfAPiBXwL._SR400,400_.jpg" alt="Kitchen Dish Rack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MNqt4E">Kitchen Dish Rack, Aluminum Drying Plate Rack, Rustproof Dish Drainers with Drainboard & Utensil Holder</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50Y465NL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50Y465NL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MNqt4E">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UooPax"><img src="https://m.media-amazon.com/images/I/71pbBACQ3wL._SR400,400_.jpg" alt="Peradix Stealing Coin Santa Claus Box" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UooPax">Peradix Stealing Coin Santa Claus Box Piggy Bank English Speaking Christmas Song for All Kids</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">50UN2T5K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.99</strong> with promo code: <strong class="m_codes">50UN2T5K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 02, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2UooPax">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="75" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZJBtCi"><img src="https://m.media-amazon.com/images/I/61EICQDuz-L._SR400,400_.jpg" alt="YinQin 1600W Negative Ionic Folding Hair Dryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZJBtCi">YinQin 1600W Negative Ionic Folding Hair Dryer Light Weight Travel Hair Dryer 2 Speeds and Cool Shot Button Tourmaline ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.99</span><span class="ori_price">$67.96</span></address>
      <textarea readonly="readonly" class="code_area">75I4TE54</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>75% off at $67.96</strong> with promo code: <strong class="m_codes">75I4TE54</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZJBtCi">Use Code at Amazon</a></div>
</div>
  
<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34iKOUU"><img src="https://m.media-amazon.com/images/I/61aRyZKai8L._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34iKOUU">Wireless Earbuds, NYZ True Wireless Bluetooth 5.0 Earbuds Headphones in-Ear HiFi Stereo Sound Wireless Earphones with Sweatproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">509EMH38</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">509EMH38</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34iKOUU">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="19.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MNo7mn"><img src="https://m.media-amazon.com/images/I/61kbkcFTHRL._SR400,400_.jpg" alt="ZLOT Vertical Gaming Mouse" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MNo7mn">ZLOT Vertical Gaming Mouse, Wired RGB Ergonomic USB Joystick Programmable Laser Gaming Mice,6+1 Design,11 Buttons,....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.49</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">359YHA8A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $29.99</strong> with promo code: <strong class="m_codes">359YHA8A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MNo7mn">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="42" data-price="22.03">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MPgT17"><img src="https://m.media-amazon.com/images/I/613KO-P2moL._SR400,400_.jpg" alt="NPET LED UV Nail Lamp Dryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MPgT17">NPET LED UV Nail Lamp Dryer 60W for Gel Polish With 5 Timer Automatic Sensor </a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.03</span><span class="ori_price">$37.99</span></address>
      <textarea readonly="readonly" class="code_area">42ASTJ9V</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>42% off at $37.99</strong> with promo code: <strong class="m_codes">42ASTJ9V</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MPgT17">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HzWMzJ"><img src="https://m.media-amazon.com/images/I/61xBJKdnbbL._SR400,400_.jpg" alt="Essential Oil Diffuser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HzWMzJ">Essential Oil Diffuser, Dularf Wood Grain Aromatherapy Diffuser Cool Mist Nebulizer Diffuser Humidifier 400ml ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.98</span></address>
      <textarea readonly="readonly" class="code_area">50W3JDBO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.98</strong> with promo code: <strong class="m_codes">50W3JDBO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HzWMzJ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZDmspB"><img src="https://m.media-amazon.com/images/I/61xaPt8nYwL._SR400,400_.jpg" alt="Facial Skin Scrubber Blackhead Remover" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZDmspB">Facial Skin Scrubber Blackhead Remover - Acne & Pore Cleaner Facial Cleaning Brush - Remove Dead Skin and Toxins Exfoliates </a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.50</span><span class="ori_price">$32.99</span></address>
      <textarea readonly="readonly" class="code_area">50W2D4RP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $32.99</strong> with promo code: <strong class="m_codes">50W2D4RP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZDmspB">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="45" data-price="26.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NPtK3n"><img src="https://m.media-amazon.com/images/I/7195nL64qFL._SR400,400_.jpg" alt="NPET AC7500 Wifi Sport Action Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NPtK3n">NPET AC7500 Wifi Sport Action Camera 4K 12MP 170 Degree Wide Angle Ultra HD Waterproof DV Camcorder LCD Screen Remote ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$26.39</span><span class="ori_price">$47.99</span></address>
      <textarea readonly="readonly" class="code_area">454U4NMF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $47.99</strong> with promo code: <strong class="m_codes">454U4NMF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NPtK3n">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="15" data-price="75.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lcvhi7"><img src="https://m.media-amazon.com/images/I/61emw7TFQiL._SR400,400_.jpg" alt="Gimbal Stabilizer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lcvhi7">Gimbal Stabilizer for iPhone, 3-Axis Handheld Gimbal Stabilizer for Smartphone, Vlog YouTube Video Record,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$75.65</span><span class="ori_price">$89.00</span></address>
      <textarea readonly="readonly" class="code_area">1581ISD5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $89.00</strong> with promo code: <strong class="m_codes">1581ISD5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Lcvhi7">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="299.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NFbslf"><img src="https://m.media-amazon.com/images/I/7176IDSMu6L._SR400,400_.jpg" alt="Wireless Security Camera System" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NFbslf">[8CH Expandable] Wireless Security Camera System, CANAVIS 8 Channel 960P NVR 4Pcs 720P 1.0MP Night Vision IP Security Surveillance Cameras Home,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$299.70</span><span class="ori_price">$998.99</span></address>
      <textarea readonly="readonly" class="code_area">70B775SH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $998.99</strong> with promo code: <strong class="m_codes">70B775SH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NFbslf">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="35" data-price="24.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zELdDa"><img src="https://m.media-amazon.com/images/I/81p2wSriyRL._SR400,400_.jpg" alt="SEEHONOR Insulated Cooler Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zELdDa">SEEHONOR Insulated Cooler Backpack Leakproof Soft Cooler Bag Lightweight Backpack with Cooler for Lunch Picnic Hiking...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.04</span><span class="ori_price">$36.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35L6S2WG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $36.99</strong> with promo code: <strong class="m_codes">35L6S2WG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zELdDa">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="22.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MNG3NO"><img src="https://m.media-amazon.com/images/I/61wle-yg2QL._SR400,400_.jpg" alt="Portable Blender USB Rechargeable" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MNG3NO">Portable Blender USB Rechargeable, CREATIVE DESIGN Small Blender Cordless Personal Blender for Shakes and Smoothies,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.19</span><span class="ori_price">$36.99</span></address>
      <textarea readonly="readonly" class="code_area">40VJB9I1</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $36.99</strong> with promo code: <strong class="m_codes">40VJB9I1</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MNG3NO">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="9.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZGSgWv"><img src="https://m.media-amazon.com/images/I/71JA6+OS2pL._SR400,400_.jpg" alt="AnBnCn Professional Can Opener" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZGSgWv">AnBnCn Professional Can Opener Manual Smooth Edge Food-safe</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.09</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30ID22J8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $12.99</strong> with promo code: <strong class="m_codes">30ID22J8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZGSgWv">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NIPpKl"><img src="https://m.media-amazon.com/images/I/81hDfndy0HL._SR400,400_.jpg" alt="Solar Lights Outdoor" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NIPpKl">Solar Lights Outdoor - New Upgraded Garden Decor Acrylic Bubble Lights, Multi-Color Changing Solar Powered Garden Stake Lights...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40OJDD3H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $18.99</strong> with promo code: <strong class="m_codes">40OJDD3H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 10:00 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NIPpKl">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="46" data-price="10.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MRj0l1"><img src="https://m.media-amazon.com/images/I/51oePPvXVUL._SR400,400_.jpg" alt="TOFOCO COM Newest Star/Ocean Rotating Ceiling Projector" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MRj0l1">TOFOCO COM Newest Star/Ocean Rotating Ceiling Projector Night Lights for Kids Baby Bedrooms Nursery (Blue) - Best Unique Gifts...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.25</span><span class="ori_price">$18.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">46ADE9IL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>46% off at $18.99</strong> with promo code: <strong class="m_codes">46ADE9IL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MRj0l1">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NLtSRg"><img src="https://m.media-amazon.com/images/I/61+nyZSV8gL._SR400,400_.jpg" alt="Smart Wifi Plug Work with Alexa Google Home" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NLtSRg">Smart Wifi Plug Work with Alexa Google Home IFTTT, Gosund 16A Smart Outlet Mini Socket with Overload Protection,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.98</span></address>
      <textarea readonly="readonly" class="code_area">50TANTAN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.98</strong> with promo code: <strong class="m_codes">50TANTAN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NLtSRg">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="39.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Le0UHZ"><img src="https://m.media-amazon.com/images/I/61hg0QGofoL._SR400,400_.jpg" alt="Electric Scalp Head Massager" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Le0UHZ">Electric Scalp Head Massager, Handheld Portable Scratch and Vibrate Massage (2-Modes) Deep Tissue Kneading Stimulating Hair ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.18</span><span class="ori_price">$48.98</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">20MVCFVC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $48.98</strong> with promo code: <strong class="m_codes">20MVCFVC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Le0UHZ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZK67eG"><img src="https://m.media-amazon.com/images/I/51JOrorN4vL._SR400,400_.jpg" alt="BOMPOW Dry Bag Waterproof" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZK67eG">BOMPOW Dry Bag Waterproof, 10L Drybag with 2 Long Adjustable Shoulder Strap, Protect Phone Camera Wallet from Water...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <textarea readonly="readonly" class="code_area">50Z38HS2</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $22.99</strong> with promo code: <strong class="m_codes">50Z38HS2</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZK67eG">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NJ78Bp"><img src="https://m.media-amazon.com/images/I/71IJNaghNVL._SR400,400_.jpg" alt="CHEE RAY Extra Thick Washable Snugly Bed Blanket" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NJ78Bp">CHEE RAY Extra Thick Washable Snugly Bed Blanket, Reversible & Durable Premium Fluffy Throw Blanket for Beds/Couch/Sofa,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">40PCLCHW</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $9.99</strong> with promo code: <strong class="m_codes">40PCLCHW</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NJ78Bp">Use Code at Amazon</a></div>
</div>
 
