<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Cou_Per% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Cou_Per% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2mydhEX"><img src="<%=asset_path 'extra_save.png' %>" alt="Save $10 when you spend $100" /></a></div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="35" data-price="21.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lf3S4R"><img src="https://m.media-amazon.com/images/I/814LBnDNhmL._SR400,400_.jpg" alt="KOPACK Lightweight Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lf3S4R">KOPACK Lightweight Laptop Backpack USB Port 15.6 Inch Business Slim Commute Travel Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.44</span><span class="ori_price">$32.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">35NS2KNM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $32.99</strong> with promo code: <strong class="m_codes">35NS2KNM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lf3S4R">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="13.44">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2npLuXO"><img src="https://m.media-amazon.com/images/I/71+36Gzk5eL._SR400,400_.jpg" alt="Lekesky Roll-top Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2npLuXO">Lekesky Roll-top Laptop Backpack 15.6 Inch Minimalist Bike Travel Backpack with Waterproof and Anti Theft Hiking Daypack...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.44</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">52S2FHZQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>52% off at $27.99</strong> with promo code: <strong class="m_codes">52S2FHZQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2npLuXO">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="19.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lIpNSt"><img src="https://m.media-amazon.com/images/I/71DwbSAVQ2L._SR400,400_.jpg" alt="Havit Keyboard Rainbow Backlit Wired Gaming Keyboard" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lIpNSt">Havit Keyboard Rainbow Backlit Wired Gaming Keyboard Mouse Combo, LED 104 Keys USB Ergonomic Wrist Rest Keyboard, 3200DPI...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.59</span><span class="ori_price">$27.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30ASAQ6A</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $27.99</strong> with promo code: <strong class="m_codes">30ASAQ6A</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 28, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lIpNSt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lktYne"><img src="https://m.media-amazon.com/images/I/61Def1PjcVL._SR400,400_.jpg" alt="Abask USB C Hub 8 in 1 USB-C Hub MacBook Adapter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lktYne">Abask USB C Hub 8 in 1 USB-C Hub MacBook Adapter to 4K HDMI, Gigabit Ethernet Port, 3 USB 3.0 Ports, Type C Charging Port,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_green"><span> + 15% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 15% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40P8JTJF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $49.99</strong> with promo code: <strong class="m_codes">40P8JTJF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 13, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lktYne">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2noIzi3"><img src="https://m.media-amazon.com/images/I/51+LC2n5AvL._SR400,400_.jpg" alt="Wzpiss DZ09 Bluetooth Smart Watch" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2noIzi3">Wzpiss DZ09 Bluetooth Smart Watch Touch Screen Wrist Watch Sports Fitness Tracker with Camera Pedometer Compatible iPhone iOS Samsung...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50U23DZP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $21.99</strong> with promo code: <strong class="m_codes">50U23DZP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2noIzi3">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="103.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lf8nfT"><img src="https://m.media-amazon.com/images/I/71-VYO4sdpL._SR400,400_.jpg" alt="Mini Projector, GooDee G500 HD Video Projector" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lf8nfT">Mini Projector, GooDee G500 HD Video Projector 3800 Lux with 50,000 Hrs, 200 inch Home Theater Movie Projector, 1080P Supported Compatible...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$103.99</span><span class="ori_price">$129.99</span>
        <div class="tooltip_common tooltip_green"><span> + $25.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + $25.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20NEWBEEUS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $129.99</strong> with promo code: <strong class="m_codes">20NEWBEEUS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lf8nfT">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lVlgvV"><img src="https://m.media-amazon.com/images/I/61l7w1MP6GL._SR400,400_.jpg" alt="Happy & Polly Retractable Dog Leash Retractable Dog Leash" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lVlgvV">Happy & Polly Retractable Dog Leash Retractable Dog Leash Reflective Dog Leash for Medium Small Dogs</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">604KNWD6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $19.99</strong> with promo code: <strong class="m_codes">604KNWD6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lVlgvV">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="14.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ld4o3i"><img src="https://m.media-amazon.com/images/I/61vBL3CiArL._SR400,400_.jpg" alt="RIODO Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ld4o3i">RIODO Bluetooth Headphones, Over Ear Foldable Wireless Headset with Mic, Soft Memory-Protein Earmuffs, 25 Hours Playtime for Work Office...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.00</span><span class="ori_price">$34.99</span></address>
      <textarea readonly="readonly" class="code_area">60KKBGA4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $34.99</strong> with promo code: <strong class="m_codes">60KKBGA4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ld4o3i">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mOGfR5"><img src="https://m.media-amazon.com/images/I/61SJWikhA6L._SR400,400_.jpg" alt="ZOER Kitchen Foldable Silicone Strainers" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mOGfR5">ZOER Kitchen Foldable Silicone Strainers, Collapsible Colanders with Handles,Space-Saver Folding Strainers Colander,Capacity of 2 quart (Green)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$7.99</span></address>
      <textarea readonly="readonly" class="code_area">5026UQ5Y</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $7.99</strong> with promo code: <strong class="m_codes">5026UQ5Y</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mOGfR5">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="11.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mLiZnc"><img src="https://m.media-amazon.com/images/I/71+ti3gLcxL._SR400,400_.jpg" alt="ONLYSHE Womens Crewneck Sweatshirt Casual Loose" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mLiZnc">ONLYSHE Womens Crewneck Sweatshirt Casual Loose Fitting Tops Long Sleeve T Shirt</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.39</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">403QBM35</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $18.99</strong> with promo code: <strong class="m_codes">403QBM35</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mLiZnc">Use Code at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2mydhEX"><img src="<%=asset_path 'extra_save.png' %>" alt="Save $10 when you spend $100" /></a></div>
 
<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lUHYEe"><img src="https://m.media-amazon.com/images/I/71p2X+YooDL._SR400,400_.jpg" alt="DULARF Automatic Electric Wine Bottle Opener" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lUHYEe">DULARF Automatic Electric Wine Bottle Opener 4 Set Cordless Wine Corkscrew Bottle Opener Foil Cutter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50HDIS7G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50HDIS7G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lUHYEe">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="71" data-price="23.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ni8R5p"><img src="https://m.media-amazon.com/images/I/711WmyIAndL._SR400,400_.jpg" alt="WESTBRONCO Leather Briefcases Laptop Handbags" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ni8R5p">WESTBRONCO Leather Briefcases Laptop Handbags 16.9" Shoulder Messenger Business Bag for Men</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.46</span><span class="ori_price">$80.88</span></address>
      <textarea readonly="readonly" class="code_area">71I3LQ5W</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>71% off at $80.88</strong> with promo code: <strong class="m_codes">71I3LQ5W</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ni8R5p">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="17.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2novXrg"><img src="https://m.media-amazon.com/images/I/716xOYzRm3L._SR400,400_.jpg" alt="Hair Dryer Brush and Hot Air Brush" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2novXrg">Hair Dryer Brush and Hot Air Brush, Air Hair Brush 3 in 1 Electric One Step Hair Dryer Volumizer with Negative Ion Curling Dryer Brush,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.33</span><span class="ori_price">$34.66</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50VQV1FG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $34.66</strong> with promo code: <strong class="m_codes">50VQV1FG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2novXrg">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="80" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lTdra2"><img src="https://m.media-amazon.com/images/I/71oSy45rvZL._SR400,400_.jpg" alt="Oli & Ode Lightning Compatible Cable" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lTdra2">Oli & Ode Lightning Compatible Cable - [Apple MFi Certified] - (6.6FT/2M) Braided Nylon Cable Compatible with iPhone Xs/XS Max/XR/X...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">80O3RWYR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $19.99</strong> with promo code: <strong class="m_codes">80O3RWYR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lTdra2">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="31.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lkpHQI"><img src="https://m.media-amazon.com/images/I/71oRQOajwLL._SR400,400_.jpg" alt="20V Max Lithium-Ion 1/2 Inch Drill Driver Kit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lkpHQI">20V Max Lithium-Ion 1/2 Inch Drill Driver Kit. Max Torque 450 in-Ibs, 2 - Speed, LED Work Light. Belt Clip. Fast Charger, 20V Max Battery,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.05</span><span class="ori_price">$69.00</span></address>
      <textarea readonly="readonly" class="code_area">55NC3JYU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $69.00</strong> with promo code: <strong class="m_codes">55NC3JYU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lkpHQI">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mTFBBH"><img src="https://m.media-amazon.com/images/I/51xIbGD3k7L._SR400,400_.jpg" alt="Uciefy U8 Bluetooth Wireless Mouse" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mTFBBH">Uciefy U8 Bluetooth Wireless Mouse, Dual Mode Slim Rechargeable Wireless Mouse Silent Cordless Mice with Bluetooth 4.0 ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">55WEUG1Z</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $19.99</strong> with promo code: <strong class="m_codes">55WEUG1Z</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2mTFBBH">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="3.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lREr9K"><img src="https://m.media-amazon.com/images/I/81QSuwHwiOL._SR400,400_.jpg" alt="VSCO Vinyl Stickers Waterproof,Aesthetic" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lREr9K">VSCO Vinyl Stickers Waterproof,Aesthetic, Trendy - VSCO Girl Essential Stuff for Water Bottles Stickers Suitable for Photo Sharing,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.99</span><span class="ori_price">$9.98</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">60ZTV68X</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $9.98</strong> with promo code: <strong class="m_codes">60ZTV68X</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2lREr9K">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nnqT6l"><img src="https://m.media-amazon.com/images/I/7191dh-6EoL._SR400,400_.jpg" alt="iClever Wireless Keyboard and Mouse" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nnqT6l">iClever Wireless Keyboard and Mouse - Rechargeable Wireless Keyboard Ergonomic Full Size Design with Number Pad,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30FIGGJS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $29.99</strong> with promo code: <strong class="m_codes">30FIGGJS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nnqT6l">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nqHiHl"><img src="https://m.media-amazon.com/images/I/514INRXsjaL._SR400,400_.jpg" alt="Vintage Square Sunglasses" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nqHiHl">Vintage Square Sunglasses for Men Women Metal Frame Classic Iron Man Tony Stark Sun Glasses Gradient Flat Lens</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$9.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">605Z5LI4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $9.99</strong> with promo code: <strong class="m_codes">605Z5LI4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nqHiHl">Use Code at Amazon</a></div>
</div>
  
<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nlfzHS"><img src="https://m.media-amazon.com/images/I/51fSWHLJYJL._SR400,400_.jpg" alt="USB C Hub" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nlfzHS">USB C Hub, PURKIN 5-in-1 Premium USB C Adapter with USB C Port, USB 3.0 Ports, for MacBook Pro 2016/2017/2018, iPad Pro 2018, ChromeBook,.</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_green"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">404TW3G3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $29.99</strong> with promo code: <strong class="m_codes">404TW3G3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2nlfzHS">Use Code at Amazon</a></div>
</div>

