<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now</a>
  </div>
</div> -->

<!-- <div class="tooltip_orange">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount width coupon</p>
  </div>
</div> -->

<div class="card clearfix" data-score="39" data-price="90.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K9g29l"><img src="https://images-na.ssl-images-amazon.com/images/I/81tDvpjSvAL._UX575_.jpg" alt="Polo Ralph Lauren" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K9g29l">Polo Ralph Lauren Men's Train100 Sneaker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$90.90</span><span class="ori_price">$150.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K9g29l">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="202.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K7cB3d"><img src="https://images-na.ssl-images-amazon.com/images/I/71Jf7Gd1HoL._SX679_.jpg" alt="Tempur-Pedic Mattress" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K7cB3d">Tempur-Pedic TEMPUR-ProForm Supreme 3-Inch King Mattress Topper, Medium Firm Luxury Premium Foam, Washable Cover</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$202.49</span><span class="ori_price">$449.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K7cB3d">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="29" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mlwk1Y"><img src="https://images-na.ssl-images-amazon.com/images/I/61mycc7Wn2L._AC_SR300,300_.jpg" alt="eufy Lumi Plug-In Night Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mlwk1Y">eufy Lumi Plug-In Night Light, Warm White LED Nightlight, Dusk-To-Dawn Sensor, Bedroom, Bathroom, Kitchen, Hallway, Stairs, Energy Efficient, Compact</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$13.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mlwk1Y">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YSEbFh"><img src="https://images-na.ssl-images-amazon.com/images/I/41CvDjUKEgL._AC_SR300,300_.jpg" alt="eufy Smart Scale" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YSEbFh">eufy Smart Scale C1 with Bluetooth, Body Fat Scale, Wireless Digital Bathroom Scale, 12 Measurements, Weight/Body Fat/BMI</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YSEbFh">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="27.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HEnyHF"><img src="https://images-na.ssl-images-amazon.com/images/I/71v-Njbc3ML._AC_SR300,300_.jpg" alt="AquaSonic Black Series Ultra Whitening Toothbrush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HEnyHF">AquaSonic Black Series Ultra Whitening Toothbrush - 8 DuPont Brush Heads & Travel Case Included</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.71</span><span class="ori_price">$36.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HEnyHF">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="86" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ECp774"><img src="https://images-na.ssl-images-amazon.com/images/I/718Vvm3WU0L._SY606_.jpg" alt="GQ Print Magazine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>86% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ECp774">GQ Print Magazine - 1 year-auto-renewal, Get 11 issues for only $0.91 each</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.00</span><span class="ori_price">$71.88</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ECp774">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="80" data-price="9.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HEgHy2"><img src="https://images-na.ssl-images-amazon.com/images/I/513uRZJPUhL.jpg" alt="Saveur Print Magazine" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HEgHy2">Saveur Print Magazine - 1 year-auto-renewal, Get 4 issues for only $2.25 each</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.00</span><span class="ori_price">$45.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HEgHy2">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="3.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QqIWTK"><img src="https://images-na.ssl-images-amazon.com/images/I/61yOXbj88uL._SY679_.jpg" alt="Tweezers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QqIWTK">Cliganic Professional Slant Tweezers - Precision Tweezers for Eyebrows | Hair Tweezer for Men & Women</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.99</span><span class="ori_price">$7.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QqIWTK">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="299.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EAcMAu"><img src="https://images-na.ssl-images-amazon.com/images/I/61OV--czh8L._SX522_.jpg" alt="Wireless Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EAcMAu">Bowers & Wilkins PX Active Noise Cancelling Wireless Headphones Best-in-class Sound, Space Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.98</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EAcMAu">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="46" data-price="58.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YQLH3O"><img src="https://images-na.ssl-images-amazon.com/images/I/61EeV9bv1ZL._SX679_.jpg" alt="Air Mattress" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YQLH3O">EnerPlex Never Leak 2019 Luxury Twin Size Air Mattress Twin Camping Airbed with High Speed Wireless Pump Single High Inflatable Blow Up Bed</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$58.95</span><span class="ori_price">$109.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YQLH3O">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="31" data-price="99.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VO8tHD"><img src="https://images-na.ssl-images-amazon.com/images/I/719LDKcAcGL._SX522_.jpg" alt="Bosch CLPK27-120 12V Max 2-Tool Combo Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VO8tHD">Bosch CLPK27-120 12V Max 2-Tool Combo Kit (Drill/Driver and Impact Driver) with 2 Batteries, Charger and Case</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.00</span><span class="ori_price">$144.06</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VO8tHD">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ma5rOg"><img src="https://images-na.ssl-images-amazon.com/images/I/91wOCt2KP4L._SX679_.jpg" alt="LEGO Technic Chevrolet Corvette" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ma5rOg">LEGO Technic Chevrolet Corvette ZR1 42093 Building Kit , New 2019 (579 Piece)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ma5rOg">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="12.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HCSQ1M"><img src="https://images-na.ssl-images-amazon.com/images/I/91wsHX9aD-L._SX522_.jpg" alt="LEGO City Switch Tracks" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HCSQ1M">LEGO City Switch Tracks 60238 Building Kit (6 Piece)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.79</span><span class="ori_price">$15.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HCSQ1M">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VR6p1t"><img src="https://images-na.ssl-images-amazon.com/images/I/81l9LIe0ipL._SX522_.jpg" alt="LEGO Friends Stephanie’s Buggy" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VR6p1t">LEGO Friends Stephanie’s Buggy & Trailer 41364 Building Kit , New 2019 (166 Piece)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VR6p1t">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="58" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2McM3jD"><img src="https://images-na.ssl-images-amazon.com/images/I/615Ev05x7AL._UX535_.jpg" alt="Cambridge Wedge Sandal" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2McM3jD">Cambridge Select Women's Crisscross Strappy Buckle Cutout Stacked Low Wedge Sandal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.00</span><span class="ori_price">$59.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2McM3jD">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="38" data-price="179.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ex9a24"><img src="https://images-na.ssl-images-amazon.com/images/I/71k2mVrGIIL._SX679_.jpg" alt="Cordless Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ex9a24">Eureka NEC222 HyperClean Cordless Cleaner, Super for All Carpet and Hardwood Floor Stick Vacuum with Powerful Digital Motor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.99</span><span class="ori_price">$289.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ex9a24">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="11" data-price="399.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30EEAgm"><img src="https://images-na.ssl-images-amazon.com/images/I/51Qtg4L%2BJmL._SX522_.jpg" alt="Xiaomi Mi Electric Scooter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>11% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30EEAgm">Xiaomi Mi Electric Scooter, 18.6 Miles Long-range Battery, Up to 15.5 MPH, Easy Fold-n-Carry Design, Ultra-Lightweight Adult Electric Scooter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.00</span><span class="ori_price">$448.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30EEAgm">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="43" data-price="45.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ey1gWo"><img src="https://images-na.ssl-images-amazon.com/images/I/71Yp-k8eiSL._SX679_.jpg" alt="Handheld Vacuum Cordless" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ey1gWo">Handheld Vacuum Cordless, Holife 6KPA Hand Vacuum Cleaner Rechargeable Hand Vac, 14.8V Lithium with Quick Charge</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.87</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ey1gWo">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="224.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30P0Zrg"><img src="https://images-na.ssl-images-amazon.com/images/I/71sBjbHYbKL._AC_SR300,300_.jpg" alt="Beats Solo3" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30P0Zrg">Save on Beats Solo3 Wireless Headphones</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$224.95</span><span class="ori_price">$299.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30P0Zrg">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="36" data-price="189.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M79pHd"><img src="https://images-na.ssl-images-amazon.com/images/I/711222Hy87L._SY879_.jpg" alt="Dyson" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M79pHd">Dyson Ball Animal Upright Vacuum , Purple (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$189.99</span><span class="ori_price">$299.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M79pHd">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="41" data-price="100.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EBIVrv"><img src="https://images-na.ssl-images-amazon.com/images/I/61MQZ1oxILL._SX679_.jpg" alt="ONSON Cordless Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EBIVrv">Cordless Vacuum, ONSON Stick Vacuum Cleaner, Powerful Cleaning Lightweight Handheld Vacuum with Rechargeable Lithium Ion Battery</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$100.00</span><span class="ori_price">$169.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EBIVrv">Shop Now</a>
  </div>
</div>


