<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>
-->

<div class="card clearfix" data-score="29" data-price="18.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ln3740"><img src="https://images-na.ssl-images-amazon.com/images/I/718agr8rMQL._SX425_.jpg" alt="Radha Beauty Aromatherapy Top 8 Essential Oils" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ln3740">Radha Beauty Aromatherapy Top 8 Essential Oils 100% Pure & Therapeutic Grade - Basic Sampler Gift Set & Kit...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.87</span><span class="ori_price">$26.57</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ln3740">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lmdyol"><img src="https://images-na.ssl-images-amazon.com/images/I/71knG37BDWL._SX425_.jpg" alt="PURA D’OR Organic Moroccan Argan Oil" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lmdyol">PURA D’OR Organic Moroccan Argan Oil (4oz) USDA Certified 100% Pure Cold Pressed Virgin Premium Grade Moisturizer Treatment...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$24.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lmdyol">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="7.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LrBQML"><img src="https://images-na.ssl-images-amazon.com/images/I/51uq5fTQxtL._SX522_.jpg" alt="O'Keeffe's for Healthy Feet Foot Cream" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LrBQML">O'Keeffe's for Healthy Feet Foot Cream, 3.2 Ounce</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.29</span><span class="ori_price">$13.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LrBQML">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="199.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LjtdVA"><img src="https://images-na.ssl-images-amazon.com/images/I/814fSnCl0eL._SX425_.jpg" alt="Braun Series 7 790cc Electric Razor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LjtdVA">Braun Series 7 790cc Electric Razor for Men, Rechargeable and Cordless Electric Shaver, Foil Shaver, Silver, with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.94</span><span class="ori_price">$289.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LjtdVA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HKs0En"><img src="https://images-na.ssl-images-amazon.com/images/I/71xf0kGHCsL._SX679_.jpg" alt="John Frieda Hot Air Brush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HKs0En">John Frieda Hot Air Brush, 1 1/2-inch Hot Air Brush</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HKs0En">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="14" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZMiVBb"><img src="https://images-na.ssl-images-amazon.com/images/I/811SDpB%2BFWL._SX425_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>14% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZMiVBb">Philips Sonicare 2 Series plaque control rechargeable electric toothbrush, Black, HX6211</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZMiVBb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ln4e3G"><img src="https://images-na.ssl-images-amazon.com/images/I/810AkkpqgsL._SX425_.jpg" alt="Philips Sonicare Essence Sonic Rechargeable Toothbrush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ln4e3G">Philips Sonicare Essence Sonic Rechargeable Toothbrush, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ln4e3G">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="10.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MW8dpP"><img src="https://images-na.ssl-images-amazon.com/images/I/71ceoIzmnNL._SX425_.jpg" alt="Hempz Natural Herbal Body Moisturizer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MW8dpP">Hempz Natural Herbal Body Moisturizer: Sweet Pineapple & Honey Melon Skin Lotion, 17 oz</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.59</span><span class="ori_price">$23.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MW8dpP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="22.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ljutb8"><img src="https://images-na.ssl-images-amazon.com/images/I/51UcBn8Wg%2BL._SY606_.jpg" alt="RapidLash Eyelash Enhancing Serum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ljutb8">RapidLash Eyelash Enhancing Serum (3ml),0.1-Fluid Ounces</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.38</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ljutb8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="82" data-price="5.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lov9wa"><img src="https://images-na.ssl-images-amazon.com/images/I/619OOEVoQ6L._SX425_PIbundle-6,TopRight,0,0_AA425SH20_.jpg" alt="Softsoap Liquid Hand Soap" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>82% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lov9wa">Softsoap Liquid Hand Soap, Milk and Honey - 7.5 fluid ounce (Pack of 6)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.94</span><span class="ori_price">$32.94</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lov9wa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="4.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LkO9eF"><img src="https://images-na.ssl-images-amazon.com/images/I/71lGmOjXo%2BL._SX425_.jpg" alt="Almay Longwear & Waterproof Eye Makeup Remover" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LkO9eF">Almay Longwear & Waterproof Eye Makeup Remover Pads, Hypoallergenic, Cruelty Free, Fragrance Free, Ophthalmologist Tested, 120 Pads</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.19</span><span class="ori_price">$8.89</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LkO9eF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NTQ2AH"><img src="https://images-na.ssl-images-amazon.com/images/I/51eenDS6TIL._SX425_.jpg" alt="Revlon 1875W Compact Travel Hair Dryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NTQ2AH">Revlon 1875W Compact Travel Hair Dryer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$17.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NTQ2AH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="31.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HNzZ3z"><img src="https://images-na.ssl-images-amazon.com/images/I/71JIeRDeUsL._SX425_.jpg" alt="Olay Dark Spot Corrector Serum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HNzZ3z">Olay Dark Spot Corrector Serum for Even Skin Tone by Olay ProX, with Vitamin B3 & Sea Kelp Extract, 1.3 Fl Oz</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.49</span><span class="ori_price">$44.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HNzZ3z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="24.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZPFJzW"><img src="https://images-na.ssl-images-amazon.com/images/I/41VEuinOQrL._SX425_.jpg" alt="Do-It-Yourself Electric Back Hair Shaver" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZPFJzW">MANGROOMER 2.0 PROFESSIONAL Do-It-Yourself Electric Back Hair Shaver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.49</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZPFJzW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LjWjEd"><img src="https://images-na.ssl-images-amazon.com/images/I/81ViTh9mXwL._SX425_.jpg" alt="Activated Charcoal Scrub 10 oz" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LjWjEd">Activated Charcoal Scrub 10 oz - For Deep Cleansing & Exfoliation - Pore Minimizer & Reduces Wrinkles, Blackhead Remover...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$29.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LjWjEd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NTb6HC"><img src="https://images-na.ssl-images-amazon.com/images/I/81Uunwi-btL._SX425_.jpg" alt="Polder Style Station" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NTb6HC">Polder Style Station</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NTb6HC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="41.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZPLptR"><img src="https://images-na.ssl-images-amazon.com/images/I/61jUJNoyk-L._SX425_.jpg" alt="INFINITIPRO BY CONAIR Hot Air Spin Brush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZPLptR">INFINITIPRO BY CONAIR Hot Air Spin Brush, 2-inch and 1 1/2-inch, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$41.78</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZPLptR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="22.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZTOdGF"><img src="https://images-na.ssl-images-amazon.com/images/I/818Y89N0hIL._SX425_.jpg" alt="Oral-B CrossAction Electric Toothbrush Replacement Brush Heads Refill" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZTOdGF">Oral-B CrossAction Electric Toothbrush Replacement Brush Heads Refill, 4ct (Packaging may vary)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.99</span><span class="ori_price">$35.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZTOdGF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NR8xpB"><img src="https://images-na.ssl-images-amazon.com/images/I/81v3xrQYlNL._SX425_.jpg" alt="Brusheez Kid's Electric Toothbrush Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NR8xpB">Brusheez Kid's Electric Toothbrush Set - Sparkle the Unicorn - New & Improved with Softer Bristles, Easy-Press Power Button,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NR8xpB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="23.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HKtXAH"><img src="https://images-na.ssl-images-amazon.com/images/I/91cp2y-2CEL._SX425_.jpg" alt="10 Large Bath Bombs W/Free Soap Bar" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HKtXAH">10 Large Bath Bombs W/Free Soap Bar, USA Made Gift Set - Bath Fizzies -Over 200 Different Varieties, Assorted Gift Box...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.97</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HKtXAH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HP5ieu"><img src="https://images-na.ssl-images-amazon.com/images/I/719iSFgVCPL._SX425_.jpg" alt="Nature Made High Potency Magnesium" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HP5ieu">Nature Made High Potency Magnesium 400 mg Softgels, 110 count</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.25</span><span class="ori_price">$14.49</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HP5ieu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.11">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LsIUbR"><img src="https://images-na.ssl-images-amazon.com/images/I/71d3ATPCHvL._SX425_.jpg" alt="MuscleTech Advanced Daily Multivitamin" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LsIUbR">MuscleTech Advanced Daily Multivitamin for Men & Women, Includes Amino Acids, 18 Vitamins & Minerals...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.11</span><span class="ori_price">$18.56</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LsIUbR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="35.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NNIhwm"><img src="https://images-na.ssl-images-amazon.com/images/I/91tMofFe3ZL._UX679_.jpg" alt="Travelon Anti Theft Classic Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NNIhwm">Travelon Anti Theft Classic Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.69</span><span class="ori_price">$85.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NNIhwm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="94.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlqbQG"><img src="https://images-na.ssl-images-amazon.com/images/I/51cpmarYhkL._SY879_.jpg" alt="Leather Crossbody Flapover Messenger Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlqbQG">Kenneth Cole Reaction Risky Business Full-Grain Colombian Leather Crossbody Flapover Messenger Bag, Brown</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$94.99</span><span class="ori_price">$260.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlqbQG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="18.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lp7yLG"><img src="https://images-na.ssl-images-amazon.com/images/I/91Fsqq13qzL._SX522_.jpg" alt="Travelon Anti-Theft Classic Mini Shoulder Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lp7yLG">Travelon Anti-Theft Classic Mini Shoulder Bag, Black, One Size</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.89</span><span class="ori_price">$50.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lp7yLG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmleXU"><img src="https://images-na.ssl-images-amazon.com/images/I/71UFheuSiVL._SX522_.jpg" alt="Rockland Luggage 40 Inch Rolling Duffle Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmleXU">Rockland Luggage 40 Inch Rolling Duffle Bag, Black, X-Large</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$109.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LmleXU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="78" data-price="3.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N02GhV"><img src="https://images-na.ssl-images-amazon.com/images/I/815f0BXG2%2BL._SX425_.jpg" alt="FURminator deShedding Ultra Premium Dog Shampoo" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>78% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N02GhV">FURminator deShedding Ultra Premium Dog Shampoo to Reduce Shedding</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.14</span><span class="ori_price">$13.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N02GhV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="5.26">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZSCQP4"><img src="https://images-na.ssl-images-amazon.com/images/I/71O11vM2TdL._SX425_.jpg" alt="Chuckit! Ultra Ball" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZSCQP4">Chuckit! Ultra Ball</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.26</span><span class="ori_price">$10.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZSCQP4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="6.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmlO82"><img src="https://images-na.ssl-images-amazon.com/images/I/41p6wB-oU9L._SX425_.jpg" alt="Smartsticks Dog chew" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmlO82">Smartsticks Dog chew</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.35</span><span class="ori_price">$12.64</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LmlO82">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="8.35">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lmqvys"><img src="https://images-na.ssl-images-amazon.com/images/I/71Z9yyaOXyL._SX425_.jpg" alt="Milk-Bone Flavor Snacks for Dogs of All Sizes" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lmqvys">Milk-Bone Flavor Snacks for Dogs of All Sizes</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.35</span><span class="ori_price">$19.62</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lmqvys">Shop Now at Amazon</a></div>
</div>