<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34vRL5p"><img src="https://m.media-amazon.com/images/I/51nqEpr4csL._SR400,400_.jpg" alt="Smart Plug" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34vRL5p">[New Version] Smart Plug, LeFun WiFi Outlet Grouping Control (4-Pack) Compatible with Alexa Google Assistant...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">50IZKKJF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50IZKKJF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34vRL5p">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PUdGQj"><img src="https://m.media-amazon.com/images/I/81vNYy6ZqCL._SR400,400_.jpg" alt="CYZ Men's V-Neck T-Shirt Undershirt Pack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PUdGQj">CYZ Men's V-Neck T-Shirt Undershirt Pack of 3 100% Cotton</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">50COTTONSHRT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">50COTTONSHRT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PUdGQj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="12.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZGcaWG"><img src="https://m.media-amazon.com/images/I/61YUmm1XyGL._SR400,400_.jpg" alt="Aeifond Smart Watch Bluetooth Smartwatch" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZGcaWG">Aeifond Smart Watch Bluetooth Smartwatch Touch Screen Wrist Watch Sports Fitness Tracker with Camera SIM SD Card Slot Pedometer Compatible...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.59</span><span class="ori_price">$27.98</span></address>
      <textarea readonly="readonly" class="code_area">55TCOL3Y</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $27.98</strong> with promo code: <strong class="m_codes">55TCOL3Y</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZGcaWG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="18.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZIFP1p"><img src="https://m.media-amazon.com/images/I/61lg22xZbLL._SR400,400_.jpg" alt="Veru ETERNITY Hair Straightening Brush" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZIFP1p">Veru ETERNITY Hair Straightening Brush, Ionic Hot Heat Brush with 5 Adjustable Temperatures, LED Display, Anti Static,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.34</span><span class="ori_price">$36.69</span></address>
      <textarea readonly="readonly" class="code_area">501TJMEM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $36.69</strong> with promo code: <strong class="m_codes">501TJMEM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 13, 2019 at 03:00 AM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZIFP1p">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="21.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PMSY4H"><img src="https://m.media-amazon.com/images/I/51YAxBxe1-L._SR400,400_.jpg" alt="Yootech Dual Fast Wireless Charger with Cooling Fan" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PMSY4H">Yootech Dual Fast Wireless Charger with Cooling Fan, 4 Coils 10W Wireless Charging Stand and Pad with Quick Adapter,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.50</span><span class="ori_price">$42.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50B3TCBH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $42.99</strong> with promo code: <strong class="m_codes">50B3TCBH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PMSY4H">Use Code at Amazon</a></div>
</div>
 
 <div class="card clearfix" data-score="30" data-price="59.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31c61yd"><img src="https://m.media-amazon.com/images/I/61dpIp+yeML._SR400,400_.jpg" alt="Eureka Instant Clear 26' NEA120 Purifier" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31c61yd">Eureka Instant Clear 26' NEA120 Purifier, 3-in-1 True HEPA Air Cleaner with Carbon Activated Filter and UV LED,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.70</span><span class="ori_price">$85.28</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">30NEA120</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $85.28</strong> with promo code: <strong class="m_codes">30NEA120</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31c61yd">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="11.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zZsOkQ"><img src="https://m.media-amazon.com/images/I/7133Dz55ZZL._SR400,400_.jpg" alt="CAMEL CROWN Convertible Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zZsOkQ">CAMEL CROWN Convertible Backpack for Men/Women Messenger Bag Laptop Backpacks Multi-Function Daypack Fits 15.6 Inch Laptop</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.20</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">60IF8ODE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $27.99</strong> with promo code: <strong class="m_codes">60IF8ODE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zZsOkQ">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZV1PB8"><img src="https://m.media-amazon.com/images/I/61wY8rJFg0L._SR400,400_.jpg" alt="White Noise Sound Machines" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZV1PB8">White Noise Sound Machines for Sleeping with 8 Natural Soothing Sounds - Portable Sleep Sound Therapy for Home Office</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50S4W9G7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50S4W9G7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZV1PB8">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="11.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N08iJ5"><img src="https://m.media-amazon.com/images/I/51DlaJGsZbL._SR400,400_.jpg" alt="Poweriver 2 in 1 Charger Powerbank" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N08iJ5">Poweriver 2 in 1 Charger Powerbank, MetaPower with 2 Port, 5000mAh 2.1A 18W, Foldable Plug, Flashlight for Travel,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.25</span><span class="ori_price">$24.99</span></address>
      <textarea readonly="readonly" class="code_area">55XTPA3P</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $24.99</strong> with promo code: <strong class="m_codes">55XTPA3P</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2N08iJ5">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="19.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/312gwE4"><img src="https://m.media-amazon.com/images/I/61OG4S3oJLL._SR400,400_.jpg" alt="Wireless Earphones Bluetooth Headphones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/312gwE4">Wireless Earphones Bluetooth Headphones 100H Play time Deep Bass Stereo Sound Wireless Headphones Built-in Mic...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.79</span><span class="ori_price">$44.98</span></address>
      <textarea readonly="readonly" class="code_area">56J7PCKP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>56% off at $44.98</strong> with promo code: <strong class="m_codes">56J7PCKP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/312gwE4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lshzq9"><img src="https://m.media-amazon.com/images/I/51914qRriyL._SR400,400_.jpg" alt="VIKEFON Aptx Low Latency USB Bluetooth Audio Transmitter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lshzq9">VIKEFON Aptx Low Latency USB Bluetooth Audio Transmitter Adapter for TV PC Laptop Mac PS4 Nintendo Switch,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$19.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30VIKEFON</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $19.99</strong> with promo code: <strong class="m_codes">30VIKEFON</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 23, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Lshzq9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="10" data-price="89.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PQkONO"><img src="https://m.media-amazon.com/images/I/71ius7KdxGL._SR400,400_.jpg" alt="Yedi 9-in-1 Total Package Instant Cooker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PQkONO">Yedi 9-in-1 Total Package Instant Programmable Pressure Cooker, Slow Cooker, Rice Cooker, Yogurt, Sauté, Steamer....</a></p>
    <div class="code_high">
      <address><span class="dis_price">$89.95</span><span class="ori_price">$99.95</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">10GOYEDI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $99.95</strong> with promo code: <strong class="m_codes">10GOYEDI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PQkONO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PPVjMj"><img src="https://m.media-amazon.com/images/I/51dGhle1W3L._SR400,400_.jpg" alt="Travel Bottles Set TSA Approved" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PPVjMj">Travel Bottles Set TSA Approved, INSMART Leakproof Silicone Travel Containers, Squeezable 2.9oz Travel Bottles...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.99</span><span class="ori_price">$9.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40RMPGNM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $9.99</strong> with promo code: <strong class="m_codes">40RMPGNM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PPVjMj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PSymrS"><img src="https://m.media-amazon.com/images/I/61zQUbmdoKL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PSymrS">SUNROLAN Casual Women's Suede Leather Driving Moccasins Slip-On Penny Loafers Boat Shoes Flats</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$35.99</span></address>
      <textarea readonly="readonly" class="code_area">70GQLKNX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $35.99</strong> with promo code: <strong class="m_codes">70GQLKNX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PSymrS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PMjmvE"><img src="https://m.media-amazon.com/images/I/61md61P1fbL._SR400,400_.jpg" alt="EMONIA Twin Size Comforter Dark Grey" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PMjmvE">EMONIA Twin Size Comforter Dark Grey for All Seasons, Quilted Down Alternative Duvet Insert-Hotel Collection Reversible...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.95</span><span class="ori_price">$35.90</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
       <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50H25YQD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $35.90</strong> with promo code: <strong class="m_codes">50H25YQD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PMjmvE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PQQR01"><img src="https://m.media-amazon.com/images/I/51nIzat72PL._SR400,400_.jpg" alt="iFkoo Rechargeable Night Light" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PQQR01">iFkoo Rechargeable Night Light with Hook, Touch Sensor Bedside Lamp for Bedroom, Living Room, Dimmable Warm White...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.98</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50R45DRK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.98</strong> with promo code: <strong class="m_codes">50R45DRK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PQQR01">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="10.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34nXSIZ"><img src="https://m.media-amazon.com/images/I/51azWZo2F4L._SR400,400_.jpg" alt="iooho Womens High Waist Yoga" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34nXSIZ">iooho Womens High Waist Yoga Leggings Tummy Control Workout Yoga Pants</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.04</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">336MGNLC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>33% off at $14.99</strong> with promo code: <strong class="m_codes">336MGNLC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34nXSIZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="19" data-price="21.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PO48q4"><img src="https://m.media-amazon.com/images/I/61dMrn7iV4L._SR400,400_.jpg" alt="BESTEK 8-Outlet Surge Protector Power Strip" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PO48q4">BESTEK 8-Outlet Surge Protector Power Strip with 4 USB Charging Ports and 6-Foot Heavy Duty Extension Cord, 600 Joules...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.05</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">19GE3V5O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>19% off at $25.99</strong> with promo code: <strong class="m_codes">19GE3V5O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PO48q4">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MWFelZ"><img src="https://m.media-amazon.com/images/I/816WJ1z92kL._SR400,400_.jpg" alt="Manfiter Detailing Brush Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MWFelZ">Manfiter Detailing Brush Set, Car Duster, Auto Detail Brush Set with Car Dash Duster Brush for Car Motorcycle Automotive Cleaning Wheels,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.39</span><span class="ori_price">$11.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">30266ISJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $11.99</strong> with promo code: <strong class="m_codes">30266ISJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MWFelZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="15.26">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MWzY1D"><img src="https://m.media-amazon.com/images/I/616l2IRi55L._SR400,400_.jpg" alt="LED Headlamp" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MWzY1D">LED Headlamp, Loyalfire 3 Headlamp XML-T6 Bright Light 4 Modes Rotary Zoomable Waterproof Headlight Flashlight...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.26</span><span class="ori_price">$21.80</span></address>
      <textarea readonly="readonly" class="code_area">30PD599G</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $21.80</strong> with promo code: <strong class="m_codes">30PD599G</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 23, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MWzY1D">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Uxuw67"><img src="https://m.media-amazon.com/images/I/71f+mSeSYIL._SR400,400_.jpg" alt="iClever Vertical Mouse" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Uxuw67">iClever Vertical Mouse - Ergonomic Mouse Wireless 6 Buttons with Adjustable DPI 1000/1600/2000/2400 Comfortable...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">254YVPZU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $17.99</strong> with promo code: <strong class="m_codes">254YVPZU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Uxuw67">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="11.16">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Yarsl"><img src="https://m.media-amazon.com/images/I/817fb2lOC6L._SR400,400_.jpg" alt="LILY SADO Green Tea Mask" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Yarsl">LILY SADO Green Tea Mask - Natural Organic Vegan Facial Mask - Anti-Aging, Antioxidant Defense Against Acne, Blackheads...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.16</span><span class="ori_price">$15.95</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30GOGREEN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $15.95</strong> with promo code: <strong class="m_codes">30GOGREEN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/30Yarsl">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PKpnc7"><img src="https://m.media-amazon.com/images/I/71l38E40pJL._SR400,400_.jpg" alt="CAMEL CROWN Running Shoes" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PKpnc7">CAMEL CROWN Running Shoes for Men Athletic Walking Tennis Shoes Casual Fashion Sneakers Sport Gym Walking Workout Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.99</span><span class="ori_price">$42.47</span></address>
      <textarea readonly="readonly" class="code_area">60BD7P81</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $42.47</strong> with promo code: <strong class="m_codes">60BD7P81</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PKpnc7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PPntHg"><img src="https://m.media-amazon.com/images/I/61CLFb8QSIL._SR400,400_.jpg" alt="NANAN Blackout Curtains" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PPntHg">NANAN Blackout Curtains, Thermal Insulated Grommet Blackout Curtain Panels Window Drapes for Living Room, Solid Room Darkening ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.49</span><span class="ori_price">$28.99</span></address>
      <textarea readonly="readonly" class="code_area">50VPIKNZ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $28.99</strong> with promo code: <strong class="m_codes">50VPIKNZ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PPntHg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="39.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZQNSnV"><img src="https://m.media-amazon.com/images/I/61y8Rgz577L._SR400,400_.jpg" alt="redder Kempgear Heated Jacket Lightweight Cotton" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZQNSnV">redder Kempgear Heated Jacket Lightweight Cotton Puffer Jacket Black Woman- No Battery</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.50</span><span class="ori_price">$79.00</span></address>
      <textarea readonly="readonly" class="code_area">506SKL94</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $79.00</strong> with promo code: <strong class="m_codes">506SKL94</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZQNSnV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PSBggg"><img src="https://m.media-amazon.com/images/I/81kILAuC1TL._SR400,400_.jpg" alt="Activated Charcoal Teeth Whitening" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PSBggg">Activated Charcoal Teeth Whitening Powder With Bamboo Toothbrush |100% Natural, Vegan & Cruelty Free Charcoal Teeth Whitening...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$20.00</span></address>
      <textarea readonly="readonly" class="code_area">80OW1GZY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $20.00</strong> with promo code: <strong class="m_codes">80OW1GZY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PSBggg">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.11">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Q5uPXB"><img src="https://m.media-amazon.com/images/I/51Ngpyg+rpL._SR400,400_.jpg" alt="Hemp Oil for Pain Relief" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Q5uPXB">Hemp Oil for Pain Relief, 500mg Hemp Extract, Anxiety Relief, Lower Cholesterol, Boost Immune System, All Natural Supplement,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.11</span><span class="ori_price">$16.85</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40D8QY1M</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $16.85</strong> with promo code: <strong class="m_codes">40D8QY1M</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 16, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Q5uPXB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UCQrcf"><img src="https://m.media-amazon.com/images/I/71Vp8oue1LL._SR400,400_.jpg" alt="Tower Air Purifiers True HEPA" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UCQrcf">Tower Air Purifiers True HEPA with Charcoal Air Filters, Allergen Reducing Air Cleaner, 3 Year Warranty，Odor Eliminator for Smokers,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$47.99</span><span class="ori_price">$95.99</span></address>
      <textarea readonly="readonly" class="code_area">50JWWRE6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $95.99</strong> with promo code: <strong class="m_codes">50JWWRE6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2UCQrcf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MXLWrH"><img src="https://m.media-amazon.com/images/I/51CAgeRS4jL._SR400,400_.jpg" alt="Wireless Mouse" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MXLWrH">Wireless Mouse, Inphic Slim Silent Click Rechargeable 2.4G Wireless Mice 1601DPI Mini Optical Portable Travel Cordless...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.19</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">40OFFMOUSE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $11.99</strong> with promo code: <strong class="m_codes">40OFFMOUSE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MXLWrH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="9.79">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://images-na.ssl-images-amazon.com/images/I/71tFiTAx9GL._SX522_.jpg" alt="uni Lightning Cable" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">uni Lightning Cable Nylon Braided [Apple MFi Certified], iPhone Charger Cable Compatible with iPhone 8, iPhone Xs Max, XR, iPad,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.79</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">308YA577</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $13.99</strong> with promo code: <strong class="m_codes">308YA577</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>

