<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="40" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KJaF0J"><img src="https://m.media-amazon.com/images/I/61bbxxy+R9L._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KJaF0J">Wireless Earbuds, LETSCOM True Wireless Stereo Bluetooth Headphones, 3D Stereo Sound in-Ear Earbuds, Bluetooth 5.0 Earphones ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">40B5V7AS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $29.99</strong> with promo code: <strong class="m_codes">40B5V7AS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KJaF0J">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZjWRBK"><img src="https://m.media-amazon.com/images/I/71Ykpnk6ypL._SR400,400_.jpg" alt="Computer Gaming Headset" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZjWRBK">Computer Gaming Headset, 3.5mm Surround Stereo Wired Gaming Headphones with Microphone and Volume Control...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">60LJ62UR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $29.99</strong> with promo code: <strong class="m_codes">60LJ62UR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZjWRBK">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="4.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31PjOKH"><img src="https://m.media-amazon.com/images/I/61KEfDBWWNL._SR400,400_.jpg" alt="Happy & Polly Dematting Tool" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31PjOKH">Happy & Polly Dematting Tool for Dogs Undercoat Rake Dematting Comb Pet Grooming Comb with Round Blades for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.00</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">80UO7LTR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $19.99</strong> with promo code: <strong class="m_codes">80UO7LTR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31PjOKH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="8.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KYOPF9"><img src="https://m.media-amazon.com/images/I/41gLUd-wj6L._SR400,400_.jpg" alt="4 Pack USB Cable 2 in 1 Cable 27cm..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KYOPF9">4 Pack USB Cable 2 in 1 Cable 27cm / 0.8ft Nylon Braided Sync Micro USB Charger for Smartphone</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.00</span><span class="ori_price">$15.99</span></address>
      <textarea readonly="readonly" class="code_area">50YZDI9O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.99</strong> with promo code: <strong class="m_codes">50YZDI9O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KYOPF9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZhHFVY"><img src="https://m.media-amazon.com/images/I/61JMg9BAhSL._SR400,400_.jpg" alt="Balfer Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZhHFVY">Balfer Wireless Earbuds, True Wireless Bluetooth Earbuds with IPX5 Waterproof, Bluetooth Headset via 2 Modes/BT 5.0...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">50NBFJNF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50NBFJNF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZhHFVY">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z7NdDd"><img src="https://m.media-amazon.com/images/I/81nT7b5kCPL._SR400,400_.jpg" alt="G4Free Tactical Molly Army Backpack Shoulder Bags" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z7NdDd">G4Free Tactical Molly Army Backpack Shoulder Bags Assault Rucksack Bug Out Bag for Hiking Camping 40L(Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">50R81ALH</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.99</strong> with promo code: <strong class="m_codes">50R81ALH</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z7NdDd">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="6.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KHID5y"><img src="https://m.media-amazon.com/images/I/61nPncgSxtL._SR400,400_.jpg" alt="Holographic Fanny Pack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KHID5y">Holographic Fanny Pack, Veckle Clear Fanny Pack Shiny Neon Transparent iridescent Fanny Pack for Women</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.89</span><span class="ori_price">$11.49</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40FXW78K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $11.49</strong> with promo code: <strong class="m_codes">40FXW78K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KHID5y">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZhDMfw"><img src="https://m.media-amazon.com/images/I/61hB5LTK0vL._SR400,400_.jpg" alt="LOMVUM Laser Distance Measure" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZhDMfw">LOMVUM Laser Distance Measure with Mute Function Large LCD Backlight Display Measure Distance,Area and Volume,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.99</span><span class="ori_price">$35.98</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50KTSMSP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $35.98</strong> with promo code: <strong class="m_codes">50KTSMSP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZhDMfw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="42.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z9U6Pq"><img src="https://m.media-amazon.com/images/I/71i1RzZbdSL._SR400,400_.jpg" alt="UPGRADED WONGKUO Action Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z9U6Pq">UPGRADED WONGKUO Action Camera 4K 20MP Ultra HD EIS Anti-shake Sport Camera 98ft Waterproof 170°Wide-Angle...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.39</span><span class="ori_price">$52.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20MSTASE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $52.99</strong> with promo code: <strong class="m_codes">20MSTASE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Z9U6Pq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="13.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2z8fWIw"><img src="https://m.media-amazon.com/images/I/61vTW1P6+1L._SR400,400_.jpg" alt="Jungleland Camera Strap Rapid Fire Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2z8fWIw">Jungleland Camera Strap Rapid Fire Camera Neck Strap Quick Release and Safety Tether Shoulder Strap for Nikon...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.29</span><span class="ori_price">$18.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30YQ98DJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $18.99</strong> with promo code: <strong class="m_codes">30YQ98DJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2z8fWIw">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="16.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31SoBLz"><img src="https://m.media-amazon.com/images/I/61FF3-oJJgL._SR400,400_.jpg" alt="AINOPE Battery Pack 10000mAh" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31SoBLz">AINOPE Battery Pack 10000mAh, [3A Fast] Charge Portable Phone Charger High Speed 2 USB Outputs External Battery...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.19</span><span class="ori_price">$26.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">40Z7EWL5</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $26.99</strong> with promo code: <strong class="m_codes">40Z7EWL5</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31SoBLz">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="42" data-price="15.07">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HfBO9w"><img src="https://m.media-amazon.com/images/I/61Avmd3SkeL._SR400,400_.jpg" alt="NANFU Fast Wireless Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HfBO9w">NANFU Fast Wireless Charger, Qi Wireless 7.5W Fast Charging Stand with Cooling Fan Compatible for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.07</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">42OE51FF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>42% off at $25.99</strong> with promo code: <strong class="m_codes">42OE51FF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 27, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HfBO9w">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KV0SDI"><img src="https://m.media-amazon.com/images/I/81e460YL1aL._SR400,400_.jpg" alt="Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KV0SDI">Laptop Backpack,Business Anti Theft Slim Durable Laptops Backpack with USB Port,College School Computer Bag,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">45TS1977</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $19.99</strong> with promo code: <strong class="m_codes">45TS1977</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2KV0SDI">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="25.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zbscba"><img src="https://m.media-amazon.com/images/I/81ZwXEjGMiL._SR400,400_.jpg" alt="Sosoon Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zbscba">Sosoon Laptop Backpack, Business Laptop Backpack with USB Charging Port, Water Resistant Large Compartment College School Computer Bag...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.00</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">50T65LBI</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $49.99</strong> with promo code: <strong class="m_codes">50T65LBI</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 23, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zbscba">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31PUFj0"><img src="https://m.media-amazon.com/images/I/81ExXUpSrkL._SR400,400_.jpg" alt="Nattork Air Fryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31PUFj0">Nattork Air Fryer, 3.8 QT Programmable Digital TouchScreen 6-in-1 Smart Techonlogy Electric Air Fryer,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$49.99</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">50AIRFRYER</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $99.99</strong> with promo code: <strong class="m_codes">50AIRFRYER</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 25, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31PUFj0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="59.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zbW7jG"><img src="https://m.media-amazon.com/images/I/71HL2PlsZ4L._SR400,400_.jpg" alt="Travel Coffee Maker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zbW7jG">Travel Coffee Maker, Electric Portable Espresso Machine for Espresso Compatible Capsule, 15 Bars Pressure, One-Button Operation,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.39</span><span class="ori_price">$98.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">403NWPRU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $98.99</strong> with promo code: <strong class="m_codes">403NWPRU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zbW7jG">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="3.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2TMqZR0"><img src="https://m.media-amazon.com/images/I/51iKOe3cJNL._SR400,400_.jpg" alt="Dotala 3 in 1 Avocado Slicer Tool" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2TMqZR0">Dotala 3 in 1 Avocado Slicer Tool Works as a Splitter, Pitter and Cutter as knife peeler scoop with Comfort-Grip Handle</a></p>
    <div class="code_high">
      <address><span class="dis_price">$3.59</span><span class="ori_price">$5.99</span></address>
      <textarea readonly="readonly" class="code_area">40UP1XN9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $5.99</strong> with promo code: <strong class="m_codes">40UP1XN9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2TMqZR0">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="17.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZeTuYT"><img src="https://m.media-amazon.com/images/I/711r0eBpxyL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZeTuYT">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.50</span><span class="ori_price">$25.00</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30SG2IJV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $25.00</strong> with promo code: <strong class="m_codes">30SG2IJV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZeTuYT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="15.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Oik3n"><img src="https://m.media-amazon.com/images/I/91NUyWd+kqL._SR400,400_.jpg" alt="DLY Emergency Hiking Kit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Oik3n">DLY Emergency Hiking Kit - Outdoor Survival Gear Tool for Wilderness/Trip/Cars/Hiking/Camping gear - Paracord,Emergency Blanket,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.59</span><span class="ori_price">$25.99</span></address>
      <textarea readonly="readonly" class="code_area">40TRHASP</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $25.99</strong> with promo code: <strong class="m_codes">40TRHASP</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31Oik3n">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.73">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HfXSke"><img src="https://m.media-amazon.com/images/I/51COR1nvsnL._SR400,400_.jpg" alt="maxtop Blood Pressure Monitor Watch" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HfXSke">maxtop Blood Pressure Monitor Watch - Leather Band Smartwatch with Heart Rate Monitor Pedometer Sleep Monitor Message ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.73</span><span class="ori_price">$19.55</span></address>
      <textarea readonly="readonly" class="code_area">40DRWCDL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.55</strong> with promo code: <strong class="m_codes">40DRWCDL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Aug 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2HfXSke">Use Code at Amazon</a></div>
</div>

