<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div> -->

<!-- 
<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Amazon Deal Of The Day: Deal_Of_The_Day_Title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>

        <li>
          <p>Category_title</p>
          <ul>
             <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
          </ul>
        </li>
        
        <li><a href="product_link">- SEE MORE</a></li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div> -->

<!-- 
<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Product_title</a></p>

    <div class="code_high">
      <ul>
        <li>
          <p>Category_title</p>
          <ul>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="Each_Product_link">Each_products_title</a> - <span>Dis_Pri<em>Ori_Pri</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now at Amazon</a>
  </div>
</div> -->

<!-- 
<div class="tooltip_orange">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount width coupon</p>
  </div>
</div> 
-->

<div class="card clearfix" data-score="42" data-price="15.16">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xg1Faq"><img src="https://images-na.ssl-images-amazon.com/images/I/81TeJ-nysZL._SX679_.jpg" alt="Bamboo Charcoal Air Purifying Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xg1Faq">Amazon Deal Of The Day: Bamboo Charcoal Air Purifying Bag (4 Pack), 200g Natural Air Freshener Bags, Activated Charcoal Odor Eliminators, Car Air Purifier,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.16</span><span class="ori_price">$25.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xg1Faq">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="44.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RjllVB"><img src="https://images-na.ssl-images-amazon.com/images/I/8161ATQM1UL._SX679_.jpg" alt="PortoVino Beach Wine Tote" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RjllVB">PortoVino Beach Wine Tote (Blue/White) - Beach Bag with Hidden, Insulated Compartment, Holds 2 bottles of Wine!</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.95</span><span class="ori_price">$49.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RjllVB">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="14.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2RhUg53"><img src="https://images-na.ssl-images-amazon.com/images/I/61PuKxqGVGL._SX522_.jpg" alt="Stanley Camp" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2RhUg53">Stanley Camp 24oz. Cook Set</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.97</span><span class="ori_price">$30.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2RhUg53">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="19.82">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KoLilQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71PzdO9F-RL._SY879_.jpg" alt="Stanley Classic Vacuum Bottle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KoLilQ">Stanley Classic Vacuum Bottle</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.82</span><span class="ori_price">$40.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KoLilQ">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="16" data-price="16.82">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MSai7b"><img src="https://images-na.ssl-images-amazon.com/images/I/71foDrSDomL._SX522_.jpg" alt="Gleemerz Glowzer Figure" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MSai7b">Mattel Lil' Gleemerz Glowzer Figure, Black and White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.82</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MSai7b">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="98.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31CVBZ1"><img src="https://images-na.ssl-images-amazon.com/images/I/61cGeF%2B6RqL._SX522_.jpg" alt="Sony Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31CVBZ1">Sony WH-XB700 Wireless Extra Bass Bluetooth Headphones, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$98.00</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31CVBZ1">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="18" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IJVGS3"><img src="https://images-na.ssl-images-amazon.com/images/I/31FiNX8qNDL.jpg" alt="Seagate Backup Plus Portable" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IJVGS3">Seagate Backup Plus Portable for Mac 4TB External Hard Drive HDD – USB 3.0, 2 Months Adobe CC Photography</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$109.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IJVGS3">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="26" data-price="22.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KjEwh9"><img src="https://images-na.ssl-images-amazon.com/images/I/61%2BxucZ%2BGWL._SX679_.jpg" alt="SoundPEATS Bluetooth Headphones Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KjEwh9">SoundPEATS Bluetooth Headphones Wireless Earbuds 4.1 Magnetic Bluetooth Earphones Lightweight Earbuds with Mic for in-Ear Earphones Sports</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.09</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KjEwh9">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="22" data-price="23.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WJZ8Ri"><img src="https://images-na.ssl-images-amazon.com/images/I/91JCne9fbUL._SX679_.jpg" alt="Monopoly Game of Thrones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WJZ8Ri">Monopoly Game of Thrones Board Game for Adults</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.49</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WJZ8Ri">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="19" data-price="12.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MQHZWK"><img src="https://images-na.ssl-images-amazon.com/images/I/713JHXyZS9L._SX522_.jpg" alt="Pet Grooming Glove" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MQHZWK">[Upgrade Version] Pet Grooming Glove - Gentle Deshedding Brush Glove - Efficient Pet Hair Remover Mitt - Enhanced Five Finger Design</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.86</span><span class="ori_price">$15.86</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MQHZWK">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XgG8yk"><img src="https://images-na.ssl-images-amazon.com/images/I/81pkJICEs2L._SX522_.jpg" alt="BIC Brite Liner Grip Tank Highlighter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XgG8yk">BIC Brite Liner Grip Tank Highlighter, Chisel Tip, Assorted Colors, Pack of 24</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$15.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XgG8yk">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="18" data-price="6.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31AKcbZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61g02aaL4QL._SX679_.jpg" alt="Car Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31AKcbZ">TechMatte MagGrip Universal Magnetic CD Slot Mini Car Mount with Extra Strong Magnetic Grip (1 Pack)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.99</span><span class="ori_price">$8.49</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31AKcbZ">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31AJjQN"><img src="https://images-na.ssl-images-amazon.com/images/I/61ClqFaAmaL._SX522_.jpg" alt="Panasonic Electric Shaver and Trimmer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31AJjQN">Panasonic Electric Shaver and Trimmer for Men, ES8243A ARC4, Wet/Dry with 4 Blades and Flexible Pivoting Head </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31AJjQN">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="38" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IkwQJm"><img src="https://images-na.ssl-images-amazon.com/images/I/71ZnPLd%2BGPL._SX522_.jpg" alt="Lagunamoon Essential Oils" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IkwQJm">Lagunamoon Essential Oils Top 6 Gift Set Pure Essential Oils for Diffuser, Humidifier, Massage, Aromatherapy, Skin & Hair Care</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$15.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IkwQJm">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="19" data-price="55.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KkbTAA"><img src="https://images-na.ssl-images-amazon.com/images/I/715Ja7DPywL._SX522_.jpg" alt="Fujifilm Instax Mini 9 Instant Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KkbTAA">Fujifilm Instax Mini 9 Instant Camera, Cobalt Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$55.99</span><span class="ori_price">$69.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KkbTAA">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="23" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IJmbHb"><img src="https://images-na.ssl-images-amazon.com/images/I/91AqlZr8OmL._SX522_.jpg" alt="Educational Insights Kanoodle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IJmbHb">Educational Insights Kanoodle - Brain Twisting Solitaire Game</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$12.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IJmbHb">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="64.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KRDKrf"><img src="https://images-na.ssl-images-amazon.com/images/I/61xorNbpKAL._SX679_.jpg" alt="MAX Lithium Pivot Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KRDKrf">BLACK+DECKER BDH2000PL MAX Lithium Pivot Vacuum, 20-volt</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.00</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KRDKrf">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="33.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MQIhwO"><img src="https://images-na.ssl-images-amazon.com/images/I/518VUWYrjjL._SX679_.jpg" alt="Indoor Security Surveillance System" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MQIhwO">YI Dome Camera Pan/Tilt/Zoom Wireless IP Indoor Security Surveillance System 720p HD Night Vision, Motion Tracker, Auto-Cruise, Remote Monitor with iOS</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.99</span><span class="ori_price">$39.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MQIhwO">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="24" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KSgCZx"><img src="https://images-na.ssl-images-amazon.com/images/I/91AF5hPsRIL._SX425_.jpg" alt="Energizer AA Batteries" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KSgCZx">Energizer AA Batteries (48Count), Double A Max Alkaline Battery – Packaging May Vary</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KSgCZx">Shop Now at Amazon</a>
  </div>
</div>

<div class="card clearfix" data-score="57" data-price="10.67">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FdYgi3"><img src="https://images-na.ssl-images-amazon.com/images/I/810QKwepOiL._SY741_.jpg" alt="Scotch Thermal Laminating Pouches" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FdYgi3">Scotch Thermal Laminating Pouches, 8.9 x 11.4 -Inches, 3 mil thick, 100-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.67</span><span class="ori_price">$24.68</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2FdYgi3">Shop Now at Amazon</a>
  </div>
</div>
