<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->
<div class="card clearfix" data-score="10" data-price="17.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MTj5VF"><img src="https://m.media-amazon.com/images/I/61Oe93LNT4L._SR400,400_.jpg" alt="Insulated Lunch Container Thermos" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MTj5VF">Insulated Lunch Container Thermos Food Jar Food Storage Container Stainless Steel ZTXPRO Hot & Cold Vacuum Box with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.09</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">10C7O7YV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>10% off at $18.99</strong> with promo code: <strong class="m_codes">10C7O7YV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MTj5VF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="13.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZGTBkc"><img src="https://m.media-amazon.com/images/I/610JCJAIB2L._SR400,400_.jpg" alt="Coffee Grinder Electric" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZGTBkc">Coffee Grinder Electric, Spice Grinder Blade Grinders with Powerful Stainless Steel Blades and Cleaning Brush for Large...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.79</span><span class="ori_price">$22.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">407CFICN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $22.99</strong> with promo code: <strong class="m_codes">407CFICN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZGTBkc">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="10.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZNPgI7"><img src="https://m.media-amazon.com/images/I/61+xLmce82L._SR400,400_.jpg" alt="UMANOR Instant Read Meat Thermometer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZNPgI7">UMANOR Instant Read Meat Thermometer, Digital Thermometer with Alerts, Backlights Food Thermometer For Kitchen,BBQ, Grill Etc.</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.79</span><span class="ori_price">$23.98</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">558YNQVC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $23.98</strong> with promo code: <strong class="m_codes">558YNQVC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZNPgI7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.43">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zQL4wy"><img src="https://m.media-amazon.com/images/I/51mpw-+YFEL._SR400,400_.jpg" alt="Wine Glass with Handle Stainless" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zQL4wy">Wine Glass with Handle Stainless Steel Wine Tumbler with Lid Yiomxhi Double Insulated Mugs Coffee Cup Wine Cup Tumbler for Coffee,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.43</span><span class="ori_price">$14.29</span></address>
      <textarea readonly="readonly" class="code_area">20W58KXM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $14.29</strong> with promo code: <strong class="m_codes">20W58KXM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zQL4wy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="41.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zSQd7n"><img src="https://m.media-amazon.com/images/I/71JP6MKIIKL._SR400,400_.jpg" alt="Video Camera Camcorder Digital" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zSQd7n">Video Camera Camcorder Digital YouTube Vlogging Camera Recorder Full HD 1080P 30FPS 24MP 3.0 Inch 270 Degree Rotation...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$41.99</span><span class="ori_price">$69.99</span></address>
      <textarea readonly="readonly" class="code_area">40U2FB5O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $69.99</strong> with promo code: <strong class="m_codes">40U2FB5O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zSQd7n">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="11.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PFAeUO"><img src="https://m.media-amazon.com/images/I/81CWHWkTLvL._SR400,400_.jpg" alt="Phone Tripod" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PFAeUO">Phone Tripod, Flexible Cell Phone Tripod Adjustable Camera Stand Holder with Wireless Remote and Universal Clip 360°...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.24</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">25TK7OO7</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $14.99</strong> with promo code: <strong class="m_codes">25TK7OO7</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 02, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PFAeUO">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="16.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NO10YE"><img src="https://m.media-amazon.com/images/I/71sJDzMSXxL._SR400,400_.jpg" alt="360 Degree Panoramic Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NO10YE">360 Degree Panoramic Camera Home Security Camera System 960P WiFi Camera for Home Monitoring Indoor Light Bulb Camera ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.49</span><span class="ori_price">$29.98</span></address>
      <textarea readonly="readonly" class="code_area">45Q8WQQK</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $29.98</strong> with promo code: <strong class="m_codes">45Q8WQQK</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NO10YE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UwY8R9"><img src="https://m.media-amazon.com/images/I/61JGMzf+9AL._SR400,400_.jpg" alt="Salt and Pepper Grinder Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UwY8R9">Salt and Pepper Grinder Set, Cozzine Stainless Steel Salt and Pepper Shakers, Large Capacity, 5 Grade Adjustable Geramic Roor Salt Mill,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">40EF7566</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $19.99</strong> with promo code: <strong class="m_codes">40EF7566</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2UwY8R9">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="65.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LiRuLf"><img src="https://m.media-amazon.com/images/I/41CTncC9WOL._SR400,400_.jpg" alt="Nattork Air Fryer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LiRuLf">Nattork Air Fryer, 5.8 Quart Electric Hot Air Fryers with Recipes, 12-in-1 Oven Oilless Cooker with LCD Digital Screen and ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$65.99</span><span class="ori_price">$119.99</span></address>
      <textarea readonly="readonly" class="code_area">452XHT7O</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $119.99</strong> with promo code: <strong class="m_codes">452XHT7O</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 29, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LiRuLf">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="9.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZT7Mik"><img src="https://m.media-amazon.com/images/I/71oQb7WULmL._SR400,400_.jpg" alt="Ultra-Bright LED Flashlight" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZT7Mik">Ultra-Bright LED Flashlight, Wsiiroon CREE XML-T6 LED Flashlight, Zoomable, IP65 Water-Resistant, Portable, 5 Light Modes...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.74</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">358OVNGX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $14.99</strong> with promo code: <strong class="m_codes">358OVNGX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 04, 2019 at 02:00 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZT7Mik">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZM6jtS"><img src="https://m.media-amazon.com/images/I/61YaZsmgGSL._SR400,400_.jpg" alt="2Pack Multi Charging Cable-ZACTEK-4FT" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZM6jtS">2Pack Multi Charging Cable-ZACTEK-4FT Nylon Braided 4 in 1 USB Cable with Type C,Micro USB Ports Cord for Mobile Phones...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.79</span><span class="ori_price">$12.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">40JZNEAU</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $12.99</strong> with promo code: <strong class="m_codes">40JZNEAU</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZM6jtS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="5.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Llz2BT"><img src="https://m.media-amazon.com/images/I/712yxFfP3oL._SR400,400_.jpg" alt="Car Mount - Adinc Phone Holder for Car" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Llz2BT">Car Mount - Adinc Phone Holder for Car - Air Vent Phone Holder Cradle - 360 Degree Rotation Car Phone Mount for Cell Phone...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.49</span><span class="ori_price">$9.99</span></address>
      <textarea readonly="readonly" class="code_area">45HVV329</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $9.99</strong> with promo code: <strong class="m_codes">45HVV329</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 04, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Llz2BT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="20.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NOsldb"><img src="https://m.media-amazon.com/images/I/71Kb9SxW9VL._SR400,400_.jpg" alt="Smart Watch for Android iOS Phones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NOsldb">Smart Watch for Android iOS Phones, AIVEILE All-Rounder Version Activity Fitness Tracker Bluetooth Bracelet Waterproof...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.70</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">55KUHZTO</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $45.99</strong> with promo code: <strong class="m_codes">55KUHZTO</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NOsldb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="18.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LtJZQv"><img src="https://m.media-amazon.com/images/I/71zIjyfAOUL._SR400,400_.jpg" alt="Vanzon X5 Pro Bluetooth Speakers" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LtJZQv">Vanzon X5 Pro Bluetooth Speakers - Portable Wireless Speaker V5.0 with 20W Loud Stereo Sound, TWS, IPX7 Waterproof & 24H Playtime,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.71</span><span class="ori_price">$35.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">48CXKW2U</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>48% off at $35.99</strong> with promo code: <strong class="m_codes">48CXKW2U</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LtJZQv">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="21.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LtK4Uj"><img src="https://m.media-amazon.com/images/I/811OanPpIzL._SR400,400_.jpg" alt="OMOTON Detachable Keyboard Case" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LtK4Uj">OMOTON Detachable Keyboard Case for New iPad 9.7” 2018&2017, iPad Pro 9.7, iPad Air 1 / Air 2 9.7", Ultra-Thin Bluetooth...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.00</span><span class="ori_price">$41.99</span></address>
      <textarea readonly="readonly" class="code_area">503HL4HB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $41.99</strong> with promo code: <strong class="m_codes">503HL4HB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 02:00 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LtK4Uj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="24.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlUqpq"><img src="https://m.media-amazon.com/images/I/71AHIXasjVL._SR400,400_.jpg" alt="Apsung Keyboard Case" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlUqpq">Apsung Keyboard Case for New Tablet 9.7,Ultra-Thin Aluminum Portfolio Case, Wireless Smart Keyboard</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.00</span><span class="ori_price">$59.99</span></address>
      <textarea readonly="readonly" class="code_area">60KXPKGN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $59.99</strong> with promo code: <strong class="m_codes">60KXPKGN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LlUqpq">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="7.52">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PHDrTM"><img src="https://m.media-amazon.com/images/I/51vIY3ZcbDL._SR400,400_.jpg" alt="NANW Compatible with Fitbit" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PHDrTM">NANW Compatible with Fitbit Inspire HR Charger/Inspire Charger, Replacement Charging Dock Stand Station Cradle Adapter...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.52</span><span class="ori_price">$11.57</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">35Q2DLW8</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $11.57</strong> with promo code: <strong class="m_codes">35Q2DLW8</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 06, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PHDrTM">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NPgrzV"><img src="https://m.media-amazon.com/images/I/61OcCj3sgDL._SR400,400_.jpg" alt="Qi Wireless Car Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NPgrzV">Qi Wireless Car Charger Mount Automatic Clamping 10W Fast Charging Air Vent Phone Holder Compatible with iPhone X/Xs MAX/XR/X/8/8+,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.89</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">30CD5ZVS</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $26.99</strong> with promo code: <strong class="m_codes">30CD5ZVS</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NPgrzV">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zLKn7E"><img src="https://m.media-amazon.com/images/I/816i0U39g0L._SR400,400_.jpg" alt="AceMining Rechargeable Battery" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zLKn7E">AceMining Rechargeable Battery Operated Fan with 3 speeds, Strong Wind, Long Battery Life, Quiet Operation,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.49</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">50N9DRJY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $18.99</strong> with promo code: <strong class="m_codes">50N9DRJY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 08, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2zLKn7E">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="30.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lomfxd"><img src="https://m.media-amazon.com/images/I/81xet1sdQwL._SR400,400_.jpg" alt="USB C Hub 9-in-1 Type C Hub" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lomfxd">USB C Hub 9-in-1 Type C Hub with Gigabit Ethernet Port 2 USB 3.0 Ports SD/TF Card Reader, 3.5mm Audio Jack USB-C Power...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$30.00</span><span class="ori_price">$59.99</span></address>
      <textarea readonly="readonly" class="code_area">50O426WN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $59.99</strong> with promo code: <strong class="m_codes">50O426WN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Lomfxd">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="23.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MVjPJR"><img src="https://m.media-amazon.com/images/I/81cywYam7jL._SR400,400_.jpg" alt="Travel Laptop Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MVjPJR">Travel Laptop Backpack, Business Anti Theft Slim Durable Laptops Backpack with USB Charging Port,Water Resistant College School...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.99</span><span class="ori_price">$31.99</span>
        <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">258I85H3</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $31.99</strong> with promo code: <strong class="m_codes">258I85H3</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MVjPJR">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MTSbNe"><img src="https://m.media-amazon.com/images/I/61DiQI4mZTL._SR400,400_.jpg" alt="Zendure A2 Portable Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MTSbNe">Zendure A2 Portable Charger 6700mAh – Ultra-Durable External Battery Power for iPhone, Android and More, PC Advisor Winner 2014-2017,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">50A2SALE</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $39.99</strong> with promo code: <strong class="m_codes">50A2SALE</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 17, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MTSbNe">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="7.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LojzzT"><img src="https://m.media-amazon.com/images/I/71LkHFiACSL._SR400,400_.jpg" alt="Fanny Pack Bag for Men&Women" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LojzzT">Fanny Pack Bag for Men&Women, Waist Pack Hip Bum Bag with Large Capacity Adjustable Strap and Headphone Jack for Outdoors...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.19</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">40W74IQD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $11.99</strong> with promo code: <strong class="m_codes">40W74IQD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LojzzT">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="24.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NRg1sG"><img src="https://m.media-amazon.com/images/I/61aW2lCqa8L._SR400,400_.jpg" alt="INSMART Electric Shaver for men" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NRg1sG">INSMART Electric Shaver for men, Waterproof Wet/Dry USB Quick Rechargeable Cordless Electric Razor with Led Display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.49</span><span class="ori_price">$34.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">3054MYCY</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $34.99</strong> with promo code: <strong class="m_codes">3054MYCY</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NRg1sG">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="31.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Llnyhy"><img src="https://m.media-amazon.com/images/I/51R3zSRiQ-L._SR400,400_.jpg" alt="SENSOLOGY Cordless Water Flosser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Llnyhy">SENSOLOGY Cordless Water Flosser Rechargeable Teeth Cleaner Portable Travel Water Dental Flosser Oral Irrigator Flossing...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.18</span><span class="ori_price">$38.98</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20U8F9T6</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $38.98</strong> with promo code: <strong class="m_codes">20U8F9T6</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Llnyhy">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MTf43q"><img src="https://m.media-amazon.com/images/I/71HQcegk7PL._SR400,400_.jpg" alt="Trideer TPE Yoga Mat 6mm" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MTf43q">Trideer TPE Yoga Mat 6mm, Recyclable & Eco Friendly Certified by SGS, Fitness Mat, Exercise Mat with Carrying Strap ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">50DYASVC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $29.99</strong> with promo code: <strong class="m_codes">50DYASVC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 03, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2MTf43q">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="19.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZPtyDo"><img src="https://m.media-amazon.com/images/I/61xaAwFrHQL._SR400,400_.jpg" alt="Blackhead Remover Pore Vacuum Cleaner" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZPtyDo">Blackhead Remover Pore Vacuum Cleaner- BINZIM Upgraded USB Rechargeable Pore Sucker Acne Comedone Extractor Tool with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.47</span><span class="ori_price">$29.95</span></address>
      <textarea readonly="readonly" class="code_area">35VCVW13</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $29.95</strong> with promo code: <strong class="m_codes">35VCVW13</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 07, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZPtyDo">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZPvbku"><img src="https://m.media-amazon.com/images/I/71Yq8khKxqL._SR400,400_.jpg" alt="OICEPACK Ice Pack for Lunch Box" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZPvbku">OICEPACK Ice Pack for Lunch Box - Blue - Reusable Freezer Ice Packs for Coolers - Slim Long - Lasting Cool Pack for Lunch Bags...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.99</span><span class="ori_price">$15.98</span></address>
      <textarea readonly="readonly" class="code_area">50KMY2KN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $15.98</strong> with promo code: <strong class="m_codes">50KMY2KN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZPvbku">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="8.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NM213r"><img src="https://m.media-amazon.com/images/I/61c+siwhX+L._SR400,400_.jpg" alt="Littleadd Collapsible Silicone Water Bottle" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NM213r">Littleadd Collapsible Silicone Water Bottle 18.8 oz - Food-Grade Silicone Leak Proof Water Canteen for Home, Outdoor and Sports</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.93</span><span class="ori_price">$18.99</span></address>
      <textarea readonly="readonly" class="code_area">53W9HVWF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>53% off at $18.99</strong> with promo code: <strong class="m_codes">53W9HVWF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NM213r">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="15" data-price="23.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZJsaCd"><img src="https://m.media-amazon.com/images/I/61Km5x4diML._SR400,400_.jpg" alt="Smoothie Blender" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZJsaCd">Smoothie Blender, BILACA Personal Blender Single Serve for Shakes and Smoothies,Frozen Fruit Blender With 18oz BPA-Free Sport Bottles,300W</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.79</span><span class="ori_price">$27.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">15JN75GJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $27.99</strong> with promo code: <strong class="m_codes">15JN75GJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 01, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZJsaCd">Use Code at Amazon</a></div>
</div>

