<!-- <div class="card clearfix" data-tags="Category">
  <div class="info_box">
    <a target="_blank" href="Site_Link">
      <p>Percentage%<br /><em>OFF</em></p>
    </a>
  </div>
  <div class="inner">
    <span class="regular"><em>Category</em></span>
    <h3><a target="_blank" href="Site_Link">Main_title</a></h3>
    <p>Sub_title</p>
    <span>Expiration: On going</span>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="Site_Link">Shop Now</a>
  </div>
</div>
 -->

<div class="card clearfix" data-tags="Coupons"><!--(Coupons or Deals)-->
  <div class="info_box">
    <a target="_blank" href="https://amzn.to/2GDUFvg">
      <p>70%<br /><em>OFF</em></p>
    </a>
  </div>
  <div class="inner">
    <span class="regular"><em>Coupon</em></span>
    <h3><a target="_blank" href="https://amzn.to/2GDUFvg">Amazon | Saless & Coupons, May 2019</a></h3>
    <p>These Amazon coupons of the day to save as much as 70% on Grocery, Health & Beauty, Electronics, Home Improvement, and more. Simply click on the category of coupons you want, and clipping coupons.</p>
    <span>Expiration: On going</span>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GDUFvg">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-tags="Coupons">
  <div class="info_box">
    <a target="_blank" href="https://amzn.to/2H452rS">
      <p>$25<br /><em>OFF</em></p>
    </a>
  </div>
  <div class="inner">
    <span class="regular"><em>Coupon</em></span>
    <h3><a target="_blank" href="https://amzn.to/2H452rS">Take $25 off your first AmazonFresh order of $100 or more.</a></h3>
    <p>This is a limited time offer. Offer good while supplies last. Offer is restricted to select AmazonFresh customers who are recipients of this offer. Offer applies to first-time customer orders. Offer is valid on orders of $100 or more.</p>

    <strong>Code: FRESH25</strong>

    <span>Expiration: On going</span>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2H452rS">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-tags="Sales">
  <div class="info_box">
    <a target="_blank" href="https://amzn.to/2JxHv4A">
      <p>30%<br /><em>OFF</em></p>
    </a>
  </div>
  <div class="inner">
    <span class="regular"><em>Sales</em></span>
    <h3><a target="_blank" href="https://amzn.to/2JxHv4A">Up to 30% off | Amazon Elements</a></h3>
    <p>Amazon Elements is a line of premium everyday essentials exclusively available to Amazon Prime members.</br >If you are not an Amazon Prime member, sign up for the <a target="_blank" href="https://amzn.to/2vT0fmW">Amazon Prime Free Trial.</a></p>

    <span>Expiration: On going</span>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JxHv4A">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-tags="Coupons">
  <div class="info_box">
    <a target="_blank" href="https://amzn.to/2Log0gl">
      <p><span>50%</span><br /><em>OFF</em></p>
    </a>
  </div>
  <div class="inner">
    <span class="regular"><em>Coupon</em></span>
    <h3><a target="_blank" href="https://amzn.to/2Log0gl">Up to 50% off Electronics Clippable Coupons</a></h3>
    <p>Click here to scope out hundreds of electrifying coupons and discounts on everything from Amazon devices, cell phones & accessories, power bank, GoPros, and smart watches to computers, headphones, and speakers, and more!</p>
    <span>Expiration: On going</span>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Log0gl">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-tags="Sales">
    <div class="info_box">
      <a target="_blank" href="https://amzn.to/2DyoCdS">
        <p><span>15%</span><br /><em>OFF</em></p>
      </a>
    </div>
    <div class="inner">
      <span class="regular"><em>Sales</em></span>
      <h3><a target="_blank" href="https://amzn.to/2DyoCdS">Up to 15% & FREE Shipping | Subscribe & Save</a></h3>
      <p>Save up to 15% and receive FREE shipping on thousands of products. Easily manage your subscriptions; no commitments, obligations, or fees and you can cancel at any time.</p>
      <span>Expiration: On going</span>
    </div> 
    <div class="deal_btn">
      <a target="_blank" href="https://amzn.to/2DyoCdS">Shop Now</a>
    </div>
</div>

<div class="card clearfix" data-tags="Sales">
    <div class="info_box">
      <a target="_blank" href="https://amzn.to/2TDgO4q">
        <p><span>20%</span><br /><em>OFF</em></p>
      </a>
    </div>
    <div class="inner">
      <span class="regular"><em>Sales</em></span>
      <h3><a target="_blank" href="https://amzn.to/2TDgO4q">Amazon | Up to 20% Off Subscribe & Save</a></h3>
      <p>Save up to 20% and receive FREE shipping on thousands of products. Easily manage your subscriptions</p>
      <span>Expiration: 02/19/2020 CDT.</span>
    </div> 
    <div class="deal_btn">
      <a target="_blank" target="_blank" href="https://amzn.to/2TDgO4q">Shop Now</a>
    </div>
</div>
  
<div class="card clearfix" data-tags="Sales">
    <div class="info_box">
      <a target="_blank" href="https://amzn.to/2O0XFnd">
        <p><span>45%</span><br /><em>OFF</em></p>
      </a>
    </div>
    <div class="inner">
      <span class="regular"><em>Sales</em></span>
      <h3><a target="_blank" href="https://amzn.to/2O0XFnd">Amazon | Today's Deals</a></h3>
      <p>You can find great deals from Amazon's Today’s Deals regardless of whether you are looking for items for yourself or your family and friends.</p>
      <span>Expiration: on going</span>
    </div> 
    <div class="deal_btn">
      <a target="_blank" href="https://amzn.to/2O0XFnd">Shop Now</a>
    </div>
</div>

<div class="card clearfix" data-tags="Sales">
    <div class="info_box">
      <a target="_blank" href="https://amzn.to/2W3MMnv">
        <p><span>70%</span><br /><em>OFF</em></p>
      </a>
    </div>
    <div class="inner">
      <span class="regular"><em>Sales</em></span>
      <h3><a target="_blank" href="https://amzn.to/2W3MMnv">Amazon | Lightning Deals</a></h3>
      <p>Since Lightning Deals are time-sensitive, it's important to complete your order as soon as possible.</p>
      <span>Expiration: on going</span>
    </div> 
    <div class="deal_btn">
      <a target="_blank" href="https://amzn.to/2W3MMnv">Shop Now</a>
    </div>
</div>

<div class="card clearfix" data-tags="Sales">
  <div class="info_box">
    <a target="_blank" href="https://amzn.to/2O2ywbK">
      <p><span>80%</span><br /><em>OFF</em></p>
    </a>
  </div>
  <div class="inner">
    <span class="regular"><em>Sales</em></span>
    <h3><a target="_blank" href="https://amzn.to/2O2ywbK">Amazon | Up to 80% off Warehouse Products</a></h3>
    <p>Amazon Warehouse offers deals on hundreds of thousands of warehouse-damaged, returned, open-box, and pre-owned items.<br /><a target="_blank" href="https://amzn.to/2TBHgeN">[see warehouse products condition]</a></p>
    <span>Expiration: on going</span>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2O2ywbK">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-tags="Sales">
  <div class="info_box">
    <a target="_blank" href="https://amzn.to/2O51wiS">
      <p><span>60%</span><br /><em>OFF</em></p>
    </a>
  </div>
  <div class="inner">
    <span class="regular"><em>Sales</em></span>
    <h3><a target="_blank" href="https://amzn.to/2O51wiS">Amazon | Up to 60% off amazon fashion</a></h3>
    <p>Save up to 60% off on clothing, shoes, jewelry, watches, and more.</p>
    <span>Expiration: on going</span>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2O51wiS">Shop Now</a>
  </div>
</div>

 <div class="card clearfix" data-tags="Sales">
  <div class="info_box">
    <a target="_blank" href="https://amzn.to/2XH2c1C">
      <p><span>50%</span><br /><em>OFF</em></p>
    </a>
  </div>
  <div class="inner">
    <span class="regular"><em>Sales</em></span>
    <h3><a target="_blank" href="https://amzn.to/2XH2c1C">Up to 50% off | Great deals on like-new products on Amazon Renewed</a></h3>
    <p>Products on Amazon Renewed have been inspected and tested by qualified suppliers to work and look like new, and come with a minimum 90-day supplier-backed warranty. Get great deals on smartphones, computers, laptops, tablets, home and kitchen appliances, game consoles, office products, and more.</p>
    <span>Expiration: On going</span>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XH2c1C">Shop Now</a>
  </div>
</div>



