<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
   <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
   <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31A1fuN"><img src="https://m.media-amazon.com/images/I/61qRxH6AN-L._SR400,400_.jpg" alt="WORKPRO Heat Gun" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31A1fuN">WORKPRO Heat Gun, Heavy Duty 1500W 122째F-1112째F(50째C-600째C) Variable Temperature Control,3 Modes with Four Metal Nozzle Attachments(UL)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>20% off at $24.99</strong> with promo code: <strong>20POBZ3V</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31A1fuN">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Cr8Kj"><img src="https://m.media-amazon.com/images/I/51qturPr-GL._SR400,400_.jpg" alt="GRC True Wireless Bluetooth Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Cr8Kj">GRC True Wireless Bluetooth Earbuds in-Ear Stereo Bluetooth 5.0 Headphones Wireless Earphones, 42H Playtime 3D Stereo Sound Wireless Headphones</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>40% off at $39.99</strong> with promo code: <strong>40G33HBS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31Cr8Kj">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MROwQP"><img src="https://m.media-amazon.com/images/I/61m-buYjBVL._SR400,400_.jpg" alt="Homemaxs Shoe Rack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MROwQP">Homemaxs Shoe Rack, Space Saving Shoe Organizer for Closet, Sturdy 4+2 Tier Shoe Tower with Hanging Bags, Easy and Fast Installation Shoe Storage</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>50% off at $27.99</strong> with promo code: <strong>50GUDE6P</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MROwQP">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="8.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Kjyq0j"><img src="https://m.media-amazon.com/images/I/71fCHtK6gkL._SR400,400_.jpg" alt="CIOR Water Shoes Men Women Aqua Shoes" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Kjyq0j">CIOR Water Shoes Men Women Aqua Shoes Swim Shoes Barefoot Quick-Dry Beach Surf Yoga Exercise Shoes</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.80</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>60% off at $21.99</strong> with promo code: <strong>60VBMPSP</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Kjyq0j">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="15.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31vHCUN"><img src="https://m.media-amazon.com/images/I/71ujio3ZfAL._SR400,400_.jpg" alt="ibagbar Canvas Laptop Messenger Bags" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31vHCUN">ibagbar Canvas Laptop Messenger Bags 14 Inch Crossbody Shoulder Bag Computer Bags with Padded Sleeves Vintage Satchel College School Bag...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.49</span><span class="ori_price">$30.99</span></address>
      <p><span>Take <strong>50% off at $30.99</strong> with promo code: <strong>50BD1026</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31vHCUN">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="18.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WMS3zw"><img src="https://m.media-amazon.com/images/I/71B5Ka-r22L._SR400,400_.jpg" alt="Tocode Fashion Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WMS3zw">Tocode Fashion Laptop Backpack Contains Multi-Function Pockets, Durable Travel Backpack with USB Charging Port Stylish Anti-Theft School Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.50</span><span class="ori_price">$36.99</span></address>
      <p><span>Take <strong>50% off at $36.99</strong> with promo code: <strong>50BD1026</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WMS3zw">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WJv3Se"><img src="https://m.media-amazon.com/images/I/612ypcWh4wL._SR400,400_.jpg" alt="Hot Air Brush Hair Dryer Brush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WJv3Se">Hot Air Brush Hair Dryer Brush Hair Brush Dryer - Beewarm One Step Hair Brush and Styler for Curls and Straight Hair with 4 Clips</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.39</span><span class="ori_price">$38.99</span></address>
      <p><span>Take <strong>40% off at $38.99</strong> with promo code: <strong>40NUMZIR</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WJv3Se">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="85.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KSjCFh"><img src="https://m.media-amazon.com/images/I/71rWBw3Ht8L._SR400,400_.jpg" alt="LEDMIRCY 7inch 75w LED Headlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KSjCFh">LEDMIRCY 7inch 75w LED Headlight for Jeep Wrangler JK CJ TJ LJ Harley Davision FJ Hummer H1 H2 LED Projector Driving Lamps-White Hi/Lo Beam(Pack of 2,Red DRL)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$85.00</span><span class="ori_price">$169.99</span>
         <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $169.99</strong> with promo code: <strong>50KAL5SS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KSjCFh">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="17.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WHspMJ"><img src="https://m.media-amazon.com/images/I/610vfiLmbFL._SR400,400_.jpg" alt="Hand Mixer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WHspMJ">Hand Mixer, Cusinaid 5-Speed Electric Hand Mixer with Turbo Mixers Includes Beaters, Dough Hooks and Storage Case (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.00</span><span class="ori_price">$33.99</span></address>
      <p><span>Take <strong>50% off at $33.99</strong> with promo code: <strong>5052PPPB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WHspMJ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="135.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31AQtVi"><img src="https://m.media-amazon.com/images/I/71P4Ysw25lL._SR400,400_.jpg" alt="Z-EDGE Dash Cam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31AQtVi">Z-EDGE Dash Cam Front and Rear 4.0" Touch Screen Dual Dash Cam FHD 1080P with Night Mode, 32GB Card Included,155 Degree Wide Angle, WDR, G-Sensor,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$135.99</span><span class="ori_price">$169.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
           <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $169.99</strong> with promo code: <strong>20DADHAPPY</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31AQtVi">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MPArn2"><img src="https://m.media-amazon.com/images/I/71pUB7kPbcL._SR400,400_.jpg" alt="Essential Oil Diffuser" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MPArn2">Essential Oil Diffuser, 2 Pack Aromatherapy Diffuser for Essensial Oils Portable Ultrasonic Cool Mist Humidifier with 7 Color Light, Adjustable Mist Mode</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>50% off at $23.99</strong> with promo code: <strong>50H8Y6EI</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MPArn2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="9.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Rox1q4"><img src="https://m.media-amazon.com/images/I/61poM3Qe2KL._SR400,400_.jpg" alt="AUSUN Fitness Tracker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Rox1q4">AUSUN Fitness Tracker,FT902 Upgraded Color Screen Activity Tracker with Heart Rate Monitor Connected GPS Step Counter Sleep Monitor Stopwatch</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.60</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>60% off at $23.99</strong> with promo code: <strong>60MJYCJR</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 19, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Rox1q4">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="7.64">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MMywzw"><img src="https://m.media-amazon.com/images/I/71QGg4rQvXL._SR400,400_.jpg" alt="BOLTLINK Car Trash Can" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MMywzw">BOLTLINK Car Trash Can with Lid, Car Trash Bag Hanging for Headrest with 3 Storage Pockets, Portable Car Accessories Organizer for Women,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.64</span><span class="ori_price">$15.29</span></address>
      <p><span>Take <strong>50% off at $15.29</strong> with promo code: <strong>50EKC9DY</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MMywzw">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="13.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31DJeMm"><img src="https://m.media-amazon.com/images/I/71wYic1LujL._SR400,400_.jpg" alt="Wireless Bluetooth Sport Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31DJeMm">Wireless Bluetooth Sport Earbuds for Running, Workouts, and Exercise | HiFi Stereo | IPX7 Waterproof Headphones with Mic and Noise Cancelling...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.20</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>60% off at $32.99</strong> with promo code: <strong>60POPDESIGN</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31DJeMm">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="11.13">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31AA3w2"><img src="https://m.media-amazon.com/images/I/711xx0EUKnL._SR400,400_.jpg" alt="Hand Free Fan Neckband Sport Fan" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31AA3w2">Hand Free Fan Neckband Sport Fan Wearable USB Desktop Fan, 3 Speeds, USB Rechargeable, 360 Degree Adjustment for Home Office Outdoor Travel</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.13</span><span class="ori_price">$15.90</span></address>
      <p><span>Take <strong>30% off at $15.90</strong> with promo code: <strong>303TLLJT</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 16, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31AA3w2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31ATgh9"><img src="https://m.media-amazon.com/images/I/51L5HzRT6BL._SR400,400_.jpg" alt="Yoobao Slim Portable Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31ATgh9">Yoobao Slim Portable Charger, 5000mAh Power Bank External Battery Pack Cell Phone Backup Charger</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>70% off at $19.99</strong> with promo code: <strong>70R4LHHE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/31ATgh9">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="13.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2FbACTq"><img src="https://m.media-amazon.com/images/I/511QJ52iilL._SR400,400_.jpg" alt="homectrl Wonbo Kid Smart Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2FbACTq">homectrl Wonbo Kid Smart Watch, Soft Silicone GPS Tracker with SIM Slot SOS Call Camera Touch Screen Real-time Location Finder Anti-Lost Alarm Remote Remove...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.20</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>60% off at $32.99</strong> with promo code: <strong>60NVV81U</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2FbACTq">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="6.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L15ERR"><img src="https://m.media-amazon.com/images/I/61zLyAX2zbL._SR400,400_.jpg" alt="Short Sleeve Nightgown" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2L15ERR">TUFFA TURRA Women's Short Sleeve Nightgown V Neck Sleapwear Lounge</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.90</span><span class="ori_price">$22.99</span></address>
      <p><span>Take <strong>70% off at $22.99</strong> with promo code: <strong>70Y185LG</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2L15ERR">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="20.67">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MMyNT4"><img src="https://m.media-amazon.com/images/I/71+GISf7cvL._SR400,400_.jpg" alt="Door 58 Whiskey Decanter Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MMyNT4">Door 58 Whiskey Decanter Set w/Glass Drink Tumblers (5-Pcs.) Bourbon, Scotch, Brandy, Rum, Liquor | Lead-Free Crystal | Guide to Whiskey Booklet,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.67</span><span class="ori_price">$68.91</span></address>
      <p><span>Take <strong>70% off at $68.91</strong> with promo code: <strong>70JUNEDAD</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MMyNT4">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IivDlG"><img src="https://images-na.ssl-images-amazon.com/images/I/611SYoMHBWL._SX679_.jpg" alt="Secura K15-F1E Double Wall Stainless Steel Electric Kettle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IivDlG">Secura K15-F1E Double Wall Stainless Steel Electric Kettle Water Heater for Tea Coffee w/Auto Shut-Off and Boil-Dry Protection, 1.5L/1.6Qt, Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>50KETTLE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IivDlG">Use Code</a>
  </div>
</div>
