<!-- <div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>
 -->

<div class="card clearfix" data-score="20" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wc7JwS"><img src="https://m.media-amazon.com/images/I/71wSuNVCtvL._SR400,400_.jpg" alt=" Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Wc7JwS">True Wireless Earbuds Bluetooth 5.0 Headphones, Sports in-Ear TWS Stereo Mini Headset w/Mic Extra Bass IPX5 Sweatproof</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $49.99</strong> using code:20STEVIES</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wc7JwS">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="55" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XQCwQg"><img src="https://m.media-amazon.com/images/I/61G9QLx0jrL._SR400,400_.jpg" alt="Laptop Stand" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XQCwQg">nvisible Laptop Stand Portable-RUCACIO Adhesive Laptop Kickstand Lightweight Stand </a></p>
    <div class="code_high">
      <p><span>Take <strong>55% off at $13.99</strong> using code:55NHCF8J</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XQCwQg">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="75" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Pxrxs9"><img src="https://m.media-amazon.com/images/I/71fFd+iNXGL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>75% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Pxrxs9">Travel Laptop Backpack,IHONEY Waterproof Slim Casual Durable Student Bag Bookbag Fits 15.6 Inch Laptop</a></p>
    <div class="code_high">
      <p><span>Take <strong>75% off at $49.99</strong> using code:75Q52TKU</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Pxrxs9">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="36.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lahnzb"><img src="https://m.media-amazon.com/images/I/61moJfeaAKL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Lahnzb">BESTEK Travel Adapter and Converter Combo, 220v to 110v Voltage Converter with All-in-one International Power Adapter</a></p>
    <div class="code_high">
      <p><span>Take <strong>45% off at $36.99</strong> using code:45UEPJS2</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Lahnzb">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GFaosi"><img src="https://m.media-amazon.com/images/I/61fZ95+imsL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GFaosi">BEWELL Mens Wooden Watches Stylish Analog Quartz Movement Chronograph Handmade Wood Watch for Men</a></p>
    <div class="code_high">
      <p><span>Take <strong>40% off at $39.99</strong> using code:403HP88E</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GFaosi">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Pxs2m1"><img src="https://m.media-amazon.com/images/I/7127YDgwAvL._SR400,400_.jpg" alt="PS4 Controller Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2Pxs2m1">PS4 Controller Charger, DualShock 4 PS4 Controller USB Charging Station Dock with...</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $14.99</strong> using code:50D2DPOP</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Pxs2m1">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GFT1I1"><img src="https://m.media-amazon.com/images/I/61ITzj49oPL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GFT1I1">KEVENZ Advanced Goose Feather Badminton Shuttlecocks,Nylon Feather Shuttlecocks...</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $18.99</strong> using code:60H83JXC</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GFT1I1">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="31.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UNwQEV"><img src="https://m.media-amazon.com/images/I/61sxJ70f5mL._SR400,400_.jpg" alt="High Waisted Capri Leggings" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2UNwQEV">YOLIX High Waisted Capri Leggings for Women - Tummy Control Soft Opaque Slim Pants for Yoga Workout Cycling Running</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $31.99</strong> using code:50VRN57K</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2UNwQEV">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DAko5C"><img src="https://m.media-amazon.com/images/I/81f9auspmeL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DAko5C">Woogwin Holographic Running Belt Waist Pack Water Resistant Travel Runners Belt Fanny Pack for Fitness: Outdoors Running</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $13.99</strong> using code:50XVN739</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DAko5C">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L9c3vC"><img src="https://m.media-amazon.com/images/I/61Wo724tfXL._SR400,400_.jpg" alt="Sports Style Polarized Sunglasses" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2L9c3vC">WOOLIKE Men's Sports Style Polarized Sunglasses for Cycling Running Fishing Driving Golf Unbreakable Al-Mg Frame Metal Glasses W819</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $19.99</strong> using code:502RPN8E</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2L9c3vC">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2GP5k64"><img src="https://m.media-amazon.com/images/I/71LrdYC4QQL._SR400,400_.jpg" alt="Hip Resistance Bands" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2GP5k64">FUUNSOO Hip Resistance Bands for Legs and Butt Exercise Bands Thigh Workout Bands Fitness Circle Booty Loop Bands Rubber...</a></p>
    <div class="code_high">
      <p><span>Take <strong>50% off at $19.99</strong> using code:50ICK4AV</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2GP5k64">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XV1A8N"><img src="https://m.media-amazon.com/images/I/61n0LXoVJQL._SR400,400_.jpg" alt="Resistance Bands" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2XV1A8N">FUUNSOO Resistance Bands, 5 Packs Gradient Pink Booty Bands Resistance Bands for Hips, Legs, Butts, Glutes...</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $10.99</strong> using code:30B1699C</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XV1A8N">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="40.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2J1tyeI"><img src="https://m.media-amazon.com/images/I/71tMB1QOriL._SR400,400_.jpg" alt="Hoodie" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2J1tyeI">UNK NBA Men's Fleece Hoodie Pullover Sweatshirt Poly Midtown</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $40.00</strong> using code:20OKCFLEECE</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2J1tyeI">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="27.72">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DAQUVa"><img src="https://m.media-amazon.com/images/I/61AVZ6KiIwL._SR400,400_.jpg" alt="NBA Men's Fleece Hoodie" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DAQUVa">UNK NBA Men's Fleece Hoodie Pullover Sweatshirt Poly Midtown</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $27.72</strong> using code:20GSWPOLY</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DAQUVa">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="40.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ULcFaj"><img src="https://m.media-amazon.com/images/I/81TvD6tjP1L._SR400,400_.jpg" alt="NBA Men's Fleece Hoodie" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2ULcFaj">UNK NBA Men's Fleece Hoodie Pullover Sweatshirt Poly Midtown</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $40.00</strong> using code:20FLEECE</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ULcFaj">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DARmmk"><img src="https://m.media-amazon.com/images/I/51UEvwFiF9L._SR400,400_.jpg" alt="Dog Harness" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DARmmk">TAIL UP Dog Harness - Adjustable No-Pull Reflective Pet Harness Mesh Vest, Easy On/Off Mesh Harness Small Medium Large Dogs</a></p>
    <div class="code_high">
      <p><span>Take <strong>60% off at $16.99</strong> using code:60Z1I7SC</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DARmmk">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="7.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DDXoCu"><img src="https://m.media-amazon.com/images/I/51CEuPLFODL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DDXoCu">Serpent And The Sun Tales Of An Aztec Apprentice</a></p>
    <div class="code_high">
      <p><span>Take <strong>15% off at $7.95</strong> using code:15X2ZJI2</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DDXoCu">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="10.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2DE0u9C"><img src="https://m.media-amazon.com/images/I/81M0tB1qrNL._SR400,400_.jpg" alt="Date & Grain Bites" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2DE0u9C">OJAS STUDIO Date & Grain Bites, Ginger Cinnamon & Chia, 7-serving large pouch, 7.9oz, made with organic dates & oats, no artificial sweeteners</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $10.50</strong> using code:20FRIENDS</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2DE0u9C">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L8S2pd"><img src="https://m.media-amazon.com/images/I/61ULJ0F0vRL._SR400,400_.jpg" alt="3W LED Rechargeable Clip on Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2L8S2pd">KEDSUM 3W LED Rechargeable Clip on Light, Dimmable Reading Light with 3 Lighting Modes, 11 Dimmer Levels</a></p>
    <div class="code_high">
      <p><span>Take <strong>20% off at $19.99</strong> using code:20Y6IZXR</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2L8S2pd">Copy & Use code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="20.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IMDdXi"><img src="https://m.media-amazon.com/images/I/81m+LsP3PqL._SR400,400_.jpg" alt="Fence Post Solar Lights" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF +</em> free shipping</span>
    <p><a target="_blank" href="https://amzn.to/2IMDdXi">LOHAS Fence Post Solar Lights, 8 LEDS Deck Post Solar Lights for Security, Sensor Lights Outdoor, Daylight White 6000K...</a></p>
    <div class="code_high">
      <p><span>Take <strong>30% off at $20.99</strong> using code:30PQ8BSH</span></p>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IMDdXi">Copy & Use code</a>
  </div>
</div>

