<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>
-->

<div class="card clearfix" data-score="50" data-price="149.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NScpqv"><img src="https://images-na.ssl-images-amazon.com/images/I/31RlBoWL6uL._SX425_.jpg" alt="WD 8TB My Book Desktop External Hard Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NScpqv">WD 8TB My Book Desktop External Hard Drive, USB 3.0 - WDBBGB0080HBK-NESN</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.74</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NScpqv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LmPH87"><img src="https://images-na.ssl-images-amazon.com/images/I/714O2t-MesL._SX679_.jpg" alt="Razer DeathAdder Elite Gaming Mouse" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LmPH87">Razer DeathAdder Elite Gaming Mouse: 16,000 DPI Optical Sensor - Chroma RGB Lighting - 7 Programmable Buttons - Mechanical Switches...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LmPH87">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34pkOHD"><img src="https://images-na.ssl-images-amazon.com/images/I/71jtrs-Na%2BL._SX522_PIbundle-2,TopRight,0,0_AA522SH20_.jpg" alt="Syntech USB C to USB Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34pkOHD">Syntech USB C to USB Adapter (2 Pack), Thunderbolt 3 to USB 3.0 Adapter Compatible with MacBook Pro 2019 and Before,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$18.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34pkOHD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="18.03">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MWkcDV"><img src="https://images-na.ssl-images-amazon.com/images/I/51cMMFo939L.jpg" alt="Case Logic AUA-314 14.1-Inch Laptop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MWkcDV">Case Logic AUA-314 14.1-Inch Laptop/ MacBook Air / Pro Retina Display and iPad Slim Case (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.03</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MWkcDV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="92.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MXo1Zm"><img src="https://images-na.ssl-images-amazon.com/images/I/81w4WENhwYL._SX522_.jpg" alt="Logitech G910 Orion Spark RGB Mechanical Gaming Keyboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MXo1Zm">Logitech G910 Orion Spark RGB Mechanical Gaming Keyboard – 9 Programmable Buttons, Dedicated Media Controls</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$92.79</span><span class="ori_price">$179.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MXo1Zm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="119.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N4iuk7"><img src="https://images-na.ssl-images-amazon.com/images/I/61OecUEm32L._SX425_.jpg" alt="Lenovo Tab 4, 10.1" Android Tablet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N4iuk7">Lenovo Tab 4, 10.1" Android Tablet, Quad-Core Processor, 1.4GHz, 2GB RAM, 32GB Storage, Slate Black, ZA2J0143US</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.99</span><span class="ori_price">$179.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2N4iuk7">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="64" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AaXrDH"><img src="https://images-na.ssl-images-amazon.com/images/I/61J3o+F6tkL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>64% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AaXrDH"><span>Amazon Deal Of The Day:</span> <br />
    Save up to 64% on AUKEY USB Chargers, Speakers and Accessories</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Chargers:</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2NbcJRG">AUKEY USB C Wall Charger</a> - <span>27.99<em>46.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2N9Cn9k">AUKEY USB C Charger with 56.5W Wall Charger</a> - <span>22.79<em>43.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LswG40">AUKEY USB C Charger with 18W Power Delivery</a> - <span>11.99<em>19.99</em></span></li>
          </ul>
        </li>
        <li>
          <p>Speakers:</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2LrrL3C">AUKEY Eclipse Wireless Speaker 20 W</a> - <span>35.99<em>49.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2A5mA2O">AUKEY Bluetooth Stereo Speaker 16W</a> - <span>28.99<em>39.99</em></span></li>
          </ul>
        </li>
        <li>
          <p>Keyboards:</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2LofnBk">AUKEY Mechanical Keyboard LED Backlit Gaming ...</a> - <span>31.99<em>39.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2LrrNIM">AUKEY Mechanical Keyboard Blue Switch</a> - <span>41.98<em>64.99</em></span></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AaXrDH">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="50" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NaUmw2"><img src="https://images-na.ssl-images-amazon.com/images/I/71n6D5dASaL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NaUmw2"><span>Amazon Deal Of The Day:</span> <br />
    Save up to 50% on Baby Brands</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2LsE6V7">Safety 1st onBoard 35 LT Comfort Cool Infant Car Seat</a> - <span>89.99<em>119.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Ab3Q1Y">Maxi-Cosi Mico Max Plus Limited Edition Infant Car Seat</a> - <span>149.99<em>249.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2I0zvqY">Safety 1st Grow and Go Comfort Cool 3-in-1 ...</a> - <span>159.99<em>219.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/32A5vKw">Newton Waterproof Twin Mattress Pad Cover</a> - <span>49.99<em>99.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Qkf5jB">Puracy Natural Baby Shampoo & Body Wash</a> - <span>13.49<em>20.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2A5nfkO">LÍLLÉbaby 3 in 1 CarryOn Toddler Carrier</a> - <span>94.50<em>150.00</em></span></li>
            <li><a href="https://amzn.to/2NaUmw2">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NaUmw2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lwllig"><img src="https://images-na.ssl-images-amazon.com/images/I/71I8F4HsMlL._SX522_.jpg" alt="Mounting Dream TV Mount Bracket" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lwllig">Mounting Dream TV Mount Bracket for 42-70 Inch Flat Screen TVs, Full Motion TV Wall Mounts with Swivel Articulating Dual Arms...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.99</span><span class="ori_price">$71.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lwllig">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LrcWN3"><img src="https://images-na.ssl-images-amazon.com/images/I/71L1mRGmpxL._SX679_.jpg" alt="PNY CS1311 240GB 2.5” SATA III Internal SSD" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LrcWN3">PNY CS1311 240GB 2.5” SATA III Internal Solid State Drive (SSD) - (SSD7CS1311-240-RB)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$78.72</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LrcWN3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="139.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZQaViT"><img src="https://images-na.ssl-images-amazon.com/images/I/31jRy3nYBdL.jpg" alt="Western Digital 8TB Elements Desktop Hard Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZQaViT">Western Digital 8TB Elements Desktop Hard Drive - USB 3.0 - WDBWLG0080HBK-NESN</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$139.99</span><span class="ori_price">$179.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZQaViT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="4.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PJ3biz"><img src="https://images-na.ssl-images-amazon.com/images/I/51H1WTbeSSL._SX425_.jpg" alt="C2G 54170 USB Cable" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PJ3biz">C2G 54170 USB Cable - USB 3.0 A to A Cable M/M, Black (3.3 Feet, 1 Meter)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.89</span><span class="ori_price">$9.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2PJ3biz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zXBDLH"><img src="https://images-na.ssl-images-amazon.com/images/I/41xNtWtAFyL._SX569_.jpg" alt="Apple USB-C Charge Cable (2m)" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zXBDLH">Apple USB-C Charge Cable (2m)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$35.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2zXBDLH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NTqPqm"><img src="https://images-na.ssl-images-amazon.com/images/I/616Bk-odDzL._SX679_.jpg" alt="SanDisk Ultra Flair 16GB USB" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NTqPqm">SanDisk Ultra Flair 16GB USB 3.0 Flash Drive - SDCZ73-016G-G46</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.99</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NTqPqm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="399.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LoDVde"><img src="https://images-na.ssl-images-amazon.com/images/I/81KE0PK21-L._SY679_.jpg" alt="Razer Phone 2 (New): Unlocked Gaming Smartphone" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LoDVde">Razer Phone 2 (New): Unlocked Gaming Smartphone – 120Hz QHD Display – Snapdragon 845 – Wireless Charging – Chroma ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.99</span><span class="ori_price">$799.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LoDVde">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="12.75">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NPhSOy"><img src="https://images-na.ssl-images-amazon.com/images/I/61NnPa%2BxtjL._SX679_.jpg" alt="Samsung EP-LN920BBEGUS Fast Charge" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NPhSOy">Samsung EP-LN920BBEGUS Fast Charge Dual-Port Car Charger - Retail Packaging</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.75</span><span class="ori_price">$38.73</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NPhSOy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="16.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34oKVhS"><img src="https://images-na.ssl-images-amazon.com/images/I/71f4-xIAACL._SX679_.jpg" alt="SanDisk High Endurance Video Monitoring Card" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34oKVhS">SanDisk High Endurance Video Monitoring Card with Adapter 64GB (SDSDQQ-064G-G46A)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.40</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34oKVhS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="10.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZSAIXs"><img src="https://images-na.ssl-images-amazon.com/images/I/51kUtEdZW3L._SY879_.jpg" alt="Samsung Active InEar Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZSAIXs">Samsung Active InEar Headphones for Universal/SmartPhones, Retail Packaging - Black Sapphire - EO-EG920LBEGUS</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.00</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZSAIXs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lsm4Bh"><img src="https://images-na.ssl-images-amazon.com/images/I/61x9epUfGkL._SX425_.jpg" alt="Skullcandy Strum Maximum Comfort Earbud" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lsm4Bh">Skullcandy Strum Maximum Comfort Earbud with Universal In-Line Microphone and Remote, Supreme Sound Acoustics,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.90</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lsm4Bh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34oLQ1O"><img src="https://images-na.ssl-images-amazon.com/images/I/61VQHvX2VRL._SX522_.jpg" alt="Sony MDRXB510AS/B Extra Bass Wired Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34oLQ1O">Sony MDRXB510AS/B Extra Bass Wired Headphones, Best Sports Headphones W/Mic IPX5 Stereo Sweatproof Earbuds Durable ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/34oLQ1O">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="73" data-price="175.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HL9zQ4"><img src="https://images-na.ssl-images-amazon.com/images/I/61MEfPZB7-L._SY741_.jpg" alt="Apple iPhone 6S, GSM Unlocked, 64GB - Silver (Renewed)" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>73% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HL9zQ4">Apple iPhone 6S, GSM Unlocked, 64GB - Silver (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$175.99</span><span class="ori_price">$659.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HL9zQ4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="63" data-price="11.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lw8L2q"><img src="https://images-na.ssl-images-amazon.com/images/I/71V-jII5vxL._SX522_.jpg" alt="Lewis N. Clark Global Wall Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>63% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lw8L2q">Lewis N. Clark Global Wall Adapter + Portable Charger with Dual USB Ports for Standard + Recessed Outlets (over 175 countries)...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.15</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lw8L2q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="10.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MWMcHu"><img src="https://images-na.ssl-images-amazon.com/images/I/81BZjXwzBKL._SX679_.jpg" alt="Bostitch Personal Electric Pencil Sharpener" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MWMcHu">Bostitch Personal Electric Pencil Sharpener, Blue (EPS4-BLUE)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.30</span><span class="ori_price">$24.49</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MWMcHu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="302.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NPxodg"><img src="https://images-na.ssl-images-amazon.com/images/I/71jL1pMWHsL._SX425_.jpg" alt="Newest HP High Performance" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NPxodg">Newest HP High Performance 15.6” HD Touch-Screen Notebook Computer with Intel Pentium N5000 Processor, 4GB_RAM, 1TB Hard Drive,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$302.99</span><span class="ori_price">$699.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NPxodg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="158.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZNPQFv"><img src="https://images-na.ssl-images-amazon.com/images/I/51RJskKPMJL._SX679_.jpg" alt="Asus Vivobook E203MA Thin and Lightweight " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZNPQFv">Asus Vivobook E203MA Thin and Lightweight 11.6” HD Laptop, Intel Celeron N4000 Processor, 2GB RAM, 32GB eMMC Storage,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$158.00</span><span class="ori_price">$259.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZNPQFv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="199.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LlbSvk"><img src="https://images-na.ssl-images-amazon.com/images/I/71o6E6A4-1L._SX679_.jpg" alt="Sceptre 50 inches Slim ATSC QAM MEMC 120 1080p LED HDTV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LlbSvk">Sceptre 50 inches Slim ATSC QAM MEMC 120 1080p LED HDTV, Metal Black (2019)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.99</span><span class="ori_price">$499.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LlbSvk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="229.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UA0MWj"><img src="https://images-na.ssl-images-amazon.com/images/I/61ryf13A6jL._SX679_.jpg" alt="TOSHIBA 43LF711U20 43-inch 4K Ultra HD Smart LED TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UA0MWj">TOSHIBA 43LF711U20 43-inch 4K Ultra HD Smart LED TV HDR - Fire TV Edition</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$229.99</span><span class="ori_price">$330.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2UA0MWj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="369.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZNZzLZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61-t0S5YJKL._SX679_.jpg" alt="New Microsoft Surface Go" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZNZzLZ">New Microsoft Surface Go (Intel Pentium Gold, 4GB RAM, 128GB)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$369.00</span><span class="ori_price">$482.04</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZNZzLZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="26.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NRsj4g"><img src="https://images-na.ssl-images-amazon.com/images/I/91pQ4o%2BVl0L._UY575_.jpg" alt="Handwoven Round Rattan Bag Shoulder Leather..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NRsj4g">Handwoven Round Rattan Bag Shoulder Leather Straps Natural Chic Hand NATURALNEO</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.87</span><span class="ori_price">$45.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NRsj4g">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="54.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LsD4Y7"><img src="https://images-na.ssl-images-amazon.com/images/I/61F80GcH7zL._SX522_.jpg" alt="Echo Dot (3rd Gen) bundle with TP-Link" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LsD4Y7">Echo Dot (3rd Gen) bundle with TP-Link HS105 Smart Plug - Sandstone</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.99</span><span class="ori_price">$72.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LsD4Y7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LGzdqz"><img src="https://images-na.ssl-images-amazon.com/images/I/61%2B3yMQO5ZL._SX425_.jpg" alt="24-inch 720p HD Smart LED TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LGzdqz">Insignia NS-24DF310NA19 24-inch 720p HD Smart LED TV- Fire TV Edition</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$150.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LGzdqz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lll3fi"><img src="https://images-na.ssl-images-amazon.com/images/I/912-m4s4qDL._SX425_.jpg" alt="Eve Hansen Anti-Aging Serum Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lll3fi">Eve Hansen Anti-Aging Serum Set | Vitamin C Serum, Hyaluronic Acid Serum, Retinol Serum | Brightening Serum,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.99</span><span class="ori_price">$52.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Lll3fi">Shop Now at Amazon</a></div>
</div>