<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="Product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="Product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="Product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="Product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="Product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- 
<script type="text/javascript">amzn_assoc_placement = "adunit0";amzn_assoc_tracking_id = "3628-20";amzn_assoc_ad_mode = "search";amzn_assoc_ad_type = "smart";amzn_assoc_marketplace = "amazon";amzn_assoc_region = "US";amzn_assoc_default_search_phrase = "Case and Stand for 9.7-inch iPad Pro";amzn_assoc_default_category = "All";amzn_assoc_linkid = "9d3ca2a44b0fd375ff97003e1c85d8d2";amzn_assoc_title = "Shop Related Products";amzn_assoc_rows = "5";amzn_assoc_design = "text_links";</script>
    <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script> -->

<div class="card clearfix" data-score="23" data-price="1,349.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KWpuMp"><img src="https://images-na.ssl-images-amazon.com/images/I/61%2BWrV0wJsL._SY606_.jpg" alt="Apple iPad Pro" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KWpuMp">Apple iPad Pro (12.9-inch, Wi-Fi, 1TB) - Space Gray (Latest Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,349.99</span><span class="ori_price">$1,749.00</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KWpuMp">Shop Now at Amazon</a></div>
</div>


<div class="card clearfix" data-score="52" data-price="772.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HcQaHF"><img src="https://images-na.ssl-images-amazon.com/images/I/61j-GlI-rwL._SX522_.jpg" alt="Microsoft Surface Laptop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HcQaHF">Microsoft Surface Laptop (1st Gen) DAJ-00041 Laptop (Windows 10 S, Intel Core i7, 13.5" LCD Screen, Storage: 256 GB, RAM: 8 GB) Burgundy</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$772.99</span><span class="ori_price">$1,599.00</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HcQaHF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31MPNev"><img src="https://images-na.ssl-images-amazon.com/images/I/71+kChz6zRL._AC_SR300,300_.jpg" alt="Electric Air Fryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31MPNev"><span>Amazon Deal Of The Day:</span>Dash DFAF455GBRD01 Deluxe Electric Air Fryer + Oven Cooker with with Temperature Control,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31MPNev">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="85.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31QutVM"><img src="https://images-na.ssl-images-amazon.com/images/I/91xdifCRrbL._SX425_.jpg" alt="Panasonic Bluetooth Cordless Phone" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31QutVM"><span>Amazon Deal Of The Day:</span> Panasonic Bluetooth Cordless Phone KX-TG7875S Link2Cell with Enhanced Noise...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$85.00</span><span class="ori_price">$169.95</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31QutVM">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="52" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31XyWpJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71-hfb25f5L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31XyWpJ"><span>Amazon Deal Of The Day:</span> Save up to 52% on select Nerf toys</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/33FmrAC">Nerf Rampage N-Strike Elite Toy Blaster,...</a> - <span>22.99<em>32.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2TLEmRF">NERF Fortnite AR-L Elite Dart Blaster</a> - <span>29.99<em>49.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/31NdV0y">Nerf N-Strike Elite Rhino-Fire Blaster</a> - <span>69.99<em>99.99</em></span></li>
            <li><a href="https://amzn.to/31XyWpJ">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31XyWpJ">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="60" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Xz6NR"><img src="https://images-na.ssl-images-amazon.com/images/I/81Qwo9bJP0L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Xz6NR"><span>Amazon Deal Of The Day:</span> Save up to 60% on J/SLIDES Sneakers and Sandals</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2KFnRUm">J/SLIDES Women's Bowie Sandal</a> - <span>69.90<em>135.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2z9dRME">J/SLIDES Women's Sneaker</a> - <span>49.90<em>90.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2H8vvo3">J/SLIDES Women's Lizzy Sandal Pink Multi Size</a> - <span>59.90<em>125.00</em></span></li>
            <li><a href="https://amzn.to/31Xz6NR">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Xz6NR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="36.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HbUW86"><img src="https://images-na.ssl-images-amazon.com/images/I/912gEGODU4L._SX425_.jpg" alt="MidWest Exercise Pen / Pet Playpens" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HbUW86">MidWest Exercise Pen / Pet Playpens | 8-Panels Each w/ 5 Height Options Ideal for Any Dog Breed</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.99</span><span class="ori_price">$79.28</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HbUW86">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zgvl3X"><img src="https://images-na.ssl-images-amazon.com/images/I/61mrz5Y-HKL._SX425_.jpg" alt="PetSafe Solvit PupSTEP Plus Pet Stairs" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zgvl3X">PetSafe Solvit PupSTEP Plus Pet Stairs, Foldable Steps for Dogs and Cats, for Small, Medium, Large, X-Large Pets</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.95</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zgvl3X">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KZRjU6"><img src="https://images-na.ssl-images-amazon.com/images/I/51b%2BB7etTQL._SX425_.jpg" alt="Bergan Turboscratcher Cat Toy" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KZRjU6">Bergan Turboscratcher Cat Toy (Assorted)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$17.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KZRjU6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="72" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KEjLMa"><img src="https://images-na.ssl-images-amazon.com/images/I/71VOEtH6OQL._SX425_.jpg" alt="Bonve Pet Dog Grooming Clippers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>72% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KEjLMa">Bonve Pet Dog Grooming Clippers, Cordless Low Noise Dog Cat Hair Trimmer with Dog Comb Scissor & 6 Limited Guides Best ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KEjLMa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="89" data-price="15.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZfdavA"><img src="https://images-na.ssl-images-amazon.com/images/I/71rkde8ANgL._SX679_.jpg" alt="Key Pets Finder Tracker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>89% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZfdavA">Key Pets Finder Tracker, ldcx Wireless RF Item Locator Anti Lost Keys Finder Tag Alarm Reminder,1 RF Transmitter 4 Receivers,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.29</span><span class="ori_price">$139.00</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZfdavA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="82" data-price="28.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31PPe3L"><img src="https://images-na.ssl-images-amazon.com/images/I/81bsTS3o3CL._SX425_.jpg" alt="Rotary Tool TECCPO with Universal Keyless Chuck" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>82% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31PPe3L">Rotary Tool TECCPO with Universal Keyless Chuck, 170W/1.5AMP, 8,000-35,000 RMP, with Variable Speed,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.04</span><span class="ori_price">$159.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="201.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KF252U"><img src="https://images-na.ssl-images-amazon.com/images/I/91rnS4PlAZL._SX522_.jpg" alt="Ergotech Freedom Stand" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KF252U">Ergotech Freedom Stand, Height Adjustable Desk, Dual Monitors, 30" Wide - Black - FDM-STAND-2</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$201.99</span><span class="ori_price">$364.80</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KF252U">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NeNPQf"><img src="https://images-na.ssl-images-amazon.com/images/I/81n6APl44xL._UX522_.jpg" alt="Hanes Men's Full-Zip EcoSmart Fleece Hoodie" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NeNPQf">Hanes Men's Full-Zip EcoSmart Fleece Hoodie</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.99</span><span class="ori_price">$18.19</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NeNPQf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="79" data-price="21.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31RIz9l"><img src="https://images-na.ssl-images-amazon.com/images/I/61eX1ORFtGL._SX679_.jpg" alt="2-Slice Toaster" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>79% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31RIz9l">2-Slice Toaster, Homeleader Stainless Steel Toaster with Removable Crumb Tray, 700W</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.24</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31RIz9l">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="3.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31KpW72"><img src="https://images-na.ssl-images-amazon.com/images/I/91FpV%2BTvYdL._SX679_.jpg" alt="LOCK & LOCK HPL982 Easy Essentials Specialty Cup" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31KpW72">LOCK & LOCK HPL982 Easy Essentials Specialty Cup, 1-Liter Measuring Bowl 1L / 34oz, 1 Liter, Natural</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.77</span><span class="ori_price">$6.72</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31KpW72">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="78" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YXPXCZ"><img src="https://images-na.ssl-images-amazon.com/images/I/71Jugf0wE1L._SX522_PIbundle-50,TopRight,0,0_AA522SH20_.jpg" alt="Soft Digits 50 in 1 Action Camera Accessories Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>78% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YXPXCZ">Soft Digits 50 in 1 Action Camera Accessories Kit for GoPro Hero 2018 GoPro Hero7 6 5 4 3 with Carrying Case/Chest...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2YXPXCZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NhyCxM"><img src="https://images-na.ssl-images-amazon.com/images/I/71eDhaMbeZL._SX679_.jpg" alt="Joseph Joseph 95031 Nest 100 Utensils Compact Stacking Kitchen Tool" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NhyCxM">Joseph Joseph 95031 Nest 100 Utensils Compact Stacking Kitchen Tool Set with Magnetic Storage Stand Nylon, 5-piece, Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NhyCxM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="18.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KJktYG"><img src="https://images-na.ssl-images-amazon.com/images/I/51A-RIAGXTL._SX522_.jpg" alt="GORILLA GRIP Slip-Resistant Leak Proof Mattress Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KJktYG">GORILLA GRIP Slip-Resistant Leak Proof Mattress Pad Protector, 52x34, Absorbs 8 Cups, Oeko Tex Certified,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.79</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KJktYG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="19" data-price="48.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2He3nQf"><img src="https://images-na.ssl-images-amazon.com/images/I/81YqSg32ODL._SX522_.jpg" alt="AuraGlow Teeth Whitening Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>19% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2He3nQf">AuraGlow Teeth Whitening Kit, LED Light, 35% Carbamide Peroxide, (2) 5ml Gel Syringes, Tray and Case </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.50</span><span class="ori_price">$59.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2He3nQf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="37" data-price="11.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZegqaG"><img src="https://images-na.ssl-images-amazon.com/images/I/814ryGCF1SL._SX522_.jpg" alt="Elevation Lab The Anchor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZegqaG">Elevation Lab The Anchor, Under - Desk Headphone Stand Mount</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.95</span><span class="ori_price">$19.00</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZegqaG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31XBaFB"><img src="https://images-na.ssl-images-amazon.com/images/I/81y05TfK1cL._SX679_.jpg" alt="Stainless Steel Knife Set with Block" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31XBaFB">Stainless Steel Knife Set with Block - 13 Kitchen Knives Set Chef Knife Set with Knife Sharpener, 6 Steak Knives,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31XBaFB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="74.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31HigCu"><img src="https://images-na.ssl-images-amazon.com/images/I/41dJJAhdjYL.jpg" alt="HP 7 G2 1315 7-Inch 8 GB Tablet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31HigCu">HP 7 G2 1315 7-Inch 8 GB Tablet (Silver) (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.99</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31HigCu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="73" data-price="77.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33BmHAy"><img src="https://images-na.ssl-images-amazon.com/images/I/91kTXgBo1CL._SX679_.jpg" alt="ION360 U - 4K Ultra HD 360-Degree Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>73% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33BmHAy">ION360 U - 4K Ultra HD 360-Degree Camera and Smartphone Charging Battery Case for Apple iPhone 7 Plus Charcoal Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$77.95</span><span class="ori_price">$287.00</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33BmHAy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HgDvU6"><img src="https://images-na.ssl-images-amazon.com/images/I/51Cs8jN4CkL._SX522_.jpg" alt="MP3 Headphones Built in 8GB TF Card Memory Storage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HgDvU6">MP3 Headphones Built in 8GB TF Card Memory Storage, Ralyin Bluetooth Earbuds with Microphone Wireless Headphones for ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HgDvU6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="42.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33MsCDc"><img src="https://images-na.ssl-images-amazon.com/images/I/61QxNQ%2BWsEL._SX425_.jpg" alt="Wireless Earbuds,Kissral Bluetooth" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33MsCDc">Wireless Earbuds,Kissral Bluetooth 5.0 Earbuds with 3000mAh Charging Case LED Battery Display 90H Playtime in-Ear ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$42.49</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33MsCDc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="144.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Heiyc9"><img src="https://images-na.ssl-images-amazon.com/images/I/91SkQCnCEPL._SX679_.jpg" alt="Safavieh Lighting" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Heiyc9">Safavieh Lighting Collection Jacoby Cream 28.9-inch Table Lamp (Set of 2)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$144.70</span><span class="ori_price">$444.00</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Heiyc9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z85ATC"><img src="https://images-na.ssl-images-amazon.com/images/I/61qch2My8YL._SX522_.jpg" alt="KOOLORBS Makeup Mirror with Lights, 21 LED Vanity Mirror with 1x 2x 3x Magnification" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z85ATC">KOOLORBS Makeup Mirror with Lights, 21 LED Vanity Mirror with 1x 2x 3x Magnification, Touch Screen Switch, 180 Degree Rotation Rotation, Dual Power Supply, Portable Trifold Mirror, Rose Gold  </a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z85ATC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="66" data-price="10.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NgwQNw"><img src="https://images-na.ssl-images-amazon.com/images/I/71zvaJLvxML._SX679_.jpg" alt="Manual Coffee Grinder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>66% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NgwQNw">Manual Coffee Grinder, Hand Ceramic Burr Mill for Precision Brewing, Powder to Coarse Grounds, Brushed Stainless ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.19</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NgwQNw">Shop Now at Amazon</a></div>
</div>