<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="50" data-price="15.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WlhurF"><img src="https://m.media-amazon.com/images/I/41mdZ17vxyL._SR400,400_.jpg" alt="QANGEL TWS Bluetooth Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WlhurF">QANGEL TWS Bluetooth Wireless Earbuds, in-Ear Earphones, Cordless Sweatproof Sport Headphones</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.49</span><span class="ori_price">$30.98</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>percentage% off at $30.98</strong> with promo code: <strong>50VH1APM</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 17, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WlhurF">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="11.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EXshTj"><img src="https://m.media-amazon.com/images/I/61IvIc6K78L._SR400,400_.jpg" alt="Smart Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EXshTj">Smart Watch - Aeifond DZ09 Bluetooth Smartwatch Touch Screen Wrist Watch Sports Fitness Tracker</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.49</span><span class="ori_price">$22.99</span></address>
      <p><span>Take <strong>50% off at $22.99</strong> with promo code: <strong>50O2ZYNK</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EXshTj">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K4GyS6"><img src="https://m.media-amazon.com/images/I/71CU2qEuyRL._SR400,400_.jpg" alt="Dash Cam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K4GyS6">Dash Cam, Trekpow 1080P Car DVR Camera for Cars with 180° Rotatable Lens, Full HD 2" LCD Screen, 170° Wide Angle</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $49.99</strong> with promo code: <strong>20L3X4HL</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K4GyS6">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="32.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MIEIZc"><img src="https://m.media-amazon.com/images/I/61lNomcxWVL._SR400,400_.jpg" alt="USB C HDMI" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MIEIZc">Knaive Compatible with MacBook Pro USB C HDMI Combo Hub Adapter Dongle 6 in 1 USB-C to 4K HDMI Output, SD/MicroSD Card Reader</a></p>
    <div class="code_high">
      <address><span class="dis_price">$32.19</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>30% off at $45.99</strong> with promo code: <strong>304BM127</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MIEIZc">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="16.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K6Jiyu"><img src="https://m.media-amazon.com/images/I/61kpmkQpcmL._SR400,400_.jpg" alt="Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K6Jiyu">Laptop Backpack, Sosoon Business Bags with USB Charging Port Anti-Theft Water Resistant Polyester School Bookbag</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.89</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>35% off at $25.99</strong> with promo code: <strong>35PR33YV</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 07, 2019 at 12:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K6Jiyu">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="27.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wq4ZQC"><img src="https://m.media-amazon.com/images/I/71imIm1BvNL._SR400,400_.jpg" alt="iPad 9.7 Keyboard Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wq4ZQC">iPad 9.7 Keyboard Case for iPad 2017 5th Gen/ 2018 New iPad 6th Generation/iPad Pro 9.7/ iPad Air 2 & 1, Wireless/BT, 360 Rotate</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.49</span><span class="ori_price">$49.99</span>
       <div class="tooltip_red">
        <span>Double Discount</span>
        <div class="tooltip-content">
          <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
        </div>
       </div>
      </address>
      <p><span>Take <strong>45% off at $49.99</strong> with promo code: <strong>45IIHN34</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wq4ZQC">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="51" data-price="12.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wjzanz"><img src="https://m.media-amazon.com/images/I/71OVc1XiCCL._SR400,400_.jpg" alt="BUBM Laptop Shoulder Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wjzanz">BUBM Laptop Shoulder Bag 13-14 Inch Laptop Sleeve Compatible for 13.3" MacBook Pro,MacBook Air, 13.5" Surface Laptop</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.25</span><span class="ori_price">$24.99</span></address>
      <p><span>Take <strong>51% off at $24.99</strong> with promo code: <strong>51WN2DOJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wjzanz">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="9.77">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EWJtIy"><img src="https://m.media-amazon.com/images/I/71KWyl+7YdL._SR400,400_.jpg" alt="NUTRIVISAGE Vitamin C Serum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EWJtIy">NUTRIVISAGE Vitamin C Serum for Face and Eyes w/Hyaluronic Acid Serum & Vitamin E,Non-Irritating, Natural Facial Serum</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.77</span><span class="ori_price">$13.95</span></address>
      <p><span>Take <strong>30% off at $13.95</strong> with promo code: <strong>30QVD59R</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EWJtIy">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K4IRVg"><img src="https://m.media-amazon.com/images/I/41kuXnvw3TL._SR400,400_.jpg" alt="SKEY Blackhead Remover Blackhead Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2K4IRVg">SKEY Blackhead Remover Blackhead Vacuum,Pore Cleaner Electric Acne Comedone Extractor Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>50RVZD63</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K4IRVg">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="27.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WOCLOZ"><img src="https://m.media-amazon.com/images/I/714YGmLUJhL._SR400,400_.jpg" alt="NPET Electric Shaver for Men" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WOCLOZ">NPET Electric Shaver for Men, USB Rechargeable Electric Razor, IPX7 Waterproof Wet & Dry Rotary Cordless shavers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.74</span><span class="ori_price">$36.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>25% off at $36.99</strong> with promo code: <strong>25Z2LFXZ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WOCLOZ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="10.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WoVmwC"><img src="https://m.media-amazon.com/images/I/61Pyb-ZG6cL._SR400,400_.jpg" alt="Agedate Waterproof Wireless Doorbell" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WoVmwC">Agedate Waterproof Wireless Doorbell with 2 Plug-in Receivers & 1 Transmitter Push Button Battery Free Home Door Bell Chime</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.80</span><span class="ori_price">$26.99</span></address>
      <p><span>Take <strong>60% off at $26.99</strong> with promo code: <strong>60CB4255</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WoVmwC">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="28.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WjfWi8"><img src="https://m.media-amazon.com/images/I/71U6e5Yh5DL._SR400,400_.jpg" alt="Hamilton Beach 6-Quart Slow Cooker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WjfWi8">Hamilton Beach 6-Quart Slow Cooker, Programmable, Set & Forget with Temperature Probe, Transport Clips, Sealing Lid</a></p>
    <div class="code_high">
      <address><span class="dis_price">$28.80</span><span class="ori_price">$32.00</span>
       <div class="tooltip_red">
        <span>Double Discount</span>
        <div class="tooltip-content">
          <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
        </div>
       </div>
      </address>
      <p><span>Take <strong>10% off at $32.00</strong> with promo code: <strong>10HBDADS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WjfWi8">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="39.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KBflWH"><img src="https://m.media-amazon.com/images/I/61z6DI2D3BL._SR400,400_.jpg" alt="Bright Showers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KBflWH">Bright Showers - Handheld Showerhead and Overhead Rain Shower Head Combo Set – Massage Spray Setting</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.09</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>15% off at $45.99</strong> with promo code: <strong>15HEGVBB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KBflWH">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="110.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WipkCt"><img src="https://m.media-amazon.com/images/I/81lE8fCNkjL._SR400,400_.jpg" alt="Knife Block Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WipkCt">Cangshan S1 Series 1022568 German Steel Forged 5-Piece Starter Knife Block Set, Walnut</a></p>
    <div class="code_high">
      <address><span class="dis_price">$110.47</span><span class="ori_price">$129.97</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $129.97</strong> with promo code: <strong>1571BF9R</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WipkCt">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EVu2Ak"><img src="https://m.media-amazon.com/images/I/711PrnIktuL._SR400,400_.jpg" alt="Wear Over sunglasses" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EVu2Ak">Wear Over sunglasses for men women Polarized lens,fit over Prescription Glasses UV400</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>70% off at $19.99</strong> with promo code: <strong>70HJ5A57</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EVu2Ak">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="12" data-price="21.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ipvqfn"><img src="https://m.media-amazon.com/images/I/71yytlTQGlL._SR400,400_.jpg" alt="Geometric Luminous Purses and Handbags" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ipvqfn">Geometric Luminous Purses and Handbags for Women Holographic Reflactive Crossbody Bag Wallet</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.90</span><span class="ori_price">$24.89</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>12% off at $24.89</strong> with promo code: <strong>12OINMR7</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 11, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ipvqfn">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="6.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KzCb0M"><img src="https://m.media-amazon.com/images/I/81BPMAlLiWL._SR400,400_.jpg" alt="VEHHE Pet Grooming Gloves Dog Cat" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KzCb0M">VEHHE Pet Grooming Gloves Dog Cat Horse Deshedding Hair Remover Glove with Stainless Steel Comb Pair of Enhanced Five Finger Design Brush Mitts</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.90</span><span class="ori_price">$22.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>70% off at $22.99</strong> with promo code: <strong>7072MRJR</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2KzCb0M">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wolw2K"><img src="https://m.media-amazon.com/images/I/71wUgC1uOKL._SR400,400_.jpg" alt="Pedy Cat Water Fountain" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wolw2K">Pedy Cat Water Fountain, Automatic Cat Flower Water Fountain, Pet Water Fountain for Cats and Dogs with Filter, Green</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.99</span><span class="ori_price">$25.99</span></address>
      <p><span>Take <strong>50% off at $25.99</strong> with promo code: <strong>50DAEJY2</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wolw2K">Use Code</a>
  </div>
</div>

