<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="25" data-price="22.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mj4Tpb"><img src="https://m.media-amazon.com/images/I/61AYOAtru7L._SR400,400_.jpg" alt="Quick Charge 3.0 USB Power Strip" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mj4Tpb">Quick Charge 3.0 USB Power Strip, BESTEK Surge Protector with 15A 125V 6-Outlet, 5V 6A 4 Smart USB Charging Port</a></p>
    <div class="code_high">
      <address><span class="dis_price">$22.49</span><span class="ori_price">$29.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>25% off at $29.99</strong> with promo code: <strong>25M4Q4WB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mj4Tpb">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="4.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EOMHxw"><img src="https://m.media-amazon.com/images/I/61VXGGeUXyL._SR400,400_.jpg" alt="Headphone Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EOMHxw">Mini Earbuds Case ASMOTIM Hard Headphone Case Black Earphones Carrying Case Portable Travel Earbud Holder</a></p>
    <div class="code_high">
      <address><span class="dis_price">$4.80</span><span class="ori_price">$11.99</span></address>
      <p><span>Take <strong>60% off at $11.99</strong> with promo code: <strong>60ESGBVE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EOMHxw">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="44.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MoAE0l"><img src="https://m.media-amazon.com/images/I/71yf2GgaxhL._SR400,400_.jpg" alt="proAoxun Mirror Dash Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MoAE0l">proAoxun Mirror Dash Camera 7" Touch Screen - Dual Lens 1080P HD Front 720P HD Wide Angle Backup Cameradcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.99</span><span class="ori_price">$89.99</span></address>
      <p><span>Take <strong>50% off at $89.99</strong> with promo code: <strong>506WU8DD</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 21, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MoAE0l">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="5.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30YRpCr"><img src="https://m.media-amazon.com/images/I/61n2lbpaLKL._SR400,400_.jpg" alt="TopSZ for Airpods 1&2 Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30YRpCr">TopSZ for Airpods 1&2 Case,Cute 3D Cartoon Character Soft Silicone Air pod Funny Cover</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.50</span><span class="ori_price">$10.99</span></address>
      <p><span>Take <strong>50% off at $10.99</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30YRpCr">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="29.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2W8WTaa"><img src="https://m.media-amazon.com/images/I/61ByA2NBPHL._SR400,400_.jpg" alt="Kelodo Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2W8WTaa">Kelodo Wireless Earbuds, Bluetooth 5.0 Hands-Free Headphones</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.24</span><span class="ori_price">$44.99</span></address>
      <p><span>Take <strong>35% off at $44.99</strong> with promo code: <strong>35OFFS590RWS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2W8WTaa">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="5" data-price="31.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QFS7zJ"><img src="https://m.media-amazon.com/images/I/71euyOZSiCL._SR400,400_.jpg" alt="Wireless Bluetooth Headphones Over Ear" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>5% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QFS7zJ">Wireless Bluetooth Headphones Over Ear, DOQAUS 35 Hours Playtime Hi-Fi Stereo Foldable Headset</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.34</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>5% off at $32.99</strong> with promo code: <strong>05DOQAUS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 02, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QFS7zJ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="13.91">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QDcptR"><img src="https://m.media-amazon.com/images/I/41SC-3Mo7gL._SR400,400_.jpg" alt="Night Light Bluetooth Speakers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QDcptR">Night Light Bluetooth Speakers, Portable Wireless Bluetooth HD Stereo Speaker, Portable Audio Speakers</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.91</span><span class="ori_price">$15.46</span></address>
      <p><span>Take <strong>10% off at $15.46</strong> with promo code: <strong>10VZBU8P</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 20, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QDcptR">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="50.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2I5JN8o"><img src="https://m.media-amazon.com/images/I/61CzsRkjilL._SR400,400_.jpg" alt="Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2I5JN8o">Active Noise Cancelling Headphones, Mixcder E9 Wireless Bluetooth Headphones</a></p>
    <div class="code_high">
      <address><span class="dis_price">$50.99</span><span class="ori_price">$59.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $59.99</strong> with promo code: <strong>15AGJZIW</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 07, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2I5JN8o">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="25.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EYqltR"><img src="https://m.media-amazon.com/images/I/61PON6t6hIL._SR400,400_.jpg" alt="Wall Sconces Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EYqltR">Wall Sconces Set of Two Deep Dream UL Hardwire Industrial Vintage Wall Lamp Fixture,Arm Swing Wall Lights</a></p>
    <div class="code_high">
      <address><span class="dis_price">$25.34</span><span class="ori_price">$38.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>35% off at $38.99</strong> with promo code: <strong>356I144V</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EYqltR">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EMpf3X"><img src="https://m.media-amazon.com/images/I/61StrFlWkJL._SR400,400_.jpg" alt="LED Tactical Flashlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EMpf3X">LED Tactical Flashlight, Binwo Super Bright 2000 Lumen XML T6 LED Flashlights Portable Outdoor Water Resistant Torch Light </a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.39</span><span class="ori_price">$19.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>40% off at $19.99</strong> with promo code: <strong>40Q3T9UN</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EMpf3X">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="5.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MmYHwJ"><img src="https://m.media-amazon.com/images/I/71LIQE7zIXL._SR400,400_.jpg" alt="CCVOO Organic Beard Oil" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MmYHwJ">CCVOO Organic Beard Oil Original & Sandalwood with Argan and Jojoba Oils for Men All Natural Beard Oil Conditioner and Softener</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.00</span><span class="ori_price">$9.99</span></address>
      <p><span>Take <strong>50% off at $9.99</strong> with promo code: <strong>50OVY6Z8</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 08, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MmYHwJ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="23.93">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ia8QaB"><img src="https://m.media-amazon.com/images/I/61cFUeWZTxL._SR400,400_.jpg" alt="ESSORT Back & Seat Cushion Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ia8QaB">ESSORT Back & Seat Cushion Set, 100% Memory Foam Orthopedic Coccyx Butt Cushion, Lumbar Support Pillow</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.93</span><span class="ori_price">$39.89</span></address>
      <p><span>Take <strong>40% off at $39.89</strong> with promo code: <strong>406ISK2J</strong></span></p>
      <span class="ex_date">Expiration Date :  Jun 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ia8QaB">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="192.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/311FBzt"><img src="https://m.media-amazon.com/images/I/71wMluh3KKL._SR400,400_.jpg" alt="Geya Genuine Leather Handbags" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/311FBzt">Geya Genuine Leather Handbags for Women Shoulder Bags Purses Tote Bags Leather Flower Skin</a></p>
    <div class="code_high">
      <address><span class="dis_price">$192.59</span><span class="ori_price">$213.99</span></address>
      <p><span>Take <strong>10% off at $213.99</strong> with promo code: <strong>10W8MMO5</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/311FBzt">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="10.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IdeWH9"><img src="https://m.media-amazon.com/images/I/21JlD-lE97L._SR400,400_.jpg" alt="Beauty Bar 24k Golden Pulse Facial Massager" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IdeWH9">Beauty Bar 24k Golden Pulse Facial Massager, T Shape Gold Stick, Face Lift, Anti-Wrinkle, Skincare Wrinkle Treatment</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.49</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>30% off at $14.99</strong> with promo code: <strong>30MAYCO9</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IdeWH9">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="8.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30WEh0x"><img src="https://m.media-amazon.com/images/I/61VdvS34yvL._SR400,400_.jpg" alt="Green Tea Matcha Mud Mask" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30WEh0x">Green Tea Matcha Mud Mask With Aloe Vera 100g, Deep Pore Cleansing Facial & Body Detox Mask, Natural Deep Detox Cleaning Mask Help</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.92</span><span class="ori_price">$12.74</span></address>
      <p><span>Take <strong>30% off at $12.74</strong> with promo code: <strong>306S9W7U</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30WEh0x">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="71.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WGD3Ho"><img src="https://m.media-amazon.com/images/I/61Xa8+UwSuL._SR400,400_.jpg" alt="Camera Tripod" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WGD3Ho">K&F Concept 62'' DSLR Tripod, Lightweight and Compact Aluminum Camera Tripod with 360 Panorama Ball Head Quick Release Plate for Travel and Work</a></p>
    <div class="code_high">
      <address><span class="dis_price">$71.95</span><span class="ori_price">$79.95</span>
         <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>10% off at $79.95</strong> with promo code: <strong>107Q2M6H</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WGD3Ho">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QCbMAw"><img src="https://m.media-amazon.com/images/I/41LlaHr6lGL._SR400,400_.jpg" alt="Simple LED Desk Lamp, Donewin Gooseneck Study Lamp" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QCbMAw">Simple LED Desk Lamp, Donewin Gooseneck Study Lamp, 3 Dimming Levels&3 Lighting Modes, Touch Control, Desk Light for Study, Office, Bedroom, Blue, 5W</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>50% off at $21.99</strong> with promo code: <strong>50W8ZWH1</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QCbMAw">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="11.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mn5I0f"><img src="https://m.media-amazon.com/images/I/61gUHZ-Xd-L._SR400,400_.jpg" alt="Omicoo Updated LED Flame Effect Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mn5I0f">Omicoo Updated LED Flame Effect Light Bulb(2 Pack), 4 Modes Flame Light Bulbs with Upside Down Effect</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.89</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>15% off at $13.99</strong> with promo code: <strong>15EPWKY6</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mn5I0f">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="45" data-price="24.62">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IaU82Z"><img src="https://m.media-amazon.com/images/I/61RPcf-ZWbL._SR400,400_.jpg" alt="TriMagic Full Face Snorkel Mask" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IaU82Z">TriMagic Full Face Snorkel Mask, 180° Panoramic View Snorkeling Mask Set, Easy Breath, Anti-Fog, Anti-Leak</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.62</span><span class="ori_price">$44.76</span></address>
      <p><span>Take <strong>45% off at $44.76</strong> with promo code: <strong>451BEKEJ</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IaU82Z">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="7.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/313fNCK"><img src="https://m.media-amazon.com/images/I/315+qxVIWzL._SR400,400_.jpg" alt="WiFi Smart Plug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/313fNCK">WiFi Smart Plug Smart Outlet Works with Amazon Alexa and IFTTT Google Assistant Remote Control Your Devices from Anywhere 2 Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.00</span><span class="ori_price">$13.99</span></address>
      <p><span>Take <strong>50% off at $13.99</strong> with promo code: <strong>50SZTLLS</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/313fNCK">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="116.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QBFQwl"><img src="https://m.media-amazon.com/images/I/41wjKQD7zwL._SR400,400_.jpg" alt="Arturesthome Traditional Japanese Bamboo Pendant" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QBFQwl">Arturesthome Traditional Japanese Bamboo Pendant, Artistic Handcraft Lamp, Mid-century Light Fixture</a></p>
    <div class="code_high">
      <address><span class="dis_price">$116.79</span><span class="ori_price">$145.99</span></address>
      <p><span>Take <strong>20% off at $145.99</strong> with promo code: <strong>20HMBUZZA</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QBFQwl">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="9.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QLClnb"><img src="https://m.media-amazon.com/images/I/71PzOxJ5TnL._SR400,400_.jpg" alt="Pantene Foam Conditioner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QLClnb">Pantene Foam Conditioner, Pro-V Daily Moisture Renewal, 6 oz (Triple Pack) </a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.46</span><span class="ori_price">$15.77</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>40% off at $15.77</strong> with promo code: <strong>40HAIRFOAM2</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QLClnb">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="15.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QFZrLF"><img src="https://m.media-amazon.com/images/I/71ZBxYaGoqL._SR400,400_.jpg" alt="Prana Naturals Rice Powder Face Scrub" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QFZrLF">Prana Naturals Rice Powder Face Scrub – NEW 100% Natural & Organic Single-Ingredient Exfoliant</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.96</span><span class="ori_price">$19.95</span></address>
      <p><span>Take <strong>20% off at $19.95</strong> with promo code: <strong>20OFFPRANA</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 29, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QFZrLF">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="15.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QCvRqq"><img src="https://m.media-amazon.com/images/I/81OHE2tNLGL._SR400,400_.jpg" alt="Amplixin Advanced+ Biotin Supplement" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QCvRqq">Amplixin Advanced+ Biotin Supplement - Hair Vitamins for Faster Hair Growth, Stronger Nails & Clearer Skin</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.96</span><span class="ori_price">$19.95</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $19.95</strong> with promo code: <strong>20VITAMIN</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 04:00 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QCvRqq">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="9.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WhVJ0N"><img src="https://m.media-amazon.com/images/I/714CAAf279L._SR400,400_.jpg" alt="Derma Roller Cosmetic Needling Instrument Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WhVJ0N">Derma Roller Cosmetic Needling Instrument Kit for Face & Body [By 9Oine Skincare], 600 Titanium Microneedles 0.30mm</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.48</span><span class="ori_price">$18.97</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $18.97</strong> with promo code: <strong>50EJAHCB</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 01, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WhVJ0N">Use Code</a>
  </div>
</div>

