<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VGKhXm"><img src="https://m.media-amazon.com/images/I/51WQjWHbQuL._SR400,400_.jpg" alt="Hanging Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VGKhXm">ZOWEETEK Outdoor Waterproof Photosensitive Solar Powered Small Hanging Light</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>50% off at $17.99</strong> with promo code: <strong>50HDDUI3</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VGKhXm">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="16.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QdLG6J"><img src="https://m.media-amazon.com/images/I/41mqKFUNAgL._SR400,400_.jpg" alt="Water Bottle Cooler Dispenser" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QdLG6J">FAROOT Water Bottle Pump Electric Drinking Water Pump USB Charging Portable Water Dispenser Water Bottle Cooler Dispenser</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.22</span><span class="ori_price">$24.96</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>35% off at $24.96</strong> with promo code: <strong>35FAROOT</strong></span></p>
      <span class="ex_date">Expiration Date : May 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QdLG6J">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="62.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YFO7St"><img src="https://m.media-amazon.com/images/I/611aAvKYoFL._SR400,400_.jpg" alt="Video Projector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YFO7St">Video Projector, [Upgraded] Crenova Mini Home Projector 1080P Supported, 3200 Lux Portable HD Movie Projector</a></p>
    <div class="code_high">
      <address><span class="dis_price">$62.99</span><span class="ori_price">$89.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>30% off at $89.99</strong> with promo code: <strong>30UP2Z8Q</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YFO7St">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="42.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30wZFcD"><img src="https://m.media-amazon.com/images/I/61re4rf4YLL._SR400,400_.jpg" alt="Caliart 100 Colors Artist Alcohol Based Markers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30wZFcD">Caliart 100 Colors Artist Alcohol Based Markers Dual Tip Art Markers Permanent Drawing Coloring Markers Twin Sketch Markers Pens Highlighters Set</a></p>
    <div class="code_high">
      <address><span class="dis_price">$42.49</span><span class="ori_price">$49.99</span>
        <div class="tooltip_red">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $49.99</strong> with promo code: <strong>15NGLR7L</strong></span></p>
      <span class="ex_date">Expiration Date : May 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30wZFcD">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="19.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YCwq6l"><img src="https://m.media-amazon.com/images/I/71GGxNVqnjL._SR400,400_.jpg" alt="Alarm Clock Bluetooth Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YCwq6l">Alarm Clock Bluetooth Speaker - XREXS Wireless Bluetooth Speaker with Night Light,FM Radio, Portable Wireless Stereo Sound Speaker</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.49</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>35% off at $29.99</strong> with promo code: <strong>35XREXS0521</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YCwq6l">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="11.24">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2QfadIG"><img src="https://m.media-amazon.com/images/I/71Xff7meJQL._SR400,400_.jpg" alt="Seneo iPhone XS MAX Wireless Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2QfadIG">Seneo iPhone XS MAX Wireless Charger, Qi Certified Wireless Charging Stand </a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.24</span><span class="ori_price">$14.99</span></address>
      <p><span>Take <strong>25% off at $14.99</strong> with promo code: <strong>253Y93AG</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2QfadIG">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HtBDYz"><img src="https://m.media-amazon.com/images/I/61XlANZeNIL._SR400,400_.jpg" alt="Ultrasonic Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HtBDYz">Ultrasonic Cleaner, Housmile Professional Ultrasonic Jewelry Cleaner with Digital Timer, Portable Cleaner Machine</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>502TTW4D</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2HtBDYz">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YEcgsK"><img src="https://images-na.ssl-images-amazon.com/images/I/51gyunNswlL._SX679_.jpg" alt="Housmile Steamer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YEcgsK">Housmile Steamer for Clothes，7-in-1 Garment/Fabric Steamer，Portable Handheld Steamer for Clothes Wrinkle Remover- Clean- Sterilize...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$23.99</span></address>
      <p><span>Take <strong>50% off at $23.99</strong> with promo code: <strong>502TTW4D</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YEcgsK">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="56.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VRHOhJ"><img src="https://m.media-amazon.com/images/I/61B-j4THhtL._SR400,400_.jpg" alt="YGJT Cooling Weighted Blanket" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VRHOhJ">YGJT Cooling Weighted Blanket, 100% Natural Bamboo Viscose & 100% Cotton, Adults Kids Heavyweight Comforter, Reversible</a></p>
    <div class="code_high">
      <address><span class="dis_price">$56.99</span><span class="ori_price">$75.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>25% off at $75.99</strong> with promo code: <strong>2584W9JJ</strong></span></p>
      <span class="ex_date">Expiration Date : May 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VRHOhJ">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="20.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VDBqpE"><img src="https://m.media-amazon.com/images/I/61Lse-7Av3L._SR400,400_.jpg" alt="Canvas Satchel Messenger Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VDBqpE">Egoelife LB-BBPHF18 Unisex Casual High Quality Canvas Satchel Messenger Bag for Traveling Camping</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.39</span><span class="ori_price">$23.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $23.99</strong> with promo code: <strong>15QD7CXS</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VDBqpE">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="5" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2wbpPUw"><img src="https://m.media-amazon.com/images/I/51f8vDNuxyL._SR400,400_.jpg" alt="Travel Adapter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>5% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2wbpPUw">Travel Adapter Universal International Power Adapter Quick USB Charger with 1 Type C and 3 USB Ports All in One Worldwide Power Outlet Converter Wall Plug Adapter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.99</span><span class="ori_price">$19.99</span></address>
      <p><span>Take <strong>5% off at $19.99</strong> with promo code: <strong>058ZPOD7</strong></span></p>
      <span class="ex_date">Expiration Date : May 28, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2wbpPUw">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="16.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Yyt8RI"><img src="https://m.media-amazon.com/images/I/81poJgIrokL._SR400,400_.jpg" alt="Ulgoo Canvas Casual School Backpacks" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Yyt8RI">Ulgoo Canvas Casual School Backpacks Teen Girls Bookbags Shoulder Bags</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.49</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>50% off at $32.99</strong> with promo code: <strong>50YOFH7Q</strong></span></p>
      <span class="ex_date">Expiration Date : May 25, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Yyt8RI">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30xUlFX"><img src="https://m.media-amazon.com/images/I/71kKKYpFHtL._SR400,400_.jpg" alt="Pedy Cat Water Fountain" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30xUlFX">Pedy Cat Water Fountain, Automatic Cat Flower Water Fountain, Pet Water Fountain for Cats and Dogs with Filter</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.99</span></address>
      <p><span>Take <strong>50% off at $26.99</strong> with promo code: <strong>505YDYXC</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30xUlFX">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="20.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30C7yxg"><img src="https://m.media-amazon.com/images/I/814IxDxCj6L._SR400,400_.jpg" alt="Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30C7yxg">DFAVORS Hardside Luggage 15inch Hard Laptop Backpack Travel School Shoulder Bag Bleck</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.14</span><span class="ori_price">$40.29</span></address>
      <p><span>Take <strong>50% off at $40.29</strong> with promo code: <strong>5034L6M3</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30C7yxg">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wbmfs5"><img src="https://m.media-amazon.com/images/I/61v-j29u9IL._SR400,400_.jpg" alt="Foundation Blending Blush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wbmfs5">Yoseng Professional 12 Pieces Makeup Brush Set Premium Synthetic Kabuki Foundation Blending Blush...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.99</span><span class="ori_price">$19.98</span></address>
      <p><span>Take <strong>60% off at $19.98</strong> with promo code: <strong>60BVCKJJ</strong></span></p>
      <span class="ex_date">Expiration Date : May 22, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wbmfs5">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="82.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VGQtP6"><img src="https://m.media-amazon.com/images/I/6177OTDK-ML._SR400,400_.jpg" alt="Weighted Blanket" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VGQtP6">Weighted Blanket Adults(25 lbs, 60''x80'')-Weighted Blanket with Removable Duvet Cover Fits Twin or Full Size Bed 100% Cotton Heavy Blanket</a></p>
    <div class="code_high">
      <address><span class="dis_price">$82.59</span><span class="ori_price">$117.99</span></address>
      <p><span>Take <strong>30% off at $117.99</strong> with promo code: <strong>30FAAL6Y</strong></span></p>
      <span class="ex_date">Expiration Date : May 31, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VGQtP6">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YFR5GB"><img src="https://m.media-amazon.com/images/I/61kuMNAl0eL._SR400,400_.jpg" alt="headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YFR5GB">DeepDream PS4 Headset with Mic, Xbox One Headset with Microphone, PC Gaming Headset </a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.79</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>40% off at $27.99</strong> with promo code: <strong>40Z8OJUH</strong></span></p>
      <span class="ex_date">Expiration Date : May 26, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YFR5GB">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VHsQGt"><img src="https://m.media-amazon.com/images/I/61PCiTvt5eL._SR400,400_.jpg" alt="GELOO 300W Power Inverter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VHsQGt">GELOO 300W Power Inverter, DC 12V to 110V AC Car Inverter with 4.8A Dual USB Charging Ports</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span>
         <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>50% off at $21.99</strong> with promo code: <strong>50N5UMNQ</strong></span></p>
      <span class="ex_date">Expiration Date : May 24, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VHsQGt">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="70" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YKOziB"><img src="https://m.media-amazon.com/images/I/61y4Q17CtvL._SR400,400_.jpg" alt="Soft Slides Water Shoes" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YKOziB">AIMIGAO Soft Slides Water Shoes Outdoor Unopen Toe Slippers for Men</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$29.99</span></address>
      <p><span>Take <strong>70% off at $29.99</strong> with promo code: <strong>70KXFHYE</strong></span></p>
      <span class="ex_date">Expiration Date : May 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YKOziB">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="10.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EnLDAv"><img src="https://m.media-amazon.com/images/I/61elvqBx6RL._SR400,400_.jpg" alt="Key Lock Box" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EnLDAv">Key Lock Box, Combination Lockbox with Code for House Key Storage, Combo Door Locker</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.99</span><span class="ori_price">$21.99</span></address>
      <p><span>Take <strong>50% off at $21.99</strong> with promo code: <strong>50HRB6LO</strong></span></p>
      <span class="ex_date">Expiration Date : May 27, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EnLDAv">Use Code</a>
  </div>
</div>
