<!-- <div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    
    <p><a target="_blank" href="https://amzn.to/2IaH1lI">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>
 -->


<div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    
    <p><a target="_blank" href="https://amzn.to/2IaH1lI">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>


<div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    
    <p><a target="_blank" href="https://amzn.to/2IaH1lI">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>


<div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    
    <p><a target="_blank" href="https://amzn.to/2IaH1lI">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>


<div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    
    <p><a target="_blank" href="https://amzn.to/2IaH1lI">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>


<div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    
    <p><a target="_blank" href="https://amzn.to/2IaH1lI">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>


<div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    
    <p><a target="_blank" href="https://amzn.to/2IaH1lI">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>


<div class="card clearfix" data-score="percentage" data-price="price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF +</em> free shipping</span>
    
    <p><a target="_blank" href="https://amzn.to/2IaH1lI">prodcut_description</a></p>
    <div class="code_high">
      <p><span>Take <strong>percentage% off at $price</strong> using code:promo_code</span></p>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Copy & Use code</a>
  </div>
</div>
