<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="Image_link" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link"><span>Amazon Deal Of The Day:</span> Product_Title</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a target="_blank" href="product_link">Product_title</a> - <span>Dis_Price<em>Reg_Price</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div> -->

<!-- <div class="middle_show">
  <h1>Recommended</h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Languages Used</h2>
      <p>This page was written in HTML and CSS. The CSS was compiled from SASS. I used Normalize as my CSS reset and -prefix-free to save myself some headaches. I haven't quite gotten the hang of Slim for compiling into HTML, but someday I'll use it since its syntax compliments that of SASS. Regardless, this could all be done in plain HTML and CSS.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>How it Works</h2>
      <p>Using the sibling and checked selectors, we can determine the styling of sibling elements based on the checked state of the checkbox input element. One use, as demonstrated here, is an entirely CSS and HTML accordion element. Media queries are used to make the element responsive to different screen sizes.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Points of Interest</h2>
      <p>By making the open state default for when :checked isn't detected, we can make this system accessable for browsers that don't recognize :checked. The fallback is simply an open accordion. The accordion can be manipulated with Javascript (if needed) by changing the "checked" property of the input element.</p>
    </li>
  </ul>
</div> -->

<!-- 
<div class="tooltip_common tooltip_orange"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
<div class="m_tooltip_common m_tooltip_orange"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 

<div class="tooltip_common tooltip_purple"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
<div class="m_tooltip_common m_tooltip_purple"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 

<div class="js-overlay-start start dealtube" data-url= "Youtube_URL"><button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button><button class="text">Play Video</button></div>
-->

<div class="card clearfix" data-score="59" data-price="56.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mGrNKQ"><img src="https://m.media-amazon.com/images/S/aplus-media/vc/5d725a53-4917-4e7e-b20b-bd88ef55c61b._SR285,285_.jpg" alt="Garmin vívosmart 3" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mGrNKQ">Garmin vívosmart 3, Fitness/Activity Tracker with Smart Notifications and Heart Rate Monitoring, Black ,Small-Medium</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$56.95</span><span class="ori_price">$139.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mGrNKQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2kHAunx"><img src="https://images-na.ssl-images-amazon.com/images/I/5106%2Bm0wWDL.jpg" alt="Altec Lansing IMW577-AB Lifejacket 2 Bluetooth Speaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2kHAunx">Altec Lansing IMW577-AB Lifejacket 2 Bluetooth Speaker, IP67 Waterproof, Shockproof, Snowproof, Everything-Proof Rating, 30-Foot Range,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.88</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2kHAunx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2kG3nR2"><img src="https://images-na.ssl-images-amazon.com/images/I/91eq2Te%2BpWL._SX522_.jpg" alt="Updated 2019 Version USB C Hub" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2kG3nR2">Updated 2019 Version USB C Hub, 4-in-1 USB C Adapter with 4K USB C to HDMI, USB 3.0 and 2.0 Ports, for MacBook Pro 2016/2017/2018, ChromeBook,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$31.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2kG3nR2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="8.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mD0kcW"><img src="https://images-na.ssl-images-amazon.com/images/I/71Uz%2BbO-DyL._SX679_.jpg" alt="Etekcity Food Digital Kitchen Weight Scale" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mD0kcW">Etekcity Food Digital Kitchen Weight Scale Grams and Oz, Backlit, Stainless Steel(2019 Upgraded)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.98</span><span class="ori_price">$18.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mD0kcW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ml1No4"><img src="https://images-na.ssl-images-amazon.com/images/I/51S5mjoZigL._SX425_.jpg" alt="Skullcandy Ink'd 2.0 Wired Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ml1No4">Skullcandy Ink'd 2.0 Wired Earbuds with in-Line Microphone and Remote, Tangle-Reducing Flat Cable,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$20.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ml1No4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lfNOzI"><img src="https://images-na.ssl-images-amazon.com/images/I/816E-5uaSGL._SX425_.jpg" alt="YETI Rambler 30 oz Stainless Steel Vacuum Insulated Tumbler" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lfNOzI">YETI Rambler 30 oz Stainless Steel Vacuum Insulated Tumbler w/MagSlider Lid, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$44.96</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lfNOzI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="20.08">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2meBm3F"><img src="https://images-na.ssl-images-amazon.com/images/I/71VeVPvNlBL._SX679_.jpg" alt="COSORI Upgraded Personal Blender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2meBm3F">COSORI Upgraded Personal Blender(Recipe Book Included), 10-Piece Smoothie & Shakes Blender with 800W Auto-Blend Base ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.08</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2meBm3F">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lfP4Ts"><img src="https://images-na.ssl-images-amazon.com/images/I/91B8yZ6oF5L._SX679_.jpg" alt="Multiple Vegetable Chopper" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lfP4Ts">Multiple Vegetable Chopper Mandoline Slicer - Food Cutter, Dicer, Grater, Shredder - No BPA Kitchen Gadgets, Tools and Accessories...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.97</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lfP4Ts">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="5.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mM0IWP"><img src="https://images-na.ssl-images-amazon.com/images/I/91gAbr35ZzL._SX425_.jpg" alt="Speed Stick Deodorant for Men" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mM0IWP">Speed Stick Deodorant for Men, Regular - 3 Ounce (4 Pack)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.98</span><span class="ori_price">$11.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mM0IWP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="76.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mL7zjd"><img src="https://images-na.ssl-images-amazon.com/images/I/91z6BjRHHaL._SX425_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mL7zjd"><span>Amazon Deal Of The Day:</span><br /> Bushnell Trophy Roof Binoculars</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$76.99</span><span class="ori_price">$231.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mL7zjd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="119.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mlAUQS"><img src="https://images-na.ssl-images-amazon.com/images/I/61iK90JEcfL._SX425_.jpg" alt="BodyBoss Home Gym 2.0" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mlAUQS"><span>Amazon Deal Of The Day:</span> BodyBoss Home Gym 2.0 - Full Portable Gym Home Workout Package + 1 Set of Resistance Bands...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.00</span><span class="ori_price">$199.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mlAUQS">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="32" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mLOn4U"><img src="https://images-na.ssl-images-amazon.com/images/I/71BUShoXmuL._SX522_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mLOn4U"><span>Amazon Deal Of The Day:</span><br /> Save up to 32% on KROSER Laptop Backpack</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2mLOn4U">Laptop Backpack Fits up to 17.3 Inch</a> - <span>24.47<em>35.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2l1W8Dn">Travel Laptop Backpack 15.6</a> - <span>23.99<em>30.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2mLcxMT">Travel Laptop Backpack 17.3 Inch </a> - <span>31.27<em>45.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2mDOYFA">Laptop Backpack 15.6 Inch Stylish School Backpack</a> - <span>23.11<em>33.99</em></span></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mLOn4U">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="Percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mHhPZG"><img src="https://images-na.ssl-images-amazon.com/images/I/71OhVAipg1L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mHhPZG"><span>Amazon Deal Of The Day:</span><br /> Save up to 50% on Coredy Robotic Vacuums</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2mieSP4">Ultra Slim, R650 Robotic Vacuum</a> - <span>138.30<em>225.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2ldRWQT">Automatic Self-Charging Robotic Vacuum</a> - <span>95.93<em>165.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2lhICvp">Super Quiet, Self-Charge Robotic Vacuum</a> - <span>99.95<em>199.99</em></span></li>
            <li><a href="https://amzn.to/2mHhPZG">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mHhPZG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="10.59">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="https://images-na.ssl-images-amazon.com/images/I/71ceoIzmnNL._SX425_.jpg" alt="Hempz Natural Herbal Body Moisturizer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">Hempz Natural Herbal Body Moisturizer: Sweet Pineapple & Honey Melon Skin Lotion, 17 oz</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$10.59</span><span class="ori_price">$23.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="product_link">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="2.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mL9bti"><img src="https://images-na.ssl-images-amazon.com/images/I/51IicdCUwPL._SX425_.jpg" alt="NYX Matte Lipstick, Perfect Red" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mL9bti">NYX Matte Lipstick, Perfect Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$2.99</span><span class="ori_price">$6.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mL9bti">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lgZnqz"><img src="https://images-na.ssl-images-amazon.com/images/I/81SGQtU8dDL._SY679_.jpg" alt="Garmin Speak with Amazon Alexa" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lgZnqz">Garmin Speak with Amazon Alexa, What You Love About Amazon Alexa— Now in Your car, 010-01862-01</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lgZnqz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="40.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ldxj7r"><img src="https://images-na.ssl-images-amazon.com/images/I/71bdTYDSdhL._SX522_.jpg" alt="Swiss Gear Bungee Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ldxj7r">Swiss Gear Bungee Backpack, Black/Grey, One Size</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.00</span><span class="ori_price">$90.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ldxj7r">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2leJxN8"><img src="https://images-na.ssl-images-amazon.com/images/I/61ZOK8LfBmL._SX522_.jpg" alt="NETGEAR 8-Port Gigabit Ethernet Smart..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2leJxN8">NETGEAR 8-Port Gigabit Ethernet Smart Managed Plus Switch (GSS108E) - with Virtually Anywhere CLICK Mount System,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2leJxN8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="15.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2kLBRli"><img src="https://images-na.ssl-images-amazon.com/images/I/51mkaMBc1EL._SX679_.jpg" alt="Belkin Boost Up Qi Wireless Charging Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2kLBRli">Belkin Boost Up Qi Wireless Charging Pad 5W – Universal Wireless Charger for iPhone XR, XS, XS Max / Samsung Galaxy S9, S9+, Note9 / LG, Sony and more</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.00</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2kLBRli">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="15.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lgjRQ5"><img src="https://images-na.ssl-images-amazon.com/images/I/716Rc4VFPTL._SX425_.jpg" alt="Travelwey Home LED Digital Alarm Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lgjRQ5">Travelwey Home LED Digital Alarm Clock - Outlet Powered, No Frills Simple Operation, Large Night Light, Alarm, Snooze,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.97</span><span class="ori_price">$29.97</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lgjRQ5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="12" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2kNkWik"><img src="https://images-na.ssl-images-amazon.com/images/I/51SdztTGFCL._SX425_.jpg" alt="Smart Plug Compatible with Alexa Google Assistant" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>12% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2kNkWik">Smart Plug Compatible with Alexa Google Assistant IFTTT for Voice Control, Teckin Mini Smart Outlet Wifi Socket with Timer Function, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$33.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2kNkWik">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="79.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lg2DCn"><img src="https://images-na.ssl-images-amazon.com/images/I/91d1nZgNE2L._SX425_.jpg" alt="Toucan Outdoor Wireless Wifi Security Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lg2DCn">Toucan Outdoor Wireless Wifi Security Camera, Motion Alert, Waterproof, Powered by Light Fixture / USB Charger Outlet,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.95</span><span class="ori_price">$139.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 10% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 10% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lg2DCn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mGcAJH"><img src="https://images-na.ssl-images-amazon.com/images/I/51aeU468YkL._SX522_.jpg" alt="Smart Light Switch&Alexa Smart Double Switch&WIFI" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mGcAJH">Smart Light Switch&Alexa Smart Double Switch&WIFI Light Switch With Timer and Remote Control,Works with Alexa, Google home and IFTTT,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$45.99</span>
        <div class="tooltip_common tooltip_orange"><span> + $5 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $5 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mGcAJH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2l49YoO"><img src="https://images-na.ssl-images-amazon.com/images/I/91EeUBlBnrL._SX425_.jpg" alt="IRIS Pet Playpen with Door, 24-Inch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2l49YoO">IRIS Pet Playpen with Door, 24-Inch</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$42.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2l49YoO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="64.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mKMsNZ"><img src="https://images-na.ssl-images-amazon.com/images/I/91EJOh6nrEL._SX522_.jpg" alt="Sceptre E205W-1600 20" 75Hz Ultra Thin LED Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mKMsNZ">Sceptre E205W-1600 20" 75Hz Ultra Thin LED Monitor HDMI VGA Build-in Speakers, Metallic Black (2018 version)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.74</span><span class="ori_price">$115.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mKMsNZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="169.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mLtfM8"><img src="https://images-na.ssl-images-amazon.com/images/I/91JC-BoKQ7L._SX522_.jpg" alt="LG 32-Inch IPS Monitor with Screen Split" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mLtfM8">LG 32MP58HQ-P 32-Inch IPS Monitor with Screen Split</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$169.99</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mLtfM8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="19.37">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mIVtXL"><img src="https://images-na.ssl-images-amazon.com/images/I/811lqIV9HmL._SY450_.jpg" alt="IRIS Top Entry Cat Litter Box with Cat Litter Scoop" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mIVtXL">IRIS Top Entry Cat Litter Box with Cat Litter Scoop</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.37</span><span class="ori_price">$32.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mIVtXL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="69.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mlqgJU"><img src="https://images-na.ssl-images-amazon.com/images/I/51ShjlX1bkL._SX425_.jpg" alt="1MORE Stylish True Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mlqgJU">1MORE Stylish True Wireless Earbuds - Bluetooth 5.0 Stereo Hi-Fi Sound with Deep Bass Wireless Earphones Built-in Mic Headset...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.92</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mlqgJU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2kIm5Yi"><img src="https://images-na.ssl-images-amazon.com/images/I/81bnKHqbtxL._SX425_.jpg" alt="Philips Sonicare ProtectiveClean 4100 Rechargeable Electric Toothbrush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2kIm5Yi">Philips Sonicare ProtectiveClean 4100 Rechargeable Electric Toothbrush, White HX6817/01</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$69.99</span>
        <div class="tooltip_common tooltip_orange"><span> + $5 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $5 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2kIm5Yi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="9.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mM2Gq9"><img src="https://images-na.ssl-images-amazon.com/images/I/71n3RVi4PWL._SX425_.jpg" alt="Reusable Silicone Ear Plugs" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mM2Gq9">Reusable Silicone Ear Plugs - ANBOW Waterproof Hypoallergenic Noise Reduction Earplugs for Sleeping, Swimming, Snoring, Concerts,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.79</span><span class="ori_price">$15.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mM2Gq9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="13.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mi2pee"><img src="https://images-na.ssl-images-amazon.com/images/I/91HRF9Sxt%2BL._SX425_.jpg" alt="J5 Tactical V1-PRO Flashlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mi2pee">J5 Tactical V1-PRO Flashlight - The Original 300 Lumen Ultra Bright, LED Mini 3 Mode Flashlight</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.95</span><span class="ori_price">$29.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mi2pee">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="13.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lefRzG"><img src="https://images-na.ssl-images-amazon.com/images/I/71iookAGRCL._SX522_.jpg" alt="RHINO USA Soft Loop Motorcycle Tie Down Straps" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lefRzG">RHINO USA Soft Loop Motorcycle Tie Down Straps - Guaranteed 10,427lb Max Break Strength, Heavy Duty Tiedown Loops ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.97</span><span class="ori_price">$29.97</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lefRzG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2leiem4"><img src="https://images-na.ssl-images-amazon.com/images/I/61WTUNLkWnL._SX569_.jpg" alt="Anker PowerCore 10000 PD" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2leiem4">Anker PowerCore 10000 PD, 10000mAh Portable Charger USB-C Power Delivery (18W) Power Bank for iPhone 11/11 Pro / 11 Pro Max / 8 / X/XS,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$45.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2leiem4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="67.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mfKtkA"><img src="https://images-na.ssl-images-amazon.com/images/I/61lTwA-yxbL._SX569_.jpg" alt="Anker PowerCore+ 26800 PD" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mfKtkA">Anker PowerCore+ 26800 PD with 30W Power Delivery Charger, Portable Charger Bundle for MacBook Air / iPad Pro 2018,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$67.99</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mfKtkA">Shop Now at Amazon</a></div>
</div>