<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Original_price</span></address>
      <p><span>Take <strong>percentage% off at $Original_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="25" data-price="149.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nc0tQz"><img src="https://m.media-amazon.com/images/I/81Si0j-N4HL._SR400,400_.jpg" alt="ECOVACS DEEBOT N79S Robot Vacuum Cleaner" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nc0tQz">ECOVACS DEEBOT N79S Robot Vacuum Cleaner with Max Power Suction, Works with Alexa, App Controls, Self-Charging, Quiet, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$149.99</span><span class="ori_price">$199.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">50FALL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $199.99</strong> with promo code: <strong class="m_codes">50FALL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Nc0tQz">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="80" data-price="7.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/305z5pu"><img src="https://m.media-amazon.com/images/I/61UItel9NTL._SR400,400_.jpg" alt="7-Port USB Hub USB 2.0 Hub Data Transfer" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>80% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/305z5pu">7-Port USB Hub USB 2.0 Hub Data Transfer with Individual Switches Indicator Lights for PC Laptop</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.20</span><span class="ori_price">$35.99</span></address>
      <textarea readonly="readonly" class="code_area">808G2PDL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>80% off at $35.99</strong> with promo code: <strong class="m_codes">808G2PDL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/305z5pu">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="65" data-price="11.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LBuUfO"><img src="https://m.media-amazon.com/images/I/61+MyUoQv9L._SR400,400_.jpg" alt="Artists Paint Brush Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LBuUfO">Artists Paint Brush Set, oil-15 Different Sizes Nice Gift for Artists, Metal Ring Made of Copper Tubes, Free Painting Knife,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.90</span><span class="ori_price">$33.99</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">65KWPZL4</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>65% off at $33.99</strong> with promo code: <strong class="m_codes">65KWPZL4</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LBuUfO">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="55" data-price="6.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LqPq4f"><img src="https://m.media-amazon.com/images/I/71rzGy3aSFL._SR400,400_.jpg" alt="THE NEXT GARDENER 2.5 Inch Succulent Plant Pots" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LqPq4f">THE NEXT GARDENER 2.5 Inch Succulent Plant Pots, Small Cactus Planters/Pots/Container 4PCS, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.30</span><span class="ori_price">$13.99</span></address>
      <textarea readonly="readonly" class="code_area">559CJ1W9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $13.99</strong> with promo code: <strong class="m_codes">559CJ1W9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LqPq4f">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="20.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lo6zvb"><img src="https://m.media-amazon.com/images/I/71TS58C4HAL._SR400,400_.jpg" alt="Anbock Wireless Under Cabinet Kitchen Lighting USB" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lo6zvb">Anbock Wireless Under Cabinet Kitchen Lighting USB Rechargeable Remote Control Closet Light Timing, Stick on Lights for...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.29</span><span class="ori_price">$28.98</span></address>
      <textarea readonly="readonly" class="code_area">30GHAL9H</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $28.98</strong> with promo code: <strong class="m_codes">30GHAL9H</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Lo6zvb">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="15" data-price="10.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NQsoFv"><img src="https://m.media-amazon.com/images/I/917EcFarBtL._SR400,400_.jpg" alt="Vanilla Bean Grass-Fed Ghee Butter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NQsoFv">Vanilla Bean Grass-Fed Ghee Butter by 4th & Heart, On-the-Go Single Serving 5-Count, Pasture Raised, Non-GMO,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$10.19</span><span class="ori_price">$11.99</span></address>
      <textarea readonly="readonly" class="code_area">15HEART</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>15% off at $11.99</strong> with promo code: <strong class="m_codes">15HEART</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 31, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NQsoFv">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LqDyPr"><img src="https://m.media-amazon.com/images/I/41VfMTDzKmL._SR400,400_.jpg" alt="20000mAh Portable Charger" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LqDyPr">20000mAh Portable Charger, Yoobao Ultra-High Capacity External Battery Power Bank Cell Phone Battery Backup ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.00</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_red"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_red"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
      <textarea readonly="readonly" class="code_area">60X4CH5C</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $39.99</strong> with promo code: <strong class="m_codes">60X4CH5C</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 14, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LqDyPr">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="6.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LoUqWM"><img src="https://m.media-amazon.com/images/I/615ww4RejwL._SR400,400_.jpg" alt="USB Type C Cable AREOK" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LoUqWM">USB Type C Cable AREOK[2-Pack, 6ft] USB A 2.0 to USB-C Fast Charger Nylon Braided USB C Cable Compatible Samsung S10 S9 Note 9...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.00</span><span class="ori_price">$20.00</span></address>
      <textarea readonly="readonly" class="code_area">70C3VG8V</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $20.00</strong> with promo code: <strong class="m_codes">70C3VG8V</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LoUqWM">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="70" data-price="9.87">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NVbkhG"><img src="https://m.media-amazon.com/images/I/81FvUpCi92L._SR400,400_.jpg" alt="Pancellent 2-in-1 Magnifying Glass" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NVbkhG">Pancellent 2-in-1 Magnifying Glass LED Lamp with Precision Tweezers Set (9 Pcs), 2X/4X Lighted Magnifier with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.87</span><span class="ori_price">$32.90</span></address>
      <textarea readonly="readonly" class="code_area">70AB19JM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $32.90</strong> with promo code: <strong class="m_codes">70AB19JM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NVbkhG">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="12.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/308Ggx6"><img src="https://m.media-amazon.com/images/I/61t4J1pXamL._SR400,400_.jpg" alt="USB Charger Hub" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/308Ggx6">USB Charger Hub with USB-C PD Port(45W Max), Desktop Charging Station with 4 USB Ports (5V/2.4A), Multi-Port Charging Hub ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.00</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">60EENMAM</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $29.99</strong> with promo code: <strong class="m_codes">60EENMAM</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/308Ggx6">Use Code at Amazon</a></div>
</div>


<div class="card clearfix" data-score="55" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Q23y89"><img src="https://images-na.ssl-images-amazon.com/images/I/61e5-UR18uL._SX425_.jpg" alt="Juicer Machines" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Q23y89">Juicer Machines, Aicok Slow Masticating Juicer Extractor Easy to Clean, Quiet Motor & Reverse Function, BPA-Free, Cold Press Juicer with Brush...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.99</span><span class="ori_price">$149.99</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">LWQ7ZEPD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $149.99</strong> with promo code: <strong class="m_codes">LWQ7ZEPD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : 09/11/2019 11:59PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Q23y89">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Q4d22W"><img src="https://m.media-amazon.com/images/I/61l9s7KRrdL._SR400,400_.jpg" alt="Make Lemonade 9.5 Minute Hourglass Sand Timer with Nightlight" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Q4d22W">Make Lemonade 9.5 Minute Hourglass Sand Timer with Nightlight for Kids | 7 Color Bedside Lamp</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">25HOURGL</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $19.99</strong> with promo code: <strong class="m_codes">25HOURGL</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 19, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Q4d22W">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="16.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/306VD9l"><img src="https://images-na.ssl-images-amazon.com/images/I/71D%2B-8RfsrL._SX679_.jpg" alt="Blender, Aicok Personal Smoothie Blender" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/306VD9l">Blender, Aicok Personal Smoothie Blender, Stainless Steel Single Serve Blender, with 21 oz BPA Free Portable Travel Sports Bottle...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.49</span><span class="ori_price">$29.99</span></address>
      <textarea readonly="readonly" class="code_area">45EXVYYN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $29.99</strong> with promo code: <strong class="m_codes">45EXVYYN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : 09/14/2019 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/306VD9l">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="21.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NT2LUj"><img src="https://m.media-amazon.com/images/I/61EmZj+6wUL._SR400,400_.jpg" alt="BIGSUN Q953 10000mAh Rechargeable Spotlight..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NT2LUj">BIGSUN Q953 10000mAh Rechargeable Spotlight Flashlight with 6000 Lumen LED, Foldable Tripod and Strap, Wall and Car Charger Attachments</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.99</span><span class="ori_price">$39.99</span></address>
      <textarea readonly="readonly" class="code_area">45MRLBSV</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>45% off at $39.99</strong> with promo code: <strong class="m_codes">45MRLBSV</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2NT2LUj">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="8.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2O1dGeZ"><img src="https://m.media-amazon.com/images/I/61KEdMl91tL._SR400,400_.jpg" alt="BETNEW Alarm Clock Wireless Bluetooth Speaker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2O1dGeZ">BETNEW Alarm Clock Wireless Bluetooth Speaker, Retro TV with Candy Color Design, 4 Hours Endurance, AUX TF Card Play,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.40</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">7067TRES</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $27.99</strong> with promo code: <strong class="m_codes">7067TRES</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2O1dGeZ">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="70" data-price="12.30">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LHb7f3"><img src="https://m.media-amazon.com/images/I/91ZIGbWL9mL._SR400,400_.jpg" alt="Bruno Marc Men's Motorcycle Boots Leather Dress Oxford Boots" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LHb7f3">Bruno Marc Men's Motorcycle Boots Leather Dress Oxford Boots</a></p>
    <div class="code_high">
      <address><span class="dis_price">$12.30</span><span class="ori_price">$40.99</span></address>
      <textarea readonly="readonly" class="code_area">701WGRET</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>70% off at $40.99</strong> with promo code: <strong class="m_codes">701WGRET</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 05, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2LHb7f3">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="23.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/32Haeu5"><img src="https://m.media-amazon.com/images/I/61dDUwQ0VUL._SR400,400_.jpg" alt="PELLIOT Bike Backpack" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/32Haeu5">PELLIOT Bike Backpack, 20L Waterproof Cycling Bicycle Rucksack, Breathable Lightweight and Wear-Resisting Running Backpack...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$23.09</span><span class="ori_price">$32.99</span>
        <div class="tooltip_common tooltip_green"><span> + Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span> + Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">30PRBPVR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $32.99</strong> with promo code: <strong class="m_codes">30PRBPVR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 11, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/32Haeu5">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="30" data-price="202.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N8TsjF"><img src="https://m.media-amazon.com/images/I/71bPUvtNrsL._SR400,400_.jpg" alt="Neewer Camera Slider Motorized" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N8TsjF">Neewer Camera Slider Motorized, 31.5-inch APP Control Carbon Fiber Track Dolly Rail with Time Lapse Video Shot Follow...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$202.99</span><span class="ori_price">$289.99</span></address>
      <textarea readonly="readonly" class="code_area">30QZ5QEB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $289.99</strong> with promo code: <strong class="m_codes">30QZ5QEB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2N8TsjF">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="59.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Lt7bzX"><img src="https://m.media-amazon.com/images/I/6196GGsYAdL._SR400,400_.jpg" alt="HAUSBELL Video Camera" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Lt7bzX">HAUSBELL Video Camera Camcorder Digital Camcorder HD Camcorder with Wifi Video Recorder Digital Video Camera 1920x1080P ...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.99</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">406VVTAB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $99.99</strong> with promo code: <strong class="m_codes">406VVTAB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2Lt7bzX">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="50" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N9BaPb"><img src="https://m.media-amazon.com/images/I/71EvOPHOpkL._SR400,400_.jpg" alt="HAUSBELL Flashlights LED Flashlights Tactical" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N9BaPb">HAUSBELL Flashlights LED Flashlights Tactical Flashlights, Zoomable, High Lumen Flashlights, Water Resistant,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$7.50</span><span class="ori_price">$14.99</span></address>
      <textarea readonly="readonly" class="code_area">50637BCF</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $14.99</strong> with promo code: <strong class="m_codes">50637BCF</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 12, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2N9BaPb">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="40" data-price="75.60">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34CxAmb"><img src="https://m.media-amazon.com/images/I/613roCUwwgL._SR400,400_.jpg" alt="LIVALL Smart Bike Helmet with Auto Sensor LED" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34CxAmb">LIVALL Smart Bike Helmet with Auto Sensor LED, Turn Signal Tail Lights,Connects via Bluetooth, Certified Comfortable Cycling Helmet</a></p>
    <div class="code_high">
      <address><span class="dis_price">$75.60</span><span class="ori_price">$126.00</span></address>
      <textarea readonly="readonly" class="code_area">40AUSMUQ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $126.00</strong> with promo code: <strong class="m_codes">40AUSMUQ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 18, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34CxAmb">Use Code at Amazon</a></div>
</div>
 
 