<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Shop Now</a>
  </div>
</div> -->

<div class="card clearfix" data-score="50" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EACBjI"><img src="https://images-na.ssl-images-amazon.com/images/I/61eTBqoXxaL._SX679_.jpg" alt="Smart LED TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EACBjI">TCL 55S405 55-Inch 4K Ultra HD Roku Smart LED TV (2017 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.99</span><span class="ori_price">$599.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EACBjI">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="189.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M8M0Fy"><img src="https://images-na.ssl-images-amazon.com/images/I/41Dw9u21EXL.jpg" alt="Robotic Vacuum Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M8M0Fy">ECOVACS DEEBOT 601 Robotic Vacuum Cleaner with App Control, for Carpet & Optimized for Hard Floor, Max Mode, Quiet, Scheduling, Auto-Charging, Pet Friendly</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$189.99</span><span class="ori_price">$379.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2M8M0Fy">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="24" data-price="249.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2W3i5TH"><img src="https://images-na.ssl-images-amazon.com/images/I/51x4j48wCpL._SY606_.jpg" alt="Apple iPad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2W3i5TH">Apple iPad (Wi-Fi, 32GB) - Space Gray (Latest Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$249.00</span><span class="ori_price">$329.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2W3i5TH">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="23" data-price="329.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2YPRnem"><img src="https://images-na.ssl-images-amazon.com/images/I/51Y5NYmG81L._SY606_.jpg" alt="Apple iPad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2YPRnem">Apple iPad (Wi-Fi, 128GB) - Gold (Latest Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$329.00</span><span class="ori_price">$429.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2YPRnem">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="849.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Kgj8O"><img src="https://images-na.ssl-images-amazon.com/images/I/51em9QLiToL._SY606_.jpg" alt="Apple iPad Pro" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Kgj8O">Apple iPad Pro (12.9-inch, Wi-Fi, 64GB) - Space Gray (Latest Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$849.00</span><span class="ori_price">$999.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30Kgj8O">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="33" data-price="134.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30NPa4C"><img src="https://images-na.ssl-images-amazon.com/images/I/51840t%2BtcFL.jpg" alt="Chromebook" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30NPa4C">Acer Flagship CB3-532 15.6" HD Premium Chromebook - Intel Dual-Core Celeron N3060 up to 2.48GH.z, 2GB RAM, 16GB SSD, Wireless AC, HDMI, USB 3.0</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$134.99</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30NPa4C">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="199.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VTvAAm"><img src="https://images-na.ssl-images-amazon.com/images/I/51YZlkpp4WL._SY355_.jpg" alt="Ring Video Doorbell 2" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VTvAAm">Ring Video Doorbell 2 with Echo Dot (3rd Gen) - Charcoal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.00</span><span class="ori_price">$248.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VTvAAm">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="172.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VU5j5f"><img src="https://images-na.ssl-images-amazon.com/images/I/5109jM6hjUL._SX522_.jpg" alt="Power Toothbrush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VU5j5f">Philips Sonicare DiamondClean Smart 9300 Electric Rechargeable Power Toothbrush, For Complete Oral Care</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$172.95</span><span class="ori_price">$229.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2VU5j5f">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="28" data-price="359.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30J9MLx"><img src="https://images-na.ssl-images-amazon.com/images/I/61BvG20bqKL._SX679_.jpg" alt="Dyson Cyclone" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30J9MLx">Dyson Cyclone V10 Motorhead Lightweight Cordless Stick Vacuum Cleaner</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$359.99</span><span class="ori_price">$499.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30J9MLx">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="31" data-price="89.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2W1V5Vb"><img src="https://images-na.ssl-images-amazon.com/images/I/71KN2vKCXuL._SX522_.jpg" alt="Instant Pot DUO Plus 60" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2W1V5Vb">Instant Pot DUO Plus 60, 6 Qt 9-in-1 Multi- Use Programmable Pressure Cooker, Slow Cooker, Rice Cooker, Yogurt Maker, Egg Cooker, Sauté, Steamer, Warmer, and Sterilizer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.99</span><span class="ori_price">$129.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2W1V5Vb">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="224.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Mp56g"><img src="https://images-na.ssl-images-amazon.com/images/I/71u9otx30wL._SY606_.jpg" alt="Beats Solo3 Wireless On-Ear Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Mp56g">Beats Solo3 Wireless On-Ear Headphones - Gloss Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$224.95</span><span class="ori_price">$299.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30Mp56g">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="89.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Wqyr8n"><img src="https://images-na.ssl-images-amazon.com/images/I/61qE4OdDkML._SX522_.jpg" alt="Echo Dot (3rd Gen)" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Wqyr8n">Echo Dot (3rd Gen) - Charcoal with Philips Hue White Smart Light Bulb Starter Kit (All US Residents)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.98</span><span class="ori_price">$119.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Wqyr8n">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WryMHY"><img src="https://images-na.ssl-images-amazon.com/images/I/61w8bahQ6nL._SY355_.jpg" alt="Alexa Voice Remote" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WryMHY">Alexa Voice Remote for Amazon Echo</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WryMHY">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="37" data-price="113.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EyBWPL"><img src="https://images-na.ssl-images-amazon.com/images/I/81qAGTEI5kL._SX522_.jpg" alt="Beats Pill" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>37% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EyBWPL">Beats Pill+ Portable Speaker - White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$113.99</span><span class="ori_price">$179.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EyBWPL">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="36" data-price="179.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30ImGtc"><img src="https://images-na.ssl-images-amazon.com/images/I/51xfv3bhNcL._SX522_.jpg" alt="abode Essentials Starter Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30ImGtc">abode Essentials Starter Kit | DIY Wireless Home Security System | Works with Alexa</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.00</span><span class="ori_price">$279.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/30ImGtc">Shop Now</a>
  </div>
</div>