<!-- <div class="filter-node editors_box" data-filter='["CATEGORIES","PRODUCT_TITLE"]'>
  <div class="best_image">
    <a target="_blank" href="Product_Link"><img src="IMAGE_URL" alt="Image_Title"></a>
    <div class="node-box inner">
  </div>
  <p><a target="_blank" href="Product_Link">PRODUCT_TITLE</a></p>
  </div>
  <div class="pricing">
    <span>$CURRENT_PRICE</span><span class="sec_pricing"><div class="line_style">$REGULAR_PRICE</div><em>PERCENTAGE% off</em></span>
  </div>
  <div class="btn"><a target="_blank" href="Product_Link">Shop Now</a></div>
</div> -->

<!-- <div class="ex_sale green"><em>Extra<span>Discount</span></em></div>
<div class="ex_sale purple"><em>Extra<span>Discount</span></em></div> -->

<div class="filter-node editors_box" data-filter='["tech","GAME DAY: Start off your day ready to game with this Playstation alarm clock! It features the"]'>
  <div class="best_image">
    <a target="_blank" href="Product_Link"><img src="https://images-na.ssl-images-amazon.com/images/I/71vl-wBPDBL._SX679_.jpg" alt="Image_Title"></a>
    <div class="ex_sale green"><em>Extra<span>Discount</span></em></div>
  </div>
  <div class="node-box inner">
    <p><a target="_blank" href="Product_Link">GAME DAY: Start off your day ready to game with this Playstation alarm clock! It features the </a></p>
  </div>
  <div class="pricing">
    <span>$150.00</span><span class="sec_pricing"><div class="line_style">$200.00</div><em>50% off</em></span>
  </div>
  <div class="btn"><a target="_blank" href="Product_Link">Shop Now</a></div>
</div>

<div class="filter-node editors_box" data-filter='["others","Pebble Smart Doggie Doorbell"]'>
  <a target="_blank" href="Product_Link"><img src="https://images-na.ssl-images-amazon.com/images/I/71vD7pwb5SL._SX425_.jpg" alt="IAMGE_DESC"></a>
  <div class="node-box inner">
    <p><a target="_blank" href="Product_Link">Pebble Smart Doggie Doorbell</a></p>
  </div>
  <div class="pricing">
    <span>$1,250.00</span><span class="sec_pricing"><div class="line_style">$2,400.00</div><em>30% off</em></span>
  </div>
  <div class="btn"><a target="_blank" href="Product_Link">Shop Now</a></div>
</div>