<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="product_link">Use Code</a>
  </div>
</div>
 -->

<!-- Double Discount
 <div class="tooltip_red">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code to the product that is being discounting.</p>
  </div>
 </div>

 <div class="tooltip_green">
  <span>Double Discount</span>
  <div class="tooltip-content">
    <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
  </div>
 </div>
-->

<div class="card clearfix" data-score="50" data-price="20.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WKtSpG"><img src="https://m.media-amazon.com/images/I/61Pz75RpcuL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WKtSpG">Wireless Earbuds,Bluetooth 5.0 Headphones,IPX5 Waterproof in-Ear Wireless Headset</a></p>
    <div class="code_high">
      <address><span class="dis_price">$20.00</span><span class="ori_price">$39.99</span></address>
      <p><span>Take <strong>50% off at $39.99</strong> with promo code: <strong>509FOTDH</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WKtSpG">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="21.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WnC9QR"><img src="https://m.media-amazon.com/images/I/61Imr3h3tlL._SR400,400_.jpg" alt="UZOPI Bluetooth 5.0 Transmitter Receiver" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WnC9QR">UZOPI Bluetooth 5.0 Transmitter Receiver, 2-in-1 Wireless Audio Adapter aptX Low Latency HD for TV Car Music Streaming Stereo Sound System</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.89</span><span class="ori_price">$25.75</span></address>
      <p><span>Take <strong>15% off at $25.75</strong> with promo code: <strong>15QNAHU4</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 04, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WnC9QR">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="59.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MqglPY"><img src="https://m.media-amazon.com/images/I/61-O0aogzwL._SR400,400_.jpg" alt="Mini Projector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MqglPY">Mini Projector 2019 Upgraded Portable Video-Projector,55000 Hours Multimedia Home Theater Movie Projector</a></p>
    <div class="code_high">
      <address><span class="dis_price">$59.15</span><span class="ori_price">$69.59</span></address>
      <p><span>Take <strong>15% off at $69.59</strong> with promo code: <strong>15AUKING</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MqglPY">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IkZngH"><img src="https://m.media-amazon.com/images/I/61vd-tT3thL._SR400,400_.jpg" alt="Eunon Pro Cordless Hair Clippers" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IkZngH">Eunon Pro Cordless Hair Clippers - Electric Rechargeable Hair Trimmer Haircut Kit with LCD Screen, for Men Women Barbers Home or Travel Use</a></p>
    <div class="code_high">
      <address><span class="dis_price">$19.99</span><span class="ori_price">$39.98</span></address>
      <p><span>Take <strong>50% off at $39.98</strong> with promo code: <strong>50M9PPBL</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 15, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IkZngH">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="31.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IoEotd"><img src="https://m.media-amazon.com/images/I/61iTLdZkvML._SR400,400_.jpg" alt="Dermacia PRO Breathable Foundation" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IoEotd">Dermacia PRO Breathable Foundation (Creme), Dr. Recommended, Hypoallergenic, Long Lasting, Soothing, Flawless Coverage</a></p>
    <div class="code_high">
      <address><span class="dis_price">$31.96</span><span class="ori_price">$39.95</span></address>
      <p><span>Take <strong>20% off at $39.95</strong> with promo code: <strong>20DERMACIA</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IoEotd">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JVQqxz"><img src="https://m.media-amazon.com/images/I/61Wy6w4fIYL._SR400,400_.jpg" alt="XY Fancy Face Mud Cream Mask" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JVQqxz">XY Fancy Face Mud Cream Mask, Special Maifan Mineral Stone Natural Clay, Moisturizing and Firming Skin-7.8 Ounce </a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.99</span><span class="ori_price">$17.99</span></address>
      <p><span>Take <strong>50% off at $17.99</strong> with promo code: <strong>502MVJ7C</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 10, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JVQqxz">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mqhzuy"><img src="https://m.media-amazon.com/images/I/710JbH25rUL._SR400,400_.jpg" alt="100ml Aromatherapy Essential Oil Diffuser" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mqhzuy">100ml Aromatherapy Essential Oil Diffuser Humidifier Bronze, Mini Vintage Metal Ultrasonic Cool Mist Humidifie</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.99</span><span class="ori_price">$27.99</span></address>
      <p><span>Take <strong>50% off at $27.99</strong> with promo code: <strong>50TF33VF</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mqhzuy">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="20" data-price="35.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MvFMjb"><img src="https://m.media-amazon.com/images/I/815Q28CycuL._SR400,400_.jpg" alt="Dark Spot Corrector Serum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MvFMjb">Dark Spot Corrector Serum for Even Skin Tone by Olay ProX, with Vitamin B3 & Sea Kelp Extract, 1.3 Fl Oz </a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.70</span><span class="ori_price">$44.62</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>20% off at $44.62</strong> with promo code: <strong>2020OLAY</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 06, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2MvFMjb">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="45.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Il1r8r"><img src="https://m.media-amazon.com/images/I/61yWWnqB7FL._SR400,400_.jpg" alt="Solar Power Bank" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Il1r8r">Solar Power Bank, RAVPower 25000mAh Outdoor Solar Phone Charger with 3 USB Ports, External Battery Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price">$45.04</span><span class="ori_price">$52.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $52.99</strong> with promo code: <strong>1548QM7Y</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Il1r8r">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="5.25">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ii3Lgo"><img src="https://m.media-amazon.com/images/I/71eYEaeZ6yL._SR400,400_.jpg" alt="Palumma Car Phone Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ii3Lgo">Palumma Car Phone Mount, Air Vent Phone Holder for Car with Steel Slide Rail, Auto-Clamping Gravity Phone Holder</a></p>
    <div class="code_high">
      <address><span class="dis_price">$5.25</span><span class="ori_price">$10.49</span></address>
      <p><span>Take <strong>50% off at $10.49</strong> with promo code: <strong>505UD965</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 09, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ii3Lgo">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="76.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WGkwv2"><img src="https://m.media-amazon.com/images/I/71hdzkI1EQL._SR400,400_.jpg" alt="Dual Mirror Dash Cam" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WGkwv2">Dual Mirror Dash Cam with 32G TF Card Car Video Backup Camera,360°Auto-Rotation Lens,Exclusive Ultrasonic Object Sensor Hardwire Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price">$76.49</span><span class="ori_price">$89.99</span>
        <div class="tooltip_green">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount by applying promotional code and get additional discount by applying coupon on the detail page of product.</p>
          </div>
         </div>
      </address>
      <p><span>Take <strong>15% off at $89.99</strong> with promo code: <strong>15R6TQCI</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 12, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WGkwv2">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="18.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ij0vS6"><img src="https://m.media-amazon.com/images/I/81nd8XQm9jL._SR400,400_.jpg" alt=">Wireless Portable Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ij0vS6">Wireless Portable Charger 24000mAh Power Bank Huge Capacity Charge External Battery Pack Dual Inputs & Three Output </a></p>
    <div class="code_high">
      <address><span class="dis_price">$18.00</span><span class="ori_price">$35.99</span></address>
      <p><span>Take <strong>50% off at $35.99</strong> with promo code: <strong>505143Y8</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ij0vS6">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="27.16">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WppA7F"><img src="https://m.media-amazon.com/images/I/71A-ATHdBXL._SR400,400_.jpg" alt="Qmadix Liquid Screen Protector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WppA7F">Qmadix Liquid Screen Protector - $250 Screen Replacement Guarantee - Invisible First-Defense+ Extreme NanoGlass Screen Protector</a></p>
    <div class="code_high">
      <address><span class="dis_price">$27.16</span><span class="ori_price">$31.95</span></address>
      <p><span>Take <strong>15% off at $31.95</strong> with promo code: <strong>15OFFGIVE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 18, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WppA7F">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="58" data-price="6.72">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ETh9qq"><img src="https://m.media-amazon.com/images/I/71zIwJ4waLL._SR400,400_.jpg" alt="Favoto Car Phone Mount Cell Phone Holder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ETh9qq">Favoto Car Phone Mount Cell Phone Holder Universal Multifunction Car Mount</a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.72</span><span class="ori_price">$15.99</span></address>
      <p><span>Take <strong>58% off at $15.99</strong> with promo code: <strong>58XVXRF1</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 05, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ETh9qq">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="165.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WpqhxN"><img src="https://m.media-amazon.com/images/I/612bLUItP2L._SR400,400_.jpg" alt="Portable Alarm" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WpqhxN">DEWALT MOBILELOCK DS600 Portable Alarm System and GPS Locator: Perfect for Trailers, Job Sites, RV and Other Remote or Mobile Assets</a></p>
    <div class="code_high">
      <address><span class="dis_price">$165.00</span><span class="ori_price">$220.00</span></address>
      <p><span>Take <strong>25% off at $220.00</strong> with promo code: <strong>253CY5DV</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 23, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WpqhxN">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="30" data-price="32.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XnBs6I"><img src="https://m.media-amazon.com/images/I/71ALooaU6nL._SR400,400_.jpg" alt="TORRAS Wireless Car Charger Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XnBs6I">TORRAS Wireless Car Charger Mount Automatic Clamping, 7.5W/10W Fast Charging Qi Air Vent Car Phone Holder</a></p>
    <div class="code_high">
      <address><span class="dis_price">$32.19</span><span class="ori_price">$45.99</span></address>
      <p><span>Take <strong>30% off at $45.99</strong> with promo code: <strong>30XUTVFE</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 14, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XnBs6I">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="6.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Xr0T7m"><img src="https://m.media-amazon.com/images/I/81QOT9gFQ0L._SR400,400_.jpg" alt="i2 Gear Running Belt" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Xr0T7m">i2 Gear Running Belt - Cell Phone Belt Holder </a></p>
    <div class="code_high">
      <address><span class="dis_price">$6.50</span><span class="ori_price">$12.99</span></address>
      <p><span>Take <strong>50% off at $12.99</strong> with promo code: <strong>50GLWJNM</strong></span></p>
      <span class="ex_date">Expiration Date : Jul 03, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Xr0T7m">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="40" data-price="17.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ETukI1"><img src="https://m.media-amazon.com/images/I/61zPN9COrZL._SR400,400_.jpg" alt="Rechargeable Work Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ETukI1">Rechargeable Work Light, BESWILL [15W 24LED] Outdoors Camping Emergency Light</a></p>
    <div class="code_high">
      <address><span class="dis_price">$17.39</span><span class="ori_price">$28.99</span></address>
      <p><span>Take <strong>40% off at $28.99</strong> with promo code: <strong>40XV5W3H</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2ETukI1">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="16.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WMeZTB"><img src="https://m.media-amazon.com/images/I/71-MIJIiJoL._SR400,400_.jpg" alt="Lantoo Portable Wireless Doorbell" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WMeZTB">Lantoo Portable Wireless Doorbell with 1 Remote Button and 2 Plugin Receivers, Over 1000-feet Range</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.50</span><span class="ori_price">$32.99</span></address>
      <p><span>Take <strong>50% off at $32.99</strong> with promo code: <strong>50QA9LZ5</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WMeZTB">Use Code</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="117.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XqbteV"><img src="https://m.media-amazon.com/images/I/51N2IuDUMOL._SR400,400_.jpg" alt="Smart Door Lock eLinkSmart Keyless Lockset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XqbteV">Smart Door Lock eLinkSmart Keyless Lockset [with WiFi Camera] IC Card, Touchscreen Keypad, APP Remote Unlock, USB Emergency Power Without Perforate Hole</a></p>
    <div class="code_high">
      <address><span class="dis_price">$117.29</span><span class="ori_price">$137.99</span></address>
      <p><span>Take <strong>15% off at $137.99</strong> with promo code: <strong>15PCFWM4</strong></span></p>
      <span class="ex_date">Expiration Date : Jun 30, 2019 at 11:59 PM PDT</span>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XqbteV">Use Code</a>
  </div>
</div>

