<!--<div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <textarea readonly="readonly" class="code_area">promo_code</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong class="m_codes">promo_code</strong></span></p><span class="ex_date ex_date_new">Expiration Date : End_date</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<!-- Extra Discount
 <div class="tooltip_common tooltip_red"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>
 <div class="m_tooltip_common m_tooltip_red"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by applying promotional code to the product that is being discounting.</p></div></div>

 <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
 <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>

 <div class="js-overlay-start start dealtube" data-url= "Youtube_URL">
  <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
  <button class="text">Play Video</button>
</div>
-->

<!-- <div class="card clearfix" data-score="percentage" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="product_link"><img src="product_img" alt="" /></a>
    <div class="rating"><img src="<%= asset_path 'star-Rating_Num.jpg' %>"><p>Review_Num Amazon Reviews</p></div>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>percentage% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="product_link">prodcut_description</a></p>
    <div class="code_high">
      <address><span class="dis_price">$discounted_price</span><span class="ori_price">$Origianl_price</span></address>
      <p><span>Take <strong>percentage% off at $Origianl_price</strong> with promo code: <strong>promo_code</strong></span></p>
      <span class="ex_date">Expiration Date : End_date</span>
      <%= render 'deals/notes' %>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="product_link">Use Code at Amazon</a></div>
</div>
 -->

<div class="card clearfix" data-score="60" data-price="14.67">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/306TZVv"><img src="https://m.media-amazon.com/images/I/61xBJKdnbbL._SR400,400_.jpg" alt="Essential Oil Diffuser" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/306TZVv">Essential Oil Diffuser, Dularf Wood Grain Aromatherapy Diffuser Cool Mist Nebulizer Diffuser Humidifier 400ml for Office Home...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$14.67</span><span class="ori_price">$36.68</span></address>
      <textarea readonly="readonly" class="code_area">60J4Z6VT</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $36.68</strong> with promo code: <strong class="m_codes">60J4Z6VT</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/306TZVv">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="22" data-price="21.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3197cON"><img src="https://m.media-amazon.com/images/I/71mtMPOtd3L._SR400,400_.jpg" alt="MATI Sparkling Organic Healthy Energy Drink" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3197cON">MATI Sparkling Organic Healthy Energy Drink, All Natural Craft Brewed Guayusa, No Added Sugar, Naturally Sweet Variety,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$21.83</span><span class="ori_price">$27.99</span></address>
      <textarea readonly="readonly" class="code_area">209WBSNX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>22% off at $27.99</strong> with promo code: <strong class="m_codes">209WBSNX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 02, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3197cON">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="13.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PVbPur"><img src="https://m.media-amazon.com/images/I/61+nyZSV8gL._SR400,400_.jpg" alt="Smart Wifi Plug Work with Alexa Google Home" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PVbPur">Smart Wifi Plug Work with Alexa Google Home IFTTT, Gosund 16A Smart Outlet Mini Socket with Overload Protection, Reliable Wifi...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$13.49</span><span class="ori_price">$26.98</span></address>
      <textarea readonly="readonly" class="code_area">50TANTAN</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $26.98</strong> with promo code: <strong class="m_codes">50TANTAN</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 10, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PVbPur">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="35.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UObMzx"><img src="https://m.media-amazon.com/images/I/91FoE5ZmH+L._SR400,400_.jpg" alt="Magicfly 80 Pcs Acrylic Paint Set" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UObMzx">Magicfly 80 Pcs Acrylic Paint Set, 78 Colors & 2 Acrylic Medium (22ml/0.74oz), Non-Toxic & Rich Pigment Art Paint for Adults,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$35.19</span><span class="ori_price">$43.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">209WBSNX</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $43.99</strong> with promo code: <strong class="m_codes">209WBSNX</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Oct 02, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2UObMzx">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="8.10">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2UKHQEE"><img src="https://m.media-amazon.com/images/I/61yWn2MqgkL._SR400,400_.jpg" alt="Petacc Dog Life Jacket" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2UKHQEE">Petacc Dog Life Jacket Pet Floatation Vest Dog Lifesaver Dog Life Preserver for Water Safety at The Pool, Beach, Boating</a></p>
    <div class="code_high">
      <address><span class="dis_price">$8.10</span><span class="ori_price">$17.99</span></address>
      <textarea readonly="readonly" class="code_area">554HFOCJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>55% off at $17.99</strong> with promo code: <strong class="m_codes">554HFOCJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2UKHQEE">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3198bOY"><img src="https://m.media-amazon.com/images/I/51yV-bHpTBL._SR400,400_.jpg" alt="RUNDOING Smart Watch for Android iOS Phones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3198bOY">RUNDOING Smart Watch for Android iOS Phones, Fitness Watch with Pedometer Heart Rate Monitor Sleep Tracker for Men and Women (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">40PHWASJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $49.99</strong> with promo code: <strong class="m_codes">40PHWASJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/3198bOY">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="60" data-price="40.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZM3z4w"><img src="https://m.media-amazon.com/images/I/613LVFqkTRL._SR400,400_.jpg" alt="Sous Vide Cooker" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZM3z4w">Sous Vide Cooker, Banne 800W 110V Precise Digital Timer Manual Controlled IPX7 Waterproof Immersion Circulator Cooker with Cookbook</a></p>
    <div class="code_high">
      <address><span class="dis_price">$40.00</span><span class="ori_price">$99.99</span></address>
      <textarea readonly="readonly" class="code_area">602HP2VC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>60% off at $99.99</strong> with promo code: <strong class="m_codes">602HP2VC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 26, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZM3z4w">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31j0c21"><img src="https://m.media-amazon.com/images/I/51TJ8vMHVYL._SR400,400_.jpg" alt="IDISKK True Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31j0c21">IDISKK True Wireless Earbuds with Microphone Bluetooth Touch-Control Auto-Pairing HiFi Stereo Sports Earphones with...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.49</span><span class="ori_price">$30.99</span></address>
      <textarea readonly="readonly" class="code_area">50YZMY6V</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $30.99</strong> with promo code: <strong class="m_codes">50YZMY6V</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31j0c21">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/313W3Pb"><img src="https://m.media-amazon.com/images/I/81AlBgCfu1L._SR400,400_.jpg" alt="Tools4Wisdom Planner" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/313W3Pb">Tools4Wisdom Planner 2019-2020 Academic Year - 8.5 x 11 Hardcover - Floral Elephant Cover</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.98</span><span class="ori_price">$31.97</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">50OFFPL4NNER</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $31.97</strong> with promo code: <strong class="m_codes">50OFFPL4NNER</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/313W3Pb">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2A23gDt"><img src="https://m.media-amazon.com/images/I/615DQecP4zL._SR400,400_.jpg" alt="Gonex Sand Proof Beach Blanket" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2A23gDt">Gonex Sand Proof Beach Blanket, Waterproof Sand Free 62"x43", 78"x55" Compact Beach Mat Lightweight with Carry Pouch,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$9.99</span><span class="ori_price">$19.99</span></address>
      <textarea readonly="readonly" class="code_area">50F5GO43</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $19.99</strong> with promo code: <strong class="m_codes">50F5GO43</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2A23gDt">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31bcfOO"><img src="https://m.media-amazon.com/images/I/71633ZZMOvL._SR400,400_.jpg" alt="Hair Cutting Scissors/Thinning Shears/Professional Barber/Salon" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31bcfOO">Hair Cutting Scissors/Thinning Shears/Professional Barber/Salon Razor Edge Tools set/Mustache Scissors and Barber Scissors...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$11.99</span><span class="ori_price">$15.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">25LKMH7K</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>25% off at $15.99</strong> with promo code: <strong class="m_codes">25LKMH7K</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 09, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31bcfOO">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="42" data-price="15.07">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34BlKbS"><img src="https://m.media-amazon.com/images/I/61Avmd3SkeL._SR400,400_.jpg" alt="" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34BlKbS">NANFU Fast Wireless Charger, Qi Wireless 7.5W Fast Charging Stand with Cooling Fan Compatible for iPhone XR/XS/XS...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$15.07</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">424EFXOD</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>42% off at $25.99</strong> with promo code: <strong class="m_codes">424EFXOD</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34BlKbS">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/317ZrbX"><img src="https://m.media-amazon.com/images/I/612heYX9CCL._SR400,400_.jpg" alt="True Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/317ZrbX">True Wireless Earbuds, Marceloant Bluetooth 5.0 Headphones, High-Fidelity 5D Stereo Headphones in-Ear Built-in...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$39.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20SBG8M9</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $49.99</strong> with promo code: <strong class="m_codes">20SBG8M9</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/317ZrbX">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="29.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/319brtH"><img src="https://m.media-amazon.com/images/I/510H1IUOtgL._SR400,400_.jpg" alt="Wireless Bluetooth Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/319brtH">Wireless Bluetooth Earbuds, Fantime Wireless Sports Headphones with Portable Charging Box Noise Cancelling Headset,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.89</span><span class="ori_price">$45.99</span></address>
      <textarea readonly="readonly" class="code_area">3521MICR</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>35% off at $45.99</strong> with promo code: <strong class="m_codes">3521MICR</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 24, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/319brtH">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="36.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2A4aoiF"><img src="https://m.media-amazon.com/images/I/51ZWKdyTSEL._SR400,400_.jpg" alt="Wireless Earbuds" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2A4aoiF">Wireless Earbuds, Fantime Bluetooth 5.0 Wireless Sports Headphones with Portable Charging Box Noise Cancelling Headset,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$36.79</span><span class="ori_price">$45.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20X6R73Q</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $45.99</strong> with promo code: <strong class="m_codes">20X6R73Q</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 20, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2A4aoiF">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="24.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2PXoehC"><img src="https://m.media-amazon.com/images/I/51auDIaRNpL._SR400,400_.jpg" alt="maxtop Smart Watch for Android Phones" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2PXoehC">maxtop Smart Watch for Android Phones - iOS Phones, Full Screen Large Size Metal Shell Clear Interface Smartwatch for Women...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$24.50</span><span class="ori_price">$48.99</span></address>
      <textarea readonly="readonly" class="code_area">509D5D78</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>50% off at $48.99</strong> with promo code: <strong class="m_codes">509D5D78</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2PXoehC">Use Code at Amazon</a></div>
</div>
 
<div class="card clearfix" data-score="20" data-price="16.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZVaDMB"><img src="https://m.media-amazon.com/images/I/61qn+Epmg4L._SR400,400_.jpg" alt="Bluetooth FM Transmitter" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZVaDMB">Bluetooth FM Transmitter, IEhotti Big Screen Car Bluetooth Radio Adapter Full FM Car Kit w/3 USB Ports, Fast Charge,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.79</span><span class="ori_price">$20.99</span>
        <div class="tooltip_common tooltip_green"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount with coupon</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_green"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount with coupon</p></div></div>
      <textarea readonly="readonly" class="code_area">20PF2DFG</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>20% off at $20.99</strong> with promo code: <strong class="m_codes">20PF2DFG</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 30, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2ZVaDMB">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/34zeQ7a"><img src="https://m.media-amazon.com/images/I/61Def1PjcVL._SR400,400_.jpg" alt="Abask USB C Hub 8 in 1 USB-C Hub MacBook..." /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/34zeQ7a">Abask USB C Hub 8 in 1 USB-C Hub MacBook Adapter to 4K HDMI, Gigabit Ethernet Port, 3 USB 3.0 Ports, Type C Charging Port,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$29.99</span><span class="ori_price">$49.99</span></address>
      <textarea readonly="readonly" class="code_area">40ABASKHUB</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $49.99</strong> with promo code: <strong class="m_codes">40ABASKHUB</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 22, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/34zeQ7a">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="16.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2N6s2e7"><img src="https://m.media-amazon.com/images/I/61Y-XBb1XlL._SR400,400_.jpg" alt="Car Phone Mount" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2N6s2e7">Car Phone Mount, JOYROOM Automatic Smartphone Car Air Vent Mount, Easy One Touch Universal Car Holder Cradle,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$16.19</span><span class="ori_price">$26.99</span></address>
      <textarea readonly="readonly" class="code_area">40ZZW5HJ</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>40% off at $26.99</strong> with promo code: <strong class="m_codes">40ZZW5HJ</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 21, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/2N6s2e7">Use Code at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="44.09">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31kvpl2"><img src="https://m.media-amazon.com/images/I/71-ebcNoI4L._SR400,400_.jpg" alt="NASUM UHF Dual Channel Professional Handheld Wireless Microphone" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31kvpl2">NASUM UHF Dual Channel Professional Handheld Wireless Microphone System with Dual Wireless Dynamic Microphones,...</a></p>
    <div class="code_high">
      <address><span class="dis_price">$44.09</span><span class="ori_price">$62.99</span></address>
      <textarea readonly="readonly" class="code_area">30CODEMIC</textarea><button class="copycode">Copy</button>
      <p class="mobile_code"><span>Take <strong>30% off at $62.99</strong> with promo code: <strong class="m_codes">30CODEMIC</strong></span></p><span class="ex_date ex_date_new">Expiration Date : Sep 15, 2019 at 11:59 PM PDT</span><em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn promo_btn"><a target="_blank" href="https://amzn.to/31kvpl2">Use Code at Amazon</a></div>
</div>
