<div class="featured editors">

  <!-- <button class="gnb_open"><img src="<%=asset_path 'open_black.png' %>" alt="모바일 메뉴 열기" /></button> -->
  <div class="sm_pc">
   <div class="filter-search guide_controll amzpromo">
      <button class="filter-button btn btn-md btn-primary rev_index" data-filter="*">All</button>
      <button class="filter-button btn btn-md white-text rev_index" data-filter="tech">Tech & Electronics</button>
      <button class="filter-button btn btn-md rev_index" data-filter="home">Home & Kitchen</button>
      <button class="filter-button btn btn-md rev_index" data-filter="outdoor">Outdoor & Sports</button>
<!--  <button class="filter-button btn btn-md rev_index" data-filter="5k">5,000 +</button>
      <button class="filter-button btn btn-md rev_index" data-filter="1k">1,000 +</button> -->
      <!-- <ul class="dropmenu ilter-button btn">
        <li class="dir"><a href="#">More</a>
          <ul>
            <li><button class="filter-button btn btn-md" data-filter="10k">5,000 +</button></li>
            <li><button class="filter-button btn btn-md" data-filter="10k">1,000 +</button></li>
          </ul>
        </li>
      </ul> -->
      <input type="text" class="form-control" placeholder="Search here...">
    </div>
  </div>
  
  <div class="editor_mobile">
    <div class="filter-search guide_controll">
      <button class="filter-button btn btn-md btn-primary all" data-filter="*">All</button>
      <button class="filter-button btn btn-md white-text" data-filter="30k">30,000 +</button>
      <button class="filter-button btn btn-md" data-filter="20k">20,000 +</button>
      
      <ul class="dropmenu filter-button btn more_btn">
        <li class="dir"><a href="#">More</a>
          <ul>
            <li><button class="filter-button btn btn-md" data-filter="10k">10,000 +</button></li>
            <li><button class="filter-button btn btn-md" data-filter="5k">5,000 +</button></li>
            <li><button class="filter-button btn btn-md" data-filter="1k">1,000</button></li>
          </ul>
        </li>
      </ul>
      <input type="text" class="form-control" placeholder="Search here...">
    </div>
  </div>

  <!-- <div class="sm_mobile">
    <div class="filter-search guide_controll amzpromo">
      <p>Categories</p>
        <button class="filter-button btn btn-md btn-primary" data-filter="*">All</button>
        <button class="filter-button btn btn-md white-text" data-filter="electronic">Electronic</button>
        <button class="filter-button btn btn-md" data-filter="kitchen">Kitchen</button>
        <button class="filter-button btn btn-md" data-filter="home">Home</button>
        <button class="filter-button btn btn-md" data-filter="outdoor">Outdoor</button>
      </div>
    <button class="gnb_close"><img src="<%=asset_path 'close_white.png' %>" alt="모바일 메뉴 닫기" />
  </div> -->

</div><!--./featured-->
<div class="gnb_kbg"></div>
