<div class="featured">
 <div class="m_popup_wrap">
   <input type="checkbox" id="check"/>
   <label class="most_m_label" for="check">Categories</label>
    
    <nav class="most_m_popup">
      <ul>
       <div class="filter-search guide_controll amzpromo pop_menu">
        <li><button class="filter-button btn btn-md btn-primary rev_index" data-filter="*">Everything</button></li>
        <li><button class="filter-button btn btn-md white-text rev_index" data-filter="tech">Tech & Electronics</button></li>
        <li><button class="filter-button btn btn-md rev_index" data-filter="home">Home & Kitchen</button></li>
        <li><button class="filter-button btn btn-md rev_index" data-filter="outdoor">Outdoor & Sports</button></li>
        <li><button class="filter-button btn btn-md rev_index" data-filter="outdoor">Beauty & Fashion</button></li>
        <li><button class="filter-button btn btn-md rev_index" data-filter="others">Others</button></li>
       </div>
      </ul>
    </nav>
    
 </div>
</div><!--./featured-->