<div class="codes">
  <div class="lt_cnt most_categories">
    <div class="toggle">
      <ul>
        <li>
          <a href="#n">Categories of Most Reviewed</a>
          <ul class="most_ul">
            <li><a href="/deals/most_reviewed">All Categories</a></li>
            <li><a href="#n">Home Gadgets</a></li>
            <li><a href="#n">Kitchen & Household</a></li>
            <li><a href="/deals/most_reviewed_computer">Computer Gadgets</a></li>
            <li><a href="#n">Smartphone Gadgets</a></li>
            <li><a href="#n">Headphones & Earbuds</a></li>
            <li><a href="#n">Gaming Gadgets</a></li>
            <li><a href="#n">Outdoor & Travel</a></li>
            <!-- <li><a href="#n">Coffee Gadgets</a></li> -->
            <!-- <li><a href="#n">Travel Gadgets</a></li> -->
            <li><a href="#n">TV & Audio</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>  