<div class="featured">

  <button class="gnb_open"><img src="<%=asset_path 'open_black.png' %>" alt="모바일 메뉴 열기" /></button>
  <div class="sm_pc">
   <div class="filter-search guide_controll amzpromo">
      <button class="filter-button btn btn-md btn-primary" data-filter="*">All</button>
      <button class="filter-button btn btn-md white-text" data-filter="coupons">Coupons</button>
      <button class="filter-button btn btn-md" data-filter="sales">Sales & Offers</button>
      <button class="filter-button btn btn-md" data-filter="promotions">Promotions</button>
      <button class="filter-button btn btn-md" data-filter="brands">Brand Deals</button>
 <!--      <button class="filter-button btn btn-md white-text" data-filter="mom">Mom</button>
      <button class="filter-button btn btn-md white-text" data-filter="friend">Friend</button> -->
      <input type="text" class="form-control" placeholder="Search here...">
    </div>
  </div>
  
  <div class="sm_mobile">
    <div class="filter-search guide_controll amzpromo">
      <p>Categories</p>
       <button class="filter-button btn btn-md btn-primary" data-filter="*">All</button>
      <button class="filter-button btn btn-md white-text" data-filter="coupons">Coupons</button>
      <button class="filter-button btn btn-md" data-filter="sales">Sales & Offers</button>
      <button class="filter-button btn btn-md" data-filter="promotions">Promotions</button>
      <button class="filter-button btn btn-md" data-filter="brands">Brand Deals</button>
<!--       <button class="filter-button btn btn-md white-text" data-filter="mom">Mom</button>
      <button class="filter-button btn btn-md white-text" data-filter="friend">Friend</button> -->
      <!-- <input type="text" class="form-control" placeholder="Search gift you want to"> -->
      </div>
    <button class="gnb_close"><img src="<%=asset_path 'close_white.png' %>" alt="모바일 메뉴 닫기" />
  </div>

</div><!--./featured-->
<div class="gnb_kbg"></div>
