<div class="featured">

  <div class="m_popup_wrap">
    <input type="checkbox" id="check"/>
    <label class="most_m_label" for="check">Review order</label>
    
      <nav class="most_m_popup">
        <ul>
          <div class="filter-search guide_controll amzpromo">
           <li><button class="filter-button btn btn-md btn-primary reviewed" data-filter="*">All</button></li>
           <li><button class="filter-button btn btn-md white-text reviewed" data-filter="30k">50,000 +</button></li>
           <li><button class="filter-button btn btn-md reviewed" data-filter="20k">40,000 +</button></li>
           <li><button class="filter-button btn btn-md reviewed" data-filter="10k">30,000 +</button></li>
           <li><button class="filter-button btn btn-md reviewed" data-filter="5k">20,000 +</button></li>
           <li><button class="filter-button btn btn-md reviewed" data-filter="1k">10,000 +</button></li>
           <li><button class="filter-button btn btn-md reviewed" data-filter="5k">5,000 +</button></li>
           <li><button class="filter-button btn btn-md reviewed" data-filter="1k">1,000 +</button></li>
           <!-- <input type="text" class="form-control" placeholder="Search here..."> -->
          </div>
        </ul>
      </nav>
    
  </div>
</div><!--./featured-->

