<div class="codes">
  <div class="lt_cnt most_categories">
    <div class="toggle">
      <ul>
        <li>
          <a href="#n">Categories of Most Reviewed</a>
          <ul>
            <li><a href="/deals/most_reviewed">Everything</a></li>
            <li><a href="/deals/most_reviewed_elec">Electronic</a></li>
            <li><a href="#n">Home</a></li>
            <li><a href="#n">Kitchen</a></li>
            <li><a href="#n">Beauty</a></li>
            <li><a href="#n">Travel</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>  