<h2>Featured Promotions</h2>
<ul>
  <!-- <li><a href="Banner_Link" target="_blank">Banner_Title</a></li> -->
  <li><a href="https://amzn.to/2v8Zych" target="_blank">Try Amazon Prime 30-Day Free Trial</a></li>
  <li><a href="https://amzn.to/3c1clhu" target="_blank">Prime Student 6-month Trial</a></li>
  <li><a href="https://amzn.to/32iIdtI" target="_blank">Shop Amazon Gold Box - New Deals. Everyday</a></li>
  <li><a href="https://amzn.to/39Tvhgs" target="_blank">Kindle Unlimited Membership Plans</a></li>
  <li><a href="https://amzn.to/2v5Redr" target="_blank">Try Twitch Prime</a></li>
  <li><a href="https://amzn.to/3c3MJRt" target="_blank">Join Amazon Family 30-Day Free Trial</a></li>
  <li><a href="https://amzn.to/39SiWsT" target="_blank">Create an Amazon Baby Registry</a></li>
  <li><a href="https://amzn.to/2VbOGFb" target="_blank">Join Amazon Prime Music - The Only Music Streaming Service with Free 2-day Shipping - 30-day Free Trial</a></li>
  <li><a href="https://amzn.to/37OmT0b" target="_blank">Join Amazon Prime - Watch Thousands of Movies & TV Shows Anytime - Start Free Trial Now</a></li>
  <li><a href="https://amzn.to/2SMWn3c" target="_blank">New Grocery Restaurant & Bulk Food Store</a></li>
  <li><a href="https://amzn.to/2PeSvpq" target="_blank">New Beauty Coupons</a></li>
  <li><a href="https://amzn.to/2T99XNh" target="_blank">Join Prime Video Channels Free Trial</a></li>
  <li><a href="https://amzn.to/2PdW4fF" target="_blank">Prime Pantry - Everyday Essentials Delivered to You</a></li>
  <li><a href="https://amzn.to/2TiNqxJ" target="_blank">Create an Amazon Wedding Registry</a></li>
  <li><a href="https://amzn.to/2SOowqr" target="_blank">Try Amazon Home Services</a></li>
  <li><a href="https://amzn.to/2vU61Ik" target="_blank">Trade In Your Smartphone</a></li>
</ul>