<div class="set_banner clearfix">
  <%= render 'deals/set_promotion' %>
</div>

<div class="set_search_box">
  <h2>Amazon Deal Finder</h2>

  <button class="accordion">See All Categories</button>
  <%= render 'deals/set_category' %>


  <div class="feild_wrap">
    <div class="field ">
      <span class="label">Search Keyword</span>
      <input type="text" class="keyword" placeholder="Search Keyword" value="">
    </div>

    <div class="field time">
      <span class="label">Search Option</span>
      <select name="time">
        <option value="">Select</option>
        <option value="custom">Set Discount Range</option>
        <!-- <option value="stories-live">Just now (live)</option>
        <option value="today/date/stories">Today</option>
        <option value="yesterday/date/stories">Yesterday</option>
        <option value="this-week/date/stories">This week</option>
        <option value="last-week/date/stories">Last week</option>
        <option value="this-month/date/stories">This month</option>
        <option value="last-month/date/stories">Last month</option>
        <option value="this-year/date/stories">This year</option>
        <option value="last-year/date/stories">Last year</option> -->
      </select>

      <div class="custom-time disable">
        <div class="month">
          <select name="month">
            <option value="">Min Pct Off</option>
            <option value="5">5%</option>
            <option value="10">10%</option>
            <option value="20">20%</option>
            <option value="30">30%</option>
            <option value="40">40%</option>
            <option value="50">50%</option>
            <option value="60">60%</option>
            <option value="70">70%</option>
            <option value="80">80%</option>
            <option value="90">90%</option>
          </select>
        </div>

        <div class="max">
          <select name="max">
            <option value="">Max Pct Off</option>
            <option value="5">5%</option>
            <option value="10">10%</option>
            <option value="20">20%</option>
            <option value="30">30%</option>
            <option value="40">40%</option>
            <option value="50">50%</option>
            <option value="60">60%</option>
            <option value="70">70%</option>
            <option value="80">80%</option>
            <option value="90">90%</option>
          </select>
        </div>
        <!-- <input type="text" maxlength="4" class="year" placeholder="Year" name="year"> -->
      </div><!--custom-time-->
    </div><!--field-->
  </div><!--feild_wrap-->
  

  <div class="option_wrap clearfix">
    <div class="option_box op_wrap">
      <p>with Amazon Prime</p>
      <div class="prime-type on_off clearfix">
        <input id="off" name="prime-type" type="radio" value="" checked>
        <label class="first swich_off" for="off">OFF</label>

        <!-- <input id="prime" name="prime-type" type="radio" value="1582276412"> -->
        <input id="prime" name="prime-type" type="radio" value="p_85:2470955011">
        <label for="prime" class="swich_on">ON</label>
      </div>
    </div>

    <div class="option_box op_wrap">  
      <p>with Free Shipping</p>
      <div class="shipping-type on_off clearfix">
        <input id="shipping_off" name="shipping-type" type="radio" value="" checked>
        <label class="first swich_off" for="shipping_off">OFF</label>

        <input id="shipping" name="shipping-type" type="radio" value="p_76:2661625011">
        <label for="shipping" class="swich_on">ON</label>
      </div>
    </div>

    <div class="option_box op_wrap">  
      <p>with Coupons</p>
      <div class="coupon-type on_off clearfix">
        <input id="coupon_off" name="coupon-type" type="radio" value="" checked>
        <label class="first swich_off" for="coupon_off">OFF</label>

        <input id="coupon" name="coupon-type" type="radio" value="2231352011">
        <label for="coupon" class="swich_on">ON</label>
      </div>
    </div>

    <a class="set_reset_m" href="/deals/quick_search">Reset</a>

    <!-- <div class="option_box op_wrap">  
      <p>Get it by tomorrow</p>
      <div class="fast-type on_off clearfix">
        <input id="fast_off" name="fast-type" type="radio" value="" checked>
        <label class="first swich_off" for="fast_off">OFF</label>

        <input id="fast" name="fast-type" type="radio" value="p_90%3A8308921011&dc&qid=1581933181&rnid=8308919011&ref=sr_nr_p_90_1">
        <label for="fast" class="swich_on">ON</label>
      </div>
    </div> -->
  </div><!--option_wrap-->

  
  
  <div class="text-center">
    <a class="set_reset" href="/deals/quick_search">Reset</a>
    <button class="search">Find Deals</button>
  </div>
</div>







