<div class="layout"><!--layout-->
 
    <%= render 'shared/header_short' %>
    
    <div class="deal_category_wrap">
      <div class="category_body clearfix">
        <div class="left">
          <ul>
            <li><a href="/deals/quick_search"># Amazon Deal Finder</a></li>
            <li><a href="/hotdeals"># Today's Deals of Amazon</a></li>
            <li><a href="/promocodes"># Today's Codes of Amazon</a></li>
            <li><a href="/storepromotions"># Today's Deals by Store</a></li>
          </ul>
        </div>        
      </div>
    </div>

</div><!--./layout-->



