<div class="layout"><!--layout-->
 <div class="wrap">   
  <%= render 'shared/header' %>
  <%= render 'deals/header' %>
  
  <div class="promotions editors_pick common_layout clearfix">
    <%= render 'deals/navbar_editors_pick' %>
    <div class="filter-group guide_wrap">
      <div class="mt_info">
        <h2>The Best Deals That Editors Picked</h2>
        <p>Description</p>
      </div>
      <%= render 'deals/body_editors_pick' %>
    </div><!--./filter-group-->
  </div>

  </div><!--./wrap-->
</div><!--./layout-->
