<div class="layout"><!--layout-->
 <div class="wrap">   
  <%= render 'shared/header' %>
  <%= render 'deals/header' %>
  
  <div class="promotions editors_pick common_layout most_wrapper clearfix">
    <%= render 'deals/navbar_mostreviwed_index' %>
    <div class="filter-group guide_wrap ">
      <div class="mt_info">
        <h2>Most-Reviewed Products On Amazon</h2> 
        <p>Amazon is one of the biggest online market places in the world. And thanks to reviews and user feedback, it's also one of the most helpful since you can see what other people have purchased and loved on the site. So we put together a list of the most popular products. It's the easiest way to find the most reviewed products.</p>
      </div>

      <!-- <div class="filter-node most_box" data-filter='["Categoryes","Title"]'>
        <a target="_blank" href="products_Link" class="overlay-container" data-overlay-text="Title"><img src="Image_URL" alt="Title" class="overlay-img" /><p>Title</p></a>
      </div> -->

        <div class="filter-node most_box" data-filter='["tech","earbuds Headphones"]'>
          <a target="_blank" href="https://amzn.to/2Z6Wnjb" class="overlay-container" data-overlay-text="earbuds"><img src="https://images.unsplash.com/photo-1565168316300-8685a0e25dcd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="earbuds" class="overlay-img" /><p>earbuds</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["tech","Over-Ear Headphones"]'>
          <a target="_blank" href="https://amzn.to/2Z5R2bY" class="overlay-container" data-overlay-text="Over-Ear Headphones"><img src="https://images.unsplash.com/photo-1552406923-bdd5268d3956?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="overlay-img" /><p>Over-Ear Headphones</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["tech","on ear headphones"]'>
          <a target="_blank" href="https://amzn.to/31TcC0c" class="overlay-container" data-overlay-text="on ear headphones"><img src="https://images.unsplash.com/photo-1529602266431-5e205a27eb68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="on ear headphones" class="overlay-img" /><p>On-Ear Headphones</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["tech","TV Mounts"]'>
          <a target="_blank" href="https://amzn.to/2KPsESY" class="overlay-container" data-overlay-text="TV Mounts"><img src="https://images-na.ssl-images-amazon.com/images/I/81rRHjQ-ecL._SX679_.jpg" alt="TV Mounts" class="overlay-img" /><p>TV Mounts</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["tech","Smart LED TV"]'>
          <a target="_blank" href="https://amzn.to/2ZdbXdh" class="overlay-container" data-overlay-text="Smart LED TV"><img src="https://images.unsplash.com/photo-1552975084-6e027cd345c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Smart LED TV" class="overlay-img" /><p>Smart LED TV</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["tech","Smart OLED TV"]'>
          <a target="_blank" href="https://amzn.to/2KPBoIM" class="overlay-container" data-overlay-text="Smart OLED TV"><img src="https://images.unsplash.com/photo-1560169897-fc0cdbdfa4d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Smart OLED TV" class="overlay-img" /><p>Smart OLED TV</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["tech","Wi-Fi Extender"]'>
          <a target="_blank" href="https://amzn.to/326a7If" class="overlay-container" data-overlay-text="Wi-Fi Extender"><img src="https://images.unsplash.com/photo-1560622496-c49bec679e71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Wi-Fi Extender" class="overlay-img" /><p>Wi-Fi Extender</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["tech","Routers"]'>
          <a target="_blank" href="https://amzn.to/33Nk3bf" class="overlay-container" data-overlay-text="Routers"><img src="https://images.unsplash.com/photo-1516044734145-07ca8eef8731?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Routers" class="overlay-img" /><p>Routers</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["home","Coffee Makers"]'>
          <a target="_blank" href="https://amzn.to/2ZaJMf3" class="overlay-container" data-overlay-text="Coffee Makers"><img src="https://images.unsplash.com/photo-1445462170081-bb999cd5e395?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Coffee Makers" class="overlay-img" /><p>Coffee Makers</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["home","Stick Vacuums"]'>
          <a target="_blank" href="https://amzn.to/2NoPNh2" class="overlay-container" data-overlay-text="Stick Vacuums"><img src="https://images.unsplash.com/photo-1527515637462-cff94eecc1ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Stick Vacuums" class="overlay-img" /><p>Stick Vacuums</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["home","Robotic Vacuums"]'>
          <a target="_blank" href="https://amzn.to/2ZltYFk" class="overlay-container" data-overlay-text="Robotic Vacuums"><img src="https://images.unsplash.com/photo-1558317374-067fb5f30001?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Robotic Vacuums" class="overlay-img" /><p>Robotic Vacuums</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["Categoryes","Title"]'>
          <a target="_blank" href="products_Link" class="overlay-container" data-overlay-text="Title"><img src="Image_URL" alt="Title" class="overlay-img" /><p>Title</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["Categoryes","Title"]'>
          <a target="_blank" href="products_Link" class="overlay-container" data-overlay-text="Title"><img src="Image_URL" alt="Title" class="overlay-img" /><p>Title</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["Categoryes","Title"]'>
          <a target="_blank" href="products_Link" class="overlay-container" data-overlay-text="Title"><img src="Image_URL" alt="Title" class="overlay-img" /><p>Title</p></a>
        </div>

        <div class="filter-node most_box" data-filter='["Categoryes","Title"]'>
          <a target="_blank" href="products_Link" class="overlay-container" data-overlay-text="Title"><img src="Image_URL" alt="Title" class="overlay-img" /><p>Title</p></a>
        </div>

        

        
      
    </div><!--./filter-group-->
  </div>

 </div><!--./wrap-->
</div><!--./layout-->