<div class="layout">
  <div class="wrap">
    <%= render 'shared/new_header' %> 
    <div class="index_box">
      <div class="set_search clearfix">
        <%= render 'deals/set_search' %>
      </div>
    </div>
  </div>
</div>