<div class="layout"><!--layout-->
 <div class="wrap">   
  <%= render 'shared/header_amazon' %>
  <%= render 'deals/header' %>   
  
  <div class="promotions common_layout clearfix">
    <%= render 'deals/navbar_promotion' %>
    <div class="filter-group guide_wrap">
      <%= render 'deals/body_promotions' %>
    </div><!--./filter-group-->
  </div>

  </div><!--./wrap-->
</div><!--./layout-->