<div class="layout"><!--layout-->
  <div class="wrap">
    
  <%= render 'shared/header' %>
  <%= render 'deals/header_shoes' %>  

  <div class="men_women">
    <ul>
      <li><a href="/deals/sneakers01M">Men</a></li>
      <li><a href="/deals/sneakers01W">Women</a></li>
    </ul>
  </div>   

  <div class="shoes">

     <div class="guide_show shoes_wrap clearfix">

      <div class="flex guide_show_wrap" id="gallery">
       <!--  <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(Page_Num)">
            <img src="Image_URL">
          </div>
        </div> -->

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(1)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(2)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(3)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(4)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(5)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(6)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(7)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(8)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(9)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(10)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(11)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(12)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(13)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(14)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(15)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(16)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(17)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(18)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(19)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(20)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(21)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(22)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(23)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(24)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(25)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(26)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(27)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(28)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(29)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(30)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(31)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(32)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(33)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(34)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(35)">
            <img src="Image_URL">
          </div>
        </div>

         <div class="column_box">
          <div class="flex column shoes_column" onclick="currentSlide(36)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(37)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(38)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column" onclick="currentSlide(39)">
            <img src="Image_URL">
          </div>
          <div class="flex column shoes_column last_box" onclick="currentSlide(40)">
            <img src="Image_URL">
          </div>
        </div>

      </div><!--./show_wrap-->

        <div id="myModal" class="modal">
          <div class="wrap">
           <div class="modal-content">
            <span class="close shoes_close">&times;</span> <!--close button--> 

            <!-- <div class="flex slides clearfix">
              <div class="numbering shoes_numbering">Current_Num / Total_Num</div>
              <div class="inner_wrap shoes_wrap">
                <div class="img_box">
                 <a target="_blank" href="Shoes_Link"><img src="Image_Link"></a>
                </div>
                <div class="inner shoes_inner">
                 <h2><a target="_blank" href="Shoes_Link">SHoes_Title</a></h2>
                 <strong>BY AMAZON</strong>
                 <em>$Reg_Price</em><p class="price">$Dis_Pricec ( Percentage% OFF)</p>
                 <address>*Lower price available on select options</address>
                 <p class="color">Available Colors: Ava_Colors</p>
                 <p class="size">Available Sizes: Ava_Sizes</p>
                 <div class="size_table"><h4 id="clickMeBtn">Size Guide</h4><%= render 'deals/sizeM_table' %></div>
                 <div class="btn"><a href="#n">Check it Out on <span>Amazon</span></a></div>
                  <div class="notes"><h5>*Pricing may change and deals can expire fast.</h5><h5>*Condition of color and size may change.</h5></div>
                </div>
              </div>
            </div> -->
            
            <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
            <a class="next" onclick="changeSlide(1)">&#10095;</a>

           </div><!--./modal-content-->
          </div><!--./wrap-->
        </div><!--./modal-->
      </div><!--./guide_show-->

    </div><!--./shoes-->
 

  </div><!--./warp-->
</div><!--./layout-->
<script>
 <%= render(:partial => 'codes', :handlers => [:erb], :formats => [:js]) %>
</script>



