<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_short' %>
    <%= render 'shared/header_bystore' %>
    <%= render 'deals/header_store' %>

    <div class="store_wrap">
      
      <!-- <div class="store_top clearfix">
        <h2>Deal Of The Day</h2>
      </div> -->

      <div class="store_mid clearfix">
        

        <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ ALL CATEGORIES</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://amzn.to/2JvbI2Y">Amazon</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://amzn.to/2JvbI2Y">Shop Now</a></em>
            <p>Free shipping when you spend $25<br> or join Amazon Prime.</p>
          </div>
          

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Walmart</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p>Free 2-day shipping on many items.</p>
          </div> -->

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/394dmmz">Target</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/394dmmz">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more<br> & Free returns.</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dl6sN0">Kmart</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dl6sN0">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more.</p>
            <p>Store pickup available.</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2x2LzWa">Lowe's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2x2LzWa">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Store pickup available.</p>
          </div>

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Jet</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p>2-day shipping available.</p>
          </div> -->

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3blngBN">Aliexpress</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3blngBN">Shop Now</a></em>
            <p>Ships internationally.</p>
            <p class="none">-</p>
          </div>

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Bonanza</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
          </div> -->

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UryxJU">Rakuten</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UryxJU">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
          </div>

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL></em>
          </div> -->

         <!--  <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL></em>
          </div> -->

        </div>

        <div class="mid_right mid_com">
          <span>★ ELECTRONICS</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2U4YQX6">Best Buy</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2U4YQX6">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p>Store pickup available.</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2Uqseq4">Newegg</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2Uqseq4">Shop Now</a></em>
            <p>Free 3-day shipping & returns when you sign up<br> for Newegg Premier.</p>            
          </div>

          <span>★ DEPARTMENT</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2TZ1Vbh">Macy's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2TZ1Vbh">Shop Now</a></em>
            <p>Free shipping when you spend $25 or more</p>
            <p>Store pickup available</p>  
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2vyddda">Kohl's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2vyddda">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more</p>
            <p class="none">-</p>
          </div>

         <!--  <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Century 21</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more.</p>
            <p class="none">-</p>
          </div> -->
        </div>
      </div><!--store_mid-->


      <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ FASHION</span>
          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Gap</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $25 or more.</p>
            <p>Free return on all orders.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Net-A-porter</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Express shipping available.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">American Eagle Outfitters</a></em>
            <strong>- - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more <br> & Free return to the store.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Anthropologie</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">ASOS</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $49.99 or more.</p>
            <p>Free return available.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Athleta</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Boohoo</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Student discount available.</p>
            <p>Free return available.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Fashion Nova</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Forever 21</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $21 or more.</p>
            <p>Return to the store availalbe.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Free People</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">J.Crew</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free standard shipping to J.Crew Rewards members.</p>
            <p>Overnight & Saturday shipping available.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">J.Crew Factory</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p>Overnight & Saturday shipping available.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Lucky Brand</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more.</p>
            <p>Return to the store availalbe.</p>
          </div>
 -->
          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Lululemon</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Nasty Gel</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free returns availalbe.</p>
            <p>Student discounts available.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">PrettyLittleThing</a></em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Student discounts available.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Showpo</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>10% Student discounts available.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Topshop</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p>10% Student discounts available.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Uniqlo</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p class="none">-</p>
          </div>
 -->
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WFlbMP">Urban Outfitters</a></em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WFlbMP">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>Free returns availalbe.</p>
          </div>

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Zaful</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p>Free express shipping when you spend $99 or more.</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Victoria's Secret</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">ShopBop</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Ann Taylor</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>3-day business shipping.</p>
            <p>Return to the store availalbe.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Lord & Taylor</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $99 (beauty $49) or more.</p>
            <p>Free return & return to the store availalbe.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Boden</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Coach</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & Free return availalbe.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">H & M</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $40 or more.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Neiman Marcus</a></em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & Free return availalbe.</p>
            <p>Same day shipping available if you charge $20.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Nordstrom Rack</a></em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Bloomingdale's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $150 or more.</p>
            <p>Loyallists get free standard shipping every day.</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Forward</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & 1-day shipping available.</p>
            <p>Free International shipping for all orders.</p>
          </div> -->

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/39jkgUM">Baublebar</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/39jkgUM">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more & Free return.</p>
            <p>10% Off when you purchase first.</p>
          </div>

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Banana Republic</a></em>
            <strong>- - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $25.</p>
            <p>Return to the store availalbe.</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Old Navy</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $25.</p>
            <p>Return to the store availalbe.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Nordstrom</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & Free returns.</p>
            <p>Store pickup and return available.</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Saks Fifth Avenue</a></em>
            <strong>- - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping availble with code: FREESHIP</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Farfetch</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Fast shipping & Free return available.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">DKNY</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $50.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Eddie Bauer</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & Free returns</p>
            <p class="none">-</p>
          </div>
 -->
          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Converse</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & Free return.</p>
            <p>Email registration get 15% Off.</p>
          </div> -->

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UgZUY8">Dick's Sporting Goods</a></em>
            <strong>- - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UgZUY8">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
          </div>

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Loft</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & Free return.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">East Dane</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free 3-day shipping & Free return.</p>
            <p class="none">-</p>
          </div> -->

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3avg9q4">Zulily</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3avg9q4">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2wsvZmX">Backcountry</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2wsvZmX">Shop Now</a></em>
            <p>Free shipping when you spend $50.</p>
            <p class="none">-</p>
          </div>

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Saks Off 5th</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $99.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Levi's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $100.</p>
            <p class="none">-</p>
          </div> -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">American Eagle</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $50.</p>
            <p class="none">-</p>
          </div> -->
        
        </div>

        <div class="mid_right mid_com">
          <!-- <span>★ SHOES</span> -->
          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Finish Line</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $30 or more.</p>
            <p>Return to the store & pickup in store available.</p>
          </div>
 -->
          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Toms</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $59 or more<br> & Free return</p>
          </div>

           <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Zappos</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping with every order & Free return.</p>
            <p class="none">-</p>
          </div>

           <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Sneaker & Stuff</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>The same day shipping available if you make your order before 09.00 am GMT+1</p>
            <p class="none">-</p>
          </div> -->



          <span>★ BEAUTY</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3btzQPv">Ulta</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3btzQPv">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WR48HV">Sephora</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WR48HV">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>Flash 1-2 day shipping available.</p>
          </div>

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Glossier</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $30 or more.</p>
            <p>Subscription service available.</p>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">100 Percent Pure</a></em>
            <strong>- - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>10% student discount.</p>
          </div> -->


          <span>★ HOME</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/39lnlUH">Home Depot</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/39lnlUH">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Return to the store available.</p>
          </div>

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Horchow</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p class="none">-</p>
          </div> -->

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2wH0NjE">Wayfair</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2wH0NjE">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
          </div>  

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2JezMqK">Bed, Bath & Beyond</a></em>
            <strong>- - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2JezMqK">Shop Now</a></em>
            <p>Free shipping when you spend $39 or more.</p>
            <p class="none">-</p>
          </div>  

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2y5A9kR">Pier 1 imports</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2y5A9kR">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
          </div>          


          <!-- <span>★ MATTRESSES</span> -->
          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Casper</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping & Free return with every order.</p>
            <p class="none">-</p>
          </div> 

          <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">Purple</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
          </div>  -->

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Coupon_URL">My Green Mattress</a></em>
            <strong>- - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Coupon_URL">Shop Now</a></em>
            <p>Free shipping available.</p>
            <p class="none">-</p>
          </div>  -->

      </div>

    </div>

  </div>
</div>