<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_short' %>
    <%= render 'shared/header_bystore' %>
    <%= render 'deals/header_store' %>

    <div class="store_wrap">
      
      <div class="store_top clearfix">
        <h2>Sale & Clearance</h2>
      </div>

      <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ ALL CATEGORIES</span>
          <div class="card">
            <em class="ls">Amazon</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://amzn.to/2vRm61C">Shop Now</a></em>
            <p>Free shipping when you spend $25<br> or join Amazon Prime.</p>
          </div>
          

          <div class="card">
            <em class="ls">Walmart</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2U1QKyw">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p>Free 2-day shipping on many items.</p>
          </div>

          <div class="card">
            <em class="ls">Target</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3a4pkxv">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more<br> & Free returns.</p>
          </div>

          <div class="card">
            <em class="ls">Kmart</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2QzC2gk">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more.</p>
            <p>Store pickup available.</p>
          </div>

          <div class="card">
            <em class="ls">Lowe's</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2TX8UBw">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Store pickup available.</p>
          </div>

          <div class="card">
            <em class="ls">Jet</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/394gG11">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p>2-day shipping available.</p>
          </div>

          <div class="card">
            <em class="ls">Aliexpress</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2xV2wlK">Shop Now</a></em>
            <p>Ships internationally.</p>
            <p class="none">-</p>
          </div>

          <!-- <div class="card">
            <em class="ls">Bonanza</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="Store_URL">Shop Now</a></em>
          </div> -->

         <!--  <div class="card">
            <em class="ls">Rakuten</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="Store_URL">Shop Now</a></em>
          </div> -->

        </div>

        <div class="mid_right mid_com">
          <span>★ ELECTRONICS</span>
          <div class="card">
            <em class="ls">Best Buy</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/33tu8u6">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p>Store pickup available.</p>
          </div>

          <div class="card">
            <em class="ls">Newegg</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2JhlaXt">Shop Now</a></em>
            <p>Free 3-day shipping & returns when you sign up<br> for Newegg Premier.</p>            
          </div>

          <span>★ DEPARTMENT</span>
          <div class="card">
            <em class="ls">Macy's</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2vzaznC">Shop Now</a></em>
            <p>Free shipping when you spend $25 or more</p>
            <p>Store pickup available</p>  
          </div>

          <div class="card">
            <em class="ls">Kohl's</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3a5lFzI">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Century 21</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2WHNYAb">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more.</p>
            <p class="none">-</p>
          </div>
        </div>
      </div><!--store_mid-->


      <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ FASHION</span>
          <div class="card">
            <em class="ls">Gap</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3dljJoU">Shop Now</a></em>
            <p>Free shipping when you spend $25 or more.</p>
            <p>Free return on all orders.</p>
          </div>

          <div class="card">
            <em class="ls">Net-A-porter</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2WzWVM8">Shop Now</a></em>
            <p>Express shipping available.</p>
          </div>

          <div class="card">
            <em class="ls">American Eagle Outfitters</em>
            <strong>- - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2Uz8pg7">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more <br> & Free return to the store.</p>
          </div>

          <div class="card">
            <em class="ls">Anthropologie</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2WHNTN4">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">ASOS</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UBbMTF">Shop Now</a></em>
            <p>Free shipping when you spend $49.99 or more.</p>
            <p>Free return available.</p>
          </div>

          <div class="card">
            <em class="ls">Athleta</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3bokpb7">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Boohoo</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3br5P2O">Shop Now</a></em>
            <p>Student discount available.</p>
            <p>Free return available.</p>
          </div>

          <div class="card">
            <em class="ls">Fashion Nova</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3dnIlNP">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Forever 21</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3biAyPj">Shop Now</a></em>
            <p>Free shipping when you spend $21 or more.</p>
            <p>Return to the store availalbe.</p>
          </div>

          <div class="card">
            <em class="ls">Free People</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UunwaG">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">J.Crew</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/33FsWDL">Shop Now</a></em>
            <p>Free standard shipping to J.Crew Rewards members.</p>
            <p>Overnight & Saturday shipping available.</p>
          </div>

          <div class="card">
            <em class="ls">J.Crew Factory</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2WBQYOS">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p>Overnight & Saturday shipping available.</p>
          </div>

          <div class="card">
            <em class="ls">Lucky Brand</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UzxE1L">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more.</p>
            <p>Return to the store availalbe.</p>
          </div>

          <div class="card">
            <em class="ls">Lululemon</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2QHF0iK">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Nasty Gel</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3boMNK6">Shop Now</a></em>
            <p>Free returns availalbe.</p>
            <p>Student discounts available.</p>
          </div>

          <div class="card">
            <em class="ls">PrettyLittleThing</em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2wCy9jE">Shop Now</a></em>
            <p>Student discounts available.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Showpo</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3dlBa8N">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>10% Student discounts available.</p>
          </div>

          <div class="card">
            <em class="ls">Topshop</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2WF299p">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p>10% Student discounts available.</p>
          </div>

          <div class="card">
            <em class="ls">Uniqlo</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2WFkPpt">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Urban Outfitters</em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3bqihiW">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>Free returns availalbe.</p>
          </div>

          <div class="card">
            <em class="ls">Zaful</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2QIlmDs">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p>Free express shipping when you spend $99 or more.</p>
          </div>

          <div class="card">
            <em class="ls">Victoria's Secret</em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3drZAgQ">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">ShopBop</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/39kwpsC">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Ann Taylor</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/33IqRXY">Shop Now</a></em>
            <p>3-day business shipping.</p>
            <p>Return to the store availalbe.</p>
          </div>

          <div class="card">
            <em class="ls">Lord & Taylor</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3aklVei">Shop Now</a></em>
            <p>Free shipping when you spend $99 (beauty $49) or more.</p>
            <p>Free return & return to the store availalbe.</p>
          </div>

          <div class="card">
            <em class="ls">Boden</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3ajuaav">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Coach</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UgbsuS">Shop Now</a></em>
            <p>Free shipping & Free return availalbe.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">H & M</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UlDJAh">Shop Now</a></em>
            <p>Free shipping when you spend $40 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Neiman Marcus</em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UvjgYi">Shop Now</a></em>
            <p>Free shipping & Free return availalbe.</p>
            <p>Same day shipping available if you charge $20.</p>
          </div>

          <div class="card">
            <em class="ls">Nordstrom Rack</em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2wt1e13">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Bloomingdale's</em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UwCwoo">Shop Now</a></em>
            <p>Free shipping when you spend $150 or more.</p>
            <p>Loyallists get free standard shipping every day.</p>
          </div>

          <div class="card">
            <em class="ls">Forward</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3anIiQ0">Shop Now</a></em>
            <p>Free shipping & 1-day shipping available.</p>
            <p>Free International shipping for all orders.</p>
          </div>

          <div class="card">
            <em class="ls">Baublebar</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UhrK6u">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more & Free return.</p>
            <p>10% Off when you purchase first.</p>
          </div>

          <div class="card">
            <em class="ls">Banana Republic</em>
            <strong>- - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2Uif5QT">Shop Now</a></em>
            <p>Free shipping when you spend $25.</p>
            <p>Return to the store availalbe.</p>
          </div>

          <div class="card">
            <em class="ls">Old Navy</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3drX6Pu">Shop Now</a></em>
            <p>Free shipping when you spend $25.</p>
            <p>Return to the store availalbe.</p>
          </div>

          <div class="card">
            <em class="ls">Nordstrom</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UGigkz">Shop Now</a></em>
            <p>Free shipping & Free returns.</p>
            <p>Store pickup and return available.</p>
          </div>

          <div class="card">
            <em class="ls">Saks Fifth Avenue</em>
            <strong>- - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3boavWU">Shop Now</a></em>
            <p>Free shipping availble with code: FREESHIP</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Farfetch</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3bq5HAe">Shop Now</a></em>
            <p>Fast shipping & Free return available.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">DKNY</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UguvFl">Shop Now</a></em>
            <p>Free shipping when you spend $50.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Eddie Bauer</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2vRSnpq">Shop Now</a></em>
            <p>Free shipping & Free returns</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Converse</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/39kLKJT">Shop Now</a></em>
            <p>Free shipping & Free return.</p>
            <p>Email registration get 15% Off.</p>
          </div>

          <div class="card">
            <em class="ls">Dick's Sporting Goods</em>
            <strong>- - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3dxQyPA">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Loft</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2Jh3JWV">Shop Now</a></em>
            <p>Free shipping & Free return.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">East Dane</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3brVHXu">Shop Now</a></em>
            <p>Free 3-day shipping & Free return.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Zulily</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2Jhd29k">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Backcountry</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2QNWdXY">Shop Now</a></em>
            <p>Free shipping when you spend $50.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Saks Off 5th</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2WEAV2J">Shop Now</a></em>
            <p>Free shipping when you spend $99.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Levi's</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3ajUPnt">Shop Now</a></em>
            <p>Free shipping when you spend $100.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">American Eagle</em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2Jg9nbS">Shop Now</a></em>
            <p>Free shipping when you spend $50.</p>
            <p class="none">-</p>
          </div>
        
        </div>

        <div class="mid_right mid_com">
          <span>★ SHOES</span>
          <div class="card">
            <em class="ls">Finish Line</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/33LXROY">Shop Now</a></em>
            <p>Free shipping when you spend $30 or more.</p>
            <p>Return to the store & pickup in store available.</p>
          </div>

          <div class="card">
            <em class="ls">Toms</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3bwA0VZ">Shop Now</a></em>
            <p>Free shipping when you spend $59 or more<br> & Free return</p>
          </div>

           <div class="card">
            <em class="ls">Zappos</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2y2lneH">Shop Now</a></em>
            <p>Free shipping with every order & Free return.</p>
            <p class="none">-</p>
          </div>

           <div class="card">
            <em class="ls">Sneaker & Stuff</em>
            <strong>- - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3duEcYn">Shop Now</a></em>
            <p>The same day shipping available if you make your order before 09.00 am GMT+1</p>
            <p class="none">-</p>
          </div>



          <span>★ BEAUTY</span>
          <div class="card">
            <em class="ls">Ulta</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3dsXv4k">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Sephora</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2y8RUQB">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>Flash 1-2 day shipping available.</p>
          </div>

          <div class="card">
            <em class="ls">Glossier</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3boghb7">Shop Now</a></em>
            <p>Free shipping when you spend $30 or more.</p>
            <p>Subscription service available.</p>
          </div>

          <div class="card">
            <em class="ls">100 Percent Pure</em>
            <strong>- - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3dt5hv5">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>10% student discount.</p>
          </div>


          <span>★ HOME</span>
          <div class="card">
            <em class="ls">Home Depot</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UlyMHF">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Return to the store available.</p>
          </div>

          <div class="card">
            <em class="ls">Horchow</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/33W8TBv">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p class="none">-</p>
          </div>

          <div class="card">
            <em class="ls">Wayfair</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3dxEE8j">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
          </div>  

          <div class="card">
            <em class="ls">Bed, Bath & Beyond</em>
            <strong>- - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2UwbAp2">Shop Now</a></em>
            <p>Free shipping when you spend $39 or more.</p>
            <p class="none">-</p>
          </div>  

          <div class="card">
            <em class="ls">Pier 1 imports</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/39e9oI0">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
          </div>          


          <span>★ MATTRESSES</span>
          <div class="card">
            <em class="ls">Casper</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/3btPAlu">Shop Now</a></em>
            <p>Free shipping & Free return with every order.</p>
            <p class="none">-</p>
          </div> 

          <div class="card">
            <em class="ls">Purple</em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/2Ujtg8b">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
          </div> 

          <div class="card">
            <em class="ls">My Green Mattress</em>
            <strong>- - - - - - - - - - - - - -</strong>
            <em><a target="_blank" href="https://bit.ly/33Y0iyd">Shop Now</a></em>
            <p>Free shipping available.</p>
            <p class="none">-</p>
          </div> 

          
      </div><!--store_mid-->





    </div><!--store_wrap-->
  </div>
</div>