<div class="layout"><!--layout-->
 <div class="wrap">   
  <%= render 'shared/header_short' %>
  <%= render 'shared/sub_header' %>
  <%= render 'deals/header_store' %>
  <%= render 'deals/body_stores' %>
  
 </div><!--./wrap-->
</div><!--./layout-->