<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_bystore' %>
    <%= render 'deals/header_store' %>
    <%= render 'shared/botton_store' %>

    <div class="store_pin clearfix"><span><span>Weekly AD</span></span></div>
    <div class="store_wrap">
      
      <!-- <div class="store_top clearfix">
        <h2>Weekly Ad</h2>
      </div> -->

      <div class="store_mid clearfix">
        

        <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ ALL CATEGORIES</span>
          
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2J0gLYN">Walmart</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2J0gLYN">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p>Free 2-day shipping on many items.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2J0gLYN">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/33wLAOb">Target</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/33wLAOb">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more<br> & Free returns.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/33wLAOb">Shop Now → </a>
          </div>


          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WBOcsW">Kmart</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WBOcsW">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more.</p>
            <p>Store pickup available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WBOcsW">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3a20gHw">Lowe's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3a20gHw">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Store pickup available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3a20gHw">Shop Now → </a>
          </div>

        </div>

        <div class="mid_right mid_com">
          <!-- <span>★ ELECTRONICS</span> -->
          
          <span>★ DEPARTMENT</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2J2in4u">Macy's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2J2in4u">Shop Now</a></em>
            <p>Free shipping when you spend $25 or more</p>
            <p>Store pickup available</p>  
            <a class="shop_m" target="_blank" href="https://bit.ly/2J2in4u">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2x9xw10">Kohl's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2x9xw10">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2x9xw10">Shop Now → </a>
          </div>

        </div>
      </div><!--store_mid-->


      <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ FASHION</span>
          
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UrJqLR">Forever 21</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UrJqLR">Shop Now</a></em>
            <p>Free shipping when you spend $21 or more.</p>
            <p>Return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UrJqLR">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QIkiiW">Topshop</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QIkiiW">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p>10% Student discounts available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QIkiiW">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WBeg7e">Neiman Marcus last call</a></em>
            <strong>- - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WBeg7e">Shop Now</a></em>
            <p>Free shipping & Free return availalbe.</p>
            <p>Same day shipping available if you charge $20.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WBeg7e">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UttNDt">Nordstrom</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UttNDt">Shop Now</a></em>
            <p>Free shipping & Free returns.</p>
            <p>Store pickup and return available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UttNDt">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2JfIRzC">Dick's Sporting Goods</a></em>
            <strong>- - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2JfIRzC">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2JfIRzC">Shop Now → </a>
          </div>

        </div>

        <div class="mid_right mid_com">
          <!-- <span>★ SHOES</span> -->
          
          <span>★ BEAUTY</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UxWE9F">Ulta</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UxWE9F">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UxWE9F">Shop Now → </a>
          </div>


          <span>★ HOME</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UHApy6">Home Depot</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UHApy6">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Return to the store available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UHApy6">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dv0oBM">Bed, Bath & Beyond</a></em>
            <strong>- - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dv0oBM">Shop Now</a></em>
            <p>Free shipping when you spend $39 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dv0oBM">Shop Now → </a>
          </div>  

          <!-- <span>★ MATTRESSES</span> -->

      </div>

    </div>

  </div>
</div>