<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_short' %>
    <%= render 'shared/header_bystore' %>
    <%= render 'deals/header_store' %>
    <%= render 'shared/botton_store' %>

    <div class="store_pin clearfix"><p>Deal Of The Day</p></div>
    <div class="store_wrap">
      
      <!-- <div class="store_top clearfix">
        <h2>Deal Of The Day</h2>
      </div> -->

      <div class="store_mid clearfix">
        
        <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ ALL CATEGORIES</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://amzn.to/2JvbI2Y">Amazon</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://amzn.to/2JvbI2Y">Shop Now</a></em>
            <p>Free shipping when you spend $25<br> or join Amazon Prime.</p>
            <a class="shop_m" target="_blank" href="https://amzn.to/2JvbI2Y">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/394dmmz">Target</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/394dmmz">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more<br> & Free returns.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/394dmmz">Shop Now → </a>
          </div>


          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dl6sN0">Kmart</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dl6sN0">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more.</p>
            <p>Store pickup available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dl6sN0">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2x2LzWa">Lowe's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2x2LzWa">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Store pickup available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2x2LzWa">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3blngBN">Aliexpress</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3blngBN">Shop Now</a></em>
            <p>Ships internationally.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3blngBN">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UryxJU">Rakuten</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UryxJU">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UryxJU">Shop Now → </a>
          </div>

        </div>

        <div class="mid_right mid_com">
          <span>★ ELECTRONICS</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2U4YQX6">Best Buy</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2U4YQX6">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p>Store pickup available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2U4YQX6">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2Uqseq4">Newegg</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2Uqseq4">Shop Now</a></em>
            <p>Free 3-day shipping & returns when you sign up<br> for Newegg Premier.</p>            
            <a class="shop_m" target="_blank" href="https://bit.ly/2Uqseq4">Shop Now → </a>
          </div>
          

          <span>★ DEPARTMENT</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2TZ1Vbh">Macy's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2TZ1Vbh">Shop Now</a></em>
            <p>Free shipping when you spend $25 or more</p>
            <p>Store pickup available</p>  
            <a class="shop_m" target="_blank" href="https://bit.ly/2TZ1Vbh">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2vyddda">Kohl's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2vyddda">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2vyddda">Shop Now → </a>
          </div>

        </div>
      </div><!--store_mid-->


      <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ FASHION</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WFlbMP">Urban Outfitters</a></em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WFlbMP">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>Free returns availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WFlbMP">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/39jkgUM">Baublebar</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/39jkgUM">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more & Free return.</p>
            <p>10% Off when you purchase first.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/39jkgUM">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UgZUY8">Dick's Sporting Goods</a></em>
            <strong>- - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UgZUY8">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UgZUY8">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3avg9q4">Zulily</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3avg9q4">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3avg9q4">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2wsvZmX">Backcountry</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2wsvZmX">Shop Now</a></em>
            <p>Free shipping when you spend $50.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2wsvZmX">Shop Now → </a>
          </div>

        </div>

        <div class="mid_right mid_com">
          <!-- <span>★ SHOES</span> -->
         
          <span>★ BEAUTY</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3btzQPv">Ulta</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3btzQPv">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3btzQPv">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WR48HV">Sephora</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WR48HV">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>Flash 1-2 day shipping available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WR48HV">Shop Now → </a>
          </div>

          <span>★ HOME</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/39lnlUH">Home Depot</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/39lnlUH">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Return to the store available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/39lnlUH">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2wH0NjE">Wayfair</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2wH0NjE">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2wH0NjE">Shop Now → </a>
          </div>  

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2JezMqK">Bed, Bath & Beyond</a></em>
            <strong>- - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2JezMqK">Shop Now</a></em>
            <p>Free shipping when you spend $39 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2JezMqK">Shop Now → </a>
          </div>  

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2y5A9kR">Pier 1 imports</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2y5A9kR">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2y5A9kR">Shop Now → </a>
          </div>          

          <!-- <span>★ MATTRESSES</span> -->          

      </div>

    </div>

  </div>
</div>