<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_short' %>
    <%= render 'shared/header_bystore' %>
    <%= render 'deals/header_store' %>

    <div class="store_wrap">
      
     <!--  <div class="store_top clearfix">
        <h2>Sale & Clearance</h2>
      </div> -->

      <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ ALL CATEGORIES</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://amzn.to/2vRm61C">Amazon</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://amzn.to/2vRm61C">Shop Now</a></em>
            <p>Free shipping when you spend $25<br> or join Amazon Prime.</p>
            <a class="shop_m" target="_blank" href="https://amzn.to/2vRm61C">Shop Now → </a>
          </div>
          

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2U1QKyw">Walmart</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2U1QKyw">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p>Free 2-day shipping on many items.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2U1QKyw">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3a4pkxv">Target</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3a4pkxv">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more<br> & Free returns.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3a4pkxv">Shop Now → </a>
          </div>


          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QzC2gk">Kmart</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QzC2gk">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more.</p>
            <p>Store pickup available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QzC2gk">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2TX8UBw">Lowe's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2TX8UBw">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Store pickup available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2TX8UBw">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/394gG11">Jet</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/394gG11">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p>2-day shipping available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/394gG11">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2xV2wlK">Aliexpress</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2xV2wlK">Shop Now</a></em>
            <p>Ships internationally.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2xV2wlK">Shop Now → </a>
          </div>

          <!-- <div class="card">
            <em class="ls"><a target="_blank" href="Store_URL">Bonanza</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Store_URL">Shop Now</a></em>
          </div> -->

         <!--  <div class="card">
            <em class="ls"><a target="_blank" href="Store_URL">Rakuten</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="Store_URL">Shop Now</a></em>
          </div> -->

        </div>

        <div class="mid_right mid_com">
          <span>★ ELECTRONICS</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/33tu8u6">Best Buy</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/33tu8u6">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p>Store pickup available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/33tu8u6">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2JhlaXt">Newegg</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2JhlaXt">Shop Now</a></em>
            <p>Free 3-day shipping & returns when you sign up<br> for Newegg Premier.</p>            
            <a class="shop_m" target="_blank" href="https://bit.ly/2JhlaXt">Shop Now → </a>
          </div>
          

          <span>★ DEPARTMENT</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2vzaznC">Macy's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2vzaznC">Shop Now</a></em>
            <p>Free shipping when you spend $25 or more</p>
            <p>Store pickup available</p>  
            <a class="shop_m" target="_blank" href="https://bit.ly/2vzaznC">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3a5lFzI">Kohl's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3a5lFzI">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3a5lFzI">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WHNYAb">Century 21</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WHNYAb">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WHNYAb">Shop Now → </a>
          </div>
        </div>
      </div><!--store_mid-->


      <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ FASHION</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dljJoU">Gap</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dljJoU">Shop Now</a></em>
            <p>Free shipping when you spend $25 or more.</p>
            <p>Free return on all orders.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dljJoU">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WzWVM8">Net-A-porter</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WzWVM8">Shop Now</a></em>
            <p>Express shipping available.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WzWVM8">Shop Now → </a>
          </div>
          

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2Uz8pg7">American Eagle Outfitters</a></em>
            <strong>- - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2Uz8pg7">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more <br> & Free return to the store.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2Uz8pg7">Shop Now → </a>
          </div>
          

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WHNTN4">Anthropologie</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WHNTN4">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WHNTN4">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UBbMTF">ASOS</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UBbMTF">Shop Now</a></em>
            <p>Free shipping when you spend $49.99 or more.</p>
            <p>Free return available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UBbMTF">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3bokpb7">Athleta</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3bokpb7">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3bokpb7">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3br5P2O">Boohoo</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3br5P2O">Shop Now</a></em>
            <p>Student discount available.</p>
            <p>Free return available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3br5P2O">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dnIlNP">Fashion Nova</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dnIlNP">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dnIlNP">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3biAyPj">Forever 21</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3biAyPj">Shop Now</a></em>
            <p>Free shipping when you spend $21 or more.</p>
            <p>Return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3biAyPj">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UunwaG">Free People</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UunwaG">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UunwaG">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/33FsWDL">J.Crew</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/33FsWDL">Shop Now</a></em>
            <p>Free standard shipping to J.Crew Rewards members.</p>
            <p>Overnight & Saturday shipping available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/33FsWDL">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WBQYOS">J.Crew Factory</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WBQYOS">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p>Overnight & Saturday shipping available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WBQYOS">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UzxE1L">Lucky Brand</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UzxE1L">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more.</p>
            <p>Return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UzxE1L">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QHF0iK">Lululemon</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QHF0iK">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QHF0iK">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3boMNK6">Nasty Gel</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3boMNK6">Shop Now</a></em>
            <p>Free returns availalbe.</p>
            <p>Student discounts available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3boMNK6">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2wCy9jE">PrettyLittleThing</a></em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2wCy9jE">Shop Now</a></em>
            <p>Student discounts available.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2wCy9jE">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dlBa8N">Showpo</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dlBa8N">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>10% Student discounts available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dlBa8N">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WF299p">Topshop</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WF299p">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p>10% Student discounts available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WF299p">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WFkPpt">Uniqlo</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WFkPpt">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WFkPpt">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3bqihiW">Urban Outfitters</a></em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3bqihiW">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>Free returns availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3bqihiW">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QIlmDs">Zaful</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QIlmDs">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p>Free express shipping when you spend $99 or more.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QIlmDs">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3drZAgQ">Victoria's Secret</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3drZAgQ">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3drZAgQ">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/39kwpsC">ShopBop</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/39kwpsC">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/39kwpsC">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/33IqRXY">Ann Taylor</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/33IqRXY">Shop Now</a></em>
            <p>3-day business shipping.</p>
            <p>Return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/33IqRXY">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3aklVei">Lord & Taylor</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3aklVei">Shop Now</a></em>
            <p>Free shipping when you spend $99 (beauty $49) or more.</p>
            <p>Free return & return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3aklVei">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3ajuaav">Boden</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3ajuaav">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3ajuaav">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UgbsuS">Coach</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UgbsuS">Shop Now</a></em>
            <p>Free shipping & Free return availalbe.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UgbsuS">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UlDJAh">H & M</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UlDJAh">Shop Now</a></em>
            <p>Free shipping when you spend $40 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UlDJAh">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UvjgYi">Neiman Marcus</a></em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UvjgYi">Shop Now</a></em>
            <p>Free shipping & Free return availalbe.</p>
            <p>Same day shipping available if you charge $20.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UvjgYi">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2wt1e13">Nordstrom Rack</a></em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2wt1e13">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2wt1e13">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UwCwoo">Bloomingdale's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UwCwoo">Shop Now</a></em>
            <p>Free shipping when you spend $150 or more.</p>
            <p>Loyallists get free standard shipping every day.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UwCwoo">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3anIiQ0">Forward</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3anIiQ0">Shop Now</a></em>
            <p>Free shipping & 1-day shipping available.</p>
            <p>Free International shipping for all orders.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3anIiQ0">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UhrK6u">Baublebar</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UhrK6u">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more & Free return.</p>
            <p>10% Off when you purchase first.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UhrK6u">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2Uif5QT">Banana Republic</a></em>
            <strong>- - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2Uif5QT">Shop Now</a></em>
            <p>Free shipping when you spend $25.</p>
            <p>Return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2Uif5QT">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3drX6Pu">Old Navy</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3drX6Pu">Shop Now</a></em>
            <p>Free shipping when you spend $25.</p>
            <p>Return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3drX6Pu">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UGigkz">Nordstrom</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UGigkz">Shop Now</a></em>
            <p>Free shipping & Free returns.</p>
            <p>Store pickup and return available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UGigkz">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3boavWU">Saks Fifth Avenue</a></em>
            <strong>- - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3boavWU">Shop Now</a></em>
            <p>Free shipping availble with code: FREESHIP</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3boavWU">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3bq5HAe">Farfetch</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3bq5HAe">Shop Now</a></em>
            <p>Fast shipping & Free return available.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3bq5HAe">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UguvFl">DKNY</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UguvFl">Shop Now</a></em>
            <p>Free shipping when you spend $50.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UguvFl">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2vRSnpq">Eddie Bauer</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2vRSnpq">Shop Now</a></em>
            <p>Free shipping & Free returns</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2vRSnpq">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/39kLKJT">Converse</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/39kLKJT">Shop Now</a></em>
            <p>Free shipping & Free return.</p>
            <p>Email registration get 15% Off.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/39kLKJT">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dxQyPA">Dick's Sporting Goods</a></em>
            <strong>- - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dxQyPA">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dxQyPA">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2Jh3JWV">Loft</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2Jh3JWV">Shop Now</a></em>
            <p>Free shipping & Free return.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2Jh3JWV">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3brVHXu">East Dane</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3brVHXu">Shop Now</a></em>
            <p>Free 3-day shipping & Free return.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3brVHXu">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2Jhd29k">Zulily</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2Jhd29k">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2Jhd29k">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QNWdXY">Backcountry</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QNWdXY">Shop Now</a></em>
            <p>Free shipping when you spend $50.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QNWdXY">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WEAV2J">Saks Off 5th</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WEAV2J">Shop Now</a></em>
            <p>Free shipping when you spend $99.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WEAV2J">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3ajUPnt">Levi's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3ajUPnt">Shop Now</a></em>
            <p>Free shipping when you spend $100.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3ajUPnt">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2Jg9nbS">American Eagle</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2Jg9nbS">Shop Now</a></em>
            <p>Free shipping when you spend $50.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2Jg9nbS">Shop Now → </a>
          </div>
        
        </div>

        <div class="mid_right mid_com">
          <span>★ SHOES</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/33LXROY">Finish Line</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/33LXROY">Shop Now</a></em>
            <p>Free shipping when you spend $30 or more.</p>
            <p>Return to the store & pickup in store available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/33LXROY">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3bwA0VZ">Toms</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3bwA0VZ">Shop Now</a></em>
            <p>Free shipping when you spend $59 or more<br> & Free return</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3bwA0VZ">Shop Now → </a>
          </div>
          

           <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2y2lneH">Zappos</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2y2lneH">Shop Now</a></em>
            <p>Free shipping with every order & Free return.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2y2lneH">Shop Now → </a>
          </div>

           <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3duEcYn">Sneaker & Stuff</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3duEcYn">Shop Now</a></em>
            <p>The same day shipping available if you make your order before 09.00 am GMT+1</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3duEcYn">Shop Now → </a>
          </div>



          <span>★ BEAUTY</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dsXv4k">Ulta</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dsXv4k">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dsXv4k">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2y8RUQB">Sephora</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2y8RUQB">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>Flash 1-2 day shipping available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2y8RUQB">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3boghb7">Glossier</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3boghb7">Shop Now</a></em>
            <p>Free shipping when you spend $30 or more.</p>
            <p>Subscription service available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3boghb7">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dt5hv5">100 Percent Pure</a></em>
            <strong>- - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dt5hv5">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>10% student discount.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dt5hv5">Shop Now → </a>
          </div>


          <span>★ HOME</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UlyMHF">Home Depot</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UlyMHF">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Return to the store available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UlyMHF">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/33W8TBv">Horchow</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/33W8TBv">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/33W8TBv">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dxEE8j">Wayfair</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dxEE8j">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dxEE8j">Shop Now → </a>
          </div>  

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UwbAp2">Bed, Bath & Beyond</a></em>
            <strong>- - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UwbAp2">Shop Now</a></em>
            <p>Free shipping when you spend $39 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UwbAp2">Shop Now → </a>
          </div>  

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/39e9oI0">Pier 1 imports</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/39e9oI0">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/39e9oI0">Shop Now → </a>
          </div>          


          <span>★ MATTRESSES</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3btPAlu">Casper</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3btPAlu">Shop Now</a></em>
            <p>Free shipping & Free return with every order.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3btPAlu">Shop Now → </a>
          </div> 

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2Ujtg8b">Purple</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2Ujtg8b">Shop Now</a></em>
            <p>Free shipping available.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2Ujtg8b">Shop Now → </a>
          </div> 

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/33Y0iyd">My Green Mattress</a></em>
            <strong>- - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/33Y0iyd">Shop Now</a></em>
            <p>Free shipping available.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/33Y0iyd">Shop Now → </a>
          </div> 

          
      </div><!--store_mid-->





    </div><!--store_wrap-->
  </div>
</div>