<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_bystore' %>
    <%= render 'deals/header_store' %>
    <%= render 'shared/botton_store' %>

    <div class="store_pin clearfix"><span><span>Coupons & Promotions</span></span></div>
    <div class="store_wrap">
      
      <!-- <div class="store_top clearfix">
        <h2>Coupon & Promotions</h2>
      </div> -->

      <div class="store_mid clearfix">
        
        <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ ALL CATEGORIES</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://amzn.to/2URvM4Q">Amazon</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://amzn.to/2URvM4Q">Shop Now</a></em>
            <p>Free shipping when you spend $25<br> or join Amazon Prime.</p>
            <a class="shop_m" target="_blank" href="https://amzn.to/2URvM4Q">Shop Now → </a>
          </div>
          
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2J2dvfI">Walmart</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2J2dvfI">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p>Free 2-day shipping on many items.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2J2dvfI">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QAlHb0">Kmart</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QAlHb0">Shop Now</a></em>
            <p>Free 2-day shipping when you spend $35 or more.</p>
            <p>Store pickup available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QAlHb0">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3bbXYps">Aliexpress</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3bbXYps">Shop Now</a></em>
            <p>Ships internationally.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3bbXYps">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2U1dL4S">Bonanza</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2U1dL4S">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2U1dL4S">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WzOT5H">Rakuten</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WzOT5H">Shop Now</a></em>
            <p>Ships internationally.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WzOT5H">Shop Now → </a>
          </div>

        </div>

        <div class="mid_right mid_com">
          <span>★ ELECTRONICS</span>
        
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QzeYxV">Newegg</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QzeYxV">Shop Now</a></em>
            <p>Free 3-day shipping & returns when you sign up<br> for Newegg Premier.</p>            
            <a class="shop_m" target="_blank" href="https://bit.ly/2QzeYxV">Shop Now → </a>
          </div>


          <span>★ DEPARTMENT</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2TXhwbn">Macy's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2TXhwbn">Shop Now</a></em>
            <p>Free shipping when you spend $25 or more</p>
            <p>Store pickup available</p>  
            <a class="shop_m" target="_blank" href="https://bit.ly/2TXhwbn">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3a613an">Kohl's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3a613an">Shop Now</a></em>
            <p>Free shipping when you spend $75 or more</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3a613an">Shop Now → </a>
          </div>

        </div>
      </div><!--store_mid-->


      <div class="store_mid clearfix">
        <div class="mid_left mid_com">
          <span>★ FASHION</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3bgYVNf">Gap</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3bgYVNf">Shop Now</a></em>
            <p>Free shipping when you spend $25 or more.</p>
            <p>Free return on all orders.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3bgYVNf">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dt0ZDK">ASOS</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dt0ZDK">Shop Now</a></em>
            <p>Free shipping when you spend $49.99 or more.</p>
            <p>Free return available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dt0ZDK">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QDr3T0">Forever 21</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QDr3T0">Shop Now</a></em>
            <p>Free shipping when you spend $21 or more.</p>
            <p>Return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QDr3T0">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2wCJmRt">Free People</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2wCJmRt">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2wCJmRt">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3biBgMt">J.Crew Factory</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3biBgMt">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p>Overnight & Saturday shipping available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3biBgMt">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UBS0HV">Showpo</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UBS0HV">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>10% Student discounts available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UBS0HV">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WF6Xvm">Uniqlo</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WF6Xvm">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WF6Xvm">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QJg2zA">Zaful</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QJg2zA">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p>Free express shipping when you spend $99 or more.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QJg2zA">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2wpMjF2">Victoria's Secret</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2wpMjF2">Shop Now</a></em>
            <p>Free shipping when you spend $100 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2wpMjF2">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/39mlFKq">ShopBop</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/39mlFKq">Shop Now</a></em>
            <p>Free shipping & Return to the store availalbe.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/39mlFKq">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2xnxd2U">Ann Taylor</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2xnxd2U">Shop Now</a></em>
            <p>3-day business shipping.</p>
            <p>Return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2xnxd2U">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QC9VwV">Nordstrom Rack</a></em>
            <strong>- - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QC9VwV">Shop Now</a></em>
            <p>Free shipping when you spend $99 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QC9VwV">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2y1nAXV">Bloomingdale's</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2y1nAXV">Shop Now</a></em>
            <p>Free shipping when you spend $150 or more.</p>
            <p>Loyallists get free standard shipping every day.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2y1nAXV">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/33PmJ8r">Banana Republic</a></em>
            <strong>- - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/33PmJ8r">Shop Now</a></em>
            <p>Free shipping when you spend $25.</p>
            <p>Return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/33PmJ8r">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2JgI69a">Old Navy</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2JgI69a">Shop Now</a></em>
            <p>Free shipping when you spend $25.</p>
            <p>Return to the store availalbe.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2JgI69a">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WJI8yy">Eddie Bauer</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WJI8yy">Shop Now</a></em>
            <p>Free shipping & Free returns</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WJI8yy">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/33Pq87d">Dick's Sporting Goods</a></em>
            <strong>- - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/33Pq87d">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/33Pq87d">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QHJUvZ">Loft</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QHJUvZ">Shop Now</a></em>
            <p>Free shipping & Free return.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QHJUvZ">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3brsgow">East Dane</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3brsgow">Shop Now</a></em>
            <p>Free 3-day shipping & Free return.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3brsgow">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WIl3fC">Zulily</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WIl3fC">Shop Now</a></em>
            <p class="none">-</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WIl3fC">Shop Now → </a>
          </div>

        </div>

        <div class="mid_right mid_com">
          <span>★ SHOES</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2yaUt4x">Finish Line</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2yaUt4x">Shop Now</a></em>
            <p>Free shipping when you spend $30 or more.</p>
            <p>Return to the store & pickup in store available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2yaUt4x">Shop Now → </a>
          </div>

          <span>★ BEAUTY</span>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3egCiec">Look Fantastic</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3egCiec">Shop Now</a></em>
            <p>Free US shipping on orders over $30</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3egCiec">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2WDL7Ze">Ulta</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2WDL7Ze">Shop Now</a></em>
            <p>Free shipping when you spend $35 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2WDL7Ze">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3dqQiBA">Sephora</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3dqQiBA">Shop Now</a></em>
            <p>Free shipping when you spend $50 or more.</p>
            <p>Flash 1-2 day shipping available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3dqQiBA">Shop Now → </a>
          </div>

          <span>★ HOME</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2UjE3zh">Home Depot</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2UjE3zh">Shop Now</a></em>
            <p>Free shipping when you spend $45 or more.</p>
            <p>Return to the store available.</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2UjE3zh">Shop Now → </a>
          </div>

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2JmnRa5">Wayfair</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2JmnRa5">Shop Now</a></em>
            <p>Free shipping when you spend $49 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2JmnRa5">Shop Now → </a>
          </div>  

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3ai1C19">Bed, Bath & Beyond</a></em>
            <strong>- - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3ai1C19">Shop Now</a></em>
            <p>Free shipping when you spend $39 or more.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3ai1C19">Shop Now → </a>
          </div>  

          <span>★ MATTRESSES</span>
          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/2QMVbLT">Casper</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/2QMVbLT">Shop Now</a></em>
            <p>Free shipping & Free return with every order.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/2QMVbLT">Shop Now → </a>
          </div> 

          <div class="card">
            <em class="ls"><a target="_blank" href="https://bit.ly/3alxhyH">Purple</a></em>
            <strong>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</strong>
            <em class="rs"><a target="_blank" href="https://bit.ly/3alxhyH">Shop Now</a></em>
            <p>Free shipping available.</p>
            <p class="none">-</p>
            <a class="shop_m" target="_blank" href="https://bit.ly/3alxhyH">Shop Now → </a>
          </div> 

      </div>

    </div>

  </div>
</div>