<div class="layout">
  <div class="wrap">
    <div class="dealpage_title">  
      <%= render 'shared/header_short' %>
      <h1>Editing Sdcategory</h1>
      <%= render 'form' %>
      <%= link_to 'Show', @sdcategory %> |
      <%= link_to 'Back', sdcategories_path %>
    </div>
  </div>
</div>