<div class="layout"><!--layout-->
  <div class="wrap">  

    <% if can? :update, @promocode %>
      <%= render 'sdcategories/body' %>
    <% else %>
      <div class="admin_page"></div>
    <% end %>
    
   
  </div>
</div>
