<!-- <p id="notice"><%= notice %></p> -->
<div class="layout"><!--layout-->
  <div class="wrap">  
    <%= render 'shared/header_short' %>

    <% if can? :update, @promocode %>
      <%= render 'sdcategories/body' %>
    <% else %>
      <div class="admin_page"></div>
    <% end %>
    
   
  </div>
</div>
