<div class="layout">
  <div class="wrap">  
    <%= render 'shared/header_short' %><br />
    <%= link_to 'Edit', edit_sdcategory_path(@sdcategory) %> |
    <%= link_to 'Back', sdcategories_path %>
  </div>
</div>