<div class="errors_wrap">
  <a href="/"><img src="<%=asset_path 'visual_01.jpg' %>" class="errors_logo""></a>
    <div class="browser">
      <div class="controls">
        <i></i>
        <i></i>
        <i></i>
      </div>
      
      <div class="eye"></div>
      <div class="eye"></div>
      <div class="mouth">
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
        <div class="lips"></div>
      </div>
    </div>

   <div class="errors_ctn">
      <h1><strong>OPPS!! 404 error<br />Unfortunately, this page does not exist.</strong></h1>
      <p>The link you clicked may be broken or the page may have been removed.</p>
    </div>
 
</div>