<div class="sub_nav hotdeals_nav hotdeals_show">
    <div class="sub_nav_pc">
      <ul class="clearfix">
        <li>
          <a class="active" href="/promocodes">Today's Discovery</a>
          <ul class="down_sub clearfix">
            <li><a class="active" href="/promocodes">Coupons</a></li>
            <li><a href="/hotdeals">Deals</a></li>
          </ul>
       </li>
       <li><a href="/deals/quicksearch">Amazon Deal Finder</a></li>
       <li><a href="/bargains">Featured Deals</a></li>
       <li class="todays_deal"><a target="_blank" href="https://amzn.to/2Q8uWyX">Deal of the Day</a></li>
       <li class="todays_deal"><a target="_blank" href="https://amzn.to/2IsIyRw">Lightning Deals</a></li>
       <% if can? :update, @promocodes %>
       <li>
         <div class="admin">
           <%= link_to 'New Code', new_promocode_path %> | 
           <%= link_to 'New Bargain', new_hotdeal_path %>
         </div>
        </li>
       <% end %>
      </ul>
      
    </div>
    
</div>