<div class="show_detail">
  <div class="show_image">
   <img src="<%= @gadget.gg_img %>">
  </div>
  <div class="show_content">
   <h1><%= @gadget.gg_title %></h1>
   <p><%= @gadget.gg_intro %></p>
   <p>by<%= @gadget.user.name %></p>
   <a href="#" class="button icon">$100.00 from Amazon</a>
  </div>
</div>