/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');
h1,h2,h3,h4,h5,h6,p,ul,li,address,form,fieldset,legend,input,button,dl,dt,dd,table,thead,tbody,tfoot,tr,th,td{margin:0;padding:0;font-family:inherit;}
/*기본여백 삭제, font-family:inherit;는 특정 태그는 body에서 지정한 서체를 상속받지 못함. 그래서 강제로 상속받도록 지정  */
a{text-decoration:none;}
a img{border:0;}/* a태그로 감싼 이미지의 파란 테두리 삭제 (ie9-10) */
ul,li{list-style:none;}/* li앞에 동그라미 삭제 */
em,address{font-style:normal;}
fieldset{border:0;}/*테두리삭제*/
legend{display:none;}/* 숨김 */
button{border:0;background:none;cursor:pointer;}
table caption{display:none;}

textarea.code_area{resize:none;font-size:20px;height:31px;text-align:center;border:1px solid #616161;vertical-align:middle;}
button.copycode{background:#000;color:#fff;font-size:17.5px;padding:5px;vertical-align:middle;}
@media screen and (max-width:640px){
  textarea.code_area, button.copycode{display:none;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  textarea.code_area, button.copycode{display:none;} 
}
textarea.code_area_sec{resize:none;font-size:15px;height:26px;text-align:center;width:20%;margin:0 1.5%;font-weight:bold;}
button.copycode_sec{background:#000;color:#fff;font-size:17.5px;padding:5px;width:20%;margin:0 1.5%;}

.clearfix:after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

body{margin:0;padding:0;}
body{/*font-family: 'Noto Sans KR','맑은고딕',sans-serif;*/font-family: 'Noto Sans', sans-serif;font-size:15px;color:#000;line-height:1.5;font-weight:300;}
@media screen and (max-width:640px){
  body{font-size:13px;font-weight:400;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  body{font-size:13px;font-weight:400;}
}

.layout{min-width:1200px;width:100%;overflow:hidden;position:relative;}
.wrap{width:1200px;margin:0 auto;}
@media screen and (max-width:640px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 5%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .layout{min-width:0;}
  .wrap{width:auto;margin:0 5%;}
}

#goup{position:fixed;bottom:10px;right:14px;display:none;}
#goup img{width:50px;}
@media screen and (min-width:641px) and (max-width:1199px){
  #goup{right:13px;}
}


/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);*/
/*@import url(font.css);*/

/*a{-webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}*/

header{position:fixed;left:0;top:0;width:100%;background:#fff;z-index:301;}
header .gnb_pc{margin-top:10px;text-align:center;}
header .gnb_pc>a>.oh_logo{display:none;}
header .visual{}
header .visual img{width:100%;}

header .gnb_pc>ul{float:right;margin-top:-6px;position:relative;font-family: 'Righteous', cursive;margin-left:50px;}
header .gnb_pc>ul>li.membership>a{font-size:20px;}
header .gnb_pc>ul.sub_index_02{float:left;} /* for index_02 */
header .gnb_pc>ul>li{float:left;text-align:center;}
header .gnb_pc>ul.sub_index_02>li{float:left;width:300px;text-align:center;margin-right:20px;} /* for index_02 */
header .gnb_pc>ul>li:nth-child(3){width:277px;}
header .gnb_pc>ul>li>a{font-size:60px;text-decoration:none;color:#000;line-height:60px;display:inline-block;font-weight:600;}
header .gnb_pc>ul>li>a>em{display:block;font-size:17px;text-align:right;line-height:1;}
header .gnb_pc>ul.sub_index_02>li>a>em{display:inline-block;font-size:17px;text-align:right;line-height:1;} /* for index_02 */
header .gnb_pc>ul>li>a.active{background:#000;padding:0 10px;color:#fff;}
header .gnb_pc>ul>li>a:hover{background:#000;padding:0 10px;color:#fff;}
header .gnb_pc .search{display:none;}
header .gnb_m,header .gnb_open2{display:none;}


@media screen and (min-width:680px){
  header.on{border-bottom:1px solid #ccc;}
  header.on .gnb_pc{margin-top:0;text-align:center}
  header.on .gnb_pc>a>.oh_logo{display:inline-block;float:left;width:50px;height:50px;margin:11px 10px 0 0;}
  header.on .visual{float:left;margin-top:18px;height:100%;}
  header.on .visual img{width:260px;}
  header.on .gnb_pc>ul{float:left;margin:0 0 0 20px;padding:10px 0;}
  header.on .gnb_pc>ul>li{float:left;font-weight:400;text-align:center;margin-right:25px;}
  header.on .gnb_pc>ul>li:nth-child(3){width:100px;}
  header.on .gnb_pc>ul>li>a{font-size:25px;line-height:50px;}
  header.on .gnb_pc>ul>li>a.active{background:#000;padding:0 10px;color:#fff;}
  header.on .gnb_pc>ul>li>a>em{display:inline-block;}
  header.on .gnb_pc>ul>li>a>span{display:none;}
}

@media screen and (max-width:680px){
  header .wrap{margin:0}
  header .gnb_pc{margin-top:0px;text-align:center;min-width:auto;border-bottom:1px solid #ccc;}

  header .visual{float:none;margin-top:10px;}
  header .visual img{width:50%;}
  
  header .gnb_pc>ul{display:none;}
  header .gnb_m{display:block;height:200px;background:#000;position:fixed;left:-800px;top:0;width:100%;z-index:303;}
  header .gnb_m>ul{margin:10px 5% 0 5%;font-family:'Anton', sans-serif;}
  header .gnb_m>ul>li{border-right:none;float:none;margin:10px 0;}
  header .gnb_m>ul>li>a{text-decoration:none;font-size:50px;font-weight:600;line-height:1.1;text-align:left;color:#fff;display:block;border:1px solid;padding:5px;}
  header .gnb_m>ul>li>a>em{font-size:17px;}
  header .gnb_m>ul>li>ul{margin-left:30px;}
  header .gnb_m>ul>li>ul>li{}
  header .gnb_m>ul>li>ul>li>a{text-decoration:none;color:#fff;font-size:25px;line-height:1.3;}
  header .gnb_m>ul>p{font-size:50px;color:#fff;letter-spacing:15px;border-bottom:5px solid;width:40%;}
  header .gnb_m>.gnb_close{display:block;position:absolute;right:0;top:12px;z-index:303;margin:0 5%;}
  header .gnb_m>.gnb_close img{width:50px;height:50px;}
  header .gnb_open2{display:block;position:fixed;left:0;top:10px;z-index:301;margin:0 5%;}
  header .gnb_open2 img{width:28px;}
  header .gnb_pc_scroll{display:none;}
}

@media screen and (min-width:681px) and (max-width:1199px){
  header.on .gnb_pc>ul>li{margin-right:16px;}
  header.on .gnb_pc>ul>li>a{font-size:20px;}
  header .gnb_pc{margin-top:10px;text-align:center;}
  header .visual{}
  header .visual img{width:100%;}
  header .gnb_pc>ul{float:right;margin-top:0px;}
  header .gnb_pc>ul>li{float:left;text-align:center;}
  header .gnb_pc>ul>li:nth-child(3){width:149px;}
  header .gnb_pc>ul>li>a{font-size:30px;line-height:1;}
  .index_header .on{border-bottom:1px solid #ccc;height:60px;}
  .index_header .on .gnb_pc>a>.oh_logo{display:inline-block;float:left;width:50px;height:50px;margin:6px 10px 0 0;}
  .index_header .on .visual{float:left;margin-top:15px;}
  .index_header .on .visual img{width:200px;}
  .index_header .on .gnb_pc>ul{margin:0 0 0 20px;padding:5px 0;}
  .index_header .on .gnb_pc>ul>li{width:108px}
  .index_header .on .gnb_pc>ul>li:nth-child(3){width:150px;}
  .index_header .on .gnb_pc>ul>li>a{font-size:17px;}
  .index_header .on .gnb_pc>ul>li>a>em{line-height:0;font-size:13px;}
  .index_header .on .gnb_pc>ul>li>a>span{display:none;}
}

@media screen and (max-width:400px){
  header .visual{float:none;margin-top:7px;}
  header .visual img{width:50%;}
}

/* Begin For header_short */
@media screen and (min-width:680px){
  .m_header{display:none;}
  .fix_header_wrap{width:1300px;}
  .fix_header{position:fixed;background:#fff;height:60px;width:100%;top:0;left:50%;border-bottom:1px solid #ccc;padding-left:35px;z-index:99;margin-left:-655px;}
  .fix_header img{display:inline-block;float:left;width:50px;height:50px;margin:6px 10px 0 0;}
  .fix_header .fix_visual{float:left;height:100%;}
  .fix_header .fix_visual img{width:260px;height:30px;margin-top:15px;}
  .fix_header ul{float:left;margin:0;padding:5px 0;font-family: 'Righteous', cursive;}
  .fix_header ul>li{float:left;width:150px;font-weight:400;text-align:center;}
  .fix_header ul>li:nth-child(3){width:150px;}
  .fix_header ul>li>a{text-decoration:none;color:#000;font-size:20px;line-height:50px;}
  .fix_header ul>li>a.active{background:rgba(26,26,255,0.2);padding:0 10px;}
  .fix_header ul>li>a>em{display:inline-block;}
  .fix_header ul>li>a>span{display:none;}
}

@media screen and (max-width:680px){
  .fix_header_wrap{display:none;}
  .m_header{display:block;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .fix_header{height:50px;margin:0;left:0;}
  .fix_header img{width:30px;height:30px;margin-top:11px;}
  .fix_header .fix_visual{float:left;height:100%;}
  .fix_header .fix_visual img{width:200px;height:25px;margin-top:13px;}
  .fix_header ul{padding:0;}
  .fix_header ul>li{width:105px;}
  .fix_header ul>li:nth-child(3){width:105px;}
  .fix_header ul>li>a{font-size:15px;} 
}
/* End For header_short */


.deals_nav{margin-top:255px;display:block;font-family: 'Anton', sans-serif;}
.deals_nav ul{}
.deals_nav ul>li{float:left;width:250px;text-align:center;}
.deals_nav ul>li>a{text-decoration:none;color:#000;font-size:25px;display:block;padding:5px 15px;}
.deals_nav ul>li>.active{background:#000;color:#fff;}
@media screen and (max-width:640px){
  .deals_nav{margin-top:70px;}
  .deals_nav ul>li{width:50%;}
  .deals_nav ul>li>a{font-size:17px;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .deals_nav{margin-top:180px;}
  .deals_nav ul>li{width:165px;}
  .deals_nav ul>li>a{font-size:17px;}
}

/* Deals&Gadgets sub menu */
.sub_nav{/*margin-top:260px;*//*margin-top:175px;*/font-family: 'Anton', sans-serif;}
.sub_nav .sub_nav_pc>ul>li{float:left;margin-right:30px;/*width:150px;*//*text-align:center;*/}
.sub_nav .sub_nav_pc>ul>li.more{margin-left:-25px;}
/*.sub_nav .sub_nav_pc>ul>li.coumos1{width:135px;}
.sub_nav .sub_nav_pc>ul>li.coumos{width:275px;}*/
.sub_nav .shoes_nav_pc{margin:0;}
.sub_nav .shoes_nav_pc>ul{background:#000;padding:5px 0;}
.sub_nav .shoes_nav_pc>ul>li{width:auto;margin:0 2%;}
.sub_nav .sub_nav_pc>ul>li>a{text-decoration:none;color:#000;font-size:20px;display:block;font-weight:400;}
.sub_nav .sub_nav_pc>ul>li>a.active{color:#000;font-weight:bold;border-bottom:2px solid #000;display:inline;background:#ffff00;}
.sub_nav .gnb_open,
.sub_nav .gnb_open_b,
.sub_nav .gnb_m,
.sub_nav .gnb_m>.gnb_close{display:none;}

.deals_main_menu{margin-top:60px;}
.deals_main_menu ul{font-family: 'Righteous', cursive;}
.deals_main_menu ul li{float:left;margin-right:20px;position:relative;}
.deals_main_menu ul li a{text-decoration:none;font-size:55px;color:#000;}
.deals_main_menu ul li a:hover{border-bottom:3px solid;}
/*.deals_main_menu ul li a:after{position:absolute;height:10px;content:'';background:#000;width:110%;top:69.2%;margin-left:10px;-webkit-transform:translateY(-5px);transform:translateY(-5px);}*/
/*.deals_main_menu ul li.nth_1:after{}*/


@media screen and (max-width:640px){
  /*.deals_main_menu{display:none;}*/
  .sub_nav{}
  .shoes_nav{margin-top:20px;}
  .sub_nav .sub_nav_pc{display:none;}
  .sub_nav .gnb_m{display:block;background:#000;position:fixed;right:-800px;top:0;width:100%;z-index:303;overflow:scroll;}
  .sub_nav .gnb_m>ul{margin:10px 5% 0 5%;height:102%;}
  .sub_nav .gnb_m>ul>li{border-right:none;float:none;margin:10px 0;}
  .sub_nav .gnb_m>ul>li>a{text-decoration:none;font-size:27px;line-height:1.1;font-family: 'Anton', sans-serif;;text-align:left;color:#fff;display:block;border:1px solid;padding:7px;}
  .sub_nav .gnb_m>ul>li.top_menu>a{border:none;font-size:37px;color:#08f;}
  .sub_nav .gnb_m>ul>li>a>em{font-size:17px;}
  .sub_nav .gnb_m>ul>li>ul{margin-left:30px;}
  .sub_nav .gnb_m>ul>li>ul>li{}
  .sub_nav .gnb_m>ul>li>ul>li>a{text-decoration:none;color:#000;font-size:17px;line-height:1.3;}
  .sub_nav .gnb_m>ul>p{font-size:50px;color:#fff;letter-spacing:15px;border-bottom:5px solid;width:40%;}
  .sub_nav .gnb_m>.gnb_close{display:block;position:absolute;right:0;top:12px;z-index:303;margin:0 5%;}
  .sub_nav .gnb_m>.gnb_close>img{width:50px;height:50px;}
  .sub_nav .gnb_open{display:block;position:fixed;right:-10px;top:2px;z-index:301;margin:0 5%;}
  .sub_nav .gnb_open img{width:40px;height:40px;}

  .deals_main_menu ul li{float:none;margin:0;position:relative;margin-top:-10px;}
  .deals_main_menu ul li a:after{display:none;}
  /*.deals_main_menu ul li.nth_1:after{position:absolute;height:7px;content:'';background:#000;width:70%;top:68%;-webkit-transform:translateY(-5px);transform:translateY(-5px);}*/
  /*.deals_main_menu ul li.nth_1 span{display:none;}*/
  .deals_main_menu ul li a{float:none;font-size:37px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .sub_nav{margin-top:175px;}
  .shoes_nav{margin-top:0px;}
  .sub_nav .sub_nav_pc{display:none;}
  .sub_nav .gnb_m{display:block;background:#000;position:fixed;right:-800px;top:0;width:60%;z-index:303;}
  .sub_nav .gnb_m>ul{margin:10px 0 0 5%;}
  .sub_nav .gnb_m>ul>li{border-right:none;float:none;}
  .sub_nav .gnb_m>ul>li>a{text-decoration:none;font-size:45px;line-height:1.1;font-family: 'Anton', sans-serif;;text-align:left;color:#fff;display:block;}
  /*.sub_nav .gnb_m>ul>li>a.active{color:#fff;font-weight:500;border-bottom:2px solid #fff;}*/
  .sub_nav .gnb_m>ul>li>a>em{font-size:17px;}
  .sub_nav .gnb_m>ul>li>ul{margin-left:30px;}
  .sub_nav .gnb_m>ul>li>ul>li{}
  .sub_nav .gnb_m>.gnb_close{display:block;position:absolute;right:0;top:12px;z-index:303;margin:0 5%;}
  .sub_nav .gnb_m>.gnb_close>img{width:50px;height:50px;}

  .sub_nav .gnb_open{display:block;position:fixed;right:5px;top:5px;z-index:301;margin:0 5%;}
  .sub_nav .gnb_open.on{display:none;}
  .sub_nav .gnb_open img{width:40px;height:40px;}

  .sub_nav .gnb_open_b{display:none;position:fixed;right:5px;top:40px;z-index:301;margin:0 5%;}
  .sub_nav .gnb_open_b.on{display:block;right:5px;top:5px;}
  .sub_nav .gnb_open_b img{width:40px;height:40px;}
  .sub_nav .gnb_kbg{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:301;}
}

/* Common Layout */
.common_layout{margin:45px 0 0 0;}
.common_layout .lt_cnt{float:left;width:290px;margin-right:2%;font-family: 'Montserrat', sans-serif;}
.common_layout .lt_cnt h2{color:#000;border-bottom:2px solid #616161;padding-bottom:3px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;}
.common_layout .lt_cnt img{width:100%;}
.common_layout .rt_cnt{float:left;width:73%;font-family: 'Montserrat', sans-serif;}
.common_layout .rt_cnt h2{color:#000;border-bottom:2px solid #616161;padding-bottom:3px;margin-bottom:10px;font-family: 'Montserrat', sans-serif;}
.common_layout .rt_cnt h2.for_m{display:none;}
.common_layout .rt_cnt p.for_m{font-weight:bold;color:#616161;display:none;}
.common_layout .lt_cnt .note{margin-bottom:20px;padding:0 17px;}
.common_layout .lt_cnt .note p{font-size:13px;color:#3d3d3d;}
.common_layout .lt_cnt .note>ul>li{list-style:circle;font-size:13px;color:#3d3d3d;padding:5px 0;}
.common_layout .lt_cnt .note>ul>li>a{color:#08f;text-decoration:none;}

@media screen and (max-width:640px){
  .common_layout{margin:0;}
  .common_layout .lt_cnt{float:none;width:100%;margin:0;}
  .common_layout .lt_cnt h2{font-size:15px;}
  .common_layout .lt_cnt .note{margin-bottom:10px;}
  .common_layout .lt_cnt img{}
  .common_layout .rt_cnt{float:none;width:100%;}
  .common_layout .rt_cnt h2{font-size:16px;display:none;}
  .common_layout .rt_cnt h2.for_m{margin-top:60px;display:block;}
  .common_layout .rt_cnt p.for_m{display:block;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .common_layout{margin:0;}
  .common_layout .lt_cnt{float:none;width:100%;margin:0 0 30px 0;}
  .common_layout .rt_cnt{float:none;width:100%;}
  .common_layout .lt_cnt .note{margin-bottom:10px;}
}

/* Youtube */
.overlay-video{display:none;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity: 0;-webkit-transition:opacity 600ms ease-in;transition:opacity 600ms ease-in;-webkit-transition:opacity .6s;transition:opacity .6s;position:fixed;top:0;left:0;height:100%;width:100%;background:rgba(0, 0, 0, 0.7);z-index:310;}
.o1{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;-webkit-transition: opacity 600ms ease-out;transition:opacity 600ms ease-out;-webkit-transition:opacity .6s;transition:opacity .6s;}
.videoWrapperExt{position:relative;top:50%;left:50%;-webkit-transform: translate(-50%, -50%);transform:translate(-50%, -50%);max-width: 982px;padding: 0 20px;}
.videoWrapper{position: relative;padding-bottom: 56.25%;/* 16:9 */height: 0;}
.videoWrapper iframe{position: absolute;top: 0;left: 0;width:100%;height:100%;}
.video_close{background-image: url(/assets/youtube_close.png);position: absolute;top: -50px;right: 0px;cursor: pointer;z-index: 9999;height: 40px;width: 40px;background-size: 40px;}

@media (max-width:640px) and (orientation: landscape) {
  .video_close{display:none;}
}

/* Input Form */
.input_wrap{margin:0 auto;margin-top:250px;}
.input_wrap .input_header{}
.input_wrap .input_header .input_header_box,
.input_wrap .input_body_left,
.input_wrap .input_body_right,
.input_wrap .input_header .input_image{float:left;width:45%;margin:25px 1%;}
.input_wrap input{width:100%;margin-bottom:20px;display:block;border:none;border-right:0px; border-top:0px; border-left:0px; border-bottom:1px solid;}
.input_wrap textarea{width:100%;height:100px;border:1px solid;}
.input_wrap .ib_comm{border:1px solid #ccc;padding:1%;}
.input_wrap .ib_comm .input_box{margin-bottom:20px;}
.input_wrap .ib_comm p{font-size:17px;background:#000;color:#fff;padding:3px;margin-bottom:5px;}
.input_wrap .input_footer{display:block;}

@media screen and (max-width:640px){
  .input_wrap{margin-top:60px;}
  .input_wrap .input_header .input_header_box,
  .input_wrap .input_body_left,
  .input_wrap .input_body_right,
  .input_wrap .input_header .input_image{float:none;width:100%;margin:0;}
}

/* Devise From */
.devise{background:#000;height:600px;padding-top:150px;}
.devise .box{background:#fff;width:50%;height:50%;margin:0 auto;padding:50px;}
.devise .box h2{margin-bottom:10px;}
.devise .box .form-inputs .input_box input{display:block;width:90%;height:20px;margin-bottom:20px;border:none;border-bottom:1px solid;}
.devise .box .form-inputs .remember_me input{margin-right:5px;}
.devise .box .form-actions{}
.devise .box .form-actions .btn{border:none;background:#000;color:#fff;padding:5px 20px;cursor:pointer;margin:20px 0;font-size:15px;} 
.devise .box .box_left{float:left;width:46%;margin:0 1.5%;border-right:1px solid;}
.devise .box .box_right{float:left;width:46%;margin:0 1.5%;}
.shared_links{}
.shared_links a{text-decoration:none;color:#000;}
.log_in {text-align:center;position:fixed;bottom:20px;margin:0 auto;right:20px;border-radius:50%;background:#000;padding:8px;box-shadow: 0px 0px 6px 1px #3d3d3d;}
.log_in a{text-decoration:none;color:#fff;}
.log_in .fa{font-size:20px;}

@media screen and (max-width:640px){
  .devise{padding-top:50px;}
  .devise .box{width:60%;}
  .devise .box .box_left{float:left;width:100%;margin:0 0 30px 0;border-right:none;}
  .devise .box .box_right{float:left;width:100%;margin:0;}
}

/*search*/
.search_box{float:left;width:100%;border:3px solid;}
.search_box input{font-size:35px;padding:10px;margin-left:20px;border:none;border-bottom:1px solid #ccc;width:97%;}
@media screen and (max-width:640px){
  .search_box{float:none;background:#000;}
  .search_box input{font-size:20px;padding:5px;margin:0;width:100%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .search_box input{font-size:20px;padding:5px;}
}

.translate{float:left;}

/* for pagination */
.pagination{margin-top:15px;}
.pagination a{font-size:20px;text-decoration:none;color:#000;margin:0 0.5%;}
.pagination a.next_page,.pagination a.previous_page{font-size:15px;}
.pagination .current{background:#000;color:#fff;font-size:30px;border:1px solid;padding:0 10px;}

/* For Footer Section */
.footer2{margin:50px 0 15px 0;width:100%;bottom:0;}
.footer2 ul{}
.footer2 ul li{float:left;margin-right:20px;}
.footer2 ul li a{text-decoration:none;color:#000;}
.footer2 .footer_up{display:block;border-top:1px solid #616161;padding:7px 0;}
.footer2 .footer_up ul li{border:1px solid;padding:1px 5px 2px 5px;}
.footer2 .footer_up ul li a{font-size:9px;}
.footer2 .footer_up ul li a img{width:20px;vertical-align:bottom;margin-right:3px;}
.footer2 .footer_down{border-top:4px solid #000;padding:5px 0;}

@media screen and (max-width:400px){
  .pagination a{margin:0 2%;}
  .footer2 .footer_up ul li a{font-size:8px;}
  .footer2 .footer_up ul li a img{width:17px;}
}
@media screen and (max-width:640px){
  .footer2{margin:30px 0 15px 0;}
  .footer2 .footer_up ul li{width:23%;margin:0 1%;padding:2px;}
  .footer2 .footer_down ul li{margin:0 10px 5px 0;}
}


/*About Us*/
.about_us{width:1000px;margin:120px auto 0 auto;font-family: 'Montserrat', sans-serif;}
.about_us .sections{margin-bottom:100px;border-bottom:1px solid #ccc;padding-bottom:10px;}
.about_us h2{margin-bottom:15px;color:#fff;background:#000;padding:7px 10px;border-radius:10px;display:inline-block;}
.about_us h3{padding:0 10px;margin-bottom:5px;}
.about_us p{padding:0 10px;margin-bottom:15px;line-height:25px;}
.about_us .headline{font-size:150px;font-weight:bold;margin-bottom:-18px;}
.about_us .headline em a{font-size:17px;color:#fff;}
.about_us .mission .under_head{margin-bottom:55px;}
.about_us .mission .left,
.about_us .mission .right{float:left;width:48%;margin:0 1%;}
.about_us .mission p span{font-size:50px;font-weight:bold;}
.about_us .works .works_box{float:left;width:31.33%;margin:15px 1% 0 1%;text-align:center;}
.about_us .bodyline{font-size:40px;font-weight:bold;}
.about_us .qna p{padding:0 20px;}
.about_us .qna a{font-size:25px;text-decoration:none;background:#08f;color:#fff;padding:5px 20px;margin-right:10px;float:right;border-radius:10px;}

@media screen and (max-width:640px){
  .about_us{width:100%;margin-top:100px;}
  .about_us .sections{margin-bottom:50px;}
  .about_us .headline{font-size:65px;margin-bottom:-10px;}
  .about_us .headline em a{font-size:25px;color:#fff;}
  .about_us h2{font-size:15px;}
  .about_us h3{padding:0;}
  .about_us p{margin-bottom:20px;}
  .about_us .mission .under_head{margin-bottom:30px;}
  .about_us .mission .left,
  .about_us .mission .right{float:none;width:100%;margin:0;}
  .about_us .qna p{padding:0;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .about_us{width:100%;margin-top:120px;}
}


/*Message Section*/
.message{margin-top:100px;}
.message table {border-collapse: collapse;width: 100%;}
.message th, td {padding: 8px;text-align: left;border-bottom: 1px solid #ddd;}
.message table tr th:nth-child(2){width:50%;}
.message table tr th:nth-child(3){width:150px;}
.message table tr td a{text-decoration:none;color:#000;}

/*Message Input Section*/
.contact_form{width:800px;margin:80px auto 0 auto;}
.contact_form input, .contact_form textarea{background:#fff;color:#000;margin-bottom:10px;line-height:1.5rem;padding:.5rem .8rem;width:100%;border:1px solid #616161;border-radius:10px;}
.contact_form input:focus, .contact_form textarea:focus{background:#fff;}
.contact_form .m_name, .contact_form .m_mail{width:48%;float:left;}
.contact_form .m_name{margin-right:2%;}
.contact_form .m_mail{margin-left:2%;}
.contact_form p{margin-bottom:10px;}
.contact_form .btn{width:100px;padding:5px 10px;background:#08f;color:#fff;border:1px solid transparent;border-radius:5px;}
.field_with_errors .error{position:absolute;top:193px;right:250px;color:red;}/* email validates */
#message_m_spare_02{margin-bottom:5px;background:#000;color:#fff;}

/*Message Show Section*/
.flash_message{width:1000px;margin:150px auto 50px auto;text-align:center;}
.flash_message h2{font-size:40px;}
.flash_message h3{font-size:25px;}
.comment_show{margin-top:100px;}
.comment_show p{margin:30px 0 20px 0;}
.comment_show a{text-decoration:none;background:#000;color:#fff;padding:5px 7px;border-radius:10px;display:inline-block;}


@media screen and (max-width:640px){
  .contact_form{width:100%;margin:70px 0 0 0;}
  .field_with_errors .error{top:172px;right:30px;}
  .flash_message{width:100%;margin:100px auto 0px auto;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .contact_form{width:100%;margin:70px 0 0 0;}
  .field_with_errors .error{top:172px;right:50px;}
  .flash_message{width:100%;margin:100px auto 0px auto;}
}

/* Error Page */
.errors_wrap{height:100vh;text-align:center;color:#fff;background:#000;font-family:"Helvetica Neue";font-size:16px;line-height:1.5;}
.errors_logo{width:500px;margin: 70px auto 20px auto;}
.errors_logo img{width:100%;}
.errors_ctn h1{font-size:24px;line-height:40px;margin:0 auto 16px;padding:0 20px;text-shadow:0 2px 4px rgba(0, 0, 0, 0.2);letter-spacing:0.5px;font-weight:600;max-width:600px;}
.errors_ctn p{color:#D6DCE0;font-weight:300;max-width:610px;margin:0 auto 24px;text-shadow:0 2px 3px rgba(0, 0, 0, 0.1);letter-spacing:0.5px;padding:0 20px;}
.errors_ctn p a{color:inherit;}
.errors_ctn p a:hover{color: #fff;}
.button{color:#2EA3F2;background:#fff;border-radius:3px;display:inline-block;padding:12px 48px;text-decoration:none;box-shadow:0 1px 2px rgba(0, 0, 0, 0.1);transition:all 0.2s ease-out;}
.button:hover{margin-top: -2px;box-shadow:0 6px 24px rgba(0, 0, 0, 0.4);}
.browser{width:400px;min-width:200px;min-height:264px;background:#FFFFFF;box-shadow:0 40px 80px 0 rgba(0, 0, 0, 0.25);border-radius:3px;animation:bobble 1.8s ease-in-out infinite;position:relative;left:50%;margin-left:-200px;}
.browser .controls{width:100%;height:32px;background:#E8ECEF;border-radius:3px 3px 0 0;box-sizing:border-box;padding:10px 12px;}
.browser .controls i{height:12px;width:12px;border-radius:100%;display:block;float:left;background:#D6DCE0;margin-right:8px;}
.eye{position:absolute;left:34%;top:80px;width:32px;height:32px;opacity:1;}
.eye + .eye{right:34%;left:auto;}
.eye:before, .eye:after{position:absolute;left:15px;content:' ';height:40px;width:3px;border-radius:2px;background-color:black;}
.eye:before{transform:rotate(45deg);}
.eye:after{transform:rotate(-45deg);}
.mouth{position:absolute;width:250px;top:178px;left:50%;margin-left:-125px;height:40px;}
.mouth .lips{position:absolute;left:15px;content:' ';height:40px;width:3px;border-radius:2px;background-color:black;transform:rotate(-54deg);}
.mouth .lips:nth-child(odd){transform:rotate(54deg);}
.mouth .lips:nth-child(n+2){margin-left:31px;}
.mouth .lips:nth-child(n+3){margin-left:62px;}
.mouth .lips:nth-child(n+4){margin-left:93px;}
.mouth .lips:nth-child(n+5){margin-left:124px;}
.mouth .lips:nth-child(n+6){margin-left:155px;}
.mouth .lips:nth-child(n+7){margin-left:186px;}
.mouth .lips:nth-child(n+8){margin-left:217px;}
.mouth .lips:nth-child(n+9){margin-left:248px;}

@keyframes bobble {
  0%, 100%{margin-top:40px;margin-bottom:48px;box-shadow:0 40px 80px rgba(0, 0, 0, 0.24);}
  50%{margin-top:54px;margin-bottom:34px;box-shadow:0 24px 64px rgba(0, 0, 0, 0.4);}
}
@media screen and (max-width:640px){
  .errors_logo{width:320px;}
  .errors_ctn h1{line-height:20px;font-size:17px;}
  .browser{width:280px;margin-left:-140px;}
  .browser .eye{left:30%;}
  .browser .eye + .eye{left:auto;right:30%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .errors_ctn h1{line-height:30px;}
}

/* Amazon Widget */  
 /* Amazon Search3 */
.amz_search{margin:7px 0;}
.amz_search div#amzn-native-ad-0 .amzn-native-header{display:none;}
.amz_search div#amzn-native-ad-0 div.amzn-native-category-trigger-area{background:#000;color:#fff;}
.amz_search div#amzn-native-ad-0 .amzn-native-search-bar .amzn-native-search-bar-content .amzn-native-search-bar-form-holder input.amzn-native-search-go{background:#000;color:#fff;}
.amz_search div#amzn-native-ad-0 .amzn-native-search-bar.amzn-native-search-bar-top .amzn-native-search-bar-content{width:100%;}
 /* Related Products */
.amzn-native-brand{display:none;}
/* End */



.set_search{}
.set_banner{float:left;width:33%;margin-right:2%;border:1px solid #aaa;border-radius:10px;box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);}
.set_banner .banner_box{float:left;width:48%;margin:1%;}
.set_banner .banner_box img{width:100%;border-radius:10px;border:1px solid #ccc;}
.set_search_box{float:left;width:63%;margin-left:2%;background:white;margin:0 auto 50px auto;border-radius:5px;box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);padding:25px;border:1px solid #aaa;}
.set_search_box h2{font-weight:300;margin:0 0 20px;}
.disable{display:none;}
/*.post-type, */.search-type, .coupon-type, .shipping-type, .fast-type{display:table;width:100%;/*table-layout:fixed;*/margin-bottom:20px;}
.post-type{}
/*.on_off{width:20%;}*/
.op_wrap{float:left;width:48%;margin:1%;}
.post-type input, .search-type input, .coupon-type input, .shipping-type input, .fast-type input{display:none;}
.post-type input:checked + label, .search-type input:checked + label, .coupon-type input:checked + label, .shipping-type input:checked + label, .fast-type input:checked + label{background:#08f;color:#fff;}
/*.post-type label, */.search-type label, .coupon-type label, .shipping-type label, .fast-type label{display:table-cell;padding:10px;text-align:center;border:1px solid #e3e3e3;border-left:none;cursor:pointer;}
.swich_on{border-top-right-radius:10px;border-bottom-right-radius:10px;}
.swich_off{border-top-left-radius:10px;border-bottom-left-radius:10px;}
/*.post-type label{float:left;width:20%;padding:10px;border:1px solid #ccc;}*/
/*.post-type label:first-of-type, */.search-type label:first-of-type, .coupon-type label:first-of-type, .shipping-type label:first-of-type, .fast-type label:first-of-type{border-left:1px solid #e3e3e3;}
.field {padding:15px 0;overflow:hidden;}
.field span.label{width:20%;float:left;padding:10px 10px;}
.field input, .field select{width:50%;float:left;padding:14px 10px;border:1px solid #e3e3e3;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:10px;background:#fff;color:#616161;font-size:14px;}
.field .custom-time{padding-left:40%;padding-top:10px;clear:both;}
.field .custom-time select, .field .custom-time input{float:left;width:45%;}
.field .custom-time select {margin-right:5%;}
.down_ct{overflow:visible;}
.text-center {padding-top:30px;text-align:right;}
.set_search_box button{width:40%;background:#08f;border:none;padding:15px 30px;color:#fff;font-weight:500;font-size:20px;border-radius:10px;}
.search_dropdown{display:inline-block;}

.reset_set{}
.reset_set a{border:1px solid #ccc;padding:10px 50px;color:#616161;border-radius:10px;margin-left:1%;}

/* DropDown Categories */
.container_set{}
/*Styling Selectbox*/
.dropdown_set{width:365px;display:inline-block;background-color:#fff;border-radius:10px;border:1px solid #e3e3e3;transition:all .5s ease;position:relative;font-size:14px;color:#616161;height:100%;text-align:left;}
.dropdown_set:focus{outline:0;}
.dropdown_set .select{cursor:pointer;display:block;padding:12px;}
.dropdown_set .select > i{font-size:13px;color:#888;cursor:pointer;transition:all .3s ease-in-out;float:right;line-height:20px;}
.dropdown_set:hover{box-shadow:0 0 4px rgb(204, 204, 204);}
.dropdown_set:active{background-color:#f8f8f8;}
.dropdown_set.active:hover,
.dropdown_set.active{box-shadow:0 0 4px rgb(204, 204, 204);border-radius:5px 5px 0 0;background-color:#f8f8f8;}
.dropdown_set.active .select > i{transform:rotate(-90deg);}
.dropdown_set .dropdown-menu{position: absolute;background-color:#fff;width:100%;left:0;margin-top:1px;box-shadow:0 1px 2px rgb(204, 204, 204);border-radius:0 1px 5px 5px;overflow:hidden;display:none;max-height:300px;overflow-y:auto;z-index:50;}
.dropdown_set .dropdown-menu li{padding: 10px;transition:all .2s ease-in-out;cursor: pointer;} 
.dropdown_set .dropdown-menu{padding: 0;list-style:none;}
.dropdown_set .dropdown-menu li:hover{background-color: #f2f2f2;}
.dropdown_set .dropdown-menu li:active{background-color:#e2e2e2;}


@media screen and (max-width:640px){
  .op_wrap{float:none;width:100%;margin:0;}
  .set_search_box{width:100%;margin-bottom:0;}
  .set_search_box button{width:100%;} 
  .field span.label{width:100%;float:none;padding:0;}
  .field input, .field select{width:100%;float:none;}
  .field .custom-time{padding:10px 0 0 0;}
  .field .custom-time select, .field .custom-time input{width:48%;margin:0 1% 0 1%;}
  .dropdown_set{width:100%;}

  .set_banner{display:none;float:none;width:100%;margin:0 0 20px 0 ;}
}
@media screen and (min-width:641px) and (max-width:1199px){
}







