/* for loading page
.loading {position:fixed;height:100%;width:100%;top: 10px;left: 0;background: #000;transition: .75s;z-index: 310;}
.loading-title {color: #fff;margin: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);font-size:100px;}
.loading-progress {height: 11px;background: #000;top: -11px;bottom: 0;width: 100%;position: absolute;transition: .35s;
}
*/

/* Sub Menu */
.cu_sub_nav{margin-top:270px;font-family: 'Montserrat', sans-serif;}
.cu_sub_nav ul{}
.cu_sub_nav ul>li{float:left;width:250px;text-align:center;}
.cu_sub_nav ul>li>a{text-decoration:none;color:#3d3d3d;display:block;font-size:25px;}
.cu_sub_nav ul>li>a.active{color:#000;font-weight:500;border-bottom:2px solid;}

@media screen and (max-width:640px){
  .cu_sub_nav{margin:75px 0 -10px 0;}
  .cu_sub_nav ul>li{float:left;width:50%;text-align:center;}
  .cu_sub_nav ul>li>a{font-size:16px;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .cu_sub_nav{margin:180px 0 -20px 0;}
}

/* Current Location */
.location{margin-top:260px;}
.location .inner{background:url(/assets/location.png)left center no-repeat;}
.location .inner a{text-decoration:none;color:#000;margin:0 10px;}
.location .inner span a{margin-left:25px;}

@media screen and (max-width:640px){
  .location{display:none;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .location{margin-top:180px;}
  .location .inner{padding:5px 0;}
  .location .inner a{font-size:11px;}
  .location .inner span a{font-size:11px;}
}


/* Begin Featured Main Page */
.featured{margin:-20px 0 0 0;}
.featured .sm_pc.on{position:fixed;top:70px;width:290px;}
.featured .sm_pc .search_bar{position:relative;margin-top:20px;border:1px solid #ccc;}
.featured .sm_pc .search_bar .form-control{padding:5px 0;width:80%;border:none;}
.featured .sm_pc .search_bar img{position:absolute;top:3px;right:5px;}
/*.featured .sm_pc .filter-search{margin-top:10px;padding:5px 10px;}*/
.featured .sm_pc .filter-search li{margin:5px 0;text-align:center;}
.featured .sm_pc .filter-search li a{text-decoration:none;}
.featured .sm_pc .filter-button{font-family: 'Anton', sans-serif;line-height:1.1;font-size:45px;color:#000;width:100%;}
/*.featured .sm_pc .filter-button:hover{background:#fff;color:#000;}*/

.featured .filter-group{column-count:2;column-gap:15px;}
.featured .filter-group .filter-node{display:inline-block;box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);padding:15px 10px;margin-bottom:20px;}
.featured .filter-group .filter-node .inner{font-family:'Montserrat', sans-serif;font-weight:100;}
.featured .filter-group .filter-node .inner a{text-decoration:none;color:#616161;}
.featured .filter-group .filter-node .inner img{width:100%;margin-bottom:5px;-webkit-filter: grayscale(100%);filter: gray;}
.featured .filter-group .filter-node .inner img:hover{-webkit-filter: grayscale(0%);filter: none;}
.featured .filter-group .filter-node .inner em{color:#616161;text-transform:uppercase;font-size:15px;border-bottom:1px solid #ccc;display:block;width:30%;}
.featured .filter-group .filter-node .inner h3{font-size:26px;margin:5px 0;line-height:1.2;font-weight:100;}
.featured .filter-group .filter-node .inner p{margin-bottom:10px;border-left:5px solid rgba(0, 153, 102, 0.3);padding:10px;}
.featured .filter-group .filter-node.filter-me {opacity:0 !important;visibility:hidden;position:absolute;top:2000px;}/*Do not touch*/
.featured .filter-group .filter-node .btn{margin:20px 0;display:inline-block;}
.featured .filter-group .filter-node .btn>em{float:left;font-size:10px;background:#000;color:#fff;padding:3px 20px;border:1px solid #000;line-height:15px;}
.featured .filter-group .filter-node .btn>a{float:left;text-decoration:none;color:#000;font-size:10px;border:1px solid #000;padding:3px 20px;line-height:15px;}
.featured .filter-group .filter-node .admin>em>a{text-decoration:none;color:#fff;}
.featured .gnb_open, .featured .gnb_close, .featured .sm_mobile{display:none;}

@media screen and (max-width:640px){
	.featured{margin:15px 0 0 0;}
  .featured .deal h2{display:none;}
	.featured .sm_pc{display:none;}
  .featured .most_pc{display:block;}
	.featured .sm_mobile{display:block;height:200px;background:#000;position:fixed;right:-800px;top:0;width:80%;z-index:303;}
	.featured .gnb_open{display:block;position:fixed;right:0;top:2px;z-index:301;margin:0 5%}
	.featured .gnb_open img{width:40px;height:40px;}
	.featured .gnb_close{display:block;position:absolute;right:0;top:12px;z-index:303;margin:0 5%;}
	.featured .gnb_close img{width:40px;height:40px;}
	.featured .gnb_kbg{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,0.5);z-index:301;}
	
	/*.featured .filter-search{margin:10px 0 0 5%;}*/
	.featured .filter-search .filter-button{font-family: 'Anton', sans-serif;color:#fff;font-weight:bold;padding:0;font-size:35px;text-transform:uppercase;line-height:1.1;}
	.featured .featured_left, .featured .featured_right{float:none;width:100%;margin:0;}
	
  .featured .filter-group{column-count:1;column-gap:0;}
	.featured .filter-group .filter-node .inner a h3{font-size:15px;line-height:1.4;height:auto;overflow:visible;}
}

@media screen and (min-width:641px) and (max-width:1199px){
	.featured{margin:0;}
	.featured .lt_cnt{float:left;width:28%;margin:0 2% 30px 0;}
	.featured .rt_cnt{float:left;width:70%;}
  .featured .sm_pc.on{width:25.3%;}
  .featured .sm_pc .filter-search{padding:3px 10px;}
  .featured .sm_pc .filter-button{font-size:27px;}
  .featured .filter-group .filter-node .inner h3{font-size:15px;}
	.featured .filter-group .filter-node .inner em{font-size:10px;}
	.featured .filter-group .filter-node .inner a h3{font-size:15px;}
}
/* End Featured Main Page */

/* Begin Featured Detail Page */
.cu_wrap{margin-top:80px;font-family: 'Montserrat', sans-serif;}
.cu_wrap .detitle{}
.cu_wrap .detitle h2{font-size:30px;display:inline;border-bottom:0.4em solid rgba(0,168,225,0.2);position:relative;}
.cu_wrap .detitle h2 span{position:relative;top:0.4em;}
.cu_wrap .detitle p{color:#616161;margin:10px auto;}
.cu_wrap .detitle .tit_int{text-align:center;padding:60px;border:1px solid #ccc;}
.cu_wrap .detitle .tit_int h2{}
.cu_wrap .detitle .post_date{display:block;margin-top:10px;}
.cu_wrap .detitle .post_date em{margin-left:10px;}
.cu_wrap .detitle .trial{}
.cu_wrap .detitle .trial a{background:#08f;color:#fff;padding:10px;}
.cu_wrap .detitle .admin a{text-decoration:none;color:#3d3d3d;margin-left:15px;}
.cu_wrap .cu_box{margin:50px 0;border-bottom:1px solid #ccc;padding-bottom:50px;}
.cu_wrap .num{float:left;width:200px;text-align:center;}
.cu_wrap .num>p{font-size:100px;border-bottom:1px solid #3d3d3d;display:inline-block;line-height:1;}
.cu_wrap .pic{float:left;width:450px;height:300px;margin-right:40px;position:relative;}
.cu_wrap .pic .start{position:absolute;top:10px;right:10px;}
.cu_wrap .pic .start img{width:50px;}
.cu_wrap .pic>a>img{width:100%;height:100%;object-fit:contain;}
.cu_wrap .inner{float:left;width:500px;color:#616161;}
.cu_wrap .inner>strong{font-size:26px;display:block;line-height:1.2;font-weight:100;}
.cu_wrap .inner>strong>span{display:none;}
.cu_wrap .inner>span{display:inline-block;border-bottom:1px solid #ccc;margin:15px 0;}
.cu_wrap .inner>p{border-bottom:1px solid #ccc;padding-bottom:20px;}
.cu_wrap .inner>address{margin-top:-20px;}
.cu_wrap .inner .btn{margin-top:20px;display:inline-block;}
.cu_wrap .inner .btn>em{float:left;font-size:20px;background:#000;color:#fff;padding:3px 20px;border:1px solid #000;line-height:30px;}
.cu_wrap .inner .btn>a{float:left;text-decoration:none;color:#000;font-size:20px;border:1px solid #000;padding:3px 20px;line-height:30px;}

.show_more_wrapper{margin-bottom:50px;}
.show_more_box h2{margin-bottom:5px;}
.show_more_ctn{float:left;width:31.33%;height:auto;margin:0 1% 95px 1%;font-family: 'Montserrat', sans-serif;}
.show_more_ctn a{text-decoration:none;color:#3d3d3d;}
.show_more_ctn img{width:100%;height:300px;object-fit:cover;}
.show_more_ctn em{border-bottom:1px solid #ccc;width:40%;display:block;text-transform:uppercase;}
.show_more_ctn h3{margin:7px 0 0 0;/*line-height:1.4;height:2.8em;*/overflow:hidden;font-weight:100;color:#616161;font-size:18px;line-height:1.3;}
.show_more_ctn p{border-left:5px solid rgba(0,153,102,0.3);padding:10px;}

@media screen and (max-width:640px){
  .cu_wrap{margin-top:60px;}
  .cu_wrap .detitle{margin:0 0 30px 0;color:#000;width:100%;}
  .cu_wrap .detitle h2{font-size:20px;}
  .cu_wrap .detitle p{width:100%;}
  .cu_wrap .detitle .tit_int{padding:25px;}
  .cu_wrap .cu_box{margin:0;padding-bottom:30px;}
  .cu_wrap .num{display:none;}
  .cu_wrap .pic{float:none;width:100%;margin-right:0;}
  .cu_wrap .pic>a>img{width:100%;}
  .cu_wrap .inner{float:none;width:100%;margin-top:10px;}
  .cu_wrap .inner>strong{font-size:17px;}
  .cu_wrap .inner>strong>span{display:inline-block;}
  .cu_wrap .inner>span{margin:10px 0;}
  .cu_wrap .inner>p{padding-bottom:10px;margin-bottom:0;border:none;}
  .cu_wrap .inner .btn{margin:10px 0;}
  .cu_wrap .inner .btn>em,
  .cu_wrap .inner .btn>a{font-size:20px;padding:3px 20px;line-height:30px;}

  .show_more_ctn{float:none;width:100%;height:auto;margin:0 0 30px 0;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .cu_wrap{margin-top:75px;}
  .cu_wrap .detitle{margin:0 0 50px 0;text-align:center;width:100%;}
  .cu_wrap .detitle h2{font-size:25px;}
  .cu_wrap .detitle p{width:70%;}
  .cu_wrap .detitle .tit_int{padding:30px;}
  .cu_wrap .cu_box{margin-bottom:50px;}
  .cu_wrap .num{width:10%;}
  .cu_wrap .num>p{font-size:50px;}
  .cu_wrap .pic{float:left;width:45%;margin-right:2%}
  .cu_wrap .pic>img{width:100%;}
  .cu_wrap .pic .start img{width:35px;}
  .cu_wrap .inner{float:left;width:43%;}
  .cu_wrap .inner>strong{font-size:17px;}
  .cu_wrap .inner>span{margin:5px 0;}
  .cu_wrap .inner>p{padding-bottom:10px;margin-bottom:0;}
  .cu_wrap .inner>.btn{margin:10px 0;}
  .cu_wrap .inner>.btn>em,
  .cu_wrap .inner>.btn>a{float:left;font-size:17px;line-height:20px;}
  .show_more_ctn{float:left;width:31.33%;margin:0 1% 30px 1%;}
  .show_more_ctn h3{font-size:13px;}
  .show_more_ctn img{width:100%;height:170px;object-fit:cover;}
}
/* End Featured Detail Page */


/* Begin Gift Guide Main Page */

.guide_wrap{margin:50px 0 0 0;font-family: 'Montserrat', sans-serif;} 
/*.guide_nav{margin-left:100px;}*/
/*.guide_wrap{width:1000px;margin:0 auto;}*/
.guide_wrap .mt_info{margin:-40px 0 40px 0;padding:0 10px;color:#000;}
.guide_wrap .mt_info h2{display:inline-block;}
.guide_wrap .mt_info h2 span{color:#08f;}
.guide_wrap .mt_info p{font-size:13px;}
.guide_wrap .mt_info em{display:inline-block;float:right;}
.guide_wrap .mt_info em a{text-decoration:none;color:#000;}
.guide_wrap .guide_box{float:left;width:31.33%;margin:0 1% 70px 1%;}
.guide_wrap .guide_box .image{height:250px;}
.guide_wrap .guide_box .image img{width:100%;height:100%;}
.guide_wrap .guide_box .inner{}
.guide_wrap .guide_box .inner p{font-size:20px;display:block;line-height:1.2;height:3.6em;overflow:hidden;margin:10px 0 40px 0;}
.guide_wrap .guide_box .inner p a{text-decoration:none;color:#000;}
.guide_wrap .guide_box .inner span{margin:5px 0 15px 0;display:block;font-size:13px;color:#616161;border-bottom:1px solid #616161;width:60%;}
.guide_wrap .guide_box .inner span em{margin-left:10px;}
.guide_wrap .guide_box .inner .btn{text-decoration:none;background:#000;color:#fff;padding:10px 20px;}

.guide_wrap .guide_boxes{margin:50px 0;border-bottom:1px solid #ccc;padding-bottom:30px;}
.guide_wrap .guide_boxes .box_img{float:left;width:48%;margin:0 1%;}
.guide_wrap .guide_boxes .box_img a ul{}
.guide_wrap .guide_boxes .box_img a ul li{float:left;width:31.33%;margin:0 1%;}
.guide_wrap .guide_boxes .box_img a ul li img{width:100%;} 
.guide_wrap .guide_boxes .box_inner{float:left;width:48%;margin:0 1%;border:5px solid;height:170px;}
.guide_wrap .guide_boxes .box_inner a{;color:#000;}
.guide_wrap .guide_boxes .box_inner a p{font-size:40px;font-weight:700;padding:10px;line-height:1.1;}

@media screen and (max-width:640px){
  .guide_wrap{margin-top:15px;}
  .guide_wrap .mt_info{margin:-10px 0 15px 0;padding:0 5px;}
  .guide_wrap .mt_info h2{font-size:17px;}
  .guide_wrap .mt_info p{font-size:11px;}
  .guide_wrap .guide_boxes{margin:50px 0;border-bottom:1px solid #ccc;padding-bottom:30px;}
  .guide_wrap .guide_boxes .box_img{float:left;width:100%;margin:0%;}
  .guide_wrap .guide_boxes .box_inner{float:left;width:100%;margin:0%;border:5px solid;height:auto;}
  .guide_wrap .guide_boxes .box_inner a:hover{text-decoration:none;}
  .guide_wrap .guide_boxes .box_inner a p{font-size:30px;}
}

@media screen and (min-width:641px) and (max-width:1199px){ 
  .guide_wrap .guide_boxes .box_inner{height:auto;}
  .guide_wrap .guide_boxes .box_inner a:hover{text-decoration:none;}
  .guide_wrap .guide_boxes .box_inner a p{font-size:30px;}
}
/* End Gift Guide Main Page */

/* For .gift_guide_show */
.guide_header{width:1000px;margin:120px auto 50px auto;font-family:'Montserrat', sans-serif;}
.guide_header h2{font-size:35px;width:50%;line-height:1.3;border-top:2px solid;border-bottom:2px solid;padding:10px 0;font-weight:900;}
.guide_header h2.pink{color:pink;}
.guide_show_header{width:1000px;margin:0 auto;text-align:center;}
.guide_show_header span{padding:80px;display:block;border-top:1px solid #ccc;border-right:1px solid #ccc;border-left:1px solid #ccc;font-size:40px;}
.guide_location{width:1000px;margin:70px auto 0 auto;}
.recommend_location{width:1200px;}
.guide_location ul{}
.guide_location ul li{float:left;margin-right:10px;}
.guide_location ul li a{text-align:left;display:block;text-decoration:none;color:#ccc;font-size:13px;}
.guide_location ul li.last a{color:#000;}
.guide_location ul li a em{margin-left:10px;}
.guide_show{font-family: 'Montserrat', sans-serif;width:1000px;margin:0 auto 100px auto;}
.shoes_wrap{margin-top:35px;}
.guide_show .group:before,
.guide_show .group:after{content:'';display:block;}
.guide_show .group:after{clear:both;}
.guide_show .column{float:left;width:25%;transition:0.3s;border-top:1px solid #ccc;border-left:1px solid #ccc;padding:20px;}
.guide_show .column_box .last_box{border-right:1px solid #ccc;}
.guide_show .last_column_box .column{border-bottom:1px solid #ccc;}
.guide_show .shoes_column{float:left;width:20%;transition:0.3s;}
.guide_show .column:hover{box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);cursor:pointer;}
.guide_show .column img{width:100%;height:250px;object-fit:cover;}
.guide_show .shoes_column img{object-fit:contain;padding:10px;}

.guide_show .modal{overflow:scroll;background-color:white;position:fixed;left:0;top:-500%;height:100%;width:100%;transition:top 0.6s ease-in-out;z-index:500;}
.guide_show .show{top:0;}
.guide_show .modal-content{height:100%;width:90%;margin:90px auto 0 auto;padding:0;position:relative;}
.guide_show .close{color:black;font-size:60px;font-weight:bold;position:absolute;top:0;right:10px;z-index:2;}
.guide_show .shoes_close{top:-50px;}
.guide_show .close:hover,
.guide_show .close:focus {color: #999;cursor: pointer;text-decoration: none;}
.guide_show .slides {height:100%;width:100%;position:absolute;left:0;right:0;z-index: 1;}
.guide_show .slides .inner_wrap{margin-top:270px;}
.guide_show .slides .shoes_wrap{margin-top:200px;}
.guide_show .slides .inner_wrap .img_box{float:left;width:45%;height:300px;margin:-170px 3% 0 2%}
.guide_show .slides .inner_wrap .img_box img{width:100%;height:100%;object-fit:contain;}
.guide_show .slides .inner_wrap .inner{float:left;width:46%;margin-top:-170px;}
.guide_show .slides .inner_wrap .inner h2{line-height:1.2;font-weight:900;}
.guide_show .slides .inner_wrap .inner h2 a{text-decoration:none;color:#000;}
.guide_show .slides .inner_wrap .inner h2 a:hover{text-decoration:underline;}
.guide_show .slides .inner_wrap .inner strong{font-size:14px;color:#ccc;font-weight:100;text-transform:uppercase;}
.guide_show .slides .inner_wrap .inner .pricing{margin-top:30px;}
.guide_show .slides .inner_wrap .inner .description{}
.guide_show .slides .inner_wrap .inner .pricing p{font-weight:bold;font-size:20px;display:block;margin-bottom:20px;}
.guide_show .slides .inner_wrap .inner .color{margin-bottom:0;font-weight:400;font-size:15px;color:#616161;}
.guide_show .slides .inner_wrap .inner .size{font-weight:400;font-size:15px;color:#616161;margin-bottom:50px;}
.guide_show .slides .inner_wrap .inner .btn{margin-top:10%;display:block;}
.guide_show .slides .inner_wrap .inner .btn a {text-decoration:none;background:#000;color:#fff;padding:15px 35px;margin-top:30px;font-weight:bold;}
.guide_show .slides .inner_wrap .inner .btn a span{color:#08f;margin-left:5px;text-transform:uppercase;}
.guide_show .slides .inner_wrap .inner .notes{margin-top:15px;}
.guide_show .slides .inner_wrap .inner .notes h5{font-weight:400;color:#616161;}
.guide_show .slides .inner_wrap .shoes_inner address{font-size:13px;color:#616161;margin:-8px 0 25px 0;}
.guide_show .hide {opacity: 0; z-index: -1;}
.guide_show .pop {opacity: 1; z-index: 1;}
.guide_show .cursor {cursor: pointer}
.guide_show .prev,
.guide_show .next{background-color:rgba(0,0,0,0.4);color:white;cursor:pointer;position:absolute;margin-top:20%;padding:16px;font-weight:700;font-size:20px;transition: 0.6s ease;user-select:none;-webkit-user-select:none;z-index:1;}
.guide_show .next{right:0;}
.guide_show .prev:hover,
.guide_show .next:hover {background-color: rgba(0,0,0,0.9);}
.guide_show .numbering{color: black;font-size: 18px;padding: 8px 12px;position: absolute;top: 0; width: 100%; text-align: center;}
.guide_show .shoes_numbering{top:-80px;}

@media screen and (max-width:640px){
  .shoes_wrap{margin-top:50px;}
  .guide_header{margin:80px 0 20px 0;}
  .guide_header h2{font-size:25px;width:100%;}
  .guide_show_header{width:100%;}
  .guide_show_header span{border-bottom:1px solid #ccc;padding:60px;}
  .guide_show{width:100%;}
  .guide_show .flex{display:block;align-items:center;justify-content:center;}
  .guide_show .column_box .last_box, .guide_show .last_column_box .column{border:none;}
  .guide_show .column{width:48%;border:none;padding:0;margin:0 1% 25px 1%;box-shadow:0 4px 11px 0 rgba(221,221,221,.5);}
  .guide_show .column:hover{box-shadow: 0 0 0;}
  .guide_show .column img{height:175px;border-radius:10px;}
  .guide_show .shoes_column img{object-fit:contain;}
  .guide_show .close{right:-20px;}
  .guide_show .modal-content{margin:50px auto 0 auto;}
  .guide_show .slides .shoes_wrap{margin-top:315px;}
  .guide_show .slides .inner_wrap .img_box{float:none;width:100%;height:auto;margin:0;margin-top:-200px;}
  .guide_show .slides .inner_wrap .inner{float:none;width:100%;margin-top:20px;}
  .guide_show .slides .inner_wrap .shoes_inner{margin-top:50px;}
  .guide_show .slides .inner_wrap .inner a {text-decoration:none;/*background:#000;color:#fff;padding:10px 25px;*/margin-top:30px;font-weight:bold;/*width:66%;*/}
  .guide_show .prev, .guide_show .next{margin:60% -8% 0 -8%;}
}
@media screen and (min-width:641px) and (max-width:1199px){
 .guide_header{margin:80px 0 30px 0;}
 .guide_header h2{font-size:40px;width:60%;}
 .guide_show_header{width:100%;}
 .guide_show{width:100%;}
 .guide_show .column{float:left;width:33.3333%;border:1px solid #ccc;}
 .guide_show .column:hover{box-shadow:0,0,0;}
 .guide_show .column img{height:250px;}
 .guide_show .shoes_column{width:25%;margin:0;}
 .guide_show .shoes_column img{height:200px;}
 .guide_show .close{right:-40px;}
 .guide_show .prev, .guide_show .next{margin:30% -8% 0 -8%;}
 .guide_show .slides .inner_wrap .inner .btn a{padding:10px 15px;}
}

/* Begin Editor's Pick Main Page */
.editor{margin:30px 0 0 0;} 
.editor .rt_cnt{}
.editor .rt_cnt .card_wrap{column-width:270px;column-gap:15px;}
.editor .rt_cnt .card_wrap .card{display: inline-block;border:1px solid rgba(0,0,0,0.2);margin:0;margin-bottom: 15px;padding:10px;/*box-shadow: 1px 1px 3px rgba(0,0,0,0.5);*/}
.editor .rt_cnt .card_wrap .card a{text-decoration:none;color:#000;display:block;}
.editor .rt_cnt .card_wrap .card a h3{color:#000;padding:10px;line-height:1.4;font-weight:300;}
.editor .rt_cnt .card_wrap .card p{margin:5px 0;border-left:5px solid rgba(0, 153, 102, 0.3);padding:10px;}
.editor .rt_cnt .card_wrap .card em{display:block;color:#858585;font-size:13px;border-bottom:1px solid #ccc;padding-bottom:5px;}
.editor .rt_cnt .card_wrap .card .card_bottom{display:inline-block;position:relative;}
.editor .rt_cnt .card_wrap .card .card_bottom a{color:#858585;font-size:13px;padding:3px 0;}
.editor .rt_cnt .card_wrap .card .card_bottom img{position:absolute;top:5px;right:-30px;width:25px;height:20px;}

@media screen and (min-width:641px) and (max-width:1199px){
  .editor .lt_cnt{float:left;width:28%;margin:0 2% 30px 0;}
  .editor .rt_cnt{float:left;width:70%;}
  .editor .rt_cnt .card_wrap{column-width:200px;column-gap:15px;}
}
/* End Editor's Pick Main Page */

/* Begin Editor's Pick Detail Page */
.edtor_detail{margin-top:40px;}
.edtor_detail .left{float:left;width:31.33%;margin:0 1%;}
.edtor_detail .left .inner_wrap{color:#000;}
.edtor_detail .left .inner_wrap .inner{border-top:2px solid;border-bottom:2px solid;padding-bottom:20px;text-align:left;width:60%;line-height:1.3;}
.edtor_detail .left .inner_wrap .inner strong{font-size:50px;font-weight:500;}
.edtor_detail .left .inner_wrap .inner p{font-size:25px;font-weight:500;}
.edtor_detail .left .inner_wrap .inner em{font-size:25px;font-weight:500;}
.edtor_detail .left .inner_wrap2{margin:20px 0 0 0;border:2px solid;padding:10px;color:#000;}
.edtor_detail .left .inner_wrap2 h2{line-height:1.2;margin-bottom:10px;}
.edtor_detail .left .inner_wrap2 p{border-left:5px solid rgba(0, 153, 102, 0.3);padding:10px;}

.edtor_detail .card_wrap{column-width:270px;column-gap:15px;}
.edtor_detail .card_wrap .card{display: inline-block;margin:0;margin-bottom:20px;}
.edtor_detail .card_wrap .card em{border-bottom:1px solid #3d3d3d;display:block;text-align:right;font-weight:400;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.edtor_detail .card_wrap .card p{border-bottom:1px solid #ccc;padding-bottom:5px;padding:15px 0;}
.edtor_detail .card_wrap .card .mid_image{margin:5px 0 10px 0;}
.edtor_detail .card_wrap .card .mid_image img{width:100%;/*-webkit-filter: grayscale(100%);filter: gray;*/}
.edtor_detail .card_wrap .card .mid_image img:hover{-webkit-filter:grayscale(0%);filter:none;}
.edtor_detail .card_wrap .card .btn{margin:5px 0;display:inline-block;}
.edtor_detail .card_wrap .card .btn>em{float:left;font-size:13px;background:#000;color:#fff;padding:3px 20px;border:1px solid #000;line-height:20px;}
.edtor_detail .card_wrap .card .btn>a{float:left;text-decoration:none;color:#000;font-size:13px;border:1px solid #000;padding:3px 20px;line-height:20px;}

@media screen and (max-width:640px){
  .edtor_detail{margin-top:100px;}
  .edtor_detail .left{float:none;width:100%;margin:0;}
  .edtor_detail .left .inner_wrap .inner{border-top:none;border-bottom:none;padding-bottom:0;text-align:left;width:auto;}
  .edtor_detail .left .inner_wrap .inner strong{font-size:15px;font-weight:400;display:inline-block;}
  .edtor_detail .left .inner_wrap .inner p{font-size:15px;font-weight:400;display:inline-block;}
  .edtor_detail .left .inner_wrap .inner em{font-size:15px;font-weight:400;display:inline-block;}
  .edtor_detail .left .inner_wrap2{margin:1px 0 30px 0;border:2px solid;padding:10px;}
  .edtor_detail .left .inner_wrap2 h2{line-height:1.2;margin-bottom:10px;}
  .edtor_detail .card_wrap{float:none;width:100%;margin:0;}
  .edtor_detail .card_wrap .card{margin-bottom:20px;}
  .edtor_detail .card_wrap .card em{border-bottom:1px solid #3d3d3d;display:block;text-align:right;font-weight:400;}
  .edtor_detail .card_wrap .card .mid_image{margin:5px 0 10px 0;}
  .edtor_detail .card_wrap .card .mid_image img{width:100%;filter:none;}
}

@media screen and (min-width:641px) and (max-width:1199px){
  .edtor_detail{margin-top:20px;}
  .edtor_detail .left{float:left;width:28%;margin:0 2% 30px 0;}
  /*.edtor_detail .card_wrap{float:left;width:70%;column-width:200px;column-gap:15px}*/
  .edtor_detail .card_wrap{float:left;width:100%;column-width:300px;column-gap:15px}
  .edtor_detail .card_wrap .card .mid_image img{width:100%;filter:none;}
  .giftail .card_wrap .card .btn>em,
  .giftail .card_wrap .card .btn>a{font-size:12px;}
}
/* End Editor's Pick */

/* Begin Promotion */
.promotions{font-family: 'Montserrat', sans-serif;color:#616161;}
.promotions .featured .sm_pc .guide_controll button{float:left;width:70px;line-height:60px;}
.promotions .featured .sm_pc .guide_controll button.top_10{width:123px;}
.promotions .featured .sm_pc .most_rev button{width:145px;}
.promotions .featured .sm_pc .most_rev button.reviewed{width:121px;}
.promotions .featured .sm_pc .most_rev button.btn-primary{width:50px;margin-left:50px;}
.promotions .featured .sm_pc .amzpromo button{width:145px;}
.promotions .featured .sm_pc .amzpromo button.others{width:110px;margin:0 0.5% 0 0;}
.promotions .featured .sm_pc .amzpromo button.reviewed{width:80px;}
.promotions .featured .sm_pc .amzpromo button.btn-primary{width:50px;margin-left:20px;}
.promotions .featured .sm_mobile .guide_controll p{font-size:40px;color:#fff;}
.promotions .featured .sm_mobile .guide_controll button{float:none;width:100%;text-align:left;font-size:40px;}
.promotions .guide_controll{background:#000;}
.promotions .guide_controll .btn{font-size:19px;margin:0 0.5%;color:#fff;}
.promotions .guide_controll .form-control{margin:10px 0;width:335px;padding:5px;line-height:25px;margin-left:35px;}
.promotions .guide_controll p{font-size:40px;color:#fff;}
.promotions .promotion_box{float:left;width:31.3333%;height:450px;margin:0 1% 2% 1%;border:1px solid;position:relative;}
.promotions .promotion_box .image_box{}
.promotions .promotion_box img{width:100%;height:200px;margin-bottom:-15px;object-fit:cover;-webkit-filter:grayscale(85%);filter:gray;}
.promotions .promotion_box img:hover{-webkit-filter:grayscale(0);}
.promotions .promotion_box .inner{padding:20px;}
.promotions .promotion_box .inner h2{font-size:27px;line-height:1.2;font-weight:100;}
.promotions .promotion_box .inner h2 a{text-decoration:none;color:#616161;}
.promotions .promotion_box .inner h2 a:hover{text-decoration:underline;}
.promotions .promotion_box .inner .gift_category{text-transform:uppercase;margin-top:5px;}
.promotions .promotion_box .inner p{margin-top:15px;}
.promotions .promotion_box .inner p a{text-decoration:none;color:#616161;}
.promotions .promotion_box .inner ul{margin:5px 0 0 15px;}
.promotions .promotion_box .inner ul li{list-style:disc;}
.promotions .promotion_box .inner em{margin-top:15px;font-size:20px;font-weight:500;display:block;}
.promotions .promotion_box .inner span{display:block;position:absolute;bottom:50px;}
.promotions .promotion_box .btn{position:absolute;bottom:0;line-height:42px;border-top:1px solid;padding:0 20px;}
/*.promotions .promotion_box .btn:hover{border-top:3px solid;font-weight:bold;}*/
.promotions .promotion_box .btn a{text-decoration:none;color:#616161;font-size:20px;}
.promotions .admin{float:right;}
.promotions .admin a{text-decoration:none;color:#616161;}
.filter-node.filter-me {opacity:0 !important; visibility:hidden; position:absolute; top: 2000px;}
/* new editor's pick tem */
.pick_box{float:left;width:31.3333%;margin:0 1% 2% 1%;}
.pick_box img{width:100%;}
.pick_box h2{display:none;}


@media screen and (max-width:640px){
  .promotions .featured .sm_pc .amzpromo button{width:105px;display:none;}
  .promotions .featured .sm_pc .amzpromo button.btn-primary{width:30px;margin-left:10px;}
  .promotions .featured .sm_pc .most_rev button{width:140px;}
  .promotions .featured .sm_pc .most_rev button.btn-primary{width:40px;background:#fff;color:#000;margin:0 10px;}
  .promotions .featured .sm_pc .guide_controll button{line-height:15px;font-size:15px;padding-top:15px;}
  .promotions .featured .sm_pc .popup_menu button{display:none;}
  .promotions .guide_controll{padding-left:20px;}
  .promotions .most_rev, .promotions .amzpromo{padding-left:0;}
  .promotions .pop_menu{background:#fff;}
  .promotions .pop_menu .btn{color:#fff;text-shadow:-1.5px 0 #000, 0 1.5px #000, 1.5px 0 #000, 0 -1.5px #000;}
  .promotions .guide_controll .btn{margin:0;letter-spacing:0;}
  .promotions .promotion_box{margin:10px 0 35px 0;}
  .promotions .promotion_box .inner h2 a:hover{text-decoration:none;}
  .promotions .promotion_box{float:none;width:100%;margin-bottom:35px;}
  .promotions .guide_controll .form-control{width:95%;margin:4px 2.5%;}
  .most_wrapper{margin-top:-25px;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .promotions .featured .sm_pc .guide_controll button{float:left;width:70px;line-height:35px;}
  .promotions .featured .sm_pc .most_rev button{width:130px;}
  .promotions .featured .sm_pc .most_rev button.reviewed{width:110px;}
  .promotions .featured .sm_pc .most_rev button.btn-primary{width:50px;margin-left:20px;}
  .promotions .featured .sm_pc .amzpromo button{width:112px;}
  .promotions .featured .sm_pc .amzpromo button.reviewed{width:69px;}
  .promotions .featured .sm_pc .amzpromo button.btn-primary{width:50px;margin-left:20px;}
  .promotions .featured .sm_pc .guide_controll button.top_10{width:98px;font-size:15px;border:1px solid;margin-bottom:5px;}
  .promotions .guide_controll .btn{font-size:15px;}
  .promotions .guide_controll .form-control{margin:3px 0 10px 0;width:100%;}
  .promotions .promotion_box .inner h2 a:hover{text-decoration:none;}
  .promotions .promotion_box{width:48%;}
  .most_wrapper{margin-top:-25px;}
}
/* End Promotion */





@import url(https://fonts.googleapis.com/css?family=Poppins:300,700);
.snip1581 {
  float:left;
  width:23%;
  font-family: 'Poppins:400,700', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1%;
  /*min-width: 250px;
  max-width: 310px;*/
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1581 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1581 img {
  width:100%; 
  height:400px;
  vertical-align: top;
}
.snip1581 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.snip1581 h3 {
  font-size: 44px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 3px 0;
}
.snip1581 
.snip1581 .title1 {
  font-weight: 700;
}
.snip1581 .title2 {
  color: #a58e7c;
  font-weight: 300;
  font-size:35px;
}
.snip1581 .title3 {
  font-weight: 700;
  font-size: 25px;
}
.snip1581 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1581:hover img,
.snip1581.hover img {
  -webkit-transform: scale(1.3) rotate(5deg);
  transform: scale(1.3) rotate(5deg);
}


