// Place all the styles related to the Gadgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* =============== Index Common  =============== */
/* ---------------
 line-number :2
 --------------- */
.main_title {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of line */ 
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}

/* ---------------
 line-number :3
--------------- */
.main_intro {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 3; 
  -webkit-line-clamp: 3; /* number of line */ 
  -ms-line-clamp: 3;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}

/* =============== Index Page  =============== */
header {
  height: 3.5em;
}
.main_gadget {
  height: 250px;
}
.main_gadget img {
  height: 100%;
  object-fit: contain;
}
.main_price {
  float: left;
  width: 30%;
  margin-top: 1.4em;
}
.main_price p:nth-child(1) {
  font-size: 1.5em;
}
.main_price ul {
  padding: 0em;
  text-align: left;
}
.main_price ul li {
  list-style: none;
  display: inline-block;
  padding: 0em;
  margin: 0 0.5em 0 0;
}
.main_button {
  float: right;
  width: 63%;
}

/* --------------------
  Responsive Main Menu
 -------------------- */
.eb_nav {
  width: 100%;
  background-color:#2ebfac
}

.search_header {
  margin-top: 35em;
}
.search_header h1 {
  text-align: center;
}

.eb_nav ul {
  padding: 0em;
}

.eb_nav ul li {
  display:inline-block;  
  padding: 0em;
  margin: 0em;
}

.eb_nav a {
  color:#fff;
  display:block;
  text-decoration: none;
  text-align: center;
  padding:20px 30px;
 }

.eb_nav a:hover {
  background: #fd887a;
}

.eb_nav .menu-trigger {
  display:none;
  color:#fff;
}
@media screen and (max-width: 500px) {
  .eb_nav .menu-trigger {
    display:block;
  }
  .discount_input {
    margin-top: 1em;
  }
  .eb_nav ul li {
    display:block;
    border-top:1px #79896D solid;    
  }
  .eb_nav ul {
    display:none;
  }
}

/* =============== Gadget show =============== */
.show_image, 
.show_content  {
  float: left;
  width: 48%;
  padding: 1%;
  margin-right: 2%;
}
.show_content h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.show_image img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.show_image p {
  margin-top: -2em;
}
.video-container {
  margin-bottom: 1em;
}
.pros_title {
  color: green;
}
.cons_title {
  color: red;
}
.gadget_source {
  border: 2px solid;
  padding: 1em;
  margin-top: 2em;
}
.show_price ul,
.show_admin_wrap ul {
  padding: 0em;
}
.show_price ul li,
.show_admin_wrap ul li {
  list-style: none;
  display: inline-block;
  padding: 0em;
  margin: 0em;
}
.show_price ul .original_price {
  text-decoration: line-through;
}
.show_button {
  width: 42%;
  margin: -1.3em 0 0 0;
}
.content_border {
  border-bottom: 1px solid;
}
.show_border {
  border-bottom: 1px dotted;
  width:80%;
  margin: 0 auto;
}
.show_admin_wrap ul li:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  margin-top: -1.9em;
}
.show_admin_wrap a {
  margin: 0 0.3em;
}
.currency_converter {
  display: none;
}
.currency_wrapper ul li {
  list-style: none;
  display: inline-block;
}

.currency_wrapper ul li:nth-child(2) {
  margin-left: 1em;
}
.krw {
  width: 4.3em;
  border: none;
}

/* ---------------
 Sidebar Tabs
 --------------- */
.sidebar_container {
  max-width: 310px;
  margin: 12% auto;
  padding: 0;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.1);
  /* font-family: 'Open Sans', sans-serif; */
}
/* Multi Tab Sidebar */
.multitab-section {
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
}
.multitab-section p {
  display: inline-block;
  background: #fff;
  text-transform: lowercase;
  font-size: 14px;
  padding: 20px 5px;
  margin: 0;

}
.multitab-widget {
  list-style: none;
  margin: 0 0 10px;
  padding: 0
}
.multitab-widget li {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left
}
.multitab-widget li a {
  background: #2ebfac;
  color: #fff;
  display: block;
  padding: 15px;
  font-size: 13px;
  text-decoration: none
}
.multitab-tab {
  width: 33.3%;
  text-align: center
}
.multitab-section h2,
.multitab-section h3,
.multitab-section h4,
.multitab-section h5,
.multitab-section h6 {
  display: none;
}
.multitab-widget li a.multitab-widget-current {
  padding-bottom: 20px;
  margin-top: -10px;
  background: #fff;
  color: #444;
  text-decoration: none;
  border-top: 5px solid #2ebfac;
  font-size: 14px;
  text-transform: capitalize
}

/* ---------------
 Content in Sidebar Tabs
 --------------- */
ul#side-rcnt-thumb-post-list {
list-style: none;
  margin: 0;
  padding: 0;
}
#side-rcnt-thumb-post-list li {
  overflow: hidden;
  border-top: 1px solid #CCC;
  padding-top: 15px;
  position: relative;
  min-height: 76px;
}
.srtpl-l {
  float: left;
  width: 30%;
  margin-right: 15px;
}
.srtpl-a {
  display: block;
  outline: 0!important;
  font-weight: 400;
}
#side-rcnt-thumb-post-list img {
  max-width: 100%;
  height: 4em;
  vertical-align: middle;
  border: 0;
  object-fit: cover;
}
.srtpl-r {
  margin-left: 90px;
}
.srtpl-n {
  display: block;
  color: #343534;
  line-height: 1.2;
  font-weight: 600;
  font-size: 13px;
  outline: 0!important;
  text-decoration: none;  
}

/* =============== Gadget From =============== */
.gadget_form {
  margin: 0 auto;
  width: 90%;
  margin-top: 2em;
}
.form_border {
  border: 2px solid;
  padding: 1em;
  margin-bottom: 2em;
}
.procon_wrap .pros,
.procon_wrap .cons {
  float: left;
  width: 48%;
  margin: 1%;
  padding: 1%;
  border: 2px solid; 
}
.form_btn {
  margin-top: 92em;
}

/* =============== Social Sharing =============== */
.social {
  position: fixed;
  top: 25%;
  list-style-type: none;
  z-index: 11;
}
.social li {
  width: 65px;
  text-align: center;
  margin: 0 0 10px 0;
}
.social li:hover {
  width: 75px;
}
.social li a {
  display: block;
  width: 100%;
  background: #2a2a2a;
  font-size: 30px;
  color: #fff;
  padding: 10px;
}
.social li a.facebook:hover {
  background: #3b5997;
}
.social li a.twitter:hover {
  background: #2daae1;
}
.social li a.whatsapp:hover {
  background: #5abe42;
}
.social li a.pinterest:hover {
  background: #ca2026;
}
.social span {
  display: none;
}

/* =============== Responsive Youtube =============== */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 2em;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* =============== Media Query =============== */
@media screen and (max-width: 500px) {
  .show_image, 
  .show_content {
    width: 100%;
  }
  .main_button {
    margin-top: 1.3em;
  }
  .show_button {
    margin: -1.2em 0 0 0;
  }
  #header > .container {
    padding: 4em 0 2em 0;
  }
}

@media only screen
and (min-width : 501px)  
and (max-width : 750px) {

}

@media only screen
and (min-width : 751px)  
and (max-width : 1023px) {

}

@media screen 
and (min-width: 1024px)
and (max-width : 1600px) { 

}

