// Place all the styles related to the Gadgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* =============== Index Common  =============== */
/* ================
 line-number :2
 ================= */
.main_title {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of line */ 
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}

/* ================
 line-number :3
 ================= */
.main_intro {
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 3; 
  -webkit-line-clamp: 3; /* number of line */ 
  -ms-line-clamp: 3;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}

/* =============== Index Page  =============== */
.main_gadget {
  height: 250px;
}
.main_gadget img {
  height: 100%;
  object-fit: contain;
}
.main_price {
  float: left;
  width: 40%;
  margin-top: 1.4em;
}
.main_price p:nth-child(1) {
  font-size: 1.5em;
}
.main_button {
  float: right;
  width: 50%;
}

/* =============== Gadget From =============== */
.gadget_form {
  margin: 0 auto;
  width: 90%;
  margin-top: 2em;
}
.form_border {
  border: 2px solid;
  padding: 1em;
  margin-bottom: 2em;
}
.procon_wrap .pros,
.procon_wrap .cons {
  float: left;
  width: 48%;
  margin: 1%;
  padding: 1%;
  border: 2px solid; 
}
.form_btn {
  margin-top: 92em;
}

/* =============== Gadget show =============== */
.show_image, 
.show_content  {
  float: left;
  width: 48%;
  padding: 1%;
  margin-right: 2%;
}
.show_content h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.show_image img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}
.show_image p {
  margin-top: -2em;
}
.video-container {
  margin-bottom: 1em;
}
.pros_title {
  color: green;
}
.cons_title {
  color: red;
}
.gadget_source {
  border: 2px solid;
  padding: 1em;
}
.main_price ul {
  padding: 0em;
}
.main_price ul li {
  list-style: none;
  display: inline-block;
  padding: 0em;
  margin: 0em;
}
.main_price ul li:nth-child(1) {
  text-decoration: line-through;
}
.show_button {
  width: 58%;
  margin-top: -1.3em;
}
.content_border {
  border-bottom: 1px solid;
}
/* =============== Social Sharing =============== */
.social {
  position: fixed;
  top: 25%;
  list-style-type: none;
  z-index: 11;
}
.social li {
  width: 65px;
  text-align: center;
  margin: 0 0 10px 0;
}
.social li:hover {
  width: 75px;
}
.social li a {
  display: block;
  width: 100%;
  background: #2a2a2a;
  font-size: 30px;
  color: #fff;
  padding: 10px;
}
.social li a.facebook:hover {
  background: #3b5997;
}
.social li a.twitter:hover {
  background: #2daae1;
}
.social li a.whatsapp:hover {
  background: #5abe42;
}
.social li a.pinterest:hover {
  background: #ca2026;
}
.social span {
  display: none;
}

/* =============== Responsive Youtube =============== */

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-top: 2em;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* =============== Media Query =============== */
@media screen and (max-width: 500px) {
  .show_image, 
  .show_content {
    width: 100%;
  }
  .main_button {
    margin-top: 1.3em;
  }
  .show_button {
    margin-top: -1.2em;
  }
}
