// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.deal_sidebar_container {
  width: 100%;
  margin: 12% auto;
  margin-top: 0.5em;
  padding: 0;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.1);
}


/* This is for hot deal section */
.dis_grid {
  display: flex;
  flex-wrap: wrap;
  margin: -0.8rem;
}
.dis_card {
  width: 23%;
  margin: 1%;
  background: #fff;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: box-shadow 300ms;
}
@media screen and (max-width: 800px) {
  .dis_card,
  .dis_card_ourpick {
    display: flex;
    width: calc(100% - 1.6rem);
  }
}
.dis_card:hover,
.dis_card_ourpick:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05), 0 5px 15px rgba(0, 0, 0, 0.05);
}
.dis_card--image {
  position: relative;
  width: 100%;
  /* padding-bottom: 100%; */
  overflow: hidden;
}
.dis_card--content {
  padding: 0 0.5rem;
  margin-bottom: 1em;
}
.dis_source {
  font-size: 0.7em;
  padding: 0 0.5rem;
  font-weight: bold;
}
.dis_card--content ul li {
  list-style: none;
  display: inline-block;
  margin: 0em;
}
.dis_card--content ul {
  margin: 0 0 1em 0;
  padding: 0em;
}
.dis_card--content p {
  color: #000;
  margin-bottom: 0.5em;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -moz-line-clamp: 2; 
  -webkit-line-clamp: 2; /* number of line */ 
  -ms-line-clamp: 2;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  word-wrap:break-word;
}
.dis_price li:nth-child(1) {
  font-size: 1.3em;
}
.dis_price li:nth-child(2) {
  text-decoration: line-through;
}
.feedback {
  text-align: center;
}
.feedback p {
  margin: 0em;
}
.dis_btn {
  padding: 0 0.7em;
  margin-bottom: 0.3em;
  background: black;
  text-align: center;
}
.dis_btn a {
  color: white;
}
.dis_card--category {
  font-size: .8em;
  letter-spacing: .1ch;
  padding-top: 1em;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
}

.dis_card--image img {
  /* position: absolute; */
  width: 100%;
  height: 10em;
  object-fit: contain;
}
@media screen and (max-width: 800px) {
.dis_card--image {
    width: 25%;
    height: 9em;
    min-width: 40%;
    /* padding-bottom: 25%; */
  }
  .dis_card--image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding: 0.5em;
  }
  .dis_container h1 {
    font-size: 14px;
  }
  .dis_source {
    display: none;
  }
}

/* This is for hot deal section */










