.hotdeal_wrap{margin-top:100px;}
.hotdeals_nav{margin-top:0;}
.sub_nav .sub_nav_pc>ul>li.search{margin-right:0;float:right;}
.hotdeals_nav li.search input{padding:5px;line-height:15px;width:277px;}
/*.hotdeals_show .sub_nav_pc>ul>li>a{font-size:10px;}*/
.hotdeals_new{display:inline-block;margin-left:20px;padding:0 10px;background:#000}
.hotdeals_new a{text-decoration:none;color:#fff;}

/* Show Page */
.show_wrap .show_box h2.sd_title{padding:10px 50px;font-size:24px;margin-top:30px;border:2px solid;}
.show_wrap .show_box .sd_inner{margin-top:10px;}
.show_wrap .show_box .show_inner a.p_btn{width:300px;text-align:center;}
.show_wrap .show_box .show_inner a.store_btn{width:400px;text-align:center;margin:0;border-radius:5px;}
.show_wrap .show_box .show_inner a.store_btn em{text-transform:uppercase;}
.show_wrap .show_box .show_inner .hotdeal_inner{}
.show_wrap .show_box .show_inner .hotdeal_inner h2{font-weight:500;line-height:1.2;font-size:18px;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:box;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:2;padding:0 5px;}

.show_wrap .show_box .show_inner .hotdeal_inner .top_line{}
.show_wrap .show_box .show_inner .hotdeal_inner .top_line span{text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;width:300px;overflow:hidden;display:inline-block;vertical-align:middle;font-weight:500;}
.show_wrap .show_box .show_inner .hotdeal_inner .top_line em{font-weight:500;}
.show_wrap .show_box .show_inner .hotdeal_inner p.store_p{font-size:15px;margin:0;}
.show_wrap .show_box .show_inner .hotdeal_inner p.offer{font-size:15px;}
.show_wrap .show_box .show_inner .hotdeal_inner p.offer span{background:#ffff00;padding:3px 5px;font-weight:bold;}
.show_wrap .show_box .show_inner .hotdeal_inner p.offer em{font-weight:500;word-break:break-word;}
.show_wrap .show_box .show_inner .hotdeal_inner p.offer em.pricing{color:#08f;font-weight:500;}
.show_wrap .show_box .show_inner .hotdeal_inner h2.store_h2{font-size:20px;}
.show_wrap .show_box .show_inner .hotdeal_inner .h_price{font-size:25px;margin-bottom:0;padding:0 5px;}
.show_wrap .show_box .show_inner .hotdeal_inner .h_price .span_01{color:#616161;text-decoration:line-through;font-size:20px;}
.show_wrap .show_box .show_inner .hotdeal_inner .h_price .span_02{margin-left:10px;font-size:20px;}
.show_wrap .show_box .show_inner .hotdeal_inner .h_price em{font-size:13px;}
.show_wrap .show_box .show_inner .hotdeal_inner .add_line{margin:0 0 10px 0;border:1px dashed #ccc;border-left:0;border-right:0;}
.show_wrap .show_box .show_inner .hotdeal_inner .add_line ul{margin-left:25px;}
.show_wrap .show_box .show_inner .hotdeal_inner .add_line ul li{font-size:12px;color:#616161;list-style:disc;padding:1px 0;}
.show_wrap .show_box .show_inner .hotdeal_inner .add_line ul li.stocks{color:red;}

.show_wrap .show_box .show_inner .hotdeal_inner .extra_info .basic_info{font-weight:500;}
.show_wrap .show_box .show_inner .hotdeal_inner .extra_info .basic_info .primeornot{display:none;}
.show_wrap .show_box .show_inner .hotdeal_inner .extra_info em{color:#616161;font-weight:300;font-size:12px;display:block;margin-bottom:5px;}
.show_wrap .show_box .show_inner .hotdeal_inner .extra_info em a{background:none;color:#08f;padding:0;display:inline;}
.show_wrap .show_box .show_inner .hotdeal_inner .extra_info em.extra_dh{color:#007600;}
.show_wrap .show_box .show_inner .hotdeal_inner .extra_info em.save_money{color:#B12704;}
.show_wrap .show_box .show_inner .hotdeal_inner .extra_info em.expired{color:#fff;background:#ff0000;padding:5px 10px;width:100px;text-align:center;border-radius:15px;}
.show_wrap .show_box .show_inner .hotdeal_inner .extra_info em.endtoday{color:#fff;background:#ffa500;padding:5px 10px;width:110px;text-align:center;border-radius:15px;}
/*.show_wrap .show_box .show_inner .hotdeal_inner .code_btn{margin-top:30px;}*/

.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap{margin-bottom:20px;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap a{color:#08f;background:none;padding:0;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap a.stk_main{color:#333333;font-weight:bold;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap a.stk{color:#4c4c4c;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box{float:left;width:48%;margin:1%;text-align:center;box-shadow:0 0 20px 0 rgba(0,0,0,.06);padding:10px 5px;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .line_three{width:31.33%;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .tax_box{float:left;width:23%;margin:1%;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .total_box{width:98%;margin:1%;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box p{font-size:12px;margin:5px;color:#6d6e71;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box p span{border:1px solid #6a6a6a;border-radius:100px;padding:0 5px;margin-right:3px;display:none;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box p a{color:#6d6e71;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em{font-size:17px;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em a{color:#000;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em i:before{content: "\f08e";font-family: FontAwesome;font-style: normal;margin-left:3px;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em .n_expired{color:#ff4d4d;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em .n_endtoday{color:#ffa500;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em .end_date{font-size:13px;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em .end_soon{font-size:17px;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em a.keyword{text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;width:190px;overflow:hidden;word-break:break-word;font-size:13px;display:inline-block;line-height:1;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .info_box{margin-bottom:10px;border:1px dashed #ccc;border-left:0;border-right:0;padding:3px 0;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .info_box span{display:block;font-size:12px;color:#a6a6a6;margin-left:15px;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .info_box span ul{margin-left:10px;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .info_box span ul li{list-style:disc;color:#616161;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .info_box span i:before{content: "\f08e";font-family: FontAwesome;font-style: normal;margin-left:3px;color:#08f;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .hidden_box{display:none;}
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap ul.tokor{margin-top:10px;padding:0;}
/*.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .info_box span a{color:#08f;}*/
.show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .direct{border:1px dashed #4c4c4c;border-left:0;border-right:0;}

@media screen and (max-width:640px){
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box{padding:10px 0;}
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em{font-size:15px;}
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box p{font-size:11px;}
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em a.keyword{width:120px;}
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .info_box span{margin:0;}
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em .end_date{font-size:11px;}

}
@media screen and (min-width:641px) and (max-width:1199px){
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box{padding:10px 0;}
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em{font-size:15px;}
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box p{font-size:11px;}
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em a.keyword{width:120px;}
  .show_wrap .show_box .show_inner .hotdeal_inner .info_wrap .box em .end_date{font-size:11px;}
}

.show_wrap .show_box .show_inner .hotdeal_inner .show_des{border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin:10px 0 20px 0;}
.show_wrap .show_box .show_inner .hotdeal_inner .description{font-size:15px;margin:15px 0;line-height:1.4;height:5.6em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:box;vertical-align:top;text-overflow:ellipsis;-webkit-box-orient:vertical;-webkit-line-clamp:4}
.show_wrap .show_box .show_inner .hotdeal_inner .trix{font-weight:100;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:20px;padding:10px;}
.show_wrap .show_box .show_inner .hotdeal_inner .trix ul{margin-left:25px;}
.show_wrap .show_box .show_inner .hotdeal_inner .trix ul li{list-style:disc;font-size:12px;}
.show_wrap .show_box .show_inner .hotdeal_inner .trix span{font-size:20px;}
.show_wrap .show_box .show_inner .hotdeal_inner p.code_line{margin:0 0 7px 0;font-size:11.5px;color:#616161;}
.show_wrap .show_box .show_inner .hotdeal_inner .btn{}
.show_wrap .show_box .show_inner .hotdeal_inner .btn a{}
.show_wrap .show_box .show_inner .hotdeal_inner .btn a em{;font-size:15px;color:#e47911;}
.show_wrap .show_box .show_inner .hotdeal_inner p.sp_des{margin:0;}
.show_wrap .show_box .show_inner .hotdeal_inner .store_info{margin-top:10px;}
.show_wrap .show_box .show_inner .hotdeal_inner .store_info em{color:#616161;font-size:12.5px;display:block;margin-bottom:7px;}
.show_wrap .show_box .show_inner .hotdeal_inner .store_info em span{text-transform:uppercase;font-weight:bold;}
/*.show_wrap .show_box .hotdeal_img{position:relative;}*/
.trix-container{max-height:150px;overflow:hidden;transition:max-height .5s ease;position:relative;}
.recommend_trix{max-height:200px;margin-top:20px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.trix-container.show{max-height:2000px;}
.gradient::before{content:'';height:120px;position:absolute;bottom:0px;left:0;width:100%;background:linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%);transition:height .25s ease;}
.show.gradient::before{ height:50px;}
.show-btn{box-shadow:0 2px 5px rgba(0,0,0,.6);background-color:#000;border:none;border-radius:100%;bottom:2px;color:#fff;cursor:pointer;height:30px;width:30px;left:50%;margin-left:-20px;position:absolute;transition:background-color .25s ease;font-size:20px;}
/*.show-btn:hover{background-color:#7a9c0f;}*/
.show-btn.fa.rotate {transform:rotate(180deg); }

.show_wrap .show_box .sd_image{margin-top:10px;}
.show_wrap .show_box .show_img .mark{width:50px;background:#000;font-size:13px;padding:7px;border-radius:10px;line-height:1.1;position:absolute;top:0;left:0;}
.show_wrap .show_box .show_img .mark span{text-align:center;color:#fff;display:block;font-size:11px;}
.show_wrap .show_box .show_img .mark em{display:block;text-align:center;font-size:10px;color:#fff;}
.show_wrap .show_box .show_img .show_tag{margin-top:15px;}
.show_wrap .show_box .show_img .show_tag h3 a{background:#000;color:#fff;padding:5px 10px;border-radius:15px;font-size:13px;line-height:2.4;}
.show_wrap .show_box .show_img .admin{margin-top:30px;padding:10px;border:1px solid;}
.show_wrap .show_box .show_img .admin a{background:none;color:#fff;background:#000;padding:1px 5px;}
.show_wrap .show_box .show_img .admin .sharing{font-size:10px;margin-top:10px;}
.hotdeal_related{width:1000px;margin:30px auto 0 auto;font-family: 'Montserrat', sans-serif;}
.hotdeal_related p{text-align:center;font-size:30px;margin-bottom:20px;}

/* Form Page */
.hotdeal_form{width:1200px;}
.hotdeal_form .basic_info{width:800px;}
.hotdeal_form input, .hotdeal_form textarea{display:block;width:100%;height:40px;margin-bottom:20px;border:1px solid #ccc;}
.hotdeal_form textarea{height:80px;}
.hotdeal_form trix-editor{min-height:15em;}
.hotdeal_form label{font-size:13px;}
.hotdeal_form .pricing div{float:left;;margin:1%;}
.hotdeal_form .pricing div .promo_code{width:500px;margin-right:1%;}
.hotdeal_form .pricing div .promo_date{width:300px;}
.hotdeal_form .stk div{width:10%;}
.hotdeal_form .form_btn input{margin-top:10px;background:#000;color:#fff;padding:15px 0;}
.hotdeal_form .find_more div{float:left;width:48%;margin:0  1%;}
.hotdeal_form .select em{display:inline-block;width:200px;}


@media screen and (max-width:640px){
  .hotdeal_related{width:100%;}
  .hotdeal_related p{font-size:23px;}
  .hotdeal_form{width:100%;}
  .hotdeal_form input, .hotdeal_form textarea{border:2px solid #000;}
  .hotdeal_form select{background:#000;color:#fff;padding:3px 7px;}
  .hotdeal_form .pricing div{float:none;width:100%;margin:0;}
  .hotdeal_form .pricing div .promo_code{width:100%;margin:0;}
  .hotdeal_form .pricing div .promo_date{width:100%;}
  .show_wrap .show_box .show_inner a.p_btn{width:100%;}
  .show_wrap .show_box .show_inner a.store_btn{width:100%;}
  .show_wrap .show_box h2.sd_title{font-size:15px;padding:10px;margin:0;}
  .show_wrap .show_box .show_inner .hotdeal_inner .h_price{font-size:23px;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .hotdeals_new a{font-size:15px;}
  .hotdeal_related{width:100%;}
  .hotdeal_form{width:100%;}
  .hotdeal_form input, .hotdeal_form textarea{border:2px solid #000;}
  .hotdeal_form label{font-size:11px;}
  .hotdeal_form select{background:#000;color:#fff;padding:3px 7px;}
  .show_wrap .show_box .show_inner .hotdeal_inner h2{font-size:15px;}
  .show_wrap .show_box .show_inner a.store_btn{width:100%;}
}

/* Index Page */
.dealpage_title{font-family: 'Righteous', cursive;margin-top:80px;}
.dealpage_title p{position:relative;font-size:55px;}
.hashtag_page{margin-top:0px;}
/*.dealpage_title p:after,
.deals_code_main_menu ul .nth_2 a:after{position:absolute;height:10px;content:'';background:#000;width:100%;top:69.2%;margin-left:10px;-webkit-transform:translateY(-5px);transform:translateY(-5px);}*/
.sd_com{margin:0;}
.more_search{margin-top:15px;}
.more_search input{width:35%;height:40px;padding:0 10px;}

.deals_card{float:left;font-family:'Raleway', Arial, sans-serif;position:relative;overflow:hidden;margin:1%;width:23%;background:#fff;text-align:left;color:#000000;box-shadow:0 0 5px rgba(0, 0, 0, 0.15);font-size:16px;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-perspective:20em;perspective:20em;}
.deals_card *{-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all 0.3s ease-out;transition:all 0.3s ease-out;}
.deals_card .image_box{width:100%;height:250px;padding:25px 25px 10px 25px;position:relative;}
.deals_card .image_box .mark{position:absolute;top:5px;left:5px;background:#000;color:#fff;width:50px;padding:7px;line-height:1.1;font-size:13px;text-align:center;border-radius:10px;}
.deals_card .image_box .mark span{letter-spacing:3.1px;}
.deals_card .image_box .mark span.wcou_01{font-size:11px;}
.deals_card .image_box .mark em{display:block;letter-spacing:3.1px;}
.deals_card .image_box .mark em.wcoup{font-size:10px;letter-spacing:0.5px;}
.deals_card .image_box .dropped{top:55px;}
.deals_card .image_box .dropped em{font-size:10px;}
.deals_card .image_box .term{width:70px;height:42px;/*background:#ff0000;*/}
.deals_card .image_box .term p{margin-top:7px;font-size:11px;}
.deals_card .image_box .exprie{background:#ff4d4d;}
.deals_card .image_box .endtoday{background:#ffa500;width:50px;position:absolute;top:5px;left:60px;}
.deals_card .image_box .wcoupon{background:#87c442;}
.deals_card .image_box .wcp{top:50px;}
.deals_card .image_box .endtoday p{margin:0;height:auto;}
.deals_card .image_box .expried{-webkit-filter: grayscale(100%);filter: gray;height:100%;}
.deals_card img{width:70%;height:70%;object-fit:contain;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);object-fit:contain;}
.deals_card .buy-now{z-index:100;position:absolute;top:0;right:0;padding:0px 15px;color:#fff;font-weight:700;font-size:20px;opacity:0;background-color:#000;-webkit-transform:rotateX(-90deg);transform:rotateX(-90deg);-webkit-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0;}
.deals_card .buy-now span{}
.deals_card .buy-now span a{text-decoration:none;color:#fff;}
.deals_card .buy_now{z-index:20;}
.deals_card figcaption{padding:0 20px;}
.deals_card h3, .deals_card p{margin:0;}
.deals_card h3{font-size:17px;font-weight:700;margin-bottom:5px;z-index:101;display:none;}
.deals_card h3 a{text-decoration:none;color:#000;}
.deals_card p{font-size:13px;letter-spacing:1px;font-weight:400;line-height:1.4;height:2.8em;overflow:hidden;display:-webkit-box;display:-ms-flexbox;display:box;vertical-align:top;text-overflow:ellipsis;word-break:break-all;-webkit-box-orient:vertical;-webkit-line-clamp:2}
.deals_card p a{text-decoration:none;color:#000;word-break:break-word;}
.deals_card p em{color:#fff;background:#08f;font-size:10px;padding:2px 5px;margin-right:7px;border-radius:7px;font-weight:bold;}
.deals_card .price{font-weight:500;font-size:17px;line-height:30px;letter-spacing:1px;}
.deals_card .price em{margin-right:5px;opacity:0.5;font-size:0.9em;text-decoration:line-through;}
.deals_card a.btn{position:absolute;top:0;bottom:0;left:0;right:0;}
.deals_card .m_btn{display:none;background:#000;padding:5px;text-align:center;}
.deals_card .m_btn a{text-decoration:none;color:#fff;}
.deals_card:hover .buy-now,
.deals_card:hover .buy-now {opacity:1;-webkit-transform:rotateX(0deg);transform:rotateX(0deg);}
/* Store Station Page "/deals/stores */
.deals_card p.store_title{height:2.8em;-webkit-line-clamp:2;font-size:13px;}
.deal_stores .image_box{height:200px;}
.deal_stores figcaption{padding:0px 20px;}
.deal_stores h3{font-size:17px;margin-bottom:5px;}
.deals_card .price{font-size:17px;}


/* banner */
.show_banner{}
.show_banner .banner_option{display:none;}
.show_banner .banner_img{border-bottom:1px solid #ccc;padding-bottom:10px;}
.show_banner .banner_img img{width:100%;}

@media screen and (max-width:640px){
  .more_search{margin:10px 0;}
  .more_search input{width:100%;border:1px solid #ccc;border-radius:10px;}
  .deals_card{width:48%;}
  .deals_card img{width:80%;height:80%;}
  .deals_card .buy-now{display:none;}
  .deals_card .image_box{height:200px;padding:20px;}
  .deals_card .image_box .expried_wrap .mark_expried{width:55px;height:30px;}
  .deals_card .image_box .mark_expried p{font-size:10px;font-weight:bold;}
  .deals_card .image_box .mark{font-size:11px;font-weight:600;width:50px;padding:6px 0px;height:35px;}
  .deals_card .image_box .exprie p{margin-top:6px;}
  .deals_card .image_box .term p{font-size:10px;line-height:1.2;font-weight:bold;}
  .deals_card h3{font-size:14px;}
  /*.deals_card p{font-size:13px;line-height:1.2;height:3.6em;}*/
  .deals_card .price{font-size:15px;}
  /*.deals_card .m_btn{display:block;padding:3px;}
  .deals_card .m_btn a{font-size:14px;}*/
  .deals_card figcaption{padding:5px 10px 10px 10px;}
  .dealpage_title p{font-size:27.5px;}
  .dealpage_title p:after{display:none;}
  .deals__main_menu ul .nth_2 a:after{height:7px;top:67%;}
  .deals_card .image_box .endtoday{width:50px;padding-top:6px;top:5px;left:60px;}
  .deals_card .image_box .endtoday span{display:block;}
  /* Store Station Page "/deals/stores */
  .deals_card p.store_title{height:2.4em;}

}
@media screen and (min-width:641px) and (max-width:1199px){
  .more_search{margin:10px 0;}
  .more_search input{width:100%;border:1px solid #ccc;}
  .deals_card{width:31.33%;}
  .deals_card img{width:70%;height:70%;}
  .dealpage_title p{font-size:40px;}
  .deals_card .buy-now{display:block;}
  /*.deals_card .m_btn{display:block;}*/
  .deal_stores figcaption{padding:0px 20px 10px 20px;}
}

.intheshow{width:300px;margin-top:-10px;}
.intheshow_store{width:400px;margin-top:10px;}
.text_copied_pc{}
.text_copied_m{display:none;}
.text_copied .container_copy{display:flex;justify-content:center;align-items:center;width:100%;height:100%;}
.text_copied .container_copy .wrap{flex:0 1 37.5rem;margin:5px 0;}
.text_copied .container_copy .wrap .box{padding:10px;background-color:#fff;border:0.0625rem solid #607d8b;border-radius:0.1875rem;}
.text_copied .container_copy .wrap .box:not(:last-child){margin-bottom:1.5625rem;}
.text_copied .container_copy .wrap .box p{margin:0;font-size:15px;text-transform:uppercase;}
[data-copy-text] + i.material-icons{transition:all 0.25s ease-in-out;position:absolute;top:0;right:0;padding:10px;color:#000;opacity:0.5;cursor:pointer;z-index:1;font-family:'Righteous', cursive;font-style:normal;}
[data-copy-text] + i.material-icons:hover,
[data-copy-text] + i.material-icons.active{background-color:#000;opacity:1;color:#fff;}
@media screen and (max-width:640px){
  .intheshow, .intheshow_store{width:100%;}
  .text_copied_pc{display:none;}
  .text_copied_m{display:block;width:100%;}
  [data-copy-text] + i.material-icons{padding:12px;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  [data-copy-text] + i.material-icons{padding:12px;} 
}
 









.accordion-menu {
  width: 100%;
  margin:20px 0;
  background: #fff;
  border-radius: 4px;
  border:1px solid #ccc;
  padding:5px;
}
.accordion-menu li.open .dropdownlink {
  color: #CDDC39;
  .fa-chevron-down {
    transform: rotate(180deg);
  }
}
.accordion-menu li:last-child .dropdownlink {
  border-bottom: 0;
}


.accordion-menu .info_box ul li, .accordion-menu .info_box ul li a{color:#4c4c4c;}


.dropdownlink {
  cursor: pointer;
  display: block;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  color: #212121;
  position: relative;
  transition: all 0.4s ease-out;
  i {
    position: absolute;
    top: 17px;
    left: 16px;
  }
  .fa-chevron-down {
    right: 20px;
    left: auto;
  }
  
}

.dropdownlink .fa{float:right;}
.submenuItems {
  display: none;
  background: #C8E6C9;
  li {
    border-bottom: 1px solid #B6B6B6;
  }
}

.submenuItems a {
  display: block;
  color: #727272;
  padding: 12px 12px 12px 45px;
  transition: all 0.4s ease-out;
  &:hover {
    background-color: #CDDC39;
    color: #fff;
  }
}