.deals_main_menu ul .most_tit a{font-size:68px;}
.most_article .intro{background:#000;color:#fff;padding:15px;margin-bottom:10px;text-align:center;}
.most_article .boxes h2{font-size:23px;margin:30px 0 10px 0;letter-spacing:1.2px;color:#000;}
.most_article .boxes h2.top_category{margin-top:0;}
.most_article .boxes h2 a{font-size:23px;}
.most_article .boxes a{text-decoration:none;color:#000;font-size:17px;letter-spacing:1.2px;display:block;margin-bottom:7px;padding:3px 0 3px 5px;}
blockquote {font-family:'Oswald', sans-serif;line-height:1.2em;font-size:1.8em;column-span:2;-webkit-column-span:2;margin:0px;padding:0px;margin-left:5px;}
.time{text-align:center;font-family:'PT Sans Narrow', sans-serif;border-top:3px solid #333;border-bottom:3px solid #333;font-size:15px;padding-top:12px;padding-bottom:12px;margin-bottom:30px;font-weight:700;text-transform:uppercase;}
@media only all and (min-width: 600px) {
  .most_article {-moz-columns:3;/* How many columns? */-webkit-columns:3;columns:3;-webkit-column-gap:40px;-moz-column-gap:40px;column-gap:40px;line-height:1.5em;font-size:1em;-webkit-column-rule:2px outset #444;-moz-column-rule:2px outset #444;column-rule:2px outset #444;}
  .time{column-span: all;-webkit-column-span: all;}
}

@media screen and (max-width:640px){
  .most_reviewe_wrap{margin-top:25px;}
}
@media screen and (min-width:641px) and (max-width:1199px){
  .most_article{columns:2}
}




/* For Store Page */
.st_warp{}
.st_warp .st_top_warp .st_top{float:left;width:68%;margin:1%;}
.st_warp .st_top_warp .st_top .more_btn p{float:right;color:#3498db;}
.st_warp .st_top_warp .st_top_side{float:left;width:28%;margin:1%;}
.st_warp .st_left, .st_warp .st_right{float:left;width:50%;padding:10px;box-shadow:0 0 5px rgba(0, 0, 0, 0.15);}
/*.st_warp .st_left{border-right:1px solid #ccc;}
.st_warp .st_right{border-left:1px solid #ccc;}*/
.st_warp .st_box{border-bottom:1px solid #ccc;padding-top:1%;}
.st_warp .st_box .st_image{float:left;width:18%;margin:1%;}
.st_warp .st_box .st_image img{width:100%;}
.st_warp .st_box .inner{float:left;width:78%;margin:1%;padding:7px 7px 0 0;}
.st_warp .st_box .inner p{}
.st_warp .st_box .inner p .st_title{background:yellow;}
.st_warp .st_box .inner em{}
.st_warp .st_middle{margin-top:30px;}
.st_warp .st_middle .deals_card{width:18%;}
.st_warp .st_middle .st_middle_box{margin-bottom:30px;}


/* Side Tab Menu */
.tab-menu-test{width:100%;margin:auto;}
.tab-menu-wp{padding:20px 10px 7px 10px;border-radius:4px;overflow:hidden;width:100%;border:1px solid #ccc;}
.title-tab-menu{font-weight:bold;font-size:25px;padding:10px 0 0 0;text-transform:uppercase;}
.title-tab-menu span{color:#3498db;}
.tab-menu-wp ul{list-style:none;padding:0;margin:0;}
.clear{clear:both}
.tab-menu-wp ul li{cursor:pointer;width:50%;text-align:center;display:block;color:#000;float:left;font-size:13px;padding-bottom:10px;}
.active{border-bottom:3px solid #3498db;color:#08f;}
.tab-menu-text{width:100%;margin-top:10px;cursor:pointer;padding:3px 5px;transition:400ms all;}
/*.tab-menu-text:hover{background:rgba(0,0,0,.4);}*/
.tab-menu-img img{width:50px;height:50px;overflow:hidden;float:left;/*border-radius:100%;*/}
.tab-menu-text-title{color:#000;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;padding-right:15px;font-size:15px;position:relative;left:10px;top:0;}
.tab-menu-text-alt{color:#000;font-size:15px;position:relative;left:10px;top:5px;margin-bottom:10px;}
.tab-menu-text-alt span{}
.tab-menu-text-alt span em{text-decoration:line-through;color:#616161;margin-right:1px;font-size:13px;}
.all-show{float:right;padding:30px 10px 0px 0;cursor:pointer;color:#3498db;font-size:15px;text-transform:uppercase}






