<div class="layout"><!--layout-->
    
  <%= render 'shared/header' %>

  <div class="location clearfix">
    <div class="wrap">
      <div class="inner">
        <span><a href="/recommends/">Featured</a></span> > <a href="/guides/index">Gift Guide</a> > <a href="">FOR HIM</a>
      </div>
    </div>
  </div>

  <div class="gudies_show_wrap">
    <div class="top_box clearfix">
      <a href="#n"><img src="https://images-na.ssl-images-amazon.com/images/I/616sJVZ0ixL._SX679_.jpg"></a>
      <a href="#n"><img src="https://www.skyfloatx.com/uploads/1/2/4/6/124665177/2_2_orig.jpg"></a>
      <a href="#n"><img src="https://images-na.ssl-images-amazon.com/images/I/71ld5uSFhQL._SX522_.jpg"></a>
    </div>
  </div>

</div>