<div class="layout"><!--layout-->
    
  <%= render 'shared/header' %>

  <div class="location clearfix">
    <div class="wrap">
      <div class="inner">
        <span><a href="/recommends/">Featured</a></span> > <a href="/guides/index">Gift Guide</a> > <a href="">FOR HIM</a>
      </div>
    </div>
  </div>

  <div class="guide_wrapping">
    <div class="wrap">
      <div class="image_box">
        <a href="#n"><img src="https://www.uncommongoods.com/images/items/23900/23960_1_640px.jpg" alt="" /></a>
      </div>
      <div class="inner">
        <h2>But I must explain to you how all this mistaken idea of denouncing pleasure</h2>
        <strong>BY AMAZON</strong>
        <em>$100.00</em>
        <p>$70.00 (30% OFF)</p>
        <span>Check it Out at <a href="#n">Amazon</a></span>
      </div>
    </div>
  </div>

</div>