<div class="layout"><!--layout-->
  <div class="wrap">
  <%= render 'shared/header_short' %>

<!--   <div class="guide_header">
    <h2 class="pink">Gift for people who are CRAZY about PINK!</h2>
  </div> -->

  <div class="guide_show_header" id="movie-card-list">
    <div class="movie-card" data-section="pink">
      <div class="movie-card__overlay pink"></div>                
      <div class="movie-card__content">
        <div class="movie-card__header">
          <h1 class="movie-card__title gift_show_title">Gift for people who are CRAZY about BATMAN!</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="guide_show clearfix">

    <div class="flex guide_show_wrap" id="gallery">
      <!-- <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column last_box" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
      </div> -->

      <div class="column_box">
        <div class="flex column" onclick="currentSlide(1)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/616sJVZ0ixL._SX679_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(2)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61WhgoU4LzL._SX679_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(3)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71ld5uSFhQL._SX522_.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(4)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/A185AKfrliL._SX522_.jpg">
        </div>
      </div>
      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(5)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61VYkz33WNL._SX522_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(6)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71uX2g5BzvL._SX522_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(6)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71uX2g5BzvL._SX522_.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(6)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71uX2g5BzvL._SX522_.jpg">
        </div>
      </div>

    </div><!--./show_wrap-->

    <div id="myModal" class="modal">
      <div class="wrap">
      <div class="modal-content">
        <span class="close">&times;</span> <!--close button--> 

        <!-- <div class="flex slides clearfix">
          <div class="numbering">Current_Page / Total_Page</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="Product_URL"><img src="Image_URL"></a>
            </div>
            <div class="inner">
              <h2><a href="Product_URL">Image_Title</a></h2>
              <strong>BY Product_Source</strong>
              <em>$Reg_Price</em>
              <p>$Current_Price (Percentage% OFF)</p>
              <div class="btn">
                <a href="Product_URL">Check it Out on <span>Product_Source</span></a>
              </div>
            </div>
          </div>
        </div> -->

        <div class="flex slides clearfix">
          <div class="numbering">Current_Page / Total_Page</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="Product_URL"><img src="Image_URL"></a>
            </div>
            <div class="inner">
              <h2><a href="Product_URL">Image_Title</a></h2>
              <strong>BY Product_Source</strong>
              <em>$Reg_Price</em>
              <p>$Current_Price (Percentage% OFF)</p>
              <div class="btn">
                <a href="Product_URL">Check it Out on <span>Product_Source</span></a>
              </div>
            </div>
          </div>
        </div>

       <!--  <div class="flex slides clearfix">
          <div class="numbering">1 / 6</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="#n"><img src="https://images-na.ssl-images-amazon.com/images/I/616sJVZ0ixL._SX679_.jpg"></a>
            </div>
            <div class="inner">
              <h2><a href="#n">The Original As Seen on TV Handsfree Easy Jar Opener</a></h2>
              <strong>BY AMAZON</strong>
              <em>$100.00</em>
              <p>$70.00 (30% OFF)</p>
              <div class="btn">
                <a href="#n">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">2 / 6</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="#n"><img src="https://images-na.ssl-images-amazon.com/images/I/61WhgoU4LzL._SX679_.jpg"></a>
            </div>
            <div class="inner">
              <h2>Modern Digital Mechanical Retro Flip Dоwn Clock</h2>
              <strong>BY AMAZON</strong>
              <em>$100.00</em>
              <p>$70.00 (30% OFF)</p>
              <div class="btn">
                <a href="#n">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">3 / 6</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="#n"><img src="https://images-na.ssl-images-amazon.com/images/I/71ld5uSFhQL._SX522_.jpg"></a>
            </div>
            <div class="inner">
              <h2>Emoji Bluetooth Speaker</h2>
              <strong>BY AMAZON</strong>
              <em>$100.00</em>
              <p>$70.00 (30% OFF)</p>
              <div class="btn">
                <a href="#n">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">4 / 6</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="#n"><img src="https://images-na.ssl-images-amazon.com/images/I/A185AKfrliL._SX522_.jpg"></a>
            </div>
            <div class="inner">
              <h2>Lotsen Multi-Room Wireless and Bluetooth Connected Speaker</h2>
              <strong>BY AMAZON</strong>
              <em>$100.00</em>
              <p>$70.00 (30% OFF)</p>
              <div class="btn">
                <a href="#n">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">5 / 6</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="#n"><img src="https://images-na.ssl-images-amazon.com/images/I/61VYkz33WNL._SX522_.jpg"></a>
            </div>
            <div class="inner">
              <h2>Onyx Studio 5 Bluetooth Wireless Speaker</h2>
              <strong>BY AMAZON</strong>
              <em>$100.00</em>
              <p>$70.00 (30% OFF)</p>
              <div class="btn">
                <a href="#n">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">5 / 6</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="#n"><img src="https://images-na.ssl-images-amazon.com/images/I/71uX2g5BzvL._SX522_.jpg"></a>
            </div>
            <div class="inner">
              <h2>Scroll Premium Portable Bluetooth Wireless Speaker</h2>
              <strong>BY AMAZON</strong>
              <em>$100.00</em>
              <p>$70.00 (30% OFF)</p>
              <a href="#n">Check it Out on <span>Amazon</span></a>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">6 / 6</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="#n"><img src="https://images-na.ssl-images-amazon.com/images/I/616sJVZ0ixL._SX679_.jpg"></a>
            </div>
            <div class="inner">
              <h2>But I must explain to you how all this mistaken idea of denouncing pleasure</h2>
              <strong>BY AMAZON</strong>
              <em>$100.00</em>
              <p>$70.00 (30% OFF)</p>
              <a href="#n">Check it Out on <span>Amazon</span></a>
            </div>
          </div>
        </div> -->



        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>

      </div><!--./modal-content-->
      </div><!--./wrap-->
    </div><!--./modal-->
  </div><!--./guide_show-->
 </div><!--./wrap-->
</div><!-- layout -->

<script>
  <%= render(:partial => 'guide', :handlers => [:erb], :formats => [:js]) %>
</script>