<div class="layout"><!--layout-->
  <div class="wrap">
  <%= render 'shared/header_short' %>

  <!-- <div class="guide_header">
    <h2>Gift for people who are CRAZY about BATMAN!</h2>
  </div> -->

  <div class="guide_show_header" id="movie-card-list">
    <div class="movie-card" data-section="marvel">
      <div class="movie-card__overlay"></div>                
      <div class="movie-card__content">
        <div class="movie-card__header">
          <h1 class="movie-card__title gift_show_title">Gift for people who are CRAZY about MARVEL!</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="guide_show clearfix">

    <div class="flex guide_show_wrap" id="gallery">
      <!-- <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column last_box" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
      </div> -->

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(1)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/81P3mjM2BFL._SX679_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(2)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61Ng6ywPvVL._SX522_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column last_box" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
      </div>

    </div><!--./show_wrap-->

    <div id="myModal" class="modal">
      <div class="wrap">
      <div class="modal-content">
        <span class="close">&times;</span> <!--close button--> 

        <!-- <div class="flex slides clearfix">
          <div class="numbering">Current_Page / Total_Page</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="Product_URL"><img src="Image_URL" alt=""></a>
            </div>
            <div class="inner">
              <h2><a href="Product_URL">Image_Title</a></h2>
              <strong>BY Product_Source</strong>
              <div class="pricing">
                <em>$Reg_Price</em>
                <p>$Current_Price (Percentage% OFF)</p>
              </div>
              <div class="btn">
                <a href="Product_URL">Check it Out on <span>Product_Source</span></a>
              </div>
            </div>
          </div>
        </div> -->

        <div class="flex slides clearfix">
          <div class="numbering">1 / Total_Page</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2LERvtM"><img src="https://images-na.ssl-images-amazon.com/images/I/81P3mjM2BFL._SX679_.jpg" alt="Marvel MVA-278 Captain America Waffle Make"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2LERvtM">Marvel MVA-278 Captain America Waffle Maker</a></h2>
              <strong>BY Amazon</strong>
              <div class="pricing">
                <em>$39.99</em>
                <p>$25.19 (37% OFF)</p>
              </div>
              <div class="btn">
                <a href="https://amzn.to/2LERvtM">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">2 / Total_Page</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2jWzPyg"><img src="https://images-na.ssl-images-amazon.com/images/I/61Ng6ywPvVL._SX522_.jpg"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2jWzPyg">MK42 Wearable Arc FX Wrist Armor Gauntlet</a></h2>
              <strong>BY Gmasking</strong>
              <div class="pricing">
               <p>$399.98</p>
              </div>
              <div class="btn">
                <a href="https://amzn.to/2jWzPyg">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">Current_Page / Total_Page</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="Product_URL"><img src="Image_URL"></a>
            </div>
            <div class="inner">
              <h2><a href="Product_URL">Image_Title</a></h2>
              <strong>BY Product_Source</strong>
              <div class="pricing">
                <em>$Reg_Price</em>
                <p>$Current_Price (Percentage% OFF)</p>
              </div>
              <div class="btn">
                <a href="Product_URL">Check it Out on <span>Product_Source</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">Current_Page / Total_Page</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="Product_URL"><img src="Image_URL"></a>
            </div>
            <div class="inner">
              <h2><a href="Product_URL">Image_Title</a></h2>
              <strong>BY Product_Source</strong>
              <div class="pricing">
                <em>$Reg_Price</em>
                <p>$Current_Price (Percentage% OFF)</p>
              </div>
              <div class="btn">
                <a href="Product_URL">Check it Out on <span>Product_Source</span></a>
              </div>
            </div>
          </div>
        </div>

        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>

      </div><!--./modal-content-->
      </div><!--./wrap-->
    </div><!--./modal-->
  </div><!--./guide_show-->
 </div><!--./wrap-->
</div><!-- layout -->

<script>
  <%= render(:partial => 'guide', :handlers => [:erb], :formats => [:js]) %>
</script>