<div class="layout"><!--layout-->
  <div class="wrap">
  <%= render 'shared/header_short' %>

  <!-- <div class="guide_header">
    <h2>Gift for people who are CRAZY about BATMAN!</h2>
  </div> -->

<!--   <div class="guide_location clearfix">
   <ul>
      <li><a href="/">HOME <em>/</em></a></li>
      <li><a href="/recommends">FEATURED <em>/</em></a></li>
      <li><a href="/guides/index">GIFT GUIDES <em>/</em></a></li>
      <li class="last"><a href="/guides/guide_05">HALLOWEEN</a></li>
    </ul>
  </div> -->
  
  <div class="guide_show_header">
    <span>HALLOWEEN</span>
    <!-- <em>This is the section of this show page</em> -->
  </div>

  <div class="guide_show clearfix">

    <div class="flex guide_show_wrap" id="gallery">
      <!-- <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column last_box" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
      </div> -->

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(1)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71604M0AeIL._UY679_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(2)">
          <img src="https://cdn.shopify.com/s/files/1/0589/1813/products/ALL2_720x.jpg?v=1569975033">
        </div>
        <div class="flex column" onclick="currentSlide(3)">
          <img src="https://i.etsystatic.com/8408008/r/il/2843f9/1317545082/il_794xN.1317545082_pxgi.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(4)">
          <img src="https://i.etsystatic.com/6958638/r/il/b5a210/816763539/il_794xN.816763539_2066.jpg">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(5)">
          <img src="https://cdn1.1800flowers.com/wcsstore/Flowers/images/catalog/167638x.jpg?height=558&width=510">
        </div>
        <div class="flex column" onclick="currentSlide(6)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61mmKxMoXnL._SX679_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(7)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/91mta3k-vuL._SX522_.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(8)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71jSz8ovfqL._SX425_.jpg">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(9)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/714ci3YbusL._SX425_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(10)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71k3RnhEzLL._SX679_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(11)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/717i1kcfOQL._SX679_.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(12)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61cVeYs-4WL._SX679_.jpg">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(13)">
          <img src="https://www.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/dw11a43382/images/4116758/4116758_1.jpg?sw=500&sh=500">
        </div>
        <div class="flex column" onclick="currentSlide(14)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61UzQMT7wAL._SX522_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(15)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61u3u1TT2yL._SY879_.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(16)">
          <img src="https://cimages.prvd.com/is/image/ProvideCommerce/PCR19_8G436P_ENVIRO_SQ?$PCRProductImage$&wid=446">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(17)">
          <img src="https://i.etsystatic.com/13859010/r/il/527765/1439566573/il_794xN.1439566573_26xe.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(18)">
          <img src="https://i5.wal.co/asr/cb0a4493-4920-4ee4-b83e-346b2ddc610e_1.2bbc3f9718a05954f178f94825325e7b.jpeg-192df442a4bccb3f2c8221e18b1d4c52d3785114-legacy-q85-450x450.webp">
        </div>
        <div class="flex column" onclick="currentSlide(19)">
          <img src="https://target.scene7.com/is/image/Target/GUEST_0995d1df-1707-47ec-a10a-4158314eec45?fmt=webp&wid=1400&qlt=80">
        </div>
        <div class="flex column last_box" onclick="currentSlide(20)">
          <img src="https://target.scene7.com/is/image/Target/GUEST_250e8578-838a-4d0e-9a20-1b727ca05976?fmt=webp&wid=1400&qlt=80">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(21)">
          <img src="https://target.scene7.com/is/image/Target/GUEST_6ff8fa84-9527-4aaf-b2bd-08f4c00db7cc?fmt=webp&wid=1400&qlt=80">
        </div>
        <div class="flex column" onclick="currentSlide(22)">
          <img src="https://target.scene7.com/is/image/Target/GUEST_29d8fdf3-a80e-4ce5-9334-7f1431cb6ef7?fmt=webp&wid=1400&qlt=80">
        </div>
        <div class="flex column" onclick="currentSlide(23)">
          <img src="https://i5.walmartimages.com/asr/e80ace6e-ad42-472c-85e8-3287ce0a1f78_1.277ab752f38234e49ba1277e4ae3d724.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF">
        </div>
        <div class="flex column last_box" onclick="currentSlide(24)">
          <img src="https://i5.wal.co/asr/01c22169-970b-4ddf-b7ef-94cf0ebf7ca2_2.979394c60c01d236cdd16c689debe794.jpeg-3a5c624cdcc990bd92487d28f91102cf1e65653d-legacy-q85-450x450.webp">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(25)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71nYJlnI9wL._SX425_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(26)">
          <img src="https://i5.walmartimages.com/asr/a5459035-9df7-4103-8d1e-de00a684c9f4_2.56c154833e2e489d04b98cd6661355fa.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF">
        </div>
        <div class="flex column" onclick="currentSlide(27)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71r23SIbplL._SX522_.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(28)">
          <img src="https://i.pinimg.com/564x/a0/51/51/a0515174b6bc34ff1bf381f52e0602b1.jpg">
        </div>
      </div>

    </div><!--./show_wrap-->

    <div id="myModal" class="modal">
      <div class="wrap">
      <div class="modal-content">
        <span class="close">&times;</span> <!--close button--> 

       <!--  <div class="flex slides clearfix">
          <div class="numbering">Current_Page / Total_Page</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="Product_URL"><img src="Image_URL" alt="Image_Title"></a>
            </div>
            <div class="inner">
              <h2><a href="Product_URL">Image_Title</a></h2>
              <strong>BY Product_Source</strong><div class="pricing"><p>$Current_Price</p></div>
              <p class="description">Description</p>
              <div class="btn"><a href="Product_URL">Check it Out on <span>Product_Source</span></a></div>
            </div>
          </div>
        </div> -->

         <div class="flex slides clearfix">
          <div class="numbering">1 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2IpFA0B"><img src="https://images-na.ssl-images-amazon.com/images/I/71604M0AeIL._UY679_.jpg" alt="Halloween LED Light Up Mask"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2IpFA0B">Halloween LED Light Up Mask</a></h2>
              <strong>BY Amazon</strong>
              <div class="pricing"><p>$12.99</p></div>
              <p class="description">The mask is made of premium PVC and El cold light wire which has adverse effects on the human body.The cold light will make sure you stand out of the crowd. Regardless of where you are. You'll be getting tons of attention from others who are curious about your mask.</p>
              <div class="btn">
                <a href="https://amzn.to/2IpFA0B">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">2 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/31OoQro"><img src="https://cdn.shopify.com/s/files/1/0589/1813/products/ALL2_720x.jpg?v=1569975033" alt="ADULT LED STICKMAN COSTUME"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/31OoQro">ADULT LED STICKMAN COSTUME</a></h2>
              <strong>BY glowy zoey</strong><div class="pricing"><p>$99.99</p></div>
              <p class="description">This LED suit is not like a costume you'd get at a pop-up Halloween store that is cheaply made and barely lasts one night</p>
              <div class="btn"><a href="https://bit.ly/31OoQro">Check it Out on <span>glowy zoey</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">3 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/33awyMV"><img src="https://i.etsystatic.com/8408008/r/il/2843f9/1317545082/il_794xN.1317545082_pxgi.jpg" alt="Witches Brew Bath Bomb "></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/33awyMV">Witches Brew Bath Bomb</a></h2>
              <strong>BY etsy</strong><div class="pricing"><p>$6.95</p></div>
              <p class="description">This cauldron bath bomb weighs about 7.5 oz and is a witchy green color, with a handprinted design (Designs will vary!) Scented with patchouli, cinnamon and cedar wood. It contains popping candies to make it crackle and sound like a real witches brew cooking up!</p>
              <div class="btn"><a href="https://bit.ly/33awyMV">Check it Out on <span>etsy</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">4 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2Mgrwax"><img src="https://i.etsystatic.com/6958638/r/il/b5a210/816763539/il_794xN.816763539_2066.jpg" alt="Mini Ghost Candle"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2Mgrwax">Mini Ghost Candle</a></h2>
              <strong>BY etsy</strong><div class="pricing"><p>$2.25+</p></div>
              <p class="description">These cute lil votive ghost candles are sure to add to any Halloween decor.<br />Measuring just over 2 inches tall with app 8 hours of burning. Candles are white with black vinyl eyes attached. The vinyl eyes will need to be removed before burning the ghost candle.</p>
              <div class="btn"><a href="https://bit.ly/2Mgrwax">Check it Out on <span>etsy</span></a></div>
            </div>
          </div>
        </div>

         <div class="flex slides clearfix">
          <div class="numbering">5 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/30LtPb8"><img src="https://cdn1.1800flowers.com/wcsstore/Flowers/images/catalog/167638x.jpg?height=558&width=510" alt="Monster Dipped Strawberries"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/30LtPb8">Monster™ Dipped Strawberries</a></h2>
              <strong>BY 1800flowers</strong>
              <div class="pricing"><p>$49.99</p></div>
              <p class="description">Halloween parties were made for ghoulish goodies. Our festive berries are dipped and decorated to look just like jack-o’-lanterns, mummies and monsters. Deliciously decadent and perfect for scaring up smiles!</p>
              <div class="btn">
                <a href="https://bit.ly/30LtPb8">Check it Out on <span>1800flowers</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">6 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2oQwsek"><img src="https://images-na.ssl-images-amazon.com/images/I/61mmKxMoXnL._SX679_.jpg" alt="Paper Spiritz Pop up Halloween Card"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2oQwsek">Paper Spiritz Pop up Halloween Card</a></h2>
              <strong>BY Amazon</strong>
              <div class="pricing"><p>$5.99</p></div>
              <p class="description">Concise Cover, colorful and seasonable Inside Paper, and various ghosts and naughty pumkins of the 3D Card allures you to take part in Halloween carnival.</p>
              <div class="btn">
                <a href="https://amzn.to/2oQwsek">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">7 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/30NPD5C"><img src="https://images-na.ssl-images-amazon.com/images/I/91mta3k-vuL._SX522_.jpg" alt="Halloween Chocolate Tower Gift Basket"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/30NPD5C">Halloween Chocolate Tower Gift Basket</a></h2>
              <strong>BY Amazon</strong>
              <div class="pricing"><p>$54.95</p></div>
              <p class="description">Trick or treat yourself or your favorite ghoul with our Halloween Rocky Mountain gift tower. This colorful Halloween themed box is brimming with over a pound of spooktacular candies and chocolates.</p>
              <div class="btn">
                <a href="https://amzn.to/30NPD5C">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">8 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2IplP9s"><img src="https://images-na.ssl-images-amazon.com/images/I/71jSz8ovfqL._SX425_.jpg" alt="Happy Halloween Square Decorative Throw Pillow Case"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2IplP9s">Happy Halloween Square Decorative Throw Pillow Case</a></h2>
              <strong>BY Amazon</strong>
              <div class="pricing"><p>$18.99</p></div>
              <p class="description">Decorate your bed or couch with a cushion case,and augment the unique style of your room in an instant. The case is lightweight and durable,and allows you to comfortably hold,lean against or rest on your cushion. Your cushion in this case will also look great on the dresser or even in the car.</p>
              <div class="btn">
                <a href="https://amzn.to/2IplP9s">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

         <div class="flex slides clearfix">
          <div class="numbering">9 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/35cjh8q"><img src="https://images-na.ssl-images-amazon.com/images/I/714ci3YbusL._SX425_.jpg" alt="Halloween Pumpkin Lantern"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/35cjh8q">Halloween Pumpkin Lantern</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$18.95</p></div>
              <p class="description">Do not feel like caving pumpkin this Halloween? Our bronze LED Lighted Jack-O-Lantern Pumpkin is sure to delight all Halloween Party guests. This smiling Pumpkin Halloween Decoration features a battery operated bronze whimsical design, wearing a chic witch hat with a cross-bone skull on the brim....</p>
              <div class="btn"><a href="https://amzn.to/35cjh8q">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">10 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2IpM4wc"><img src="https://images-na.ssl-images-amazon.com/images/I/71k3RnhEzLL._SX679_.jpg" alt="The Nightmare Before Christmas Moonlight Table Lamp"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2IpM4wc">The Nightmare Before Christmas Moonlight Table Lamp</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$199.95</p></div>
              <p class="description">Tim Burton's The Nightmare Before Christmas Moonlight Lamp boasts a Bradford Exchange special design that brings the magical power of a moonlit rendezvous to any room in your home. Licensed from Disney, this lamp is really two exciting works of art in one; the fully sculpted, hand-painted base is superbly handcrafted in artist's resin and stars Jack Skellington and Sally (followed by Zero, of course!), topped by a uniquely fringed lamp shade with even more romantic artwork.</p>
              <div class="btn"><a href="https://amzn.to/2IpM4wc">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">11 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2AKOXDK"><img src="https://images-na.ssl-images-amazon.com/images/I/717i1kcfOQL._SX679_.jpg" alt="Nightmare Before Christmas Skull Throw Pillow Covers"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2AKOXDK">Nightmare Before Christmas Horror Skull Throw Pillow Covers</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$32.40</p></div>
              <p class="description">This cushion cover is the perfect cushion cover for sofa, couch, chair, bed, school, travel and naps.<br />Dimensions: 18" x 18" / 45cm x 45cm (1-2cm deviation), Sold Without Insert.</p>
              <div class="btn"><a href="https://amzn.to/2AKOXDK">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">12 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2IqwGQd"><img src="https://images-na.ssl-images-amazon.com/images/I/61cVeYs-4WL._SX679_.jpg" alt="Skull Mason Jar Mug"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2IqwGQd">Skull Mason Jar Mug</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$20.99</p></div>
              <p class="description">Great for Halloween, holidays or just a spooky drink.</p>
              <div class="btn"><a href="https://amzn.to/2IqwGQd">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>   

        <div class="flex slides clearfix">
          <div class="numbering">13 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2IoYVPk"><img src="https://www.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/dw11a43382/images/4116758/4116758_1.jpg?sw=500&sh=500" alt="Skeleton Hand Serve Bowl"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2IoYVPk">Skeleton Hand Serve Bowl</a></h2>
              <strong>BY pier1</strong><div class="pricing"><p>$23.99</p></div>
              <p class="description">Give your Halloween decorating scheme an extra hand with our spooky skeleton serving bowl. No matter what the treat, your guests are in for a bone-chilling surprise when they reach for a piece.</p>
              <div class="btn"><a href="https://bit.ly/2IoYVPk">Check it Out on <span>pier1</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">14 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/35cXr4G"><img src="https://images-na.ssl-images-amazon.com/images/I/61UzQMT7wAL._SX522_.jpg" alt="Blood Bags Drink"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/35cXr4G">Blood Bags Drink</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$14.99</p></div>
              <p class="description">Comes with 4 zombie blood bags, 4 aliens blood bags, 4 poison blood bags, 4 red cross energy blood bags and 8 A, B, AB, O blood type bags</p>
              <div class="btn"><a href="https://amzn.to/35cXr4G">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>    

        <div class="flex slides clearfix">
          <div class="numbering">15 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/30KgX4R"><img src="https://images-na.ssl-images-amazon.com/images/I/61u3u1TT2yL._SY879_.jpg" alt="Skeleton Unicorn Doll"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/30KgX4R">Skeleton Unicorn Doll</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$40.99</p></div>
              <p class="description">Description</p>
              <div class="btn"><a href="https://amzn.to/30KgX4R">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>    

        <div class="flex slides clearfix">
          <div class="numbering">16 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2ALm4qX"><img src="https://cimages.prvd.com/is/image/ProvideCommerce/PCR19_8G436P_ENVIRO_SQ?$PCRProductImage$&wid=446" alt="Half Round Pumpkin Doormat"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2ALm4qX">ImageHalf Round Pumpkin Doormat_Title</a></h2>
              <strong>BY personal creations</strong><div class="pricing"><p>$18.74</p></div>
              <p class="description">Extend a spooky welcome with our frightfully fun half-round doormat.</p>
              <div class="btn"><a href="https://bit.ly/2ALm4qX">Check it Out on <span>personal creations</span></a></div>
            </div>
          </div>
        </div>    

        <div class="flex slides clearfix">
          <div class="numbering">17 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2LQgD07"><img src="https://i.etsystatic.com/13859010/r/il/527765/1439566573/il_794xN.1439566573_26xe.jpg" alt="Milo. Dog. Mask."></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2LQgD07">Milo. Dog. Mask.</a></h2>
              <strong>BY etsy</strong><div class="pricing"><p>$Current_Price</p></div>
              <p class="description">A funny dog by the name of Milo. Jack Russell Terrier from The Mask. Decor on the shelf. Can also be used as a helmet for a soft toy. Made of durable and lightweight plastic..</p>
              <div class="btn"><a href="https://bit.ly/2LQgD07">Check it Out on <span>etsy</span></a></div>
            </div>
          </div>
        </div>  

        <div class="flex slides clearfix">
          <div class="numbering">18 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2Vil470"><img src="https://i5.wal.co/asr/cb0a4493-4920-4ee4-b83e-346b2ddc610e_1.2bbc3f9718a05954f178f94825325e7b.jpeg-192df442a4bccb3f2c8221e18b1d4c52d3785114-legacy-q85-450x450.webp" alt="Inflatables Ghostly Tree Scene"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2Vil470">Inflatables Ghostly Tree Scene</a></h2>
              <strong>BY walmart</strong><div class="pricing"><p>$39.97</p></div>
              <p class="description">Decorating for Halloween has never been easier. Just plug it in, stake it down…and watch the magic of this Airblown® Inflatable unfold! Halloween Airblown Inflatable Ghostly Tree Scene 7FT Tall by Gemmy Industries</p>
              <div class="btn"><a href="https://bit.ly/2Vil470">Check it Out on <span>walmart</span></a></div>
            </div>
          </div>
        </div> 

        <div class="flex slides clearfix">
          <div class="numbering">19 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2AMxWZF"><img src="https://target.scene7.com/is/image/Target/GUEST_0995d1df-1707-47ec-a10a-4158314eec45?fmt=webp&wid=1400&qlt=80" alt="Halloween boombox's speakers"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2AMxWZF">Halloween boombox's speakers</a></h2>
              <strong>BY Target</strong><div class="pricing"><p>$30.00</p></div>
              <p class="description">Bring a monstrously funky vibe to your Halloween get-together when you set out the Animated Monster Boombox Halloween Decor from Hyde & EEK! Boutique™. This prop boombox features a spookily cute monster face — with the boombox's speakers serving as eyes — that makes a fun complement to your eerier decorations....</p>
              <div class="btn"><a href="https://bit.ly/2AMxWZF">Check it Out on <span>Target</span></a></div>
            </div>
          </div>
        </div> 

        <div class="flex slides clearfix">
          <div class="numbering">20 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2MkUd6d"><img src="https://target.scene7.com/is/image/Target/GUEST_250e8578-838a-4d0e-9a20-1b727ca05976?fmt=webp&wid=1400&qlt=80" alt="Animated Monster Phone"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2MkUd6d">Animated Monster Phone</a></h2>
              <strong>BY Target</strong><div class="pricing"><p>$20.00</p></div>
              <p class="description">Calling all aficionados of the spooky season! The Animated Monster Phone Halloween Decor from Hyde & EEK! Boutique™ makes the perfect addition to your go-to Halloween decorations. This Halloween phone decoration looks like an old-fashioned phone with just a few seasonal touches, like a black and orange color scheme, a spiderweb pattern at the center, monster tooth detailing and monster feet for the base...</p>
              <div class="btn"><a href="https://bit.ly/2MkUd6d">Check it Out on <span>Target</span></a></div>
            </div>
          </div>
        </div>

         <div class="flex slides clearfix">
          <div class="numbering">21 / 28</div>
          <div class="inner_wrap">
           <div class="img_box">
            <a target="_blank" href="https://bit.ly/2LR13l8"><img src="https://target.scene7.com/is/image/Target/GUEST_6ff8fa84-9527-4aaf-b2bd-08f4c00db7cc?fmt=webp&wid=1400&qlt=80" alt="Talking Skull in Cloche"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2LR13l8">Talking Skull in Cloche</a></h2>
              <strong>BY Target</strong><div class="pricing"><p>$35.00</p></div>
              <p class="description">For a truly delightful addition to your collection of seasonal decor, choose the Animated Talking Skull in Cloche Halloween Decor from Hyde & EEK! Boutique™. This fun Halloween decoration is styled to look like a brain, eyeballs and teeth suspended in a clear cloche, and it's motion activated — a wave of the hand will make this goofy skull tell silly jokes for your enjoyment. Plus, it's battery operated for easy placement, so you can enjoy this fun seasonal accent piece in any room of the house.</p>
              <div class="btn"><a href="https://bit.ly/2LR13l8">Check it Out on <span>Target</span></a></div>
            </div>
          </div>
        </div>   

        <div class="flex slides clearfix">
          <div class="numbering">22 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2pRyZWd"><img src="https://target.scene7.com/is/image/Target/GUEST_29d8fdf3-a80e-4ce5-9334-7f1431cb6ef7?fmt=webp&wid=1400&qlt=80" alt="Happy Halloween Hanging Sign"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2pRyZWd">Happy Halloween Hanging Sign</a></h2>
              <strong>BY Target</strong><div class="pricing"><p>$20.00</p></div>
              <p class="description">Welcome party guests and trick-or-treaters alike with the Lit "Happy Halloween" Hanging Sign from Hyde & EEK! Boutique™. With neon-like letters, this light-up Halloween sign lets off an eerie glow in the night, set off by grinning skulls at the bottom for fun seasonal flair. Pair it with Halloween path lights or classic jack-o'-lanterns for the full effect.</p>
              <div class="btn"><a href="https://bit.ly/2pRyZWd">Check it Out on <span>Target</span></a></div>
            </div>
          </div>
        </div>   

        <div class="flex slides clearfix">
          <div class="numbering">23 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2VlH4OI"><img src="https://i5.walmartimages.com/asr/e80ace6e-ad42-472c-85e8-3287ce0a1f78_1.277ab752f38234e49ba1277e4ae3d724.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Glow In the Dark Halloween Treat Bag"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2VlH4OI">Glow In the Dark Halloween Treat Bag</a></h2>
              <strong>BY Walmart</strong><div class="pricing"><p>$16.80</p></div>
              <p class="description">Our spooky and fun designs appear white and then glows green at night, making your little guy or girl extra safe! We personalize with any name at the bottom, up to 9 characters. Choose from a Jack O Lantern, Scary Goblin, Spooky Spider, Batty Bat or a Halloween Cat. Happy Halloween!</p>
              <div class="btn"><a href="https://bit.ly/2VlH4OI">Check it Out on <span>Walmart</span></a></div>
            </div>
          </div>
        </div>   

        <div class="flex slides clearfix">
          <div class="numbering">24 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/33bbSnT"><img src="https://i5.wal.co/asr/01c22169-970b-4ddf-b7ef-94cf0ebf7ca2_2.979394c60c01d236cdd16c689debe794.jpeg-3a5c624cdcc990bd92487d28f91102cf1e65653d-legacy-q85-450x450.webp" alt="ScentSationals Full Size Wax Warmer"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/33bbSnT">ScentSationals Full Size Wax Warmer</a></h2>
              <strong>BY Walmart</strong><div class="pricing"><p>$13.00</p></div>
              <p class="description">The ScentSationals Day of the Dead, Dia de Los Muertos, Full Size Wax Warmer brings style and functionality to your home. It gently melts scented wax, releasing aromatic scents that fill an entire room with inviting warmth....</p>
              <div class="btn"><a href="https://bit.ly/33bbSnT">Check it Out on <span>Walmart</span></a></div>
            </div>
          </div>
        </div>       

        <div class="flex slides clearfix">
          <div class="numbering">25 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2IuRpCt"><img src="https://images-na.ssl-images-amazon.com/images/I/71nYJlnI9wL._SX425_.jpg" alt="DJ Skeleton Decorative Halloween Prop"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2IuRpCt">DJ Skeleton Decorative Halloween Prop</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$99.00</p></div>
              <p class="description">Whether you're a DJ or not, you can appreciate the Animated DJ Skeleton Decorative Halloween Prop from Hyde & EEK! Boutique. When music is life — or maybe death — you can't pass up a skeleton with light-up eyes and the ability to mix music. This Halloween prop will be a talking piece at your next Halloween gathering.</p>
              <div class="btn"><a href="https://amzn.to/2IuRpCt">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">26 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2oU7k6D"><img src="https://i5.walmartimages.com/asr/a5459035-9df7-4103-8d1e-de00a684c9f4_2.56c154833e2e489d04b98cd6661355fa.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Furry Halloween Bags"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2oU7k6D">Furry Halloween Bags</a></h2>
              <strong>BY Walmart</strong><div class="pricing"><p>$11.48</p></div>
              <p class="description">This Set of 4 Furry Halloween Bags adds a whole new level of fun for trick-or-treaters. Each colorful bag features the face of a not-so-spooky character. Double handles make them easy to carry....</p>
              <div class="btn"><a href="https://bit.ly/2oU7k6D">Check it Out on <span>Walmart</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">27 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/31UymJs"><img src="https://images-na.ssl-images-amazon.com/images/I/71r23SIbplL._SX522_.jpg" alt="Zalgo Kids Monster Urban Legend Costume"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/31UymJs">Zalgo Kids Monster Urban Legend Costume</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$37.95</p></div>
              <p class="description">Morphsuits are the most popular costume brand in the world with over 1.3million Facebook fans. Zalgo Kids Morphsuits are all-in-one spandex costumes that cover the whole of your body from head to toe. You can breathe through them, drink through them and see through them but no one can see you. Kids Morphsuits have several significant extra safety and design features making them perfect for children.</p>
              <div class="btn"><a href="https://amzn.to/31UymJs">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">28 / 28</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2oVKewg"><img src="https://i.pinimg.com/564x/a0/51/51/a0515174b6bc34ff1bf381f52e0602b1.jpg" alt="LED Computer with Skull"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2oVKewg">LED Computer with Skull</a></h2>
              <strong>BY Product_Source</strong><div class="pricing"><p>$35.00</p></div>
              <p class="description">Set the old-school-looking Animated LED Computer With Skull Decorative Halloween Prop from Hyde & EEK! Boutique™ on your desk or tabletop for a scary addition to your decor. The monitor features a light-up skull that talks to all who will listen. Lit with LED lights, this piece is energy-efficient and long-lasting for use year after year.</p>
              <div class="btn"><a href="https://bit.ly/2oVKewg">Check it Out on <span>Product_Source</span></a></div>
            </div>
          </div>
        </div>
       
        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>

      </div><!--./modal-content-->
      </div><!--./wrap-->
    </div><!--./modal-->
  </div><!--./guide_show-->
 </div><!--./wrap-->
</div><!-- layout -->

<script><%= render(:partial => 'guide', :handlers => [:erb], :formats => [:js]) %></script>