<div class="layout"><!--layout-->
  <div class="wrap">
  <%= render 'shared/header_short' %>

  <!-- <div class="guide_header">
    <h2>Gift for people who are CRAZY about BATMAN!</h2>
  </div> -->

  <div class="guide_location clearfix">
   <ul>
      <li><a href="/">HOME <em>/</em></a></li>
      <li><a href="/recommends">FEATURED <em>/</em></a></li>
      <li><a href="/guides/index">GIFT GUIDES <em>/</em></a></li>
      <li class="last"><a href="/guides/guide_05">HALLOWEEN</a></li>
    </ul>
  </div>
  
  <div class="guide_show_header">
    <span>HALLOWEEN</span>
    <!-- <em>This is the section of this show page</em> -->
  </div>

  <div class="guide_show clearfix">

    <div class="flex guide_show_wrap" id="gallery">
      <!-- <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
        <div class="flex column last_box" onclick="currentSlide(Page_Number)">
          <img src="Image_URL">
        </div>
      </div> -->

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(1)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71604M0AeIL._UY679_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(2)">
          <img src="https://cdn.shopify.com/s/files/1/0589/1813/products/ALL2_720x.jpg?v=1569975033">
        </div>
        <div class="flex column" onclick="currentSlide(3)">
          <img src="https://i.etsystatic.com/8408008/r/il/2843f9/1317545082/il_794xN.1317545082_pxgi.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(4)">
          <img src="https://i.etsystatic.com/6958638/r/il/b5a210/816763539/il_794xN.816763539_2066.jpg">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(5)">
          <img src="https://cdn1.1800flowers.com/wcsstore/Flowers/images/catalog/167638x.jpg?height=558&width=510">
        </div>
        <div class="flex column" onclick="currentSlide(6)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61mmKxMoXnL._SX679_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(7)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/91mta3k-vuL._SX522_.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(8)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71jSz8ovfqL._SX425_.jpg">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(9)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/714ci3YbusL._SX425_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(10)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/71k3RnhEzLL._SX679_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(11)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/717i1kcfOQL._SX679_.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(12)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61cVeYs-4WL._SX679_.jpg">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(13)">
          <img src="https://www.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/dw11a43382/images/4116758/4116758_1.jpg?sw=500&sh=500">
        </div>
        <div class="flex column" onclick="currentSlide(14)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61UzQMT7wAL._SX522_.jpg">
        </div>
        <div class="flex column" onclick="currentSlide(15)">
          <img src="https://images-na.ssl-images-amazon.com/images/I/61u3u1TT2yL._SY879_.jpg">
        </div>
        <div class="flex column last_box" onclick="currentSlide(16)">
          <img src="Image_URL">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(17)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(18)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(19)">
          <img src="Image_URL">
        </div>
        <div class="flex column last_box" onclick="currentSlide(20)">
          <img src="Image_URL">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(21)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(22)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(23)">
          <img src="Image_URL">
        </div>
        <div class="flex column last_box" onclick="currentSlide(24)">
          <img src="Image_URL">
        </div>
      </div>

      <div class="column_box last_column_box">
        <div class="flex column" onclick="currentSlide(25)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(26)">
          <img src="Image_URL">
        </div>
        <div class="flex column" onclick="currentSlide(27)">
          <img src="Image_URL">
        </div>
        <div class="flex column last_box" onclick="currentSlide(28)">
          <img src="Image_URL">
        </div>
      </div>

    </div><!--./show_wrap-->

    <div id="myModal" class="modal">
      <div class="wrap">
      <div class="modal-content">
        <span class="close">&times;</span> <!--close button--> 

       <!--  <div class="flex slides clearfix">
          <div class="numbering">Current_Page / Total_Page</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="Product_URL"><img src="Image_URL" alt="Image_Title"></a>
            </div>
            <div class="inner">
              <h2><a href="Product_URL">Image_Title</a></h2>
              <strong>BY Product_Source</strong><div class="pricing"><p>$Current_Price</p></div>
              <p class="description">Description</p>
              <div class="btn"><a href="Product_URL">Check it Out on <span>Product_Source</span></a></div>
            </div>
          </div>
        </div> -->

         <div class="flex slides clearfix">
          <div class="numbering">1 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2IpFA0B"><img src="https://images-na.ssl-images-amazon.com/images/I/71604M0AeIL._UY679_.jpg" alt="Halloween LED Light Up Mask"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2IpFA0B">Halloween LED Light Up Mask</a></h2>
              <strong>BY Amazon</strong>
              <div class="pricing"><p>$12.99</p></div>
              <p class="description">The mask is made of premium PVC and El cold light wire which has adverse effects on the human body.The cold light will make sure you stand out of the crowd. Regardless of where you are. You'll be getting tons of attention from others who are curious about your mask.</p>
              <div class="btn">
                <a href="https://amzn.to/2IpFA0B">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">2 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/31OoQro"><img src="https://cdn.shopify.com/s/files/1/0589/1813/products/ALL2_720x.jpg?v=1569975033" alt="ADULT LED STICKMAN COSTUME"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/31OoQro">ADULT LED STICKMAN COSTUME</a></h2>
              <strong>BY glowy zoey</strong><div class="pricing"><p>$99.99</p></div>
              <p class="description">This LED suit is not like a costume you'd get at a pop-up Halloween store that is cheaply made and barely lasts one night</p>
              <div class="btn"><a href="https://bit.ly/31OoQro">Check it Out on <span>glowy zoey</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">3 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/33awyMV"><img src="https://i.etsystatic.com/8408008/r/il/2843f9/1317545082/il_794xN.1317545082_pxgi.jpg" alt="Witches Brew Bath Bomb "></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/33awyMV">Witches Brew Bath Bomb</a></h2>
              <strong>BY etsy</strong><div class="pricing"><p>$6.95</p></div>
              <p class="description">This cauldron bath bomb weighs about 7.5 oz and is a witchy green color, with a handprinted design (Designs will vary!) Scented with patchouli, cinnamon and cedar wood. It contains popping candies to make it crackle and sound like a real witches brew cooking up!</p>
              <div class="btn"><a href="https://bit.ly/33awyMV">Check it Out on <span>etsy</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">4 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2Mgrwax"><img src="https://i.etsystatic.com/6958638/r/il/b5a210/816763539/il_794xN.816763539_2066.jpg" alt="Mini Ghost Candle"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2Mgrwax">Mini Ghost Candle</a></h2>
              <strong>BY etsy</strong><div class="pricing"><p>$2.25+</p></div>
              <p class="description">These cute lil votive ghost candles are sure to add to any Halloween decor.<br />Measuring just over 2 inches tall with app 8 hours of burning. Candles are white with black vinyl eyes attached. The vinyl eyes will need to be removed before burning the ghost candle.</p>
              <div class="btn"><a href="https://bit.ly/2Mgrwax">Check it Out on <span>etsy</span></a></div>
            </div>
          </div>
        </div>

         <div class="flex slides clearfix">
          <div class="numbering">5 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/30LtPb8"><img src="https://cdn1.1800flowers.com/wcsstore/Flowers/images/catalog/167638x.jpg?height=558&width=510" alt="Monster Dipped Strawberries"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/30LtPb8">Monster™ Dipped Strawberries</a></h2>
              <strong>BY 1800flowers</strong>
              <div class="pricing"><p>$49.99</p></div>
              <p class="description">Halloween parties were made for ghoulish goodies. Our festive berries are dipped and decorated to look just like jack-o’-lanterns, mummies and monsters. Deliciously decadent and perfect for scaring up smiles!</p>
              <div class="btn">
                <a href="https://bit.ly/30LtPb8">Check it Out on <span>1800flowers</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">6 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2oQwsek"><img src="https://images-na.ssl-images-amazon.com/images/I/61mmKxMoXnL._SX679_.jpg" alt="Paper Spiritz Pop up Halloween Card"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2oQwsek">Paper Spiritz Pop up Halloween Card</a></h2>
              <strong>BY Amazon</strong>
              <div class="pricing"><p>$5.99</p></div>
              <p class="description">Concise Cover, colorful and seasonable Inside Paper, and various ghosts and naughty pumkins of the 3D Card allures you to take part in Halloween carnival.</p>
              <div class="btn">
                <a href="https://amzn.to/2oQwsek">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">7 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/30NPD5C"><img src="https://images-na.ssl-images-amazon.com/images/I/91mta3k-vuL._SX522_.jpg" alt="Halloween Chocolate Tower Gift Basket"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/30NPD5C">Halloween Chocolate Tower Gift Basket</a></h2>
              <strong>BY Amazon</strong>
              <div class="pricing"><p>$54.95</p></div>
              <p class="description">Trick or treat yourself or your favorite ghoul with our Halloween Rocky Mountain gift tower. This colorful Halloween themed box is brimming with over a pound of spooktacular candies and chocolates.</p>
              <div class="btn">
                <a href="https://amzn.to/30NPD5C">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">8 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2IplP9s"><img src="https://images-na.ssl-images-amazon.com/images/I/71jSz8ovfqL._SX425_.jpg" alt="Happy Halloween Square Decorative Throw Pillow Case"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2IplP9s">Happy Halloween Square Decorative Throw Pillow Case</a></h2>
              <strong>BY Amazon</strong>
              <div class="pricing"><p>$18.99</p></div>
              <p class="description">Decorate your bed or couch with a cushion case,and augment the unique style of your room in an instant. The case is lightweight and durable,and allows you to comfortably hold,lean against or rest on your cushion. Your cushion in this case will also look great on the dresser or even in the car.</p>
              <div class="btn">
                <a href="https://amzn.to/2IplP9s">Check it Out on <span>Amazon</span></a>
              </div>
            </div>
          </div>
        </div>

         <div class="flex slides clearfix">
          <div class="numbering">9 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/35cjh8q"><img src="https://images-na.ssl-images-amazon.com/images/I/714ci3YbusL._SX425_.jpg" alt="Halloween Pumpkin Lantern"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/35cjh8q">Halloween Pumpkin Lantern</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$18.95</p></div>
              <p class="description">Do not feel like caving pumpkin this Halloween? Our bronze LED Lighted Jack-O-Lantern Pumpkin is sure to delight all Halloween Party guests. This smiling Pumpkin Halloween Decoration features a battery operated bronze whimsical design, wearing a chic witch hat with a cross-bone skull on the brim....</p>
              <div class="btn"><a href="https://amzn.to/35cjh8q">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">10 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2IpM4wc"><img src="https://images-na.ssl-images-amazon.com/images/I/71k3RnhEzLL._SX679_.jpg" alt="The Nightmare Before Christmas Moonlight Table Lamp"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2IpM4wc">The Nightmare Before Christmas Moonlight Table Lamp</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$199.95</p></div>
              <p class="description">Tim Burton's The Nightmare Before Christmas Moonlight Lamp boasts a Bradford Exchange special design that brings the magical power of a moonlit rendezvous to any room in your home. Licensed from Disney, this lamp is really two exciting works of art in one; the fully sculpted, hand-painted base is superbly handcrafted in artist's resin and stars Jack Skellington and Sally (followed by Zero, of course!), topped by a uniquely fringed lamp shade with even more romantic artwork.</p>
              <div class="btn"><a href="https://amzn.to/2IpM4wc">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">11 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2AKOXDK"><img src="https://images-na.ssl-images-amazon.com/images/I/717i1kcfOQL._SX679_.jpg" alt="Nightmare Before Christmas Skull Throw Pillow Covers"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2AKOXDK">Nightmare Before Christmas Horror Skull Throw Pillow Covers</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$32.40</p></div>
              <p class="description">This cushion cover is the perfect cushion cover for sofa, couch, chair, bed, school, travel and naps.<br />Dimensions: 18" x 18" / 45cm x 45cm (1-2cm deviation), Sold Without Insert.</p>
              <div class="btn"><a href="https://amzn.to/2AKOXDK">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">12 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/2IqwGQd"><img src="https://images-na.ssl-images-amazon.com/images/I/61cVeYs-4WL._SX679_.jpg" alt="Skull Mason Jar Mug"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/2IqwGQd">Skull Mason Jar Mug</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$20.99</p></div>
              <p class="description">Great for Halloween, holidays or just a spooky drink.</p>
              <div class="btn"><a href="https://amzn.to/2IqwGQd">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>   

        <div class="flex slides clearfix">
          <div class="numbering">13 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://bit.ly/2IoYVPk"><img src="https://www.pier1.com/dis/dw/image/v2/AAID_PRD/on/demandware.static/-/Sites-pier1_master/default/dw11a43382/images/4116758/4116758_1.jpg?sw=500&sh=500" alt="Skeleton Hand Serve Bowl"></a>
            </div>
            <div class="inner">
              <h2><a href="https://bit.ly/2IoYVPk">Skeleton Hand Serve Bowl</a></h2>
              <strong>BY pier1</strong><div class="pricing"><p>$23.99</p></div>
              <p class="description">Give your Halloween decorating scheme an extra hand with our spooky skeleton serving bowl. No matter what the treat, your guests are in for a bone-chilling surprise when they reach for a piece.</p>
              <div class="btn"><a href="https://bit.ly/2IoYVPk">Check it Out on <span>pier1</span></a></div>
            </div>
          </div>
        </div>

        <div class="flex slides clearfix">
          <div class="numbering">14 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/35cXr4G"><img src="https://images-na.ssl-images-amazon.com/images/I/61UzQMT7wAL._SX522_.jpg" alt="Blood Bags Drink"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/35cXr4G">Blood Bags Drink</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$14.99</p></div>
              <p class="description">Comes with 4 zombie blood bags, 4 aliens blood bags, 4 poison blood bags, 4 red cross energy blood bags and 8 A, B, AB, O blood type bags</p>
              <div class="btn"><a href="https://amzn.to/35cXr4G">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>    

        <div class="flex slides clearfix">
          <div class="numbering">15 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="https://amzn.to/30KgX4R"><img src="https://images-na.ssl-images-amazon.com/images/I/61u3u1TT2yL._SY879_.jpg" alt="Skeleton Unicorn Doll"></a>
            </div>
            <div class="inner">
              <h2><a href="https://amzn.to/30KgX4R">Skeleton Unicorn Doll</a></h2>
              <strong>BY Amazon</strong><div class="pricing"><p>$40.99</p></div>
              <p class="description">Description</p>
              <div class="btn"><a href="https://amzn.to/30KgX4R">Check it Out on <span>Amazon</span></a></div>
            </div>
          </div>
        </div>    

        <div class="flex slides clearfix">
          <div class="numbering">16 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="Product_URL"><img src="Image_URL" alt="Image_Title"></a>
            </div>
            <div class="inner">
              <h2><a href="Product_URL">Image_Title</a></h2>
              <strong>BY Product_Source</strong><div class="pricing"><p>$Current_Price</p></div>
              <p class="description">Description</p>
              <div class="btn"><a href="Product_URL">Check it Out on <span>Product_Source</span></a></div>
            </div>
          </div>
        </div>    

        <div class="flex slides clearfix">
          <div class="numbering">17 / 24</div>
          <div class="inner_wrap">
            <div class="img_box">
             <a target="_blank" href="Product_URL"><img src="Image_URL" alt="Image_Title"></a>
            </div>
            <div class="inner">
              <h2><a href="Product_URL">Image_Title</a></h2>
              <strong>BY Product_Source</strong><div class="pricing"><p>$Current_Price</p></div>
              <p class="description">Description</p>
              <div class="btn"><a href="Product_URL">Check it Out on <span>Product_Source</span></a></div>
            </div>
          </div>
        </div>        
       
        <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
        <a class="next" onclick="changeSlide(1)">&#10095;</a>

      </div><!--./modal-content-->
      </div><!--./wrap-->
    </div><!--./modal-->
  </div><!--./guide_show-->
 </div><!--./wrap-->
</div><!-- layout -->

<script><%= render(:partial => 'guide', :handlers => [:erb], :formats => [:js]) %></script>