<div class="layout"><!--layout-->
    
    <%= render 'shared/header' %>
    
    <div class="wrap">
    
      <div class="cu_sub_nav">
        <ul class="clearfix">
          <li><a href="/recommends/">Featured</a></li>
          <li><a class="active" href="/guides/index">Gift Guide</a></li>
          <li><a href="/editors/index">Editor's Pick</a></li>
        </ul>
      </div>

      <div class="guide_wrap">


      </div>

    </div><!--./wrap-->
  </div><!--./layout-->