<div class="layout"><!--layout-->
 <div class="wrap">   
  <%= render 'shared/header' %>
  
    <div class="cu_sub_nav">
      <ul class="clearfix">
        <li><a href="/recommends">Editor's Pick Top 10</a></li>
        <li><a  class="active" href="/guides/index">Gift Guide</a></li>
        <!-- <li><a href="/editors/index">Editor's Pick</a></li> -->
        <!-- <li><a href="/blogs/index">Blog</a></li> -->
      </ul>
    </div>

    <div class="promotions common_layout clearfix">
   
      <!-- < render 'guides/navbar' > -->
      <div class="filter-group guide_wrap">

        <!-- <div class="filter-node promotion_box" data-filter='["Categories","Products_Title"]'>
          <div class="image_box"><a href="/guides/Guide_Link"><img src="Image_URL" alt=""></a></div>
          <div class="node-box inner">
            <h2><a href="/guides/Guide_Link">Products_Title</a></h2>
            <span>Last Updated: Mon. Day. 2019</span>
          </div>
          <div class="btn"><a href="/guides/Guide_Link">Read More</a></div>
        </div> -->

        <div class="filter-node promotion_box" data-filter='["Categories","gift for who is crazy about organizing something everywhere"]'>
          <div class="image_box"><a href="/guides/guide_05"><img src="Image_URL" alt=""></a></div>
          <div class="node-box inner">
            <h2><a href="/guides/Guide_Link">gift for who is crazy about organizing something everywhere</a></h2>
            <span>Last Updated: Mon. Day. 2019</span>
          </div>
          <div class="btn"><a href="/guides/Guide_Link">Read More</a></div>
        </div>

        <div class="filter-node promotion_box" data-filter='["characters","Gift for people who are CRAZY about Mickey Mouse"]'>
          <div class="image_box"><a href="/guides/guide_04"><img src="https://images.unsplash.com/photo-1528066588405-9e20509b9e34?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="mickeymouse"></a></div>
          <div class="node-box inner">
            <h2><a href="/guides/guide_04">Gift for people who are CRAZY about Mickey Mouse</a></h2>
            <span>Last Updated: Mon. Day. 2019</span>
          </div>
          <div class="btn"><a href="/guides/guide_04">Read More</a></div>
        </div>

        <div class="filter-node promotion_box" data-filter='["characters","Gift for people who are CRAZY about BATMAN!"]'>
          <div class="image_box"><a href="/guides/guide_02"><img src="https://images.unsplash.com/photo-1497124401559-3e75ec2ed794?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="batman"></a></div>
          <div class="node-box inner">
            <h2><a href="/guides/guide_02">Gift for people who are CRAZY about BATMAN!</a></h2>
            <span>Last Updated: Jul. 09. 2019</span>
          </div>
          <div class="btn"><a href="/guides/guide_02">Read More</a></div>
        </div>

        <div class="filter-node promotion_box" data-filter='["characters","Gift for people who are CRAZY about MARVEL!"]'>
          <div class="image_box"><a href="/guides/guide_03"><img src="https://images.unsplash.com/photo-1505489435671-80a165c60816?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="marvel"></a></div>
          <div class="node-box inner">
            <h2><a href="/guides/guide_03">Gift for people who are CRAZY about MARVEL!</a></h2>
            <span>Last Updated: Jul. 10. 2019</span>
          </div>
          <div class="btn"><a href="/guides/guide_03">Read More</a></div>
        </div>

        <div class="filter-node promotion_box" data-filter='["color","Gift for people who are crazy about PINK!"]'>
          <div class="image_box"><a href="/guides/guide_01"><img src="https://images.unsplash.com/photo-1490367605959-06955305859b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="pink"></a></div>
          <div class="node-box inner">
            <h2><a href="/guides/guide_01">Gift for people who are CRAZY about PINK!</a></h2>
            <span>Last Updated: Jul. 09. 2019</span>
          </div>
          <div class="btn"><a href="/guides/guide_01">Read More</a></div>
        </div>

        

      
      </div><!--./guide_wrap-->
      

  </div><!--./wrap-->
</div><!--./layout-->