<div class="layout"><!--layout-->
 <div class="wrap">   
  <%= render 'shared/header' %>
  
    <div class="cu_sub_nav">
      <ul class="clearfix">
        <li><a href="/recommends">Editor's Pick Top 10</a></li>
        <li><a  class="active" href="/guides/index">Gift Guide</a></li>
        <!-- <li><a href="/editors/index">Editor's Pick</a></li> -->
        <!-- <li><a href="/blogs/index">Blog</a></li> -->
      </ul>
    </div>

    <div class="promotions common_layout clearfix">
   
      <!-- < render 'guides/navbar' > -->
      <div class="filter-group guide_wrap">

        <!-- <div class="filter-node promotion_box" data-filter='["Categories","Products_Title"]'>
          <div class="image_box"><a href="/guides/Guide_Link"><img src="Image_URL" alt=""></a></div>
          <div class="node-box inner">
            <h2><a href="/guides/Guide_Link">Products_Title</a></h2>
            <span>Last Updated: Mon. Day. 2019</span>
          </div>
          <div class="btn"><a href="/guides/Guide_Link">Read More</a></div>
        </div> -->
        
        <div class="filter-node promotion_box" data-filter='["special","halloween"]'>
          <div class="image_box"><a href="/guides/halloween"><img src="https://images.unsplash.com/photo-1508361001413-7a9dca21d08a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="halloween"></a></div>
          <div class="node-box inner">
            <h2><a href="/guides/halloween">Halloween</a></h2>
            <!-- <span>Last Updated: Jul. 09. 2019</span> -->
          </div>
          <div class="btn"><a href="/guides/halloween">Read More</a></div>
        </div>

        

      
      </div><!--./guide_wrap-->
      

  </div><!--./wrap-->
</div><!--./layout-->