<div class="card clearfix" data-score="50" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2InWpb7"><img src="https://m.media-amazon.com/images/I/71uWWF7o9vL._AC_UL436_.jpg" alt="iPad Air 2 Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2InWpb7">Logitech Type+ Protective iPad Air 2 (ONLY) Case with Integrated Keyboard – Two Viewing Positions – Designed for Typing and Tapping</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2InWpb7">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="23.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WoB4Ix"><img src="https://m.media-amazon.com/images/I/915-OrYd+wL._AC_UL436_.jpg" alt="Gaming Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WoB4Ix">Turtle Beach Recon Camo Multiplatform Gaming Headset for Xbox One, PS4, PC, Mac, & Mobile</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.97</span><span class="ori_price">$59.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WoB4Ix">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="52" data-price="37.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/318lRtU"><img src="https://m.media-amazon.com/images/I/81N5fTcMsPL._AC_UL436_.jpg" alt="Desktop Memory" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/318lRtU">Corsair CMZ8GX3M1A1600C10 Vengeance 8GB (1x8GB) DDR3 1600 MHz (PC3 12800) Desktop Memory 1.5V</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.99</span><span class="ori_price">$78.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/318lRtU">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="54" data-price="64.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2JYIEDa"><img src="https://m.media-amazon.com/images/I/71vyZdq-60L._AC_UL436_.jpg" alt="Fitness/Activity Tracker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2JYIEDa">Garmin vívosmart 3, Fitness/Activity Tracker with Smart Notifications and Heart Rate Monitoring, Black ,Small-Medium</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.88</span><span class="ori_price">$139.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2JYIEDa">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="65" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WfTZk3"><img src="https://m.media-amazon.com/images/I/810p4fIuvOL._AC_UL436_.jpg" alt="Screen Protector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WfTZk3">ZAGG InvisibleShield HDX Screen Protector - HD Clarity + Extreme Shatter Protection for Apple iPad Pro 9.7 / iPad Air 2 / iPad Air</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WfTZk3">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WqpY5H"><img src="https://m.media-amazon.com/images/I/51iTX-YFdgL._AC_UL436_.jpg" alt="MagicMount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WqpY5H">SCOSCHE MAG12VB MagicMount Magnetic Phone/GPS Power Outlet Mount for the Car in Frustration Free Packaging</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$17.66</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WqpY5H">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="35.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Im3Hwg"><img src="https://m.media-amazon.com/images/I/81OMtowJ8WL._AC_UL436_.jpg" alt="Galaxy Tab S4 Book Cover" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Im3Hwg">Samsung Electronics EF-BT830PBEGUJ Galaxy Tab S4 Book Cover, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.00</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Im3Hwg">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="57" data-price="89.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WoBUFb"><img src="https://m.media-amazon.com/images/I/61jhgzpoZJL._AC_UL436_.jpg" alt="Laser Printer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WoBUFb">Xerox Phaser 3260/DNI Monchrome Laser Printer - Wireless</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$89.00</span><span class="ori_price">$209.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WoBUFb">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="59" data-price="31.71">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WfV7UP"><img src="https://m.media-amazon.com/images/I/81Mbn8ZrjbL._AC_UL436_.jpg" alt="Split Design Wired Keyboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WfV7UP">Fellowes Microban Split Design Wired Keyboard, Dark Gray - FEL98915</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.71</span><span class="ori_price">$77.49</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WfV7UP">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="60" data-price="179.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ipv20z"><img src="https://m.media-amazon.com/images/I/41tW6Kpw1xL._AC_UL436_.jpg" alt="Corsair Vengeance LPX 32GB DDR4" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ipv20z">Corsair Vengeance LPX 32GB DDR4 3200 C16 for Intel 100 Series - White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$179.99</span><span class="ori_price">$444.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ipv20z">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="50" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2K41c59"><img src="https://i.pinimg.com/originals/71/eb/28/71eb284c8ff15180976cefcdadc4efd3.png" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>Up to 50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <span class="shipping_condition">(Lower price available on select options)</span>
    <p><a target="_blank" href="https://amzn.to/2K41c59">Amazon Deal Of The Day: Save Big on Running and Performance Footwear</a></p>
  
    <div class="code_high">
      <ul>
        <li>
          <p>ADDIDAS</p>
          <ul>
            <li><a href="https://amzn.to/2Mv2c4f">adidas Men's Alphabounce RC 2 Running Shoe</a> - <span>from 35.20</span></li>
            <li><a href="https://amzn.to/2JXufqK">adidas Men's Adizero Boston 7 Running Shoe</a> - <span>from 69.00</span></li>
            <li><a href="https://amzn.to/2XxVEmw">adidas Men's Alphabounce CR CC Running Shoe</a> - <span>from 49.95</span></li>
            <li><a href="https://amzn.to/2MumQBz">adidas Women's Alphabounce Beyond W Running Shoe</a> - <span>from 34.99</span></li>
            <li><a href="https://amzn.to/2JWN8dp">adidas Women's Solar Drive Running Shoe</a> - <span>from 51.94</span></li>
            <li><a href="https://amzn.to/2K41c59">- SEE MORE</a></li>
          </ul>
        </li>

        <li>
          <p>PUMA</p>
          <ul>
            <li><a href="https://amzn.to/2JX3BhH">PUMA Women's Tazon 6 WN's FM Cross-Trainer Shoe</a> - <span>from 37.16</span></li>
            <li><a href="https://amzn.to/2WpVKjw">PUMA Men's Tazon 6 FM Running Shoe</a> - <span>from 38.50</span></li>
            <li><a href="https://amzn.to/2JXGN1m">PUMA Men's Nrgy Neko Sport Sneaker</a> - <span>from 31.25</span></li>
            <li><a href="https://amzn.to/2K41c59">- SEE MORE</a></li>
          </ul>
        </li>

        <li>
          <p>MIZUNO</p>
          <ul>
            <li><a href="https://amzn.to/2HUFRZi">Mizuno Wave Prophecy 7 Men's Running Shoes</a> - <span>from 109.00</span></li>
            <li><a href="https://amzn.to/2JXqKAz">Mizuno Women's Wave Sky 2 Running Shoe</a> - <span>from 79.00</span></li>
            <li><a href="https://amzn.to/2WeA6tq">Mizuno Men's Wave Shadow 2 Running Shoe</a> - <span>from 69.00</span></li>
            <li><a href="https://amzn.to/2K41c59">- SEE MORE</a></li>
          </ul>
        </li>

        <li>
          <p>REEBOK</p>
          <ul>
            <li><a href="https://amzn.to/2K0fT8X">Reebok Men's Fast Flexweave</a> - <span>from 35.00</span></li>
            <li><a href="https://amzn.to/2JXdcVE">Reebok Women's Fast Flexweave Running Shoe</a> - <span>from 25.36</span></li>
            <li><a href="https://amzn.to/2WJpIyd">Reebok Men's Print Run Dist Sneaker</a> - <span>from 45.00</span></li>
            <li><a href="https://amzn.to/2K41c59">- SEE MORE</a></li>
          </ul>
        </li>
        
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2K41c59">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="35" data-price="22.94">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IhhJiC"><img src="https://m.media-amazon.com/images/I/81JuG6WJCnL._AC_UL436_.jpg" alt="Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IhhJiC">Travel Laptop Backpack,AMBOR Anti-Theft Business Laptop Backpack with USB Charging Port & Headphone Interface</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.94</span><span class="ori_price">$35.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2IhhJiC">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="16" data-price="149.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WetdZ1"><img src="https://images-na.ssl-images-amazon.com/images/I/81yLjS4BhHL._SX522_.jpg" alt="BenQ Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WetdZ1">BenQ Monitor GW2760HL 27 inch 1080p VA Monitor | Optimized for Home Office with Low Blue Light technology</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$149.99</span><span class="ori_price">$179.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WetdZ1">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="14.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2XtxY2r"><img src="https://images-na.ssl-images-amazon.com/images/I/71WJylJHXBL._SX522_.jpg" alt="Scalp Massaging Shampoo Brush" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2XtxY2r">Vitagoods Scalp Massaging Shampoo Brush - Handheld Vibrating Massager, Water-Resistant Device</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.39</span><span class="ori_price">$15.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2XtxY2r">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="36" data-price="25.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WeLPbt"><img src="https://images-na.ssl-images-amazon.com/images/I/512lwve9EtL._SX679_.jpg" alt="Bluetooth Transmitter Receiver" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WeLPbt">Father's Day Sale: 164ft Long Range Bluetooth Transmitter Receiver V5.0 Wireless Audio Adapter</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.49</span><span class="ori_price">$39.99</span>
        <div class="tooltip_orange">
          <span>Double Discount</span>
          <div class="tooltip-content">
            <p>You can get extra discount width coupon</p>
          </div>
        </div> 
      </address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WeLPbt">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="57" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WetIlR"><img src="https://images-na.ssl-images-amazon.com/images/I/71ys2-Id6BL._SX342_.jpg" alt="Fifty Shades of Grey" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WetIlR">Fifty Shades of Grey / Fifty Shades Darker 2-Movie Collection</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$34.97</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WetIlR">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="53" data-price="18.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WcfXUZ"><img src="https://images-na.ssl-images-amazon.com/images/I/91H25JAK%2BCL._SX679_.jpg" alt="Travel Tin Candle Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WcfXUZ">Big Aromatherapy Scented Candles Essential Oils Natural Soy Wax Portable Travel Tin Candle Set of 4 Gift Huge 6 Ounce tins 140 Hour Burn Long Lasting Fresh Citrus</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.88</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WcfXUZ">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="98.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WqmUGY"><img src="https://images-na.ssl-images-amazon.com/images/I/812pGjmDC-L._SX522_.jpg" alt="Bluetooth Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WqmUGY">Sony WH-XB700 Wireless Extra Bass Bluetooth Headphones, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$98.00</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WqmUGY">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="10" data-price="35.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Mv9RiY"><img src="https://images-na.ssl-images-amazon.com/images/I/7187IPsOcJL._SX679_.jpg" alt="LED Fog Lights" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>10% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Mv9RiY">Nilight ZH016 12 Inch 72W Spot Combo Bar 2PCS 4 Inch 18W Flood LED Fog Lights with Off Road Wiring Harness-2 Leads, 2 Years Warranty</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.95</span><span class="ori_price">$39.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Mv9RiY">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="25" data-price="15.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WfceWF"><img src="https://images-na.ssl-images-amazon.com/images/I/71XjIhPkYQL._SX522_.jpg" alt="Yes4All Soft Foam Roller" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WfceWF">Yes4All Soft Foam Roller: 12, 18, 24 & 36 inch (Multi Color)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.92</span><span class="ori_price">$21.26</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WfceWF">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="44" data-price="402.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WhbEaS"><img src="https://m.media-amazon.com/images/I/71SWW5LsZ0L._AC_UL436_.jpg" alt="Samsung Galaxy S9 Plus" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WhbEaS">Samsung Galaxy S9 Plus Verizon + GSM Unlocked 64GB Midnight Black (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$402.99</span><span class="ori_price">$714.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WhbEaS">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="26" data-price="51.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2EQkLcU"><img src="https://images-na.ssl-images-amazon.com/images/I/612LZ8YfLBL._SX522_.jpg" alt="Yaheetech 51" Cat Tree Tower" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2EQkLcU">Yaheetech 51" Cat Tree Tower Condo Furniture Scratch Post for Kittens Pet House Play</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$51.99</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2EQkLcU">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="44" data-price="49.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WbNI8Z"><img src="https://images-na.ssl-images-amazon.com/images/I/71pi6ZVlWNL._SX522_.jpg" alt="Whiskey Decanter Globe Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WbNI8Z">Whiskey Decanter Globe Set with 2 Etched Globe Whisky Glasses - for Liquor, Scotch, Bourbon, Vodka - 850ml</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.96</span><span class="ori_price">$89.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WbNI8Z">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="15" data-price="59.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ktr6ym"><img src="https://images-na.ssl-images-amazon.com/images/I/71niEqp0cjL._SX522_.jpg" alt="Inflatable Pool" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ktr6ym">Inflatable Pool, Sable Blow up Kiddie Pool for Family, Garden, Outdoor, Backyard, 92" X 56" X 20", for Ages 3+</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.49</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2Ktr6ym">Shop Now</a>
  </div>
</div>

<div class="card clearfix" data-score="43" data-price="39.56">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2WayEIA"><img src="https://images-na.ssl-images-amazon.com/images/I/81gq-iI%2BQ4L._SX679_.jpg" alt="Cooks Standard 02553 4-Piece Canister Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2WayEIA">Cooks Standard 02553 4-Piece Canister Set, Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.56</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn">
    <a target="_blank" href="https://amzn.to/2WayEIA">Shop Now</a>
  </div>
</div>
