<div class="card clearfix" data-score="27" data-price="21.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nIcJwN"><img src="https://images-na.ssl-images-amazon.com/images/I/91LC2oKq5uL._SX679_.jpg" alt="Spruced Insulated Waxed Canvas Lunch Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nIcJwN">Spruced Insulated Waxed Canvas Lunch Bag for Men, Women | Perfect for Work. Professional, Practical & Stylish | Reusable. Keeps Food Cold. ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nIcJwN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="11.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nL4NuZ"><img src="https://images-na.ssl-images-amazon.com/images/I/61FAHRDYYmL._SX425_.jpg" alt="Conair 1875 Watt Cord Keeper Hair Dryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nL4NuZ">Conair 1875 Watt Cord Keeper Hair Dryer with Folding Handle and Retractable Cord, Travel Hair Dryer, Teal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.14</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nL4NuZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="64.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nHIqX3"><img src="https://images-na.ssl-images-amazon.com/images/I/81VeNFsJGDL._SX679_.jpg" alt="LaCie Porsche Design 2TB USB-C Mobile Hard Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nHIqX3">LaCie Porsche Design 2TB USB-C Mobile Hard Drive, Rose Gold + 2mo Adobe CC Photography (STFD2000406)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.99</span><span class="ori_price">$99.94</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nHIqX3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="279.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mebFQR"><img src="https://images-na.ssl-images-amazon.com/images/I/51YpArlasKL._SX522_.jpg" alt="ViewSonic 3600 Lumens SVGA High Brightness Projector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mebFQR">ViewSonic 3600 Lumens SVGA High Brightness Projector for Home and Office with HDMI Vertical Keystone and 1080p Support (PA503S)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$279.99</span><span class="ori_price">$459.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mebFQR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="8.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lCcZgi"><img src="https://images-na.ssl-images-amazon.com/images/I/71ukEnLxKDL._SY550_.jpg" alt="Contigo Snapseal Byron Stainless Steel Travel Mug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lCcZgi">Contigo Snapseal Byron Stainless Steel Travel Mug, 24 oz., Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.99</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lCcZgi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="15.96">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n3PgpI"><img src="https://images-na.ssl-images-amazon.com/images/I/71X9lDSoykL._SX679_.jpg" alt="Hamilton Beach 80335R Fresh-Grind Coffee Grinder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n3PgpI">Hamilton Beach 80335R Fresh-Grind Coffee Grinder, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.96</span><span class="ori_price">$20.50</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2n3PgpI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="71.55">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mdqVxw"><img src="https://images-na.ssl-images-amazon.com/images/I/71bs45LWLpL._SX522_.jpg" alt="LEVOIT Air Purifier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mdqVxw">LEVOIT Air Purifier for Home Smokers Allergies and Pets Hair, True HEPA & High Efficiency Carbon Filter, Filtration System Cleaner, Eliminates Smoke Odor Dust Mold, Quiet in Bedroom Office, LV-H132</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$71.55</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mdqVxw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="37.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nKcKQY"><img src="https://images-na.ssl-images-amazon.com/images/I/71wC5jW8K0L._SX425_.jpg" alt="Coco & Eve Like a Virgin Hair Masque" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nKcKQY"><span>Amazon Deal Of The Day:</span> Coco & Eve Like a Virgin Hair Masque. Super Nourishing Coconut & Fig Hair Mask and Deep Conditioning Hair Treatment</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.40</span><span class="ori_price">$49.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nKcKQY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nLlJ4r"><img src="https://images-na.ssl-images-amazon.com/images/I/81WwuQSBenL._SX679_.jpg" alt="KitchenAid KCM5912SX Cold Brew Coffee Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nLlJ4r"><span>Amazon Deal Of The Day:</span> KitchenAid KCM5912SX Cold Brew Coffee Maker 38 Ounce Brushed Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nLlJ4r">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="249.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lxoLZ9"><img src="https://images-na.ssl-images-amazon.com/images/I/81Nqg4R5leL._AC_SR300,300_.jpg" alt="Cubii Pro - Seated Under-Desk Elliptical" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lxoLZ9"><span>Amazon Deal Of The Day:</span> Cubii Pro - Seated Under-Desk Elliptical - Get Fit While You Sit - Bluetooth Enabled, ....</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$249.00</span><span class="ori_price">$399.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lxoLZ9">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2mydhEX"><img src="<%=asset_path 'extra_save.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="30" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lA8xP9"><img src="https://images-na.ssl-images-amazon.com/images/I/61W18UulCzL._SX425_.jpg" alt="HyperDrive USB C Hub" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lA8xP9">HyperDrive USB C Hub, Best Mac Type-C Dual Hub Adapter for MacBook Pro 2019 2018-2016 13" 15" & MacBook Air, 7in2: USB-C 100W PD, USBC 40Gbps Data,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$99.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lA8xP9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="47.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mbYyzJ"><img src="https://images-na.ssl-images-amazon.com/images/I/61iixOb9aVL._SX522_.jpg" alt="LIFX 1100-Lumen" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mbYyzJ">LIFX 1100-Lumen, 11W Dimmable A19 LED Light Bulb (LHA19E26UC10) Multi Colored - 75W - New</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$47.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mbYyzJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="20.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n6QikN"><img src="https://images-na.ssl-images-amazon.com/images/I/317pkCeRMEL.jpg" alt="Rocketbook Wave Smart Notebook" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n6QikN">Rocketbook Wave Smart Notebook - Dotted Grid Eco-Friendly Notebook with 1 Pilot Frixion Pen Included - Standard Size (8.5" x 9.5")</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$20.95</span><span class="ori_price">$27.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2n6QikN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="127.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nL9uF7"><img src="https://images-na.ssl-images-amazon.com/images/I/612gk7abIUL._SX425_.jpg" alt="Petcube Play Smart Pet Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nL9uF7">[2017 Item] Petcube Play Smart Pet Camera with Interactive Laser Toy. Remote Dog/Cat Monitoring with HD 1080p Video,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$127.95</span><span class="ori_price">$199.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nL9uF7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nFeivq"><img src="https://images-na.ssl-images-amazon.com/images/I/61-LVP8cHcL._SX679_.jpg" alt="Multi-Port USB Wall Charger" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nFeivq">Multi-Port USB Wall Charger, airochi Stylish 4-Port Fast Charging Station, [24W/4.8A] with Folding Plug for Travel, Compatible with iPhone,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nFeivq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="7.52">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mceguJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71XiCQeRyzL._SX679_.jpg" alt="Prepworks by Progressive 16-Slice Thin Apple Slicer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mceguJ">Prepworks by Progressive 16-Slice Thin Apple Slicer & Corer</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.52</span><span class="ori_price">$12.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mceguJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="9.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2m2wWx7"><img src="https://images-na.ssl-images-amazon.com/images/I/81bAUD4sUdL._SX425_.jpg" alt="Skip Hop Moby Bath Spout Cover Universal Fit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2m2wWx7">Skip Hop Moby Bath Spout Cover Universal Fit, Blue</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.59</span><span class="ori_price">$13.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2m2wWx7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="4.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nHRonb"><img src="https://images-na.ssl-images-amazon.com/images/I/71iWcoius6L._SX522_.jpg" alt="Umbra Skinny Sleek & Stylish Bathroom Trash" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nHRonb">Umbra Skinny Sleek & Stylish Bathroom Trash, Small Garbage Can Wastebasket for Narrow Spaces at Home or Office, 2 Gallon Capacity, Metallic White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.99</span><span class="ori_price">$7.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nHRonb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="136.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2memjXP"><img src="https://images-na.ssl-images-amazon.com/images/I/51WDgzkOySL._SX425_.jpg" alt="Coway AP-1512HH Mighty Air Purifier" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2memjXP">Coway AP-1512HH Mighty Air Purifier with True HEPA and Eco Mode in White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$136.85</span><span class="ori_price">$229.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2memjXP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="69.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nHSzD7"><img src="https://images-na.ssl-images-amazon.com/images/I/51ShjlX1bkL._SX425_.jpg" alt="1MORE Stylish True Wireless Earbuds" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nHSzD7">1MORE Stylish True Wireless Earbuds - Bluetooth 5.0 Stereo Hi-Fi Sound with Deep Bass Wireless Earphones Built-in Mic Headset,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.92</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nHSzD7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="18" data-price="32.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mcsCv6"><img src="https://images-na.ssl-images-amazon.com/images/I/71YtKgokwML._SX522_.jpg" alt="Lekesky Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mcsCv6">Lekesky Laptop Backpack 15.6 Inch Stylish School Backpack Water Repellent Travel Backpack for Women and Men</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 7% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 7% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mcsCv6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="438.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2m07Grf"><img src="https://images-na.ssl-images-amazon.com/images/I/61Bvdojp0ML._SY879_.jpg" alt="EcoSmart ECO 27 Electric Tankless Water Heater" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2m07Grf">EcoSmart ECO 27 Electric Tankless Water Heater, 27 KW at 240 Volts, 112.5 Amps with Patented Self Modulating Technology</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$438.00</span><span class="ori_price">$599.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2m07Grf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="1.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ncfjL7"><img src="https://images-na.ssl-images-amazon.com/images/I/71v%2BypWGAKL._SX425_.jpg" alt="Western Premium BBQ Products Hickory BBQ Smoking Chips" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ncfjL7">Western Premium BBQ Products Hickory BBQ Smoking Chips, 180 cu in</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1.88</span><span class="ori_price">$3.79</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ncfjL7">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mfXn2j"><img src="https://images-na.ssl-images-amazon.com/images/I/81mzFJsYM2L._UX679_.jpg" alt="Laptop Backpack Travel Computer Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mfXn2j">Laptop Backpack Travel Computer Backpack College Bookbag Vintage Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$32.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mfXn2j">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lvP6Xy"><img src="https://images-na.ssl-images-amazon.com/images/I/61DAL3xHM2L._SX425_.jpg" alt="Gift-Hero Compatible with Airpods" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lvP6Xy">Gift-Hero Compatible with Airpods 1&2 Soft Silicone Cute Case, Cartoon 3D Fun Animal Funny Cool Kawaii Designer Kits Character Skin Fashion...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lvP6Xy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ncgQAR"><img src="https://images-na.ssl-images-amazon.com/images/I/91Z28S5RqkL._SX425_.jpg" alt="Hamilton Beach 25475A Breakfast Sandwich Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ncgQAR">Hamilton Beach 25475A Breakfast Sandwich Maker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ncgQAR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="18.78">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2m2OdGs"><img src="https://images-na.ssl-images-amazon.com/images/I/61tAQbe-4qL._SX679_.jpg" alt="CINOTON Solar Lights Outdoor Solar Security Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2m2OdGs">CINOTON Solar Lights Outdoor Solar Security Lights with Motion Sensor 30 LED Solar Flood Light Outdoor Dual Head Spotlights ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.78</span><span class="ori_price">$27.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2m2OdGs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2m2HCfb"><img src="https://images-na.ssl-images-amazon.com/images/I/81GzRAE3x%2BL._SX679_.jpg" alt="Smart Watch for Android Phone iphone" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2m2HCfb">Smart Watch for Android Phone iphone, Arbily Smartwatch with Heart Rate Monitor Waterproof Swimming Smart Watch with Sleep...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2m2HCfb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="16.02">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mc3ch2"><img src="https://images-na.ssl-images-amazon.com/images/I/71S1eoJbn7L._SX679_.jpg" alt="One Handed Keyboard One-Handed Mechanical Gaming Keyboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mc3ch2">One Handed Keyboard One-Handed Mechanical Gaming Keyboard RGB LED Backlit SADES Portable Mini Gaming Keypad for LOL/PUBG/Wow/Dota/OW/Fps Game</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.02</span><span class="ori_price">$23.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mc3ch2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="28.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2na26Tq"><img src="https://images-na.ssl-images-amazon.com/images/I/A1NTb8wISKL._SX522_.jpg" alt="Rockland Luggage 2 Piece Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2na26Tq">Rockland Luggage 2 Piece Set, Charcoal, One Size</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.05</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2na26Tq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="31.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nF4Qbn"><img src="https://images-na.ssl-images-amazon.com/images/I/61JUxZqBDVL._SX425_.jpg" alt="Rubie's Jurassic World:" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nF4Qbn">Rubie's Jurassic World: Fallen Kingdom Child's Inflatable Velociraptor Costume</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.50</span><span class="ori_price">$64.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nF4Qbn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="25.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lxD0NE"><img src="https://images-na.ssl-images-amazon.com/images/I/71qwCH5aWnL._SX425_.jpg" alt="Cotton Rope Basket" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lxD0NE">Cotton Rope Basket | Decorative & Large Blanket Basket for Living Room | Ergonomic Toy Storage, Baby, Towel, Laundry, Woven Storage...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.95</span><span class="ori_price">$36.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lxD0NE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="49.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nJQnLt"><img src="https://images-na.ssl-images-amazon.com/images/I/91BUOQOH8dL._SX679_.jpg" alt="Mixology Bartender Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nJQnLt">Mixology Bartender Kit: 10-Piece Bar Tool Set with Stylish Mahogany Stand - Perfect Home Bartending Kit and Martini Cocktail...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.97</span><span class="ori_price">$79.97</span>
        <div class="tooltip_common tooltip_orange"><span> + $3.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $3.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nJQnLt">Shop Now at Amazon</a></div>
</div>
