<div class="card clearfix" data-score="33" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31UFXHx"><img src="https://images-na.ssl-images-amazon.com/images/I/812WhLmdP3L._SX679_.jpg" alt="Chef'sChoice Electric Meat Slicer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31UFXHx"><span>Amazon Deal Of The Day:</span> Chef'sChoice 609A000 Electric Meat Slicer with Stainless Steel Blade Features Slice...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$150.00</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31UFXHx">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="32" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KM9jST"><img src="https://images-na.ssl-images-amazon.com/images/I/71aWFFyhB+L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KM9jST"><span>Amazon Deal Of The Day:</span> Save up to 32% on Premium Linens and Comforters</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2ZaTihY">Royal Bedding Full/Queen Size Down</a> - <span>151.99<em>199.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Zk8K6A">Navy and White Meridian Full / Queen Coverlet 3pc set</a> - <span>43.99<em>64.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/31Pg8sq">Periwinkle and White Meridian King / Cal-king 3-piece Duvet-Cover-Set</a> - <span>55.99<em>69.99</em></span></li>
            <li><a href="https://amzn.to/2KM9jST">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KM9jST">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="75" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zl0LGH"><img src="https://images-na.ssl-images-amazon.com/images/I/61yB5Ndir7L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zl0LGH"><span>Amazon Deal Of The Day:</span> Save up to 75% or more on teaching supplies</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/31WwaB2">Swingline Desktop Hole Punch, Hole Puncher</a> - <span>12.63<em>51.49</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2ZlcaWW">Swingline Stapler, Optima 40, Compact Desktop Stapler</a> - <span>9.27<em>19.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/31TLcav">Paper Mate InkJoy Gel Pens, Fine Point</a> - <span>7.50<em>14.00</em></span></li>
            <li><a href="https://amzn.to/2Zl0LGH">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zl0LGH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="73" data-price="6.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Z89cf"><img src="https://images-na.ssl-images-amazon.com/images/I/51zvR-cBUdL._SX522_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>73% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Z89cf">Westcott 8" Titanium Bonded Scissors, 2 Scissors</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.84</span><span class="ori_price">$25.35</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Z89cf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="28.81">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZhjVgB"><img src="https://images-na.ssl-images-amazon.com/images/I/614n1WWRaZL._SX679_.jpg" alt="WiFi Extender 300 Mbps with WPS Internet Signal Booster" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZhjVgB">WiFi Extender 300 Mbps with WPS Internet Signal Booster - Wireless Repeater 2.4GHz Band up to 300 Mbps ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.81</span><span class="ori_price">$69.50</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZhjVgB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="31.51">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31VkoXk"><img src="https://images-na.ssl-images-amazon.com/images/I/71zShOke2hL._SX425_.jpg" alt="Laser Tape Measure 2-in-1" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31VkoXk">Laser Tape Measure 2-in-1, laser measurement 131Ft silent laser range finder USB rechargeable color LCD display,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$31.51</span><span class="ori_price">$66.65</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31VkoXk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HiUh51"><img src="https://images-na.ssl-images-amazon.com/images/I/61pRxPhSOkL._SX679_.jpg" alt="Eraindo Small Personal USB Desk Fan" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HiUh51">Eraindo Small Personal USB Desk Fan 360 Degree Rotation 3 Speeds Mini Size Desktop Table Protable Fan with USB Rechargeable...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.90</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HiUh51">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="59.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HyaovJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71j9ZM3X9DL._SX522_.jpg" alt="SIMOLIO Digital Wireless Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HyaovJ">SIMOLIO Digital Wireless Headphones with Optical for All TVs, Hearing Protection Wireless TV Headphone, Wireless TV Headsets...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.49</span><span class="ori_price">$119.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HyaovJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KOGyoH"><img src="https://images-na.ssl-images-amazon.com/images/I/81AKW4bAj4L._SX522_.jpg" alt="Kodak PIXPRO Astro Zoom AZ251-SL 16MP Digital Camera " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KOGyoH">Kodak PIXPRO Astro Zoom AZ251-SL 16MP Digital Camera with 25X Optical Zoom and 3" LCD Screen (Silver) (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KOGyoH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="199.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HlBHZT"><img src="https://images-na.ssl-images-amazon.com/images/I/41gJDkEgADL.jpg" alt="ASUS Transformer Book " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HlBHZT">ASUS Transformer Book T100TA 10.1-inch Detachable Windows 8.1 Tablet (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.99</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HlBHZT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zbO1HE"><img src="https://images-na.ssl-images-amazon.com/images/I/61GJK9yd4fL._SX425_.jpg" alt="Quiseen One-Touch Electric Coffee Grinder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zbO1HE">Quiseen One-Touch Electric Coffee Grinder. Grinds Coffee Beans, Spices, Nuts and Grains...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.95</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2zbO1HE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KMSQO6"><img src="https://images-na.ssl-images-amazon.com/images/I/61iVWu3VliL._SX679_.jpg" alt="Hamilton Beach Coffee Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KMSQO6">Hamilton Beach Coffee Maker with Glass Carafe, 5-Cup (48136)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$32.50</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KMSQO6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HibbQY"><img src="https://images-na.ssl-images-amazon.com/images/I/810G94xdBsL._SX679_.jpg" alt="Euro Cuisine YM80 Yogurt Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HibbQY">Euro Cuisine YM80 Yogurt Maker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.99</span><span class="ori_price">$40.00</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HibbQY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZoNsFi"><img src="https://images-na.ssl-images-amazon.com/images/I/81lfnLH9ARL._SX679_.jpg" alt="Steamfast SF-717 Mini Steam Iron" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZoNsFi">Steamfast SF-717 Mini Steam Iron with Dual Voltage Travel Bag, Non-Stick Soleplate, Anti-Slip Handle, Rapid Heating,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZoNsFi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="119.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HmDbTQ"><img src="https://images-na.ssl-images-amazon.com/images/I/61NRX%2B8-vTL._SX522_.jpg" alt="SoundAsleep Dream Series Air Mattress" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HmDbTQ">SoundAsleep Dream Series Air Mattress with ComfortCoil Technology & Internal High Capacity Pump - Queen Size</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$119.95</span><span class="ori_price">$179.95</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HmDbTQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="13.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31SjATh"><img src="https://images-na.ssl-images-amazon.com/images/I/91HRF9Sxt%2BL._SX425_.jpg" alt="J5 Tactical V1-PRO Flashlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31SjATh">J5 Tactical V1-PRO Flashlight - The Original 300 Lumen Ultra Bright, LED Mini 3 Mode Flashlight</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.95</span><span class="ori_price">$29.95</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31SjATh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="18.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KYVwqU"><img src="https://images-na.ssl-images-amazon.com/images/I/81RhNTH%2BoCL._SX425_.jpg" alt="Vont 4 Pack LED Camping Lantern" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KYVwqU">Vont 4 Pack LED Camping Lantern, LED Lantern, Suitable for Survival Kits for Hurricane, Emergency Light, Storm,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.19</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_purple"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_purple"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get discount by clipping coupon</p></div></div> 
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KYVwqU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="45.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZoNQUg"><img src="https://images-na.ssl-images-amazon.com/images/I/51JXK2bqEML._UX679_.jpg" alt="Under Armour Undeniable Duffle 3.0 Gym Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZoNQUg">Under Armour Undeniable Duffle 3.0 Gym Bag(X-Large)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.99</span><span class="ori_price">$64.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZoNQUg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="7.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZoNYTK"><img src="https://images-na.ssl-images-amazon.com/images/I/81a-zx3t8eL._SX425_.jpg" alt="BV Bicycle Light Set Super Bright 5 LED Headlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZoNYTK">BV Bicycle Light Set Super Bright 5 LED Headlight, 3 LED Taillight, Quick-Release</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.99</span><span class="ori_price">$20.00</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZoNYTK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KMALQd"><img src="https://images-na.ssl-images-amazon.com/images/I/715HG40XYqL._SX522_.jpg" alt="St. Mege 4D Silk Fiber Lash Mascara" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KMALQd">St. Mege 4D Silk Fiber Lash Mascara & Fiber 2-in-1 Set, Best for Thickening and Lengthening, Waterproof and Smudge-Proof and Hypoallergenic ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$29.90</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KMALQd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="101.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HlDtdv"><img src="https://images-na.ssl-images-amazon.com/images/I/61jZCQKPKOL._SX425_.jpg" alt="Camcorder Video Camera Ultra HD" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HlDtdv">Camcorder Video Camera Ultra HD 1080P Vlogging YouTube Digital Recorder Camera with Powerful Microphone, Lens Hood,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$101.99</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HlDtdv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="16.01">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31WBgxa"><img src="https://images-na.ssl-images-amazon.com/images/I/71hPdItI46L._SY450_.jpg" alt="Travel Kit Contains 100% Pure Memory Foam Neck Pillow" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31WBgxa">TRAVELAX Travel Kit Contains 100% Pure Memory Foam Neck Pillow with Ultra Plush Velour Cover, Sleep Mask,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.01</span><span class="ori_price">$31.57</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31WBgxa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="8.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L4h4SY"><img src="https://images-na.ssl-images-amazon.com/images/I/719zaUHYHnL._SX522_.jpg" alt="Drizom Citrus Lemon Orange Juicer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2L4h4SY">Drizom Citrus Lemon Orange Juicer Manual Hand Squeezer with Built-in Measuring Cup and Grater, 12OZ, Green</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.39</span><span class="ori_price">$15.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2L4h4SY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="62" data-price="7.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hjj88I"><img src="https://images-na.ssl-images-amazon.com/images/I/71TwypCB2DL._SX425_.jpg" alt="Lava the Original 14.5-Inch Silver Base Lamp" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>62% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hjj88I">Lava the Original 14.5-Inch Silver Base Lamp with Purple Wax in Blue Liquid</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$7.50</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Hjj88I">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31WC9G0"><img src="https://images-na.ssl-images-amazon.com/images/I/51l2O09ADYL._SX522_.jpg" alt="YI Dome Security Camera 1080p" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31WC9G0">YI Dome Security Camera 1080p HD Pan/Tilt/Zoom Wireless 2.4G IP Surveillance System with 24/7 Emergency Response,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31WC9G0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="35.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31TOri9"><img src="https://images-na.ssl-images-amazon.com/images/I/71Z%2BCi3p2IL._SX425_.jpg" alt="Programmable Light Switch Timer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31TOri9">Honeywell Home RPLS740B1008 Econoswitch 7-Day Programmable Light Switch Timer, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.88</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31TOri9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="68.84">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2L0C50X"><img src="https://images-na.ssl-images-amazon.com/images/I/51DXe146SRL._SX679_.jpg" alt="Wireless Headphones " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2L0C50X">Wireless Headphones for TV Watching with Optical, ARTISTE ADH300 2.4GHz Digital Wireless TV Headphones, 100ft Distance Rechargeable...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$68.84</span><span class="ori_price">$125.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2L0C50X">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="128.32">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Z6Enp2"><img src="https://images-na.ssl-images-amazon.com/images/I/914kvlyZDyL._UX679_.jpg" alt="American Tourister Istack Travel..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Z6Enp2">American Tourister Istack Travel System Softside 2-Piece Setwith Double Air Flow Spinner Wheels, Heather Grey/Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$128.32</span><span class="ori_price">$229.99</span></address>
      <em>*Pricing may change and Amazon promotional codes can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Z6Enp2">Shop Now at Amazon</a></div>
</div>
