<div class="card dealofday clearfix" data-score="50" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OBR19j"><img src="https://images-na.ssl-images-amazon.com/images/I/71Anq3PIVkL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OBR19j"><span>Amazon Deal Of The Day:</span><br /> Save 50% or More on Sealy Mattresses</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2q7xwev">8-Inch, Memory Foam bed in a box</a> - <span>244.30<em>349.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2IHP87h">10-Inch, Memory Foam bed in a box</a> - <span>298.04<em>599.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2B32k2c">12-Inch, Memory Foam bed in a box</a> - <span>450.44<em>870.95</em></span></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OBR19j">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="274.40">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VBxPtR"><img src="https://images-na.ssl-images-amazon.com/images/I/61OK-9oZ7PL._AC_.jpg" alt="Xbox One" title="Xbox One"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VBxPtR">Xbox One S Two Controller Bundle (1TB) Includes Xbox One S, 2 Wireless Controllers, 3-Month Game Pass Trial, 14-day Xbox Live Gold Trial by Microsoft</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$274.40</span><span class="ori_price">$399.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VBxPtR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="49.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M9iEFa"><img src="https://images-na.ssl-images-amazon.com/images/I/61YUxkz1LkL._SX679_.jpg" alt="HP DeskJet 3755 Compact All-in-One Wireless Printer" title="HP All-in-One Wireless Printer"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M9iEFa">HP DeskJet 3755 Compact All-in-One Wireless Printer, HP Instant Ink & Amazon Dash Replenishment ready - Stone Accent (J9V91A)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.89</span><span class="ori_price">$79.89</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2M9iEFa">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="36.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2B5CGtS"><img src="https://images-na.ssl-images-amazon.com/images/I/91fKsm8KcgL._SX522_.jpg" alt="Logitech G602 Lag-Free Wireless Gaming Mouse" title="Logitech Wireless Gaming Mouse"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2B5CGtS">Logitech G602 Lag-Free Wireless Gaming Mouse – 11 Programmable Buttons, Up to 2500 DPI</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2B5CGtS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nDoXXR"><img src="https://images-na.ssl-images-amazon.com/images/I/51VqUC5tEjL._SX679_.jpg" alt="Belkin Boost Up Wireless Charging Pad" title="Belkin Boost Up Wireless Charging Pad"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nDoXXR">Belkin Boost Up Wireless Charging Pad 7.5W – Fast iPhone Wireless Charger for iPhone XS, XS Max, XR, X, 8, 8 Plus, AirPods 2 (Compatible w/ Samsung, LG, Sony, more)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nDoXXR">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="796.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MAjZnm"><img src="https://images-na.ssl-images-amazon.com/images/I/51fdOrk4Y6L.jpg" alt="LG 4-inch 21:9 Ultragear WQHD Nano IPS Curved Gaming Monitor" title="LG Gaming Monitor"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MAjZnm">LG 34GK950F-B 34" 21:9 Ultragear WQHD Nano IPS Curved Gaming Monitor with Radeon FreeSync 2 (2018), Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$796.99</span><span class="ori_price">$1,199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MAjZnm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="369.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/313Rx2k"><img src="https://images-na.ssl-images-amazon.com/images/I/51fyI8YYl9L._SX342_.jpg" alt="Apple Watch Series 4" title="Apple Watch Series 4"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/313Rx2k">Apple Watch Series 4 (GPS + Cellular, 44mm) - Silver Aluminum Case with White Sport Band</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$369.97</span><span class="ori_price">$529.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/313Rx2k">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="599.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/314Bb9z"><img src="https://images-na.ssl-images-amazon.com/images/I/91mqp0z-TiL._SX425_.jpg" alt="TCL Roku Smart TV" title="TCL Roku Smart TV"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/314Bb9z">TCL 65" Class 5-Series 4K UHD Dolby Vision HDR Roku Smart TV - 65S525</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$599.97</span><span class="ori_price">$928.17</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/314Bb9z">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="548.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OFmNlN"><img src="https://images-na.ssl-images-amazon.com/images/I/71kTy0O4f%2BL._SX425_.jpg" alt="VIZIO 4K HDR Smart TV" title="VIZIO 4K HDR Smart TV"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OFmNlN">VIZIO M-Series Quantum 55” Class (54.5” Diag.) 4K HDR Smart TV</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$548.00</span><span class="ori_price">$799.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OFmNlN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="1,097.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M6tgEx"><img src="https://images-na.ssl-images-amazon.com/images/I/71yrbA2S9mL._SX425_.jpg" alt="Samsung QLED 4K Q60 Series Ultra HD Smart TV" title="Samsung QLED 4K Q60 Series Ultra HD Smart TV"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M6tgEx">Samsung QN65Q60RAFXZA Flat 65-Inch QLED 4K Q60 Series Ultra HD Smart TV with HDR and Alexa Compatibility (2019 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,097.99</span><span class="ori_price">$1,797.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2M6tgEx">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="54.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oobaoF"><img src="https://images-na.ssl-images-amazon.com/images/I/71CdpQtmT2L._SY450_.jpg" alt="Amcrest ProHD 1080P WiFi Camera" title="Amcrest WiFi Camera"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oobaoF">Amcrest ProHD 1080P WiFi Camera 2MP (1920TVL) Indoor Pan/Tilt Security Wireless IP Camera IP2M-841B (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.99</span><span class="ori_price">$82.05</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oobaoF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="24.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pZsLU6"><img src="https://images-na.ssl-images-amazon.com/images/I/31LkBVwvcOL.jpg" alt="Plantronics M70 Bluetooth Headset" title="Plantronics Bluetooth Headset "/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pZsLU6">Plantronics M70 Bluetooth Headset - Retail Packaging - Black - 200739-01</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pZsLU6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="199.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IJQxKk"><img src="https://images-na.ssl-images-amazon.com/images/I/71wj3iAdCbL._SY879_.jpg" alt="Sennheiser Wireless Headphone System" title="Sennheiser Wireless Headphone System"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IJQxKk">Sennheiser RS 175 RF Wireless Headphone System</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$199.95</span><span class="ori_price">$279.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IJQxKk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="81.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VBClYY"><img src="https://images-na.ssl-images-amazon.com/images/I/71RU7otWqCL._SX425_.jpg" alt="Logitech G613 Lightspeed Wireless Mechanical Gaming Keyboard" title="Logitech Wireless Mechanical Gaming Keyboard"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VBClYY">Logitech G613 Lightspeed Wireless Mechanical Gaming Keyboard, Multihost 2.4 GHz + Blutooth Connectivity</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$81.00</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VBClYY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="297.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2q7dQYd"><img src="https://images-na.ssl-images-amazon.com/images/I/917LEZ%2Bit3L._SX425_.jpg" alt="PANASONIC LUMIX FZ80 4K Digital Camera" title="PANASONIC LUMIX FZ80 4K Digital Camera"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2q7dQYd">PANASONIC LUMIX FZ80 4K Digital Camera, 18.1 Megapixel Video Camera, 60X Zoom DC VARIO 20-1200mm Lens, F2.8-5.9 Aperture, POWER O.I.S. Stabilization, Touch Enabled 3-Inch LCD, Wi-Fi, DC-FZ80K (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$297.99</span><span class="ori_price">$399.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2q7dQYd">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Vz7Mn3"><img src="https://images-na.ssl-images-amazon.com/images/I/619sC4BpSxL._SX679_.jpg" alt="iPhone 11 Pro Max Case" title="iPhone 11 Pro Max Case"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Vz7Mn3">Spigen Thin Fit Designed for Apple iPhone 11 Pro Max Case (2019) - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Vz7Mn3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="123.42">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ILfEMV"><img src="https://images-na.ssl-images-amazon.com/images/I/41y1H477ANL.jpg" alt="Sennheiser Game ONE Gaming Headset" title="Sennheiser Game ONE Gaming Headset"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ILfEMV">Sennheiser Game ONE Gaming Headset - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$123.42</span><span class="ori_price">$249.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ILfEMV">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="29" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2B6jFY0"><img src="https://images-na.ssl-images-amazon.com/images/I/51SmJwN4npL._SX522_.jpg" alt="NETGEAR 8-Port Gigabit Ethernet Unmanaged Switch" title="NETGEAR 8-Port Gigabit Ethernet Unmanaged Switch"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2B6jFY0">NETGEAR 8-Port Gigabit Ethernet Unmanaged Switch, Desktop, Internet Splitter, Fanless, Plug-and-Play (GS208)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$23.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2B6jFY0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IE1rRZ"><img src="https://images-na.ssl-images-amazon.com/images/I/81x3LDkZ5bL._SX522_.jpg" alt="Lexar High-Performance 633X 32GB microSDHC UHS-I Card" title="microSDHC UHS-I Card"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IE1rRZ">Lexar High-Performance 633X 32GB microSDHC UHS-I Card</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.99</span><span class="ori_price">$9.36</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IE1rRZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2M6Txmf"><img src="https://images-na.ssl-images-amazon.com/images/I/816FREJK49L._SX522_.jpg" alt="Samsung Duo Plus 128GB" title="Samsung Duo Plus 128GB"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2M6Txmf">Samsung Duo Plus 128GB - 300MB/s USB 3.1 Flash Drive (MUF-128DB/AM)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2M6Txmf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="99.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2B3K1Kb"><img src="https://images-na.ssl-images-amazon.com/images/I/61IlzctRq0L._SX522_.jpg" alt="Dewalt Drill Driver Kit" title="Dewalt Drill Driver Kit"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2B3K1Kb">Dewalt DCD771C2 20V MAX Cordless Lithium-Ion 1/2 inch Compact Drill Driver Kit</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.00</span><span class="ori_price">$169.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2B3K1Kb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="5.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33maxus"><img src="https://images-na.ssl-images-amazon.com/images/I/91cmu9N7gAL._SX425_.jpg" alt="Gorilla Super Glue Gel" title="Gorilla Super Glue Gel"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33maxus">Gorilla Super Glue Gel, 20 Gram, Clear</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.97</span><span class="ori_price">$14.89</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33maxus">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="6.03">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IJRimE"><img src="https://images-na.ssl-images-amazon.com/images/I/719E2ZQdZSL._SY879_.jpg" alt="Howard Products FW0016 Feed-N-Wax Wood Polish" title="Feed-N-Wax Wood Polish"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IJRimE">Howard Products FW0016 Feed-N-Wax Wood Polish and Conditioner, Beeswax &, 16 oz, orange, 16 Fl Oz</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.03</span><span class="ori_price">$14.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IJRimE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2B5ntZF"><img src="https://images-na.ssl-images-amazon.com/images/I/81PSdy89mjL._SX425_.jpg" alt="AquaDance High Pressure Chrome Face Handheld Shower" title="High Pressure Chrome Face Handheld Shower"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2B5ntZF">AquaDance High Pressure 6-Setting 3.5" Chrome Face Handheld Shower with Hose for the Ultimate Shower Experience! Officially Independently Tested to Meet Strict US Quality & Performance Standards!</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2B5ntZF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2q92fYN"><img src="https://images-na.ssl-images-amazon.com/images/I/812XaHTx24L._SX425_.jpg" alt="Sawyer Products MINI Water Filtration System" title="Sawyer Products MINI Water Filtration System"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2q92fYN">Sawyer Products MINI Water Filtration System</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.95</span><span class="ori_price">$24.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2q92fYN">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="26.31">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IYjH8X"><img src="https://images-na.ssl-images-amazon.com/images/I/81DcahDh7NL._SX522_.jpg" alt="Smoke/Carbon Monoxide Alarm" title="Smoke/Carbon Monoxide Alarm"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IYjH8X">Kidde 21026043 Battery-Operated(Not Hardwired) Combination Smoke/Carbon Monoxide Alarm with Voice Warning KN-COSM-BA</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.31</span><span class="ori_price">$44.99</span>
        <div class="tooltip_common tooltip_orange"><span> + $6.07 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $6.07 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IYjH8X">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="22.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33stoEn"><img src="https://images-na.ssl-images-amazon.com/images/I/71Tstl20lLL._SX425_.jpg" alt="Replacement Glass Carafe" title="Replacement Glass Carafe"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33stoEn">Cuisinart DCC-1200PRC 12-Cup Replacement Glass Carafe, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.19</span><span class="ori_price">$33.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33stoEn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="56.14">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oCciox"><img src="https://images-na.ssl-images-amazon.com/images/I/61TnAlQ9jNL._SX425_.jpg" alt="Samsung SmartThings Hub 3rd Generation" title="Samsung SmartThings Hub 3rd Generation"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oCciox">Samsung SmartThings Hub 3rd Generation [GP-U999SJVLGDA] Smart Home Automation Hub Home Monitoring Smart Devices - Alexa Google Home Compatible - Zigbee, Z-Wave, Cloud to Cloud Protocols – White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$56.14</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oCciox">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="13.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/35sS0i0"><img src="https://images-na.ssl-images-amazon.com/images/I/717DZUBqHcL._SX425_.jpg" alt="Febreze AIR Effects Air Freshener Linen & Sky" title="Febreze AIR Effects Air Freshener Linen & Sky"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/35sS0i0">Febreze AIR Effects Air Freshener Linen & Sky, 8.8 oz (Pack of 6)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.19</span><span class="ori_price">$19.74</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/35sS0i0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="12.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/33pT58y"><img src="https://images-na.ssl-images-amazon.com/images/I/51xxXmrLmkL._SX425_.jpg" alt="Apple TV Remote" title="Apple TV Remote"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/33pT58y">Apple TV Remote</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.50</span><span class="ori_price">$19.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/33pT58y">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="99.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IKtVcF"><img src="https://images-na.ssl-images-amazon.com/images/I/41j6TGKMtEL.jpg" alt="Keurig K-Select Coffee Maker" title="Keurig K-Select Coffee Maker"/></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IKtVcF">Keurig K-Select Coffee Maker, Single Serve K-Cup Pod Coffee Brewer, With Strength Control And Hot Water On Demand, Matte Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.99</span><span class="ori_price">$145.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IKtVcF">Shop Now at Amazon</a></div>
</div>