<div class="card clearfix" data-score="29" data-price="497.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30Oag1U"><img src="https://images-na.ssl-images-amazon.com/images/I/61Q3R27o8TL._SX425_.jpg" alt="Dyson Cyclone V10 Absolute Lightweight Cordless Stick Vacuum Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30Oag1U">Dyson Cyclone V10 Absolute Lightweight Cordless Stick Vacuum Cleaner</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$497.49</span><span class="ori_price">$699.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30Oag1U">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="285.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pRhg1f"><img src="https://images-na.ssl-images-amazon.com/images/I/71edWYk8N6L._SX425_.jpg" alt="Dyson V7 Animal Cordless Stick Vacuum Cleaner, Iron" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pRhg1f">Dyson V7 Animal Cordless Stick Vacuum Cleaner, Iron</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$285.48</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pRhg1f">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AKL8yf"><img src="https://images-na.ssl-images-amazon.com/images/I/71vc5lLcqAL._SX425_.jpg" alt="DYD Travel Pillow Memory Foam Neck Pillow" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AKL8yf">DYD Travel Pillow Memory Foam Neck Pillow for Airplane Breathable & Washable Velour Cover Ergonomic Neck Support Pillow with Sleep Mask & Earplugs</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$25.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AKL8yf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="25.81">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IqUl36"><img src="https://images-na.ssl-images-amazon.com/images/I/71eDcDxOkxL._SX425_.jpg" alt="ComfoArray Head Support Travel Pillow" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IqUl36">ComfoArray Head Support Travel Pillow- More Supportive Design, Travel Pillow for Airplane Travel, 100% Memory Foam,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.81</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IqUl36">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="56.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30RiB4N"><img src="https://images-na.ssl-images-amazon.com/images/I/81UJzBrcqzL._SX522_.jpg" alt="Rockland Luggage Melbourne 20 Inch Expandable Carry On" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30RiB4N">Rockland Luggage Melbourne 20 Inch Expandable Carry On, Purple, One Size</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$56.80</span><span class="ori_price">$120.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30RiB4N">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="99.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IpYnZF"><img src="https://images-na.ssl-images-amazon.com/images/I/818np3rp1mL._UX679_.jpg" alt="American Tourister Disney Hardside Luggage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IpYnZF">American Tourister Disney Hardside Luggage with Spinner Wheels</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.83</span><span class="ori_price">$179.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IpYnZF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="37.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VjnrGF"><img src="https://images-na.ssl-images-amazon.com/images/I/81qWtd2ljJL._SX522_.jpg" alt="iSteam Luxury Edition Steamer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VjnrGF">iSteam Luxury Edition Steamer 7-in-1 Powerful: Clothes Wrinkle Remover- Clean- Care- Refresh- Treat- Defrost and More....</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.99</span><span class="ori_price">$49.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VjnrGF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="21.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OuTVwB"><img src="https://images-na.ssl-images-amazon.com/images/I/81g7Hk7jG6L._SX522_.jpg" alt="Laptop Backpack, Anti Theft Durable Travel Backpacks" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OuTVwB">Laptop Backpack, Anti Theft Durable Travel Backpacks Water Resistant School College Bookbag for Women and Men, Slim Business Computer...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.99</span><span class="ori_price">$45.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OuTVwB">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="59.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/335jdFn"><img src="https://images-na.ssl-images-amazon.com/images/I/71sY3oTXz-L._UX679_.jpg" alt="Herschel Supply Co. Pop Quiz Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/335jdFn">Herschel Supply Co. Pop Quiz Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$59.00</span><span class="ori_price">$74.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/335jdFn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="36.15">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OluBZA"><img src="https://images-na.ssl-images-amazon.com/images/I/71vMCyipEmL._UX679_.jpg" alt="KAVU Rope Bag Cotton Shoulder Sling Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OluBZA">KAVU Rope Bag Cotton Shoulder Sling Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.15</span><span class="ori_price">$50.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OluBZA">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="18" data-price="18.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Is1vEp"><img src="https://images-na.ssl-images-amazon.com/images/I/61hfVByaARL._SX679_.jpg" alt="Contigo AUTOSEAL Randolph Vacuum-Insulated Handled Travel Mug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Is1vEp">Contigo AUTOSEAL Randolph Vacuum-Insulated Handled Travel Mug, 16 oz, Gunmetal</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.90</span><span class="ori_price">$22.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Is1vEp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Is3eJC"><img src="https://images-na.ssl-images-amazon.com/images/I/71TTKZPv5FL._SX425_.jpg" alt="BEAST 20oz Stainless Steel Tumbler Vacuum Insulated Rambler Coffee Cup" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Is3eJC">BEAST 20oz Stainless Steel Tumbler Vacuum Insulated Rambler Coffee Cup Double Wall Travel Flask Mug with Splash Proof Lid, 2 Straws, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Is3eJC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IrCcCq"><img src="https://images-na.ssl-images-amazon.com/images/I/71eQGrTOyxL._SX679_.jpg" alt="BLACK+DECKER DCM18S Coffeemaker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IrCcCq">BLACK+DECKER DCM18S Coffeemaker, 1, Black/Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IrCcCq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="25.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/332Ij7K"><img src="https://images-na.ssl-images-amazon.com/images/I/71opAwMycgL._SY550_.jpg" alt="RUNMUS Gaming Headset PS4 Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/332Ij7K">RUNMUS Gaming Headset PS4 Headset with 7.1 Surround Sound, Xbox One Headset w/ Noise Canceling Microphone & LED Light, Compatible with PS4,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.85</span><span class="ori_price">$49.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/332Ij7K">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="25" data-price="299.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OjXIg5"><img src="https://images-na.ssl-images-amazon.com/images/I/91Z-R8Ii5dL._AC_.jpg" alt="Thrustmaster T300RS Officially Licensed PS4/PS3" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OjXIg5">Thrustmaster T300RS Officially Licensed PS4/PS3 - PlayStation by Thustmaster</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$299.95</span><span class="ori_price">$399.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OjXIg5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="72.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IodK4E"><img src="https://images-na.ssl-images-amazon.com/images/I/81EpLcY%2BxdL._SX425_.jpg" alt="Gorilla Carts GOR4PS Poly Garden Dump Cart" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IodK4E">Gorilla Carts GOR4PS Poly Garden Dump Cart with Steel Frame and 10-in. Pneumatic Tires, 600-Pound Capacity, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$72.99</span><span class="ori_price">$109.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IodK4E">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="27.04">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/337RwM8"><img src="https://images-na.ssl-images-amazon.com/images/I/61oa6jhqVjL._SX425_.jpg" alt="Motor Trend MT-923-BK FlexTough Contour Liners" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/337RwM8">Motor Trend MT-923-BK FlexTough Contour Liners - Deep Dish Heavy Duty Rubber Floor Mats for Car SUV Truck & Van - All Weather Protection (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.04</span><span class="ori_price">$39.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/337RwM8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="19.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Op0Sio"><img src="https://images-na.ssl-images-amazon.com/images/I/81TeJ-nysZL._SX522_.jpg" alt="Bamboo Charcoal Air Purifying Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Op0Sio">Bamboo Charcoal Air Purifying Bag (4 Pack), 200g Natural Air Purifying Bags, Activated Charcoal Odor Eliminators, Car Air Purifier, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.95</span><span class="ori_price">$25.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Op0Sio">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="23.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/339XmMW"><img src="https://images-na.ssl-images-amazon.com/images/I/91U90o5SVBL._SX425_.jpg" alt="Drive Auto Products Car Cargo Trunk Organizer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/339XmMW">Drive Auto Products Car Cargo Trunk Organizer, Folding Compartments Are Easily Expandable To Suit Any In-vehicle Organization Needs,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.97</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/339XmMW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="26.22">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VfyPn0"><img src="https://images-na.ssl-images-amazon.com/images/I/51k8FAUaoCL._SL1000_.jpg" alt="Swingline Paper Trimmer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VfyPn0">Swingline Paper Trimmer, Guillotine Paper Cutter, 12" Cut Length, 10 Sheet Capacity, ClassicCut Lite (9312)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.22</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VfyPn0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="333.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LQeCBq"><img src="https://images-na.ssl-images-amazon.com/images/I/71Xjvp8czwL._SX425_.jpg" alt="Canon PIXMA Pro-100 Wireless Color Professional Inkjet Printer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LQeCBq">Canon PIXMA Pro-100 Wireless Color Professional Inkjet Printer with Airprint and Mobile Device Printing (6228B002)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$333.74</span><span class="ori_price">$499.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LQeCBq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="12.48">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oSRQ2C"><img src="https://images-na.ssl-images-amazon.com/images/I/71CDjHDyT7L._SX522_PIbundle-10,TopRight,0,0_AA522SH20_.jpg" alt="American Tombow 68721 Tombow Mono Hybrid Correction Tape" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oSRQ2C">American Tombow 68721 Tombow Mono Hybrid Correction Tape, 10-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.48</span><span class="ori_price">$26.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oSRQ2C">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="27.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AOoUvf"><img src="https://images-na.ssl-images-amazon.com/images/I/71HAJg1kFIL._SX679_.jpg" alt="X-ACTO School Pro Classroom Electric Pencil Sharpener" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AOoUvf">X-ACTO School Pro Classroom Electric Pencil Sharpener, Blue, 1 Count</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.27</span><span class="ori_price">$57.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AOoUvf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="84.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/336o6Or"><img src="https://images-na.ssl-images-amazon.com/images/I/81pQ-QSozPL._SX679_.jpg" alt="DYMO Label Printer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/336o6Or">DYMO Label Printer | LabelWriter 450 Turbo Direct Thermal Label Printer, Fast Printing, Great for Labeling, Filing, Shipping, Mailing,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$84.99</span><span class="ori_price">$129.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/336o6Or">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30T7rfQ"><img src="https://images-na.ssl-images-amazon.com/images/I/616y1qzHetL._SX522_.jpg" alt="Certified Refurbished Kindle Paperwhite E-reader" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30T7rfQ">Certified Refurbished Kindle Paperwhite E-reader - Black, 6" High-Resolution Display (300 ppi) with Built-in Light, Wi-Fi - Includes Special Offers...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30T7rfQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="13.34">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VfMCtK"><img src="https://images-na.ssl-images-amazon.com/images/I/51gImeU2WdL._SX522_.jpg" alt="Mr. Beams MB330 Wireless LED Spotlight" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VfMCtK">Mr. Beams MB330 Wireless LED Spotlight with Motion Sensor and Photocell, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.34</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VfMCtK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="26" data-price="48.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30VUl1C"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZkpqEDYwL._SX522_.jpg" alt="La Crosse Technology 308-1414B-INT" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30VUl1C">La Crosse Technology 308-1414B-INT, Black 308-1414B Wireless Atomic Digital Color Forecast Station with Alerts</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$48.95</span><span class="ori_price">$65.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30VUl1C">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="76" data-price="23.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Irbt8S"><img src="https://images-na.ssl-images-amazon.com/images/I/51sRTqBjc-L._SX425_.jpg" alt="Kieba Coccyx Seat Cushion" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>76% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Irbt8S">Kieba Coccyx Seat Cushion, Cool Gel Memory Foam Large Orthopedic Tailbone Pillow for Sciatica, Back, and Tailbone Pain (Black)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.95</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Irbt8S">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="34.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/353ulEy"><img src="https://images-na.ssl-images-amazon.com/images/I/71luZoEwwNL._SX679_.jpg" alt="Large Seat Cushion" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/353ulEy">Large Seat Cushion with Carry Handle and Anti Slip Bottom Gives Relief from Back Pain</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.97</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/353ulEy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/320RgPb"><img src="https://images-na.ssl-images-amazon.com/images/I/41v4fDl8k0L._SX425_.jpg" alt="DEWALT TSTAK Tool Storage Organizer Cart" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/320RgPb">DEWALT TSTAK Tool Storage Organizer Cart (DWST17889)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/320RgPb">Shop Now at Amazon</a></div>
</div>

