<div class="card clearfix" data-score="51" data-price="46.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/325jPul"><img src="https://images-na.ssl-images-amazon.com/images/I/7104MfAkLTL._SX425_.jpg" alt="FEZIBO Standing Desk Anti Fatigue Mat" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/325jPul">FEZIBO Standing Desk Anti Fatigue Mat Wooden Wobble Balance Board Stability Rocker with Ergonomic Design Comfort Floor Mat</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$46.69</span><span class="ori_price">$94.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/325jPul">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="15.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Srmwq"><img src="https://images-na.ssl-images-amazon.com/images/I/51pTABwT5UL._SX679_.jpg" alt="Mini Kitchen Timer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Srmwq">Mini Kitchen Timer, ABS Alarm Clock with USB Charger,1-75 Minutes,Timer cube for Cooking Studying Working Baking Heavy Sleeper,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.29</span><span class="ori_price">$25.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Srmwq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="15.05">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31SrnAu"><img src="https://images-na.ssl-images-amazon.com/images/I/816rL4HLKzL._SX522_.jpg" alt="Holmes Window Fan" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31SrnAu">Holmes Window Fan with with Twin 6-Inch Reversible Airflow Blades, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.05</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31SrnAu">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="35" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zs30aZ"><img src="https://images-na.ssl-images-amazon.com/images/I/71FvH2caOYL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>Up to 35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zs30aZ"><span>Amazon Deal Of The Day:</span> Save up to 35% on Leather Journals and College Supplies
</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Bags</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2ZnEx70">Vintage Crossbody Canvas Laptop Messenger Bag</a> - <span>22.74<em>34.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2KSh3D2">Easy To Carry & Light Weight - Canvas Backpack</a> - <span>20.62<em>29.45</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2KR8KqJ">Handmade Leather Travel Duffel Bag</a> - <span>149.99<em>199.45</em></span></li>
            <li><a href="https://amzn.to/2Zs30aZ">- SEE MORE</a></li>
          </ul>
        </li>
        <li>
          <p>Leather Journal</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2ZtoIM8">Heart Leather Journal for Women</a> - <span>18.75<em>25.00</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2KShcX6">Leather Journal with Semi-Precious Stone...</a> - <span>13.99<em>19.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2Zqwsya">Hand Painted Tree of Life Leather Journal</a> - <span>13.99<em>19.99</em></span></li>
            <li><a href="product_link">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zs30aZ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="25.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hq6xR0"><img src="https://images-na.ssl-images-amazon.com/images/I/61COeg9hafL._SX522_.jpg" alt="Native Deodorant" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hq6xR0"><span>Amazon Deal Of The Day:</span> Native Deodorant - Natural Deodorant - Vegan, Gluten Free, Cruelty Free - Free of Aluminum,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.20</span><span class="ori_price">$42.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Hq6xR0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Hk8cHS"><img src="https://images-na.ssl-images-amazon.com/images/I/51uaew59pvL._SX522_.jpg" alt="Frigidaire WF3CB Puresource Replacement Filter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Hk8cHS">Frigidaire WF3CB Puresource Replacement Filter, 1-Pack,</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$66.23</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Hk8cHS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="71" data-price="15.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/323wCNY"><img src="https://images-na.ssl-images-amazon.com/images/I/71rBaMhvzZL._SX679_.jpg" alt="Chef Buddy 82-SW73 Panini Press Indoor Grill" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/323wCNY">Chef Buddy 82-SW73 Panini Press Indoor Grill and Gourmet Sandwich Maker, Electric with Nonstick Plates, 12.75" x 11" x 4.75", Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.46</span><span class="ori_price">$52.69</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/323wCNY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="19.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZtmxIs"><img src="https://images-na.ssl-images-amazon.com/images/I/71tKHe-pCwL._SX679_.jpg" alt="Aroma Simply Stainless Rice Cooker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZtmxIs">Aroma Simply Stainless Rice Cooker, White [Cooks 3 cups of uncooked rice]</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.39</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZtmxIs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="57" data-price="19.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3242G3V"><img src="https://images-na.ssl-images-amazon.com/images/I/916QCyQ%2BV5L._SX425_.jpg" alt="Presto 03500 Belgian Waffle Bowl Maker" /></a>
    <div class="js-overlay-start start dealtube" data-url= "https://www.youtube.com/embed/_vsSm3ocMn8">
      <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
      <button class="text">Play Video</button>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>57% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3242G3V">Presto 03500 Belgian Waffle Bowl Maker</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.95</span><span class="ori_price">$45.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3242G3V">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="16.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/321j1GQ"><img src="https://images-na.ssl-images-amazon.com/images/I/41g2KJERNiL.jpg" alt="Electric Cordless Kettle" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/321j1GQ">Hamilton Beach K6080 Large Electric Cordless Kettle, 1.8 Liter, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.00</span><span class="ori_price">$36.03</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/321j1GQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="16.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Z6ZO3"><img src="https://images-na.ssl-images-amazon.com/images/I/61EiAlWj4CL._SX679_.jpg" alt="oruisin Portable Personal Blender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Z6ZO3">Foruisin Portable Personal Blender, Household Juicer fruit shake Mixer -Six Blades, 380ml Baby cooking machine...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.99</span><span class="ori_price">$29.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Z6ZO3">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HnZvfz"><img src="https://images-na.ssl-images-amazon.com/images/I/71otZVkYKdL._SX679_.jpg" alt="Personal Smoothie Blender" /></a>
    <div class="js-overlay-start start dealtube" data-url= "https://www.youtube.com/embed/0WiMBikDjAU">
      <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
      <button class="text">Play Video</button>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HnZvfz">Personal Smoothie Blender, DOUHE Cordless Portable Blender Rechargeable USB Juicer Mini Blender Small Blender -Shakes,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HnZvfz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="1,550.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HpzCw1"><img src="https://images-na.ssl-images-amazon.com/images/I/71TCixvQotL._SX522_.jpg" alt="Microsoft Surface Book" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HpzCw1">Microsoft Surface Book 2 13.5" (Intel Core i7, 8GB RAM, 256 GB)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,550.00</span><span class="ori_price">$1,999.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HpzCw1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="399.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZpuoGS"><img src="https://images-na.ssl-images-amazon.com/images/I/81Z3y4M5r5L._SX425_.jpg" alt="Hisense 55H8F 55-inch 4K Ultra HD Android Smart LED TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZpuoGS">Hisense 55H8F 55-inch 4K Ultra HD Android Smart LED TV HDR10 (2019)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$399.99</span><span class="ori_price">$499.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZpuoGS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KQLaL0"><img src="https://images-na.ssl-images-amazon.com/images/I/813eaXevhtL._SY879_.jpg" alt="Logitech G300s Optical Ambidextrous Gaming Mouse" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KQLaL0">Logitech G300s Optical Ambidextrous Gaming Mouse – 9 Programmable Buttons, Onboard Memory</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.92</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KQLaL0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZnCOi2"><img src="https://images-na.ssl-images-amazon.com/images/I/61zDfhc9bOL._SX522_.jpg" alt="PNY Elite-X Fit 64GB 200MB/sec USB 3.0 Flash Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZnCOi2">PNY Elite-X Fit 64GB 200MB/sec USB 3.0 Flash Drive (P-FDI64GEXFIT-GE)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$24.82</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZnCOi2">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="28.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZoS16d"><img src="https://images-na.ssl-images-amazon.com/images/I/71jdHJiTd3L._SX425_.jpg" alt="Seagate BarraCuda 500GB Internal Hard Drive HDD" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZoS16d">Seagate BarraCuda 500GB Internal Hard Drive HDD – 3.5 Inch SATA 6 Gb/s 7200 RPM 32MB Cache for Computer Desktop PC (ST500DM009)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.46</span><span class="ori_price">$42.92</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZoS16d">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="28.20">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KTvs1q"><img src="https://images-na.ssl-images-amazon.com/images/I/71SeTpTi%2BuL._SX522_.jpg" alt="First Alert Carbon Monoxide Detector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KTvs1q">First Alert Carbon Monoxide Detector Alarm|No Outlet Required with Digital Display and Peak Memory, Battery Operated, CO410</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.20</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KTvs1q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="44.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HlPyPQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71OQLwSt0wL._SX522_.jpg" alt="TOPGREENER Smart Light Switch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HlPyPQ">TOPGREENER Smart Light Switch, UL Listed, NEUTRAL Wire Required, Single Pole or 3-Way, No Hub Required,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$44.79</span><span class="ori_price">$79.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HlPyPQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="49.89">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zp73VH"><img src="https://images-na.ssl-images-amazon.com/images/I/611hKLZshoL._SX522_.jpg" alt="HP OfficeJet 3830 All-in-One Wireless Printer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zp73VH">HP OfficeJet 3830 All-in-One Wireless Printer, HP Instant Ink & Amazon Dash Replenishment ready (K7V40A)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.89</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zp73VH">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="32.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2NsXKBD"><img src="https://images-na.ssl-images-amazon.com/images/I/61SHsLMJiYL._SX425_.jpg" alt="8-In-1 Type C Hub USB C Hub Adapter Dock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2NsXKBD">8-In-1 Type C Hub USB C Hub Adapter Dock with Ethernet Port, 4K USB C to HDMI,3 USB 3.0 Ports,SD TF Card Reader ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$32.00</span><span class="ori_price">$54.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2NsXKBD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="64.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KVfbcJ"><img src="https://images-na.ssl-images-amazon.com/images/I/71Bew1ZtLeL._SX342_.jpg" alt="Beats EP On-Ear Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KVfbcJ">Beats EP On-Ear Headphones - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$64.95</span><span class="ori_price">$129.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KVfbcJ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="33.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ZlRFJL"><img src="https://images-na.ssl-images-amazon.com/images/I/61cgjYr1bEL._SX679_.jpg" alt="Samsung Qi Certified Fast Charge Wireless Charger Pad" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ZlRFJL">Samsung Qi Certified Fast Charge Wireless Charger Pad - US Version - Black (2- Pack) - EP-BD010MIXLUS</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$33.00</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ZlRFJL">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Nukb9Q"><img src="https://images-na.ssl-images-amazon.com/images/I/61ekhroIklL._SX425_.jpg" alt="Desk Clock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Nukb9Q">HOFEINZ Scandinavian Décor Handmade Non-Ticking Desk Clock with Granite Dial (White)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Nukb9Q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="21.36">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HnTKhU"><img src="https://images-na.ssl-images-amazon.com/images/I/61B61D4xiAL._SX679_.jpg" alt="Vitalitim Wireless Keyboard" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HnTKhU">Vitalitim Wireless Keyboard, Ultra Slim Computer Keyboard with 2.4GHz Wireless Connection Technology and Numeric Keypad...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$21.36</span><span class="ori_price">$35.90</span>
        <div class="tooltip_common tooltip_orange"><span>Extra Discount</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span>Extra Discount</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HnTKhU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="24.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2HqoTl8"><img src="https://images-na.ssl-images-amazon.com/images/I/91IO-VNjQOL._SX679_.jpg" alt="Asobu Coldbrew Portable Cold Brew Coffee Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2HqoTl8">Asobu Coldbrew Portable Cold Brew Coffee Maker With a Vacuum Insulated 34oz Stainless Steel 18/8 Carafe Bpa Free</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.90</span><span class="ori_price">$33.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2HqoTl8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="30.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KRlDRE"><img src="https://images-na.ssl-images-amazon.com/images/I/71gwz5ulaVL._SX679_.jpg" alt="Cuisinart CWO-50 086279096395 Cordless Wine Opener" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KRlDRE">Cuisinart CWO-50 086279096395 Cordless Wine Opener with Vacuum Sealer, One Size, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.99</span><span class="ori_price">$75.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KRlDRE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="26.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Zs1Oo1"><img src="https://images-na.ssl-images-amazon.com/images/I/61%2Bw%2BXNi4lL._SX679_.jpg" alt="COMFEE' Kettle-MK-17G01B-E5 BPA Free" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Zs1Oo1">COMFEE' Kettle-MK-17G01B-E5 BPA Free, 1.7L Black Fast Glass Boiler Hot Water Kettle with with LED Indicator Light,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.00</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Zs1Oo1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="52" data-price="37.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31TUyTE"><img src="https://images-na.ssl-images-amazon.com/images/I/91GRLsWYrbL._SX679_.jpg" alt="Pre-Seasoned Cast Iron Skillet 2-Piece Set" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>52% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31TUyTE">Pre-Seasoned Cast Iron Skillet 2-Piece Set (10-Inch and 12-Inch) Oven Safe Cookware - 2 Heat-Resistant Holders...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.99</span><span class="ori_price">$79.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31TUyTE">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="54.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/322hErn"><img src="https://images-na.ssl-images-amazon.com/images/I/71MSpMJlqzL._SX522_.jpg" alt="HP 5MS96A Sprocket 2-in-1 Portable Photo Printer & Instant Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/322hErn">HP 5MS96A Sprocket 2-in-1 Portable Photo Printer & Instant Camera Bundle with 8GB Micro SD Card and Zink Photo Paper,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$54.99</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/322hErn">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="24" data-price="27.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2KTEzQ0"><img src="https://images-na.ssl-images-amazon.com/images/I/81DdhhTMKjL._SX425_.jpg" alt="K&H Pet Products EZ Mount Window Pod" /></a>
    <div class="js-overlay-start start dealtube" data-url= "https://www.youtube.com/embed/-NwEw0AsYtc">
      <button><img src="<%=asset_path 'youtube_02.png' %>" alt="Play Youtube" /></button>
      <button class="text">Play Video</button>
    </div>
  </div>
  <div class="inner">
    <span class="regular"><em>24% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2KTEzQ0">K&H Pet Products EZ Mount Window Pod Kitty Sill 27" x 20" x 6"</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.18</span><span class="ori_price">$35.96</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2KTEzQ0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="27.33">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2zlfS8g"><img src="https://images-na.ssl-images-amazon.com/images/I/81YGa23PwGL._SY879_.jpg" alt="Go Pet Club Kitten Tree" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2zlfS8g">Go Pet Club F703 33" Kitten Tree</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.33</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2zlfS8g">Shop Now at Amazon</a></div>
</div>
