<div class="card clearfix" data-score="38" data-price="124.38">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Ouxpj"><img src="https://images-na.ssl-images-amazon.com/images/I/71l21XusvRL._SY879_.jpg" alt="NETGEAR Arlo Baby Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Ouxpj">NETGEAR Arlo Baby Monitor | Smart WiFi Baby Camera 1080P HD with 2-Way Audio, Night Vision, Air Sensors, Lullaby Player, Night Light, ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$124.38</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Ouxpj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="29" data-price="120.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30K0kGt"><img src="https://images-na.ssl-images-amazon.com/images/I/71wamdtiUHL._SX679_.jpg" alt="Garmin Forerunner 35; Easy-to-Use GPS Running Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>29% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30K0kGt">Garmin Forerunner 35; Easy-to-Use GPS Running Watch, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$120.00</span><span class="ori_price">$169.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30K0kGt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="45" data-price="109.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/332kAVp"><img src="https://images-na.ssl-images-amazon.com/images/I/71NUu469eUL._SX522_.jpg" alt="Sony Wireless Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>45% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/332kAVp">Sony Wireless Headphones</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$109.99</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/332kAVp">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="36" data-price="1,397.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MjGbSF"><img src="https://images-na.ssl-images-amazon.com/images/I/91eWjdLgiJL._SX425_.jpg" alt="Samsung QLED 4K Q70 Series Ultra HD Smart TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>36% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MjGbSF">Samsung QN65Q70RAFXZA Flat 65-Inch QLED 4K Q70 Series Ultra HD Smart TV with HDR and Alexa Compatibility (2019 Model)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$1,397.99</span><span class="ori_price">$2,197.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MjGbSF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="14" data-price="172.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2pLtmst"><img src="https://images-na.ssl-images-amazon.com/images/I/71FHvEJM6oL._SX679_.jpg" alt="Awair 2nd Edition Air Quality Monitor" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>14% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2pLtmst">Awair 2nd Edition Air Quality Monitor</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$172.00</span><span class="ori_price">$199.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2pLtmst">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="6.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2AMjwsw"><img src="https://images-na.ssl-images-amazon.com/images/I/81OAWwX3djL._SY879_.jpg" alt="Jenga Classic Game" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2AMjwsw">Jenga Classic Game</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$6.88</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2AMjwsw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="4.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ALVOwM"><img src="https://images-na.ssl-images-amazon.com/images/I/91zxshjFO1L._SX425_.jpg" alt="Play-Doh Sparkle Compound Collection" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ALVOwM">Play-Doh Sparkle Compound Collection</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$4.49</span><span class="ori_price">$9.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ALVOwM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="69.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IoShss"><img src="https://images-na.ssl-images-amazon.com/images/I/61k9-7rj20L._SX522_.jpg" alt="Echo (2nd Generation)" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IoShss">Echo (2nd Generation) - Smart speaker with Alexa and Dolby processing - Limited Edition Oak Finish</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$69.99</span><span class="ori_price">$119.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IoShss">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="25.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oRmSIg"><img src="https://images-na.ssl-images-amazon.com/images/I/81U3hwP0f5L._SX425_.jpg" alt="Takuvan 100ft Expandable Garden Hose" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oRmSIg">Takuvan 100ft Expandable Garden Hose, 100 Feet Upgraded Water Hose, Durable Flexible Hose with 9 Spray Patterns Hose Nozzle, 3/4" ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.50</span><span class="ori_price">$49.90</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oRmSIg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31MxfeQ"><img src="https://images-na.ssl-images-amazon.com/images/I/619sC4BpSxL._SX679_.jpg" alt="Spigen Thin Fit Designed for Apple iPhone 11 pro" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31MxfeQ">Spigen Thin Fit Designed for Apple iPhone 11 Pro Case (2019) - Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31MxfeQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="15.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MhVb3c"><img src="https://images-na.ssl-images-amazon.com/images/I/81yH2CpDTzL._SY450_.jpg" alt="Disney Jack Bust Bank" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MhVb3c">Disney Jack Bust Bank</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.95</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MhVb3c">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OnqUmq"><img src="https://images-na.ssl-images-amazon.com/images/I/71hdYkQaOaL._SX425_.jpg" alt="Beard Comb & Brush Set for Men's Care" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OnqUmq">Beard Comb & Brush Set for Men's Care | Giveaway Mustache Scissors Presented in Premium Gift Box | Best Bamboo Grooming Kit to Spread Balm ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$23.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OnqUmq">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="99.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ono6FU"><img src="https://images-na.ssl-images-amazon.com/images/I/81DH68LChiL._SX425_.jpg" alt="PetSafe Healthy Pet Simply Feed Automatic Cat and Dog Feeder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ono6FU">PetSafe Healthy Pet Simply Feed Automatic Cat and Dog Feeder with Stainless Steel Bowl, Holds Dry Cat and Dog Food</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.95</span><span class="ori_price">$149.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ono6FU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="36.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2niEZGu"><img src="https://images-na.ssl-images-amazon.com/images/I/81ZQgWwuVzL._SY879_.jpg" alt="Logitech G602 Lag-Free Wireless Gaming Mouse" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2niEZGu">Logitech G602 Lag-Free Wireless Gaming Mouse – 11 Programmable Buttons, Up to 2500 DPI</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2niEZGu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="79.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LNdaiT"><img src="https://images-na.ssl-images-amazon.com/images/I/61Xmp1FahyL._SX425_.jpg" alt="WOpet Automatic Cat Feeder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LNdaiT">WOpet Automatic Cat Feeder, Pet Feeder Auto Dog Cat Feeder Stainless Steel Bowl,Portion Control & Voice Recording ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.95</span><span class="ori_price">$129.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LNdaiT">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="41" data-price="58.50">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MaXuoM"><img src="https://images-na.ssl-images-amazon.com/images/I/61bxpW09NzL._SX425_.jpg" alt="Halo Laser Range Finder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MaXuoM"><span>Amazon Deal Of The Day:</span> Halo Laser Range Finder With 6X Magnification, Features Angle Intelligence for Bow Hunting</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$58.50</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MaXuoM">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="71" data-price="34.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LLKQh1"><img src="https://images-na.ssl-images-amazon.com/images/I/71ImK5LDZkL._SX522_.jpg" alt="Klipsch R5 Neckband Brown" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>71% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LLKQh1"><span>Amazon Deal Of The Day:</span><br /> Klipsch R5 Neckband Brown</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$34.99</span><span class="ori_price">$119.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LLKQh1">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="47" data-price="15.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOWE20"><img src="https://images-na.ssl-images-amazon.com/images/I/61f1rE1Ei2L._SX679_.jpg" alt="Coffee Gator Pour Over Brewer Mug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>47% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOWE20">Coffee Gator Pour Over Brewer Mug - All-in-One Thermal Travel Cup and Hand Drip Coffee Maker - Vacuum Insulated Stainless Steel with...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LOWE20">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="11.57">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2OmHRNz"><img src="https://images-na.ssl-images-amazon.com/images/I/71REqPZFGQL._SX679_.jpg" alt="Westmark Germany Stainless Steel 5-Blade Herb Scissors" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2OmHRNz">Westmark Germany Stainless Steel 5-Blade Herb Scissors with Cleaning Comb (Green)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.57</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2OmHRNz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LOWQyg"><img src="https://images-na.ssl-images-amazon.com/images/I/71eH683KvJL._SX679_.jpg" alt="Belkin Boost Up Wireless Charging Pad " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LOWQyg">Belkin Boost Up Wireless Charging Pad 7.5W – Fast iPhone Wireless Charger for iPhone XS, XS Max, XR, X, 8, 8 Plus, AirPods 2...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LOWQyg">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nnrGom"><img src="https://images-na.ssl-images-amazon.com/images/I/71Wd2tJ%2BWeL._SX425_.jpg" alt="Frigidaire WF3CB Puresource Replacement Filter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nnrGom">Frigidaire WF3CB Puresource Replacement Filter, 1-Pack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$66.23</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nnrGom">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="3.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31POhZs"><img src="https://images-na.ssl-images-amazon.com/images/I/71-t3NsPKFL._SY879_.jpg" alt="Bissell Woolite InstaClean Pet with Brush Head Cleaner" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31POhZs">Bissell Woolite InstaClean Pet with Brush Head Cleaner, 1740</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.99</span><span class="ori_price">$7.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31POhZs">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="3.86">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2IqS2gl"><img src="https://images-na.ssl-images-amazon.com/images/I/41O66BPbSLL.jpg" alt="12 Oz Stainless Steel Frothing Pitcher" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2IqS2gl">12 Oz Stainless Steel Frothing Pitcher</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$3.86</span><span class="ori_price">$8.66</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2IqS2gl">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="31" data-price="17.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Om56aF"><img src="https://images-na.ssl-images-amazon.com/images/I/71abZ6Vy5dL._SY879_.jpg" alt="Oster BLSTPB-WPK My Blend 250-Watt Blender" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>31% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Om56aF">Oster BLSTPB-WPK My Blend 250-Watt Blender with Travel Sport Bottle, Pink</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$17.99</span><span class="ori_price">$25.89</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Om56aF">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="57.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LLoITY"><img src="https://images-na.ssl-images-amazon.com/images/I/91MCJSkgSvL._SX679_.jpg" alt="SHW L-Shaped Home Office Corner Desk Wood Top, Espresso" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LLoITY">SHW L-Shaped Home Office Corner Desk Wood Top, Espresso</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$57.70</span><span class="ori_price">$82.87</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LLoITY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="32" data-price="26.29">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31JHrVv"><img src="https://images-na.ssl-images-amazon.com/images/I/41nsPWvjo4L._SX522_.jpg" alt="Lutron Diva C.L Dimmer Switch for Dimmable LED" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>32% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31JHrVv">Lutron Diva C.L Dimmer Switch for Dimmable LED, Halogen and Incandescent Bulbs, with Wallplate, Single-Pole or 3-Way, DVWCL-153PH-WH, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.29</span><span class="ori_price">$38.70</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31JHrVv">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="48" data-price="82.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2MeMwP5"><img src="https://images-na.ssl-images-amazon.com/images/I/51BM0MT3ziL._SX425_.jpg" alt="Kohler Aluminum Bathroom Medicine Cabinet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>48% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2MeMwP5">Kohler K-CB-CLR1620FS Frameless 16 inch x 20 inch Aluminum Bathroom Medicine Cabinet; Recess Installation Only (Pack of 2)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$82.00</span><span class="ori_price">$158.85</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2MeMwP5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="26.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31P0Kge"><img src="https://images-na.ssl-images-amazon.com/images/I/81-m97A2gDL._SX522_.jpg" alt="PUR (PFM400H) Chrome Horizontal Faucet Mount" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31P0Kge">PUR (PFM400H) Chrome Horizontal Faucet Mount with MineralClear Filter, Chrome</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.79</span><span class="ori_price">$46.50</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31P0Kge">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="5.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/3598pb9"><img src="https://images-na.ssl-images-amazon.com/images/I/71YV01gYZ6L._SX679_.jpg" alt="Hamilton Beach 86601 Manual Kitchen Knife Sharpener" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/3598pb9">Hamilton Beach 86601 Manual Kitchen Knife Sharpener, Smooth Glide Spinning Grinding Wheels, 3 Stages, Grey</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$5.99</span><span class="ori_price">$14.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/3598pb9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="25" data-price="14.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/30QXiAi"><img src="https://images-na.ssl-images-amazon.com/images/I/41q3mi8bcUL.jpg" alt="Ozeri Nouveaux Electric Wine Opener" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>25% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/30QXiAi">Ozeri Nouveaux Electric Wine Opener with Removable Free Foil Cutter, Stylish Red</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.95</span><span class="ori_price">$19.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/30QXiAi">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="175.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2Ip5jGk"><img src="https://images-na.ssl-images-amazon.com/images/I/A1eDBeA75ML._SX679_.jpg" alt="Tovala Gen 1 Smart Steam Oven" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2Ip5jGk">Tovala Gen 1 Smart Steam Oven with Automatic Multi-Mode Cooking</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$175.95</span><span class="ori_price">$299.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2Ip5jGk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="8.66">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/31Q0lKf"><img src="https://images-na.ssl-images-amazon.com/images/I/71asac8vf8L._SX425_.jpg" alt="Umbra Zoola Cat Ring Holder, Chrome" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/31Q0lKf">Umbra Zoola Cat Ring Holder, Chrome</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$8.66</span><span class="ori_price">$14.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/31Q0lKf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2LM6PEo"><img src="https://images-na.ssl-images-amazon.com/images/I/81XjN0w4tUL._AC_SX215_.jpg" alt="The Crew 2 Gold Edition - PlayStation 4 by Ubisoft" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2LM6PEo">The Crew 2 Gold Edition - PlayStation 4 by Ubisoft</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$71.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2LM6PEo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="67" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2VjyXlt"><img src="https://images-na.ssl-images-amazon.com/images/I/71Uu9wQ4FSL._AC_SL1500_.jpg" alt="Fist of The North Star: Lost Paradise - PlayStation 4 by SEGA" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2VjyXlt">Fist of The North Star: Lost Paradise - PlayStation 4 by SEGA</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2VjyXlt">Shop Now at Amazon</a></div>
</div>
