<div class="card clearfix" data-score="67" data-price="16.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oQKIUr"><img src="https://images-na.ssl-images-amazon.com/images/I/81vkb6Uf-eL._SX425_.jpg" alt="Sun Zero Barrow Extra-Wide Energy Efficient Sliding Patio Door Curtain" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>67% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oQKIUr">Sun Zero Barrow Extra-Wide Energy Efficient Sliding Patio Door Curtain Panel with Pull Wand, 100" x 84", Taupe</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.59</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oQKIUr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="36.18">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nlxz5f"><img src="https://images-na.ssl-images-amazon.com/images/I/71FecfjPW0L._SX425_.jpg" alt="Creative Co-op Enameled Metal Distressed Bread Box" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nlxz5f">Creative Co-op Enameled Metal Distressed Bread Box with Lid, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.18</span><span class="ori_price">$72.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nlxz5f">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="45.45">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mx6kED"><img src="https://images-na.ssl-images-amazon.com/images/I/713fMikSQbL._SX425_.jpg" alt="Tot Tutors Kids' Toy Storage Organizer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mx6kED">Tot Tutors Kids' Toy Storage Organizer with 12 Plastic Bins, Natural/Primary (Primary Collection)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$45.45</span><span class="ori_price">$92.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mx6kED">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="58" data-price="19.98">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oJt2Kf"><img src="https://images-na.ssl-images-amazon.com/images/I/91i3KnaH%2BaL._SX522_.jpg" alt="Lush Decor Bohemian Striped Shower Curtain" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>58% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oJt2Kf">Lush Decor Bohemian Striped Shower Curtain Colorful Bold Design, 72" x 72", Turquoise and Orange</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.98</span><span class="ori_price">$48.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oJt2Kf">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="38.72">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2muo0k6"><img src="https://images-na.ssl-images-amazon.com/images/I/71QCEsZd-JL._SX679_.jpg" alt="Rachael Ray Cucina Hard-Anodized Nonstick Skillet" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2muo0k6">Rachael Ray Cucina Hard-Anodized Nonstick Skillet with Helper Handle, 14-Inch, Gray/Cranberry Red - 87631</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$38.72</span><span class="ori_price">$110.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2muo0k6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="68" data-price="16.19">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nlzhnb"><img src="https://images-na.ssl-images-amazon.com/images/I/718C%2B9yZH5L._SX679_.jpg" alt="Farberware Classic Stainless Steel 2-Quart Covered Saucepan" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>68% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nlzhnb">Farberware Classic Stainless Steel 2-Quart Covered Saucepan - 50002</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.19</span><span class="ori_price">$50.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nlzhnb">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="30.49">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o6RzIO"><img src="https://images-na.ssl-images-amazon.com/images/I/71bMiU1KkJL._SX679_.jpg" alt="Calphalon Contemporary Hard-Anodized Aluminum Nonstick Cookware" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o6RzIO">Calphalon Contemporary Hard-Anodized Aluminum Nonstick Cookware, Omelette Fry Pan, 8-Inch, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.49</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o6RzIO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="65" data-price="23.83">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n9KPKt"><img src="https://images-na.ssl-images-amazon.com/images/I/A1aSuTnfCVL._SX522_.jpg" alt="Safavieh MAD611B-26 Rug" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>65% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n9KPKt">Safavieh MAD611B-26 Rug, 2'3" x 6', Cream/Multi</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.83</span><span class="ori_price">$67.32</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2n9KPKt">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="28.27">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o0qpDz"><img src="https://images-na.ssl-images-amazon.com/images/I/61-Y-33PzfL._SX522_.jpg" alt="Master Lock Set Your Own Combination Portable Push Button Lock Box" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o0qpDz">Master Lock 5422D Set Your Own Combination Portable Push Button Lock Box, 5 Key Capacity, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$28.27</span><span class="ori_price">$40.48</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o0qpDz">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="44" data-price="121.23">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oQgtwW"><img src="https://images-na.ssl-images-amazon.com/images/I/91ifN6OehDL._SX679._SX._UX._SY._UY_.jpg" alt="Pendleton Men's Canvas Gym Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>44% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oQgtwW">Pendleton Men's Canvas Gym Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$121.23</span><span class="ori_price">$218.26</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oQgtwW">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain.png' %>" alt="Save $10 when you spend $100" /></a></div>
<div class="middle_box_m"><a target="_blank" href="https://amzn.to/2oziOwd"><img src="<%=asset_path 'bargain_m.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="15" data-price="799.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oMTwuo"><img src="https://images-na.ssl-images-amazon.com/images/I/611KecGPLOL._SX425_.jpg" alt="Olympus OM-D E-M10 Mark III Camera Body" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>15% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oMTwuo"><span>Amazon Deal Of The Day:</span> Olympus OM-D E-M10 Mark III Camera Body (Black), Wi-Fi Enabled, 4K Video with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$799.99</span><span class="ori_price">$949.98</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oMTwuo">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="2,997.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o320xc"><img src="https://images-na.ssl-images-amazon.com/images/I/9113rIxCA5L._SX425_.jpg" alt="Samsung Smart TV" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o320xc"><span>Amazon Deal Of The Day:</span> Samsung QN65Q900RBFXZA Flat 65-Inch QLED 8K Q900 Series Ultra HD Smart TV with HDR and Alexa Compatibility</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$2,997.99</span><span class="ori_price">$4,997.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o320xc">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="28" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o5jEQS"><img src="https://images-na.ssl-images-amazon.com/images/I/71zW4NXBIXL._SX679_.jpg" alt="Maxboost Screen Protector" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>28% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o5jEQS"><span>Amazon Deal Of The Day:</span>Maxboost Screen Protector for Apple iPhone Xs & iPhone X & iPhone 11 Pro...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$13.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o5jEQS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="22.88">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nlC8MV"><img src="https://images-na.ssl-images-amazon.com/images/I/8145cKv41FL._UX679_.jpg" alt="Lewis N. Clark Locking Day Pack..." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nlC8MV">Lewis N. Clark Locking Day Pack + Laptop Bag Sling with 3 Digit Resettable Combination, Padded Shoulder + Back Straps</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$22.88</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nlC8MV">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oQUOEP"><img src="https://images-na.ssl-images-amazon.com/images/I/51Pr6AG6slL._SX425_.jpg" alt="LEGO Storage Head Large, Boy, Yellow" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oQUOEP">LEGO Storage Head Large, Boy, Yellow</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$24.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oQUOEP">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="15.57">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nmML1Y"><img src="https://images-na.ssl-images-amazon.com/images/I/91x8Qgo0nUL._SX522_.jpg" alt="LEGO Storage Brick 4" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nmML1Y">LEGO Storage Brick 4</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$15.57</span><span class="ori_price">$31.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nmML1Y">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="29.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2n9RUe0"><img src="https://images-na.ssl-images-amazon.com/images/I/71Ad4NGgmsL._SX522_.jpg" alt="Akro-Mils 10124 24 Drawer Plastic Parts Storage" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2n9RUe0">Akro-Mils 10124 24 Drawer Plastic Parts Storage Hardware and Craft Cabinet, 20-Inch x 16-Inch x 6.5-Inch, Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.95</span><span class="ori_price">$40.76</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2n9RUe0">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="36.92">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o1wpMu"><img src="https://images-na.ssl-images-amazon.com/images/I/61foU00tffL._UY679_.jpg" alt="Roxy Stripey Love Large Crossbody Bag" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o1wpMu">Roxy Stripey Love Large Crossbody Bag</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.92</span><span class="ori_price">$55.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o1wpMu">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2na2ku8"><img src="https://images-na.ssl-images-amazon.com/images/I/81y5gTbiI7L._SY741_.jpg" alt="Logitech M525 Wireless Mouse" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2na2ku8">Logitech M525 Wireless Mouse – Long 3 Year Battery Life, Ergonomic Shape for Right or Left Hand Use, Micro-Precision Scroll Wheel...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2na2ku8">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="18.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2njsSJj"><img src="https://images-na.ssl-images-amazon.com/images/I/61w%2Bae1sqfL._SX522_.jpg" alt="SanDisk 128GB Ultra Fit USB 3.1 Flash Drive" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2njsSJj">SanDisk 128GB Ultra Fit USB 3.1 Flash Drive - SDCZ430-128G-G46</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.99</span><span class="ori_price">$37.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2njsSJj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="35.41">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mzzHpQ"><img src="https://images-na.ssl-images-amazon.com/images/I/71iOR4jnV9L._SX522_.jpg" alt="Linksys WRT54GL Wi-Fi Wireless-G Broadband Router" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mzzHpQ">Linksys WRT54GL Wi-Fi Wireless-G Broadband Router</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$35.41</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mzzHpQ">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nn2z4O"><img src="https://images-na.ssl-images-amazon.com/images/I/51Nw3lQQSSL._SX522_.jpg" alt="PNY Duo Link Sync & Charge 64GB " /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nn2z4O">PNY Duo Link Sync & Charge 64GB Metal Gray for iPhone/iPad (P-FDI64GLA02GC-RB)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$44.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nn2z4O">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="59" data-price="36.46">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o2L3my"><img src="https://images-na.ssl-images-amazon.com/images/I/71NgbR58qWL._SX679_.jpg" alt="Cuisinart CDF-100 Compact 1.1-Liter Deep Fryer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>59% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o2L3my">Cuisinart CDF-100 Compact 1.1-Liter Deep Fryer, Brushed Stainless Steel</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.46</span><span class="ori_price">$90.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o2L3my">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="27" data-price="24.90">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2njJJM4"><img src="https://images-na.ssl-images-amazon.com/images/I/91IO-VNjQOL._SX679_.jpg" alt="Asobu Coldbrew Portable Cold Brew Coffee Maker" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>27% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2njJJM4">Asobu Coldbrew Portable Cold Brew Coffee Maker With a Vacuum Insulated 34oz Stainless Steel 18/8 Carafe Bpa Free (Silver)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$24.90</span><span class="ori_price">$33.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2njJJM4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="16" data-price="547.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mu0XG4"><img src="https://images-na.ssl-images-amazon.com/images/I/71FSRXaNZaL._SX522_.jpg" alt="Samsung Electronics SM-T830NZKAXAR Galaxy Tab S4" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>16% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mu0XG4">Samsung Electronics SM-T830NZKAXAR Galaxy Tab S4 with S Pen, 10.5", Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$547.99</span><span class="ori_price">$649.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mu0XG4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="60" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o50pqD"><img src="https://images-na.ssl-images-amazon.com/images/I/41xNtWtAFyL._SX569_.jpg" alt="Apple USB-C Charge Cable (2m)" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o50pqD">Apple USB-C Charge Cable (2m)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$35.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o50pqD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="14.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mxADen"><img src="https://images-na.ssl-images-amazon.com/images/I/71iL4WdraXL._SX679_.jpg" alt="iFrogz Audio" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mxADen">iFrogz Audio - Plugz Wireless Bluetooth Earbuds - Silver</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$14.99</span><span class="ori_price">$29.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mxADen">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="75" data-price="74.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o3bFE4"><img src="https://images-na.ssl-images-amazon.com/images/I/816cJ%2Be-B5L._SX679_.jpg" alt="Rove R2-4K Dash Cam Built in WiFi GPS Car Dashboard Camera" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>75% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o3bFE4">Rove R2-4K Dash Cam Built in WiFi GPS Car Dashboard Camera Recorder with UHD 2160P, 2.4" LCD, 150° Wide Angle, WDR, Night Vision</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.97</span><span class="ori_price">$299.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o3bFE4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="21" data-price="39.74">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2o2WkTU"><img src="https://images-na.ssl-images-amazon.com/images/I/71eDhaMbeZL._SX679_.jpg" alt="Joseph Joseph 95031 Nest 100 Utensils Compact Stacking Kitchen Tool" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>21% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2o2WkTU">Joseph Joseph 95031 Nest 100 Utensils Compact Stacking Kitchen Tool Set with Magnetic Storage Stand Nylon, 5-piece, Gray</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.74</span><span class="ori_price">$49.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2o2WkTU">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="46" data-price="18.79">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2muBBYD"><img src="https://images-na.ssl-images-amazon.com/images/I/51A-RIAGXTL._SX425_.jpg" alt="GORILLA GRIP Slip-Resistant Leak Proof Mattress" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>46% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2muBBYD">GORILLA GRIP Slip-Resistant Leak Proof Mattress Pad Protector, 52x34, Absorbs 8 Cups, Oeko Tex Certified, Waterproof Bed Wetting Incontinence Cover,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$18.79</span><span class="ori_price">$34.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2muBBYD">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="449.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2oMSwq5"><img src="https://images-na.ssl-images-amazon.com/images/I/61wgV2uI4kL._SX522_.jpg" alt="Zhiyun Crane 2 Follow Focus 3-Axis Handheld Gimbal" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2oMSwq5">Zhiyun Crane 2 Follow Focus 3-Axis Handheld Gimbal, Buy Crane-2 Get Free Servo Follow Focus, 7lb Payload OLED Display 18hrs Runtime 1Min...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$449.00</span><span class="ori_price">$749.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2oMSwq5">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="192.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mv5dFj"><img src="https://images-na.ssl-images-amazon.com/images/I/916wZE8vBGL._UY741_.jpg" alt="Casio Men's 'PRO TREK' Quartz Resin and Silicone Casual Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mv5dFj">Casio Men's 'PRO TREK' Quartz Resin and Silicone Casual Watch, Color:Black (Model: PRG-600Y-1CR)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$192.00</span><span class="ori_price">$320.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mv5dFj">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2naJrXZ"><img src="https://images-na.ssl-images-amazon.com/images/I/81vC6D+8g1L._AC_SR300,300_.jpg" alt="AMBOR 40L Travel Laptop Backpack" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2naJrXZ">AMBOR 40L Travel Laptop Backpack, Flight Approved Carry-On Backpack for Men and Women,TSA Friendly Travel Backpack Business Anti-Theft...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$79.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2naJrXZ">Shop Now at Amazon</a></div>
</div>

