<div class="card clearfix" data-score="18" data-price="99.00">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lae5iW"><img src="https://images-na.ssl-images-amazon.com/images/I/71cfjksJzqL._UX679_.jpg" alt="LOCTOTE Flak Sack SPORT" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lae5iW">LOCTOTE Flak Sack SPORT - Lightweight Theft-Resistant Drawstring Backpack</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$99.00</span><span class="ori_price">$120.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lae5iW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="159.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lRvtcI"><img src="https://images-na.ssl-images-amazon.com/images/I/71CJh8G14HL._SX425_.jpg" alt="Stadler Form Otto African Sapele Wood" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lRvtcI">Stadler Form Otto African Sapele Wood</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$159.99</span><span class="ori_price">$199.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lRvtcI">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="18" data-price="492.70">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lcLNEw"><img src="https://images-na.ssl-images-amazon.com/images/I/81%2Bh9mpyQmL._SX679_.jpg" alt="Samsung Galaxy S9 G960U 64GB" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>18% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lcLNEw">Samsung Galaxy S9 G960U 64GB Unlocked GSM 4G LTE Phone w/ 12MP Camera - Midnight Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$492.70</span><span class="ori_price">$599.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lcLNEw">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="51" data-price="187.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lRAr9m"><img src="https://images-na.ssl-images-amazon.com/images/I/81iIv2EJvZL._SX679_.jpg" alt="Samsung Galaxy Watch" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>51% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lRAr9m">Samsung Galaxy Watch (42mm) 4G LTE SM-R815UZKAXAR - Midnight Black (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$187.95</span><span class="ori_price">$379.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lRAr9m">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="38" data-price="184.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2li2xuf"><img src="https://images-na.ssl-images-amazon.com/images/I/711222Hy87L._SY879_.jpg" alt="" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>38% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2li2xuf"><span>Amazon Deal Of The Day:</span><br /> Dyson Ball Animal Upright Vacuum , Purple (Renewed)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$184.99</span><span class="ori_price">$299.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2li2xuf">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="60" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ni3tzd"><img src="https://images-na.ssl-images-amazon.com/images/I/81SNvdt02lL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>60% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ni3tzd"><span>Amazon Deal Of The Day:</span><br /> Save up to 60% off Yankee Candle</a></p>
    <div class="code_high">
      <ul>
        <li>
          <p>Category</p>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2mRA1zM">Yankee Candle Large Jar Candle, Autumn In The Park</a> - <span>16.35<em>22.81</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2nnezD7">Yankee Candle Large Jar Candle Macintosh</a> - <span>13.98<em>27.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2mLRzO3">Yankee Candle Large 2-Wick Tumbler Candle, Honey Clementine</a> - <span>16.41<em>29.49</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2nkZfXC">Yankee Candle Large Jar Candle Café Al Fresco</a> - <span>12.98<em>29.49</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2lT7B8C">Yankee Candle Company Elevation Collection</a> - <span>16.86<em>24.99</em></span></li>
            <li><a href="https://amzn.to/2ni3tzd">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ni3tzd">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="70" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mRnaxS"><img src="https://images-na.ssl-images-amazon.com/images/I/71yQ+TXll3L._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>70% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mRnaxS"><span>Amazon Deal Of The Day:</span> Save up to 70% on Kidde Detector Alarms</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2nqpFaD">Worry-Free Carbon Monoxide Detector Alarm</a> - <span>22.77<em>42.97</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2lItQOC">Nighthawk Plug in Carbon Monoxide Detector Alarm</a> - <span>21.27<em>71.50</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2mONSHd">Combination Smoke/Carbon Monoxide Alarm</a> - <span>19.99<em>44.99</em></span></li>
            <li><a href="https://amzn.to/2mRnaxS">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mRnaxS">Shop Now at Amazon</a></div>
</div>

<div class="card dealofday clearfix" data-score="35" data-price="discounted_price">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lFF3iV"><img src="https://images-na.ssl-images-amazon.com/images/I/81tu1vAESSL._AC_SR300,300_.jpg" alt="Amazon Deal Of The Day" /></a>
  </div>
  <div class="inner inner_top">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lFF3iV"><span>Amazon Deal Of The Day:</span><br /> Save up to 35% on Motorola Smartphones</a></p>
    <div class="code_high">
      <ul>
        <li>
          <ul>
            <li><a target="_blank" href="https://amzn.to/2lU54uJ">Moto Z3 Play with Alexa Hands-Free</a> - <span>259.99<em>399.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2nk0GWd">Moto G7 with Alexa Hands-Free 64 GB</a> - <span>199.99<em>299.99</em></span></li>
            <li><a target="_blank" href="https://amzn.to/2mRpsNu">Moto G7 Power with Alexa Push-to-Talk 32 GB</a> - <span>187.99<em>249.99</em></span></li>
            <li><a href="https://amzn.to/2lFF3iV">- SEE MORE</a></li>
          </ul>
        </li>
       </ul>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lFF3iV">Shop Now at Amazon</a></div>
</div>

<div class="middle_box"><a target="_blank" href="https://amzn.to/2mydhEX"><img src="<%=asset_path 'extra_save.png' %>" alt="Save $10 when you spend $100" /></a></div>

<div class="card clearfix" data-score="26" data-price="25.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lHrL5y"><img src="https://images-na.ssl-images-amazon.com/images/I/81gr063QuAL._SX425_.jpg" alt="Paderno World Cuisine 6-Blade Vegetable Slicer" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>26% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lHrL5y">Paderno World Cuisine 6-Blade Vegetable Slicer / Spiralizer, Counter-Mounted and includes 6 Different Stainless Steel Blades</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$25.99</span><span class="ori_price">$34.95</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lHrL5y">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="55" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lHLlP4"><img src="https://images-na.ssl-images-amazon.com/images/I/61NKHJv8o9L._SX425_.jpg" alt="DisplayPort Cable" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>55% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lHLlP4">DisplayPort Cable, Capshi 4K DP Cable Nylon Braided -(4K@144Hz, 4K@60Hz, 2K@165Hz) Gold-Plated DP to DP Cable Ultra High Speed Display ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$30.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lHLlP4">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="50" data-price="9.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lQI93q"><img src="https://images-na.ssl-images-amazon.com/images/I/61n%2BarvyfuL._SX425_.jpg" alt="HDMI Switch 4K HDMI Splitter.." /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>50% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lQI93q">HDMI Switch 4K HDMI Splitter-Techole Aluminum Bi-Directional HDMI Switcher 2 Input 1 Output, HDMI Switch Splitter...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.99</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lQI93q">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="54" data-price="11.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nh6rUC"><img src="https://images-na.ssl-images-amazon.com/images/I/71z0na-PA5L._SX522_.jpg" alt="Digital to Analog Audio Converter" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>54% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nh6rUC">Digital to Analog Audio Converter-192kHz Techole Aluminum Optical to RCA with Optical &Coaxial Cable. Digital SPDIF TOSLINK to Stereo...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$11.99</span><span class="ori_price">$25.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nh6rUC">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="20" data-price="79.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lSsvES"><img src="https://images-na.ssl-images-amazon.com/images/I/71ypJZQ8tYL._SX425_.jpg" alt="Razor Ripsurf" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>20% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lSsvES">Razor Ripsurf</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$79.99</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lSsvES">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="23" data-price="26.85">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lTmCXT"><img src="https://images-na.ssl-images-amazon.com/images/I/61tJP8tvkWL._SX522_.jpg" alt="Legrand OnQ Flat-Panel in-Wall Cable Management Connection Kit" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>23% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lTmCXT">Legrand OnQ HT2102WHV1 Flat-Panel in-Wall Cable Management Connection Kit for TV Installation, White</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$26.85</span><span class="ori_price">$34.80</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lTmCXT">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="13" data-price="12.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lHwT9O"><img src="https://images-na.ssl-images-amazon.com/images/I/61KjEG6RwzL._SX522_.jpg" alt="PC Gaming Headset Headphone Hook Holder" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>13% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lHwT9O">PC Gaming Headset Headphone Hook Holder Hanger Mount, Headphones Stand with Adjustable & Rotating Arm Clamp, Under Desk Design,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$12.99</span><span class="ori_price">$14.99</span>
        <div class="tooltip_common tooltip_orange"><span> + 5% off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + 5% off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lHwT9O">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="39.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nkh1dy"><img src="https://images-na.ssl-images-amazon.com/images/I/71FJ-DumjeL._SX425_.jpg" alt="Mounting Dream TV Wall Mounts TV Bracket" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nkh1dy">Mounting Dream TV Wall Mounts TV Bracket for Most 32-55 Inch Flat Screen TV/ Mount Bracket, Full Motion TV Wall Mount with ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$39.99</span><span class="ori_price">$47.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nkh1dy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="53" data-price="9.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2ljHvLO"><img src="https://images-na.ssl-images-amazon.com/images/I/A1q2ROE1NeL._UX679_.jpg" alt="Case Logic High Zoom Camera Case" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>53% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2ljHvLO">Case Logic High Zoom Camera Case</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$9.39</span><span class="ori_price">$19.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2ljHvLO">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="39" data-price="37.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lcFQHG"><img src="https://images-na.ssl-images-amazon.com/images/I/71KJgv-2ugL._SX679_.jpg" alt="Super Slim LED Light Panel" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>39% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lcFQHG">VILTROX L116T RA CRI95 Super Slim LED Light Panel, 3300K-5600K LED Video Light Panel, LCD Display Screen, Color Temperature...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$37.59</span><span class="ori_price">$61.65</span>
        <div class="tooltip_common tooltip_orange"><span> + $3.00 off Coupon</span><div class="content_common tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div>
      </address>
      <div class="m_tooltip_common m_tooltip_orange"><span> + $3.00 off Coupon</span><div class="m_content_common m_tooltip-content"><p>Get extra discount by clipping coupon to the product that is being discounting.</p></div></div> 
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lcFQHG">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="132.59">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mSoxvS"><img src="https://images-na.ssl-images-amazon.com/images/I/715EhlVT0QL._SX522_.jpg" alt="Neewer 2 Pieces Bi-color 660 LED Video Light" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mSoxvS">Neewer 2 Pieces Bi-color 660 LED Video Light and Stand Kit Includes:(2)3200-5600K CRI 96+ Dimmable Light with U Bracket and Barndoor ...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$132.59</span><span class="ori_price">$189.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mSoxvS">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="41" data-price="40.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mQXb9s"><img src="https://images-na.ssl-images-amazon.com/images/I/51963kDq-YL._SX522_.jpg" alt="GoPro 3-Way Grip, Arm, Tripod" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>41% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mQXb9s">GoPro 3-Way Grip, Arm, Tripod (GoPro Official Mount)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$40.97</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mQXb9s">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="34" data-price="16.47">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nkjWTy"><img src="https://images-na.ssl-images-amazon.com/images/I/61BGsbnzNVL._SX425_.jpg" alt="GUND Pusheen Snackables Ice Cream Plush Stuffed Animal Cat" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>34% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nkjWTy">GUND Pusheen Snackables Ice Cream Plush Stuffed Animal Cat, 9.5"</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$16.47</span><span class="ori_price">$25.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nkjWTy">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="36.03">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lHEaq9"><img src="https://images-na.ssl-images-amazon.com/images/I/61ztNhGCReL._SX425_.jpg" alt="Handheld Vacuum,GOOVI Hand Vacuum" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lHEaq9">Handheld Vacuum,GOOVI Hand Vacuum Cordless with Rechargeable Quick Charge, Lightweight Hand Vac Portable Hand Held Vacuum Cordless...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$36.03</span><span class="ori_price">$69.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lHEaq9">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="38.26">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2njzy9P"><img src="https://images-na.ssl-images-amazon.com/images/I/61qRGqGANyL._SX679_.jpg" alt="Meidong E7B Active Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2njzy9P">Meidong E7B Active Noise Cancelling Headphones Wireless Bluetooth Headphones with Microphone Over Ear 30H Playtime Deep Bass Hi-Fi Stereo Headset..</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$38.26</span><span class="ori_price">$66.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2njzy9P">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="42" data-price="23.39">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lRjN9T"><img src="https://images-na.ssl-images-amazon.com/images/I/71t-R6b2oyL._SX679_.jpg" alt="Multi Device Charging Station MSTJRY USB Charging Dock" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>42% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lRjN9T">Multi Device Charging Station MSTJRY USB Charging Dock with Switch Cell Phone 5 Port Charging Station for Android Tablets</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$23.39</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lRjN9T">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="30" data-price="27.95">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2laCkNY"><img src="https://images-na.ssl-images-amazon.com/images/I/81YF5geGBlL._SX522_.jpg" alt="DOSS SoundBox Touch Wireless Bluetooth" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>30% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2laCkNY">DOSS SoundBox Touch Wireless Bluetooth V4.0 Portable Speaker with HD Sound and Bass, 12H Playtime, Built-in Mic,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$27.95</span><span class="ori_price">$39.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2laCkNY">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="49.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lROhZm"><img src="https://images-na.ssl-images-amazon.com/images/I/61oEU8lUE9L._SX679_.jpg" alt="COWIN E7 Active Noise Cancelling Headphones" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lROhZm">COWIN E7 Active Noise Cancelling Headphones Bluetooth Headphones with Microphone Deep Bass Wireless Headphones Over Ear,...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$49.99</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lROhZm">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="17" data-price="74.97">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lcWSp6"><img src="https://images-na.ssl-images-amazon.com/images/I/71ty3k7FT3L._SX522_.jpg" alt="Linksys Dual-Band WiFi Router" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>17% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lcWSp6">Linksys Dual-Band WiFi Router for Home (AC1200 Fast Wireless Router)</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$74.97</span><span class="ori_price">$89.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lcWSp6">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="43" data-price="56.65">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2nq6qOr"><img src="https://images-na.ssl-images-amazon.com/images/I/51sc6e37-DL._SX679_.jpg" alt="Plantronics Voyager Legend Wireless Bluetooth Headset" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>43% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2nq6qOr">Plantronics Voyager Legend Wireless Bluetooth Headset - Compatible with iPhone, Android, and Other Leading Smartphones...</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$56.65</span><span class="ori_price">$99.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2nq6qOr">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="40" data-price="29.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2leTIkK"><img src="https://images-na.ssl-images-amazon.com/images/I/71q4lj5Gh2L._SX522_.jpg" alt="Holy Stone HS170 Predator Mini RC Helicopter Drone" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>40% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2leTIkK">Holy Stone HS170 Predator Mini RC Helicopter Drone 2.4Ghz 6-Axis Gyro 4 Channels Quadcopter Good Choice for Drone Training</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.99</span><span class="ori_price">$50.00</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2leTIkK">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="22" data-price="13.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2noOF1W"><img src="https://images-na.ssl-images-amazon.com/images/I/61zHWNNzDbL._SX425_.jpg" alt="Halloween Buffalo Check Plaids Throw Pillow" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>22% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2noOF1W">4TH Emotion Set of 2 Fall Halloween Buffalo Check Plaids Throw Pillow Case Cushion Cover Cotton Canvas for Sofa Orange and Black</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$13.99</span><span class="ori_price">$17.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2noOF1W">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="56" data-price="19.99">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lcJCkk"><img src="https://images-na.ssl-images-amazon.com/images/I/71i38JGAMcL._SY879_.jpg" alt="72 inch Cocoon Corpse Decoration" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>56% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lcJCkk">72 inch Cocoon Corpse Decoration</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$19.99</span><span class="ori_price">$45.43</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lcJCkk">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="49" data-price="30.80">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lHDQHW"><img src="https://images-na.ssl-images-amazon.com/images/I/81xGFS756TL._SY550_.jpg" alt="Rubie’s Jurassic World T-Rex Inflatable Costume" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>49% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lHDQHW">Rubie’s Jurassic World T-Rex Inflatable Costume, Child’s Size Small</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$30.80</span><span class="ori_price">$59.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lHDQHW">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="33" data-price="63.69">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2lUXMHh"><img src="https://images-na.ssl-images-amazon.com/images/I/81AiyrhNNFL._UY679_.jpg" alt="Leg Avenue Men's Top Gun Flight Suit Costume" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>33% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2lUXMHh">Leg Avenue Men's Top Gun Flight Suit Costume</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$63.69</span><span class="ori_price">$94.99</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2lUXMHh">Shop Now at Amazon</a></div>
</div>

<div class="card clearfix" data-score="35" data-price="29.61">
  <div class="image_box">
    <a target="_blank" href="https://amzn.to/2mMcccM"><img src="https://images-na.ssl-images-amazon.com/images/I/717xTq4UufL._UY679_.jpg" alt="California Costumes Men's Storybook Beast Costume" /></a>
  </div>
  <div class="inner">
    <span class="regular"><em>35% OFF</em> + free shipping</span>
    <span class="shipping_condition">Free Shipping: <a target="_blank" href="/blogs/blog_01_amz_prime">Prime</a> or $25+ of all other eligible items.</a></span>
    <p><a target="_blank" href="https://amzn.to/2mMcccM">California Costumes Men's Storybook Beast Costume</a></p>
    <div class="code_high">
      <address><span class="dis_price bestdeals">$29.61</span><span class="ori_price">$45.49</span></address>
      <em>*Pricing may change and deals can expire fast.</em>
    </div>
  </div> 
  <div class="deal_btn"><a target="_blank" href="https://amzn.to/2mMcccM">Shop Now at Amazon</a></div>
</div>